/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / #top-menu
3. Video / #v-tabs
4. Our players / .players
5. Twiter, Blog, Table / .twiter
6. Partner / .p-l
7. Blog / .bc-t
8. Post / article.blog-item
9. Team / .team-pl
10. Gallery / .gallery-item
11. Contacts / .contact-form
12. Footer / footer
-------------------------------------------------------------------*/
/* Gradients / .gradient - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Bordered / .bordered - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Rounded / .rounded - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Opacity / .opacity - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Transition / .rotation - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Shawows / .drop-shadow - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Columns / .columns - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Fonts / .main-font - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Spacing / .spacing - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Other / .inline-block - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Grid System 12 Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
.col-12 {
  width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Reset Styles
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
}
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
body {
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}
/* Form
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  height: 35px;
  -webkit-appearance: button;
  font-size: 14px;
  background: transparent;
  letter-spacing: 1px;
  border: 1px;
  text-transform: uppercase;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border: 1px solid #c4c5c7;
  height: 25px;
  font-size: 12px;
  padding: 5px;
  color: #5f6062;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
textarea {
  resize: none;
}
/* Float & Align
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.float-left {
  float: left  !important;
}
.float-right {
  float: right !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* Clearfix
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.clear {
  clear: both;
}
/* Links
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* Typography
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border: 0;
}
.small {
  font-size: 10px;
}
hr {
  display: block;
  height: 0px;
  line-height: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 16px 0;
  float: none;
  clear: both;
  padding: 0;
}
/* Framework TYPO
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.story {
  line-height: 1.5;
}
.story ul {
  list-style: square;
}
.story ul li {
  list-style: square;
}
.story ol {
  list-style: decimal;
}
.story ol li {
  list-style: decimal;
}
.story ul,
.story ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.story ol ul,
.story ul ol,
.story ol ol {
  margin-bottom: 0;
}
.story ol ol {
  list-style: upper-alpha;
}
.story ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.story h2,
.story h3,
.story h4,
.story h5,
.story h6 {
  text-transform: none;
  margin-bottom: .5em;
}
.story a:link,
.story a:visited,
.story a:hover,
.story a:active {
  text-decoration: none;
}
.story table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.story table td,
.story table th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.story table th {
  font-weight: bold;
}
.story pre,
.story code {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 15px 10px 0px;
}
.story address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story blockquote {
  font-style: italic;
  border-left: 2px dotted #9b9b9b;
  padding-left: 15px;
  margin: 1em 3em;
}
.story blockquote p:before {
  content: '"';
}
.story blockquote p:after {
  content: '"';
}
.story .wp-caption {
  box-shadow: 1px 1px 2px #bebebe;
  width: auto;
}
.story .wp-caption p.wp-caption-text {
  background: #ffffff;
  text-align: center;
  color: #a1a1a1!important;
  margin: 0!important;
}
.story dl {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 20px 10px 0px;
}
.story dl dt {
  width: 150px;
  float: left;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  text-transform: uppercase;
}
.story dl dd {
  margin-left: 160px;
  margin-bottom: 10px;
  line-height: 18px;
}
.story img.size-auto,
.story img.size-full,
.story img.size-large,
.story img.size-medium,
.story .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}
.story .alignleft,
.story img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.story img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.story img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.story img.alignright,
.story img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley {
  margin: 0;
}
/* Flexslider Default Styles
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.flexslider {
  position: relative;
}
.flexslider ul,
.flexslider ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider ul li,
.flexslider ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides > li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.flexslider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.flexslider .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(100, 100, 100, 0.5);
  color: #fff;
  text-align: left;
}
.flexslider .descr h3 {
  text-align: left;
}
.flexslider .descr .text p:last-child {
  margin-bottom: 0;
}
.flex-container {
  position: relative;
}
/* Clearfix for the .slides element
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/*  colors  */
body {
  background: #122737;
  color: #ffffff;
  min-height: 1000px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
}
a:visited {
  color: inherit;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.container {
  max-width: 960px;
  width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.for-demo {
  margin: 20px 0px;
  padding-left: 40px;
}
.margin-10 {
  margin: 10px 0px;
}
.margin-20 {
  margin: 20px 0px;
}
.margin-30 {
  margin: 30px 0px;
}
/* buttons */
.btn-dflt {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
a.btn,
button.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 12px 17px;
  height: auto;
}
.btn-bordered {
  border: 2px solid #da0040;
  padding: 12px 17px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-bordered:hover {
  border: 2px solid #FFF;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-red {
  background: #da0040;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-red:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-small-grey {
  background: #c6ced4;
  text-transform: initial;
  color: #fff!important;
  font-size: 12px;
  line-height: 21px;
  border-radius: 20px;
  padding: 0px 10px;
}
.btn-red:hover,
.btn-small-grey:hover,
.btn-bordered:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.btn-red:active,
.btn-small-grey:active,
.btn-bordered:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
/* CHECKBOX */
/* Base for label styling */
label {
  line-height: 19px;
  margin: 10px 20px;
  display: inline-block;
  color: #767676;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 13px;
  height: 13px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
[type="checkbox"]:not(:checked) + label:hover:before,
[type="checkbox"]:checked + label:hover:before {
  border: 1px solid #9e9e9e;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 15px;
  color: #da0040;
  transition: all .2s;
  font-family: "FontAwesome";
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #f6f6f6;
  background-color: #fff;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}
/* RADIO */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 13px;
  height: 13px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
[type="radio"]:not(:checked) + label:hover:before,
[type="radio"]:checked + label:hover:before {
  border: 1px solid #9e9e9e;
}
/* radio mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\f111';
  position: absolute;
  top: 1px;
  left: 5px;
  font-size: 6px;
  color: #da0040;
  transition: all .2s;
  font-family: "FontAwesome";
}
/* radio mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
}
/* disabled radio */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #f6f6f6;
  background-color: #fff;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}
/* INPUT */
input[type="text"] {
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #e5e5e5;
  height: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}
input[type="text"]:active,
input[type="text"]:focus {
  color: #767676;
  background: #f7f7f7;
}
input[type="text"]:hover {
  border: 1px solid #c7c7c7;
}
.in-active {
  color: #767676!important;
  background: #f7f7f7!important;
}
.in-hover {
  border: 1px solid #c7c7c7!important;
}
/* TABLE */
table.table-striped-dflt {
  width: 100%;
  background: #f7f7f7;
  border-collapse: collapse;
  border-spacing: 0;
}
table.table-striped-dflt tr {
  color: #7f7f7f;
  text-align: center;
  line-height: 45px;
}
table.table-striped-dflt tr td:first-child {
  text-align: left;
  padding-left: 40px;
}
table.table-striped-dflt tr td {
  border: 1px solid #ebebeb;
}
table.table-striped-dflt tr td.td-head {
  color: #2d2d2d;
  font-size: 14px;
}
table.table-striped-dflt tr:nth-child(2n) {
  background: #fff;
}
table.table-striped-dflt .tr-head {
  background: #143655;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
table.table-striped-dflt .tr-head td {
  border: 1px solid #244360;
}
/* TABS  */
#tab {
  margin: 50px;
  overflow: hidden;
}
#tab .ui-tabs-active {
  border-right: 0px;
}
#tab .ui-tabs-active a {
  padding-top: 17px;
  padding-bottom: 18px;
  font-weight: 700;
}
#tab ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  color: #0f314d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -3px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #143655;
  border-right: 1px solid #476e93;
}
#tab ul > li:first-child {
  padding-left: 20px;
  margin-left: -20px;
}
#tab ul > li > a {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 15px 20px;
  color: #fff;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}
#tab ul > li:hover,
#tab ul > li.active {
  background: #476e93;
}
#tab ul > li:hover a,
.ui-tabs-active a {
  color: #fff;
}
#tab .tab-content {
  background: #f3f4f6;
  padding: 30px;
  overflow: hidden;
}
/*Slider*/
.slider {
  position: absolute;
  top: 49px;
  left: 0px;
  height: 390px;
  width: 100%;
  overflow: hidden;
}
/* FLEXSLIDER */
.flex-direction-nav a {
  display: block;
  width: 50px;
  height: 50px;
  margin: -20px 0 0;
  position: absolute;
  top: 40%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  text-indent: -999px;
}
.flex-direction-nav .flex-prev {
  left: -50px;
  background: url(images/flex-prev.png) no-repeat;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
  background: url(images/flex-next.png) no-repeat;
  text-indent: 999px;
}
.flexslider:hover .flex-prev {
  opacity: 0.7;
  filter: alpha(opacity=70);
  left: 10px;
}
.flexslider:hover .flex-next {
  opacity: 0.7;
  filter: alpha(opacity=70);
  right: 10px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-direction-nav a:before {
  font-family: "FontAwesome";
  font-size: 40px;
  display: inline-block;
  content: '\f104';
}
.flex-direction-nav a.flex-next:before {
  content: '\f105';
}
ol.flex-control-nav.flex-control-paging {
  display: none;
}
.caption {
  position: absolute;
  top: 12%;
  left: 0px;
  width: 100%;
}
.caption h1 {
  font-size: 35px;
  text-transform: none;
  font-weight: 700;
}
.caption h1 span {
  display: block;
  font-weight: 400;
  text-transform: none;
}
/* ############################################################################## */
/* Header
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.top {
  width: 100%;
  background: #da0040;
  height: 49px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
}
/* TOP MENU */
#top-menu {
  background: #da0040;
  float: left;
  min-width: 50%;
  position: relative;
  z-index: 10;
  font-family: 'Oswald';
}
#top-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#top-menu ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#top-menu ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  line-height: 49px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#top-menu ul li:hover,
#top-menu ul li.active {
  background: #c40039;
}
.mobilemenu {
  display: none;
  float: left;
  margin-left: 30px;
}
.mobilemenu select {
  font-family: 'Oswald';
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #da0040;
  -webkit-box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dropdown-menu li {
  float: left;
  width: 100%;
}
.dropdown-menu li:hover {
  background: #c9003b;
}
.dropdown:hover .dropdown-menu {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* for responsive only */
#pull {
  display: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  line-height: 49px;
}
#pull-blog {
  display: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}
/*##############################*/
.logo {
  position: relative;
  z-index: 10;
}
.logo img {
  max-width: 100%;
}
/* LOGIN and REG */
.login {
  float: left;
  overflow: hidden;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  transform: skewX(15deg);
  position: relative;
  padding-left: 15px;
  margin-left: 20px;
}
.login a {
  color: #7491ae;
  background-image: -moz-linear-gradient(top, #214467, #0e304c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #214467), color-stop(1, #0e304c));
  font-weight: bold;
  font-size: 12px;
  line-height: 49px;
  padding: 0px 15px;
  display: inline-block;
  border-right: 1px solid #2d4d69;
  text-transform: uppercase;
  border-bottom: 1px solid #193a54;
  font-family: 'Ubuntu';
}
.login a span {
  display: block;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.login a span i {
  margin-right: 5px;
  color: #062641;
  font-size: 15px;
}
.login a:hover {
  text-decoration: underline;
}
.login:before {
  content: "";
  width: 15px;
  height: 49px;
  background: #c40039;
  position: absolute;
  left: 0px;
}
/* Body
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* matches and news*/
section#m-a-n {
  margin-top: 240px;
  position: relative;
  z-index: 2;
}
.tab {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  height: 0;
  font-size: 16px;
  font-weight: bold;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #da0040;
  padding: 0 20px;
  line-height: 50px;
  z-index: 1;
}
.tab-small {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  height: 0;
  font-size: 12px;
  font-weight: 400;
  border-right: 20px solid transparent;
  border-bottom: 43px solid #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  padding: 0 10px 0 20px;
  line-height: 40px;
  margin-left: -20px;
}
.tab-small a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
}
.tab-small a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.match {
  background: #da0040;
  padding: 10px 0px;
  overflow: hidden;
}
.m-img img {
  width: 100%;
}
.m-result {
  text-align: center;
  padding: 0px 60px;
  float: left;
}
.logo-club {
  text-align: center;
  margin-top: -30px;
  position: relative;
}
.logo-club img {
  width: 100%;
}
span.result {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 63px;
  color: #fff;
  vertical-align: bottom;
  margin: 0px 0px;
}
span.result b {
  color: #AA0435;
  display: inline;
  font-style: normal!important;
}
.club-name {
  font-size: 32px;
  margin-bottom: 25px;
  float: left;
}
.club-name span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 30px 0px;
}
.club-name .match-name {
  font-size: 12px;
  color: #ff9b9b;
  vertical-align: middle;
  padding: 30px 0px;
}
.a-games {
  background: #fff;
}
.a-games ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  text-align: center;
  padding: 9px 0px;
  background: #f6f7f8;
  color: #454545;
}
.a-games ul li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 22%;
}
.a-games ul li .d-g {
  color: #8d9daa;
  font-size: 12px;
}
.a-games ul > li:nth-child(2n) {
  background: #e9ecef;
}
/*right col news*/
.r-box-n {
  background: #fff;
  padding: 1px 0px 30px 40px;
  min-height: 440px;
  overflow: hidden;
}
.r-box-n article {
  padding: 30px 0 5px 40px;
  border-left: 1px solid #e8ebee;
  position: relative;
}
.r-box-n article h3 {
  color: #0f314d;
  font-size: 19px;
  font-weight: 400;
  text-transform: initial;
  padding-right: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0px 0px 10px 0px;
}
.r-box-n article p {
  color: #8d9daa;
  margin: 0px;
  padding: 0px 10px 0px 0px;
}
.r-box-n article a {
  color: #0f314d;
  text-transform: none;
}
.r-box-n article span.date-n {
  color: #8d9daa;
  padding: 10px;
  position: absolute;
  background: #fff;
  left: -30px;
  top: 30px;
}
.r-box-n > article > h3:hover {
  border-right: 6px solid #da0040;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.r-box-n > article > h3 > a:hover {
  text-decoration: underline;
  color: #da0040;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* teaser*/
#teaser {
  background: url(images/teaser.jpg) no-repeat;
  text-align: center;
  padding: 100px 18% 60px;
}
#teaser h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 35px;
  text-transform: none;
}
#teaser h2 span {
  font-weight: 700;
  display: block;
  text-transform: none;
}
#teaser p {
  font-size: 14px;
  color: #617e94;
  text-align: center;
  margin-bottom: 35px;
}
/* VIDEO*/
#v-tabs {
  overflow: hidden;
}
#v-tabs ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.33333333333333%;
}
#v-tabs ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  padding: 15px 0px 15px 20px;
  color: #0f314d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
#v-tabs ul > li > a {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #0f314d;
  width: 80%;
}
#v-tabs ul > li > .fa {
  margin-right: 20px;
  line-height: 50px;
  font-size: 18px;
  vertical-align: top;
  color: #8d9daa;
}
#v-tabs ul > li > a > span {
  display: block;
  font-size: 12px;
  color: #8d9daa;
  line-height: 30px;
}
#v-tabs ul > li:nth-child(2n) {
  background: #f3f4f6;
}
#v-tabs ul > li:hover,
.ui-tabs-active {
  background: #da0040 !important;
}
#v-tabs ul > li:hover a,
.ui-tabs-active a {
  color: #fff!important;
}
#v-tabs ul > li:hover span,
.ui-tabs-active span {
  color: #ff9b9b!important;
}
#v-tabs ul > li:hover .fa,
.ui-tabs-active .fa {
  color: #fff!important;
}
#v-tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 66.66666666666666%;
  background: #000;
  padding: 0px;
  overflow: hidden;
}
#v-tabs .tab-content img {
  width: 100%;
}
#v-tabs .tab-content iframe {
  width: 100%!important;
  padding: 0;
  margin: 0;
}
/* our players */
.players {
  overflow: hidden;
  position: relative;
}
.our {
  background: #fff;
  padding: 45px 40px 16px 0px;
}
.our h3 {
  font-size: 34px;
  color: #0f314d;
  font-weight: bold;
  text-align: right;
}
.our h3 span {
  font-weight: 400;
  display: block;
}
.player-name {
  text-align: center;
  background: #fff;
  padding: 30px 0px 20px 0px;
}
.player-name a {
  color: #0f314d;
  font-size: 16px;
}
.player-name p {
  text-align: center;
  color: #8d9daa;
  font-size: 11px;
}
.player-name a:hover {
  color: #da0040;
  text-decoration: underline;
}
.all-team {
  background: #f3f4f6;
  text-align: center;
  width: 50%;
  padding: 41px 0px;
}
.all-team a {
  color: #8d9daa;
  font-size: 12px;
}
.slider1 .slide img {
  border-right: 1px solid #808e9a;
  border-left: 1px solid #808e9a;
  width: 100%;
}
.bx-controls-direction {
  position: absolute;
  left: 156px;
  height: 96px;
  width: 157px;
  bottom: 0px;
  background: #081d2e;
}
.bx-controls-direction a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50%;
  position: relative;
  text-indent: -9999px;
  height: 100%;
}
.bx-controls-direction .bx-prev {
  background: url(images/arrow.jpg) no-repeat 1px -96px;
}
.bx-controls-direction .bx-prev:hover {
  background-position: 1px 0px;
}
.bx-controls-direction .bx-next {
  background: url(images/arrow.jpg) no-repeat -76px -96px;
}
.bx-controls-direction .bx-next:hover {
  background-position: -76px 0px;
}
/*#############  twiter, blog, table ###############*/
.twiter {
  background: #143655;
  border-bottom: 3px solid #5ad2ff;
}
.twiter h3 {
  color: #fff;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0px;
  padding-left: 30px;
  background: url(images/twitter_light.png) no-repeat left center;
}
.tw-title {
  padding-left: 20px;
}
ul.t-post li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 30px 20px 30px;
  border-top: 1px solid #1f4160;
  color: #afcae6;
}
ul.t-post li a {
  display: block;
  color: #54bee6;
  margin: 10px 0px;
}
ul.t-post li a span {
  color: #466787;
}
.bl-title {
  background: #081d2f;
}
.bl-title h3 {
  color: #fff;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0px;
  padding-left: 20px;
}
.bl-title a {
  color: #4c6d8e;
  font-size: 12px;
  text-transform: none;
}
.s-post {
  position: relative;
}
.s-post h3 {
  position: absolute;
  padding: 0px 20px;
  text-transform: initial;
  top: 20%;
}
.s-post h3 a {
  padding: 10px 0px;
  color: #fff;
  line-height: 43px;
}
.s-post h3 a span {
  line-height: 43px;
  padding: 10px;
  display: inline;
  background-color: rgba(20, 50, 78, 0.6);
  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.s-post a span:hover {
  background-color: #da0040;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.liga-t {
  background: #143655;
}
.liga-t h3 {
  color: #fff;
  text-transform: uppercase;
  line-height: 63px;
  margin: 0px;
  padding-left: 20px;
}
.table-striped {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  background: #081d2f;
}
.table-striped tr {
  line-height: 32px;
  border-right: 3px solid transparent;
}
.table-striped tr:hover {
  border-right: 3px solid #da0040;
}
.t-h {
  color: #4c6d8e;
  line-height: 36px!important;
}
.t-c {
  text-align: center;
  color: #4c6d8e;
  padding: 0px 20px;
}
.table-striped tr:nth-child(2n) {
  background: #0d2840;
}
/* ########### partner ####################*/
.p-l {
  padding: 40px 0px;
  overflow: hidden;
  text-align: center;
  background: url(images/big-shadow.png) no-repeat center bottom;
}
.p-l img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.p-l img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*##################################################################################### 
			HOME -> BLOG 
#######################################################################################*/
.bc-t {
  height: 150px;
}
.breadcrumb {
  float: left;
  margin-top: 60px;
}
.breadcrumb li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px 5px;
}
.breadcrumb li a {
  color: #4c6d8e;
}
.breadcrumb li span {
  color: #4c6d8e;
}
.breadcrumb li a:hover {
  color: #fff;
}
.breadcrumb li:first-child a {
  color: #da0040;
}
.blog-title {
  margin-top: 40px;
  float: right;
  text-transform: none;
  font-size: 47px;
}
.blog-title:first-letter {
  color: #da0040;
}
.b-menu {
  background: #143655;
}
.b-menu ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px 12px 0px 12px;
}
.b-menu ul > li a {
  line-height: 50px;
  text-transform: uppercase;
  color: #4c6d8e;
  font-size: 11px;
  display: block;
  border-top: 2px solid transparent;
}
.b-menu ul > li a:hover {
  color: #fff;
  border-top: 2px solid #da0040;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.b-menu ul > li.active a {
  color: #fff;
  border-top: 2px solid #da0040;
}
/* BLOG POST GRID */
article.blog-item {
  overflow: hidden;
}
.b-img-s {
  position: relative;
}
.b-img-s img {
  width: 100%;
}
.b-img-s:hover a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid #da0040;
  left: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-desc {
  background: #fff;
  text-align: center;
  padding: 40px 60px;
  position: relative;
}
.b-desc h3 {
  text-transform: none;
  font-weight: 700;
  margin-bottom: 35px;
}
.b-desc h3 a {
  color: #0f314d;
  text-transform: none;
}
.b-desc h3 a:hover {
  color: #da0040;
  text-decoration: underline;
}
.b-desc p {
  color: #617e94;
  text-align: center;
  margin-bottom: 31px;
}
.date-i a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #c6ced4;
  margin: 2px 10px 1px 10px;
}
.arr-l:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  top: 44%;
  left: -10px;
  z-index: 1;
}
.arr-r:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  top: 44%;
  right: -10px;
  z-index: 1;
}
/* BLOG SINGLE_POST  */
.sidebar-right {
  background: #143655;
  padding: 60px 0px;
}
.sidebar-right h3 {
  color: #4c6d8e;
  font-weight: 700;
  text-transform: initial;
  padding: 0px 40px;
  border-left: 3px solid #4c6d8e;
  margin-bottom: 40px;
}
.sidebar-right h3 span {
  font-weight: 400;
  display: block;
}
.sidebar-right ul {
  margin-bottom: 18px;
}
.sidebar-right ul li {
  padding-left: 40px;
}
.sidebar-right ul li a {
  color: #4c6d8e;
  line-height: 20px;
}
.sidebar-right ul li a:hover {
  color: #fff;
}
.sidebar-right ul li span {
  color: #4c6d8e;
  font-weight: 700;
}
.sidebar-right ul li i {
  margin-right: 5px;
}
.post-nav li {
  float: left;
  width: 50% ;
  text-align: center;
  background: #081d2f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-nav li a {
  line-height: 100px;
  font-size: 30px;
  color: #7f8d99;
  display: block;
}
.post-nav li a:hover {
  color: #fff;
}
.post-nav li:first-child {
  border-right: 1px solid #0f2c46;
}
.post-img {
  width: 100%;
}
.post-img img {
  width: 100%;
}
.post-title {
  padding: 60px 40px;
  background: #8d9daa;
}
.post-title h1 {
  font-weight: 700;
  text-transform: none;
}
.post-title h1 span {
  font-weight: 400;
  display: block;
  text-transform: none;
}
.post-content {
  background: #fff;
  color: #767676;
  padding-bottom: 40px;
}
.post-content p {
  padding: 60px 40px;
}
.post-content blockquote {
  padding: 45px 40px 45px 80px;
  position: relative;
  background: #143655;
  margin: 0px;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
}
.post-content blockquote p.blq {
  position: absolute;
  background: #4c6d8e;
  font-weight: 700;
  padding: 0px 10px;
  margin: 0px;
  line-height: 45px;
  bottom: -27px;
  right: 0px;
}
.post-content blockquote p.blq:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #4c6d8e transparent transparent;
}
.post-content blockquote:before {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  background: url(images/quote.png) no-repeat center center;
  position: absolute;
  left: -12px;
}
.post-content h3 {
  margin: 35px;
  color: #0f314d;
  text-transform: initial;
  font-weight: 700;
}
.post-content:after {
  clear: both;
  content: "";
  display: table;
}
/* COMMENTS */
.comtitle {
  height: 80px;
  background: #8d9daa;
}
.comtitle h3 {
  float: left;
  line-height: 80px;
  color: #fff;
  font-size: 32px;
  text-transform: initial;
  margin: 0px 0px 0px 40px;
}
.comtitle .com-count {
  float: right;
  line-height: 80px;
  color: #afbbc4;
  font-size: 27px;
  margin-right: 40px;
}
/* MESSAGE */
.com-post {
  position: relative;
}
.com-post:after {
  clear: both;
  content: "";
  display: table;
}
.message {
  border-bottom: 1px solid #e5e5e5;
  float: left;
}
.message a.author {
  color: #0f314d;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 10px 40px;
}
.message a:hover {
  color: #da0040;
}
.message span.dcp {
  color: #8d9daa;
  display: block;
  margin: 0px 40px;
  font-size: 10px;
}
.message p {
  padding: 15px 40px;
  font-size: 12px;
}
.avatar {
  position: absolute;
  width: 90px;
  left: -90px;
}
.avatar img {
  width: 100%;
}
.avatar:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  right: 0px;
  top: 40%;
}
/* ADD COMMENT FORM */
.addc input[type=text],
.contact-form input[type=text] {
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #b2bbc2;
  background: #7f8d99;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #93a2ae;
  padding-left: 30px;
  box-shadow: none;
}
.addc input[type=text]:focus,
.contact-form input[type=text]:focus {
  background: #717e88;
  box-shadow: inset 3px 3px 0px 3px #6b7881;
}
.addc textarea,
.contact-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #b2bbc2;
  background: #7f8d99;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #798691;
  padding-left: 30px;
  height: auto;
  margin: 0px 0px 30px 0px;
  font-family: "Ubuntu";
}
.addc textarea:focus,
.contact-form textarea:focus {
  background: #717e88;
  box-shadow: inset 3px 3px 0px 3px #6b7881;
}
.addc button,
.contact-form button {
  margin-left: 40px;
}
/*HOME -> VIDEO */
.video-item {
  background: #143655;
  overflow: hidden;
}
.video-item:hover {
  background: #da0040;
}
.video-hold {
  background: #000;
  min-height: 320px;
}
.video-hold iframe {
  width: 100%!important;
  vertical-align: middle;
}
.video-title {
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #1a3c5b;
}
.video-title h3 {
  color: #fff;
  text-transform: initial;
  margin-bottom: 10px;
  font-size: 25px;
}
.video-title a {
  color: #fff;
}
.video-title p {
  color: #4c6d8e;
}
.video-item:hover p {
  color: #fff;
}
/* HOME -> CLUB */
.club-content {
  background: #fff;
  overflow: hidden;
}
.club-content p {
  padding: 40px;
  color: #767676;
  margin: 0px;
}
.img-wrap {
  position: relative;
}
.img-wrap img {
  width: 100%;
}
.bot-name {
  background: #143655;
  padding: 20px 0px;
  text-align: center;
  position: absolute;
  bottom: -76px;
  width: 100%;
}
.bot-name h3 {
  text-transform: initial;
  margin: 0px;
}
.bot-name span {
  color: #617e94;
  font-size: 11px;
}
.dir-n {
  padding: 10px 15px;
}
.dir-n a {
  color: #0f314d;
  font-size: 16px;
}
.dir-n a:hover {
  text-decoration: underline;
}
.dir-n span {
  display: block;
  color: #8d9daa;
  font-size: 11px;
}
.stad-i {
  background-image: url(images/allianz_arena.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 15% 10%;
}
.stad-i h2 {
  font-size: 48px;
  text-transform: initial;
  margin-bottom: 20px;
}
.honors {
  overflow: hidden;
  position: relative;
}
.honors .slide {
  position: relative;
}
.honors .slide a {
  position: relative;
  display: block;
}
.honors .slide img {
  border: none;
}
.honors .slide:hover a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid #da0040;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HOME -> TEAM  */
.tpp img {
  width: 100%;
}
.tpi {
  background: #143655;
  padding: 60px 60px 10px 60px;
  min-height: 269px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tpi h2 {
  text-transform: initial;
  margin-bottom: 15px;
}
.tpi span {
  color: #617e94;
  font-size: 11px;
}
.tpi p {
  color: #617e94;
  font-size: 14px;
  padding: 17px 0px 0px;
}
.team-pl img {
  width: 100%;
}
.slider2 {
  position: relative;
}
.ftitle {
  padding: 29px 45px;
  background: #143655;
}
.ftitle h2 {
  text-transform: initial;
  font-weight: 700;
  margin: 0px;
  font-size: 32px;
}
.ftitle h2 span {
  font-weight: 400;
}
.big_crsl {
  position: relative;
}
.big_crsl .bx-controls-direction {
  top: 0px;
  right: 0px;
  left: auto;
}
.big_crsl .bx-wrapper img {
  max-width: 100%;
  height: auto;
}
/* HOME -> GALLERY */
.gallery-item .height2 {
  height: 470px;
}
.gallery-item .width2 {
  width: 470px;
}
.gallery-item:after {
  content: "";
  display: table;
  clear: both;
}
.gal {
  float: left;
}
.gal a {
  position: relative;
  display: block;
}
.gal img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gal:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gal:hover a:after {
  content: "\f002";
  font-family: "fontAwesome";
  text-align: center;
  color: #fff;
  position: absolute;
  font-size: 24px;
  width: 100%;
  left: 0px;
  top: 40%;
}
/* CONTACTS PAGE  */
#map {
  position: relative;
  top: -160px;
  margin-bottom: -160px;
}
#map #map_canvas {
  width: 100%;
  height: 500px;
  -webkit-filter: grayscale(100%);
}
.contact-form {
  background: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
.contact-form h3 {
  background: #8d9daa;
  text-transform: initial;
  padding: 40px;
  margin: 0px;
}
.cinfo {
  background: #fff;
  padding: 50px 0px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
.cinfo p {
  padding: 0px 50px;
  color: #767676;
}
.cinfo .detinfo {
  color: #0f314d;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
}
.cinfo .detinfo span {
  color: #8d9daa;
  font-size: 12px;
  margin-right: 20px;
}
.contact-form textarea {
  margin-bottom: 0px;
  font-family: "Ubuntu";
}
.di-wrap {
  border-left: 2px solid #da0040;
  margin-top: 50px;
  margin-bottom: 10px;
}
.bottom-form {
  padding: 20px 0px;
}
/*/////////////////////////////////////////////////////////////////////////*/
/* NUMBERED LIST STYLE */
ol.numbered {
  margin-left: 50px;
  counter-reset: li;
  margin-bottom: 40px;
}
ol.numbered li {
  position: relative;
  line-height: 20px;
}
ol.numbered li:before {
  content: counter(li);
  counter-increment: li;
  color: #da0040;
  font-size: 14px;
  margin-right: 10px;
}
/* MARKERED LIST STYLE  */
ul.markered {
  margin-left: 50px;
  margin-bottom: 40px;
}
ul.markered li {
  line-height: 20px;
}
ul.markered li:before {
  content: "\f192";
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  color: #da0040;
}
/* TABLE STRIPED LIGHT*/
.post-content iframe {
  width: 100%!important;
}
/* PAGINATION */
.pagination {
  background: #143655;
  text-align: center;
  overflow: hidden;
  float: left;
  width: 100%;
}
.pagination ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.pagination ul > li a {
  display: block;
  line-height: 50px;
  border-bottom: 2px solid transparent;
  color: #4c6d8e;
  font-weight: 700;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination ul > li a:hover {
  color: #fff;
  border-bottom: 2px solid #da0040;
}
.pagination li.nav-arr {
  background: #081d2f;
}
.pagination li.nav-arr a {
  line-height: 0px;
  padding: 13px 20px;
  font-size: 24px;
  font-weight: 400;
}
.pagination li.nav-arr a:hover {
  border-bottom: 2px solid transparent!important;
}
.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}
/* Footer
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
footer {
  color: #4c6d8e;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer p {
  font-size: 12px;
  padding: 0px 20px;
}
footer h3 {
  font-size: 16px;
  text-transform: initial;
  font-weight: bold;
  margin-bottom: 10px;
}
footer ul li {
  line-height: 21px;
}
footer ul li a {
  color: #4c6d8e;
  font-weight: bold;
  font-size: 11px;
}
footer ul li a:hover {
  text-decoration: underline;
}
.social-icon {
  padding-left: 20px;
}
.social-icon ul#social li {
  display: inline-block;
  background: #4c6d8e;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  text-align: center;
  width: 27px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.social-icon ul#social li:hover {
  background: #da0040;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.social-icon ul#social li img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  transform: skewX(15deg);
}
.social-icon ul#social li:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.copyright {
  margin: 3px 0px 0px;
}
/* Social Icons
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 960px) {
  header {
    overflow: hidden;
  }
  .login {
    position: absolute;
    right: 10px;
  }
  #top-menu {
    display: none;
  }
  .mobilemenu {
    display: block;
    line-height: 49px;
  }
  .mobilemenu select {
    font-size: 13px;
    text-transform: uppercase;
    padding: 2px 6px 2px 6px;
  }
  .b-menu ul {
    display: none;
  }
  .b-menu ul li {
    width: 46%;
    text-align: center;
  }
  #pull-blog {
    display: block;
  }
  .logo {
    text-align: center;
  }
  .avatar {
    position: relative;
    left: 0px;
  }
}
/* Landskape Phone to Small Desktop & Portrait Tablet
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 767px) {
  .teamd .col-6 {
    width: 100%;
    float: none;
  }
  .teamd .col-6 img {
    width: 100%;
    height: auto;
  }
  .team-pl .col-2 {
    width: 25%;
  }
  .b-menu ul {
    display: none;
  }
  .b-menu ul li {
    width: 46%;
    text-align: center;
  }
  #pull-blog {
    display: block;
  }
  .logo {
    text-align: center;
  }
  .avatar {
    position: relative;
    left: 0px;
  }
  .bx-controls-direction {
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  section#m-a-n {
    margin-top: 120px;
  }
  section#m-a-n .container .col-8,
  section#m-a-n .container .col-4 {
    width: 100%;
  }
  section#m-a-n .container .col-8 .r-box-n,
  section#m-a-n .container .col-4 .r-box-n {
    height: auto;
    min-height: 0;
  }
  .players .col-4,
  .players .col-8 {
    width: 100%;
  }
  .players .all-team {
    width: 100%;
  }
  .players .bx-wrapper {
    max-width: 100%!important;
  }
  #ttb .col-4 {
    width: 100%;
  }
  footer .col-2,
  footer .col-6 {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  footer .col-2 p,
  footer .col-6 p {
    text-align: center;
  }
  footer .col-2 .col-4,
  footer .col-6 .col-4,
  footer .col-2 .col-6,
  footer .col-6 .col-6 {
    width: 100%;
    display: inline-block;
    float: none;
  }
  footer .col-2 .col-4 p,
  footer .col-6 .col-4 p,
  footer .col-2 .col-6 p,
  footer .col-6 .col-6 p {
    text-align: center;
  }
  .p-l .col-2 img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
@media (max-width: 640px) {
  .team-pl .col-2 {
    width: 33%;
  }
  .all-team {
    width: 100%;
  }
  .top {
    height: auto;
  }
  .slider .caption {
    display: none;
  }
  .match .col-6 {
    width: 100%;
  }
  .b-menu ul {
    display: none;
  }
  .b-menu ul li {
    width: 46%;
    text-align: center;
  }
  #pull-blog {
    display: block;
  }
  .logo {
    text-align: center;
  }
  .m-result {
    float: none;
  }
  .logo-club {
    width: 100%;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo-club img {
    max-width: 100%;
    width: auto;
  }
  .club-name {
    width: 100%;
  }
  .club-name .match-name {
    padding: 15px 0;
  }
  .club-name .col-3 {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  #v-tabs ul {
    width: 100%;
  }
  #v-tabs .tab-content {
    width: 100%;
  }
  .avatar {
    position: relative;
    left: 0px;
  }
  .bx-controls-direction {
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  article.blog-item {
    width: 100%;
  }
  article.blog-item img {
    width: 100%;
    height: auto;
  }
  .col-6 {
    width: 100%;
  }
  .blog-post .col-3,
  .blog-post .col-9 {
    width: 100%;
  }
  .honors .col-4 {
    width: 100%;
  }
  .honors .col-8 {
    width: 100%;
  }
  .cinfo {
    width: 100%;
  }
  #blog-grid .col-4 {
    width: 100%;
  }
}
/* Up to Landskape Phone
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 480px) {
  .club-content .col-3,
  .club-content .col-9 {
    width: 100%;
    float: none;
  }
  .club-content .col-3 .bot-name,
  .club-content .col-9 .bot-name {
    bottom: 0;
  }
  #tab .tab-content img {
    max-width: 100%;
    height: auto;
  }
  #tab .tab-content .col-4 {
    width: 100%;
  }
  .team-pl .col-2 {
    width: 50%;
  }
  section#m-a-n {
    margin-top: 150px;
  }
  .b-menu ul {
    display: none;
  }
  .b-menu ul li {
    width: 100%;
    text-align: center;
  }
  #pull-blog {
    display: block;
  }
  /* TABS  */
  #tab ul > li {
    width: 110%;
    margin-left: -8px;
  }
  .p-l .col-2 {
    width: 100%;
    float: none;
    text-align: center;
  }
  .video-item {
    width: 100%;
  }
  .logo {
    text-align: center;
  }
  .bx-controls-direction {
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  .club-name span {
    width: 100%;
  }
  .avatar {
    position: relative;
    left: 0px;
  }
  .top {
    z-index: 99999;
  }
  .top .col-2 {
    width: 100%;
    float: none;
  }
  .top .mobilemenu {
    width: 100%;
    text-align: center;
    margin-left: 0;
    float: none;
  }
  .top .login {
    float: none;
    position: relative;
    right: auto;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0);
  }
  .top .login span {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0);
  }
  .top .login:before {
    display: none;
  }
  .slider {
    display: none;
  }
  section#m-a-n {
    margin-top: 50px;
  }
}