    <div class="header">
		<div class="container">
			<div class="logo">
				<a href="/"><img style="height: 75px;" src="/static/template9/images/ccup.png" class="img-responsive" alt="" /></a>
			</div>
			<div class="header-right">
				<h4><i class="phone"></i>(256) 152 3658</h4>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>                                              
						<li><a {% if host == 'index' %}class="active"{% endif %} href="/">Главная</a></li>
                        <li><a {% if host == 'teams' %}class="active"{% endif %} href="/teams/">Команды</a></li>
                        <li><a {% if host == 'matches' %}class="active"{% endif %} href="/matches/">Матчи</a></li>
                        <li><a {% if host == 'contacts' %}class="active"{% endif %} href="/contacts/">Контакты</a></li>  
                    </ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->

			</div>
			<div class="clearfix"></div>
		</div>
	</div>