{% load pytils_dt %}
<div class="col-md-6 col-sm-12 last-post clearfix" style="margin-bottom: 20px;">
	<div class="row">
		<div class="thumb pull-left col-md-3 col-xs-12" style="margin-right: 0px;">
			<a href="#"><img src="/media/logo/{{ match.command_first.get_logo_list.0 }}" alt=""></a>
		</div>
		<div class="content col-md-6 col-xs-12">
			<span>{{ match.datetime|ru_strftime:"%d %B %Y" }} - {{ match.datetime|ru_strftime:"%H:%M" }}</span>
			<a href="{% url 'portal:match' match.alias %}"><i>{{ match.command_first }}</i><i>-</i><i>{{ match.command_second }}</i></a>
		</div>
		<div class="thumb pull-right col-md-3 col-xs-12" style="margin-right: 0px; padding: 0;">
			<a href="#"><img src="/media/logo/{{ match.command_second.get_logo_list.0 }}" alt=""></a>
		</div>
	</div>
	<hr>
</div>