    <a href="{% url 'portal:player' player.alias %}" class="col-md-2 grid_2 player">
            <span><img src="{{ player.image }}" alt=""></span>
            <p style="position: relative;top: -30px;background: rgba(255, 255, 255, 0.8);padding: 5px 0;">{{ player.name }}</p>
    </a>