    <a href="{% url 'portal:team' team.alias %}" class="col-md-3">
        <div class="head_element">
            <img  src="/media/logo/{{ team.get_logo_list.0 }}" alt=" ">
        </div>
        <div class="txt_elem"><b>{{ team.name }}</b></div>
    </a>