{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
		<div class="contact about-desc">
			<h3>Контактная информация</h3>
   		<div class="container">
   			<div class="row">
   				<div class="col-md-8 contact_left">
   			   <div class="contact_grid contact_address">
						<h5>Address 1</h5>	
						<p>Telephone : 1-22-5555</p>
						<p>Fax : 1-22-5555</p>
						<p>Email : <a href="malito:mail@demolink.org">mail(at)digitalhosting.com</a></p>
					</div>
					<div class="contact_grid">
						<h5>Address 2</h5>	
						<p>Telephone : 1-22-5555</p>
						<p>Fax : 1-22-5555</p>
						<p>Email : <a href="malito:mail@demolink.org">mail(at)digitalhosting.com</a></p>
					</div>
   				</div>
   				<div class="col-md-4">
   					<div class="contact_right">
   				<div class="contact-form_grid">
				   <form method="post" action="#">
					 <input type="text" class="textbox" value="Ваше Имя" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ваше Имя';}">
					 <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					 <input type="text" class="textbox" value="Тема" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Тема';}">
					 <textarea value="Сообщение" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Сообщение';}">Сообщение</textarea>
					 <input type="submit" value="Отправить">
				   </form>
			      </div>
   			     </div>
   				</div>
   			</div>
   		</div>
   	</div>
{% endblock %}