{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="banner">
		<div class="container">
			<div class="banner-info">
                {% for match in last_matches %}
                    {% if forloop.first %}
                        <h2>{{ match.command_first }}<span> vs. </span>{{ match.command_second }}</h2>
                        <p>{{ match.datetime|ru_strftime:"%d %B, %Y" }} - {{ match.datetime|ru_strftime:"%H:%M" }}</p>
                        <a href="{% url 'portal:match' match.alias %}" class="btn btn-1 btn-1d">Купить билет</a>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
	</div>
	<div class="content">
        <div class="services-section">
            <div class="container">
				<div class="container">
					<h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
					{% if data.content %}{{ data.content|safe }}{% endif %}
				</div>
                <h3>Команды участники</h3>
                <div class="services-section-grids">
					{% for team in champ_teams %}
					<div class="col-md-12 team_participant row">
						<div class="row title_countr">
							<span>{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
						</div>
						<div class="col-md-10 flag_and_name col-xs-12">
							<div class="col-md-12">
								<img src="/media/flags/{{ team.get_flag_list.1 }}" alt="">
								<a class="h5" href="{% url 'portal:team' team.alias %}">{{ team.name }}</a>
							</div>
							<div class="col-md-12">
								{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}
							</div>
						</div>
						<div class="col-md-2 hidden-xs football_logo">
							<img src="/media/logo/{{ team.get_logo_list.0 }}" alt="">
						</div>
					</div>
					{% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
		<div class="testimonials-section hidden-xs">
			<div class="container">
				<div class="testimonials-section-head text-center">
					<h2>Стадионы Кубка Конфедераций</h2>
				</div>
				<div class="members">
					<div class="col-md-12 description">
						<div class="course_demo">
                            <ul id="flexiselDemo4">	
								{% for stadium in stadiums %}
									{% if forloop.counter > 22 and forloop.counter < 27 %}
										<li>
											<div class="client-text">
												<div class="col-md-12 col-sm-12">
													<span>{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</span>
													<img src="{{ stadium.image }}" alt="">
												</div>
											</div>
										</li>
									{% endif %}
								{% endfor %}								
                            </ul>

                        </div>
                        <script type="text/javascript">
                            $(window).load(function() {
                                $("#flexiselDemo4").flexisel({
                                    visibleItems: 1,
                                    animationSpeed: 1000,
                                    autoPlay: true,
                                    autoPlaySpeed: 3000,    		
                                    pauseOnHover: true,
                                    enableResponsiveBreakpoints: true,
                                    responsiveBreakpoints: { 
                                        portrait: { 
                                            changePoint:480,
                                            visibleItems: 1
                                        }, 
                                        landscape: { 
                                            changePoint:640,
                                            visibleItems: 1
                                        },
                                        tablet: { 
                                            changePoint:768,
                                            visibleItems: 1
                                        }
                                    }
                                });
                                
                            });
                        </script>
                        <script type="text/javascript" src="/static/template9/js/jquery.flexisel.js"></script>	

				    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
        <div class="services-section">
			<div class="container match_list">
				<h2>Следующие встречи</h2>
				<ul>
				{% for match in last_matches %}
					{% if forloop.counter < 5 %}
						{% include "template6/_match_item.html" %}
					{% endif %}
				{% empty %}
					<p>К сожалению, о последних матчах сведений нет.</p>
				{% endfor %}
				</ul>
				<h2>Прошедшие соревнования</h2>
				<div class="post content-info">
					<div class="mini-title">Финальные встречи:</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/sav.png">Саудовская Аравия 1992 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/arg.png">Аргентина
						</div>
						<div class="col-md-2">
							3:1
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/sav.png">Саудовская Аравия
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/sav.png">Саудовская Аравия 1995 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/den.png">Дания
						</div>
						<div class="col-md-2">
							2:0
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/arg.png">Аргентина
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/sav.png">Саудовская Аравия 1997 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/bra.png">Бразилия
						</div>
						<div class="col-md-2">
							6:0
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/aus.png">Австралия
						</div>
					</div>								
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/mex.png">Мексика 1999 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/mex.png">Мексика
						</div>
						<div class="col-md-2">
							4:3
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/bra.png">Бразилия
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/kor.png"><img src="static/khl/flags-f/jp.png">Республика Корея\Япония 2001 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/fra.png">Франция
						</div>
						<div class="col-md-2">
							1:0
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/jp.png">Япония
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/fra.png">Франция 2003 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/fra.png">Франция
						</div>
						<div class="col-md-2">
							1:0
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/cam.png">Камерун
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/ger.png">Германия 2005 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/bra.png">Бразилия
						</div>
						<div class="col-md-2">
							4:3
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/arg.png">Аргентина
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/yar.png">ЮАР 2009 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/bra.png">Бразилия
						</div>
						<div class="col-md-2">
							4:3
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/usa.png">США
						</div>
					</div>
					<div class="fin_match">
						<div class="col-md-12 hme">
							<span><img src="static/khl/flags-f/bra.png">Бразилия 2013 год</span>
						</div>
						<div class="col-md-5 winner">
							<img src="static/khl/flags-f/bra.png">Бразилия
						</div>
						<div class="col-md-2">
							4:3
						</div>
						<div class="col-md-5">
							<img src="static/khl/flags-f/spa.png">Испания
						</div>
					</div>								
				</div>
			</div>
        </div>
	</div>
{% endblock %}