{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
		<div class="blog-section">
			<div class="container">
                <div class="col-md-12">
                    <div class="match_inf"><img src="/media/logo/{{ data.command_first.get_logo_list.0 }}"><b><i>{{ data.command_first }}</i><i>-</i><i>{{ data.command_second }}</i></b><img src="/media/logo/{{ data.command_second.get_logo_list.0 }}"></div>
                    <br>
					<h2>История встреч:</h2>
                    <table class="table table-bordered">
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    </table>
                    <br>
                    {% if data.content %}{{ data.content|safe }}{% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
		<div class="blog-section">
			<div class="container">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
  
{% endblock %}