{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
		<div class="blog-section">
			<div class="container">
                <div class="col-md-12">
                    <h2 style="border-bottom: 1px solid #eee; padding-bottom: 12px; margin-bottom: 12px" class="with-line">Матчи</h2>
                    {% for match in matches %}
				
                            {% include "template9/_match_item.html" %}

                    {% empty %}
                        <p>К сожалению, сведений о командах не найдено.</p>
                    {% endfor %}
                </div>
			</div>		
		</div>
    </div>
{% endblock %}