{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<div class="content">
		<div class="blog-section">
			<div class="container">
					<div class="col-md-8 left_column">
                        <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                        {% if data.content %}{{ data.content|safe }}{% endif %}
                    </div>
                    
                    <div class="col-md-4 right_column">
                        <div class="item2">
							<img src="{{ data.image }}">
						</div>
						<div class="item">
							<header>
								<h2 class="with-line">Информация</h2>
							</header>
							<ul>
								{% if birth != "Нет данных" %}
                                    <li>Дата рождения: {{ data.birth }}</li>
                                {% else %}
                                {% endif %}
                                <li>Позиция: {{ data.position }}</li>                    
                                <li>Клуб: <img src="/media/flags/{{ data.team.get_flag_list.1 }}">{{ data.team }}</li>
                                <li>Рост\вес: {{ data.height }}\{{ data.weight }}</li>
                                <li></li> 
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}                