{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
        <div class="blog-section">
            <div class="container">
                <h2>Команды участники</h2>
                <br>
                <div class="services-section-grids">
                    {% for team in teams %}
                        {% include "template9/_team_item.html" %}
                    {% empty %}
                        <p>К сожалению, сведений о командах не найдено.</p>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}