{% extends "template9/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content text-center">
		<div class="who_we_are">
			<div class="container">
                    <div class="grid_12">
						<header>
							<h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
						</header>
					</div>
                    <br>
					<div class="col-md-6">
                        <img style="max-width: 100%;margin-bottom: 25px;" src="/media/photos/{{ data.get_photo_list.0 }}" alt="{{ data.name }}">
                    </div>
					<div class="grid_12">
						{% if data.content %}{{ data.content|safe }}{% endif %}
					</div>
                    <div class="col-md-6">
                        <img src="/media/logo/{{ data.get_logo_list.0 }}" alt="" >
                        <br>
                        <table class="table table-bordered" align="left">
                            <tr>
                                <td>Федерация</td><td>{{ data.fed }}</td>
                            </tr>
                            <tr>
                                <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                            </tr>
                            <tr>
                                <td>Год основания</td><td>{{ data.founded }}</td>
                            </tr>
                            <tr>
                                <td>Адрес</td><td>{{ data.address }}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td><td>{{ data.phone }}</td>
                            </tr>
                            <tr>
                                <td>Fax</td><td>{{ data.fax }}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td><td>{{ data.email }}</td>
                            </tr>
                            <tr>
                                <td>Официальный сайт</td><td>{{ data.offsite|urlize }}</td>
                            </tr>
                        </table>
                    </div>
					<div class="clearfix"></div>
			</div>
		</div>
		<div class="why_choose_us">
			<div class="container">
				<div class="row">
                    <header>
                        <h3>Игроки</h3>
                    </header>
                </div>
                <div class="row">
                {% if coaches %}
                    {% for player in coaches %}
                        {% include "template9/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if goalkeepers %}
                    {% for player in goalkeepers %}
                        {% include "template9/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if defenders %}
                    {% for player in defenders %}
                        {% include "template9/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if midfielders %}
                    {% for player in midfielders %}
                        {% include "template9/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if attacks %}
                    {% for player in attacks %}
                        {% include "template9/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if not coaches and not goalkeepers and not defenders and not attacks%}
                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                {% endif %}
                </div>
			</div>
		</div>
    </div>
{% endblock %}