    <div class= "footer">
		<div class="container">
		 	<h3>Свяжитесь с нами</h3>
		 	<!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humourbut also the leap into electronic typesetting, remaining essentially 
			or randomised words </p>  -->                                                        
			<div class="col-md-4 footer-grid footer-grid1">
                <div class="Office Address">
                    <h4>Наши контакты</h4>
                   <ul class="bottom-icons">
                        <li><a class="home" href="#"><span> </span></a>Lorem ipsy street,Newyork</li>
                        <li><a class="mail" href="mailto:info@example.com"><span> </span>123 int@example.com</a></li>
                        <li><a class="mbl" href="#"><span> </span></a>+91 000 00 00 00 0</li>	
                        <div class="clearfix"> </div>	
                    </ul>
                 </div>
            </div>
            <div class="col-md-4 footer-grid footer-grid3">
                <div class=" Follow us here">
                <h4>Социальные сети</h4>
                    <ul class="bottom-icons two">
                        <li><a class="fbook" href="#"><span> </span></a>Facebook</li>
                        <li><a class="twt" href="#"><span> </span></a>Twitter</li>
                        <li><a class="iin" href="#"><span> </span></a>Linked in</li>	
                        <div class="clearfix"> </div>	
                    </ul>
                </div>
                <div class="copy-right">
                    <!-- <p></p> -->
                </div>		
            </div>
            <div class="clearfix"> </div>	
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */
            
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
	<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>