	 	<div class="container">
			<h3>Игроки</h3>
                <div class="row col-md-8">

                {% if coaches %}
                    {% for player in coaches %}
                        {% include "template13/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if goalkeepers %}
                    {% for player in goalkeepers %}
                        {% include "template13/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if defenders %}
                    {% for player in defenders %}
                        {% include "template13/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if midfielders %}
                    {% for player in midfielders %}
                        {% include "template13/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if attacks %}
                    {% for player in attacks %}
                        {% include "template13/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if not coaches and not goalkeepers and not defenders and not attacks%}
                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                {% endif %}
                
                </div>
        </div> <!-- /.container -->            