{% extends "template13/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="contact_desc">
		        <div class="container">
		        	<h2>Contact Us</h2>
			         <div class="contact-form">
				  	   <form method="post" action="contact-post.html" class="left_form">
					    	<div>
						    	<span><label>Имя</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-mail</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Fax</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
					    </form>
					    <form class="right_form">
					        <div>					    	
						    	<span><label>Сообщение</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<input type="submit" value="Submit " />
						  </div>
					    </form>
					    <div class="clearfix"></div>
				  </div>
				 <div class="content_bottompart">
				 	<div class="company_address">
				     	<h3>Location</h3>
						    	<p>500 Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span><a href="mailto:example@email.com">info(at)mycompany.com</a></span></p>
				   		<p>Follow on: <span><a href="#">Facebook</a></span>, <span><a href="#">Twitter</a></span></p>
				     </div>

				      <div class="clearfix"></div>
	                </div>	
	             </div>  
	          </div>
{% endblock %}