{% extends "template13/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="banner-section">
        <div class="container">
            <div class="banner-head">
                {% for match in last_matches %}
                    {% if forloop.first %}
                        <h2 style="font-size: 40px;"></h2>
                        <h1 class="lead"><img src="/media/logo/{{ match.command_first.get_logo_list.0 }}" alt=""> {{ match.command_first }}<span> - </span>{{ match.command_second }} <img src="/media/logo/{{ match.command_second.get_logo_list.0 }}" alt=""></h1>
                        <p class="tagline">{{ match.datetime|ru_strftime:"%d %B, %Y" }}, {{ match.datetime|ru_strftime:"%H:%M" }}</p>
                        <p><a href="/matches/" class="btn btn-action btn-lg" role="button">Ко всем матчам</a> <a href="{% url 'portal:match' match.alias %}" class="btn btn-default btn-lg" role="button">Купить билет</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="welcome-section">
        <div class="container">
            {% for team in champ_teams %}
                <div class="welcom-grids">
                    <div class="col-md-2 welcom-grid-img">
                        <a class="h5" href='{% url "portal:team" team.alias %}'><img src="/media/logo/{{ team.get_logo_list.0 }}" alt=""></a>
                    </div>
                    <div class="col-md-10 welcom-grid-text">
                        <h2><a class="" href='{% url "portal:team" team.alias %}'>{{ team.name }}</a> - {% cycle 'Страна-организатор' 'Чемпион мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</h2>
                        <p>{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}</p>
                    </div>
                    <div class="clearfix"> </div>  
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="welcome-section">
        <div class="container">
            <div class="row">
                <h2>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2>
                    {{ data.content|safe }}
            </div>
        </div>
    </div>
    <div class="welcome-section">
        <div class="container">
            <h2 class="text-center top-space">История всех кубков конфедераций(1992-2017)</h2>
            <div class="row table-matches">
                <h3>Кубок короля Фахда(Предшественник турнира)</h3>
                <table class="table table-bordered">
                    <tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
                    <tr><td>1992</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>4</td><td><img src="/static/khl/flags-f/arg.png">Аргентина</td><td><img src="/static/khl/flags-f/arg.png">Фернандо Редондо</td></tr>
                    <tr><td>1995</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>6</td><td><img src="/static/khl/flags-f/den.png">Дания</td><td><img src="/static/khl/flags-f/den.png">Брайн Лаудруп</td></tr>
                </tbody></table>
                <h3>Кубок конфедераций</h3>
                <table class="table table-bordered">
                    <tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
                    <tr><td>1997</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Денильсон</td></tr>
                    <tr><td>1999</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td>8</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td><img src="/static/khl/flags-f/bra.png">Рональдиньо</td></tr>
                    <tr><td>2001</td><td><img src="/static/khl/flags-f/kor.png"><img src="/static/khl/flags-f/jp.png">Корея\Япония</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Робер Пирес</td></tr>
                    <tr><td>2003</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Тьерри Анри</td></tr>
                    <tr><td>2005</td><td><img src="/static/khl/flags-f/ger.png">Германия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Адриано</td></tr>
                    <tr><td>2009</td><td><img src="/static/khl/flags-f/yar.png">ЮАР</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Кака</td></tr>
                    <tr><td>2013</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Неймар</td></tr>
                    <tr><td>2017</td><td><img src="/media/flags/rus.png">Россия</td><td>8</td><td>?</td><td>?</td></tr>
                </tbody></table>
            </div> <!-- /row -->
            <h2 class="text-center top-space">Билеты на матчи</h2>
            <div class="row">
                <ul class="match_list">
                {% for match in last_matches %}
                    {% include "template13/_match_item.html" %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}