{% extends "template13/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="About-section">
	 	<div class="container match">
	 		<img src="/media/logo/{{ data.command_first.get_logo_list.0 }}" alt=""><span>{{ data.command_first }} - {{ data.command_second }}</span><img src="/media/logo/{{ data.command_second.get_logo_list.0 }}" alt="">
            <div class="col-md-8 about-data">
                <h2>История встреч</h2>
                <table class="table table-bordered">
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                </table>
                {% if data.content %}{{ data.content|safe }}{% endif %}
            </div>
            <div class="col-md-4 sidebar sidebar-right">
            
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Информация</h4>
                        <ul class="meta-post">
                            <li>
                                <b>Чемпионат: </b>{{ data.champ }}
                            </li>
                            <li>
                                <b>Группа: </b>{{ data.group }}
                            </li>
                            <li>
                                <b>Тур: </b>{{ data.tour }}
                            </li>
                        </ul>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
{% endblock %}