{% extends "template13/__base.html" %}
    {% block main_content %}
    <div class="letest-section">
        <div class="container">
            <h3>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h3>
            <div class="letest-main">
                <div class="letest-text-grid">
                    {% for match in matches %}
                        {% include "template13/_match_item.html" %}
                    {% empty %}
                        <p>К сожалению, сведений о матчах не найдено.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}