{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">

		{% include "template7/_breadcrumbs.html" %}

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
                <header class="page-header">
					<div class="h1 page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</div>                    
				</header>
                {% if data.content %}{{ data.content|safe }}{% endif %}
			</article>
            <aside class="col-md-4 sidebar sidebar-right">
            
                {% if prev %}
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Предыдущая новость</h4>
                        <br>
                        <ul class="list-unstyled list-spaces">
                                <li><a href="{% url 'portal:news' prev.alias %}">{{ prev.name }}</a><br><span class="small text-muted">{{ prev.date|ru_strftime:"%d %B, %Y" }}</span></li>
                            
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if next %}
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Следующая новость</h4>
                        <br>
                        <ul class="list-unstyled list-spaces">
                            
                                <li><a href="{% url 'portal:news' prev.alias %}">{{ prev.name }}</a><br><span class="small text-muted">{{ prev.date|ru_strftime:"%d %B, %Y" }}</span></li>
                            
                        </ul>
                    </div>
                </div>
                {% endif %}

            </aside>
        </div>
    </div>
{% endblock %}