{% extends "template13/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}  
    <div class="About-section">
	 	<div class="container">
			<h3>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h3>
			<!-- container -->
			<div class="container" style="text-align:center;">
				{% for team in teams %}
                    {% include "template13/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
			</div>
        </div>
	</div>
{% endblock %}