{% extends "template13/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}  
    <div class="About-section">
	 	<div class="container">
            <h3 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h3> 
            <div class="about">   
                <div class="col-md-12 about-data">
                    {% if data.content %}{{ data.content|safe }}{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}