{% load i18n admin_static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <title>{{ data.seo_title }}</title>
        <meta name="description" content="{{ data.seo_description}}">
		<meta name="keywords" content="{{ data.seo_keywords}}">
        
        <link rel="stylesheet" href="/static/main/css/A.style.css" type="text/css" media="all"/>        
        <link rel="stylesheet" href="/static/main/css/netcss.css" type="text/css" media="all"/>        
        <link rel="stylesheet" href="/static/main/css/A.bootstrap.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="/static/main/css/A.responsive.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="/static/main/css/style.css" type="text/css" media="all"/>
    </head>
    <body style="background:url(/static/main/img/bg.webp) no-repeat center fixed;background-size: 100% 100%;">
        <div id="wrappermain-pix" class="wrapper wrapper_boxed">
            {% include "main/_header.html" %}
            <div class="clear"></div>
            <div id="main">
                <div id="innermain">
                    <div class="container">
                        <div class="row">
                            {% block main_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% include "main/_footer.html" %}
        </div>
        <!-- scripts -->
        <script src="/static/main/js/jquery-1.11.3.min.js"></script>
        <script src="/static/main/js/jquery.cycle2.min.js"></script>
        <script src="/static/main/js/snap.svg-min.js"></script>
        <script src="/static/main/js/script.js"></script>
        <!-- /scripts -->
		<script>
			$(document).ready(function(){
				$('span:contains("in:")').css('color','red');
				$('span:contains("out:")').css('color','green');
			})
		</script>
    </body>
</html>