    <div class="breadcrumb">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{% if forloop.counter == 1 %}{% url 'portal:textpage' breadcrumb.alias %}{% else %}{% url 'portal:team' breadcrumb.alias %}{% endif %}">
                            {% if breadcrumb.menutitle %}
                                {{ breadcrumb.menutitle }}{% else %}{{ breadcrumb.name }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="pix-active">
                    {% if data.menutitle %}
                        {{ data.menutitle }}{% else %}{{ data.name }}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>