            <div class="footer-widget">
                <div class="container">
                    <div class="footer-advertising-area">
                        <div class="widget widget_text">
                            <div class="textwidget">
                                <div class="ads-banner">
                                    <div class="bottom_banner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-icons">
                        <div class="followus">                    	
                            <a title="" href="javascript:" data-original-title="Facebook" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-facebook-square icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Google-plus" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-google-plus-square icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Linked-in" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-linkedin-square icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Pinterest" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-pinterest-square icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Twitter" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-twitter-square icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Tumblr" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-tumblr-square icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Instagram" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-instagram icon"></i></a>
                            <a title="" href="javascript:" data-original-title="Flickr" data-placement="top" class="colrhover" target="_blank">
                            <i class="fa fa-flickr icon"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Container Start -->
                <div class="container">
                    <!-- Footer Widgets Start -->
                    <div class="widget widget_text">
                        <header class="px-heading-title">
                            <h2 class="px-section-title">Контакты</h2>
                        </header>
                        <div class="textwidget">
                            <div class="home-info">
                                <h5>info@iihf16.ru
                                </h5>
                                <p>
                                    
                                </p>
                                <!--<a href="#" class="pix-bgcolr">View Map <i class="fa fa-arrow-right"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_recent_entries">
                        <header class="px-heading-title">
                            <h2 class="px-section-title">Последние новости</h2>
                        </header>
                        <ul>
                            {% for news_item in last_news %}
                                <li>
                                    <a href="{% url 'portal:news' news_item.alias %}">{{ news_item.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                        <header class="px-heading-title">
                            <h2 class="px-section-title">Категории</h2>
                        </header>
                        <ul>
                            {% for menu_item in menu %}
                                <li>
                                    <a href="{% url 'portal:textpage' menu_item.alias %}">
                                    {% if menu_item.menutitle %}
                                        {{ menu_item.menutitle }}{% else %}{{ menu_item.name }}
                                    {% endif %}
                                    </a>
                                    
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget_newsletter">
                        <header class="px-heading-title">
                            <h2 class="px-section-title">Обратная связь</h2>
                        </header>
                        <form action="/wp-themes/kingsclub/" id="px_mailchimp_widget_form-1" method="post">
                            <input type="hidden" name="mailchimp_key" id="mailchimp_key_validation" value="">
                            <input type="hidden" name="ns_mc_number" value="1"/>
                            <label></label>
                            <label class="pix-newsletter">
                            <input id="px_mailchimp_widget-email-1" type="text" name="px_mailchimp_widget_email" placeholder="Введите Email"/>
                            </label>
                            <label>
                            <input type="submit" name="Submit" class="btn cs-bgcolr" value="Отправить">
                            </label>
                            <!--<button class="btn cs-bgcolr" name="Submit">Submit</button>-->
                        </form>
                    </div>
                    <!-- Footer Widgets End -->
                </div>
                <!-- Container End -->
                <footer id="footer">
                    <div class="container">
                        <p class="coptyright"></p>
                        <!--<a href="" class="btn btngotop"><i class="fa fa-arrow-circle-o-up"></i></a>-->
                    </div>
                </footer>
            </div>