            <header id="header">
                <!-- Top Head Start -->
                <div class="top-head hidden-xs" style="height: 165px;">
                    <div class="container">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/">
                            <img src="/static/main/img/logo2.png" alt="Kings Club"/>
                            </a>
                        </div>
                        <!-- Logo Close
                        <div class="rightheader">
                            <div class="widget widget_text">
                                <div class="textwidget">
                                    <div class="ads-banner">
                                        <div class="top_banner"><a href="javascript:" target="_blank"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Top Head End -->
                <div id="mainheader">
                    <div class="container">
                        <!-- Right Header -->
                        <nav class="navigation">
                            <a class="cs-click-menu"><i class="fa fa-bars"></i></a>
                            <ul id="menus">
                                <li {% if not host %}class="current-menu-item"{% endif %}><a href="/">Главная</a></li>
                                <!--<li>
                                    <a href="#">Команды</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://pixfill.com/wp-themes/kingsclub/theme-options/">Theme Options</a></li>
                                    </ul>
                                </li>-->
                                {% for menu_item in menu %}
                                    {% if menu_item.menushow %}
                                    <li {% if menu_item.alias == host %}class="current-menu-item"{% endif %}>
                                        <a href="{% url 'portal:textpage' menu_item.alias %}">
                                        {% if menu_item.menutitle %}
                                            {{ menu_item.menutitle }}{% else %}{{ menu_item.name }}
                                        {% endif %}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>