{% load pytils_dt %}
    <article>
        <div class="calendar-date">
            <time datetime='{{ match.datetime|date:"d-m-Y" }}'>
                {{ match.datetime|ru_strftime:"%d %B" }}
                <span>{{ match.datetime|ru_strftime:"%H:%M" }}</span>
            </time>
            {{ match.stadium }}  
        </div>
        <div class="text">
            <div class="top-event">
                <p class="pix-post-title-nohover">
                    <a href="{% url 'portal:match' match.alias %}" class="pix-hover">
                        <img src="/media/flags/{{ match.command_first.get_flag_list.1 }}" width="20" alt="" style="border-radius: 100%;">
                        {{ match.command_first }}
                        <span> - </span>
                        <img src="/media/flags/{{ match.command_second.get_flag_list.1 }}" width="20" alt="" style="border-radius: 100%;">
                        {{ match.command_second }}     
                    </a>
                </p>
                <!--<ul>
                    <li> <a href="javascript:" rel="tag">Cycle racing</a>, <a href="javascript:" rel="tag">Football</a>, <a href="javascript:" rel="tag">Ice hockey</a>, <a href="javascript:" rel="tag">Table tennis</a></li>
                </ul>-->
            </div>
        </div>
        <div class="match-result">
            <!-- <span>
            <big>0-0</big>
            </span>-->
            <a class="btn share-now pix-bgcolr" href="{% url 'portal:match' match.alias %}">Купить билеты</a>
        </div>
    </article>