    <div class="widget widget_text">
        {% for teams in teamsAB %}
        <header class="pix-heading-title">
            <h2 class="pix-section-title heading-color">{{ teams.0.name }}</h2>
        </header>
        <div class="textwidget">
            <div class="pointtable-shortcode">
                <div class="points-table fullwidth">
                    <table class="table table-condensed table_D3D3D3">
                        <thead>
                            <tr>
                                <th>
                                    <span class="box1">
                                    #
                                    </span>
                                </th>
                                <th>
                                    <span class="box1">Сборная</span>
                                </th>
                                <th>
                                    <span class="box1">Игры</span>
                                </th>
                                <th>
                                    <span class="box1">Очки</span>
                                </th>
                                <th>
                                    <span class="box1">Разница</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams.1 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'portal:team' team.alias %}"><img src="/media/flags/{{ team.get_flag_list.1 }}" style="width: 20px;margin: 5px 5px 0 0;border-radius: 50%;" alt="">{{ team.name }}</a></td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!--<tfoot>
                            <tr>
                                <td colspan="6"><a href="javascript:" class="btn">View All</a></td>
                            </tr>
                        </tfoot>-->
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
<div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=05" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
    </div>