    <div class="widget widget-twitter">
        <header class="pix-heading-title">
            <h2 class="pix-section-title heading-color">Twitter</h2>
        </header>
        <div class="twitter_sign webkit">
            <div class="tweets-wrapper article">
                <article>
                    <div class="text webkit">
                        <p class="cs-post-title">Watch &amp; listen to the winners in our recent music &amp; video collaboration challenge. <a target="blank" title="https://t.co/gWFas73Y7J" href="https://t.co/gWFas73Y7J">https://t.co/gWFas73Y7J</a> <a target="blank" title="https://t.co/89Jt4HchBG" href="https://t.co/89Jt4HchBG">https://t.co/89Jt4HchBG</a><a href="https://twitter.com/envato">envato</a></p>
                        <p><i class="fa fa-twitter"></i> <span>12 hours&nbsp;ago</span></p>
                    </div>
                </article>
                <article>
                    <div class="text webkit">
                        <p class="cs-post-title">RT <a target="blank" title="tutsplus" href="http://twitter.com/tutsplus">@tutsplus</a>: Did you know February 22nd is <a target="blank" title="CatDay" href="http://twitter.com/search?q=%23CatDay">#CatDay</a> in Japan? Celebrate with these 22 tutorials purr-fect for cat lovers. <img class="emoji" draggable="false" alt="рџё" src="http://s.w.org/images/core/emoji/72x72/1f638.png"><img class="emoji" draggable="false" alt="рџ‡Їрџ‡µ" src="http://s.w.org/images/core/emoji/72x72/1f1ef-1f1f5.png"> <a target="blank" title="https://t.co/" href="https://t.co/">https://t.co/</a>вЂ¦<a href="https://twitter.com/envato">envato</a></p>
                        <p><i class="fa fa-twitter"></i> <span>2 days&nbsp;ago</span></p>
                    </div>
                </article>
                <article>
                    <div class="text webkit">
                        <p class="cs-post-title">Join Out Envato, <a target="blank" title="codelikeagirlau" href="http://twitter.com/codelikeagirlau">@codelikeagirlau</a> &amp; <a target="blank" title="lesbiantechau" href="http://twitter.com/lesbiantechau">@lesbiantechau</a> live at the <a target="blank" title="lesbiantech" href="http://twitter.com/lesbiantech">@lesbiantech</a> Summit, Saturday 27th Feb <a target="blank" title="https://t.co/1TORMCeURw" href="https://t.co/1TORMCeURw">https://t.co/1TORMCeURw</a> <a target="blank" title="LWTSUMMIT" href="http://twitter.com/search?q=%23LWTSUMMIT">#LWTSUMMIT</a><a href="https://twitter.com/envato">envato</a></p>
                        <p><i class="fa fa-twitter"></i> <span>2 days&nbsp;ago</span></p>
                    </div>
                </article>
            </div>
        </div>
    </div>