{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{{ data.name }}</h1>
            </div>
            <div class="element_size_100">
                <div class="tabs horizontal">
                    <div class="fluid-tab-horizontal">
                        <div class=" fluid-tab-horizontal">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active" data-target="stadium"><a href="javascript:">Чемпионат</a></li>
                                <li data-target="matches"><a href="javascript:">Расписание матчей</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div data-name="stadium" class="tab-pane fade in active">
                            <article>
                                <div class="pix-content-wrap">
                                    <div class="detail_text rich_editor_text">
                                        <img src="{{ data.image }}" alt="" width="100%">
                                        {% if data.content %}{{ data.content|safe }}{% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div data-name="matches" class="tab-pane fade">
                            <div class="event event-listing">
                                {% for match in matches %}
                                    {% include "main/_match_item.html" %}
                                {% empty %}
                                    <p>К сожалению, о матчах на данном стадионе сведений нет.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Our team Close -->
                </div>
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}