{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            </div>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
            <div class="element_size_100 px-map">
                <div class="contact-us rich_editor_text">
                    <div class="map-sec">
                        <div class="mapcode iframe mapsection gmapwrapp" id="map_canvas1" style="height:360px;"> </div>
                    </div>
                    <p></p>
                </div>
            </div>
            <script type='text/javascript'>function initialize(){var myLatlng=new google.maps.LatLng(51.504552,-0.106382);var mapOptions={zoom:16,scrollwheel:false,draggable:false,center:myLatlng,mapTypeId:google.maps.MapTypeId.ROADMAP,disableDefaultUI:false,}
                var map=new google.maps.Map(document.getElementById('map_canvas1'),mapOptions);var infowindow=new google.maps.InfoWindow({content:'229 Birltn Road London Ak J47',maxWidth:200,maxHeight:100,});var marker=new google.maps.Marker({position:myLatlng,map:map,title:'',icon:'http://pixfill.com/wp-themes/kingsclub/wp-content/uploads/2014/03/marker.png',shadow:''});if(infowindow.content!=''){infowindow.open(map,marker);map.panBy(1,-60);google.maps.event.addListener(marker,'click',function(event){infowindow.open(map,marker);});}}
                google.maps.event.addDomListener(window,'load',initialize);
            </script>
            <div class="element_size_100">
                <div class="inputforms respond">
                    <!-- Comments Heading Start -->                            
                    <header class="pix-heading-title">
                        <h2 class="pix-section-title">Обратная связь</h2>
                    </header>
                    <!-- Comments Heading End --> 
                    <div class="textsection">
                        <div class="succ_mess" id="succ_mess5" style="display:none;"></div>
                    </div>
                    <div id="form_hide5">
                        <div class="inquiry" id="respond">
                            <form id="frm5" name="frm5" method="post" action="javascript:frm_submit5()" novalidate>
                                <p class="comment-form-author">
                                    <label class="form-icons">
                                    <small class="fa fa-ellipsis-v"></small>
                                    <i class="fa fa-user"></i>
                                    </label>
                                    <input type="text" name="contact_name" id="contact_name" class="nameinput {validate:{required:true}}" value="Имя"/>                        
                                </p>
                                <p class="comment-form-email">
                                    <label class="form-icons">
                                    <small class="fa fa-ellipsis-v"></small>
                                    <i class="fa fa-envelope"></i>
                                    </label>
                                    <input type="text" name="contact_email" id="contact_email" class="emailinput {validate:{required:true ,email:true}}" value="E-mail"/>
                                </p>
                                <p class="comment-form-contact">
                                    <label class="form-icons">
                                    <small class="fa fa-ellipsis-v"></small>
                                    <i class="fa fa-phone"></i>
                                    </label>
                                    <input type="text" name="subject" id="subject" class="subjectinput {validate:{required:true}}" value="Тема"/>
                                </p>
                                <p class="comment-form-comment">
                                    <textarea name="contact_msg" id="contact_msg" class="{validate:{required:true}}"></textarea>    
                                </p>
                                <p class="form-submit">
                                    <input type="hidden" value="dum1@pixfill.com" name="px_contact_email">
                                    <input type="hidden" value="Email Sent Successfully.
                                        Thank you, your message has been submitted to us." name="px_contact_succ_msg">
                                    <input type="hidden" name="bloginfo" value="Kings Club"/>
                                    <input type="hidden" name="counter_node" value="5"/>
                                    <input type="submit" value="Отправить" id="submit_btn5" class="backcolr">
                                </p>
                                <div id="loading_div5"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}