{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="col-md-9">
        <div class="element_size_100">
            <div class="pix-blog blog-home ">
                <!-- Blog Start -->
                <div class="tabs horizontal">
                    <header class="pix-heading-title">
                        <h2 class="pix-heading-color pix-section-title">Чемпионат мира по хоккею 2016</h2>
                    </header>
                    <div class="tab-content">
                        <div id="blog-headlines2" data-name="last-news" class="blog-headlines tab-pane fade in active">
                                <iframe style="margin: 0 auto 20px; display: table; border: 5px solid #ddd; box-shadow: 0 0 0 5px #3f3f3f; width: 80%;min-height: 265px;" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen></iframe><p>На домашнем Кубке Конфедераций Россия готова распахнуть свою широкую душу перед миллионами болельщиков и гостей со всей планеты, вдохновляя каждого, кто захочет постичь ее удивительный мир.</p>
                            <div class="blog-listing-text">
                                {% for news_item in news %}
                                    <article>
                                        <div class="text">
                                            <h2 class="pix-post-title news-item-title"><a href="{% url 'portal:news' news_item.alias %}">{{ news_item.name }}</a></h2>
                                            <ul class="post-options">
                                                <li><a rel="tag" href="javascript:">Хоккей</a></li>
                                                <li>
                                                    <time datetime='{{ news_item.date|date:"d-m-Y" }}'>{{ news_item.date|ru_strftime:"%d %B, %Y" }}</time>
                                                </li>                                            
                                            </ul>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="blog-recent2" data-name="teams-news" class="blog-headlines tab-pane fade in ">
                            
                        </div>
                        <div id="blog-popular2" data-name="matches-news"  class="blog-headlines tab-pane fade in ">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="element_size_100">
            <div class="blog blog_detail">
                <header class="pix-heading-title">
                    <h2 class="pix-heading-color pix-section-title">Сборные - участники</h2>
                </header>
                <div class="row bot_mrg">
                    {% for team in champ_teams %}
                        <div class="col-md-12 team_participant">
							<div class="row title_countr">
								<span>{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
							</div>
							<div class="col-md-2 football_logo">
								<img src="/media/logo/{{ team.get_logo_list.0 }}" alt="">
							</div>
							<div class="col-md-10 flag_and_name">
								<div class="col-md-12">
									<img src="/media/flags/{{ team.get_flag_list.1 }}" alt="" >
									<a class="h5" href='{% url "portal:team" team.alias %}'>{{ team.name }}</a>
								</div>
								<div class="col-md-12">
									{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}
								</div>
							</div>
                        </div>
                    {% endfor %}
                </div>
				<header class="pix-heading-title">
                    <h2 class="pix-heading-color pix-section-title">Группы</h2>
                </header>
				<div class="row bot_mrg">
					<div class="col-md-12 groups">
						<h3>Группа A</h3>
						<table>
							<tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
							<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
						</table>
						<h3>Группа B</h3>
						<table>
							<tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
							<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
						</table>
					</div>
				</div>
				<header class="pix-heading-title hidden-xs">
                    <h2 class="pix-heading-color pix-section-title">История всех кубков конфедераций(1992-2017)</h2>
                </header>
				<div class="row bot_mrg hidden-xs">
					<div class="col-md-12 conf_hist">
						<h3>Кубок короля Фахда(Предшественник турнира)</h3>
						<table>
							<tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
							<tr><td>1992</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>4</td><td><img src="/static/khl/flags-f/arg.png">Аргентина</td><td><img src="/static/khl/flags-f/arg.png">Фернандо Редондо</td></tr>
							<tr><td>1995</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>6</td><td><img src="/static/khl/flags-f/den.png">Дания</td><td><img src="/static/khl/flags-f/den.png">Брайн Лаудруп</td></tr>
						</table>
						<h3>Кубок конфедераций</h3>
						<table>
							<tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
							<tr><td>1997</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Денильсон</td></tr>
							<tr><td>1999</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td>8</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td><img src="/static/khl/flags-f/bra.png">Рональдиньо</td></tr>
							<tr><td>2001</td><td><img src="/static/khl/flags-f/kor.png"><img src="/static/khl/flags-f/jp.png">Корея\Япония</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Робер Пирес</td></tr>
							<tr><td>2003</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Тьерри Анри</td></tr>
							<tr><td>2005</td><td><img src="/static/khl/flags-f/ger.png">Германия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Адриано</td></tr>
							<tr><td>2009</td><td><img src="/static/khl/flags-f/yar.png">ЮАР</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Кака</td></tr>
							<tr><td>2013</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Неймар</td></tr>
							<tr><td>2017</td><td><img src="/media/flags/rus.png">Россия</td><td>8</td><td>?</td><td>?</td></tr>
						</table>
					</div>
				</div>
				<header class="pix-heading-title">
                    <h2 class="pix-heading-color pix-section-title">Стадионы кубка конфедераций 2017</h2>
                </header>
				<div class="row bot_mrg">
					<div class="col-md-12 stadiums">
                        {% for stadium in stadiums %}
                            {% if forloop.counter > 22 and forloop.counter < 27 %}
                                <div class="col-md-6 col-sm-12">
                                    <span><a href="{% url 'portal:stadium' stadium.alias %}">{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</a></span>
                                    <a href="{% url 'portal:stadium' stadium.alias %}"><img src="{{ stadium.image }}" alt=""></a>
                                </div>
                            {% endif %}
                        {% endfor %}					
					</div>
				</div>
				<header class="pix-heading-title">
                    <h2 class="pix-heading-color pix-section-title">Дорого в россию</h2>
                </header>
				<div class="row bot_mrg">
					<div class="col-md-12 road_to">
						<div class="col-md-4">
							<img src="/static/khl/continents/africa.jpg">
							<span>Африка</span>
							<p>
								Африканская путевка на Кубок Конфедераций ФИФА будет
								разыграна на Кубке африканских наций, который пройдет
								в Габоне ранее в 2017 году.
							</p>
						</div>
						<div class="col-md-4">
							<img src="/static/khl/continents/asia.jpg">
							<span>Азия</span>
							<p>Азию на Кубке конфедераций FIFA 2017 в России представит
							Австралия, которая выиграла Кубок Азии-2015. 31 января 2015
							года "Соккеруз" обыграли в драматичном финале домашнего турнира
							Южную Корею со счетом 2:1.</p>
						</div>
						<div class="col-md-4">
							<img src="/static/khl/continents/europe.jpg">
							<span>Европа</span>
							<p>Европейский участник Кубка конфедераций FIFA 2017
							определится на Евро-2016 УЕФА. Турнир пройдет с 10 июня по 10 июля 2016 года.
							Победитель Евро отправится представлять континент в Россию.</p>
						</div>
						<div class="col-md-4">
							<img src="/static/khl/continents/ncamerica.jpg">
							<span>Северная и Центральная Америка</span>
							<p>Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов
							сборные США и Мексики определили участника Кубка
							конфедераций FIFA 2017 в России в стыковом матче: 
							мексиканцы выиграли со счетом 3:2 в
							Пасадене (Калифорния) и стали 5-м по счету участником турнира.</p>
						</div>
						<div class="col-md-4">
							<img src="/static/khl/continents/oceania.jpg">
							<span>Океания</span>
							<p>Победитель следующего Кубка Наций ОФК, который состоится с мая по
							июнь 2016 года получит путевку на Кубок конфедераций FIFA 2017 в России.</p>
						</div>
						<div class="col-md-4">
							<img src="/static/khl/continents/southamerica.jpg">
							<span>Южная Америка</span>
							<p>Сборная Чили впервые станет участником Кубка конфедераций 
							FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира
							4 июля 2015 года чилийцы обыграли Аргентину
							в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.</p>
						</div>
					</div>
				</div>
            </div>
        </div>
        <div class="element_size_100">
            <div class="tabs horizontal">
                <header class="pix-heading-title">
                    <h2 class="pix-heading-color pix-section-title">Ближайшие матчи</h2>
                </header>
                <div class="tab-content">
                    
                    <div class="event event-listing" id="main-matches">
                        {% for match in last_matches %}
                            {% include "main/_match_item.html" %}
                        {% empty %}
                            <p>К сожалению, о последних матчах сведений нет.</p>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div class="element_size_100">
            <div class="blog blog_detail">
                <article>
                    {{ data.content|safe }}
                </article>
            </div>
        </div>
    </div>
    {% include "main/_right_block.html" %}
    {% endblock %}