{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9 lightbox">
            <div class="subtitle">
                <div class="pix-page-title px-single-page-title h1">{{ data.command_first }} <span>-</span> {{ data.command_second }}</div>
            </div>
            <div class="element_size_100">
                <div class="match-detail">
                    <!-- Featued Event -->
                    <div class="featured-event">
                        <div class="featured-inn">
                            <div class="pix-sc-team match-online">
                                <ul>
                                    <li>
                                        <figure>
                                            <img alt="" src="/media/logo/{{ data.command_first.get_logo_list.0 }}">
                                        </figure>
                                    </li>
                                    <li class="sec-section">
                                        <h2>
                                            <a href="{% url 'portal:team' data.command_first.alias %}">{{ data.command_first }}</a> 
                                            <span>-</span> 
                                            <a href="{% url 'portal:team' data.command_second.alias %}">{{ data.command_second }}</a> 
                                        </h2>
                                    </li>
                                    <li>
                                        <figure>
                                            <img alt="" src="/media/logo/{{ data.command_second.get_logo_list.0 }}">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <hr style="width: 100%;border-width:2px">
                            <!--<header class="pix-cont-title">
                                <h2 class="pix-section-title">
                                    <span>KICK-OFF: 06:30</span>
                                </h2>
                            </header>-->
                            <div class="bottom-event-panel">
                                <div class="match-result">
                                    <span>
                                    {% if data.goals %}
                                        {% for goal in data.goals %}
                                            {% if forloop.last %}
                                                <big>{{ goal.score.0 }} - {{ goal.score.1 }}</big>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <big>0 - 0</big>
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="option-sec">
                                <ul class="post-options">
                                    <!--<li><i class="fa fa-user"></i><time>kings club</time></li>-->
                                    <li><i class="fa fa-calendar"></i><time>{{ data.datetime }}</time></li>
                                    <li><i class="fa fa-map-marker"></i>{{ data.stadium }}</li>
                                </ul>
                                <!--<a style=" background-color: #489DD0" class="btn pix-btn-open" href="javascript:"> <i class="fa fa-money"></i>Купить билеты</a>-->
                            </div>
                            {% if data.referee %}
                            <div class="option-sec">
                                <ul class="post-options">
                                    <li style="float: none;">{{ data.status }}</li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <p><b>Стадион</b>: {{ data.stadium }} ({{ data.stadium.city }}, {{ data.stadium.country }}) , <b>вместимость</b>: {{ data.stadium.traffic }} , {% if data.referee %}<b>посещаемость</b>: {{ data.people }}{% endif %}<br>
                            {% if data.referee %}<b>Главный судья</b>: {{ data.referee.name }} ({{ data.referee.place }}){% endif %}  <br>
                            {% if data.assistent1 %}<b>Ассистент</b>: {{ data.assistent1.name }} ({{ data.assistent1.place }}) {% endif %} <br>
                            {% if data.assistent2 %}<b>Ассистент</b>: {{ data.assistent2.name }} ({{ data.assistent2.place }})) {% endif %}  <br>
                            {% if data.reserve %}<b>Резервный</b>: {{ data.reserve.name }} ({{ data.reserve.place }}){% endif %} </p>
                        </div>
                    </div>
                    {% if data.osnova1 %}
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <h2>Основной состав</h2>
                            <table class="col-md-6">
                                <thead>
                                    <tr>
                                        <th>{{ data.command_first }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sostav in data.osnova1 %}
                                    <tr>
                                        <td>
                                            <span class="number">{{ sostav.number }}</span> 
                                            <span class="pos">{{ sostav.position }}</span>
                                            <img alt="" width="20" src="/media/flags/{{ data.command_first.get_flag_list.1 }}" >
                                            {{ sostav.player }} 
                                            <span class="zamena">{{ sostav.type }}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <table class="col-md-6">
                                <thead>
                                    <tr>
                                        <th>{{ data.command_second }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sostav in data.osnova2 %}
                                    <tr>
                                        <td>
                                            <span class="number">{{ sostav.number }}</span>
                                            <span class="pos">{{ sostav.position }}</span>
                                            <img alt="" width="20" src="/media/flags/{{ data.command_second.get_flag_list.1 }}">
                                            {{ sostav.player }} 
                                            <span class="zamena">{{ sostav.type }}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% if data.zamena1 %}
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <h2>Запасной состав</h2>
                            <table class="col-md-6">
                                <thead>
                                    <tr>
                                        <th>{{ data.command_first }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sostav in data.zamena1 %}
                                    <tr>
                                        <td><span class="number">{{ sostav.number }}</span> <span class="pos">{{ sostav.position }}</span> {{ sostav.player }} {{ sostav.type }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <table class="col-md-6">
                                <thead>
                                    <tr>
                                        <th>{{ data.command_second }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sostav in data.zamena2 %}
                                    <tr>
                                        <td><span class="number">{{ sostav.number }}</span> <span class="pos">{{ sostav.position }}</span> {{ sostav.player }} {{ sostav.type }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% if data.trener1 %}
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <h2>Тренерский состав</h2>
                            <table class="col-md-6">
                                <thead>
                                    <tr>
                                        <th>{{ data.command_first }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ data.trener1.name }} ({{ data.trener1.place }})</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="col-md-6">
                                <thead>
                                    <tr>
                                        <th>{{ data.command_second }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ data.trener2.name }} ({{ data.trener2.place }})</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% if data.goals %}
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <h2>Голы</h2>
                            <table class="col-md-6">
                                <thead>
                                    
                                </thead>
                                <tbody>
                                    {% for goal in data.goals %}
                                    <tr>
                                        <td>{{ goal.team }} - {{ goal.player.0 }}{% if goal.player.1 %}, {{ goal.player.1 }}{% endif %} : {{ goal.minute }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% if data.foals %}
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <h2>Нарушения</h2>
                            <table class="col-md-6">
                                <thead>
                                    
                                </thead>
                                <tbody>
                                    {% for foal in data.foals %}
                                    <tr>
                                        <td>{{ foal.team }} - {{ foal.player }} : {{ foal.minute }} <b>{{ foal.card }}</b></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% if data.text %}
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text row">
                            <h2>Текстовая трансляция</h2>
                            <table class="col-md-12">
                                <thead>
                                    
                                </thead>
                                <tbody>
                                    {% for text in data.text %}
                                    <tr>
                                        <td>{{ text.minute }}</td> 
                                        <td>
                                            {% if text.score %}
                                                <span>{{ text.score.0 }} : {{ text.score.1 }}</span>
                                            {% elif text.event == "empty" %}
                                                <span></span>
                                            {% else %}
                                                <img src="/static/main/img/match_icon_{{ text.event }}.svg">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if text.player %}
                                                <!-- <img src="/media/logo/{{ text.player.team.get_logo_list.0 }}">  -->
                                                {{ text.player }}
                                            {% endif %}
                                        </td>
                                        <td style="width: 60%;">{{ text.text }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Карта стадиона -->
                    <!-- <div class="pix-content-wrap" style="position:relative;">
                        <svg id="svg-scheme" version="1.1" width="100%" height="600" xmlns="http://www.w3.org/2000/svg" data-src="/media/files/ubi.svg"></svg>
                    </div> -->
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text">                            
                            {% if data.content %}{{ data.content|safe }}{% endif %}
                        </div>
                        <!--<div class="share-post">
                            <ul class="social-network"><a class="addthis_button_compact btn share-now pix-bgcolr" href="#"><i class="fa fa-share-square-o"></i>Share Now</a></ul>
                        </div>-->
                        <!-- Share Post Close -->
                        <div class="prev-nex-btn">
                            <div class="single-paginate">
                                {% if prev %}
                                <div class="next-post-paginate">
                                    <a href="{% url 'portal:match' prev.alias %}" class="pix-colr"><i class="fa fa-arrow-left"></i>
                                        Предыдущий матч               
                                    </a>
                                    <h2 class="px-single-page-title">
                                        <img alt="" width="20" src="/media/flags/{{ prev.command_first.get_flag_list.1 }}" style="border-radius:100%;">
                                        {{ prev.command_first }}
                                        <span>-</span> 
                                        <img alt="" width="20" src="/media/flags/{{ prev.command_second.get_flag_list.1 }}" style="border-radius:100%;">
                                        {{ prev.command_second }}
                                        
                                    </h2>
                                    <ul>
                                        <li>{{ prev.datetime|ru_strftime:"%d %B, %Y %H:%M" }}</li>
                                    </ul>
                                </div>
                                {% endif %}
                                {% if next %}
                                <div class="next-post-paginate">
                                    <a href="{% url 'portal:match' next.alias %}" class="pix-colr"><i class="fa fa-arrow-right"></i>
                                        Следущий матч
                                    </a>
                                    <h2 class="px-single-page-title">
                                        <img alt="" width="20" src="/media/flags/{{ next.command_first.get_flag_list.1 }}" style="border-radius:100%;">
                                        {{ next.command_first }}
                                        <span>-</span> 
                                        <img alt="" width="20" src="/media/flags/{{ next.command_second.get_flag_list.1 }}" style="border-radius:100%;">
                                        {{ next.command_second }}
                                    </h2>
                                    <ul>
                                        <li>{{ next.datetime|ru_strftime:"%d %B, %Y %H:%M" }}</li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element_size_100">
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}