{% extends "main/__base.html" %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-12">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title"><img src="/media/logo/{{ data.team.get_logo_list.0 }}" width="50" alt=""> {% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            </div>
            <!-- Element size 100 Start -->
            <div class="element_size_100">
                <!-- Teamdetail Start -->
                <div class="teamdetail">
                    <!-- Article Start -->
                    <article>
                        <div class="rich_text_editor detail_text">
                            <div class="team-sec">
                                <img src="{{ data.image }}" class="alignleft" alt="">
                                <div class="team-inn">
                                    {% if data.number != "Нет данных" %}
                                        <span class="pix-player-no pix-bgcolr">{{ data.number }}</span>
                                    {% else %}
                                    {% endif %}
                                    <div class="player-info ">
                                        <ul>
                                            {% if birth != "Нет данных" %}
                                            <li>
                                                <span>Дата рождения</span><time>{{ birth }}</time>
                                            </li>
                                            {% else %}
                                            {% endif %}
                                            {% if data.height != "Нет данных" %}
                                                <li>
                                                    <span>Рост</span><time>{{ data.height }}</time>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                            {% if data.weight != "Нет данных" %}
                                                <li>
                                                    <span>Вес</span><time>{{ data.weight }}</time>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                            <li>
                                                <span>Амплуа</span>{{ data.position }}                                    
                                            </li>
                                            <li>
                                                <span>Сборная</span><time>{{ data.team }}</time>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="player-twitt-feeds">
                                        <!-- {{ data.twitter }} -->
                                    </div>
                                    <!--<div class="share-post">
                                        <ul class="social-network"><a class="addthis_button_compact btn share-now pix-bgcolr" href="#"><i class="fa fa-share-square-o"></i>Share Now</a></ul>
                                    </div>-->
                                </div>
                            </div>
                            <div class="team-detail-text">
                                {% if data.content %}
                                    {{ data.content|safe }}
                                {% else %}
                                    <blockquote>
                                    <p>Играет за национальную сборную {{ data.team }}. {{ data.name }} появился на свет {{ birth }} В команде занимает позицию {{ data.position }}.</p>
                                    <p>Игрок обладает следующими физическими данными: Рост: {{ data.height }}, Вес: {{ data.weight }}. Помимо сборной, {{ data.name }} тренеруется и играет за футбольный клуб {{ data.club }}. Надеемся что мы сможем наблюдать {{ data.name }} в финальной части чемпионта мира по футболу, который будет проходить в России, под флагом {{ data.team }}.</p>
                                    </blockquote>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}