{% load i18n admin_static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="description" content="{{ data.description }}">
        <meta name="keywords" content="{{ data.keywords }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link href="/static/template11/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/template11/simple-line-icons/css/simple-line-icons.css">
        <link href="/static/template11/css/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="/static/template11/css/jcarousel.css" rel="stylesheet" />
        <link href="/static/template11/css/flexslider.css" rel="stylesheet" />
        <link href="/static/template11/js/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="/static/template11/css/style.css" rel="stylesheet" />
	</head>
	<body>
        <div id="wrapper" class="home-page">
            {% include "template11/_header.html" %}
            {% block main_content %}{% endblock %}
            {% include "template11/_footer.html" %}
    </body>
</html>