	<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Наши контакты</h5>
                        <address>
                        <strong>Москва</strong><br>
                        Нащ адрес не дом и не улица</address>
                        <p>
                            <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                            <i class="icon-envelope-alt"></i>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Что у нас сегодня в меню</h5>
                        <ul class="link-list">
                            <li><a href="#">Latest Events</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>Кубок Конфедераций 2017</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/template11/js/jquery.js"></script>
    <script src="/static/template11/js/jquery.easing.1.3.js"></script>
    <script src="/static/template11/js/bootstrap.min.js"></script>
    <script src="/static/template11/js/jquery.fancybox.pack.js"></script>
    <script src="/static/template11/js/jquery.fancybox-media.js"></script> 
    <script src="/static/template11/js/portfolio/jquery.quicksand.js"></script>
    <script src="/static/template11/js/portfolio/setting.js"></script>
    <script src="/static/template11/js/jquery.flexslider.js"></script>
    <script src="/static/template11/js/animate.js"></script>
    <script src="/static/template11/js/custom.js"></script>
    <script src="/static/template11/js/owl-carousel/owl.carousel.js"></script>