    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li {% if host == 'index' %}class="active"{% endif %}><a href="/">Главная</a></li>
                        <li {% if host == 'teams' %}class="active"{% endif %}><a href="/teams/">Команды</a></li>
                        <li {% if host == 'matches' %}class="active"{% endif %}><a href="/matches/">Матчи</a></li>
                        <li {% if host == 'contacts' %}class="active"{% endif %}><a href="/contacts/">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
		<div class="navbar-wrapper">
            <div class="container-fluid">
                <nav class="navbar navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
						<a class="navbar-brand" href="/"><img width="200" src="/static/template11/images/12333.png" alt="logo"/></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">						
							<ul class="nav navbar-nav">
								<li {% if host == 'index' %}class="active"{% endif %}><a href="/">Главная</a></li>
                                <li {% if host == 'teams' %}class="active"{% endif %}><a href="/teams/">Команды</a></li>
                                <li {% if host == 'matches' %}class="active"{% endif %}><a href="/matches/">Матчи</a></li>
                                <li {% if host == 'contacts' %}class="active"{% endif %}><a href="/contacts/">Контакты</a></li>
							</ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
		
	</header>
    