    <div class="col-md-3 col-sm-4 col-xs-6 player-item" style="height: 230px;">
        <div class="player-img">
            <a href="javascript:"><img src="{{ player.image }}"></a>
        </div>
        <div class="player-name">
            <a href="javascript:"><span>{{ player.name }}</span></a><br>
            <em>{{ player.position }}</em>
        </div>
    </div>