    <div class="col-md-3 col-sm-6 col-xs-12 countr-block">
        <a href="{% url 'portal:team' team.alias %}"><img src="/media/logo/{{ team.get_logo_list.0 }}"></a>
        <a href="{% url 'portal:team' team.alias %}"><span>{{ team.name }}</span></a>
    </div>