{% extends "template10/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="breadcrumbs">
      <div class="container">
        <header>
          <h3>Контакты</h3>
        </header>
      </div>
      <!-- container ends here -->
      <hr class="separator1">
    </div>
    <div class="container contact"> 
      <div class="one_third">
        <h3>Our Info</h3>
        <section class="first shadow">
          <ul>
            <li>123456 Street Name, London</li>
            <li>Phone: (1800) 987-12341</li>
            <li>Fax: (1800) 987-12341</li>
            <li>Website: <a href="#" title="">http://yoursitename.com</a></li>
            <li>Email: <a href="#" title="">info@freebix.com</a></li>
          </ul>
        </section>
      </div>
      <!-- one_third ends here -->
      <div class="two_third lastcolumn contact1">
        <div id="contactForm">
          <h3>Обратная связь</h3>
          <div class="sepContainer"></div>
          <form action="process.php" method="post" id="contact_form">
            <div class="name">
              <label for="name">Ваше Имя:</label>
              <input id=name name=email type=text placeholder="e.g. Mr. John Smith" required />
            </div>
            <div class="email">
              <label for="email">Email:</label>
              <input id=email name=email type=email placeholder="example@domain.com" required />
            </div>
            <div class="message">
              <label for="message">Сообщение:</label>
              <textarea id=message name=message rows=6 cols=10 required></textarea>
            </div>
            <div id="loader">
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div>
        <!-- end contactForm --> 
      </div>
    </div>
    <div class="blankSeparator"></div>
{% endblock %}