{% extends "template11/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="banner">

	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="/static/template11/images/1.jpg" alt="" />
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="flex-caption">
								<span>Кубок конфедераций 2017</span> 
								<p>с 17 Июня по 2 июля</p>  
							</div>
						</div>
					</div>
				</div>
            </li>
            </ul>
        </div>
		
	<!-- end slider -->
 
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Заголовок</h1>
				<iframe style="margin: 0 auto 20px; display: table; border: 5px solid #ddd; box-shadow: 0 0 0 5px #3f3f3f; width: 600px; height: 345px;" width="400" height="230" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen=""></iframe><p>На домашнем Кубке Конфедераций Неизвестно готова распахнуть свою широкую душу перед миллионами болельщиков и гостей со всей планеты, вдохновляя каждого, кто захочет постичь ее удивительный мир.</p>
			</div>
		</div>
	</div>
	</section>
	
	
	<section id="content">
	
	
	<div class="container">
		<div class="row">
			<div class="skill-home">
				<div class="skill-home-solid clearfix"> 
					{% for team in champ_teams %}
					<div class="col-md-3 text-center">
						<div class="box-content"> 
							<span class="icons c1"><img style="border: 1px solid #ddd;" src="/media/flags/{{ team.get_flag_list.1 }}" alt="" >{{ team.name }}</span>
							<div class="box-area">
								<a href='{% url "portal:team" team.alias %}'><span style="text-align: center; display: block; font-size: 16px;">{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span></a> <p>{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}</p>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="col-md-3 text-center">
						<div class="box-content"> 
							<span class="icons c1"><img style="border: 1px solid #ddd;" src="/media/flags/rus.png" alt="">Неизвестно</span>
							<div class="box-area">
								<a href="/teams/rossiya/"><span style="text-align: center; display: block; font-size: 16px;">Страна-организатор</span></a> <p>Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="box-content"> 
							<span class="icons c1"><img style="border: 1px solid #ddd;" src="/media/flags/rus.png" alt="">Неизвестно</span>
							<div class="box-area">
								<a href="/teams/rossiya/"><span style="text-align: center; display: block; font-size: 16px;">Страна-организатор</span></a> <p>Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="box-content"> 
							<span class="icons c1"><img style="border: 1px solid #ddd;" src="/media/flags/rus.png" alt="">Неизвестно</span>
							<div class="box-area">
								<a href="/teams/rossiya/"><span style="text-align: center; display: block; font-size: 16px;">Страна-организатор</span></a> <p>Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	 

	</div>
	</section>
	<section class="features">
        <div class="container">
		  	<div class="row">
			<div class="col-md-12">
				<div><h2>Группы</h2>Команды группового этапа</div>
				<br/>
			</div>
		</div>
          <div class="row">         
            <div class="col-md-12 groups">
				<h3>Группа A</h3>
				<table class="table table-bordered">
					<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
					<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
				</tbody></table>
				<h3>Группа B</h3>
				<table class="table table-bordered">
					<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
					<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
				</tbody></table>
			</div>
          </div>
        </div>
      </section>
	  
		<section class="aboutUs">
	<div class="container">
		<div class="row">
		<div class="col-md-6"><img src="/static/template11/images/rus.jpg" class="img-center" alt="" /></div>
			<div class="col-md-6">
				<div><h2><a href="/teams/rossiya/">Сборная России</a></h2>
				<p>Российская футбольная сборная располагает более чем столетней историей выступлений на Олимпийских играх, чемпионатах мира и Европы. Сборная Российской империи по футболу впервые появилась на V Летних Олимпийских играх в Стокгольме в 1912 году. В соревнованиях команда провела два матча, уступив в первом из них сборной Великого княжества Финляндского в 1/4 финала со счётом 1:2 (Великое княжество Финляндское, которое на тот момент являлось частью Российской империи и выступала под российским триколором, в итоге заняла 4-е место).</p>
				</div>
				<br/>
			</div>
		</div> 
		<h2>Ближайшие матчи</h2>
		<div class="match_list">
			<ul>
				{% for match in last_matches %}
					{% include "template11/_match_item.html" %}
				{% empty %}
					<p>К сожалению, о последних матчах сведений нет.</p>
				{% endfor %}
			</ul>
		</div>
	</div>
	</section>
{% endblock %}