{% extends "template11/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="pageTitle">Матчи</h1>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="col-md-12 match_list">
				<ul>
                    {% for match in matches %}
                        {% include "template11/_match_item.html" %}
                    {% empty %}
                        <p>К сожалению, сведений о командах не найдено.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
	</section>
            
{% endblock %}