{% extends "template11/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pageTitle">Команды</h1>
                </div>
            </div>
        </div>
	</section>
	<section id="content">
		<div class="container">
                {% for team in teams %}
                    {% include "template11/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
        </div> 
    </section>  
{% endblock %}