{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="description" content="HTML framework description">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Styles -->
        <link rel="stylesheet" href="/static/template1/css/general.css">
        <!-- Google fonts -->
        <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic%7COswald:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!-- Font awesome -->
        <link rel="stylesheet" href="/static/template1/css/font-awesome.css">
        <!-- Modernizr -->
        <script type='text/javascript' src='/static/template1/js/libs/modernizr-2.5.3.min.js'></script>
	</head>
	<body>
        <div class="main-container">
            {% include "template1/_header.html" %}
            {% block main_content %}{% endblock %}
        {% include "template1/_footer.html" %}
    </body>
</html>