    <footer>
		<div class="container">
			<div class="col-2"><a href="/"><img style="margin: 0px 0px 0px 10px;" src="/static/template1/img/qwe.png" alt=""/></a></div>
			<div class="col-6">
				<p></p>
			<div class="col-4">
			</div><div class="col-6"><p class="copyright">2017  - Кубок конфедераций </p></div>
			</div>
			<div class="col-2">
			<h3>Информация</h3>
				<ul >
					<li><a href="#">Команды</a></li>
					<li><a href="#">Чемпионаты</a></li>
					<li><a href="#">Стадионы</a></li>

				</ul>
			</div>
			<div class="col-2">
			<h3>Поддержка</h3>
				<ul>
					<li><a href="#">Безопастность</a></li>
					<li><a href="#">Правила</a></li>
					<li><a href="#">Карта сайта</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</div>
    </footer>

    <!-- Libs -->
    <script src="/static/template1/js/libs/jquery-1.10.2.min.js"></script>
    <script type='text/javascript' src='/static/template1/js/libs/jquery.flexslider-min.js'></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="/static/template1/js/jquery.bxslider.min.js"></script>

    <!-- Custom -->
    <script src="/static/template1/js/scripts.js"></script>