   	<div class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="/static/template1/css/images/slider.jpg" alt=""/>
				</li>
				<li>
					<img src="/static/template1/css/images/slider2.jpg" alt=""/>
				</li>
				<li>
					<img src="/static/template1/css/images/slider3.jpg" alt=""/>
				</li>
			</ul>
		</div>
	</div>
    <header>
		<div class="top">
			<div class="container">
				<div class="col-12">
				  <div class="col-4">
					<a href="/"><div class="logo"><img style=" float: left; width: 77px; margin-right: 10px;" src="/static/template1/img/llogo.png" alt=""/><img style=" float: left; width: 190px;" src="/static/template1/img/text.png" alt=""/></div></a>
				  </div>
					<nav id="top-menu">
						<ul class="clearfix">
							<li {% if host == 'index' %}class="active"{% endif %}><a href="/">Главная</a></li>
							<li {% if host == 'teams' %}class="active"{% endif %}><a href="/teams/">Страны</a></li>
							<li {% if host == 'matches' %}class="active"{% endif %}><a href="/matches/">Матчи</a></li>
							<li><a href="#">Галерея</a>
							</li>
							<li><a href="#">Контакты</a></li>
							
						</ul>
						<a href="#" id="pull">Меню</a>
					</nav>
                    <nav class="mobilemenu">
                        <select>
                            <option value="/">Главная</option>
                            <option value="/teams/">Страны</option>
                            <option value="/matches/">Матчи</option>
                            <option value="#">Контакты</option>
                        </select>
                    </nav>
				</div>
			</div>
		</div>
    </header>