    <div class="slide-player col-4 ">
        <img src="{{ player.image }}" alt="">
        <div class="player-name">
            <a href="{% url 'portal:player' player.alias %}">{{ player.name }}</a>
            <p>{{ player.position }}</p>
        </div>
    </div>