    <div class="slide-player col-4 ">
        <a href="{% url 'portal:team' team.alias %}">
            <img src="/media/logo/{{ team.get_logo_list.0 }}" alt="">
        </a>
        <div class="player-name">
            <a href="{% url 'portal:team' team.alias %}">{{ team.name }}</a>
        </div>
    </div>