{% extends "template1/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="m-a-n">
        <div class="container">
            <div class="col-12">
                <div class="tab">Матчи</div>
                {% for match in last_matches %}
                    {% if forloop.first %}
                        <div class="match">
                            <div class="col-6">
                                <div class="m-img"><img src="/media/photos/{{ match.command_first.get_photo_list.0 }}" alt=""/></div>
                            </div>
                            <div class="col-6">
                                <div class="m-img"><img src="/media/photos/{{ match.command_second.get_photo_list.0 }}" alt=""/></div>
                            </div>
                            <div class="m-result">
                            <div class="logo-club col-3"><img src="/media/logo/{{ match.command_first.get_logo_list.0 }}" alt=""/></div>
                            <span class="result col-6">- <b>:</b> -</span>
                            <div class="logo-club col-3"><img src="/media/logo/{{ match.command_second.get_logo_list.0 }}" alt=""/></div>
                            <div class="club-name col-12">
                            <span class="col-3">{{ match.command_first }}</span>
                            <div class="match-name col-6">Кубок конфедераций <br> {{match.group}} <br> <b>{{ match.datetime|ru_strftime:"%d %B %H:%M" }}</b></div>
                            <span class="col-3">{{ match.command_second }}</span>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="a-games">
                    <ul class="clearfix">
                        {% for match in last_matches %}
                            {% if not forloop.first %}
                                <li><span class="text-right">{{ match.command_first }}</span><span class="d-g">{{ match.datetime|ru_strftime:"%d %B %H:%M" }}</span><span class="text-left">{{ match.command_second }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
	</section>
	<!-- section for teaser -->
	<section >
	  <div class="container">
        <article class="content-main">
            <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            {{ data.content|safe }}
        </article>
	  </div>
	</section>
	<section id="video">
	<div class="container">
			<div id="v-tabs">
				<table style="font-size: 90%; float: left; background: #fff; text-align: center; color: #333; width: 319px; margin-bottom: 8px;">
					<tbody>
						<tr>
							<th colspan="2" style="background-color:#AAD0FF; color:black; text-align:center; padding:0.3em"><big>Кубок конфедераций 2017</big><br>
								<small><i>FIFA Confederations Cup 2017</i></small>
							</th>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center;; padding:0.3em"><img alt="Кубок конфедераций 2017" src="/static/template1/img/wiki-log.png"></td>
						</tr>
						<tr style="background-color:#EBF5FF; color:black; text-align:center">
							<td colspan="2"><b>Подробности чемпионата</b></td>
						</tr>
						<tr>
							<td><b>Место проведения</b></td>
							<td><span style="white-space: nowrap;"><span style="display: none; speak: none;">Россия</span><span class="flagicon"><img src="/static/template1/img/rus.png" style="margin-right: 6px;" width="22" height="15"></span>Россия</span></td>
						</tr>
						<tr>
							<td><b>Города проведения</b></td>
							<td>4</td>
						</tr>
						<tr>
							<td><b>Стадионы</b></td>
							<td>4</td>
						</tr>
						<tr>
							<td><b>Сроки турнира</b></td>
							<td>17 июня — 2 июля 2017</td>
						</tr>
						<tr>
							<td><b>Число участников</b></td>
							<td>8</td>
						</tr>
					</tbody>
				</table>
				<div id="section-1" class="tab-content col-8"><iframe width="635" height="375" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen></iframe></div>
			
			</div>
		<div class="players">
			<div class="col-4">
				<div class="our">
					<h3><span>Сборная</span> России</h3>
				</div>
				<div class="all-team">
					<a href="/teams/rossiya/">Все игроки ›</a>
				</div>
			</div>
			<div class="col-8">
				<div class="slider1">
                    {% for pl in ru_players %}
                        <div class="slide col-4"><img src="{{ pl.image }}" alt=""/><div class="player-name"><a href="team.html">{{ pl.name }}</a><p>{{ pl.position }}</p></div></div> 
                    {% endfor %}
                </div>
			</div>
		</div>
		
	</div>
	</section>
	<!-- twiter, blog, table -->
		<section id="partner">
        <div class="container">
			<h2>Список участников</h2>
			{% for team in champ_teams %}
				<div class="col-12 team_participant">
					<div class="row title_countr">
						<span>{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
					</div>
					<div class="col-2 football_logo">
						<img src="/media/logo/{{ team.get_logo_list.0 }}" alt="">
					</div>
					<div class="col-10 flag_and_name">
						<div class="">
							<img src="/media/flags/{{ team.get_flag_list.1 }}" alt="" >
							<a class="h5" href='{% url "portal:team" team.alias %}'>{{ team.name }}</a>
						</div>
						<div class="col-12">
							{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}
						</div>
					</div>
				</div>
			{% endfor %}
        </div>
	</section>
	<section id="ttb">
		<div class="container">
			<div class="col-6">
				<h3>Группа A</h3>
				<table class="table table-bordered">
					<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
					<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
				</tbody></table>
			</div>
			<div class="col-6">
				<h3>Группа B</h3>
				<table class="table table-bordered">
					<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
					<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
				</tbody></table>
			</div>
		</div>
	</section>
	<section class="stadiums-bl">
		<div class="container">
			<h2>Стадионы кубка конфедераций 2017</h2>
			<div class="col-12 stadiums">
				{% for stadium in stadiums %}
					{% if forloop.counter > 22 and forloop.counter < 27 %}
						<div class="col-12">
							<span>{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</span>
							<img src="{{ stadium.image }}" alt="">
						</div>
					{% endif %}
				{% endfor %}					
			</div>
		</div>
	</section>
{% endblock %}