{% extends "template1/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section>
	  <div class="container">
		<h1 style="text-align: center; margin-top: 1em;">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.command_first }} - {{ data.command_second }}{% endif %}</h1>
		<div class="col-12">
			<div class="match">
				<div class="col-6">
					<div class="m-img"><img src="/media/photos/{{ data.command_first.get_photo_list.0 }}" alt=""></div>
				</div>
				<div class="col-6">
					<div class="m-img"><img src="/media/photos{{ data.command_second.photo }}" alt=""></div>
				</div>
				<div class="m-result">
				<div class="logo-club col-3"><img src="/media/logo/{{ data.command_first.get_logo_list.0 }}" alt=""></div>
				<span class="result col-6">- <b>:</b> -</span>
				<div class="logo-club col-3"><img src="/media/logo/{{ data.command_second.get_logo_list.0 }}" alt=""></div>
				<div class="club-name col-12">
				<span class="col-3">{{ data.command_first }}</span>
				<div class="match-name col-6">{{ data.champ }}<br />{{ data.group }}<br /><b>{% if match.datetime %}{{ match.datetime|ru_strftime:"%d %B %H:%M" }}{% endif %}</b></div>
				<span class="col-3">{{ data.command_second }}</span>
				</div>
				</div>
			</div>
			<div class="a-games">
				<h2>История встреч:</h2>
				<ul class="history-matches">
					<li><span class="event-date">Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</span><span class="team">Россия</span><span class="d-g">5:0</span><span class="team">Англия</span></li>
					<li><span class="event-date">Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</span><span class="team">Англия</span><span class="d-g">5:0</span><span class="team">Россия</span></li>
					<li><span class="event-date">Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</span><span class="team">Россия</span><span class="d-g">5:0</span><span class="team">Англия</span></li>
					<li><span class="event-date">Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</span><span class="team">Россия</span><span class="d-g">5:0</span><span class="team">Англия</span></li>
				</ul>
			</div>
		</div>
	  </div>
	</section>
{% endblock %}