{% extends "template1/__base.html" %}
    {% block main_content %}
    <section>
	  <div class="container">
		<h1 style="text-align: center; margin-top: 1em;">Матчи</h1>
		<ul class="matches-list">
			{% for match in matches %}
                {% include "template1/_match_item.html" %}
            {% empty %}
                <p>К сожалению, сведений о матчах не найдено.</p>
            {% endfor %}
		</ul>
	  </div>
	</section>
{% endblock %}