{% extends "template1/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<section >
	  <div class="container">
        <article class="content-main players-page">
            <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            <div class="sbor-inf">
                <img src="/media/photos/{{ data.get_photo_list.0 }}">
                <div class="sbor-stat">
                    <h2>Статистика</h2>
                    <table>
                        <tr><th>Турнир</th><th>ЗМ</th><th>ПМ</th><th>Место</th></tr>
                        <tr><td>Чемпонат Европы 2000</td><td>15</td><td>17</td><td>12</td></tr>
                        <tr><td>Чемпонат Мира 2002</td><td>15</td><td>17</td><td>12</td></tr>
                        <tr><td>Чемпонат Европы 2004</td><td>15</td><td>17</td><td>12</td></tr>
                        <tr><td>Чемпонат Мира 2006</td><td>15</td><td>17</td><td>12</td></tr>                                                                                                
                    </table>
                </div>
                <div class="team_content">
                    {% if data.content %}{{ data.content|safe }}{% endif %}
                </div>
                <h2>Состав</h2>
                <div class="sostav">
                    {% if coaches %}
                        <h2 class="pix-section-title">Тренерский состав</h2>
                        {% for player in coaches %}
                            {% include "template1/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if goalkeepers %}
                        <h2 class="pix-section-title">Вратари</h2>
                        {% for player in goalkeepers %}
                            {% include "template1/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if defenders %}
                        <h2 class="pix-section-title">Защитники</h2>
                        {% for player in defenders %}
                            {% include "template1/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if midfielders %}
                        <h2 class="pix-section-title">Полузащитники</h2>
                        {% for player in midfielders %}
                            {% include "template1/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if attacks %}
                        <h2 class="pix-section-title">Нападающие</h2>
                        {% for player in attacks %}
                            {% include "template1/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if not coaches and not goalkeepers and not defenders and not attacks%}
                        <p>К сожалению, об игроках данной сборной сведений нет.</p>
                    {% endif %}
                </div>
            </div>
            <div class="right-inf">
                <img src="/media/logo/{{ data.get_logo_list.0 }}" alt="" style="position: relative;left: 12%;">
                <table class="infobox">
                    <tbody>
                        <tr>
                            <td>Федерация</td><td>{{ data.fed }}</td>
                        </tr>
                        <tr>
                            <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                        </tr>
                        <tr>
                            <td>Год основания</td><td>{{ data.founded }}</td>
                        </tr>
                        <tr>
                            <td>Адрес</td><td>{{ data.address }}</td>
                        </tr>
                        <tr>
                            <td>Телефон</td><td>{{ data.phone }}</td>
                        </tr>
                        <tr>
                            <td>Fax</td><td>{{ data.fax }}</td>
                        </tr>
                        <tr>
                            <td>E-mail</td><td>{{ data.email }}</td>
                        </tr>
                        <tr>
                            <td>Официальный сайт</td><td>{{ data.offsite }}</td>
                        </tr>
                        <tr>
                            <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <span>Группы сборной</span><br><br>
                {% for group in groups %}
                    <b>Группа {{ group.name }}</b>
                    <table>
                        <tr><th>Сборная</th><th>ЗМ</th><th>ПМ</th><th>О</th></tr>
                        {% for team_item in group.teams.all %}
                        <tr><td>{{ team_item.name }}</td><td>0</td><td>0</td><td>0</td></tr>
                        {% endfor %}
                    </table>
                {% endfor %}
                {{ data.widget|safe }}
            </div>
        </article>
	  </div>
	</section>
{% endblock %}