{% extends "template1/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section>
	  <div class="container">
		<h1 style="text-align: center; margin-top: 1em;">Команды</h1>
		<ul class="teams-list" style="width: 100%;padding: 0 7%;">
			{% for team in teams %}
                {% include "template1/_team_item.html" %}
            {% empty %}
                <p>К сожалению, сведений о командах не найдено.</p>
            {% endfor %}
		</ul>
	  </div>
	</section>
{% endblock %}