.bracket-line {
    fill: none;
    stroke: #333;
    stroke-width: 2px;
}
.match--identifier {
    fill: #333;
    font-size: 10px;
}
.match--wrapper-background {
    fill-opacity: 0;
    shape-rendering: auto;
}
.match--base-background, .match--player-background, .round-label.-editable:hover rect, .round-header-label.-editable:hover text {
    fill: #ddd;
}
.match--seed-background, .match--scores-background {
    fill: #999;
}
.match--seed {
    fill: #222;
    font-size: 10px;
    letter-spacing: -.5px;
    text-shadow: none;
}
.match--player-divider {
    stroke: #444;
    stroke-width: 1px;
}
.match--player-name.-placeholder {
    font-style: italic;
    font-size: 11px;
    fill: #333;
}
.third-place-match-label {
    fill: #333;
    font-weight: 700;
    transform: translate(0,-5px);
}