header#header .top-head{
	background-image: url(/media/items/B.png);
	opacity: 0.8;
}
.subtitle.h1 {
    text-transform: uppercase;
}
.on_menu {
    display: block !important;
}
#carouselarea .match-result img {
    float: left;
    width: 20px;
    margin-right: 5px;
    border: solid 1px transparent;
}
.event.event-listing article .match-result .btn {
    color: #fff;
    padding: 0 10px;
}
.news-item-title {
    font-family: 'League Gothic',sans-serif !important;
    font-size: 21px !important;
}
.news-item-title.news-item-title-min {
    font-size: 19px !important;
}
.matches-filter select {
    height: 27px;
    padding: 0 15px;
    line-height: 25px;
}
.matches-filter p {
    line-height: 28px;
    font-weight: bold;
    font-size: 12px;
}
@media (max-width: 1200px) {
    .matches-filter select {
        margin-bottom: 10px;
    }
    .matches-filter p {
        white-space: nowrap;
    }
}
@media (max-width: 1200px) {
    .gallery ul.gallery-eight-col li {
        width: 23%;
    }
}
@media (max-width: 768px) {
    .gallery ul.gallery-eight-col li {
        width: 100%;
    }
}

#svg-scheme-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    background: #f1f1f1;
    border: 1px solid #cfcfcf;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    z-index: 1;
}
#svg-scheme-tooltip p {
    margin: 0;
}
.svg-scheme-backlink {
    font-size: 15px;
}
#main-matches article {
    background: #fff;
    border-radius: 0px;
    border: 0;
    border-bottom: solid 1px #789595;
}
.top-head .logo img {
    width: 280px;
    height: 208px;
    position: absolute;
    top: -55px;
    left: -60px;
}
.bot_mrg {
	margin-bottom: 45px;
}
/*main page sbornie*/
.title_countr {
	line-height: 45px;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
	margin-left: 10px;
}
.title_countr span{
	font-size: 24px;
	font-weight: 400;
	color: #333;
    display: table;
    margin: 0 auto;
}
.flag_and_name img{
    width: 40px;
    height: 30px;
    margin: 5px 10px;
    border: 1px solid #ddd;
    float: left;	
}
.flag_and_name a {
	font-size: 30px;
	margin-top: 4px;
	display: block;
	float: left;
}
.flag_and_name .col-md-12 {
	margin-top: 15px;
	border-bottom: 1px solid #999;
	padding-bottom: 15px;
	min-height: 45px;
}
.football_logo img{
	max-width: 115%;	
}
.team_participant {
	margin-bottom: 20px;
}
.ahref {
	overflow: hidden;
}
/* GROUPS */
.groups table img{
	width: 25px;
	margin-right: 5px;
}
.groups table th{
	background: #ddd;
}
.groups table th, .groups table td{
	text-align: center;
	padding: 0 5px;
	width: 60px;
}
.groups table td:first-child, .groups table th:first-child {
	text-align: left;
	width: 200px;
}
/* CONF HISTORY */
.conf_hist table th{
	background: #ddd;
}
.conf_hist tr:nth-child(odd) {
	background: #eee;
}
.conf_hist img {
	width: 25px;
	margin-right: 6px;
}
/* STADIUMS */
.stadiums > div {
	margin-bottom: 25px;
}
.stadiums span{
	font-size: 20px;
	display: block;
	margin: 5px 0;
}
.stadiums img{
	max-width: 100%;
    border: 5px solid #ddd;
    box-shadow: 0 0 0 2px #999;
}
/* ROAD TO RUSSIA */
.road_to img {
	display: block;
	margin: 0 auto;
}
.road_to span {
    display: block;
    text-align: center;
    font-size: 19px;
    margin: 10px 0;
    border: solid #333;
    border-width: 1px 0;
}
.road_to p {
	text-align: justify;
}
@media (max-width: 768px) {
	.event.event-listing article .text{
		max-width: 100%;
	}
	.match-result {
		padding: 15px 0;
	}
	.pix-post-title-nohover span {
		display: block;
	}
	.pix-post-title-nohover {
		font-family: 'Fjalla One',sans-serif;
		font-weight: 400;
	}
}
@media (max-width: 320px){
	.col-md-3 {
		float: left;
	}
	.football_logo img{
		display: block;
		margin: 0 auto;
	}
	.flag_and_name > div {
		display: table;
		margin: 15px auto;
	}
	.row {
		margin-right: 0;
	}
	.element_size_100 {
		margin-bottom: 0;
	}
	.our-team-sec.our-team-home-view, .blog-home {
		margin-bottom: 0;
	}
}
@media (max-width: 375px){
	.col-md-3 {
		float: left;
	}
	.football_logo img{
		display: block;
		margin: 0 auto;
	}
	.flag_and_name > div {
		display: table;
		margin: 15px auto;
	}
	.row {
		margin-right: 0;
	}
	.element_size_100 {
		margin-bottom: 0;
	}
	.our-team-sec.our-team-home-view, .blog-home {
		margin-bottom: 0;
	}
}@media (max-width: 414px){
	.col-md-3 {
		float: left;
	}
	.football_logo img{
		display: block;
		margin: 0 auto;
	}
	.flag_and_name > div {
		display: table;
		margin: 15px auto;
	}
	.row {
		margin-right: 0;
	}
	.element_size_100 {
		margin-bottom: 0;
	}
	.our-team-sec.our-team-home-view, .blog-home {
		margin-bottom: 0;
	}
}
.number {
    width: 15px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}
.pos {
	width: 35px;
	display: block;
	float: left;
	text-align: center;
	margin: 0 7px;
	padding: 0 5px;
	font-weight: bold;
	border: 1px solid #ddd;
	border-width: 0 1px;
}
.img-fl-pl {
    margin-right: 7px;
    border: 1px solid #ddd;
    position: relative;
    bottom: 2px;
}
.match-online.pix-sc-team li figure{
	border-radius: 0;
	box-shadow: 0 0 0 0;
}
.zamena {
	float: right;
	margin-right: 15px;
}
.team-sec aside {
	width: 90%!important;
	padding: 0 5%!important;
}