*{
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover {
    color: #4A90E2;
    text-decoration: none;
    transition: all 300ms ease;
}
a:focus {
    text-decoration: none;
    color: auto;
}
.wrapper {
	float: left;
	width: 100%;
	margin-top: 30px;
}
/* Top bar */
.top-bar {
	width: 100%;
	float: left;
	background: #616161;
	box-shadow: 0 1px 4px 0 #000000;
	height: 74px;
}
.top-bar .logo{
	margin-top: 12px;
	margin-right: 50px;
	float: left;
}
.top-bar .logo img{
	width: 120px;
}
.top-bar ul li {
	float: left;
	margin: 0 15px;
	
}
.top-bar ul li a{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.top-bar ul li a:hover{
	text-decoration: none;
}
.top-bar ul{
	margin-top: 25px;
}
.top-bar .login {
	float: right;
	font-size: 16px;
	color: #fff;
}
.top-bar .login a {
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}
/* left side */
.left-side .title-wrap{
	position: relative;
	margin: 10px 0;
}
.left-side h2{
	font-size: 20px;
	letter-spacing: 1.2px;
	background: #fff;
	padding-right: 7px;
	display: table;
	position: relative;
	z-index: 1;
}
.left-side .title-wrap:after{
	width: 100%;
	position: absolute;
	height: 3px;
	content: '';
	background: #558B2F;
	bottom: 0;
	left: 0;
}
/* match-center */
.match-center {
	margin-top: 20px;
}
.tabs {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.tab {
	color: #558B2F;
	padding: 5px 15px;
	float: left;
	letter-spacing: 1.1px;
	border-radius: 2px;
	font-size: 12px;
	margin-right: 7px;
	cursor: pointer;
    transition: all 300ms ease;
}
.tab:hover{
	background: #E0E0E0;
	color: #616161;    
}
.tab.active{
	background: #E0E0E0;
	color: #616161;
}
.matches-table-list {
    display: none;
    opacity: 0;
    transition: all 300ms ease;
}
.matches-table-list.active {
    display: block;
    opacity: 1;
    transition: all 300ms ease;
}
.matches-table {
	float: left;
	width: 100%;
	background: #FAFAFA;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	margin-bottom: 15px;
}
.matches-table-title {
	background: #F5F5F5;
	font-size: 12px;
	padding: 6px 15px;
}
.matches-table-title img{
    max-width: 18px;
    max-height: 18px;
	margin-right: 7px;
}
.matches-table-title span {
	letter-spacing: 0.8px;
	font-size: 12px;
	line-height: 12px;
}
.matches-list {
	margin-top: 15px;
	float: left;
	width: 100%;
}
.match-item {
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 0.4px;
	background: #fff;
	width: 47.2%;
	float: left;
	background: #fff;
	margin: 0 0.7% 15px 2.1%;
	transition: all 300ms ease;
}
.match-item:nth-child(even){
	margin: 0 2.1% 15px 0.7%;
}
.match-item:hover{
	box-shadow: 0 1px 4px 0 #C3C3C3;
}
.match-item span.match-item-dt {
	color: #616161;
	margin-right: 10px;
}
.match-item b{
	float: right;
}
.match-item a {
	display: block;
	padding: 0 15px;
    color: #000;
}
.match-item a:hover{
	color: #4A90E2;
	text-decoration: none;
}
.match-item b{
	color: #000;
}
/* news block */
.news-block {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.hot-news {
	height: 300px;
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	position: relative;
}
.hot-news img {
	width: 400px;
	height: 300px;
	float: left;
	margin-right: 20px;
}
.hot-news .news-title {
	color: #212121;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1.2px;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
}
.hot-news p{
	color: #212121;
	line-height: 16px;
}
.hot-news .news-dt{
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #616161;
	font-size: 15px;
}
.simple-news {
	margin-top: 25px;
	float: left;
	width: 100%;
}
.simple-news .new-news{
	width: 31.333333%;
	float: left;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	margin-bottom: 15px;
    padding-bottom: 40px;
	color: #616161;
	position: relative;
    min-height: 410px;
}
.simple-news .new-news .news-dt {
	position: absolute;
    bottom: 7px;
	right: 15px;
}
.simple-news .news-title {
    width: 100%;
    float: left;
    display: block;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 10px 10px;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}
.simple-news p{
    padding: 0 10px;
    display: block;
    float: left;
    line-height: 20px;
    overflow: hidden;
    max-height: 80px;
}
.simple-news .new-news:nth-child(3n+2){
	margin: 0px 1% 15px;
}
.simple-news .new-news:nth-child(3n+1){
	margin-right: 2%;
}
.simple-news .new-news:nth-child(3n+3){
	margin-left: 2%;
}
.simple-news img {
	width: 100%;
	height: 200px;
}
.all-news-btn-a {
	display: table;
	width: 31.33333%;
	margin: 0 auto;
}  
.all-news-btn {
	display: table;
	margin: 15px auto 0px;
	background: #558B2F;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	border-radius: 2px;
}
/* photo-galler */
.photo-gallery {
	margin-top: 35px;
	float: left;
	width: 100%;
}
.gallery-item {
	width: 31.33333%;
	float: left;
	margin-bottom: 2%;
	position: relative;
}
.gallery-item:nth-child(3n+2){
	margin: 0px 1% 2%;
}
.gallery-item:nth-child(3n+1){
	margin-right: 2%;
}
.gallery-item:nth-child(3n+3){
	margin-left: 2%;
}
.gallery-item img {
	width: 100%;
	height: 200px;
}
.gallery-list {
	margin-top: 25px;
}
.gallery-item span {
	position: absolute;
	bottom: 0;
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1.1px;
	background: rgba(0,0,0,0.35);
	padding-bottom: 10px;
	padding-top: 10px;
}
/* matchpage */
.scoretable {
	width: 100%;
	float: left;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	margin-top: 40px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.scoretable h1{
	text-align: center;
	font-size: 18px;
}
.scoretable .match-tour{
	font-weight: 500;
	text-align: center;
	display: block;
	font-size: 17px;
}
.match-team-logos img{
	float: left;
	width: 140px;
}
.match-team-logos {
	display: table;
	margin: 0 auto;
}
.match-team-logos .score {
	float: left;
	width: 300px;
	font-size: 36px;
	text-align: center;
	line-height: 140px;
	letter-spacing: 10px;
}
.match-team-names {
	display: table;
	margin: 0 auto;
}
.match-team-names a{
	width: 150px;
	float: left;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}
.match-team-names > div{
	width: 300px;
	float: left;
}
.match-team-names > div > span{
	display: block;
	text-align: center;
	font-size: 12px;
}
.match-team-names .match-date{
	color: #ABABAB;
}
.match-team-names .match-status{
	color: #558B2F;
}
.scoretable .progress-bl{
	width: 90%;
	display: table;
	margin: 0 auto;
}
.scoretable .progress-bl .curr_min {
	float: right;
	color: #333;
	width: 25px;
	text-align: center;
	margin-right: -11px;
	margin-top: -19px;
}
.scoretable .progress-bl .curr_min span{
	display: table;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	left: 1px;
	color: #333;
	padding: 0 5px 0 6px;
	text-align: center;
	font-weight: 500;
}
/* match-tabs */
.match-tabs {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	background: #F5F5F5;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	height: 45px;
}
.match-tabs .match-tab {
	float: left;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	transition: all 300ms ease;
	font-size: 14px;
	color: #558B2F;
}
.match-tabs .match-tab:hover, .match-tabs .match-tab.active {
	background: #558B2F;
	color: #fff;
}
/* tab sostav */
.command-sostav {
    display: table;
    margin: 15px auto;
    position: relative;
    box-shadow: 0 1px 4px 0 #C3C3C3;
}
.players-on-stadium {
    position: absolute;
    top: 0;
}
.players-on-stadium > div > div img{
    width: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}
.players-on-stadium > div > div span{
    text-align: center;
    display: table;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
}
.players-on-stadium > div > div b{
    margin-right: 3px;
}
.players-on-stadium > div {
    float: left;
    width: 100%;
}
.forwards {
    margin-top: 100px;
}
.halfback {
    margin-top: 48px;
}
.defender {
    margin-top: 50px;
}
.goalkeeper {
    margin-top: 23px;
}
/* tab statistic */
.content-tabs {
    float: left;
    width: 100%;   
}
.content-tabs .content-tab{
    display: none;
}
.content-tabs .content-tab.active {
    display: block;
}
.teams-stat-logos {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	padding: 20px 0;
}
.obzor .teams-stat-logos {
	box-shadow: 0 0 0 0;	
}
.teams-stat-logos img{
	width: 120px;
	float: left;
}
.teams-stat-logos p{
	float: left;
	display: block;
	width: 200px;
	line-height: 120px;
	font-size: 18px;
	text-align: center;
}
.teams-stat-logos span {
	float: left;
	width: 120px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.7px;
}
.teams-stat-logos .center {
	display: table;
	margin: 0 auto;
}
.goals {
	width: 100%;
	float: left;
}
.goals .first_team {
	padding-left: 0;
}
.goals .second_team {
	padding-right: 0;
}
.goals .goal {
	box-shadow: 0 1px 4px 0 #C3C3C3;
    padding: 13px 10px 10px 50px;
	height: 60px;
    position: relative;
	margin-bottom: 10px;
}
.goals .goal img {
	float: left;
	margin: 0 10px 0 0;
}
.goals .goal i{
	float: left;
	font-size: 30px;
	margin-right: 10px;
	margin-top: 3px;
	color: #2196F3;
    position: absolute;
    left: 10px;
    top: 13px;
}
.goals .goal p{
	width: 100%;
	font-size: 12px;
	display: block;
	float: left;
    margin: 0;
}
.goals .goal p span {
    font-size: 13px;
    color: #7f8992;
}
.goals .goal p.name {
	font-size: 14px;
}
.goals .goal p.minute {
	color: #616161;
	font-size: 12px;
}
.statistica {
	width: 100%;
	border-top: 1px solid #D8D8D8;
	margin-top: 20px;
	float: left;
}
.statistica tr{
	border-bottom: 1px solid #D8D8D8;
}
.statistica td{
	width: 33.3%;
	text-align: center;
	padding: 10px 0;
	color: #616161;
}
.statistica td:first-child{
	padding-left: 20px;
	text-align: left;
	color: #000;
	font-weight: bold;
}
.statistica td:last-child {
	text-align: right;
	padding-right: 20px;
	color: #000;
	font-weight: bold;
}
.ekshn-list {
	display: table;
	width: 660px;
	margin: 0 auto;
}
.ekshn-list > div {
	width: 100%;
	float: left;
	margin-bottom: 25px;
}
.ekshn-list .first_team .name-wrap{
    position: relative;
}
.ekshn-list .first_team .name-wrap .rhomb {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
}
.ekshn-list .first_team div {
	float: left;
	font-size: 14px;
}
.ekshn-list .red .name {
	border-bottom: 4px solid #F44336;
}
.ekshn-list .yellow .name {
	border-bottom: 4px solid #FDD835;
}
.ekshn-list .blue .name {
	border-bottom: 4px solid #2196F3;
}
.ekshn-list .green .name {
	border-bottom: 4px solid #4CAF50;
}
.ekshn-list .name {
	width: 290px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	padding: 10px 20px 7px;
	border-radius: 2px;
	text-transform: uppercase;
    position: relative;
}
.ekshn-list span {
	display: block;
	font-size: 13px;
}
.ekshn-list span:before{
    content: '';
    width: 14px;
    height: 8px;
}
.ekshn-list span.in:before{
    background: url(/static/new/img/zamena-out.png)
}
.ekshn-list span.out:before{
    background: url(/static/new/img/zamena-in.png)
}
.ekshn-list .icon {
	line-height: 41px;
	width: 80px;
	text-align: center;
	position: relative;
}
.ekshn-list .icon:after {
	content: '';
	width: 4px;
	height: 25px;
	position: absolute;
	background: #F5F5F5;
	bottom: -25px;
	left: 37.5px;
}
.ekshn-list > div:last-child .icon:after {
	display: none;
}
.ekshn-list .second_team div {
	float: right;
	font-size: 14px;
}
.ekshn-list .second_team .name {
	text-align: right;
}
.ekshn-list .minute {
	line-height: 41px;
	color: #212121;
}
/* right side */
.search{
	margin-top: 40px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	padding: 0px 0 0 10px;
	line-height: 20px;
	font-size: 14px;
	float: left;
	width: 100%;
}
.search input[type="text"]{
	width: 85%;
	padding-top: 6px;
	float: left;
}
.search button{
	width: 15%;
	float: left;
	background: #558B2F;
	height: 32px;
	color: #fff;
}
.r-title{
	background: #F5F5F5;
	padding: 6px 15px;
	letter-spacing: 0.8px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
}
.tournaments-right .r-title {
	margin-bottom: 15px;
}
.tournaments-right {
	float: left;
	width: 100%;
	background: #FAFAFA;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	margin-top: 32px;
	padding-bottom: 15px;
}
.tournaments-right .tourn {
	padding: 15px 0;
	background: #fff;
    transition: all 300ms linear;
    cursor: pointer;
}
.tournaments-right .tourn:hover {
    box-shadow: 0 1px 3px 0 #C3C3C3;
}
.tournaments-right a{
    display: block;
    margin: 10px 15px 0;
    border: 1px solid #eee;
}
.tournaments-right .tourn a{
	font-weight: 500;
	letter-spacing: 0.8px;
	font-size: 13px;
}
.tournaments-right .tourn img {
	margin-left: 15px;
	margin-right: 10px;
	width: 19px;
}
/* matches right */
.next-matches-right {
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	background: #FAFAFA;	
	padding-bottom: 14px;
}
.next-matches-right a{
    display: block;
    margin: 10px 15px 0;
}
.match-r-bl {
	padding: 7px;
	background: #fff;
	font-size: 12px;
    transition: all 300ms ease;
    border: 1px solid #eee;
}
.matches-right a:hover {
    box-shadow: 0 1px 3px 0 #C3C3C3;
}
.match-r-bl div {
	margin-top: 7px;
	font-size: 13px;
}
.match-r-bl span {
	color: #616161;
	font-weight: 400;
}
.match-r-bl img{
	width: 23px;
	margin-right: 7px;
	position: relative;
	bottom: 2px;
	border: 1px solid #eee;
}
/* right news */
.right-news {
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	background: #FAFAFA;	
	padding-bottom: 14px;
}
.r-news {
	margin: 10px 15px 0;
}
.r-news span{
	color: #616161;
	font-size: 11px;
	display: block;
	margin-bottom: 4px;
}
.r-news a {
	font-weight: 500;
}
/* last video */
.last-video {
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	background: #FAFAFA;	
	padding-bottom: 14px;
}
.lst-video {
    margin: 10px 15px 0;
}
.lst-video iframe{
    width: 100%;
    height: 125px;
}
.lst-video span {
    color: #616161;
    font-size: 11px;
    display: block;
    margin-bottom: 4px;
}
.lst-video a{
    font-weight: 500;
}
/* footer */
.footer{
	background: #212121;
	float: left;
	width: 100%;
	margin-top: 40px;
}
.footer ul li {
	float: left;
	margin: 0 30px;
	
}
.footer ul li a{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.footer ul li a:hover{
	text-decoration: none;
}
.footer ul{
	margin-top: 25px;
}
.footer nav {
	display: table;
	margin: 0 auto;
	margin-bottom: 25px;
}
.footer .copyright {
	text-align: center;
	color: #fff;
	padding-bottom: 15px;
}