/* 

Flex Template 

http://www.templatemo.com/tm-406-flex

*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.blue {
	color: #06C;
}

.green {
	color: #090;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
img {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .83em;
  line-height: 1.75;
  color: #666666;
  background-color: white;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  color: #ec523f;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #444444;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  border: 1px solid #d5d5d5;
  outline: 0;
  padding: 10px 12px;
  color: #666666;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  border-color: #666666;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.main-btn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 40px 0;
}

.site-header ul.social-icons {
  position: relative;
  z-index: 11;
  margin: 30px 0;
}
.site-header ul.social-icons li {
  display: inline-block;
  margin: 0 2px;
}
.site-header ul.social-icons li a {
  width: 36px;
  height: 36px;
  background-color: white;
  color: #444444;
  text-align: center;
  line-height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}

.main-header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  top: 94px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#menu-wrapper {
  background-color: white;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}

.logo-wrapper {
    height: 100px;
    background-position: 70px;
}
.logo-wrapper a {
  display: inline-block;
  overflow: hidden;
  padding-left: 20px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 20px;
  font-weight: 700;
}
.logo-wrapper img {
	float: left;
	margin-right: 10px;
	height: 90px;
	margin-top: 5px;
}
.logo-wrapper span {
	display: table;
	margin-top: 35px;
}
@media screen and (max-width: 989px) {
	.logo-wrapper span {
		display: none;
	}
}
.main-menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.main-menu ul li:last-child {
  margin-right: 35px;
}
.main-menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #444444;
  line-height: 100px;
  padding-top: 37px;
}
.main-menu ul li.active a {
  border-top: 3px solid #ec523f;
  color: #ec523f;
}

.toggle-menu {
  width: 36px;
  height: 36px;
  float: right;
  margin-top: 33px;
  margin-right: 30px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background: #EC523F;
  display: inline-block;
  color: white;
  cursor:pointer;
}

/*.menu-responsive {
  display: none;
  background-color: rgba(50, 50, 50, 0.88);
}
.menu-responsive ul li {
  padding: 5px 0px 5px 25px;
}
.menu-responsive ul li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-responsive ul li.active a {
  color: #ec523f;
}*/

.flexslider {
  position: relative;
  top: -96px;
}
.flexslider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.flexslider .slider-caption {
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  top: 380px;
  left: 0;
}
.flexslider .slider-caption span {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.flexslider .slider-caption p {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 26px;
  display: block;
}
.flexslider .slider-caption a.slider-btn {
  color: white;
  background-color: #ec523f;
  padding: 12px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 989px) {
  .flexslider .slider-caption {
    top: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .flexslider .slider-caption {
    top: 380px;
  }
}
@media screen and (max-width: 1199px) {
  .main-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .main-menu ul li:last-child {
    margin-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  .logo-wrapper { 
    background-size: contain;     
  }
  .logo-wrapper{
    height: 50px;
  }
  .logo-wrapper a {
    line-height: 50px;
    padding-left: 70px;
  }
  .toggle-menu {
    margin-top: 7px;
    margin-right: 10px;
  }
  .main-menu ul li {
    display: block;
  }
  .menu-first.show {
    opacity: 1;
    height: auto;    
    margin-top: 10px;
    transition: opacity 1s, height 0;
  }
  .menu-first {
    float: right;
    overflow: auto;
    width: 100%;    
    opacity: 0;    
    height: 0;    
    /*background: rgba(50, 50, 50, 0.88);*/
    transition: opacity 1s, height 0 1s;
    /*transition: all 0.3s ease;    */
  }
  .main-menu ul li a {
    line-height: 40px;
    padding-top: 10px;   
  }
  .main-menu ul li.active a {
    border-top: none;
  }
}
@media screen and (max-width: 767px) {
  .main-header {
    top: 0;
  }
  .site-header {
    margin-top: 40px;
  }
  .logo-wrapper {
    float: left;
  }
  .menu-first {
    margin-top: 0;
  }
  .flexslider {
    margin-top: 80px;
  }
}

@media screen and (max-height: 500px) {
  .menu-first.show {
    max-height: 250px;
    padding-right: 15px;
  }
}

.content-section {
  margin-top: 80px;
}

.heading-section {
  margin-bottom: 60px;
}
.heading-section h1 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #444444;
  display: inline-block;
	margin-top: 25px;
}
.heading-section h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #444444;
  display: inline-block;
}
.heading-section p {
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}

.small-text {
  color: #aaaaaa;
}

.space-fixed {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.content-section#services {
  margin-top: 0px;
}

.service-item {
    position: relative;
    color: white;
    text-align: center;
    height: 250px;
    margin-bottom: 30px;
	cursor: pointer;
}

.service-item a {
	color: #ffff66;
}

.service-item a:hover {
	color: black;
}
.service-icon img{
	display: block;
	margin: 0 auto;
}
.service-item .service-icon {
	font-size: 3em;
    padding: 20px 0;
}
.service-item .service-content {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.service-item .service-content .inner-service {
    padding: 5px 0;
    font-size: 12px;
}
.service-item .service-content .inner-service span{
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 14px;
}
.service-item .service-content h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.service-item:hover .service-icon {
  opacity: 0;
  visibility: hidden;
}
.service-item:hover .service-content {
  opacity: 1;
  visibility: visible;
}

#service-1 {
  background-color: #143655;
}

#service-2 {
  background-color: #e67e22;
}

#service-3 {
  background-color: #3498db;
}

#service-4 {
  background-color: #2ecc71;
}

.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item .portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item .portfolio-thumb img {
  width: 100%;
}
.portfolio-item .portfolio-thumb .portfolio-overlay {
  background-color: #ec523f;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.portfolio-item .portfolio-thumb .portfolio-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid white;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand {
  margin-top: 15px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand i {
  line-height: 36px;
}
.portfolio-item .portfolio-thumb:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}

.team-member {
  margin-bottom: 30px;
}
.team-member .member-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.team-member .member-thumb img {
  width: 100%;
}
.team-member .member-thumb .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #ec523f;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.team-member .member-thumb .team-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-top: 64px;
}
.team-member .member-thumb .team-overlay span {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}
.team-member .member-thumb .team-overlay ul.social {
  display: block;
  margin-top: 20px;
}
.team-member .member-thumb .team-overlay ul.social li {
  display: inline-block;
}
.team-member .member-thumb .team-overlay ul.social li a {
  width: 36px;
  height: 36px;
  background-color: white;
  line-height: 40px;
  color: #ec523f;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}
.team-member .member-thumb:hover .team-overlay {
  opacity: 1;
  visibility: visible;
}

.skills-heading {
  margin-top: 60px;
  margin-bottom: 50px;
}
.skills-heading h3.skills-title {
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.skills-heading .small-text {
  font-style: italic;
}

.progress {
  height: 34px;
  box-shadow: none;
  border-radius: 0;
  background-color: #e7e7e7;
  margin-bottom: 10px;
}

.progress-bar {
  line-height: 34px;
  text-align: left;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ec523f;
  box-shadow: none;
}

.googlemap-wrapper {
  height: 380px;
  margin-bottom: 40px;
}

.map-canvas {
  height: 380px;
  border: 10px solid #efefef;
}

.contact-info {
  margin-top: 40px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 15px;
}
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 120px;
}
.contact-form .mainBtn {
  margin-top: 15px;
  color: white;
  background-color: #ec523f;
  text-transform: uppercase;
  border: 0;
}

#go-top {
  background-color: #ec523f;
  color: white;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
}

#footer {
  margin-top: 130px;
}

/*
body, p, div, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Arial, Verdana, Geneva, sans-serif;
   	font-style: normal;
}
*/

.table.table-bordered tr:nth-child(odd){
	background: #eee;
}
.cmd-photo img{
	width: 100%;
	margin-bottom: 25px;
}
.players-page {
    margin-bottom: 10px;
	border: 1px solid #ddd;
}
.players-page a{
    display: block;
    padding: 10px 0 13px;
    text-align: center;
    font-size: 25px;
    color: #00aedb;
}
.players-page a:hover{
	text-decoration: none;
	background: #eee;
}
/* m-list */
.match_list ul{
	list-style: none;
}
.match_list li {
	margin-bottom: 25px;
	background: #eee;
	border: 1px solid #ddd;
	float: left;
}
.match-date {
	margin: 7px 0;
}
.match_list .center {
	text-align: center;
}
.match_list i {
	margin-right: 10px;
}
.match-teams img {
	display: table;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
	height: 100px;
}
.match-list .span5 span{
	display: block;
	margin-top: 8px;
	font-size: 15px;
}
.teams img{
	width: 50%;
	float: left;
	height: 280px;
}
.match-day-block > div{
	float: left;
}
.match-day-block .teams{
	width: 100%;
}
.match-day-block .left, .match-day-block .right {
	width: 40%;
}
.match-day-block .left, .match-day-block .right , .match-day-block .cent {
	background: rgba(32, 178, 170, 0.15);
	height: 190px;
}
.match-day-block .cent {
	width: 20%;
}
/* match day */
.match-day-block > div{
	float: left;
}
.match-day-block .teams{
	width: 100%;
}
.match-day-block .left, .match-day-block .right {
	width: 40%;
}
.match-day-block .left, .match-day-block .right , .match-day-block .cent {
	background: rgba(32, 178, 170, 0.15);
	min-height: 255px;
}
.match-day-block .cent {
	width: 20%;
}
.club-logo img {
    width: 150px;
    margin-top: -30px;
}
.right .club-logo{
	margin-right: 45px;
}
.left .club-logo{
	margin-left: 45px;
}
.left .club-logo img{
	
}
.right .club-logo {
	float: right;
}
.club-logo span {
	display: block;
    margin-top: 35px;
    font-size: 25px;
    color: #333;
    font-weight: bold;
}
.right .club-logo span {
	text-align: right;
}
.cent .score {
	display: block;
	font-size: 50px;
	margin-top: 30px;
}
.cent .m_desc {
	margin-top: 40px;
	display: block;
	font-size: 14px;
}
.cent .m_desc b{
	margin-top: 10px;
    display: block;
}
.matches {
	width: 100%;
}
.matches table {
	width: 100%;
}
.centered {
	text-align: center;
}
@media (max-width: 768px){
	.teams img{
		width: 100%;
	}
	.left , .right, .cent {
		width: 100%!important;
	}
	.club-logo {
		margin: 0!important;
		width: 100%;
	}
	.club-logo img {
		display: table;
		margin: 25px auto 0;
		float: none;
	}
	.club-logo span {
		text-align: center!important;
	}
	.matches h2{
		text-align: center;
	}
}
/*player icon*/
.player-item {
    width: 172px;
    margin: 5px 10px 5px 0;
	float: left;
}
.player-item .player-img img{
	width: 100%;
	height: 150px;
}
.player-name {
	padding: 6px;
	background: #DC6B5C;
}
.player-name span {
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}
.player-name em {
	color: #333;
	font-weight: bold;
}
/*countries*/
.countr-block {
	margin-bottom: 25px;
}
.countr-block  img{
	max-width: 200px;
	margin: 0 auto 5px;
	display: block;
	height: 105px;
}
.countr-block span{
	width: 80%;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
	background: #333;
	padding: 5px 0;
	color: #eee;
	max-width: 200px;
	white-space: nowrap;
	text-indent: 5px;
	overflow: hidden;
}
@media screen and (max-width: 920px) {
	.menu-firstt {
		display: none;
		margin-right: 50px;
	}
	.main-menu .menu-firstt ul li:last-child {
		margin-right: 15px;
	}
	.logo-wrapper img {
		float: left;
		margin-right: 10px;
		height: 40px;
	}
	.site-slider {
		display: none;
	}
}
.groups .skills-heading {
	margin: 15px 0;
}
.table.table-bordered img{
	width: 25px;
	margin-right: 6px;
	float: left;
}
@media screen and (max-width: 768px){
	.content-section#services {
		margin-top: 75px;
	}
	.logo-wrapper a {
		padding-left: 10px;
	}
	.logo-wrapper img.ll {
		width: 140px;
		margin-top: 10px!important;
		height: auto!important;
	}
}
@media screen and (max-width: 568px){
	.content-section#services {
		margin-top: 0;
	}	
}
@media (max-width: 568px){
	.content-section {
		margin-top: 30px!important;
	}
	.content-section.page{
		margin-top: 0!important;
	}
	.social-icons {
		display: none;
	}
	.teams img {
		display: none;
	}
}