<!DOCTYPE html>
<html ng-app="MainApp" class="no-cssvhunit">
    <head>
        <meta charset="utf-8" />
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <title>{{ data.seo_title }}</title>
        <meta name="keywords" content="{{ data.seo_keywords }}" />
        <meta name="description" content="{{ data.seo_description }}" />
        <meta id="view" name="viewport" content="width=1265, initial-scale=0.3, maximum-scale=0.95" />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#ffffff">
        <!-- Bootstrap -->
            <link href="/static/vendor/angular/angular-csp.css" rel="stylesheet">
            <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="/static/layout/css/customs-fonts.min.css" rel="stylesheet">
            <link href="/static/layout/css/style.css?v=20161003_01" rel="stylesheet">
            <link href="/static/layout/css/component.min.css" rel="stylesheet">
            <link href="/static/layout/css/animate.min.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
            
    </head>
    <body>
    <script>
        if (!!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)) {
            document.body.classList.add('touchscreen');
        }
    </script>
        <div class="main-container">
            <nav id="sticker-menu" class="navbar navbar-default sticky-menu main-menu position-fix" role="navigation">
                <div class="navbar-inner clearfix">
                    <div class="mobile-menu-icon">
                        <img src="/static/layout/images/hamburger.svg" class="hamburger show">
                        <img src="/static/layout/images/close.svg" style="" class="close">
                    </div>
                    <ul class="nav nav-pills navbar-left">
                        <li class="mini-logo hidden-mobile"><a href="/" title="На главную"><img width="200" src="/static/layout/images/mini-logo.png" alt="cskatickets.com"></a><li>
                        <li class="show-mobile"><a class="ancLinks" href="#buy">Билеты</a></li>
                        <li class="show-mobile"><a class="ancLinks" href="#buy">Таблица матчей</a></li>
                        <li class="show-mobile"><a class="ancLinks" href="#group-order">Корп. клиентам</a></li>
                        <li class="show-mobile"><a data-toggle="modal" data-target="#callme" href="#" class="callme">Заказать звонок</a></li>
                        <!-- Button trigger modal -->

                    </ul>
                    <div class="mobile-logo">
                        <a href="/" title="На главную">
                            <img src="/static/layout/images/mini-logo.png" alt="cskatickets.com">
                        </a>
                    </div>
                    <div class="navbar-right">
                        <div class="phone"><a href="tel:{main_page.tel}">{main_page.phone}</a></div>
                    </div>
                    <div class="mobile-phone-icon">
                        <a href="tel:{main_page.tel}"><img src="/static/layout/images/phone.svg"></a>
                    </div>
                </div>
            </nav>
            {% block main_content %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="col-xs-12">
                <div class="logo">
                    <a class="ancLinks" href="#buy">
                        <img src="/static/layout/images/mini-logo.png" width="280" alt="cskatickets">
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="footer-links">
                    <ul>
                        <li><a href="{root}#buy">Билеты</a> </li>
                        <li><a href="/team/">О команде</a> </li>
                        <li><a href="/oplata/">Оплата / Доставка</a> </li>
                        <li><a href="/about/">О чемпионате</a> </li>
                        <li><a href="/matches/">Матчи</a> </li>
                        <!-- <li><a href="/foto-video/">Фото / Видео</a> </li> -->
                        <li><a href="/kubok-rossiyi/">Кубок России</a> </li>
                        <li><a href="/players/">Состав</a> </li>
                        <li><a href="/evrokubki/">Еврокубки</a> </li>
                        <li><a href="/oferta/">Оферта</a> </li>
                        <li><a href="/sitemap/">Карта сайта</a> </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-7">
                </div>
                <div class="col-xs-3">
                        <div class="cards">
                            <i class="icon-cc-visa" style="color:#fff"></i>
                            <i class="icon-cc-mastercard" style="color:#fff"></i>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="copyright">Copyright © cskatickets.com - Билеты на матчи ЦСКА</div>
                </div>
                <div class="col-xs-4">
                    <div class="phone">
                        <div class="numb"><a href="tel:{main_page.tel}">{main_page.phone}</a></div>
                    </div>
                </div>
            </div>
        </footer><!-- .footer -->
        <!-- Modal -->
        <div class="modal fade" id="callme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller='OrderCallController'>
            <style>
                #callme .modal-dialog {
                    margin: 15% auto 0 !important;
                }
                .touchscreen #callme .modal-dialog {
                    margin: 30% auto 0 !important;
                }
            </style>
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <span class="modal-title" id="myModalLabel">Мы Вам перезвоним!</span>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6 form-group" ng-class="{'has-error': errors.name}">
                                <input type="text" class="form-control input-lg js-name" placeholder="Ваше имя" ng-model="model.name">
                                <p class="help-block" ng-if='errors.name'>[[ errors.name ]]</p>
                            </div>
                            <div class="col-xs-6 form-group" ng-class="{'has-error': errors.phone}">
                                <input type="text" class="form-control input-lg js-phone" placeholder="Телефон" ng-model="model.phone">
                                <p class="help-block" ng-if='errors.phone'>[[ errors.phone ]]</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group" ng-class="{'has-error': errors.description}">
                                <textarea placeholder="Сообщение" class="form-control input-lg" rows="4" ng-model="model.description"></textarea>
                                <p class="help-block" ng-if='errors.description'>[[ errors.description ]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-block btn-default " ng-click='submitOrder()'>Заказать звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgvideo">

        </div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter32233924 = new Ya.Metrika({id:32233924,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/32233924" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66934385-1', 'auto');
  ga('send', 'pageview');

</script>

    <script type="text/javascript">
        window.MEDIA_HOST = "{MEDIA_HOST}";
        window.CRM_API_ENDPOINT = "{CRM_API_ENDPOINT}";
        window.PARSER_API_ENDPOINT = "{PARSER_API_ENDPOINT}";
        window.EVENTS_API_ENDPOINT = "{EVENTS_API_ENDPOINT}";
        window.EVENTS_API_ENDPOINT = "{EVENTS_API_ENDPOINT}";
        window.MARK_AS = "{MARK_AS}";
    </script>
        <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/static/vendor/bmaskedinput/maskedinput.js"></script>
        <script src="/static/vendor/angular/angular.min.js"></script>
        <script src="/static/vendor/ui-router/release/angular-ui-router.min.js"></script>
        <script src="/static/vendor/fastclick/lib/fastclick.js"></script>
        <!--<script src="/static/layout/js/modernizr.custom.min.js"></script>-->
        <script src="/static/layout/js/viewportchecker.js"></script>
        <script src="/static/layout/js/jquery.fittext.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/layout/js/ekko-lightbox.js"></script>
        <script src="/static/layout/js/jquery.sticky.js"></script>
        <script src="/static/layout/js/bigSlide.js"></script>
        <script src="/static/layout/js/script.js"></script>
        <script src="/static/js/default.js?v=134"></script>
        <script src="/static/js/sticky.js"></script>
        <script src="/static/js/scheme.js?v=139"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/cart.js?v=2016101101"></script>
        <script src="/static/js/directives.js"></script>
        <script src="/static/js/controllers.js"></script>
        <!-- Код тега ремаркетинга Google -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 957114495;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/957114495/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
    </body>
</html>
