{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
<header class="header" xmlns="http://www.w3.org/1999/html">
        <!-- Controls -->
        <a class="left carousel-control" href="#fade-quote-carousel" role="button" data-slide="prev">
            <i class="icon-arrow-l" aria-hidden="true" {arrowVisibility|s}></i>
            <span class="sr-only">Назад</span>
        </a>
        <a class="right carousel-control" href="#fade-quote-carousel" role="button" data-slide="next">
            <i class="icon-arrow-r" aria-hidden="true" {arrowVisibility|s}></i>
            <span class="sr-only">Далее</span>
        </a>
        <div class="overlay-video3"></div>
        <div class="overlay-video"></div>
        <div class="keepcentered matches-vs">
            <div class="carousel">
                <div class="row">

                    <!--data-ride="carousel"-->
                    <div class="carousel slide" id="fade-quote-carousel"  data-interval="4000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                                <li data-target="#fade-quote-carousel" data-slide-to="{$idx}" class="{@eq key=$idx value="0" type="number"}active{/eq}"></li>
                                <li></li>
                                <li></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner" role="listbox">
                            {% for match in new_matches %}
                                {% if forloop.counter < 4 %}
                                <div class="item {% if forloop.first %}active{% endif %}">
                                    <div class="logo">
                                        <a class="ancLinks" href="/match/">
                                            <div class="name">
                                                <img src="http://sport-admin.com/media/{{match.command_first.alias}}.png" class="club-logo">
                                                <span class="teamname">{{ match.command_first.name }}</span>
                                                <div class="separator">–</div>
                                                <img src="http://sport-admin.com/media/{{match.command_second.alias}}.png" class="club-logo" >
                                                <span class="teamname">{{ match.command_second.name }}</span>
                                            </div>
                                            <span class="subname"><i class="icon-calendar"></i> {{ match.datetime|ru_strftime:"%d %B %Y" }}, <i class="icon-location"></i> {{ match.stadium}}</span>
                                        </a>
                                        <div class="buttonpay">
                                            <a class="ancLinks buy-href btn btn-4 btn-4c icon-arrow-right" href="{{ match.alias }}" style="margin:0">Купить билеты на матч</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="where-place"><a href="#countries" class="toggler toggler-social menu-link"></a></div>
        <div class="list-countries">
            <nav id="countries" class="panel" role="navigation">
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            </nav>
        </div>
        <div class="play-music">
            <audio id="audio" volume="0.5" loop="" src="/static/layout/media/cska.mp3"></audio>
            <a href="#" class="sound-toggle sound-toggle--off"></a>
        </div>
    </header><!-- .header-->
    <div class="section section-3 nopadding" id="buy">
        <div class="row">
            <div class="col-xs-5 post">
                <div class="title-buy">
                    <div class="sub-title">Билеты на ФК ЦСКА</div>
                    <div class="title">Матчи</div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="pay-block step-2">
                    <div class="row bs-wizard" style="border-bottom:0;">
                        <div class="col-xs-3 bs-wizard-step complete">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot">1</a>
                            <div class="text-center bs-wizard-stepnum">Выберите матч</div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step disabled">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot">2</a>
                            <div class="text-center bs-wizard-stepnum">Выбор cектора</div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step disabled">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot">3</a>
                            <div class="text-center bs-wizard-stepnum">Выбор билетов</div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step disabled">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot">4</a>
                            <div class="text-center bs-wizard-stepnum">Покупка</div>
                        </div>
                        <div class="col-xs-3 bs-wizard-step disabled">
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot">5</a>
                            <div class="text-center bs-wizard-stepnum">Готово</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_default_{._id}" data-toggle="tab">Чемпионат России<i class="icon-award"></i></a>
                        </li>
                </ul>
                <div class="tab-content">
                    <!--<div class="tab-pane">-->
                        <div class="row matches-lists">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <ul class="event-list">
                                    {% for match in new_matches %}
                                    <div class="col-xs-12 col-sm-12 col-lg-6">
                                        <ul class="event-list">
                                            <li>
                                                <a class="link-match-over" href="/matches/cska_zenit"></a><a class="link-match" style="z-index: 200;" href="{{ match.alias }}"></a>
                                                <div class="date-left" style="float:left; width:20%"><span class="date-numb">{{ match.datetime|date:"j" }}</span><span class="date-month">{{ match.datetime|ru_strftime:"%b" }}</span><span class="date-time">{{ match.datetime|ru_strftime:"%H:%M" }}</span></div>
                                                <div class="wrap-r">
                                                    <div class="img-left post hidden2 visible2 animated fadeInDown"><img class="img-responsive" align="left" alt="{{ match.command_first.name}}" src="http://sport-admin.com/200x115/media/cska.png"></div>
                                                    <div class="info">
                                                        <div class="title">{{ match.command_first.name}} - {{ match.command_second.name }}</div>
                                                    </div>
                                                    <div class="img-right post post hidden2 visible2 animated fadeInDown"><img class="img-responsive" align="right" alt="{{ match.command_second.name }}" src="http://sport-admin.com/200x115/media/cska.png"></div>
                                                    <ul class="info-bottom">
                                                        <li><i class="icon-location"></i>{{ match.stadium}}</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-6">
                                <ul class="event-list">
                                </ul>
                            </div>
                        </div>
                    <!--</div>-->
                </div>
                <p>Выбирайте матч, и заказывайте билеты.</p>
            </div>
        </div>
    </div><!-- .section3 -->
    <div class="section section-2">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="floater-container">
                    <div id="floater"></div>
                    <div class="post content-info">
                        <div class="title"><a href="/venues/">Стадионы</a></div>
                        <ul class="nav nav-tabs" role="tablist" style="width: 100%; text-align:center;">
                            <li role="presentation"{@eq key=$idx value="0" type="number"} class="active"{/eq}>
                                <a href="#{._id}" role="tab" data-toggle="tab" class="map-toggle" data-oid="{._id}" data-coords="{.coords}" data-address="{.address}">Москва</a>
                                <div class="description">Москва</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" style="display: block; visibility: visible;">
                        <div id="map_{._id}" style="width: 100%; height: 900px;">
                            <iframe src="https://api-maps.yandex.ru/frame/v1/-/CZXBFY2~" height="900" style="width: 100%;" frameborder="0"></iframe>
                        </div>
                        <style>
                            ymaps {
                                display: none!important;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .section2 -->
    <div class="section section-4" id="delivery" style="min-height:790px; position:relative">
        <div class="container" style="padding-bottom:20px">
            <div class="row">

                <div class="post4 col-md-8 col-md-offset-2">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i> Что о нас говорят?</div>
                    <div class="carousel slide" id="quote-carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                                <div class="item active">
                                    <blockquote>
                                        <p>Всё хорошо!</p>
                                    </blockquote>
                                    <!-- <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div> -->
                                    <a class="profile-circle player-img post5" href="#">
                                        <img src="/static/images/ignashevich.jpg" alt="Отзыв фото" class="img-responsive" /></a>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>Всё хорошо!</p>
                                    </blockquote>
                                    <!-- <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div> -->
                                    <a class="profile-circle player-img post5" href="#">
                                        <img src="/static/images/ignashevich.jpg" alt="Отзыв фото" class="img-responsive" /></a>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>Всё хорошо!</p>
                                    </blockquote>
                                    <!-- <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div> -->
                                    <a class="profile-circle player-img post5" href="#">
                                        <img style="height: 100%;" src="/static/images/ignashevich.jpg" alt="Отзыв фото" class="img-responsive" /></a>
                                </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:70px;position: absolute;bottom: 0;left: 0;width: 100%;" id="group-order"></div>
    </div><!-- .section4 -->
    <div class="section section-5"  ng-controller="GroupOrderController" ng-cloak>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade modal-adjust-opt-out" id="grouporder-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="h4" class="modal-title" id="myModalLabel">Заказ принят</div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="h2"><span class='blue'>Спасибо, ! Заказ оформлен!</span></div>
                                <p>В ближайшее время оператор свяжется с Вами для уточнения всех необходимых деталей.<br />Номер Вашего заказа: <span class="green">#</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href='javascript:void()' class='btn btn-block btn-default' ng-click='dismiss()'>Вернуться на главную</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-order">
            <div class="col-xs-6">
                <div class="floater-container">
                    <div class="content-info post5" style="padding-top:120px;padding-bottom:30px" >
                        <div class="title">Корпоративная заявка</div>
                        <p>Предоставляются скидки от 10 человек</p>
                    </div>
                    <div class="text-corporate">Для корпоративных клиентов в нашей компании действует ряд преимуществ.
                        <ul>
                            <li>- Для встречи с ценными деловыми партнерами в неформальной обстановке или для большой и дружной компании Вы можете приобрести отдельную ложу целиком*.</li>
                            <li>- Вы можете оформить групповую заявку и получить скидку.</li>
                            <li>- Наша компания может помочь Вам в организации поездки на матч: аренда автомобилей, организация парковочных мест, встреча и сопровождение гостей.</li>
                            <li>- Каждый заказ оформляется в индивидуальном порядке.</li>
                        </ul>
                        <div>* Информацию по ложам уточняйте по тел.: <a href="tel:{main_page.tel}">{main_page.phone}</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 group-order-block">
                <div class="row row-centered order post">
                    <div class="col-md-7 col-xs-8 col-centered col-min auth">
                        <div id="big-form" class="well auth-box">
                            <form>
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <div class="">
                                            <input id="textinput" name="textinput" placeholder="Введите имя" class="form-control input-md js-name" type="text" ng-model='model.name'>
                                             <div ng-if='errors.name'>
                                            <div class="tooltip left" role="tooltip">
                                              <div class="tooltip-arrow"></div>
                                              <div class="tooltip-inner">
                                                 <p class="help-block">[[ errors.name ]]</p>
                                              </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <div class="">
                                                    <input id="textinput" name="textinput" placeholder="Введите телефон" class="form-control input-md js-phone" type="text" ng-model='model.phone'>
                                                     <div ng-if='errors.phone'>
                                                          <div class="tooltip left" role="tooltip">
                                                              <div class="tooltip-arrow"></div>
                                                              <div class="tooltip-inner">
                                                                 <p class="help-block" ng-if='errors.phone'>[[ errors.phone ]]</p>
                                                              </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <div class="">
                                                    <input id="textinput" name="textinput" placeholder="Введите E-mail" class="form-control input-md js-email" type="text" ng-model='model.email'>
                                                    <p class="help-block" ng-if='errors.email'>[[ errors.email ]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <div class="">
                                            <select id="selectbasic" name="selectbasic" class="form-control" ng-model='model.address'>
                                                <option value="{.}"></option>
                                            </select>
                                            <p class="help-block" ng-if='errors.address'>[[ errors.address ]]</p>
                                        </div>
                                    </div>
                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <div class="">
                                            <textarea rows="3" class="form-control" id="textarea" placeholder="Сообщение" name="textarea" ng-model='model.description'></textarea>
                                            <p class="help-block" ng-if='errors.description'>[[ errors.description ]]</p>
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="form-group entered">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-block btn-default " ng-click='submitOrder()'>Отправить</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay-video3"></div>
        <div class="overlay-video"></div>
    </div><!-- .section5 -->
    <div class="section section-8 news-blocks">
        <div class="title">Новости</div>
        <div class="row form-group product-chooser">
            <div class="post2 col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="#" class="link-match" style="z-index: 200;"></a>
                <div class="product-chooser-item">
                    <div class="news-img"><img src="/static/images/ignashevich.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="{.title}"></div>
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                        <span class="title-news">Игнашевич в сборной</span>
                        <span class="description">37 летнего защитника снова вызвали в сборную россии.</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="post2 col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="#" class="link-match" style="z-index: 200;"></a>
                <div class="product-chooser-item">
                    <div class="news-img"><img src="/static/images/ignashevich.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="{.title}"></div>
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                        <span class="title-news">Игнашевич в сборной</span>
                        <span class="description">37 летнего защитника снова вызвали в сборную россии.</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="post2 col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="#" class="link-match" style="z-index: 200;"></a>
                <div class="product-chooser-item">
                    <div class="news-img"><img src="/static/images/ignashevich.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="{.title}"></div>
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                        <span class="title-news">Игнашевич в сборной</span>
                        <span class="description">37 летнего защитника снова вызвали в сборную россии.</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-7 seo-text text-content">
        <div class="post">
            <h1>{{ data.seo_title }}</h1>
            {{ data.content }}
        </div>
    </div><!-- .section4 -->
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}