{% load i18n admin_static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="description" content="{{ data.description }}">
        <meta name="keywords" content="{{ data.keywords }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        
        <link rel="stylesheet" href="/static/template10/css/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/template10/css/bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/static/template10/css/base.css">
        <link rel="stylesheet" href="/static/template10/css/skeleton.css">
        <link rel="stylesheet" href="/static/template10/css/screen.css">
        <link rel="stylesheet" href="/static/template10/css/prettyPhoto.css" type="text/css" media="screen" />


        <link rel="shortcut icon" href="/static/template10/images/favicon.png">
        <link rel="apple-touch-icon" href="/static/template10/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/template10/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/template10/images/apple-touch-icon-114x114.png">

        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
        {% include "template10/_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "template10/_footer.html" %}
    </body>
</html>