    <div class="footer">
        <div class="container">
            <div class="one_fourth">
              <h3>Контакты</h3>
              <p><span class="orange"><strong>Адрес:</strong></span> <br>
                Не дом и не улица</p>
              <p><span class="orange"><strong>Phone:</strong></span> <br>
                + 9 (094) 067 93567<br>
              </p>
              <p><span class="orange"><strong>Email:</strong></span> <br>
                info@yoursite.com<br>
              </p>
            </div>
            <!-- four columns ends here -->
            <div class="one_fourth">
              <h3>Меню</h3>
              <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/teams/">Команды</a></li>
                <li><a href="/matches/">Матчи</a></li>
                <li><a href="/contacts/">Контакты</a></li> 
              </ul>
            </div>
        <!-- four columns ends here --> 
        </div>
      <!-- container ends here --> 
    </div>
    <!-- footer ends here --> 
    <!-- Copyright ==================================================
    ================================================== -->
    <div id="copyright">
        <div class="container">
            <p class="copyright">Кубок конфедераций 2017</p>
        </div>

    </div>

    <script src="/static/template10/js/jquery-1.8.0.min.js" type="text/javascript"></script> 
    <!-- Main js files --> 
    <script src="/static/template10/js/screen.js" type="text/javascript"></script> 
    <!-- Tabs --> 
    <script src="/static/template10/js/tabs.js" type="text/javascript"></script> 
    <!-- Include prettyPhoto --> 
    <script src="/static/template10/js/jquery.prettyPhoto.js" type="text/javascript"></script> 
    <!-- Include Superfish --> 
    <script src="/static/template10/js/superfish.js" type="text/javascript"></script> 
    <script src="/static/template10/js/hoverIntent.js" type="text/javascript"></script> 
    <!-- Flexslider --> 
    <script src="/static/template10/js/jquery.flexslider-min.js" type="text/javascript"></script> 
    <!-- Modernizr --> 
    <script type="text/javascript" src="/static/template10/js/modernizr.custom.29473.js"></script>