    <div id="header">
        <div class="container"> 
        <!-- Header | Logo, Menu
            ================================================== -->
            <div class="logo"><a href="/"><img width="195" src="/static/template10/images/loogo.png" alt="" /></a></div>
            <div class="mainmenu">
              <div id="mainmenu">
                <ul class="sf-menu">
                    <li><a {% if host == 'index' %}id="visited"{% endif %} href="/">Главная</a></li>
                    <li><a {% if host == 'teams' %}id="visited"{% endif %} href="/teams/">Команды</a></li>
                    <li><a {% if host == 'matches' %}id="visited"{% endif %} href="/matches/">Матчи</a></li>
                    <li><a {% if host == 'contacts' %}id="visited"{% endif %} href="/contacts/">Контакты</a></li> 
                </ul>
              </div>
              <form id="responsive-menu" action="#" method="post">
                <select>
                  <option value="">Меню</option>
                  <option value="/">Главная</option>
                  <option value="/teams/">Команды</option>
                  <option value="/matches/">Матчи</option>
                  <option value="/contacts/">Контакты</option>
                </select>
              </form>
            </div>
        </div>
    </div>