{% extends "template10/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section class="slider hidden-xs">
        <div class="flexslider">
            <ul class="slides">
                {% for match in last_matches %}
                <li> 
                    <a href="#"><img src="/static/template10/images/1.jpg" alt=""/></a>
                    <section class="caption">
                        <p><img src="/media/flags/{{ match.command_first.get_flag_list.1 }}">{{ match.command_first }} - {{ match.command_second }}<img src="/media/flags/{{ match.command_second.get_flag_list.1 }}"><br /><br />{{ match.stadium.city }}<a href="#" rel="nofollow"><br /><br /><strong>{{ match.datetime|ru_strftime:"%d.%m.%Y" }} - {{ match.datetime|ru_strftime:"%H:%M" }}</strong></a></p>
                        <a class="button" href="{% url 'portal:match' match.alias %}">Купить билеты</a>
                    </section>
                </li>
                {% endfor %}
            </ul>
        </div>
      <!-- flexslider ends here --> 
    </section>
    <!-- slider ends here --> 
    <!-- info Box ==================================================
    ================================================== -->
    <div class="infobox">
        <div class="container info">
            <header>
                <h1>Главная</h1>
            </header>
            <hr class="separator">
        </div>
      <!-- container ends here --> 
    </div>
    <!-- infobox ends here --> 
    <!--Latest Photos ==================================================
    ================================================== -->
    <div class="container latest">
	<h2>Страны представители</h2>
		<hr class="separator">
		{% for team in champ_teams %}
        <div class="one_third">
            <figure class="shadow"><a href='{% url "portal:team" team.alias %}' class="thumb"><img src="/media/logo/{{ team.get_logo_list.0 }}" alt=""></a>
                <figcaption> <a href='{% url "portal:team" team.alias %}'>
                    <h3 class="heading">{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</h3>
                    </a>
                    <p class="bioquote">{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}</p>
                </figcaption>
            </figure>
        </div>
		{% endfor %}
    </div>
    <div class="headingblock">
        <div class="container heading">
            <header>
                <h2>О Кубке конфедераций</h2>
            </header>
        </div>
        <!-- container ends here -->
        <hr class="separator1">
    </div>

    <div class="container latest">
		<span style="display: block; font-size: 27px; margin-bottom: 25px; text-indent: 13px;">Дорого в Росссию</span>
        <div>
            <div class="two_third">
                <div class="accordion-trigger">
                    <h3>Европа</h3>
                </div>
                <div class="accordion-container">
                    <img src="/static/khl/continents/europe.jpg">
                    <p>Европейский участник Кубка конфедераций FIFA 2017 определится на Евро-2016 УЕФА. Турнир пройдет с 10 июня по 10 июля 2016 года. Победитель Евро отправится представлять континент в Россию.</p> 
                    <hr class="separator1">
                </div>
                <div class="accordion-trigger">
                    <h3>Африка</h3>
                </div>
                <div class="accordion-container">
                    <img src="/static/khl/continents/africa.jpg">
                    <p>
                        Африканская путевка на Кубок Конфедераций ФИФА будет
                        разыграна на Кубке африканских наций, который пройдет
                        в Габоне ранее в 2017 году.
                    </p>
                    <hr class="separator1">
                </div>
                <div class="accordion-trigger">
                    <h3>Азия</h3>
                </div>
                <div class="accordion-container">
                    <img src="/static/khl/continents/asia.jpg">
                    <p>Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.</p> 
                    <hr class="separator1">
                </div>
                <div class="accordion-trigger">
                    <h3>Северная и Центральная Америка</h3>
                </div>
                <div class="accordion-container">
                    <img src="/static/khl/continents/ncamerica.jpg">
                    <p>Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.</p> 
                    <hr class="separator1">
                </div>
                <div class="accordion-trigger">
                    <h3>Океания</h3>
                </div>
                <div class="accordion-container">
                    <img src="/static/khl/continents/oceania.jpg">
                    <p>Победитель следующего Кубка Наций ОФК, который состоится с мая по июнь 2016 года получит путевку на Кубок конфедераций FIFA 2017 в России.</p> 
                    <hr class="separator1">
                </div>			
                <div class="accordion-trigger">
                    <h3>Южная Америка</h3>
                </div>
                <div class="accordion-container">
                    <img src="/static/khl/continents/southamerica.jpg">
                    <p>Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.</p> 
                    <hr class="separator1">
                </div>
            </div>
          <!-- two_third ends here -->
            <div class="one_third lastcolumn">
                <article>
                    <table style="font-size: 12px; float: left; background: #fff; text-align: center; color: #333; width: 319px; margin-bottom: 8px;">
                        <tbody>
                            <tr>
                                <th colspan="2" style="background-color:#AAD0FF; color:black; text-align:center; padding:0.3em"><big>Кубок конфедераций 2017</big><br>
                                    <small><i>FIFA Confederations Cup 2017</i></small>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center;; padding:0.3em"><img alt="Кубок конфедераций 2017" src="/static/template1/img/wiki-log.png"></td>
                            </tr>
                            <tr style="background-color:#EBF5FF; color:black; text-align:center">
                                <td colspan="2"><b>Подробности чемпионата</b></td>
                            </tr>
                            <tr>
                                <td><b>Место проведения</b></td>
                                <td><span style="white-space: nowrap;"><span style="display: none; speak: none;">Россия</span><span class="flagicon"><img src="/static/template1/img/rus.png" style="margin-right: 6px;" width="22" height="15"></span>Россия</span></td>
                            </tr>
                            <tr>
                                <td><b>Города проведения</b></td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td><b>Стадионы</b></td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td><b>Сроки турнира</b></td>
                                <td>17 июня — 2 июля 2017</td>
                            </tr>
                            <tr>
                                <td><b>Число участников</b></td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
		<div class="col-md-12">
			<div class="match_list">
				<h2>Следующие встречи</h2>
				<hr class="separator">
				<ul>
				{% for match in last_matches %}
					{% if forloop.counter < 5 %}
						{% include "template10/_match_item.html" %}
					{% endif %}
				{% empty %}
					<p>К сожалению, о последних матчах сведений нет.</p>
				{% endfor %}
				</ul>
			</div>
			<h2>Группы</h2>
			<div class="col-md-12 groups">
				<h3>Группа A</h3>
				<table class="table table-bordered">
					<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
					<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
				</tbody></table>
				<h3>Группа B</h3>
				<table class="table table-bordered">
					<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
					<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
					<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
				</tbody></table>
			</div>
		</div>
    </div>
    <!-- end container --> 
    <!-- Socialize ==================================================
    ================================================== -->
    <hr class="separator2">
    <div class="socialsblock">
      <div class="container socialize">
        <h3>Рассказать о нас в соц. сетях</h3>
        <section class="socials">
<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=05" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
        </section>
      </div>
      <!-- container ends here --> 
    </div>
{% endblock %}