{% extends "template10/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">
        <h1>Матчи</h1>
        <div class="col-md-12 match-day">
            <div class="match-day-block">
                <div class="teams">
                    <img src="/media/photos/{{ data.command_first.get_photo_list.0 }}">
                    <img src="/media/photos/{{ data.command_second.get_photo_list.0 }}">
                </div>
                <div class="left">
                    <div class="club-logo">
                        <img src="/media/logo/{{ data.command_first.get_logo_list.0 }}">
                        <span>{{ data.command_first }}</span>
                    </div>
                </div>
                <div class="cent centered">
                    <span class="score">- <b>:</b> -</span>
                    <span class="m_desc">{{ data.champ }}<br />Группа {{ data.group }}<br /><b>{% if match.datetime %}{{ match.datetime|ru_strftime:"%d %B %H:%M" }}{% endif %}</b>
                </div>
                <div class="right">
                    <div class="club-logo">
                        <img src="/media/logo/{{ data.command_second.get_logo_list.0 }}">
                        <span>{{ data.command_second }}</span>
                    </div>
                </div>
                <div class="matches">
                    <div class="row">
                        <div class="heading-section col-md-12 text-center" style="margin: 25px 0;">
                            <h2>История встреч</h2>
                            <!--<p>We make mobile ready websites for you</p>-->
                        </div> <!-- /.heading-section -->
                    </div> <!-- /.row -->
                    <table class="table table-bordered">
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}