{% extends "template10/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container match_list">
        <h1>Матчи</h1>
        <ul>
            {% for match in matches %}
                {% include "template10/_match_item.html" %}
            {% empty %}
                <p>К сожалению, сведений о командах не найдено.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}