{% extends "khl/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<div class="section section-3" id="players">
            <div class="row">
                <div class="col-xs-4 post">
                    <div class="teams_top">
                        <div class="title-buy">
                            <div class="sub-title">Основной состав</div>
                            <div class="breadcrumbs">
                                <div class="row">
                                    <div id="bc1" class="btn-group btn-breadcrumb">
                                        <a href="/" class="btn btn-default"><i class="icon-home"></i></a>
                                        <div class="btn btn-default">...</div>
                                        <a href="/teams" class="btn btn-default"><div>Сборные</div></a>
                                        <a href="{% url 'portal:team' data.alias %}" class="btn btn-default"><div>{{ data.name }}</div></a>
                                    </div>
                            	</div>
                            </div>
                            <div class="title">Информация о сборной</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 info-players">
                    <h1>{{ data.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="row players">
                    <div class="col-md-12">
                        <div class="col-md-4 col-sm-5 col-lg-3">	
                           <!--<div class="thumbnail">
                             <a class="player-img post5" href="#"><img src="{{ data.image }}" alt="ALT NAME" class="img-responsive" /></a>
                             <div class="caption">
                              <div class="name"><a href="asdsadasdasd">{{ data.name }}</a></div>
                                 <!--<p class="parameters">Тренер: АВБ</p>
                                 <p class="parameters">Дата основания: 08.02.1933</p>
                                 <p class="parameters">Страна:  Россия</p>
                                </div>
                            </div>-->
                            <div class="table_for_teams team_main">{{ data.widget|safe }}</div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-lg-9">
                            <div class="table_for_teams">
                            {% if data.content %}{{ data.content|safe }}{% endif %}
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-lg-9">
                            <div class="divider"></div>
                            <h2 class="players_htwo">Футболисты</h2>
                            <div class="row players">
                                {% if players %}
                                    {% for player in players %}
                                        <ul class="thumbnails">
                                             <div class="col-md-3 col-lg-2 col-sm-4">
                                                 <div class="thumbnail">
                                                     <a class="player-img post5" href="{% url 'portal:player' player.alias %}"><img src="{{ player.image }}" alt="ALT NAME" class="img-responsive" /></a>
                                                     <div class="caption">
                                                          <div class="name"><a href="{% url 'portal:player' player.alias %}">{{ player.name }}</a> <span class="blue">[{{ player.position }}]</span></div>
                                                         <p class="birth">{{ player.birth|ru_strftime:"%d %B %Y" }}</p> 
                                                         <p class="parameters">{{ player.club }}</p>
                                                     </div>
                                                 </div>
                                             </div>
                                        </ul>
                                    {% endfor %}
                                {% else %}
                                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                                {% endif %}
                    
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    
                </div>
            </div>
				
        </div><!-- .section3 -->
    </div>			
    {% endblock %}