{% extends "template10/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">
        <h1>Команды</h1>
        <div class="teams">
                {% for team in teams %}
                    {% include "template10/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
        </div> 
    </div>  
{% endblock %}