{% extends "template10/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
        <div class="container team">
            <h1>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</h1>
            <div class="col-md-12">
                <div class="col-md-8 col-sm-12">
                    <div class="col-sm-12 cmd-photo">
                        <img src="/media/photos/{{ data.get_photo_list.0 }}">
                        <table class="table table-bordered">
                            <tbody>
                                <tr><th>Турнир</th><th>ЗМ</th><th>ПМ</th><th>Место</th></tr>
                                <tr><td>Чемпонат Европы 2000</td><td>15</td><td>17</td><td>12</td></tr>
                                <tr><td>Чемпонат Мира 2002</td><td>15</td><td>17</td><td>12</td></tr>
                                <tr><td>Чемпонат Европы 2004</td><td>15</td><td>17</td><td>12</td></tr>
                                <tr><td>Чемпонат Мира 2006</td><td>15</td><td>17</td><td>12</td></tr>                                                                                                
                            </tbody>
                        </table>
                    </div>
                    {% if data.content %}{{ data.content|safe }}{% endif %}

                    {% if coaches %}
                        {% for player in coaches %}
                            {% include "template10/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if goalkeepers %}
                        {% for player in goalkeepers %}
                            {% include "template10/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if defenders %}
                        {% for player in defenders %}
                            {% include "template10/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if midfielders %}
                        {% for player in midfielders %}
                            {% include "template10/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if attacks %}
                        {% for player in attacks %}
                            {% include "template10/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if not coaches and not goalkeepers and not defenders and not attacks%}
                        <p>К сожалению, об игроках данной сборной сведений нет.</p>
                    {% endif %}
                    
                </div>
                <div class="col-md-4 col-sm-12">  
                    <img src="/media/logo/{{ data.get_logo_list.0 }}" alt="" style="position: relative;left: 12%;">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Федерация</td><td>{{ data.fed }}</td>
                            </tr>
                            <tr>
                                <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                            </tr>
                            <tr>
                                <td>Год основания</td><td>{{ data.founded }}</td>
                            </tr>
                            <tr>
                                <td>Адрес</td><td>{{ data.address }}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td><td>{{ data.phone }}</td>
                            </tr>
                            <tr>
                                <td>Fax</td><td>{{ data.fax }}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td><td>{{ data.email }}</td>
                            </tr>
                            <tr>
                                <td>Официальный сайт</td><td>{{ data.offsite|urlize }}</td>
                            </tr>
                            <tr>
                                <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{ data.widget|safe }}
                </div>							
           </div>
        </div>   
{% endblock %}