{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="keywords" content="{{ data.seo_keywords }}">
        <meta name="description" content="{{ data.seo_description }}">
        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/template5/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/static/template5/css/misc.css">
        <link rel="stylesheet" href="/static/template5/css/green-scheme.css">
        
        <!-- JavaScripts -->
        <script src="/static/template5/js/jquery-1.10.2.min.js"></script>
        <script src="/static/template5/js/jquery-migrate-1.2.1.min.js"></script>

        <link rel="shortcut icon" href="/static/template5/images/favicon.ico" type="image/x-icon" />
	</head>
	<body>
        {% include "template5/_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "template5/_footer.html" %}
    </body>
</html>