    <div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h1 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">
                            <a href="/">Главная</a> /
                            {% for breadcrumb in breadcrumbs %}
                                <a href="{% if forloop.counter == 1 %}{% url 'portal:textpage' breadcrumb.alias %}{% else %}{% url 'portal:team' breadcrumb.alias %}{% endif %}">
                                    {% if breadcrumb.menutitle %}
                                        {{ breadcrumb.menutitle }}{% else %}{{ breadcrumb.name }}
                                    {% endif %}
                                </a> /
                            {% endfor %}
                            {% if data.menutitle %}
                                {{ data.menutitle }}{% else %}{{ data.name }}
                            {% endif %}
                        </span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->