{% load pytils_dt %}    
    <div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="h1 page-title match">
                            <img src="/media/logo/{{ data.command_first.get_logo_list.0 }}" style="max-width:100px;"><span> {{ data.command_first }} - {{ data.command_second }} </span><img src="/media/logo/{{ data.command_second.get_logo_list.0 }}" style="max-width:100px;">
                        </div>
                        {% if data.datetime %}<p style="display: block; text-align: center;">{{ data.datetime|ru_strftime:"%d %B %Y" }} - {{ data.datetime|ru_strftime:"%H:%M" }}</p>{% endif %}
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">
                            <a href="/">Главная</a> /
                            {% for breadcrumb in breadcrumbs %}
                                <a href="{% if forloop.counter == 1 %}{% url 'portal:textpage' breadcrumb.alias %}{% else %}{% url 'portal:team' breadcrumb.alias %}{% endif %}">
                                    {% if breadcrumb.menutitle %}
                                        {{ breadcrumb.menutitle }}{% else %}{{ breadcrumb.name }}
                                    {% endif %}
                                </a> /
                            {% endfor %}
                            {% if data.menutitle %}
                                {{ data.menutitle }}{% else %}{{ data.command_first }} - {{ data.command_second }}
                            {% endif %}
                        </span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->