    <footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
                            {% for menu_item in menu %}
                                {% if menu_item.alias != "stadiums" %}
                                <li class="{% if menu_item.alias == host %}active{% endif %} ">
                                    <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Кубок конфедераций 2017</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="/static/template5/js/min/plugins.min.js"></script>
	<script src="/static/template5/js/min/medigo-custom.min.js"></script>