    <div class="responsive_menu">
        <ul class="main_menu">
            <li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
            {% for menu_item in menu %}
                {% if menu_item.alias != "stadiums" %}
                <li class="{% if menu_item.alias == host %}active{% endif %} ">
                    <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo" style="position: relative; float: left;">
						<a href="/">
							<div class="logo"><span style="display: block;position: relative;top: 8px;float: left;color: #101C1F;font-weight: bold;font-family: arial;line-height: 17px;">Кубок<br>конфедераций</span><img style="height: 55px; float: left; position: absolute; bottom: -8px; right: -38px;" src="/static/template2/images/logo.png" alt=""></div>
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
					            <li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
                                {% for menu_item in menu %}
                                    {% if menu_item.alias != "stadiums" %}
                                    <li class="{% if menu_item.alias == host %}active{% endif %} ">
                                        <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

                                                    
                                            