    <div class="col-md-2 col-sm-2">
        <a href="{% url 'portal:player' player.alias %}" class="team-member">
            <div class="thumb-post">
                <img src="{{ player.image }}" alt="">
                <span class="member-role" style="color:#777777;">{{ player.position }}</span>
            </div>
            <div class="member-content">
                <h4 class="member-name" style="font-size: 15px;margin:10px 0 25px;text-align: center;">{{ player.name }}</h4>
            </div>
        </a> <!-- /.team-member -->
    </div> <!-- /.col-md-4 -->