    <div class="col-md-2 col-sm-2" style="height: 250px;">
        <a href="{% url 'portal:team' team.alias %}" class="service-box-wrap">
            <div class="service-icon-wrap">
                <img src="/media/logo/{{ team.get_logo_list.0 }}" style="margin-top: 25px;height:170px;">
            </div> <!-- /.service-icon-wrap -->
            <div class="service-cnt-wrap">
                <h3 class="service-title" style="margin: 15px 0 25px 0;">{{ team.name }}</h3>
            </div> <!-- /.service-cnt-wrap -->
        </a> <!-- /.service-box-wrap -->
    </div> <!-- /.col-md-4 -->