{% extends "template5/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    {% include "template5/_breadcrumbs.html" %}
    <section class="light-content services">
		<div class="container">
			<div class="row">
                <div class="col-md-12 blog-posts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-wrapper">
                                {% if data.content %}{{ data.content|safe }}{% endif %}
                            </div> <!-- /.contact-wrapper -->
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <h3>Обратная связь</h3>
                                <div class="widget-inner">
                                <form action="#" method="post" id="contact-form">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <label for="name">Ваше Имя:</label>
                                                <input type="text" name="name" id="name">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <label for="email">Email:</label>
                                                 <input type="text" name="email" id="email">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <label for="subject">Тема сообщения:</label>
                                                 <input type="text" name="subject" id="subject">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <label for="message">Сообщение:</label>
                                                <textarea name="message" id="message"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="mainBtn" id="submit">Отправить</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="result"></div>
                                        </div> <!-- /.col-md-12 -->
                                    </div> <!-- /.row -->
                                </form>
                              </div> <!-- /.widget-inner -->
                            </div> <!-- /.contact-form -->
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->
                </div> <!-- /.col-md-8 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.services -->
{% endblock %}