{% extends "template5/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="homeIntro" class="parallax first-widget">
	    <div class="parallax-overlay">
		    <div class="container home-intro-content">
		        <div class="row">
		        	<div class="col-md-12">
                        {% for match in last_matches %}
                            {% if forloop.first %}
                                <div class="h1">Кубок конфедераций 2018</div>
                                <p></p>
                                <div class="h2">{{ match.command_first }}<span> vs. </span>{{ match.command_second }}</div> 
                                <p></p>                                
                                <div>
                                    <time datetime="{{ match.datetime|ru_strftime:'%Y-%m-%dT%H:%M' }}">
                                        <i class="fa fa-calendar"></i> {{ match.datetime|ru_strftime:"%B %d, %Y" }}, 
                                        <span class="dtstart"> {{ match.datetime|ru_strftime:"%H:%M" }} </span> 
                                    </time>
                                </div>
                                <div> 
                                    <span class="location">
                                        <i class="fa fa-map-marker"></i>  {{ match.stadium.city }}
                                    </span> 
                                </div>
                                <p></p>
                                <a href="{% url 'portal:match' match.alias %}" class="large-button white-color">Купить билет<i class="icon-button fa fa-download"></i></a>
                                
                            {% endif %}
                        {% endfor %}
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#homeIntro -->

	<section class="cta clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="/matches/" class="main-button accent-color">Купить билеты<i class="icon-button fa fa-arrow-right"></i></a>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.cta -->

	<section class="light-content services">
		<div class="container">
			<div class="row">
                <div class="section-header">
                    <h2 class="section-title">Сборные - участники</h2>
                </div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.services -->
	<section class="testimonials-widget">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="bxslider">
						{% for team in champ_teams %}
							<div class="testimonial">
								<div class="countr"><img src="/media/logo/{{ team.get_logo_list.0 }}"><a href='{% url "portal:team" team.alias %}'>{{ team.name }}</a></div>
								<div class="testimonial-content">
									<span class="testimonial-author">{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
									<p class="testimonial-description">{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}</p>
								</div>
							</div>
						{% endfor %}
					</div> <!-- /.bxslider -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.testimonials-widget -->

	<section class="light-content our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h1 class="section-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
						<h2>Группы Кубка Конфедераций<h2>
						<div class="col-md-12 groups">
							<div class="col-md-6">
								<h3>Группа A</h3>
								<table class="table table-bordered">
									<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
									<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								</tbody></table>
							</div>
							<div class="col-md-6">
								<h3>Группа B</h3>
								<table class="table table-bordered">
									<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
									<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								</tbody></table>
							</div>
						</div>
						<h2>Стадионы Кубка Конфедераций</h2>
						<div class="col-md-12 stadiums">
							{% for stadium in stadiums %}
								{% if forloop.counter > 22 and forloop.counter < 27 %}
									<div class="col-md-6 col-sm-12">
										<span>{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</span>
										<img src="{{ stadium.image }}" alt="">
									</div>
								{% endif %}
							{% endfor %}										
						</div>
						<h2 style="margin-bottom: 25px;">Информация о Кубке Конфедераций</h2>
						<iframe style="max-width: 100%; margin: 0 auto 20px; display: table; border: 5px solid #ddd; box-shadow: 0 0 0 5px #3f3f3f; width: 600px; height: 345px;" width="400" height="230" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen></iframe><p>На домашнем Кубке Конфедераций Россия готова распахнуть свою широкую душу перед миллионами болельщиков и гостей со всей планеты, вдохновляя каждого, кто захочет постичь ее удивительный мир.</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
        <div class="container">
            <div class="row">
                {{ data.content|safe }}
            </div> <!-- /.row -->
        </div> <!-- /.container -->
	</section> <!-- /.our-team -->
{% endblock %}