{% extends "template5/__base.html" %}
    {% block main_content %}
    {% include "template5/_breadcrumbs.html" %}
    <section class="light-content services">
		<div class="container">
            <div class="row">
               <div class="col-md-12 match_list">
                    {% for match in matches %}
                        {% include "template5/_match_item.html" %}
                    {% empty %}
                        <p>К сожалению, сведений о матчах не найдено.</p>
                    {% endfor %}
               </div>
            </div>
        </div>
    </section>
{% endblock %}