{% extends "template5/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    {% include "template5/_breadcrumbs_match.html" %}
		<div class="container">
            <div class="row">
                <div class="container">	
                    <div class="row project-single">
                        <div class="col-md-8">
                            <div class="project-img">
                                <div class="matches">
                                    <h2>История встреч</h2>
                                    <table class="table table-bordered">
                                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                                    </table>
                                </div>
                            </div> <!-- /.project-img -->
                        </div> <!-- /.col-md-8 -->
                        <div class="col-md-4">
                            <div class="project-info">
                                <span class="subtitle">Футбольный матч</span>
                                <h3 class="project-title">{{ data.command_first }} - {{ data.command_second }}</h3>
                                <p>
                                    <img src="/media/logo/{{ data.command_first.get_logo_list.0 }}" alt="" style="width:48%;">
                                    <img src="/media/logo/{{ data.command_second.get_logo_list.0 }}" alt="" style="width:48%;">
                                <p>
                                <!-- <p class="description">Sed consequat lobortis risus, in rutrum arcu tristique eget. Etiam accumsan lectus quis cursus porta.<br><br>Nam convallis neque nec magna malesuada dictum. Aliquam commodo erat non tellus porta imperdiet sit amet eu lacus.</p> -->
                                <ul class="meta-post">
                                    <li>
                                        <span>Чемпионат</span>{{ data.champ }}
                                    </li>
                                    <li>
                                        <span>Группа</span>{{ data.group }}
                                    </li>
                                    <li>
                                        <span>Тур</span>{{ data.tour }}
                                    </li>
                                </ul>
                            </div> <!-- /.project-info -->
                        </div> <!-- /.col-md-4 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->	
                <div class="container">	
                    <div class="col-md-12 col-sm-12">
                        {% if data.content %}{{ data.content|safe }}{% endif %}
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
{% endblock %}