{% extends "template5/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    {% include "template5/_breadcrumbs.html" %}
    <section class="light-content services">
		<div class="container">
			<div class="row">
                {% for team in teams %}
                    {% include "template5/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.services -->
{% endblock %}