{% extends "template5/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    {% include "template5/_breadcrumbs.html" %}
		<div class="container">
			<div class="row">
                <div class="container">	
                    <div class="row project-single">
                        <div class="col-md-8">
                            <div class="project-img">
                                <img src="/media/photos/{{ data.get_photo_list.0 }}" alt="{{ data.name }}">
                            </div> <!-- /.project-img -->
                        </div> <!-- /.col-md-8 -->
                        <div class="col-md-4">
                            <div class="project-info">
                                <span class="subtitle">Сборная по футболу</td>
                                <h3 class="project-title">{{ data.name }}</h3>
                                <img src="/media/logo/{{ data.get_logo_list.0 }}" alt="" style="display: block; margin: 0 auto 25px;">
                                <!-- <p class="description">Sed consequat lobortis risus, in rutrum arcu tristique eget. Etiam accumsan lectus quis cursus porta.<br><br>Nam convallis neque nec magna malesuada dictum. Aliquam commodo erat non tellus porta imperdiet sit amet eu lacus.</p> -->
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Федерация</td><td>{{ data.fed }}</td>
                                    </tr>
                                    <tr>
                                        <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                                    </tr>
                                    <tr>
                                        <td>Год основания</td><td>{{ data.founded }}</td>
                                    </tr>
                                    <tr>
                                        <td>Адрес</td><td>{{ data.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td><td>{{ data.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fax</td><td>{{ data.fax }}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td><td>{{ data.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Официальный сайт</td><td>{{ data.offsite }}</td>
                                    </tr>
                                    <tr>
                                        <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                                    </tr>
                                </table>
                            </div> <!-- /.project-info -->
                        </div> <!-- /.col-md-4 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->	
                <div class="container">	
                    <div class="col-md-12 col-sm-12">
                        {% if data.content %}{{ data.content|safe }}{% endif %}
                    </div>
                </div>
                {% include "template5/_players.html" %}
			</div> <!-- /.row -->
		</div> <!-- /.container -->

{% endblock %}