{% extends "template5/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    {% include "template5/_breadcrumbs.html" %}
    <section class="light-content services">
		<div class="container">
			<div class="row">
                {% if data.content %}{{ data.content|safe }}{% endif %}
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.services -->
{% endblock %}