/* ============ font awesome icons ===================== */
ul.the-icons {
	list-style:none;
	margin-left:0;
}

[class^="icon-"],
[class*=" icon-"] {
    float:none;
	
}
.icon-square,
.icon-rounded,
.icon-plain,
.icon-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 18px;
    height: 18px;
	padding:3px;
    font-size: 12px;
    line-height: 18px;
    text-shadow:none;
    cursor: pointer;
}

.icon-rounded  {
    background-color: #444;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.icon-circled {
    background-color: #444;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.icon-square {
    background-color: #444;
}
.icon-plain {
    width: 48px;
    height: 48px;
    font-size: 47px;
    line-height: 50px;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}
.icon-plain:hover { color: #777; }
/* circled radius */
.icon-circled {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
}
.icon-64.icon-circled {
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}
.icon-128.icon-circled {
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}

.icon-light {
    background-color: #F5F5F5;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}
.icon-rounded:hover,
.icon-circled:hover {
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
}
.demoicon [class^="icon-"],
.demoicon [class*=" icon-"],
[class^="icon-"].left,
[class*=" icon-"].left {
    float:left;
}
[class^="icon-"].active:hover,
[class*=" icon-"].active:hover {
    background-color: rgba(0, 0, 0, 0.75);	
}
[class^="icon-"],
[class*=" icon-"] {
  margin-top: 1px;
  margin-right: .3em;
}

/* custom size */
.icon-32 {
    width: 24px;
    height: 24px;
	padding:4px;
    font-size: 16px;
    line-height: 24px;
}
.icon-48 {
    width: 32px;
    height: 32px;
	padding:8px;
    font-size: 28px;
    line-height: 30px;
}
.icon-64 {
    width: 40px;
    height: 40px;
	padding:12px;
    font-size: 36px;
    line-height: 40px;
}
.icon-128 {
    width: 56px;
    height: 56px;
	padding:36px;
    font-size: 54px;
    line-height: 60px;
}
.icon-none-bg{
	background-color:#F2F2F2;
}