/*------------ Container(s) ------------ */
#sequence-slider ul,
#sequence-slider ul li {
    margin: 0;
    padding: 0;
}
#sequence-slider ul li { list-style: none }
#sequence-slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    margin: 0;	
	background: rgba(20, 54, 85, 0.65) url(../img/menu-bg.png) no-repeat center top; 
}
#sequence-slider #sequence {
    background-color: transparent;
    background-image: none;
    height: 400px;
	width:960px;
	margin:0 auto;
	position: relative;
}
#sequence-slider #sequence.sequence-fallback { overflow: hidden }

/*------------ Navigation ------------ */
#sequence-slider .next, #sequence-slider .prev {
    cursor: pointer;
    top: 50%;
    margin-top: -30px;
	filter: alpha(opacity=1.0); 
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    z-index: 200;
    font-family: "entypo";
    right: -50px;
    display: block;   
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;    
	height: 36px;
	width: 30px;
	background: #556167;
	/*background: rgba(85, 97, 103, 0.7);	*/
     
}
#sequence-slider .prev {
    left: -50px;
    right: auto;
}


#sequence-slider .next > span, #sequence-slider .prev > span {
	display: block;
	height: 16px;
	width: 10px;
	margin:10px;
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    -ms-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);		
}
#sequence-slider .prev > span {
	background: url(../img/sec-prev.png) no-repeat;

}
#sequence-slider .next > span {
	background: url(../img/sec-next.png) no-repeat;
}

#sequence-slider .prev:hover, #sequence-slider .next:hover { 
	opacity: 1.0; 
	filter: alpha(opacity=1.0);  
	background-color: #143655;
}
#sequence-slider:hover .next { 
	opacity: 1;
    right: 10px;
	filter: alpha(opacity=1.0);
	background-color: #143655;
}
#sequence-slider:hover .prev {
    opacity: 1;
	left: 10px;
	filter: alpha(opacity=1.0);
	background-color: #143655;
}


/*------------ Base Slide Styles ------------ */
.slide-image img {
    display: block;
    width: 150px;
}
/*------------ caption ------------ */
.time_town {
	float: left;
    width: 340px;
}
.time_town span {
	display: table;
	background: #143655;
	clear: both;
	padding: 5px 10px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	margin: 7px auto;
}
#sequence-slider .caption {
    z-index: 2;
	color: #fff;
}
#sequence-slider .caption h2 {
	padding: 10px;
	display:inline-block;
	color:#fff;
	font-size: 16px;
	background: #1C1C1C;		
    text-shadow: 2px -2px 2px rgba(0,0,0,.2);
	line-height:24px;
	clear:both;
}
#sequence-slider .caption h3 {
	color:#fff;
	font-size:100%;
	line-height:1.4;
	padding: 5px 10px;
	display:inline-block;
	clear:both;
	background: #00AEC8;	
}
#sequence-slider .caption h4 {
	color:#fff;
	font-size:100%;
	line-height:1.4;
	padding: 5px 10px;
	display:inline-block;
	clear:both;
	background: #00AEC8;	
}
#sequence-slider .caption p {
	color:#333;
	font-weight:bold;
}
#sequence-slider .caption .btn{
	color: #6c6c6c;
	padding: 10px;	
}

#sequence-slider .caption.light h2.nonebg{
	background:transparent;
}
#sequence-slider .caption.dark h2 {
	color:#fff;
    text-shadow: 2px -2px 2px rgba(255,255,255,.2);
}

.lt-ie9 #sequence-slider .caption h2 {
	font-size:180%;
}

.lt-ie9 #sequence-slider .caption h3 {
	font-size:120%;
}

/* ----------- TITLE on left - left to right animation ------------*/
#sequence-slider .title-left-to-right-animate {
    position: absolute;
    left: -100%;
    opacity: 0;
    top: 20%;
    width: 39%;
}
#sequence-slider .animate-in .title-left-to-right-animate {
    left: 0%;
    opacity: 1;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .title-left-to-right-animate {
    left: 200%;
    opacity: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
/* ----------- TITLE on right - right to left animation  ------------*/
#sequence-slider .title-right-to-left-animate {
    right: -100%;
    position: absolute;
    top: 20%;
    width: 39%;
}
#sequence-slider .animate-in .title-right-to-left-animate {
    right: 0%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .title-right-to-left-animate {
    right: -100%;
    opacity: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
/* -----------  IMAGE on LEFT from bottom out to the left   ------------*/
#sequence-slider .left-img-from-bottom-out-to-left {
    left: 0%;
    width: 60%;
    position: absolute;
    top: 800px;
    z-index: 5;
}
#sequence-slider .animate-in .left-img-from-bottom-out-to-left {
    left: 0%;
    top: 15%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .left-img-from-bottom-out-to-left {
    left: -100%;
    opacity: 0;
    top: 25px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
/* ----------- IMAGE on RIGHT from bottom out to the right  ------------*/
#sequence-slider .right-img-from-bottom-out-to-right {
    right: 0%;
    position: absolute;
    top: 800px;
    z-index: 5;
}
#sequence-slider .animate-in .right-img-from-bottom-out-to-right {
    right: 0%;
    top: 15%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .right-img-from-bottom-out-to-right {
    right: -100%;
    opacity: 0;
    top: 25px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
/* -----------  IMAGE on RIGHT from top out to the right  ------------*/
#sequence-slider .right-img-from-top-out-to-right {
    right: 0;
    position: absolute;
    width: 60%;
    top: -800px;
    z-index: 3;
}
#sequence-slider .animate-in .right-img-from-top-out-to-right {
    right: 0;
    top: 15%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .right-img-from-top-out-to-right {
    right: 0;
    top: -800px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
/* Title from top center */
#sequence-slider .title-from-top-animate {
    left: 0;
    position: absolute;
    width: 100%;
    top: -800px;
    text-align: center;
    z-index: 3;
}
#sequence-slider .animate-in .title-from-top-animate {
    left: 0;
    top: 15%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .title-from-top-animate {
    left: 0;
    top: -800px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
/* IMAGE from bottom center */
#sequence-slider .img-from-bottom {
    left: 0;
    width: 100%;
    position: absolute;
    bottom: -800px;
    z-index: 5;
}
#sequence-slider .animate-in .img-from-bottom {
    left: 0;
    bottom: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#sequence-slider .animate-out .img-from-bottom {
    left: 0;
    opacity: 0;
    bottom: 100px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
.slide-image .span5, .slide-image .span2{
	margin: 0;
}
.slide-image .span2{
	margin-top: 80px;
}
.slide-image img {
	margin: 0 auto 15px;
	display: block;
}
.slide-image span {
	text-align: center;
	display: block;
	font-size: 23px;
	color: #fff;
}
.slide-image span.date-place {
    font-size: 19px;
    margin-top: 20px;
    padding: 5px;
    margin: 25px auto 15px;
}
.slide-image a {
	color: #fff!important;
	display: table;
	margin: 0 auto;
	font-size: 20px;
	border-bottom: 1px solid #fff;
}
.slide-image a:hover {
	border-bottom: 0;
}