.theme-changer-wrap {
	position: fixed;
	z-index: 5000;
	top: 190px;
	left: -225px;
}
.theme-changer-wrap a {
	float: left;
	display: inline-block;
	-webkit-box-shadow: #efefef 1px 1px 0px;
	-moz-box-shadow: #efefef 1px 1px 0px;
	box-shadow: #efefef 1px 1px 0px;
}
.theme-changer {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	background-color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	font-family: Helvetica, Arial;
	padding: 15px 20px;
	border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}
.changer-inner {
	overflow: hidden;
	width: 185px;
	text-align:center;
}
.changer-inner span {
	display: block;
	margin-bottom: 15px;
	margin-left: -2px;
	color: #444;
	text-align: center;
	text-transform: uppercase;
}
#layout-selector{
	width:170px;
}
ul#colors,ul#patterns  {
	list-style: none;
	margin: 0;
}
ul#colors li,ul#patterns  li {
	float: left;
	padding-right: 3px;
	padding-left: 4px;
	padding-bottom: 5px;
}
ul#colors li a, ul#patterns li a {
	width: 30px;
	height: 30px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}
ul#patterns li a.Pattern1{
	background: url(../img/patterns/pattern1.png) repeat;
}
ul#patterns li a.Pattern2{
	background: url(../img/patterns/pattern2.png) repeat;
}
ul#patterns li a.Pattern3{
	background: url(../img/patterns/pattern3.png) repeat;
}
ul#patterns li a.Pattern4{
	background: url(../img/patterns/pattern4.png) repeat;
}
ul#patterns li a.Pattern5{
	background: url(../img/patterns/pattern5.png) repeat;
}
ul#patterns li a.Pattern6{
	background: url(../img/patterns/pattern6.png) repeat;
}
ul#patterns li a.Pattern7{
	background: url(../img/patterns/pattern7.png) repeat;
}
ul#patterns li a.Pattern8{
	background: url(../img/patterns/pattern8.png) repeat;
}
ul#patterns li a.Pattern9{
	background: url(../img/patterns/pattern9.png) repeat;
}
ul#patterns li a.Pattern10{
	background: url(../img/patterns/pattern10.png) repeat;
}
ul#patterns li a.Pattern11{
	background: url(../img/patterns/pattern11.png) repeat;
}
ul#patterns li a.Pattern12{
	background: url(../img/patterns/pattern12.png) repeat;
}
ul#patterns li a.Pattern13{
	background: url(../img/patterns/pattern13.png) repeat;
}
ul#patterns li a.Pattern14{
	background: url(../img/patterns/pattern14.png) repeat;
}
ul#patterns li a.Pattern15{
	background: url(../img/patterns/pattern15.png) repeat;
}

ul#colors li a.default {
	background-color: #20B2AA;
}
ul#colors li a.corporate-blue{
	background-color: #5676A5;
}
ul#colors li a.darkcyan{
	background-color: #008B8B;
}
ul#colors li a.dark-slate-gray{
	background-color: #2F4F4F;
}
ul#colors li a.dodger-blue{
	background-color: #1FB2FF;
}
ul#colors li a.golden-rod{
	background-color: #DAA520;
}
ul#colors li a.hot-pink{
	background-color: #FF69B4;
}
ul#colors li a.indian-red{
	background-color: #CD5C5C;
}
ul#colors li a.medium-violet-red{
	background-color: #C71585;
}
ul#colors li a.muted-teal{
	background-color: #3C8C9D;
}
ul#colors li a.orange{
	background-color: #FFA500;
}
ul#colors li a.sea-green{
	background-color: #188C69;
}
ul#colors li a.soft-green{
	background-color: #8DA65D;
}
ul#colors li a.yellow{
	background-color: #F3D42C;
}
ul#colors li a.green{
	background-color: #3AA03A;
}
div.open-close {
	position: relative;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	left: -1px;
	z-index: 1000;
	display: block;
	width: 38px;
	height: 36px;
	float: left;
	cursor: pointer;
	background-color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	color: rgb(100, 100, 100);
	line-height: 36px;
	opacity: 1;
	filter: alpha(opacity=100);
}
#custom_bg_color{
	color: #828282;
	background: #f9f9f9;
	border: 1px solid #d0d0d0;
	padding: 1px 5px;
	display: inline;
	width: 80px;	
	margin-bottom: 15px;
}