/* Large desktop */
@media (min-width: 1200px)
{
	.container{width: 960px;}
	.row {
		margin-left: -20px;
	}
	.navbar .container{width: 960px;}
	#maincontain .news-letter .letter{width: 729px;}

	.span1{width: 50px;}
	.span2{width: 143px;}
	.span3{width: 225px;}
	.span4{width: 306.6px;}
	.span5{width: 388px;}
	.span6{width: 470px;}
	.span7{width: 552px;}
	.span8{width: 633px;}
	.span9{width: 715px;}
	.span10{width: 797px;}
	.span11{width: 850px;}
	.span12{width: 960px;}

	[class*="span"]{margin-left: 20px;}
	/*about-us*/
	.recent-post .span3:first-of-type {
		margin-left: 0;
	}	
	/*portfolio*/
	.thumbnails{margin-left: 0;}
	.form-listen-ideas .span4{
		margin-left:18px;
	}	
}

@media (max-width: 1200px)
{
	.container{width: 960px;}
	.navbar .container{width: 960px;}
	#maincontain .news-letter .letter{width: 729px;}

	.span1{width: 50px;}
	.span2{width: 130px;}
	.span3{width: 225px;}
	.span4{width: 306.6px;}
	.span5{width: 370px;}
	.span6{width: 470px;}
	.span7{width: 530px;}
	.span8{width: 633px;}
	.span9{width: 715px;}
	.span10{width: 770px;}
	.span11{width: 850px;}
	.span12{width: 960px;}
	.thumbnails{margin-left:0;}
	
	/*about-us
	.introduce .span7 {width: 540px;}
	.meet-the-team .span7 {width: 510px;}
	.more-infomation .span4 {width: 276px;}
	
	.introduce-services .span6:first-child {width: 460px;}
	.reason .span4 {width: 300px;}
	.services .span3 {width: 220px;}
	
	.entry-contact .span6 {width: 48%;}
	
	.left-column {width: 647px !important;}
	
	.first-people .span6 {width: 460px;}
	.first-people .span3 {width: 400px; margin-left: 0;}
	.second-people .span4 {width: 300px;}
	.second-people .span2.description {width: 240px; margin-left: 0;}
	
	.option-box .span4 {width: 290px !important;}
	.option-box .span3 {width: 205px !important;}
	.fix-5cols .span3 {width: 178px !important;}
	.fix-5cols .package-info {margin-left: 0 !important;}
	
	
	.primary-column {width: 680px;}
	.comment-contain .input-xlarge {width: 257px;}
	.related-post-area .span3 {width: 213px;}
	*/
}
@media (max-width: 1024px){
	.wrap{
		width:100%;
		box-shadow:none;
	}
	.span2 {
		width: 143px;
	}
	.span4 {
		width: 306.5px;
	}
	.span5 {
		width: 388px;
	}
	.span7 {
		width: 552px;
	}
	.span10 {
		width: 796px;
	}
	.thumbnails{margin-left:0;}
	#service-list div{width:177px;}
	.pricing-4cols{
		width:215px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px)
{	
	.container {	width: 920px !important;}
	.span2 { width: 136.6px;}
	.span3 { width: 215px;}
	.span4 {	width: 293.3px;	}
	.span6 { width: 450px;}
	.span8 { width: 606px;}
	.span9 { width: 685px;}
	.span10 { width: 763px;}
	.span12 { width: 920px;}
	.span4:last-of-type {margin-left: 20px;}
	header .logo{
		margin-left:25px;
	}
	.navbar .btn-navbar{
		display:none;
	}
	.nav-collapse .nav{
		float:left;
		margin:0 0 -2px 0;
	}
	.nav-collapse.collapse{
		height:auto;
		overflow:visible;
	}
	.navbar .nav > li{
		padding-left:0;
		float: left;
	}	
	.nav-collapse .dropdown-menu{
		position:absolute;
		background-color:#fff;
	}
	.dropdown-submenu .dropdown-menu{
		top:40px;
		box-shadow:0 5px 10px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
		-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
		-webkit-border-radius:auto;
		background-clip:padding-box;
		-webkit-background-clip:padding-box;
		-moz-background-clip:padding;
		
	}
	.dropdown-submenu .dropdown-menu li:first-child{
		margin-top:2px;
	}
	
	.widget_flickr .flickr_badge_image{
		width:48px;
	}
	#service-list h5{
		margin: 10px 0;
		line-height:14px;
	}
}

@media (max-width: 966px) {
	.container {	width: 900px !important;}
	.span2 {
		width: 133.3px;
	}
	.span3 {
		width: 210px;
	}
	.span4 {
		width: 286.5px;
	}
	.span5 {
		width: 363.3px;
	}
	.span6 {
		width: 440px;
	}
	.span7 {
		width: 516px;
	}
	.span8 {
		width: 593px;
	}
	.span9 {
		width: 669px;
	}
	.span10 {
		width: 746px;
	}
	.span12{
		width:900px;
	}
	header .logo {
		margin-left: 20px;
	}		
	#service-list div{
		width:165px;	
		min-height:157px;
	}
	.pricing-table.span3 {
		width:200px;
	}
	#maincontain .pricing-5cols {
		width:168px;
	}
	.pricing-table.span3 .p-content .package-info li {
		padding: 10px 30px;
	}
	.team-large .picture {		
		width: 200px;
	}
	.team-small .picture {	
		width: 105px;
	}
	.social-menu li {
		margin:0 0px 5px 0;
	}
	.portfolio-area li{
		margin:0 0 20px 0;
	}
	.small-size .view, .small-size .mask, .small-size .view .content {
		width: 210px;
		height: 140px;
	}
	.medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 287px;
		height: 192px;
	}
	.large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 440px;
		height: 287px;
	}
	.meet-the-team ul li {
		margin: 5px 0 5px 5px;
		width: 85px;
	}
	.blog-ads li img{
		width:62px;
	}
	.blog .comment-contain .btn {
		width: 125px;
	}
	.related-post-area .span3{
		width:209px;
	}
	.testimonials .testimonial-item {
		width: 286px;
	}
	.widget_flickr .flickr_badge_image {
		width: 47px;
	}
}
@media (max-width:853px){
	.container {
		width: 800px !important;
	}
	.span2 {
		width: 116.6px;
	}
	.span3 {
		width: 185px;
	}
	.span4 {
		width: 253px;
	}
	.span5 {
		width: 310px;
	}
	.span6 {
		width: 390px;
	}
	.span7 {	width: 470px;}
	.span8 {	width: 526px;}
	.span9 {	width: 595px;}
	.span10 {width: 663px;}
	.span12 {width: 800px;}
	.navbar .btn-navbar {
		display: block;
	}
	.btn-navbar{
		float: left !important;
		margin-left: 0px !important;
		border: none !important;
		background-image:none !important;
		background: #fff!important;
		text-shadow: none !important;		
		color: #20B2AA !important;
		box-shadow: none !important;
		border-radius: 0;
		padding-top: 0 !important;
		height: 38px;
		margin-top: -5px !important;
		line-height: 50px;
		font-weight: bold;
		width: 120px;
		font-size: 12px;
		text-transform: uppercase;
	}
	.btn-navbar i{
		font-size:14px;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: 0;
		overflow: hidden;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 10px;
		background: #fff;
	}
	.navbar .nav > li {
		padding-left: 0;
		float: none;
	}	
	.navbar .nav > li > a {
		color: #20B2AA;
		text-transform: uppercase;
		text-shadow: none;
		font-weight: bold;
		margin-top: 0px;
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
		margin-right: 10px;
		border-bottom: 1px solid #ededed;
		white-space: pre;
	}	
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		display: none;
		float: none;
		max-width: none;
		padding: 0;
		margin: 0 15px;
		background-color: transparent;
		border: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.dropdown-submenu > .dropdown-menu {
		display: block;
	}
	
	.introduce h4{
		margin-top:0;
		line-height: 22px;
	}	
	.introduce-services h3{
		margin-top:0;
	}
	#service-list div {width: 230px; min-height:176px;}
	.small-size .view, .small-size .mask, .small-size .view .content {
		width: 180px;
		height: 120px;
	}
	.medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 253px;
		height: 169px;
	}
	.large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 390px;
		height: 254px;
	}
	.small-size  .portfolio-item .view h4	{
		margin-top:10px;
	}
	.small-size  .portfolio-item .view a{
		font-size:16px;
		padding:5px;
	}
	.entry-portfolio .nav-order li a{
		margin-right:25px;
	}
	.widget_flickr .flickr_badge_image {
		width: 40px;
	}
	.team-large .picture {
		width: 150px;
	}
	.team-small .picture {
		width: 70px;
	}	
	.pricing-table.span3 {
		width: 175px;
	}
	.pricing-table.span3 .btn.btn-large{padding:10px 10px}
	.pricing-5cols {
		width: 148px;
	}
	.pricing-table.span3 .p-content .package-info li {
		padding: 10px 25px;
	}
	.coming-soon-content .sign-up input {
		margin-left: 65px;
	}
	.coming-soon-content .sign-up .btn {
		padding-left: 35px;
		padding-right: 35px;
	}
	.testimonials .testimonial-item {
		width: 253px;
	}
	.blog-ads li img {
		width: 53px;
	}
}
@media (max-width:800px){
	h3 {
		font-size: 20px;
		line-height: 24px;
	}
	.container {
		width: 740px !important;
	}
	.span2 {
		width: 106px;
	}
	.span3 {
		width: 170px;
	}
	.span4 {
		width: 233.3px;
	}
	.span5 {
		width: 297px;
	}
	.span6 {
		width: 360px;
	}
	.span7 {
		width: 423px;
	}
	.span8 {
		width: 486.7px;
	}
	.span9 {
		width: 549.4px;
	}	
	.span10{
		width:612px;
	}
	.span12{
		width:740px;
	}
	.feature-item i {
		font-size:28px;
	}
	#service-list div {
		width: 206px;
		min-height: 176px;
	}	
	.small-size .view, .small-size .mask, .small-size .view .content {
		width: 170px;
		height: 113px;
	}
	.medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 233px;
		height: 156px;
	}
	.large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 360px;
		height: 235px;
	}
	.portfolio-item .view h4 {	
		font-size: 14px;
		line-height: 19px;
	}
	.portfolio-item .view p{
		line-height: 16px;
	}
	.meet-the-team ul li {
		margin: 5px 0 5px 5px;
		width: 66px;
	}	
	.newsletter-bg .form-inline input{
		width:180px;
	}
	.team-large .picture {
		width: 100%;
	}
	.team-large .desc {
		width: 100%;
	}
	.team-small .picture,.team-small .desc {
		width: 100%;
	}
	.widget_flickr .flickr_badge_image {
		width: 36px;
	}
	.blog-ads li img {
		width: 48px;
	}
	.testimonials .testimonial-item {
		width: 233px;
	}
	.pricing-table.span3 {
		width: 170px;
	}
	#maincontain .pricing-4cols {
		width: 152px;
	}
	.pricing-5cols {
		width: 136px;
	}
	.pricing-table.span3 .package-name {
		font-size: 18px;
	}
	#maincontain .pricing-table .money {
		font-size: 18px;
		line-height: 22px;
	}
	.pricing-table.span3 .p-content .package-info li {
		padding: 10px 20px;
	}
	.pricing-table.span3 .btn.btn-large {
		padding: 5px 10px;
	}
	.coming-soon-content .sign-up input {
		margin-left: 30px;
	}
	.coming-soon-content .sign-up .btn {
		padding-left: 25px;
		padding-right: 25px;
	}	
	.comment-contain .input-xlarge {
		width: 35%;
	}
	.related-post-area .span3 {
		width: 169px;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px)
{
	body{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	h4 {
		font-size: 16px;
		line-height: 22px;
	}
	.container{
		width:710px !important;
	}
	/*[class*="span"]{margin-left: 10px !important; float:left;}
	[class*="span"]:first-of-type{
		margin-left:0px !important;
	}*/	
	.span2 {
		width: 101.5px;
	}
	.span3 {
		width: 162px;
	}
	.span4{
		width:223px;
	}
	.span5{
		width:284px;
	}
	.span6 {
		width: 345px;
	}
	.span7 {
		width: 406px;
	}
	.span8 {
		width: 467px;
	}
	.span9 {
		width: 528px;
	}
	.span10 {
		width: 588px;
	}
	.span12 {
		width: 710px;
	}
	
	.btn-navbar{
		margin-left: 0 !important;
	}
	
	
	
	/*header*/
	.header-right{margin-top: 10px;}
	header .logo{margin-left: 20px !important;float:left;}
	header .social {}	
	
	#service-list h5 {
		margin: 7px 0;
	}
	#service-list div{
		width:198px;
		min-height:176px;
	}
	.service-paging{
		top:-5px;
	}
	.newsletter-bg .intro .title{
		padding-left:10px;
	}
	.newsletter-bg .form-inline input {
		width: 170px;
	}	
	.feature-item i{
		font-size:28px;
	}
	
	.team-large .picture,.team-large .desc {
		width: 100%;
	}
	.entry-portfolio .nav-order li a {
		margin-right: 18px;
	}
	.small-size  .portfolio-area,.medium-size  .portfolio-area, .large-size  .portfolio-area{		
		width: 730px;
	}	
	.small-size .view, .small-size .mask, .small-size .view .content {
		width: 162px;
		height: 107px;
	}
	.medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 223px;
		height: 149px;
	}
	.large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 345px;
		height: 224px;
	}
	.project-widget ul li label{
		font-size:12px;
	}
	#maincontain .pricing-5cols {
		width: 130px;
	}
	.pricing-table.span3 .p-content .package-info li {
		padding: 10px;
	}
	.pricing-table.span3 .btn.btn-large {
		padding: 5px 5px;
	}
	.pricing-table.span3 .p-content .package-info {
		font-size:12px;
	}
	.pricing-table.span3 .price {
		padding:10px 0;
	}
	.pricing-table.span3 .price .odd {
		margin-right: 10px;
	}
	.pricing-table.span3 .purchase {
		padding: 10px 20px;
	}
	.testimonials .testimonial-item {
		width: 223px;
	}		
	.blog-ads li img {
		width: 46px;
	}
	.nav-tabs>li>a, .nav-pills>li>a {
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-tabs>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.blog .comment-contain .btn {
		width: 121px;
	}
	.related-post-area .span3 {
		width: 162px;
	}
	.comment-contain .input-xlarge {
		width: 35%;
	}
	
}
@media (max-width: 720px) {
	.container{
		width:660px !important;
	}
	.span2 {
		width: 101.6px;
	}	
	.span3 {
		width: 157.5px;
	}
	.span4 {
		width: 213.3px;
	}
	.span5 {
		width: 269.2px;
	}
	.span6 {
		width: 325px;
	}
	.span7 {
		width: 380.8px;
	}
	.span8 {
		width: 436px;
	}
	.span9 {
		width: 492px;
	}
	.span10 {
		width: 548px;
	}
	.span12{
		width:660px;
	}
	.feature-item i {
		font-size: 26px;
	}
	.newsletter-bg .intro .title {
		padding-left: 0px;
		padding-right:10px;
	}
	.newsletter-bg .intro .desc {
		padding-left: 10px;
	}
	.newsletter-bg .form-inline input {
		width: 150px;
	}
	.newsletter-bg .form-inline .btn{
		padding:10px 15px;
	}
	#service-list div {
		width: 185px;		
		min-height:194px;
	}
	#service-list h5 {
		margin: 10px 0;
	}
	.entry-portfolio .nav-order li a {
		margin-right: 10px;
	}
	.widget_flickr .flickr_badge_image {
		width: 32px;
	}
	.small-size  .portfolio-area,.medium-size  .portfolio-area, .large-size  .portfolio-area{		
		width: 670px;
	}
	.small-size .view, .small-size .mask, .small-size .view .content {
		width: 157px;
		height: 104px;
	}
	.medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 213px;
		height: 142px;
	}
	.large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 325px;
		height: 212px;
	}
	.testimonials .testimonial-item {
		width: 213px;
	}
	.pricing-table .p-content .package{
		margin:0;
	}
	.pricing-table.span3 {
		width: 157px;
	}
	#maincontain .pricing-5cols {
		width: 122px;
	}
	.pricing-table.span3 .price {
		padding: 5px 0;
	}
	#maincontain  .pricing-table .money {
		font-size: 12px;
	}
	.pricing-table.span3 .purchase {
		padding: 10px 15px;
	}
	.blog-ads li img {
		width: 42px;
	}
	.comment-contain .input-xlarge {
		width: 37%;
	}
	.related-post-area .span3 {
		width: 157px;
	}
}

@media (max-width: 640px){
	.container{
		width:600px !important;
	}
	h3 {
		font-size: 18px;
		line-height: 22px;
	}	
	h4 {
		font-size: 14px;
		line-height: 18px;
	}
	h5 {
		font-size: 13px;
		line-height: 16px;
	}
	.navbar-inner{
		padding-left:10px;
		padding-right:10px;
	}
	.span2 {
		width: 91.6px;
	}
	.span3 {
		width: 142.5px;
	}
	.span4 {
		width: 193px;
	}
	.span5 {
		width: 244.2px;
	}
	.span6 {
		width: 295px;
	}
	.span7 {
		width: 345px;
	}
	.span8 {
		width: 396px;
	}
	.span9 {
		width: 447px;
	}
	.span10 {
		width: 498px;
	}
	.span12 {
		width: 600px;
	}
	.grid-page {
		padding: 5px 0;
	}
	.feature-item i {
		font-size: 22px;
	}
	.newsletter-bg .form-inline input {
		width: 445px;
	}	
	.newsletter-bg .form-inline .btn {
		padding: 10px 25px;
	}
	#service-list div {
		width: 167px;
		min-height:194px;
	}
	#maincontain .pricing-table .p-content {
		padding: 20px;
	}
	#maincontain .pricing-4cols {
		width: 142px;
	}
	.pricing-table.span3 .purchase {
		padding: 10px 10px;
	}
	#maincontain .pricing-5cols {
		width: 110px;
	}
	.pricing-table.span3 .price .odd {
		margin-right: 5px;
	}
	.pricing-table.span3 .p-content .package-info li {
		padding: 10px 5px;
	}
	.testimonials .testimonial-item {
		width:193px
	}
	.entry-portfolio .nav-order li a {
		padding: 10px 20px;
	}
	.small-size  .portfolio-area,.medium-size  .portfolio-area, .large-size  .portfolio-area{		
		width: 610px;
	}
	.small-size .view, .small-size .mask, .small-size .view .content {
		width: 142px;
		height: 94px;
	}
	.small-size .portfolio-item .view p{
		display:none;
	}
	.small-size .portfolio-item .view h4 {
		margin-top:20px;
		margin-bottom:10px;
	}
	.medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 193px;
		height: 129px;
	}
	
	.large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 295px;
		height: 192px;
	}
	.portfolio-item .view p{
		line-height:16px;
	}
	footer .social-menu li{
		margin:0 3px 5px 0;
	}
	.form-listen-ideas .btn {
		width: 85px;
	}
	.news-letter .form-inline label{
		margin-right:10px;
	}
	.news-letter .form-inline input{
		width:230px;
	}
}
@media (max-width: 603px){
	.container{
		width:560px !important;
	}
	h4 {
		font-size: 16px;
		line-height: 22px;
	}
	.padding-30 {
		padding-top: 20px;
	}
	.margin-30{
		margin-top:15px;
	}
	[class*="span"]{margin-left: 0px !important; margin-bottom:10px; float:left; width:100%;}
	header .logo{
		width: 193px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	header .social{
		width: 290px;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.feature-item i {
		font-size: 34px;
	}
	.feature-item .desc {
		width: 90%;
	}
	#service-list div {
		width: 180px;
		min-height: 150px;
	}
	.newsletter-bg{
		margin-top: 0px;
		padding-top: 5px;
	}
	.about-box{
		width:100%;
	}
	.service-paging{
		top:-5px;
	}
	.newsletter-bg .form-inline input {
		width: 405px;
	}
	.entry-portfolio .nav-order li a {
		padding: 10px 15px;
	
	}
	.small-size .portfolio-area, .medium-size .portfolio-area, .large-size .portfolio-area {
		width: 570px;
	}
	.small-size .span3, .small-size .view, .small-size .mask, .small-size .view .content {
		width: 180px !important;
		height: 120px;
		margin-bottom:0;
	}
	.small-size .portfolio-item .view p{
		display:block;
	}
	.small-size .portfolio-item .view h4 {
		margin-top:20px;
		margin-bottom:10px;
	}
	.medium-size .span4, .medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 275px !important;
		height: 184px;
	}
	
	.large-size .span6, .large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 560px !important;
		height: 365px;
	}
	.meet-the-team ul li {
		width: 65px;
	}
	#maincontain .pricing-4cols {
		width: 100%;
	}
	#maincontain .pricing-5cols {
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0 !important;
	}
	.testimonials .testimonial-item {
		width: 560px;
		margin-left:10px !important;
	}
	.entry-header h4{
		margin-bottom:0;
	}
	.blog-ads li img {
		width: 54px;
	}
	.last-post ul {
		width:100%;
	}
	.last-post ul li {	
		width: 265px;
		margin-right: 15px;
	}
	.form-listen-ideas .span6 input, .form-listen-ideas .span6 textarea, .form-listen-ideas .span4 input, .form-listen-ideas .span4 textarea {
		width: 98%;
	}
	.flex-direction-nav .flex-next {
		right:0px;
	}
	.flex-direction-nav .flex-prev {
		left:0px;
	}
	.services h3 {
		margin-left: 0;
		margin-top:0;
	}
	footer .span3{
		width:100%;
	}
	footer .span9{
		margin-bottom:0;
	}
	footer h4{
		border-bottom:solid 1px #fff;
		padding:5px 0 10px 0;
		margin-bottom:10px;
	}
	footer .pull-right{
		float:left !important;
	}
	footer .verybottom .footer-nav{
		display:inline-block;
	}	
	.widget_flickr .flickr_badge_image {
		width: 46px;
	}
	footer .get-in-touch{
		width:100%;
	}
	footer .verybottom .copy-right {
		width:100%;
		text-align:center;
	}
}
@media (max-width: 568px){
	.container{
		width:510px !important;
	}
	#service-list div {
		width: 163px;
	}
	.newsletter-bg .form-inline input {
		width: 355px;
	}
	.widget_flickr .flickr_badge_image {
		width: 41px;
	}
	.entry-portfolio .nav-order li a {
		padding: 10px 10px;
	}
	.small-size .portfolio-area, .medium-size .portfolio-area, .large-size .portfolio-area {
		width: 520px;
	}
	.small-size .span3, .small-size .view, .small-size .mask, .small-size .view .content {
		width: 250px !important;
		height: 166px;
	}
	.medium-size .span4, .medium-size .view, .medium-size .mask, .medium-size .view .content {
		width: 250px !important;
		height: 167px;
	}
	.large-size .span6, .large-size .view, .large-size .mask, .large-size .view .content {
		width: 510px !important;
		height: 333px;
	}
	.testimonials .testimonial-item {
		width: 510px;
	}
	.blog-ads li img {
		width: 48px;
	}
	.last-post ul li {
		width: 240px;
	}
	footer .verybottom .footer-nav li {	
		padding: 10px 5px 0 5px;
	}
}
@media (max-width: 533px){
	.container{
		width:495px !important;
	}
	#service-list div {
		width: 158px;
	}

	.newsletter-bg .form-inline input {
		width: 340px;
	}
	.widget_flickr .flickr_badge_image {
		width: 39px;
	}
	.small-size .portfolio-area, .medium-size .portfolio-area, .large-size .portfolio-area {
		width: 505px;
	}
	.small-size .span3, .small-size .view, .small-size .mask, .small-size .view .content {
		width: 242px !important;
		height: 161px;
	}
	.medium-size .span4, .medium-size .view, .medium-size .mask, .medium-size .view .content {
		width: 242px !important;
		height: 162px;
	}
	.large-size .span6, .large-size .view, .large-size .mask, .large-size .view .content {
		width: 495px !important;
		height: 323px;
	}
	.testimonials .testimonial-item {
		width: 495px;
	}
	.blog-ads li img {
		width: 47px;
	}
	.last-post ul li {
		width: 230px;
	}
	.form-listen-ideas .span6 input, .form-listen-ideas .span6 textarea, .form-listen-ideas .span4 input, .form-listen-ideas .span4 textarea {
		width: 96%;
	}
	.meet-the-team ul li {
		width: 118px;
	}
	.reason h3 {
		margin-left: 0px;
	}
}
/* Landscape phones and down */
@media (max-width: 375px){
	
}
@media (max-width: 480px){	
	.container{
		width: 100%!important;
	}
	header .logo, header .social{
		width: 100%;
		text-align: center;
	}
	
	header .social{
		margin-top:20px;
		margin-bottom:15px;
	}
	#service-list div {
		width: 205px;
		min-height:151px;
	}
	.newsletter-bg .form-inline input{
		width: 265px;
	}
	.widget_flickr .flickr_badge_image {
		width: 74px;
	}
	.small-size .portfolio-area, .medium-size .portfolio-area, .large-size .portfolio-area {
		width: 430px;
	}
	.small-size .span3, .small-size .view, .small-size .mask, .small-size .view .content {
		width: 205px !important;
		height: 136px;
	}
	.medium-size .span4, .medium-size .view, .medium-size .mask, .medium-size .view .content {
		width: 205px !important;
		height: 137px;
	}
	.large-size .span6, .large-size .view, .large-size .mask, .large-size .view .content {
		width: 420px !important;
		height: 274px;
	}
	.entry-portfolio .nav-order li a {
		padding: 10px 8px;
		margin-right:5px;
	}
	.testimonials .testimonial-item {
		width: 420px;
	}
	.blog-ads li img {
		width: 38px;
	}
	.last-post ul li {
		width: 195px;
	}
	.meet-the-team ul li {
		width: 100px;
	}
}
@media (max-width: 360px){
	.container{
		width:320px !important;
	}
	
	.feature-item .desc {
		width: 85%;
	}
	#service-list div {
		width: 320px;
		min-height: 220px;
	}
	
	.newsletter-bg .intro{
		padding-left:10px;
		padding-right:10px;
	}
	.newsletter-bg .intro .title{
		width: 253px;
		padding: 0;
		border-right: none;
		text-align: left;
	}
	.newsletter-bg .intro .desc{
		padding: 0;
		clear: both;
		width: 100%;
		margin-top: 5px;
		border-top: solid 1px #fff;
		padding-top: 5px;
	}
	.newsletter-bg .intro .desc br{
		display:none;
	}
	.newsletter-bg .form{
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 0;
		float: left;
	}
	.newsletter-bg .form-inline input{
		width:195px;
	}
	.newsletter-bg .form-inline .btn.btn-large{
		padding: 10px 20px;
	}
	footer .verybottom .footer-nav li{
		margin-right:10px;
	}
	.widget_flickr .flickr_badge_image {
		width: 54px;
	}
	.entry-portfolio .nav-order li a {
		padding: 10px 10px;
		margin-right: 10px;
	}
	.small-size .portfolio-area, .medium-size .portfolio-area, .large-size .portfolio-area {
		width: 330px;
	}
	.small-size .span3, .small-size .view, .small-size .view .mask, .small-size .view .content {
		width: 320px !important;
		height: 213px;
	}
	.medium-size .span4, .medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 320px !important;
		height: 214px;
	}
	.large-size .span6, .large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 320px !important;
		height: 209px;
	}
	.services {
		margin-top: 0px;
	}
	.testimonials .testimonial-item {
		width: 320px;
	}
	.entry-meta .meta-post li {
		margin: 0 3px;
	}
	.blog-ads li img {
		width: 98px;
	}
	.last-post ul li {
		width: 320px;
		margin-right:0;
	}
	.comment-contain textarea {
		width: 96%;
	}
	.comment-contain .input-xlarge {
		width: 100%;
	}
}	
@media (max-width: 320px){
	.container{
		width:280px !important;
	}
	.feature-item i {
		font-size: 32px;
	}
	.feature-item .desc {
		width: 83%;
	}
	#service-list div {
		width: 280px;
		min-height: 210px;
	}
	.newsletter-bg .intro{
		padding-left:5px;
		padding-right:5px;
	}
	.newsletter-bg .intro .title{
		width: 223px;
		padding: 0;
		border-right: none;
		text-align: left;
	}
	.newsletter-bg .intro .desc{
		padding: 0;
		clear: both;
		width: 100%;
		margin-top: 5px;
		border-top: solid 1px #fff;
		padding-top: 5px;
	}
	.newsletter-bg .intro .desc br{
		display:none;
	}
	.newsletter-bg .form{
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 0;
		float: left;
	}
	.newsletter-bg .form-inline input{
		width:165px;
	}
	.newsletter-bg .form-inline .btn.btn-large{
		padding: 10px 20px;
	}
	.small-size .portfolio-area, .medium-size .portfolio-area, .large-size .portfolio-area {
		width: 290px;
	}
	.small-size .span3, .small-size .view, .small-size .view .mask, .small-size .view .content {
		width: 280px !important;
		height: 186px;
	}
	.medium-size .span4, .medium-size .view, .medium-size .view .mask, .medium-size .view .content {
		width: 280px !important;
		height: 187px;
	}
	.large-size .span6, .large-size .view, .large-size .view .mask, .large-size .view .content {
		width: 280px !important;
		height: 182px;
	}
	.meet-the-team ul li {
		width: 65px;
	}
	.testimonials .testimonial-item {
		width: 280px;
	}
	.blog-ads li img {
		width: 85px;
	}
	.last-post ul li {
		width: 280px;
	}
	.widget_flickr .flickr_badge_image {
		width: 46px;
	}
	
	footer .verybottom .footer-nav li {	
		line-height: 16px;
		padding: 10px 5px 0 5px;
		margin-right: 0px;
	}
	.form-listen-ideas .span6 input, .form-listen-ideas .span6 textarea, .form-listen-ideas .span4 input, .form-listen-ideas .span4 textarea {
		width: 94%;
	}
}
@media (max-width: 768px) {
	.span5.logo {
		    width: 330px;
	}
	#intro {
		display: none;
	}
	
}
@media (max-width: 480px) {
	.feature-full-bg iframe{
		height: 215px;
	}
	.conf_hist tr td:last-child, .conf_hist tr th:last-child{
		display: none;
	}
	.logo span {
		font-size: 16px;
	}
	.span5.logo{
		    max-width: 300px;
	}
	.btn.btn-navbar {
		width: 32px;
	}
	.pull-right.phone {
		position: absolute;
		top: -1px;
		right: -70px;
	}
	.about_player {
		display: none;
	}
}


@media (max-width: 414px){
	.span5.logo{
		    max-width: 394px;
	}
	body{
		width: 414px;
		    overflow: hidden;
	}
	.about_team .span5 img{
		display: block;
		margin: 0 auto 15px;
		left: 0!important;
	}
	.about_team .span5 h2{
	    text-align: center;
	}
	.container h1, .container h2, .container h3 {
		text-align: center;
		padding: 0;
	}
	.about_player {
		display: none;
	}
}
@media (max-width: 375px){
	.span5.logo{
		    max-width: 355px;
	}
	body{
		width: 375px;
	}
	.about_team .span5 img{
		display: block;
		margin: 0 auto 15px;
		left: 0!important;
	}
	.about_team .span5 h2{
	    text-align: center;
	}
	.container h1, .container h2, .container h3 {
		text-align: center;
	}
}
@media (max-width: 320px){
	.span5.logo{
		    max-width: 300px;
	}
	body{
		width: 320px;
	}
	.about_team .span5 img{
		display: block;
		margin: 0 auto 15px;
		left: 0!important;
	}
	.about_team .span5 h2{
	    text-align: center;
	}
	.container h1, .container h2, .container h3 {
		text-align: center;
	}
	.about_player {
		display: none;
	}
}