{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <!-- Favicon -->
		<link rel="shortcut icon" href="/static/template4/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/static/template4/img/apple-touch-icon.png">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/template4/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/template4/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/template4/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/static/template4/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/template4/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/static/template4/vendor/magnific-popup/magnific-popup.min.css">
		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/template4/css/theme.css">
		<link rel="stylesheet" href="/static/template4/css/theme-elements.css">
		<link rel="stylesheet" href="/static/template4/css/theme-blog.css">
		<link rel="stylesheet" href="/static/template4/css/theme-shop.css">
		<link rel="stylesheet" href="/static/template4/css/theme-animate.css">
		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/static/template4/vendor/rs-plugin/css/settings.css" media="screen">
		<link rel="stylesheet" href="/static/template4/vendor/rs-plugin/css/layers.css" media="screen">
		<link rel="stylesheet" href="/static/template4/vendor/rs-plugin/css/navigation.css" media="screen">
		<link rel="stylesheet" href="/static/template4/vendor/circle-flip-slideshow/css/component.css" media="screen">
		<!-- Skin CSS -->
		<link rel="stylesheet" href="/static/template4/css/skins/default.css">		
        <script src="/static/template4/master/style-switcher/style.switcher.localstorage.js"></script>
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/template4/css/custom.css">
		<!-- Head Libs -->
		<script src="/static/template4/vendor/modernizr/modernizr.min.js"></script>	
	</head>
	<body>
        <div class="body">
            {% include "template4/_header.html" %}
            {% block main_content %}{% endblock %}
            {% include "template4/_footer.html" %}
    </body>
</html>