		<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Контакты</span>
						</div>
						<div class="col-md-4">
							<div class="contact-details">
								<ul class="contact">
									<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
									<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-789</p></li>
									<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-8">
							<h4>Поделиться в соц сетях:</h4>
<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index-2.html" class="logo">
									<img alt="Porto Website Template" class="img-responsive" src="/static/template4/img/logo-footer.png">
								</a>
							</div>
							<div class="col-md-7">
								<p>© Copyright 2015. All Rights Reserved.</p>
							</div>
							<div class="col-md-4">
								<nav id="sub-menu">
									<ul>
										{% for menu_item in menu %}
                                            {% if menu_item.alias != "stadiums" %}
                                            <li class="{% if menu_item.alias == host %}active{% endif %}">
                                                <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- Vendor -->
		<script src="/static/template4/vendor/jquery/jquery.min.js"></script>
		<script src="/static/template4/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="/static/template4/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/static/template4/vendor/jquery-cookie/jquery-cookie.min.js"></script>
		<script src="/static/template4/master/style-switcher/style.switcher.js"></script>
		<script src="/static/template4/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/template4/vendor/common/common.min.js"></script>
		<script src="/static/template4/vendor/jquery.validation/jquery.validation.min.js"></script>
		<script src="/static/template4/vendor/jquery.stellar/jquery.stellar.min.js"></script>
		<script src="/static/template4/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		<script src="/static/template4/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="/static/template4/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="/static/template4/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="/static/template4/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/static/template4/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/static/template4/vendor/vide/vide.min.js"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="/static/template4/js/theme.js"></script>
		<!-- Current Page Vendor and Views -->
		<script src="/static/template4/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="/static/template4/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/template4/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
		<script src="/static/template4/js/views/view.home.js"></script>
		<!-- Theme Custom -->
		<script src="/static/template4/js/custom.js"></script>
		<!-- Theme Initialization Files -->
		<script src="/static/template4/js/theme.init.js"></script>