		<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo" style="width: 150px!important;">
                                <a href="/">
                                    <div class="logo" style="margin-top: 25px;"><img class="hidden-xs"style="height: 57px; float: left;" src="/static/template4/img/logo.png" alt=""><img style="width: 140px; float: left; margin-top: 11px; margin-left: 10px;" src="/static/template4/img/ccup.png" alt=""></div>
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li>
                                            <span class="ws-nowrap"><i class="fa fa-phone"></i> (123) 456-789</span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-row">
                                <div class="header-nav">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
                                                {% for menu_item in menu %}
                                                    {% if menu_item.alias != "stadiums" %}
                                                    {% if menu_item.alias != "delivery" %}
                                                    {% if menu_item.alias != "contacts" %}
                                                    <li class="{% if menu_item.alias == host %}active{% endif %}">
                                                        <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                                    </li>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>