{% load pytils_dt %}
	<li class="event-list-item">
		<div class="event-list-item-inner">
			<div class="event-date"><div class="month">{{ match.datetime|ru_strftime:"%b" }}</div><div class="day">{{ match.datetime|ru_strftime:"%d" }}</div><div class="year">{{ match.datetime|ru_strftime:"%Y" }}</div></div>
			<div class="event-info"><span>Кубок Конфедераций - {{ match.group }}</span><b><a href="{% url 'portal:match' match.alias %}"><i><img src="/media/flags/rus.png">{{ match.command_first }}</i><i> - </i><i>{{ match.command_second }}<img src="/media/flags/ger.png"></i></a></b><span>{{ match.datetime|ru_strftime:"%H:%M" }} - {{ match.stadium }} - Москва, Россия</span></div>
			<div class="event-action hidden-xs"><a href="{% url 'portal:match' match.alias %}" class="btn btn-lg btn-success">Смотреть билеты</a></div>
		</div>
	</li>