    <!-- <div class="player-item">
        <div class="player-img">
            <a href="{% url 'portal:player' player.alias %}"><img src="{{ player.image }}"></a>
        </div>
        <div class="player-name">
            <a href="{% url 'portal:player' player.alias %}"><span>{{ player.name }}</span></a>
            <em>{{ player.position }}</em>
        </div>
    </div> -->
    <li class="col-sm-6 isotope-item">
        <div class="image-gallery-item">
                <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                        <img src="{{ player.image }}" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">{{ player.name }}</span>
                            <span class="thumb-info-type">{{ player.position }}</span>
                        </span>
                        <span class="thumb-info-action">
                            
                        </span>
                    </span>
                </span>
        </div>
    </li>