    <div class="span3">
        <a href="{% url 'portal:team' team.alias %}"><img src="/media/logo/{{ team.get_logo_list.0 }}"></a>
        <a href="{% url 'portal:team' team.alias %}"><span>{{ team.name }}</span></a>
    </div>