{% extends "template4/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div role="main" class="main">
        <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"gridwidth": 800, "gridheight": 830}'>
                <ul>
                    <li data-transition="fade">
                        <img src="/static/template4/images/slides/2.jpg"  
                            alt=""
                            data-bgposition="center center" 
                            data-bgfit="cover" 
                            data-bgrepeat="no-repeat" 
                            class="rev-slidebg">

                        <div class="tp-caption"
                            data-x="center" data-hoffset="-160"
                            data-y="center" data-voffset="-95"
                            data-start="1000"
                            style="z-index: 5"
                            data-transform_in="x:[-300%];opacity:0;s:500;"><img src="/static/template4/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption top-label"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-95"
                            data-start="500"
                            style="z-index: 5"
                            data-transform_in="y:[-300%];opacity:0;s:500;">Кубок конфедераций</div>

                        <div class="tp-caption"
                            data-x="center" data-hoffset="160"
                            data-y="center" data-voffset="-95"
                            data-start="1000"
                            style="z-index: 5"
                            data-transform_in="x:[300%];opacity:0;s:500;"><img src="/static/template4/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption main-label"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-45"
                            data-start="1500"
                            data-whitespace="nowrap"						 
                            data-transform_in="y:[100%];s:500;"
                            data-transform_out="opacity:0;s:500;"
                            style="z-index: 5"
                            data-mask_in="x:0px;y:0px;">2017</div>

                        <div class="tp-caption bottom-label"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="5"
                            data-start="2000"
                            style="z-index: 5"
                            data-transform_in="y:[100%];opacity:0;s:500;">У нас дома будет, билеты есть</div>

                        <a class="tp-caption btn btn-lg btn-primary btn-slider-action"
                            data-hash
                            data-hash-offset="85"
                            href="#home-intro"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="80"
                            data-start="2200"
                            data-whitespace="nowrap"						 
                            data-transform_in="y:[100%];s:500;"
                            data-transform_out="opacity:0;s:500;"
                            style="z-index: 5"
                            data-mask_in="x:0px;y:0px;">Купить билеты</a>

                        <div class="tp-dottedoverlay tp-opacity-overlay"></div>

                    </li>
                    
                    <li data-transition="fade">
                        <img src="/static/template4/images/slides/3.jpg"  
                            alt=""
                            data-bgposition="center center" 
                            data-bgfit="cover" 
                            data-bgrepeat="no-repeat" 
                            class="rev-slidebg">

                        <div class="tp-caption"
                            data-x="center" data-hoffset="-160"
                            data-y="center" data-voffset="-95"
                            data-start="1000"
                            style="z-index: 5"
                            data-transform_in="x:[-300%];opacity:0;s:500;"><img src="/static/template4/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption top-label"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-95"
                            data-start="500"
                            style="z-index: 5"
                            data-transform_in="y:[-300%];opacity:0;s:500;">Кубок конфедераций</div>

                        <div class="tp-caption"
                            data-x="center" data-hoffset="160"
                            data-y="center" data-voffset="-95"
                            data-start="1000"
                            style="z-index: 5"
                            data-transform_in="x:[300%];opacity:0;s:500;"><img src="/static/template4/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption main-label"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-45"
                            data-start="1500"
                            data-whitespace="nowrap"						 
                            data-transform_in="y:[100%];s:500;"
                            data-transform_out="opacity:0;s:500;"
                            style="z-index: 5"
                            data-mask_in="x:0px;y:0px;">2017</div>

                        <div class="tp-caption bottom-label"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="5"
                            data-start="2000"
                            style="z-index: 5"
                            data-transform_in="y:[100%];opacity:0;s:500;">У нас дома будет, билеты есть</div>

                        <a class="tp-caption btn btn-lg btn-primary btn-slider-action"
                            data-hash
                            data-hash-offset="85"
                            href="#home-intro"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="80"
                            data-start="2200"
                            data-whitespace="nowrap"						 
                            data-transform_in="y:[100%];s:500;"
                            data-transform_out="opacity:0;s:500;"
                            style="z-index: 5"
                            data-mask_in="x:0px;y:0px;">Купить билеты</a>

                        <div class="tp-dottedoverlay tp-opacity-overlay"></div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-12 center">
                    <p class="lead">Что нас ждёт на Кубке конфедераций</p>
                </div>
            </div>

            <div class="row mt-xl">
                <div class="counters counters-text-dark">
                    <div class="col-md-3 col-sm-6">
                        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <strong data-to="8" data-append="">0</strong>
                            <label>Стран участников</label>
                            <p class="text-color-primary mb-xl"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                            <i class="fa fa-map-marker" style="color: #880000!important;"></i>
                            <strong data-to="4">0</strong>
                            <label>Города</label>
                            <p class="text-color-primary mb-xl"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
                            <i class="fa fa-ticket"></i>
                            <strong data-to="800000" data-append="+">0</strong>
                            <label>Билетов на матчи</label>
                            <p class="text-color-primary mb-xl"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
                            <i class="fa fa-clock-o"></i>
                            <strong data-to="15" data-append="дней">0</strong>
                            <label>С 12 Июня по 2 Июля</label>
                            <p class="text-color-primary mb-xl"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <section class="section section-default section-with-mockup mb-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Кубок в России</h4>
                                <p class="mb-lg">На домашнем Кубке Конфедераций Россия готова распахнуть свою широкую душу перед миллионами болельщиков и гостей со всей планеты.</p>
                            </div>
                        </div>
                        <div class="feature-box feature-box-style-2 reverse mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Спорт</h4>
                                <p class="mb-lg">Россия по праву считается одной из ведущих спортивных держав мира. За историю выступления советских и российских сборных на Олимпийских играх ее спортсмены завоевали более 500 золотых медалей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/static/template4/images/cup-conf.png" style="margin: 0 auto; height: 230px;" class="img-responsive mockup-landing-page mb-xl appear-animation" alt="Porto" data-appear-animation="fadeInDown" data-appear-animation-delay="300">
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Население</h4>
                                <p class="mb-lg">Население России составляет 143 миллиона человек. Здесь живут представители около 140 национальностей, разговаривающие на 100 языках.</p>
                            </div>
                        </div>
                        <div class="feature-box feature-box-style-2 mt-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="600">
                            <div class="feature-box-info">
                                <h4 class="mb-sm">География</h4>
                                <p class="mb-lg">Россия растянулась от Балтийского моря до Тихого океана на невообразимые 17,1 миллиона кв. километров, что составляет примерно 1/8 часть Земли.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-primary section-primary-scale-2 section-center section-no-border mt-none p-sm" id="demos">
            <div class="container">
                <h2>Матчи</h2>
                <div class="row">
                    <div class="col-md-12">
                        <!--<ul class="nav nav-pills sort-source sort-source-style-2" data-sort-id="portfolio" data-option-key="filter">
                            <li data-option-value="*" class="active"><a href="#">Все матчи</a></li>
                            <li data-option-value=".corporate"><a href="#">Группа</a></li>
                            <li data-option-value=".classic"><a href="#">Плей-офф</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </section>
        <div class="container matches-list">
            <ul class="event-list" data-sort-id="portfolio" id="homeOverview">
                {% for match in last_matches %}
                    {% include "template4/_match_item.html" %}
                {% endfor %}
            </ul>
        </div>
        <section class="section teams-list">
            <div class="container">
                <div class="row">
					<h2>Группы Участников</h2>
					<div class="col-md-12 groups">
						<div class="col-md-6">
							<h3>Группа A</h3>
							<table class="table table-bordered">
								<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
								<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							</tbody></table>
						</div>
						<div class="col-md-6">
							<h3>Группа B</h3>
							<table class="table table-bordered">
								<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
								<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							</tbody></table>
						</div>
					</div>
				</div>
            </div>
        </section>
        <section class="call-to-action call-to-action-primary call-to-action-front mb-none">
            <div class="container">
                <div class="row">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                    {{ data.content|safe }}
					<div class="col-md-12 road_to">
						<div class="col-md-2">
							<img src="/static/khl/continents/africa.jpg">
							<span>Африка</span>
							<p>
								Африканская путевка на Кубок Конфедераций ФИФА будет
								разыграна на Кубке африканских наций, который пройдет
								в Габоне ранее в 2017 году.
							</p>
						</div>
						<div class="col-md-2">
							<img src="/static/khl/continents/asia.jpg">
							<span>Азия</span>
							<p>Азию на Кубке конфедераций FIFA 2017 в России представит
							Австралия, которая выиграла Кубок Азии-2015. 31 января 2015
							года "Соккеруз" обыграли в драматичном финале домашнего турнира
							Южную Корею со счетом 2:1.</p>
						</div>
						<div class="col-md-2">
							<img src="/static/khl/continents/europe.jpg">
							<span>Европа</span>
							<p>Европейский участник Кубка конфедераций FIFA 2017
							определится на Евро-2016 УЕФА. Турнир пройдет с 10 июня по 10 июля 2016 года.
							Победитель Евро отправится представлять континент в Россию.</p>
						</div>
						<div class="col-md-2">
							<img src="/static/khl/continents/ncamerica.jpg">
							<span>Северная и Центральная Америка</span>
							<p>Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов
							сборные США и Мексики определили участника Кубка
							конфедераций FIFA 2017 в России в стыковом матче: 
							мексиканцы выиграли со счетом 3:2 в
							Пасадене (Калифорния) и стали 5-м по счету участником турнира.</p>
						</div>
						<div class="col-md-2">
							<img src="/static/khl/continents/oceania.jpg">
							<span>Океания</span>
							<p>Победитель следующего Кубка Наций ОФК, который состоится с мая по
							июнь 2016 года получит путевку на Кубок конфедераций FIFA 2017 в России.</p>
						</div>
						<div class="col-md-2">
							<img src="/static/khl/continents/southamerica.jpg">
							<span>Южная Америка</span>
							<p>Сборная Чили впервые станет участником Кубка конфедераций 
							FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира
							4 июля 2015 года чилийцы обыграли Аргентину
							в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.</p>
						</div>
					</div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}