{% extends "template4/__base.html" %}
    {% block main_content %}
    <div role="main" class="main">
        {% include "template4/_block_topmain.html" %}
        <div class="container">
            <div class="row">
               <div class="col-md-12 match_list">
                    <ul>
                        {% for match in matches %}
                            {% include "template4/_match_item.html" %}
                        {% empty %}
                            <p>К сожалению, сведений о матчах не найдено.</p>
                        {% endfor %}
                    </ul>
               </div>
            </div>
        </div>
    </div>
{% endblock %}