{% extends "template2/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
        <section id="subintro">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
					</div>
				</div>
			</div>
		</section>
        <section id="maincontain">
			<div class="container">
				<div class="row introduce-services">
					<div class="span2">
						<img alt="" src="{{ data.image }}" />
					</div>
					<div class="span10">
                        <div class="self-stats">
                            {% if birth != "Нет данных" %}
                                <span>Дата рождения: {{ data.birth }}</span>
                            {% else %}
                            {% endif %}
                            <span>Позиция: {{ data.position }}</span>                    
                            <span>Клуб: <img src="/media/flags/{{ data.team.get_flag_list.1 }}">{{ data.team }}</span>
                            <span>Рост\вес: {{ data.height }}\{{ data.weight }}</span>
                            <span></span>                                                                                
                        </div>
                        <div class="match-stats">
                            <span>Матчи(В основе): 30(25)</span>
                            <span>Голов пропущено: 25</span>
                            <span>Голов за игру(среднее): 0.80 </span>
                            <span>Желтые карточки: 1</span>
                            <span>Красные карточки: 0</span>   
                        </div>
                    </div>
				</div>
				<div class="row about_player">
					<h2>Полная статистика</h2>
					<table class="stat-table career" cellpadding="0" cellspacing="0">
						<tbody>
						<tr class="bold">
						<td>Сезон</td>
						<td>Команда</td>
						<td>Турнир</td>
						<td title="матчи">М</td>
						<td title="голы">Г</td>
						<td title="пенальти">Пен</td>
						<td title="передачи">П</td>
						<td title="желтые карточки">ЖК</td>
						<td title="красные карточки">КК</td>
						<td title="пропущенные голы">ГП</td>
						<td title="пропущенные голы, в среднем">ПГМ</td>
						<td title="сухие матчи">СМ</td>
						<td title="выигрыши">В</td>
						<td title="ничьи">Н</td>
						<td title="поражения">П</td>
						<td title="среднее время на поле">МИН</td>
						</tr>
						<tr>
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=4951" title="2015/2016">2015/2016</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=4951&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/epl/table/?s=4951&amp;sub=table">Англия. Премьер-лига</a>
						</td>
						<td>
						33
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						32
						</td>
						<td>
						0.97
						</td>
						<td>
						16
						</td>
						<td>
						16
						</td>
						<td>
						8
						</td>
						<td>
						9
						</td>
						<td>
						90
						</td>
						</tr>
						<tr>
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=4383" title="2014/2015">2014/2015</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=4383&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/epl/table/?s=4383&amp;sub=table">Англия. Премьер-лига</a>
						</td>
						<td>
						37
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						36
						</td>
						<td>
						0.97
						</td>
						<td>
						11
						</td>
						<td>
						20
						</td>
						<td>
						9
						</td>
						<td>
						8
						</td>
						<td>
						89
						</td>
						</tr>
						<tr style="display: table-row;">
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=3270" title="2013/2014">2013/2014</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=3270&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/epl/table/?s=3270&amp;sub=table">Англия. Премьер-лига</a>
						</td>
						<td>
						37
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						1
						</td>
						<td>
						0
						</td>
						<td>
						43
						</td>
						<td>
						1.16
						</td>
						<td>
						12
						</td>
						<td>
						18
						</td>
						<td>
						7
						</td>
						<td>
						12
						</td>
						<td>
						90
						</td>
						</tr>
						<tr style="display: table-row;">
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=1845" title="2012/2013">2012/2013</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=1845&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/epl/table/?s=1845&amp;sub=table">Англия. Премьер-лига</a>
						</td>
						<td>
						28
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						26
						</td>
						<td>
						0.93
						</td>
						<td>
						11
						</td>
						<td>
						22
						</td>
						<td>
						4
						</td>
						<td>
						2
						</td>
						<td>
						90
						</td>
						</tr>
						<tr style="display: table-row;">
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=1243" title="2011/2012">2011/2012</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=1243&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/epl/table/?s=1243&amp;sub=table">Англия. Премьер-лига</a>
						</td>
						<td>
						29
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						29
						</td>
						<td>
						1.00
						</td>
						<td>
						13
						</td>
						<td>
						20
						</td>
						<td>
						5
						</td>
						<td>
						4
						</td>
						<td>
						90
						</td>
						</tr>
						<tr style="display: table-row;">
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=664" title="2010/2011">2010/2011</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1304" title="Испания" alt="Испания"></i>&nbsp;<a href="http://www.sports.ru/atletico/stat/?s=664&amp;t=49" title="Атлетико">Атлетико</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/la-liga/table/?s=664&amp;sub=table">Испания. Примера</a>
						</td>
						<td>
						38
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						1
						</td>
						<td>
						0
						</td>
						<td>
						53
						</td>
						<td>
						1.39
						</td>
						<td>
						11
						</td>
						<td>
						17
						</td>
						<td>
						7
						</td>
						<td>
						14
						</td>
						<td>
						90
						</td>
						</tr>
						<tr style="display: table-row;">
						<td>
						<div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=83" title="2009/2010">2009/2010</a></div>
						</td>
						<td>
						<div class="hide-field">
						<div class="hide-field"><i class="fader"></i><i class="flag-s flag-1304" title="Испания" alt="Испания"></i>&nbsp;<a href="http://www.sports.ru/atletico/stat/?s=83&amp;t=49" title="Атлетико">Атлетико</a></div>
						</div>
						</td>
						<td>
						<a href="http://www.sports.ru/la-liga/table/?s=83&amp;sub=table">Испания. Примера</a>
						</td>
						<td>
						19
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						1
						</td>
						<td>
						0
						</td>
						<td>
						27
						</td>
						<td>
						1.42
						</td>
						<td>
						3
						</td>
						<td>
						8
						</td>
						<td>
						3
						</td>
						<td>
						8
						</td>
						<td>
						90
						</td>
						</tr>
						</tbody>
						<tfoot>
						<tr style="display: table-row;" class="bold">
						<td colspan="3">Показатели за всю карьеру</td>
						<td>
						221
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						0
						</td>
						<td>
						3
						</td>
						<td>
						0
						</td>
						<td>
						246
						</td>
						<td>
						1.11
						</td>
						<td>
						77
						</td>
						<td>
						121
						</td>
						<td>
						43
						</td>
						<td>
						57
						</td>
						<td>
						89
						</td>
						</tr>
						</tfoot>
                    </table>
					{% if data.content %}
                        {{ data.content|safe }}
                    {% else %}
                    {% endif %}
				</div>
			</div>
		</section>
    {% endblock %}                