{% extends "template4/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div role="main" class="main">
        {% include "template4/_block_topmain.html" %}
        <div class="container">
            <div class="row">
               <div class="sbornie wow zoomIn animated">
                    {% for team in teams %}
                        <div class="col-md-3 col-sm-6 col-xs-12 countr-block">
                            <a href="{% url 'portal:team' team.alias %}"><img src="/media/logo/{{ team.get_logo_list.0 }}"></a>
                            <a href="{% url 'portal:team' team.alias %}"><span>{{ team.name }}</span></a>
                        </div>
                    {% empty %}
                        <p>К сожалению, сведений о командах не найдено.</p>
                    {% endfor %}
               </div>
            </div>
        </div>
    </div>
{% endblock %}