{% extends "template4/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div role="main" class="main">
        {% include "template4/_block_topmain.html" %}
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="col-md-8 col-sm-12">
                        <div class="col-sm-12 cmd-photo">
                            <h3>BootClean's Areas of Expertise</h3>
                            <img src="/media/photos/{{ data.get_photo_list.0 }}">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><th>Турнир</th><th>ЗМ</th><th>ПМ</th><th>Место</th></tr>
                                    <tr><td>Чемпонат Европы 2000</td><td>15</td><td>17</td><td>12</td></tr>
                                    <tr><td>Чемпонат Мира 2002</td><td>15</td><td>17</td><td>12</td></tr>
                                    <tr><td>Чемпонат Европы 2004</td><td>15</td><td>17</td><td>12</td></tr>
                                    <tr><td>Чемпонат Мира 2006</td><td>15</td><td>17</td><td>12</td></tr>                                                                                                
                                </tbody>
                            </table>
                            {% if data.content %}{{ data.content|safe }}{% endif %}
                        </div>
                        <div class="players-items row">
                            <ul class="image-gallery sort-destination lightbox" data-sort-id="portfolio" data-plugin-options="{&quot;delegate&quot;: &quot;a.lightbox-portfolio&quot;, &quot;type&quot;: &quot;image&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}">
                                {% if coaches %}
                                    {% for player in coaches %}
                                        {% include "template4/_player_item.html" %}
                                    {% endfor %}
                                {% endif %}
                                {% if goalkeepers %}
                                    {% for player in goalkeepers %}
                                        {% include "template4/_player_item.html" %}
                                    {% endfor %}
                                {% endif %}
                                {% if defenders %}
                                    {% for player in defenders %}
                                        {% include "template4/_player_item.html" %}
                                    {% endfor %}
                                {% endif %}
                                {% if midfielders %}
                                    {% for player in midfielders %}
                                        {% include "template4/_player_item.html" %}
                                    {% endfor %}
                                {% endif %}
                                {% if attacks %}
                                    {% for player in attacks %}
                                        {% include "template4/_player_item.html" %}
                                    {% endfor %}
                                {% endif %}
                                {% if not coaches and not goalkeepers and not defenders and not attacks%}
                                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">  
                        <img src="/media/logo/{{ data.get_logo_list.1 }}" alt="" style="position: relative;left: 12%;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Федерация</td><td>{{ data.fed }}</td>
                                </tr>
                                <tr>
                                    <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                                </tr>
                                <tr>
                                    <td>Год основания</td><td>{{ data.founded }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td><td>{{ data.address }}</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td><td>{{ data.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Fax</td><td>{{ data.fax }}</td>
                                </tr>
                                <tr>
                                    <td>E-mail</td><td>{{ data.email }}</td>
                                </tr>
                                <tr>
                                    <td>Официальный сайт</td><td>{{ data.offsite }}</td>
                                </tr>
                                <tr>
                                    <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                                </tr>
                            </tbody>
                        </table>
                        {{ data.widget|safe }}
                    </div>							
               </div>
            </div>
        </div>
    </div>
{% endblock %}