{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ data.seo_title }}</title>
        <meta name="keywords" content="{{ data.seo_keywords }}">
        <meta name="description" content="{{ data.seo_description }}">
        <link rel="shortcut icon" href="/static/template7/assets/images/gt_favicon.png">
	
        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="/static/template7/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/template7/assets/css/font-awesome.min.css">

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="/static/template7/assets/css/bootstrap-theme.css" media="screen" >
        <link rel="stylesheet" href="/static/template7/assets/css/main.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/static/template7/assets/js/html5shiv.js"></script>
        <script src="/static/template7/assets/js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
        {% include "template7/_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "template7/_footer.html" %}
    </body>
</html>