{% load pytils_dt %}
    <!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/static/template8/images/logo.png" alt=""><span style=" display: block; float: left; font-weight: bold; margin-left: 10px;">Confederation<br>Cup 2017</span></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
                    {% for menu_item in menu %}
                        {% if menu_item.alias != "stadiums" %}
                        <li class="{% if menu_item.alias == host %}active{% endif %} ">
                            <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head" {% if host != "index" %}class="secondary"{% endif %}>
        {% if host == "index" %}
            <div class="container">
                <div class="row">
                    {% for match in last_matches %}
                        {% if forloop.first %}
                            <h1 class="lead">{{ match.command_first }}<span> - </span>{{ match.command_second }}</h1>
                            <p class="tagline">{{ match.datetime|ru_strftime:"%d %B, %Y" }}, {{ match.datetime|ru_strftime:"%H:%M" }}</p>
                            <p><a href="/matches/" class="btn btn-default btn-lg" role="button">Ко всем матчам</a> <a href="{% url 'portal:match' match.alias %}" class="btn btn-action btn-lg" role="button">Купить билет</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
	</header>
	<!-- /Header -->

                                                    
                                            