{% load pytils_dt %}
        <div class="row">
            <div class="thumb pull-left col-md-3 col-xs-3" style="margin-right: 0px;">
                <a href="#"><img src="/media/logo/{{ match.command_first.get_logo_list.0 }}" alt=""></a>
            </div>
            <div class="content col-md-6 col-xs-6">
                <span>{{ match.datetime|ru_strftime:"%d %B %Y" }} - {{ match.datetime|ru_strftime:"%H:%M" }}</span>
                <h4><a href="{% url 'portal:match' match.alias %}">{{ match.command_first }} - {{ match.command_second }}</a></h4>
            </div>
            <div class="thumb pull-right col-md-3 col-xs-3" style="margin-right: 0px;">
                <a href="#"><img src="/media/logo/{{ match.command_second.get_logo_list.0 }}" alt=""></a>
            </div>
        </div>
        <hr>