    <section class="light-content our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Игроки</h2>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		<div class="team-members">
			<div class="container">
				<div class="row">

					{% if coaches %}
                        {% for player in coaches %}
                            {% include "template7/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if goalkeepers %}
                        {% for player in goalkeepers %}
                            {% include "template7/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if defenders %}
                        {% for player in defenders %}
                            {% include "template7/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if midfielders %}
                        {% for player in midfielders %}
                            {% include "template7/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if attacks %}
                        {% for player in attacks %}
                            {% include "template7/_player_item.html" %}
                        {% endfor %}
                    {% endif %}
                    {% if not coaches and not goalkeepers and not defenders and not attacks%}
                        <p>К сожалению, об игроках данной сборной сведений нет.</p>
                    {% endif %}

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.team-members -->
	</section> <!-- /.our-team -->               