    <div class="col-md-2 col-sm-2">
        <a href="{% url 'portal:player' player.alias %}" class="team-member">
            <div class="thumb-post">
                <img src="{{ player.image }}" alt="">
                <span class="member-role" style="color:#777777;">{{ player.position }}</span>
            </div>
            <div class="member-content">
                <span class="member-name">{{ player.name }}</span>
            </div>
        </a> <!-- /.team-member -->
    </div> <!-- /.col-md-4 -->