    <div class="col-md-3 col-sm-3 highlight" style="height: 300px;">
        <a href="{% url 'portal:team' team.alias %}" class="h-caption">
            <h4><i><img src="/media/logo/{{ team.get_logo_list.0 }}" style="display:block; margin:0 auto;"></i>{{ team.name }}</h4>
        </a>
    </div>
