{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">

		{% include "template7/_breadcrumbs.html" %}

		<div class="row">
			
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Контакты</h1>
				</header>
				
				{% if data.content %}{{ data.content|safe }}{% endif %}
				<br>
					<form>
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Имя">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Email">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Сообщение" class="form-control" rows="9"></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6">
								
							</div>
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="submit" value="Отправить">
							</div>
						</div>
					</form>

			</article>

            <aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Address</h4>
					<address>
						2002 Holcombe Boulevard, Houston, TX 77030, USA
					</address>
					<h4>Phone:</h4>
					<address>
						(713) 791-1414
					</address>
				</div>

			</aside>
        </div>
    </div>
{% endblock %}