{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h1 class="thin">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
		<div class="text-muted">
			{{ data.content|safe }}
		</div>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Сборные - участники</h3>
			
			<div class="row">
                {% for team in teams %}
                    {% include "template7/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
				<div class="col-md-3 col-sm-3 highlight" style="height: 300px;">
					<a href="/teams/rossiya/" class="h-caption">
						<h4><i><img src="/media/logo/russia.png" style="display:block; margin:0 auto;"></i>Неизвестно</h4>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 highlight" style="height: 300px;">
					<a href="/teams/rossiya/" class="h-caption">
						<h4><i><img src="/media/logo/russia.png" style="display:block; margin:0 auto;"></i>Неизвестно</h4>
					</a>
				</div><div class="col-md-3 col-sm-3 highlight" style="height: 300px;">
					<a href="/teams/rossiya/" class="h-caption">
						<h4><i><img src="/media/logo/russia.png" style="display:block; margin:0 auto;"></i>Неизвестно</h4>
					</a>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container conf_hist">
		<h2 class="text-center top-space">История всех кубков конфедераций(1992-2017)</h2>
		<div class="row">
			<h3>Кубок короля Фахда(Предшественник турнира)</h3>
			<table class="table table-bordered">
				<tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
				<tr><td>1992</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>4</td><td><img src="/static/khl/flags-f/arg.png">Аргентина</td><td><img src="/static/khl/flags-f/arg.png">Фернандо Редондо</td></tr>
				<tr><td>1995</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>6</td><td><img src="/static/khl/flags-f/den.png">Дания</td><td><img src="/static/khl/flags-f/den.png">Брайн Лаудруп</td></tr>
			</tbody></table>
			<h3>Кубок конфедераций</h3>
			<table class="table table-bordered">
				<tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
				<tr><td>1997</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Денильсон</td></tr>
				<tr><td>1999</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td>8</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td><img src="/static/khl/flags-f/bra.png">Рональдиньо</td></tr>
				<tr><td>2001</td><td><img src="/static/khl/flags-f/kor.png"><img src="/static/khl/flags-f/jp.png">Корея\Япония</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Робер Пирес</td></tr>
				<tr><td>2003</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Тьерри Анри</td></tr>
				<tr><td>2005</td><td><img src="/static/khl/flags-f/ger.png">Германия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Адриано</td></tr>
				<tr><td>2009</td><td><img src="/static/khl/flags-f/yar.png">ЮАР</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Кака</td></tr>
				<tr><td>2013</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Неймар</td></tr>
				<tr><td>2017</td><td><img src="/media/flags/rus.png">Россия</td><td>8</td><td>?</td><td>?</td></tr>
			</tbody></table>
		</div> <!-- /row -->
		<h2 class="text-center top-space">Билеты на матчи</h2>
		<div class="row">
			<ul class="match_list">
			{% for match in last_matches %}
				{% include "template7/_match_item.html" %}
			{% endfor %}
			</ul>
		</div>
    </div>
	
{% endblock %}