{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">

		{% include "template7/_breadcrumbs.html" %}

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
                <header class="page-header">
					<div class="h1 page-title match"><img src="/media/logo/{{ data.command_first.get_logo_list.0 }}" alt=""><span>{{ data.command_first }} - {{ data.command_second }}</span><img src="/media/logo/{{ data.command_second.get_logo_list.0 }}" alt=""></div>                    
				</header>
                <h2>История встреч</h2>
                <table class="table table-bordered">
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                </table>
                {% if data.content %}{{ data.content|safe }}{% endif %}
            </article>
            <aside class="col-md-4 sidebar sidebar-right">
            
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Информация</h4>
                        <ul class="meta-post">
                            <li>
                                <b>Чемпионат: </b>{{ data.champ }}
                            </li>
                            <li>
                                <b>Группа: </b>{{ data.group }}
                            </li>
                            <li>
                                <b>Тур: </b>{{ data.tour }}
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Другие матчи</h4>
                        <br>
                        {% for match in last_matches %}
                            <div class="col-md-12 col-sm-12 last-post clearfix" style="margin-bottom: 10px;">
                            {% include "template7/_match_item.html" %}
                            </div>
                        {% empty %}
                            <p>К сожалению, сведений о матчах не найдено.</p>
                        {% endfor %}
                    </div>
                </div>

            </aside>
        </div>
    </div>
{% endblock %}