{% extends "template7/__base.html" %}
    {% block main_content %}
    <div class="container">

		{% include "template7/_breadcrumbs.html" %}

		<div class="row">
			
			<!-- Article main content -->
			<div class="col-md-12 maincontent">
                <header class="page-header">
					<h1 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
				</header>
                {% for match in matches %}
                    <div class="col-md-6 col-sm-12 last-post clearfix" style="margin-bottom: 20px;">
                    {% include "template7/_match_item.html" %}
                    </div>
                {% empty %}
                    <p>К сожалению, сведений о матчах не найдено.</p>
                {% endfor %}
           </div>
        </div>
    </div>

{% endblock %}