{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}   
    <div class="container">
		{% include "template7/_breadcrumbs.html" %}
		<div class="row">			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
				</header>
				{% for team in teams %}
                    {% include "template7/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
			</article>
        </div>
	</div>
{% endblock %}