{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    
	<div class="container">

		{% include "template7/_breadcrumbs.html" %}

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
                <header class="page-header">
					<h1 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
				</header>
     
                {% if data.content %}{{ data.content|safe }}{% endif %}

            </article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<div class="row widget col-md-8">
				<div class="col-xs-12">
					<h4>Фотография команды</h4>
					<p><img src="/media/photos/{{ data.get_photo_list.0 }}" alt="{{ data.name }}"></p>
				</div>
			</div>
			<aside class="col-md-4 sidebar sidebar-right">
                <div class="row widget">
					<div class="col-xs-12">
                        <p>Сборная по футболу</p>
						<h4>{{ data.name }}</h4>
						<p><img class="logo-team" src="/media/logo/{{ data.get_logo_list.0 }}" alt=""></p>
					</div>
				</div>
                <div class="row widget">
					<div class="col-xs-12">
						<h4>Информация</h4>
						<table class="table">
                            <tbody>
                                <tr>
                                    <td>Федерация</td><td>{{ data.fed }}</td>
                                </tr>
                                <tr>
                                    <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                                </tr>
                                <tr>
                                    <td>Год основания</td><td>{{ data.founded }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td><td>{{ data.address }}</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td><td>{{ data.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Fax</td><td>{{ data.fax }}</td>
                                </tr>
                                <tr>
                                    <td>E-mail</td><td>{{ data.email }}</td>
                                </tr>
                                <tr>
                                    <td>Официальный сайт</td><td>{{ data.offsite }}</td>
                                </tr>
                                <tr>
                                    <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                                </tr>
                            </tbody>
                        </table>
					</div>
				</div>
                <div class="row widget">
					<div class="col-xs-12">
						{{ data.widget|safe }}
					</div>
				</div>
			</aside>
			<!-- /Sidebar -->
            {% include "template7/_players.html" %}
		</div>
	</div>	<!-- /container -->

{% endblock %}