{% extends "template7/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">

		{% include "template7/_breadcrumbs.html" %}

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
                <header class="page-header">
					<div class="h1 page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</div>                    
				</header>
                {% if data.content %}{{ data.content|safe }}{% endif %}
			</article>
            <aside class="col-md-4 sidebar sidebar-right">

                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Последние новости</h4>
                        <br>
                        <ul class="list-unstyled list-spaces">
                        {% for news_item in last_news %}
                            {% if forloop.counter < 5 %}
                                <li><a href="{% url 'portal:news' news_item.alias %}">{{ news_item.name }}</a><br><span class="small text-muted">{{ news_item.date|ru_strftime:"%d %B, %Y" }}</span></li>
                            {% endif %}
                        {% endfor %} 
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}