@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 7572.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u1966
{
	z-index: 465;
	width: 768px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 11px;
	position: relative;
}

#u1967-4
{
	z-index: 466;
	width: 233px;
	min-height: 46px;
	text-align: left;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 10px;
}

#menuu1968
{
	z-index: 470;
	width: 448px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 310px;
}

#u1976
{
	width: 86px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1979
{
	width: 86px;
	padding-bottom: 15px;
	position: relative;
}

#u1981-4
{
	width: 57px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u2010
{
	width: 75px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u2011
{
	width: 75px;
	padding-bottom: 15px;
	position: relative;
}

#u2014-4
{
	width: 46px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u1983
{
	width: 101px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u1984
{
	width: 101px;
	padding-bottom: 15px;
	position: relative;
}

#u1985-4
{
	width: 72px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u1990
{
	width: 72px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u1993
{
	width: 72px;
	padding-bottom: 15px;
	position: relative;
}

#u1994-4
{
	width: 44px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u1969
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u1970
{
	width: 106px;
	padding-bottom: 15px;
	position: relative;
}

#u1971-4
{
	width: 78px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#pu2017
{
	width: 0.01px;
	position: relative;
}

#u2017
{
	z-index: 501;
	width: 768px;
	height: 825px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/ff-u2017-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2024
{
	z-index: 502;
	width: 768px;
	border-color: #000000;
	padding-bottom: 186px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2025
{
	z-index: 503;
	width: 417px;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 175px;
}

.js #u2025.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2028-4
{
	z-index: 2;
	width: 748px;
	min-height: 78px;
	text-align: center;
	color: #1D1F26;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 52px;
	position: relative;
}

#u2029-4
{
	z-index: 6;
	width: 748px;
	min-height: 56px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u2030-4
{
	z-index: 10;
	width: 748px;
	min-height: 50px;
	text-align: center;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 30px;
	position: relative;
}

#u2031-7
{
	z-index: 14;
	width: 748px;
	min-height: 217px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u2032-4
{
	z-index: 21;
	width: 748px;
	min-height: 48px;
	text-align: center;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 29px;
	position: relative;
}

#pu2033-16
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 17px;
	position: relative;
}

#u2033-16
{
	z-index: 25;
	width: 156px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2034-16
{
	z-index: 41;
	width: 308px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 249px;
}

#u2035-21
{
	z-index: 57;
	width: 135px;
	min-height: 254px;
	text-align: right;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 602px;
}

#u2037
{
	z-index: 78;
	width: 768px;
	height: 1017px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/football-u2037-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2038
{
	z-index: 79;
	width: 768px;
	height: 1017px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u2039
{
	z-index: 80;
	width: 748px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 70px 10px 89px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2040-4
{
	z-index: 81;
	width: 748px;
	min-height: 78px;
	text-align: center;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#ppu2065
{
	width: 0.01px;
	margin-top: 76px;
	position: relative;
}

#pu2065
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
}

#u2065
{
	z-index: 114;
	width: 307px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u2082
{
	z-index: 146;
	width: 307px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-top: 154px;
	position: relative;
}

#u2050
{
	z-index: 89;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u2052
{
	z-index: 90;
	width: 20px;
	height: 20px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u2051
{
	z-index: 91;
	width: 5px;
	height: 694px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#pu2059
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 443px;
}

#u2059
{
	z-index: 98;
	width: 303px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u2074
{
	z-index: 130;
	width: 303px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-top: 154px;
	position: relative;
}

#u2041-4
{
	z-index: 85;
	width: 748px;
	min-height: 56px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 10px;
}

#u2053
{
	z-index: 92;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 340px;
}

#u2055
{
	z-index: 93;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2054-4
{
	z-index: 94;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2058
{
	z-index: 99;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	left: 448px;
}

#u2060-4
{
	z-index: 100;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 473px;
}

#u2057-4
{
	z-index: 104;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 473px;
}

#u2061
{
	z-index: 108;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 340px;
}

#u2062
{
	z-index: 109;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2063-4
{
	z-index: 110;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2066
{
	z-index: 115;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 470px;
	left: 272px;
}

#u2068-4
{
	z-index: 116;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 25px;
}

#u2067-4
{
	z-index: 120;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
	left: 25px;
}

#u2069
{
	z-index: 124;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 604px;
	left: 340px;
}

#u2071
{
	z-index: 125;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2070-4
{
	z-index: 126;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2076
{
	z-index: 131;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 624px;
	left: 448px;
}

#u2073-4
{
	z-index: 132;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 619px;
	left: 473px;
}

#u2075-4
{
	z-index: 136;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 473px;
}

#u2077
{
	z-index: 140;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 758px;
	left: 340px;
}

#u2079
{
	z-index: 141;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2078-4
{
	z-index: 142;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2081
{
	z-index: 147;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
	left: 272px;
}

#u2083-4
{
	z-index: 148;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 773px;
	left: 25px;
}

#u2084-4
{
	z-index: 152;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 25px;
}

#u2085
{
	z-index: 156;
	width: 20px;
	height: 20px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 918px;
	left: 375px;
}

#u2086-4
{
	z-index: 157;
	width: 748px;
	min-height: 78px;
	text-align: center;
	color: #1D1F26;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 52px;
	position: relative;
}

#u2087-4
{
	z-index: 161;
	width: 748px;
	min-height: 56px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u2091
{
	z-index: 165;
	width: 214px;
	position: relative;
	margin-right: -10000px;
}

#u2088
{
	z-index: 166;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2089
{
	z-index: 167;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2090-4
{
	z-index: 168;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2092
{
	z-index: 172;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u2095
{
	z-index: 173;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2093
{
	z-index: 174;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2094-4
{
	z-index: 175;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2096
{
	z-index: 179;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#u2099
{
	z-index: 180;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2097
{
	z-index: 181;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2098-4
{
	z-index: 182;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2100
{
	z-index: 186;
	width: 214px;
	position: relative;
	margin-right: -10000px;
}

#u2101
{
	z-index: 187;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2102
{
	z-index: 188;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2103-4
{
	z-index: 189;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2104
{
	z-index: 193;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u2105
{
	z-index: 194;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2106
{
	z-index: 195;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2107-4
{
	z-index: 196;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2108
{
	z-index: 200;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#u2109
{
	z-index: 201;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2110
{
	z-index: 202;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2111-4
{
	z-index: 203;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2112
{
	z-index: 207;
	width: 214px;
	position: relative;
	margin-right: -10000px;
}

#u2113
{
	z-index: 208;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2114
{
	z-index: 209;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2115-4
{
	z-index: 210;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2116
{
	z-index: 214;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u2117
{
	z-index: 215;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2118
{
	z-index: 216;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2119-4
{
	z-index: 217;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2120
{
	z-index: 221;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#u2121
{
	z-index: 222;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2122
{
	z-index: 223;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2123-4
{
	z-index: 224;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu2091,#pu2100,#pu2112,#pu2124
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
}

#u2124
{
	z-index: 228;
	width: 214px;
	position: relative;
	margin-right: -10000px;
}

#u2125
{
	z-index: 229;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2126
{
	z-index: 230;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2127-4
{
	z-index: 231;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2128
{
	z-index: 235;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u2129
{
	z-index: 236;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2130
{
	z-index: 237;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2131-4
{
	z-index: 238;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2132
{
	z-index: 242;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#u2133
{
	z-index: 243;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2134
{
	z-index: 244;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2135-4
{
	z-index: 245;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu2037,#pu2136
{
	width: 0.01px;
	margin-top: 70px;
	position: relative;
}

#u2136
{
	z-index: 249;
	width: 768px;
	height: 704px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/football-u2136-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2137
{
	z-index: 250;
	width: 768px;
	height: 704px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u2138
{
	z-index: 251;
	width: 758px;
	border-color: #000000;
	padding-right: 10px;
	padding-bottom: 556px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2139-4
{
	z-index: 252;
	width: 748px;
	min-height: 78px;
	text-align: center;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 52px;
	position: relative;
}

#u2140-4
{
	z-index: 256;
	width: 748px;
	min-height: 56px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 10px;
}

#slideshowu2141
{
	z-index: 260;
	width: 0.01px;
	height: 456px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 10px;
}

#u2154
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 133px;
	left: 58px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2154popup
{
	z-index: 261;
}

#u2165
{
	z-index: 262;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2159
{
	z-index: 264;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2157
{
	z-index: 266;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2163
{
	z-index: 268;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2155
{
	z-index: 270;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2161
{
	z-index: 272;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2165_img,#u2159_img,#u2157_img,#u2163_img,#u2155_img,#u2161_img
{
	padding-top: 47px;
	padding-bottom: 47px;
}

#u2185
{
	position: absolute;
	width: 746px;
	left: 1px;
}

#u2185popup
{
	z-index: 274;
}

#u2196
{
	z-index: 275;
	width: 242px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2190
{
	z-index: 277;
	width: 242px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 252px;
}

#u2192
{
	z-index: 279;
	width: 242px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u2196:hover,#u2190:hover,#u2192:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2194
{
	z-index: 281;
	width: 242px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
}

#u2186
{
	z-index: 283;
	width: 242px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 252px;
}

#u2188
{
	z-index: 285;
	width: 242px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 504px;
}

#u2194:hover,#u2186:hover,#u2188:hover
{
	margin: 200px -10000px 0px 0px;
}

#u2196_clip,#u2190_clip,#u2192_clip,#u2194_clip,#u2186_clip,#u2188_clip
{
	overflow: hidden;
	width: 242px;
	height: 190px;
}

#u2196_img,#u2190_img,#u2192_img,#u2194_img,#u2186_img,#u2188_img
{
	margin-left: -51px;
	margin-right: -51px;
}

#u2142
{
	position: absolute;
	width: 340px;
	top: 525px;
	left: 80px;
}

#u2142popup
{
	z-index: 287;
}

#u2147-4
{
	z-index: 288;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2146-4
{
	z-index: 292;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2145-4
{
	z-index: 296;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2143-4
{
	z-index: 300;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2148-4
{
	z-index: 304;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2144-4
{
	z-index: 308;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2152-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: 430px;
}

#u2152-4popup
{
	z-index: 312;
}

#u2149-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: 530px;
}

#u2149-4popup
{
	z-index: 316;
}

#u2153-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: 460px;
}

#u2153-4popup
{
	z-index: 320;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u2230
{
	z-index: 324;
	width: 768px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 55px;
	position: relative;
}

#u2231
{
	z-index: 325;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 43px;
	background: transparent url("../../images/audiojungle.png") no-repeat center center;
}

#u2232
{
	z-index: 326;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 277px;
	background: transparent url("../../images/codecanyon.png") no-repeat center center;
}

#u2233
{
	z-index: 327;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 511px;
	background: transparent url("../../images/themeforest.png") no-repeat center center;
}

#u2234-4
{
	z-index: 328;
	width: 748px;
	min-height: 78px;
	text-align: center;
	color: #1D1F26;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 52px;
	position: relative;
}

#u2235-4
{
	z-index: 332;
	width: 748px;
	min-height: 56px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u2236
{
	z-index: 336;
	width: 293px;
	margin-left: 238px;
	margin-top: 20px;
	position: relative;
}

#u2240
{
	z-index: 337;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u2238
{
	z-index: 346;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2239-4
{
	z-index: 338;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2241-4
{
	z-index: 342;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u2237-4
{
	z-index: 347;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2242
{
	z-index: 351;
	width: 293px;
	margin-left: 238px;
	margin-top: 19px;
	position: relative;
}

#u2246
{
	z-index: 352;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u2244
{
	z-index: 361;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2245-4
{
	z-index: 353;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2247-4
{
	z-index: 357;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u2243-4
{
	z-index: 362;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2248
{
	z-index: 366;
	width: 293px;
	margin-left: 238px;
	margin-top: 19px;
	position: relative;
}

#u2252
{
	z-index: 367;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u2250
{
	z-index: 376;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2251-4
{
	z-index: 368;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2253-4
{
	z-index: 372;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u2249-4
{
	z-index: 377;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu2254
{
	width: 0.01px;
	margin-top: 69px;
	position: relative;
}

#u2254
{
	z-index: 381;
	width: 768px;
	height: 705px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/football-u2254-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2255
{
	z-index: 382;
	width: 768px;
	height: 705px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u2256
{
	z-index: 383;
	width: 768px;
	border-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2256_position_content
{
	margin-bottom: 81px;
}

#about,#team,#gallery,#blog,#contact
{
	position: relative;
}

#u2257-4
{
	z-index: 384;
	width: 748px;
	min-height: 78px;
	text-align: center;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 52px;
	position: relative;
}

#u2284
{
	z-index: 449;
	width: 278px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 480px;
	margin-top: 76px;
	position: relative;
}

#u2258-4
{
	z-index: 388;
	width: 748px;
	min-height: 56px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 10px;
}

#widgetu2259
{
	z-index: 392;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 10px;
}

#widgetu2275
{
	z-index: 393;
	width: 448px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu2275.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2278-4
{
	z-index: 394;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2277-4
{
	z-index: 398;
	width: 436px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

.html,#widgetu2275.non-empty-st #u2277-4
{
	background-color: #FFFFFF;
}

#widgetu2275:hover #u2277-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2275.focus-st #u2277-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2275.non-empty-st #u2277-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2275:hover #u2277-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2275.focus-st #u2277-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2265
{
	z-index: 402;
	width: 448px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu2265.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 81px -10000px 0px 0px;
}

#u2268-4
{
	z-index: 403;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu2265.fld-err-st #u2268-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2267-4
{
	z-index: 407;
	width: 436px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu2265.non-empty-st #u2267-4
{
	background-color: #FFFFFF;
}

#widgetu2265:hover #u2267-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2265.focus-st #u2267-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2275.fld-err-st #u2277-4,#widgetu2265.fld-err-st #u2267-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2265.non-empty-st #u2267-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2265:hover #u2267-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2265.focus-st #u2267-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2275_input,#widgetu2275_prompt,#widgetu2265_input,#widgetu2265_prompt
{
	width: 436px;
	min-height: 28px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u2281-4
{
	z-index: 411;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2259.frm-sub-st #u2281-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2282-4
{
	z-index: 415;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2259.frm-subm-err-st #u2282-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2283-4
{
	z-index: 419;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2259.frm-sub-st #u2281-4,#widgetu2259.frm-subm-err-st #u2282-4,#widgetu2259.frm-subm-ok-st #u2283-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2259.frm-subm-ok-st #u2283-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2280-17
{
	z-index: 423;
	min-height: 45px;
	width: 448px;
	background: url("../../images/u2280-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
}

#u2280-17:hover
{
	background: url("../../images/u2280-17-r.png") no-repeat 0px 0px;
}

#u2280-17:active
{
	background: url("../../images/u2280-17-m.png") no-repeat 0px 0px;
}

#widgetu2259.frm-sub-st #u2280-17
{
	background: url("../../images/u2280-17-fs.png") no-repeat 0px 0px;
}

#widgetu2260
{
	z-index: 440;
	width: 448px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#widgetu2260.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 162px -10000px 0px 0px;
}

#u2263-4
{
	z-index: 441;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu2275.fld-err-st #u2278-4,#widgetu2260.fld-err-st #u2263-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2275.fld-err-st #u2278-4 p,#widgetu2275.fld-err-st #u2278-4 span,#widgetu2265.fld-err-st #u2268-4 p,#widgetu2265.fld-err-st #u2268-4 span,#widgetu2260.fld-err-st #u2263-4 p,#widgetu2260.fld-err-st #u2263-4 span
{
	color: #D7244C;
}

#u2262-4
{
	z-index: 445;
	width: 436px;
	min-height: 139px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu2260.non-empty-st #u2262-4
{
	background-color: #FFFFFF;
}

#widgetu2260:hover #u2262-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2260.focus-st #u2262-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2260.fld-err-st #u2262-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2260.non-empty-st #u2262-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2260:hover #u2262-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2260.focus-st #u2262-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2275.fld-err-st #u2277-4 *,#widgetu2265.fld-err-st #u2267-4 *,#widgetu2260.fld-err-st #u2262-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2260_input,#widgetu2260_prompt
{
	width: 436px;
	min-height: 139px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu2275.focus-st #widgetu2275_prompt,#widgetu2265.focus-st #widgetu2265_prompt,#widgetu2260.focus-st #widgetu2260_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2275:hover #widgetu2275_input,#widgetu2275.focus-st #widgetu2275_input,#widgetu2275.fld-err-st #widgetu2275_input,#widgetu2275:hover #widgetu2275_prompt,#widgetu2275.fld-err-st #widgetu2275_prompt,#widgetu2265:hover #widgetu2265_input,#widgetu2265.focus-st #widgetu2265_input,#widgetu2265.fld-err-st #widgetu2265_input,#widgetu2265:hover #widgetu2265_prompt,#widgetu2265.fld-err-st #widgetu2265_prompt,#widgetu2260:hover #widgetu2260_input,#widgetu2260.focus-st #widgetu2260_input,#widgetu2260.fld-err-st #widgetu2260_input,#widgetu2260:hover #widgetu2260_prompt,#widgetu2260.fld-err-st #widgetu2260_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2275.non-empty-st #widgetu2275_prompt,#widgetu2265.non-empty-st #widgetu2265_prompt,#widgetu2260.non-empty-st #widgetu2260_prompt
{
	visibility: hidden;
}

#u2286
{
	z-index: 450;
	width: 748px;
	border-color: #000000;
	background-color: #1D1F26;
	position: relative;
	padding: 82px 10px 10.00000000000091px;
}

#pu2292
{
	width: 0.01px;
	margin-left: 268px;
	position: relative;
}

#u2292
{
	z-index: 459;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/facebook.png") no-repeat center center;
}

#u2292:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/facebook.png") no-repeat center center;
}

#u2290
{
	z-index: 457;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
	background: #FFDD00 url("../../images/google%20plus.png") no-repeat center center;
}

#u2290:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/google%20plus.png") no-repeat center center;
}

#u2288
{
	z-index: 455;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
	background: #FFDD00 url("../../images/youtube.png") no-repeat center center;
}

#u2288:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/youtube.png") no-repeat center center;
}

#u2289
{
	z-index: 456;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 129px;
	background: #FFDD00 url("../../images/skype.png") no-repeat center center;
}

#u2289:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/skype.png") no-repeat center center;
}

#u2291
{
	z-index: 458;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
	background: #FFDD00 url("../../images/twitter.png") no-repeat center center;
}

#u2291:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/twitter.png") no-repeat center center;
}

#u2287-4
{
	z-index: 451;
	width: 748px;
	min-height: 28px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 90px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

