{% load i18n admin_static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ data.seo_title }} | football247.ru</title>
    <meta name="description" content="{{ data.seo_description }}">
    <meta name="keywords" content="{{ data.seo_keywords }}">
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/lightgallery.css" rel="stylesheet">
    <link href="/static/css/roboto.css" rel="stylesheet">
    <link href="/static/css/robotoC.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- start header -->
        {% include "_header.html" %}
    <!-- end header -->
	<!--- About us Starts Here --->

	<div class="about">
		<div class="container">
			<div class="about-top">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
	<!--- About us Ends Here --->
    <!-- start Footer -->
        {% include "_footer.html" %}
    <!-- end Footer -->
    <script type="text/javascript">
    $(document).ready(function(){
        $('#lightgallery').lightGallery();
    });
    </script>
    <script src="/static/js/picturefill.min.js"></script>
    <script src="/static/js/lightgallery.js"></script>
    <script src="/static/js/lg-fullscreen.js"></script>
    <script src="/static/js/lg-thumbnail.js"></script>
    <script src="/static/js/lg-video.js"></script>
    <script src="/static/js/lg-autoplay.js"></script>
    <script src="/static/js/lg-zoom.js"></script>
    <script src="/static/js/lg-hash.js"></script>
    <script src="/static/js/lg-pager.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
</body>
</html>