<tr><td width="100%">
                <!--{% if coaches %}
                    {% for player in coaches %}
                        {% include "_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if goalkeepers %}
                    {% for player in goalkeepers %}
                        {% include "_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if defenders %}
                    {% for player in defenders %}
                        {% include "_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if midfielders %}
                    {% for player in midfielders %}
                        {% include "_player_item.html" %}
                    {% endfor %}
                {% endif %}-->
                {% if attacks %}
                    {% for player in attacks %}
                        {% include "_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if not coaches and not goalkeepers and not defenders and not attacks%}
                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                {% endif %}
<tr></td>