{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
                    <div class="row">
                        <div class="group">
                            <div class="col-md-12">
                                <div class="goals-bl col-md-9">
                                    <span class="line"></span><span class="line-anchor"><h1>Список команд</h1></span><span class="line"></span>
                                    <ul style="padding: 0;">
                                        <!--{% for team in data.teams.all %}
                                            <li>
                                                <a href="{% url 'base:team' team.alias %}"><img src="/media/img/40x40/{{ team.get_logo_list.0 }}"></a><a href="{% url 'base:team' team.alias %}">{{ team.name }}</a>
                                            </li>
                                        {% endfor %}-->
                                        {% for teams in group %}
                                            {{ teams.name }} - {{ teams.teams }}
                                        {% endfor %}
                                    <!--{% for group_item in group_table %}
                                            {{ group_item.name }} - {{ group_item.teams }}
                                        {% endfor %} -->
                                    </ul>
                                    <div style="width: 100%; margin-top: 10px; float: left;">
                                        <span class="line"></span><span class="line-anchor"><h2 style="margin: 0;">Список матчей</h2></span><span class="line"></span>
                                    </div>
                                    {% for match in matches %}
                                        {% if match.champ.name ==  data.name %}
                                            {% include "_match_item.html" %}
                                        {% else %}
                                            
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-3 right-col">
                                    <span class="span-r-title">Ближайшие матчи</span>
                                    <!--<div class="matches-team col-sm-6 col-xs-6 col-md-12" style="padding: 0;">
                                        <div class="next-matches">
                                            <table>
                                                {% for match in new_matches %}
                                                    {% if match.champ.name ==  data.name %}
                                                        {% if match.score %}
                                                        {% else %}
                                                                {% if forloop < 15 %}
                                                                <tr><td style="width: auto;">{{ match.datetime|ru_strftime:"%d.%m"}} - <b>{{ match.datetime|ru_strftime:"%H:%M"}}</b></td><td><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}">{{ match.command_first.shortname }} - {{ match.command_second.shortname }}</a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td class="tour-td">{{ match.tour}}<br>тур</td><td><a href="{% url 'base:match' match.alias %}"><button type="button" class="btn btn-success"><span>купить билеты</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
                                                                {% endif %}
                                                        {% endif %}
                                                        </td></tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>-->
                                    </div>
                                    <span>Прошедшие матчи</span>
                                    <div class="matches-team col-sm-6 col-xs-6 col-md-12">
                                        <!--<div class="next-matches">
                                            <table class="shrt-name-table" style="text-align: center;">
                                                {% for match in old_matches reversed %}
                                                    {% if match.champ.name ==  data.name %}
                                                                {% if forloop < 20 %}
                                                                <tr><td style="width: auto;">{{ match.datetime|ru_strftime:"%d.%m"}}</td><td><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}"><span class="shrt-name">{{ match.command_first.shortname }}</span> <span style="color: #3DABDA;">{{ match.score }}</span> <span class="shrt-name">{{ match.command_second.shortname }}</span></a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td class="tour-td">{{ match.tour}}<br>тур</td><td><a href="{% url 'base:match' match.alias %}">Обзор</a>
                                                                </td></tr>
                                                                {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}