{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<div class="title-block"><span class="line"></span><span class="line-anchor"><h1>{{ data.seo_h1 }}</h1></span><span class="line"></span></div>
                <div class="matches_list row">
                    <ul style="list-style: none;">
                        {% for champ in champ %}
                            <div class="team-item col-md-3 col-sm-4">
                                <a href="{% url 'base:champ' champ.alias %}">
                                <div class="image_team">
                                    <img src="/media/champ_logo/{{ champ.image }}">
                                </div>
                                </a>
                                <div class="name_team">
                                    <a href="{% url 'base:champ' champ.alias %}">{% if champ.menutitle %}{{ champ.menutitle }}{% else %}{{ champ.name}}{% endif %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--- About us Ends Here --->
	{% endblock %}