﻿    {% load pytils_dt %}
    {{ html }}
    
    <ul style="list-style: none; margin: 0; padding: 0;">
        {% for match in new_matches %}
            {% if data.today|ru_strftime:"%d.%m" == match.datetime|ru_strftime:"%d.%m" %}
                <li hours='{{ match.datetime|ru_strftime:"%H"}}' mins='{{ match.datetime|ru_strftime:"%M" }}'><a href="{% url 'base:match' match.alias %}">{{ match.parse }}</a><b class="linux"></b><span>{{match.command_first}} - {{match.command_second}}</span></li>
            {% endif %}
        {% endfor %}
    </ul>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var Data = new Date();
        var Minutes = Data.getMinutes() * 60
        var Hours = Data.getHours() * 60 * 60
        var Secs = Data.getSeconds()
        $('li').each(function(){
            hours = parseInt($(this).attr('hours'))*60*60
            mins = parseInt($(this).attr('mins'))*60
            var forNow = ((mins+hours)-(Minutes+Hours+Secs))
            if( forNow > 0){
                $(this).find('.linux').text(forNow)
            }
            else{
                $(this).remove()
            }
        })
    })
</script>