{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<div class="title-block"><span class="line"></span><span class="line-anchor"><h1>Список матчей</h1></span><span class="line"></span></div>
                <div class="matches_list row">
                    <div class="teams-logos">
                        {% for teamchamp in teamchamp %}
                            {% if teamchamp.champ.name == "Чемпионат России 2016/2017"%}<div><span style="display: none;">{{ teamchamp.name }}</span><i><img src="/media/img/{{ teamchamp.logo }}" alt="{{ teamchamp.name }}"></i></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% for match in matches %}
                        {% if match.champ.name == "Чемпионат России 2016/2017" %}
                            {% include "_match_item.html" %}
                        {% else %}
                            
                        {% endif %}
                    {% empty %}
                        <p>К сожалению, сведений о матчах не найдено.</p>
                    {% endfor %}    
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--- About us Ends Here --->
	{% endblock %}