{% extends "__base_news.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        <div class="col-md-9">
            <div class="prev-nex-btn">
                <div class="single-paginate">
                    {% if prev %}
                    <div class="post-paginate prev">
                        <a href="{% url 'base:news' prev.alias %}" class="pix-colr"><i class="fa fa-arrow-left"></i>
                            Предыдущая новость               
                        </a>
                        <span>{{ prev.date|ru_strftime:"%d %B, %Y" }}</span>
                        <h2 class="px-single-page-title">{{ prev.name }} </h2>
                    </div>
                    {% endif %}
                    {% if next %}
                    <div class="post-paginate next">
                        <a href="{% url 'base:news' next.alias %}" class="pix-colr"><i class="fa fa-arrow-right"></i>
                            Следущая новость
                        </a>
                        <span>{{ next.date|ru_strftime:"%d %B, %Y" }}</span>
                        <h2 class="px-single-page-title">{{ next.name }} </h2>
                    </div>
                    {% endif %}

                </div>
            </div>
            <time class="news-pub-date" datetime='{{ data.date|date:"d-m-Y" }}'>{{ data.date|ru_strftime:"%d %B, %Y" }}</time>
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            </div>
            <div class="blog blog_detail">
                <article>
                    <div class="pix-content-wrap">
                        <div class="detail_text rich_editor_text">
                            {{ data.content|safe }}
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-md-3 right-col">
            <h2>Новости</h2>
            {% for news in news %}
                <div class="new_news_right">
                    <span class="pub-dte"></span>
                    <a href="{% url 'base:news' news.alias %}"><span class="news_title">{{ news.name }}</span></a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}