{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<span class="line"></span><span class="line-anchor"><h1>{{ data.fioname }}</h1></span><span class="line"></span>
                    <div class="player_prof row">
                        <div>
                            <div class="photo col-md-2 col-sm-3">
                                <img src="{{ data.image }}">
                            </div>
                            <div class="player_info col-md-10 col-sm-9">
                                <div class="number">
                                    <span>
                                        {{ data.number }}
                                    </span>
                                </div>
                                <div class="name_n_country">
                                    <span class="name">{{ data.fioname }}</span>
                                    <span class="countr">Гражданство - {{ data.country }}</span>
                                </div>
                            </div>
                            <div class="player_stats col-md-10 col-sm-9">
                                <span>Амплуа: <b>{{ data.position }}</b></span>
                                <span>Команда: <b>{{ data.team }}</b></span>
                                <span>Дата рождения: <b>{{ data.birth }}</b></span>
                                <span>Рост: <b>{{ data.height }}</b></span>
                                <span>Вес: <b>{{ data.weight }}</b></span>
                                <!--<span>Трасферная стоимость: <b>35 000 000 €</b></span>-->
                            </div>
                        </div>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--- About us Ends Here --->
	{% endblock %}