﻿{% load pytils_dt %}
{% block main_content %}
    <table>
    {% for match in matches %}  
        {%if match.command_first.name == "ЦСКА" %}
            <tr><td>{{ match.command_first }} - {{ match.command_second }} {{ match.datetime|ru_strftime:"%d %B %Y " }} билеты</td></tr>
            <tr><td>билеты на матч {{ match.command_first }} - {{ match.command_second }} {{ match.datetime|ru_strftime:"%d %B %Y " }}</td></tr>
            <tr><td>{{ match.command_first }} - {{ match.command_second }} билеты</td></tr>
            <tr><td>{{ match.command_first }} - {{ match.command_second }} {{ match.datetime|ru_strftime:"%d %B %Y " }} купить билеты</td></tr>
            <tr><td>билеты на {{ match.command_first }} - {{ match.command_second }}</td></tr>
        {%endif%}
    {% endfor %}
    </table>
{% endblock %}