<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/static/main/favicon.ico">
		 <title>{{ data.seo_title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ data.seo_description}}">
		<meta name="keywords" content="{{ data.seo_keywords}}">
		<!-- css -->
		<link href="/static/main/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/main/awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/main/awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/static/main/simple-line-icons/css/simple-line-icons.css">
		<link href="/static/main/css/fancybox/jquery.fancybox.css" rel="stylesheet"> 
		<link href="/static/main/css/flexslider.css" rel="stylesheet" />
		<link href="/static/main/js/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="/static/main/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div id="wrapper" class="home-page">
			<!-- start header -->
				{% include "main/_header.html" %}
			<!-- end header -->
				<h1 class="colr" style="color:#2c9ad7;text-align:center;">404 Page not found!</h1>
			<!-- start Footer -->
			<!-- end Footer -->
		</div>
	<!-- javascript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
			{% include "main/_scripts.html" %}
	</body>
</html>