{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<title>{{ data.seo_title }}</title>
        <link href="/static/template3/css/style.css" rel="stylesheet" media="screen">
        <link href="/static/template3/css/responsive-theme.css" rel="stylesheet" media="screen">
        <link href="#" rel="stylesheet" media="screen" class="skin">
        <link rel="shortcut icon" href="/static/template3/img/icons/favicon.ico">
        <link rel="apple-touch-icon" href="/static/template3/img/icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/template3/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/template3/img/icons/apple-touch-icon-114x114.png">
        <!--[if lt IE 9]> 
        <link rel="stylesheet" href="/static/template3/css/ie.css" type="text/css" media="screen"/>
        <![endif]--><!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if (gte IE 6)&(lte IE 8)]> <script type="text/javascript" src="/static/template3/js/css3selectors/selectivizr.js"></script><![endif]--> <script type="text/javascript" src="http://www.google.com/jsapi"></script> <script src="/static/template3/js/modernizr/modernizr.js"></script>         
	</head>
	<body>
        <div id="layout">
            {% include "template3/_header.html" %}
            {% block main_content %}{% endblock %}
            {% include "template3/_footer.html" %}
    </body>
</html>