{% load pytils_dt %}
    <!--<section class="speakers paddings image">
        <div class="images-view">
            <div class="show-img container">
                <div class="images-line">
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/1986.png" alt="Mexico">
                        </a>
                        <a href="#"><span>Мексика (1986)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/1990.png" alt="Italia">
                        </a>
                        <a href="#"><span>Италия (1990)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/1994.png" alt="USA">
                        </a>
                        <a href="#"><span>США (1994)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/1998.png" alt="France">
                        </a>
                        <a href="#"><span>Франция (1998)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/2002.png" alt="Korea/Japan">
                        </a>
                        <a href="#"><span>Корея/Япония (2002)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/2006.png" alt="Germany">
                        </a>
                        <a href="#"><span>Германия (2006)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/2010.png" alt="South Afrika">
                        </a>
                        <a href="#"><span>Южная Африка (2010)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/2014.png" alt="Brasil">
                        </a>
                        <a href="#"><span>Бразилия (2014)</span></a>
                    </div>
                    <div class="item_wc">
                        <a href="#">
                            <img src="/static/template3/img/worldcups/2018.png" alt="Russia">
                        </a>
                        <a href="#"><span>Россия(2018)</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->