		<footer class="color-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <p>© 2016 All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <ul class="social right">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="/static/template3/js/jquery.js"></script> <script type="text/javascript" src="/static/template3/js/fancybox/jquery.fancybox.js"></script> <script type="text/javascript" src="/static/template3/js/animations/wow.js" ></script> <script type="text/javascript" src="/static/template3/js/totop/jquery.ui.totop.js" ></script> <script src="/static/template3/js/scroll/smooth-scroll.js" type="text/javascript"></script> <script src="/static/template3/js/carousel/carousel.js"></script> <script type="text/javascript" src="/static/template3/js/theme-options/theme-options.js"></script> <script type="text/javascript" src="/static/template3/js/theme-options/jquery.cookies.js"></script> <script type='text/javascript' src='/static/template3/js/theme-options/jquery.easing.1.3.min.js'></script> <script src="/static/template3/js/parallax/jquery.stellar.min.js"></script> <script src="/static/template3/js/counter/jquery.countdown.js"></script> <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> <script src="/static/template3/js/maps/gmap3.js"></script> <script type="text/javascript" src="/static/template3/js/slide/camera.js" ></script> <script src="/static/template3/js/twitter/jquery.tweet.js"></script> <script src="/static/template3/js/flickr/jflickrfeed.js"></script> <script src="/static/template3/js/menu/jquery.nav.js"></script> <script src="/static/template3/js/bootstrap/bootstrap.js"></script> <script type="text/javascript" src="/static/template3/js/main.js"></script> 
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/template3/js/scripts.js"></script>