		{% if host == "index" %}<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">{% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-mobile"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="/#home"><img src="/static/template2/images/logo.png" class="logo"><img class="logo2" src="/static/template3/img/cc2017.png"></a></div>
                    </div>
                    <div class="col-md-8">
                        <div class="navbar-collapse collapse {% if host != 'index' %}not-fixed{% endif %}" id="navigation-mobile">
                            <ul class="nav navbar-nav navbar-right main-navigation">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/teams/">Сборные</a></li>
                                <li><a href="/matches/">Матчи</a></li>
                                <li><a href="/#contact">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% if host == "index" %}</div>{% endif %}