    <div class="col-md-4 player-item">
        <div class="player-img">
            <a href="javascript:"><img src="{{ player.image }}"></a>
        </div>
        <div class="player-name">
            <a href="javascript:"><span>{{ player.name }}</span></a>
            <em>{{ player.position }}</em>
        </div>
    </div>