    <li>
        <a href="{% url 'portal:team' team.alias %}" class="team">
            <img alt="{{ team.name }}" title="{{ team.name }}" class="flag" src="/media/flags/{{ team.get_flag_list.1 }}">
            <span class="team-name">{{ team.name }}</span>
        </a>
    </li>