{% extends "template3/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section class="home-welcome center" id="home">
        <div class="paddings bg-gradients">
            {% for match in last_matches %}
                {% if forloop.first %}
                    <h1 class="summary">Кубок конфедераций 2017</h1>
                    <h2> <span class="place-home"> <span class="location"><i class="fa fa-map-marker"></i>Санкт-Петербург</span> <time datetime="{{ match.datetime|ru_strftime:'%Y-%m-%dT%H:%M' }}"><i class="fa fa-calendar"></i> {{ match.datetime|ru_strftime:"%B %d, %Y" }}, <span class="dtstart"> {{ match.datetime|ru_strftime:"%H:%M" }} <span class="value-title" title="{{ match.datetime|ru_strftime:'%Y-%m-%dT%H:%M' }}"></span> </span> </time> </span> </h2>
                    <h3 class="description">{{ match.command_first }}<span> vs. </span>{{ match.command_second }}</h3>
                {% endif %}
            {% endfor %}
            <ul class="menu-base">
                <li>
                    <a href="#speakers">
                        <i class="fa fa-soccer-ball-o"></i> 
                        <p>Чемпионаты</p>
                    </a>
                </li>
                <li>
                    <a href="#register">
                        <i class="fa fa-flag"></i> 
                        <p>Сборные</p>
                    </a>
                </li>
                <li>
                    <a href="#schedule">
                        <i class="fa fa-calendar"></i> 
                        <p>Матчи</p>
                    </a>
                </li>
                <li>
                    <a href="#pricing">
                        <i class="fa fa-info"></i> 
                        <p>Информация</p>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <i class="fa fa-map-marker"></i> 
                        <p>Стадионы</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="diary">
        <div class="opacity-bg-color"></div>
        <div class="container">
            <div class="row paddings center">
                <div class="col-md-12">
                    <ul id="diary">
                        {% for match in last_matches %}
                            <li>
                                <div class="championship">
                                    <figure class="player-logo">
                                        <img src="/media/logo/{{ match.command_first.get_logo_list.0 }}" alt="Player of championship"> 
                                        <figcaption>{{ match.command_first }}</figcaption>
                                    </figure>
                                    <span>vs</span> 
                                    <figure class="player-logo">
                                        <figcaption class="name-player">{{ match.command_second }}</figcaption>
                                        <img src="/media/logo/{{ match.command_second.get_logo_list.0 }}" alt="Player of championship"> 
                                    </figure>
                                </div>
                                <div class="place-time-diaries"> <time datetime="{{ match.datetime|ru_strftime:'%Y-%m-%dT%H:%M' }}"><i class="fa fa-calendar"></i> {{ match.datetime|ru_strftime:"%d %B %Y" }} - <span class="dtstart"> {{ match.datetime|ru_strftime:"%H:%M" }} <span class="value-title" title="2014-12-20T08:00-08:00"></span> </span> </time> <span class="location"><i class="fa fa-map-marker"></i> Санкт-Петербург</span> </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="paddings" id="register">
        <div class="container">
            <div class="row">
               <h2>СБОРНЫЕ - УЧАСТНИКИ</h2>
               <div class="sbornie">
                    {% for team in champ_teams %}
                        <div class="col-md-12 team_participant">
							<div class="row title_countr">
								<span>{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
							</div>
							<div class="col-md-2 football_logo">
								<img src="/media/logo/{{ team.get_logo_list.0 }}" alt="">
							</div>
							<div class="col-md-10 flag_and_name">
								<div class="col-md-4">
									<img src="/media/flags/{{ team.get_flag_list.1 }}" alt="" >
									<a class="h5" href='{% url "portal:team" team.alias %}'>{{ team.name }}</a>
								</div>
								<div class="col-md-12">
									{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}
								</div>
							</div>
                        </div>
                    {% endfor %}
               </div>
            </div>
        </div>
    </section>
    <div id="speakers"></div>
    <section class="wc-title">
        <div class="container titles-main conf_hist">
            <h2>История всех кубков конфедераций(1992-2017)</h2>
            <hr>
            <p>Кубок короля Фахда(Предшественник турнира)</p>
			<table class="table table-bordered">
				<tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
				<tr><td>1992</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>4</td><td><img src="/static/khl/flags-f/arg.png">Аргентина</td><td><img src="/static/khl/flags-f/arg.png">Фернандо Редондо</td></tr>
				<tr><td>1995</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>6</td><td><img src="/static/khl/flags-f/den.png">Дания</td><td><img src="/static/khl/flags-f/den.png">Брайн Лаудруп</td></tr>
			</table>
			<p>Кубок конфедераций</p>
			<table class="table table-bordered">
				<tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
				<tr><td>1997</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Денильсон</td></tr>
				<tr><td>1999</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td>8</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td><img src="/static/khl/flags-f/bra.png">Рональдиньо</td></tr>
				<tr><td>2001</td><td><img src="/static/khl/flags-f/kor.png"><img src="/static/khl/flags-f/jp.png">Корея\Япония</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Робер Пирес</td></tr>
				<tr><td>2003</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Тьерри Анри</td></tr>
				<tr><td>2005</td><td><img src="/static/khl/flags-f/ger.png">Германия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Адриано</td></tr>
				<tr><td>2009</td><td><img src="/static/khl/flags-f/yar.png">ЮАР</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Кака</td></tr>
				<tr><td>2013</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Неймар</td></tr>
				<tr><td>2017</td><td><img src="/media/flags/rus.png">Россия</td><td>8</td><td>?</td><td>?</td></tr>
			</table>
        </div>
    </section>
    <section class="sponsors center" id="schedule">
        <div class="container">
            <div class="row titles-main left wow animated bounceInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">
                <div class="col-md-12">
                    <h2>Матчи</h2>
                    <hr>
                    <p>Товарищеские встречи</p>
                </div>
            </div>
        </div>
    </section>
    <div id="schedule"></div>
    <section class="schedule">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <section class="tabs wow zoomIn" data-wow-delay="1s">
                        <div class="content">
							<div class="content-1">
								<div class="match_list">
									<ul>
									{% for match in last_matches %}
										{% if forloop.counter < 5 %}
											{% include "template6/_match_item.html" %}
										{% endif %}
									{% empty %}
										<p>К сожалению, о последних матчах сведений нет.</p>
									{% endfor %}
									</ul>
								</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="paddings pricing-tables" id="pricing">
        <div class="container">
            <div class="row titles-main center">
                <div class="col-md-12">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                    <hr>
                    {{ data.content|safe }}
					<div class="info">
						<iframe width="835px" height="431px" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen></iframe>
						<table style="margin-top: 0; font-size: 90%; float: right; background: #fff; text-align: center; color: #333; width: 319px; margin-left: 25px; border: 1px solid #999;">
							<tbody>
								<tr>
									<th colspan="2" style="background-color:#AAD0FF; color:black; text-align:center; padding:0.3em"><big>Кубок конфедераций 2017</big><br>
										<small><i>FIFA Confederations Cup 2017</i></small>
									</th>
								</tr>
								<tr>
									<td colspan="2" style="text-align:center;; padding:0.3em"><img alt="Кубок конфедераций 2017" src="/static/template1/img/wiki-log.png"></td>
								</tr>
								<tr style="background-color:#EBF5FF; color:black; text-align:center">
									<td colspan="2"><b>Подробности чемпионата</b></td>
								</tr>
								<tr>
									<td><b>Место проведения</b></td>
									<td><span style="white-space: nowrap;"><span style="display: none; speak: none;">Россия</span><span class="flagicon"><img src="/static/template1/img/rus.png" style="margin-right: 6px;" width="22" height="15"></span>Россия</span></td>
								</tr>
								<tr>
									<td><b>Города проведения</b></td>
									<td>4</td>
								</tr>
								<tr>
									<td><b>Стадионы</b></td>
									<td>4</td>
								</tr>
								<tr>
									<td><b>Сроки турнира</b></td>
									<td>17 июня — 2 июля 2017</td>
								</tr>
								<tr>
									<td><b>Число участников</b></td>
									<td>8</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
				<div id="contact"></div>
				<h2>Стадионы кубка конфедераций 2017</h2>
				<div class="col-md-12 stadiums">
					{% for stadium in stadiums %}
						{% if forloop.counter > 22 and forloop.counter < 27 %}
							<div class="col-md-6 col-sm-12">
								<span>{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</span>
								<img src="{{ stadium.image }}" alt="">
							</div>
						{% endif %}
					{% endfor %}					
				</div>

            </div>

        </div>
    </section>
{% endblock %}