{% extends "template3/__base.html" %}
    {% block main_content %}
    <section class="paddings" style="padding: 25px 0;" id="register">
        <div class="container">
            <div class="row">
               <h2 style="text-indent: 73px;">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2>
               <div class="col-md-12 match_list">
                    <ul>
                        {% for match in matches %}
                            {% include "template3/_match_item.html" %}
                        {% empty %}
                            <p>К сожалению, сведений о матчах не найдено.</p>
                        {% endfor %}
                    </ul>
               </div>
            </div>
        </div>
    </section>
    {% include "template3/_block_countries.html" %}
{% endblock %}