    <div class="footer">
		<div class="container">
		
			<div class="foter-bottom">			
				 <p class="footer-grid">Кубок Конфедераций 2017</p>
				<div class=" nav-top">				
					<ul>
                            <li {% if host == 'index' %}class="active"{% endif %}><a href="/" class="scroll">Главная</a></li>
                            <li {% if host == 'teams' %}class="active"{% endif %}><a href="/teams/" class="scroll">Команды</a></li>
                            <li {% if host == 'matches' %}class="active"{% endif %}><a href="/matches/" class="scroll">Матчи</a></li>
                            <li {% if host == 'contacts' %}class="active"{% endif %}><a href="/contacts/" class="scroll">Контакты</a></li>                                
                        </ul> 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>