   	<div class="header">
		<div class="header-top">
			<div class="container">
			</div>
			<div class="clearfix"> </div>
        </div>
        <div class="header-bottom-top">
            <div class="container">
                <div class="search">	
                    
                </div>
                <div class="clearfix"> </div>
                <div class="header-bottom">			
                    <div class="logo">
                        <a href="/"><img style="width: 280px;" src="/static/template8/images/232.png" alt=" " /></a>
                    </div>
                    <div class="top-nav">
                        <span class="menu">lll</span>
                        <ul>
                            <li {% if host == 'index' %}class="active"{% endif %}><a href="/">Главная</a></li>
                            <li {% if host == 'teams' %}class="active"{% endif %}><a href="/teams/">Команды</a></li>
                            <li {% if host == 'matches' %}class="active"{% endif %}><a href="/matches/">Матчи</a></li>
                            <li><a href="/contacts/">Контакты</a></li>                                
                        </ul> 
                        <!--script-->
                    <script>
                        $("span.menu").click(function(){
                            $(".top-nav ul").slideToggle(500, function(){
                            });
                        });
                </script>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
		</div>
	</div>