<!--     <div class="team-member col-md-3 col-sm-3">
        <div class="member-thumb">
            <img src="{{ player.image }}" alt="">
            <a href="javascript:">
                <div class="team-overlay">
                    <h3>{{ player.name }}</h3>
                    <span>{{ player.position }}</span>
                </div> 
            </a>
        </div>
    </div> -->
    <div class="slow-grid">
        <ul class="sign-in">
            <li><img  src="{{ player.image }}" alt=" " /></li>
            <li> {{ player.name }}</li>			
        </ul>
    </div>