    <a href="{% url 'portal:team' team.alias %}" class="slow-grid" style="height: 280px;">
        <ul class="sign-in">
            <li><img  src="/media/logo/{{ team.get_logo_list.0 }}" alt=" " style="width:80%"/></li>
            <li> {{ team.name }}</li>			
        </ul>
    </a>