{% extends "template8/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="container">
        <div class="contact">
            <div class="col-md-6 send-contact">
                <h4>Обратная связь</h4>
                <form>
                    <div class="grid-contact">
                        <div class="col-md-6 contact-left">
                            <p class="your-para"> Имя<span>*</span></p>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        </div>
                        <div class="col-md-6 contact-left">
                            <p class="your-para"> Email<span>*</span></p>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="subject">
                        <p class="message-para"> Тема<span>*</span></p>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    </div>
                        <p class="message-para">Сообщение<span>*</span></p>
                        <textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
                        <div class="send">
                            <input type="submit" value="SEND" >
                        </div>
                        <div class="clearfix"> </div>
                </form>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}