{% extends "template8/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    
    
    <div class="slider">
        <ul class="rslides" id="slider2">
          <li><a href="#"><img src="/static/template4/images/slides/1.jpg" alt="">
          <div class="banner">
          </div>
          </a></li>
          <li><a href="#"><img src="/static/template4/images/slides/2.jpg" alt="">
           <div class="banner">
          </div>
           </a></li>
          <li><a href="#"><img src="/static/template4/images/slides/3.jpg" alt="">
            <div class="banner">
          </div>
          </a></li>          
          </a></li>
        </ul>
    </div>
		
		<!--content-->
    <div class="content">
        <div class="content-app">
            <div class="container">
                <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                <div class="text-muted">
                    {{ data.content|safe }}
                </div>
                <div class="content-from">
                    <div class="info">
						<iframe style="float: left; box-shadow: 0 0 0 3px #999; width: 595px"  height="373px" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen=""></iframe>
						<table style="margin-top: 0; font-size: 90%; float: right; background: #fff; text-align: center; color: #333; width: 319px; margin-left: 25px; border: 1px solid #999;">
							<tbody>
								<tr>
									<th colspan="2" style="background-color:#AAD0FF; color:black; text-align:center; padding:0.3em"><big>Кубок конфедераций 2017</big><br>
										<small><i>FIFA Confederations Cup 2017</i></small>
									</th>
								</tr>
								<tr>
									<td colspan="2" style="text-align:center;; padding:0.3em"><img alt="Кубок конфедераций 2017" src="/static/template1/img/wiki-log.png"></td>
								</tr>
								<tr style="background-color:#EBF5FF; color:black; text-align:center">
									<td colspan="2"><b>Подробности чемпионата</b></td>
								</tr>
								<tr>
									<td><b>Место проведения</b></td>
									<td><span style="white-space: nowrap;"><span style="display: none; speak: none;">Россия</span><span class="flagicon"><img src="/static/template1/img/rus.png" style="margin-right: 6px;" width="22" height="15"></span>Россия</span></td>
								</tr>
								<tr>
									<td><b>Города проведения</b></td>
									<td>4</td>
								</tr>
								<tr>
									<td><b>Стадионы</b></td>
									<td>4</td>
								</tr>
								<tr>
									<td><b>Сроки турнира</b></td>
									<td>17 июня — 2 июля 2017</td>
								</tr>
								<tr>
									<td><b>Число участников</b></td>
									<td>8</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h2>Следующие матчи</h2>
					<div class="match_list">
						<ul>
						{% for match in last_matches %}
							{% if forloop.counter < 5 %}
								{% include "template6/_match_item.html" %}
							{% endif %}
						{% empty %}
							<p>К сожалению, о последних матчах сведений нет.</p>
						{% endfor %}
						</ul>
					</div>
					<h2>Группы</h2>
					<div class="col-md-12 groups">
						<div class="col-md-6">
							<h3>Группа A</h3>
							<table class="table table-bordered">
								<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
								<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							</tbody></table>
						</div>
						<div class="col-md-6">
							<h3>Группа B</h3>
							<table class="table table-bordered">
								<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
								<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							</tbody></table>
						</div>
					</div>
					<h2>Стадионы Кубка Конфедераций</h2>
					<div class="col-md-12 stadiums">
						{% for stadium in stadiums %}
							{% if forloop.counter > 22 and forloop.counter < 27 %}
								<div class="col-md-6 col-sm-12">
									<span>{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</span>
									<img src="{{ stadium.image }}" alt="">
								</div>
							{% endif %}
						{% endfor %}					
					</div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}