{% extends "template8/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content-app-up">
			<div class="container">
                <span class="line"> </span>
                <h3>Матчи</h3>
                <div class="regard">
                        {% for match in matches %}
                            <!-- {% include "template8/_match_item.html" %} -->
                            <div class="regard-in">					
                                {% include "template8/_match_item.html" %}
                            </div>
                        {% empty %}
                            <p>К сожалению, сведений о командах не найдено.</p>
                        {% endfor %}
                </div>
			</div>		
		</div>
{% endblock %}