{% extends "template8/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
        <div class="content-gear">
            <div class="container match">
            <img src="/media/logo/{{ data.command_first.get_logo_list.0 }}"><span> {{ data.command_first }} - {{ data.command_second }} </span><img src="/media/logo/{{ data.command_second.get_logo_list.0 }}">
                <table class="table table-bordered">
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                </table>
                {% if data.content %}{{ data.content|safe }}{% endif %}
            </div>
        </div>
    </div>
  
{% endblock %}