{% extends "template1/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<section >
	  <div class="container">
        <article class="content-main players-page">
            <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            <div class="player-stats">
                <img src="{{ data.image }}">
                <span>Информация:</span>
                <div class="self-stats">
                    {% if birth != "Нет данных" %}
                        <span>Дата рождения: {{ data.birth }}</span>
                    {% else %}
                    {% endif %}
                    <span>Позиция: {{ data.position }}</span>                    
                    <span>Клуб: <img src="/media/flags/{{ data.team.get_flag_list.1 }}">{{ data.team }}</span>
                    <span>Рост\вес: {{ data.height }}\{{ data.weight }}</span>
                    <span></span>                                                                                
                </div>
                <div class="match-stats">
                    <span>Матчи(В основе): 30(25)</span>
                    <span>Голов пропущено: 25</span>
                    <span>Голов за игру(среднее): 0.80 </span>
                    <span>Желтые карточки: 1</span>
                    <span>Красные карточки: 0</span>   
                </div>
            </div>
            <div class="player_content">
                {% if data.content %}{{ data.content|safe }}{% endif %}
            </div>
            <div class="player-season-stats">
                <table class="stat-table career" cellpadding="0" cellspacing="0">

                    <tbody>
                    <tr class="bold">
                    <td class="name-td alLeft bordR">Сезон</td>
                    <td class="name-td alLeft bordR">Команда</td>
                    <td class="name-td alLeft bordR">Турнир</td>
                    <td class="bordR" title="матчи">М</td>
                    <td class="bordR" title="голы">Г</td>
                    <td class="bordR" title="пенальти">Пен</td>
                    <td class="bordR" title="передачи">П</td>
                    <td class="bordR" title="желтые карточки">ЖК</td>
                    <td class="bordR" title="красные карточки">КК</td>
                    <td class="bordR" title="пропущенные голы">ГП</td>
                    <td class="bordR" title="пропущенные голы, в среднем">ПГМ</td>
                    <td class="bordR" title="сухие матчи">СМ</td>
                    <td class="bordR" title="выигрыши">В</td>
                    <td class="bordR" title="ничьи">Н</td>
                    <td class="bordR" title="поражения">П</td>
                    <td title="среднее время на поле">МИН</td>
                    </tr>
                    <tr>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=4951" title="2015/2016">2015/2016</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=4951&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/epl/table/?s=4951&amp;sub=table">Англия. Премьер-лига</a>
                    </td>
                    <td class="bordR">
                    33
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    32
                    </td>
                    <td class="bordR">
                    0.97
                    </td>
                    <td class="bordR">
                    16
                    </td>
                    <td class="bordR">
                    16
                    </td>
                    <td class="bordR">
                    8
                    </td>
                    <td class="bordR">
                    9
                    </td>
                    <td>
                    90
                    </td>
                    </tr>
                    <tr>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=4383" title="2014/2015">2014/2015</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=4383&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/epl/table/?s=4383&amp;sub=table">Англия. Премьер-лига</a>
                    </td>
                    <td class="bordR">
                    37
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    36
                    </td>
                    <td class="bordR">
                    0.97
                    </td>
                    <td class="bordR">
                    11
                    </td>
                    <td class="bordR">
                    20
                    </td>
                    <td class="bordR">
                    9
                    </td>
                    <td class="bordR">
                    8
                    </td>
                    <td>
                    89
                    </td>
                    </tr>
                    <tr style="display: table-row;">
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=3270" title="2013/2014">2013/2014</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=3270&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/epl/table/?s=3270&amp;sub=table">Англия. Премьер-лига</a>
                    </td>
                    <td class="bordR">
                    37
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    1
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    43
                    </td>
                    <td class="bordR">
                    1.16
                    </td>
                    <td class="bordR">
                    12
                    </td>
                    <td class="bordR">
                    18
                    </td>
                    <td class="bordR">
                    7
                    </td>
                    <td class="bordR">
                    12
                    </td>
                    <td>
                    90
                    </td>
                    </tr>
                    <tr style="display: table-row;">
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=1845" title="2012/2013">2012/2013</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=1845&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/epl/table/?s=1845&amp;sub=table">Англия. Премьер-лига</a>
                    </td>
                    <td class="bordR">
                    28
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    26
                    </td>
                    <td class="bordR">
                    0.93
                    </td>
                    <td class="bordR">
                    11
                    </td>
                    <td class="bordR">
                    22
                    </td>
                    <td class="bordR">
                    4
                    </td>
                    <td class="bordR">
                    2
                    </td>
                    <td>
                    90
                    </td>
                    </tr>
                    <tr style="display: table-row;">
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=1243" title="2011/2012">2011/2012</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1413" title="Англия" alt="Англия"></i>&nbsp;<a href="http://www.sports.ru/mu/stat/?s=1243&amp;t=52" title="Манчестер Юнайтед">Манчестер Юнайтед</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/epl/table/?s=1243&amp;sub=table">Англия. Премьер-лига</a>
                    </td>
                    <td class="bordR">
                    29
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    29
                    </td>
                    <td class="bordR">
                    1.00
                    </td>
                    <td class="bordR">
                    13
                    </td>
                    <td class="bordR">
                    20
                    </td>
                    <td class="bordR">
                    5
                    </td>
                    <td class="bordR">
                    4
                    </td>
                    <td>
                    90
                    </td>
                    </tr>
                    <tr style="display: table-row;">
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=664" title="2010/2011">2010/2011</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1304" title="Испания" alt="Испания"></i>&nbsp;<a href="http://www.sports.ru/atletico/stat/?s=664&amp;t=49" title="Атлетико">Атлетико</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/la-liga/table/?s=664&amp;sub=table">Испания. Примера</a>
                    </td>
                    <td class="bordR">
                    38
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    1
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    53
                    </td>
                    <td class="bordR">
                    1.39
                    </td>
                    <td class="bordR">
                    11
                    </td>
                    <td class="bordR">
                    17
                    </td>
                    <td class="bordR">
                    7
                    </td>
                    <td class="bordR">
                    14
                    </td>
                    <td>
                    90
                    </td>
                    </tr>
                    <tr style="display: table-row;">
                    <td class="name-td alLeft bordR">
                    <div class="hide-field"><i class="fader"></i><a href="http://www.sports.ru/david-de-gea/stat/?s=83" title="2009/2010">2009/2010</a></div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <div class="hide-field">
                    <div class="hide-field"><i class="fader"></i><i class="flag-s flag-1304" title="Испания" alt="Испания"></i>&nbsp;<a href="http://www.sports.ru/atletico/stat/?s=83&amp;t=49" title="Атлетико">Атлетико</a></div>
                    </div>
                    </td>
                    <td class="name-td alLeft bordR">
                    <a href="http://www.sports.ru/la-liga/table/?s=83&amp;sub=table">Испания. Примера</a>
                    </td>
                    <td class="bordR">
                    19
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    1
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    27
                    </td>
                    <td class="bordR">
                    1.42
                    </td>
                    <td class="bordR">
                    3
                    </td>
                    <td class="bordR">
                    8
                    </td>
                    <td class="bordR">
                    3
                    </td>
                    <td class="bordR">
                    8
                    </td>
                    <td>
                    90
                    </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr style="display: table-row;" class="bold">
                    <td class="padR alRight bordR" colspan="3">Показатели за всю карьеру</td>
                    <td class="bordR">
                    221
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    3
                    </td>
                    <td class="bordR">
                    0
                    </td>
                    <td class="bordR">
                    246
                    </td>
                    <td class="bordR">
                    1.11
                    </td>
                    <td class="bordR">
                    77
                    </td>
                    <td class="bordR">
                    121
                    </td>
                    <td class="bordR">
                    43
                    </td>
                    <td class="bordR">
                    57
                    </td>
                    <td>
                    89
                    </td>
                    </tr>
                    </tfoot>
                    </table>
            </div>
			<div class="player-content">
				{% if data.content %}
                    {{ data.content|safe }}
                {% else %}
                {% endif %}
			</div>

        </article>
	  </div>
	</section>	
{% endblock %}                