{% extends "template8/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
        <div class="content-top">
            <div class="container">
                
                    {% for team in teams %}
                        {% include "template8/_team_item.html" %}
                    {% empty %}
                        <p>К сожалению, сведений о командах не найдено.</p>
                    {% endfor %}
                
            </div>
        </div>
    </div>
    {% endblock %}