{% extends "template8/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content">
        <div>
            <div class="container">
                
                <h1 style="text-align: center;">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
				<div class="do-the">
					<div class=" col-md-8 ">  
                        <img src="/media/photos/{{ data.get_photo_list.0 }}">
                        <table class="table table-bordered">
                            <tbody>
                                <tr><th>Турнир</th><th>ЗМ</th><th>ПМ</th><th>Место</th></tr>
                                <tr><td>Чемпонат Европы 2000</td><td>15</td><td>17</td><td>12</td></tr>
                                <tr><td>Чемпонат Мира 2002</td><td>15</td><td>17</td><td>12</td></tr>
                                <tr><td>Чемпонат Европы 2004</td><td>15</td><td>17</td><td>12</td></tr>
                                <tr><td>Чемпонат Мира 2006</td><td>15</td><td>17</td><td>12</td></tr>                                                                                                
                            </tbody>
                        </table>
                        {% if data.content %}{{ data.content|safe }}{% endif %}
                    </div>
                    <div class="col-md-4 grid-img the-do">
						<img class="img-responsive" src="images/me1.png" alt=" " />
                        <br>
                        <p>
                            <span>Федерация: </span> {{ data.fed }}
                        </p>
                        <p>
                            <span>Домашний стадион: </span> {{ data.stadium }}
                        </p>
                        <p>
                            <span>Год основания: </span> {{ data.founded }}
                        </p>
                        <p>
                            <span>Адрес: </span> {{ data.address }}
                        </p>
                        <p>
                            <span>Телефон: </span> {{ data.phone }}
                        </p>
                        <p>
                            <span>Fax: </span> {{ data.fax }}
                        </p>
                        <p>
                            <span>E-mail: </span> {{ data.email }}
                        </p>
                        <p>
                            <span>Официальный сайт: </span> {{ data.offsite|urlize }}
                        </p>
                        <p>
                            <span>Неофициальные сайты: </span> {{ data.fansite|safe }}
                        </p>
                        <br>
                        {{ data.widget|safe }}
					</div>
					<div class="clearfix"> </div>
				</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-top">
            <div class="container">
                <h3>Игроки</h3>
                {% if coaches %}
                    {% for player in coaches %}
                        {% include "template8/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if goalkeepers %}
                    {% for player in goalkeepers %}
                        {% include "template8/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if defenders %}
                    {% for player in defenders %}
                        {% include "template8/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if midfielders %}
                    {% for player in midfielders %}
                        {% include "template8/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if attacks %}
                    {% for player in attacks %}
                        {% include "template8/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if not coaches and not goalkeepers and not defenders and not attacks%}
                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                {% endif %}
            </div>
        </div>
    </div>
 
{% endblock %}