{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/static/main/favicon.ico">
		 <title>{{ data.seo_title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ data.seo_description}}">
		<meta name="keywords" content="{{ data.seo_keywords}}">
		<!-- css -->
		<link href="/static/main/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/main/awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/main/awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/static/main/simple-line-icons/css/simple-line-icons.css">
		<link href="/static/main/css/fancybox/jquery.fancybox.css" rel="stylesheet"> 
		<link href="/static/main/css/flexslider.css" rel="stylesheet" />
		<link href="/static/main/js/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="/static/main/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div id="wrapper" class="home-page">
			<!-- start header -->
				{% include "main/_header.html" %}
			<!-- end header -->
				{% block main_content %}{% endblock %}
			<!-- start Footer -->
				{% include "main/_footer.html" %}
			<!-- end Footer -->
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
			{% include "main/_scripts.html" %}
            <script>
                $(document).ready(function(){
                    if (window.location.pathname == '/ceny/'){
                        $('.aboutUs.textpage .row').css('column-count','1');
                    }
                    if (window.location.pathname == '/uslugi/'){
                        $('.aboutUs.textpage .row').css('column-count','1');
                    }
                })
            </script>
	</body>
</html>