		<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="widget">
						<h5 class="widgetheading">Наши контакты</h5>
						<address>
						<strong>Компания</strong><br>
						г. Москва, Дмитровское шоссе 98<br>
						 </address>
						<p>
							<i class="icon-phone"></i> +7 (919) 104-66-70<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="copyright">
							<p>
								<span>© 2016 Все права защищены</span></a>
							</p>
						</div>
					</div>
					<div class="col-lg-6">

					</div>
				</div>
			</div>
		</div>
		</footer>