		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<div class="phonya"><b><i class="fa fa-clock-o" aria-hidden="true"></i>Круглосуточно, без выходных</b><span><i class="fa fa-phone" aria-hidden="true"></i>+7 (919) 104-66-70</span></div>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img src="/static/main/img/logo.png"><span>Klopinet</span></a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
                            <li {% if host == "index" %}class="active"{% endif %}><a href="/">Главная</a></li>
                            {% for menu_item in menu %}
                                <li {% if menu_item.alias == host %}class="active"{% endif %}>
                                    <a href="{% url 'basic:textpage' menu_item.alias %}">
                                    {% if menu_item.menutitle %}
                                        {{ menu_item.menutitle }}{% else %}{{ menu_item.name }}
                                    {% endif %}
                                    </a>
                                    {% if menu_item.alias == "uslugi" %}
                                        <ul>
                                            {% for usluga in uslugi %}
                                            <li>
                                                <a href="{% url 'basic:uslugi' usluga.alias %}">
                                                    {% if usluga.menutitle %}
                                                        {{ usluga.menutitle }}{% else %}{{ usluga.name }}
                                                    {% endif %}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
						</ul>
                        <span class="slogan">Уничтожение насекомых быстро и на долго!</span>
					</div>
				</div>
			</div>
		</header>