		<script src="/static/main/js/jquery.js"></script>
		<script src="/static/main/js/jquery.easing.1.3.js"></script>
		<script src="/static/main/js/bootstrap.min.js"></script>
		<script src="/static/main/js/jquery.fancybox.pack.js"></script>
		<script src="/static/main/js/jquery.fancybox-media.js"></script> 
		<script src="/static/main/js/portfolio/jquery.quicksand.js"></script>
		<script src="/static/main/js/portfolio/setting.js"></script>
		<script src="/static/main/js/jquery.flexslider.js"></script>
		<script src="/static/main/js/animate.js"></script>
		<script src="/static/main/js/owl-carousel/owl.carousel.js"></script>
		<script src="/static/main/js/custom.js"></script>
		{% autoescape off %}
		{% for script in scripts %}
                {{ script.content }}
        {% endfor %}
		{% endautoescape %}