{% extends "main/__base.html" %}
    {% block main_content %}
	<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="pageTitle">Контакты</h1>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ijBME7BdvsoGWs2itCN_iSsT-gpAa_74&width=100%&height=300&lang=ru_RU&sourceType=constructor&scroll=true"></script>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<br>
					<div class="alert alert-success {% if not success %}hidden{% endif %}" id="contactSuccess">
						<strong>Ваше сообщение успешно отправлено!</strong> 
					</div>
					<div class="alert alert-error {% if not error %}hidden{% endif %}" id="contactError">
						<strong>В сообщении содержатся ошибки!</strong> 
					</div>
					<div class="contact-form">
						<!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
						<form id="contactForm" method="post"> 
                            {% csrf_token %}
							<div class="control-group">
								<div class="controls">
									{{ form.name }} 
									<p class="help-block">{{ form.name.errors }}</p>
								</div>
							</div> 	
							<div class="control-group">
								<div class="controls">
									{{ form.email }} 
                                    <p class="help-block">{{ form.name.email }}</p>
								</div>
							</div> 	
							<div class="control-group">
								<div class="controls">
									{{ form.message }} 
                                    <p class="help-block">{{ form.name.message }}</p>
								</div>
							</div> 		 
							<div id="success"> </div> <!-- For success/fail messages -->
							<button type="submit" class="btn btn-primary pull-right">Отправить</button><br />
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="span4">
						<div class="title-box clearfix "><h3 class="title-box_primary">Наши контакты</h3></div> 
						
						
						</p>
						<address>
						г. Москва,<br>
						Дмитровское шоссе 98.</strong><br>
						+7 (919) 104-66-70<br>
						</address> 
					</div> 
				</div>
			</div>
		</div>
	</section>
    {% endblock %}