{% extends "main/__base.html" %}
    {% block main_content %}
<section id="banner">
		<!-- Slider -->
		<div id="main-slider" class="flexslider">
			<ul class="slides">
			  <li>
				<img src="/static/main/img/s01.jpg" alt="" />
					 <div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="flex-caption">
									<span>Дезинсекция</span> 
									<p>Уничтожение насекомых: клещей, ос, тараканов, блох, муравьев, моли и других ползающих и летающих.</p>  
								</div>
							</div>
						</div>
					</div>
			  </li>
			  <li>
				<img src="/static/main/img/22.jpg" alt="" />
					<div class="container">
						<div class="row" style="padding-bottom: 0;">
							<div class="col-lg-12">
								<div class="flex-caption">
									<span>Дезинсекция</span> 
									<p>Уничтожение насекомых: клещей, ос, тараканов, блох, муравьев, моли и других ползающих и летающих.</p>    
								</div>
							</div>
						</div>
					</div>
			  </li>
			</ul>
		</div>
		<!-- end slider -->
		</section>
		<section class="jumbobox">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div>
						<h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
						<img style="float: left; margin: 0 15px 15px 0; height: 200px;" src="/static/main/img/klopinet/des1.jpg"><p>Наша компания предоставляет услуги по дезинсекции помещений. Мы поможем избавиться вам от: мух, клопов, ос, короеда, тараканов, блох, муравьев.</p>
<p>Чтобы успешно уничтожить насекомых на работе или у себя дома, доверьте этот вопрос профессионалам, которые уже не первый год сталкиваются с дезинсекцией. У нашей компании большой опыт борьбы с "неприятными соседями". Качественная профессиональная работа наших специалистов, индивидуальный подход к каждой ситуации и комплексное решение задач.</p>
<p>Если в ваши планы не входит дезинсекция своими руками, то вы можете заказать уничтожение насекомых на нашем сайте. С помощью использования новейших средств дезинсекция (уничтожение насекомых, клопов, мух, ос, блох, муравьев, короеда) пройдет максимально качественно и без ущерба для человека, к тому же вы экономите свое время, а это самый ценный ресурс.</p>
						<div class="row our_services">
							<div class="col-md-12 col-sm-12 titled"><h2>Уничтожение насекомых</h2></div>
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="uslugi/unichtozhenie-bloh-borba-s-blohami/">Уничтожение блох</a>
								<img src="/static/main/img/bug/bloha.jpg">
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="uslugi/unichtozhenie-muravev-borba-s-muravyami/">Уничтожение муравьев</a>
								<img src="/static/main/img/bug/mura.png">
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="uslugi/unichtozhenie-os/">Уничтожение ос</a>
								<img src="/static/main/img/bug/wasp.jpg">
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="uslugi/unichtozhenie-klopov/">Уничтожение клопов</a>
								<img src="/static/main/img/bug/klopp.jpg">
							</div>						
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="uslugi/unichtozhenie-tarakanov/">Уничтожение тараканов</a>
								<img src="/static/main/img/bug/tarak.jpg">
							</div>						
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="#">Уничтожение мух</a>
								<img src="/static/main/img/bug/sinek.jpg">
							</div>						
							<div class="col-md-3 col-sm-6 col-xs-12 usluga">
								<a href="#">Уничтожение короеда</a>
								<img src="/static/main/img/bug/koro.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<section id="content" style="padding-top: 0;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>Наши преимущества</h2>
					</div>
					<div class="skill-home">
						<div class="skill-home-solid clearfix"> 
							<div class="col-sm-6 col-md-3 text-center"> 
								<div class="box"> 
								<span class="icons c3">
									<i class="fa fa-check-circle icons"></i>
								</span>
									<div class="box-area">
										<h3>Качество</h3>
										<p>Мы предоставляем свои услуги дезинсекции уже более 10 лет</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3 text-center">
								<div class="box"> 
									<span class="icons c1">
										<i class="fa fa-leaf icons"></i>
									</span>
									<div class="box-area">
										<h3>Безопасность</h3>
										<p>Методы борьбы с насекомыми безопасны для животных</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3 text-center"> 
								<div class="box"> 
								<span class="icons c2">
									<i class="fa fa-tachometer icons"></i>
								</span>
									<div class="box-area">
										<h3>Скорость</h3>
										<p>Продолжительность обработки от насекомых составляет 45-60 мин.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3 text-center"> 
								<div class="box">
									<span class="icons c4">
										<i class="fa fa-money icons"></i>
									</span> 
									<div class="box-area">
										<h3>Доступные цены</h3> 
										<p>Профессиональные услуги дезинсекции по доступным ценам.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</section>
		<section class="aboutUs">
			<div class="container">
				<div class="row">
                    <article>
					{{ data.content|safe }}
                    </article>
				</div> 
			</div>
		</section>
    {% endblock %}