{% extends "main/__base.html" %}
    {% block main_content %}
		<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="pageTitle">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
				</div>
			</div>
		</div>
		</section>
		<section class="aboutUs textpage">
		<div class="container">
			<div class="row">
                <article>
				{{ data.content|safe }}
                </article>
			</div> 
		</div>
		</section> 
    {% endblock %}