{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="keywords" content="{{ data.seo_keywords }}">
        <meta name="description" content="{{ data.seo_description }}">
        <link href="/static/template13/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <!-- Custom Theme files -->
        <link href="/static/template13/css/style.css" rel='stylesheet' type='text/css' />
        <!--Custom Theme files-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        </script>
        <script src="/static/template13/js/jquery-1.8.3.min.js"></script>
        <script src="/static/template13/js/modernizr.custom.js"></script>

         <!--start-smoth-scrolling-->
        <script type="text/javascript" src="/static/template13/js/move-top.js"></script>
        <script type="text/javascript" src="/static/template13/js/easing.js"></script>
		
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic|Niconne' rel='stylesheet' type='text/css'>
	</head>
	<body>
        {% include "template13/_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "template13/_footer.html" %}
    </body>
</html>