    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{% if forloop.counter == 1 %}{% url 'portal:textpage' breadcrumb.alias %}{% else %}{% url 'portal:team' breadcrumb.alias %}{% endif %}">
                {% if breadcrumb.menutitle %}
                    {{ breadcrumb.menutitle }}{% else %}{{ breadcrumb.name }}
                {% endif %}
            </a></li>
        {% endfor %}
        <li class="active">
            {% if data.menutitle %}
                {{ data.menutitle }}{% else %}{{ data.name }}
            {% endif %}
        </li>
    </ol>