{% load pytils_dt %}
    <div class="header-top" id="home">
		<div class="container" style="position: relative;">
			<div class="head-section">
				<div class="logo-content">
					<!--top-logo-->
					
							<div class="logo">
									<a href="/"><img src="/static/template13/images/logo2.png" class="img-responsive logo2" alt="" /></a>
							</div>
							<div class="top-log">
								
								<div class="clearfix"> </div>	
							</div>	
							<div class="clearfix"> </div>	
					</div>
						<div class="clearfix"></div>
			</div>
				<div class="clearfix"></div>
		<div class="sub-header">
		<!--start-top-nav-->
						 <nav class="top-nav">
							<ul class="top-nav">
                                <li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
								{% for menu_item in menu %}
                                    {% if menu_item.alias != "stadiums" %}
                                        {% if menu_item.alias != "champs" %}
                                            <li class="{% if menu_item.alias == host %}active{% endif %} ">
                                                <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

							</ul>
							<a href="#" id="pull"><h6>Меню</h6><img src="/static/template13/images/menu-icon.png" title="menu" /></a>

						</nav>
						<!--start-top-nav-script-->
					<script>
						$(function() {
							var pull 		= $('#pull');
								menu 		= $('nav ul');
								menuHeight	= menu.height();
							$(pull).on('click', function(e) {
								e.preventDefault();
								menu.slideToggle();
							});
							$(window).resize(function(){
				        		var w = $(window).width();
				        		if(w > 320 && menu.is(':hidden')) {
				        			menu.removeAttr('style');
				        		}
				    		});
						});
					</script>
	<!--//End-top-nav-script-->

			<!-- script-for-menu -->
				<script>
					$(document).ready(function(){
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(200);
						});
					});
				</script>
			<div class="clearfix"> </div>
		</div>
		<!--/header-->
	</div>