    <div class="col-md-2 col-sm-3 highlight">
        <a href="{% url 'portal:team' team.alias %}" class="h-caption">
            <i><img src="/media/logo/{{ team.get_logo_list.0 }}"></i><span>{{ team.name }}</span>
        </a>
    </div>