{% extends "template13/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="About-section">
	 	<div class="container">
			<h3>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h3>
            <div class="about">   
                <div class="col-md-8 about-data">
                    {% if data.content %}{{ data.content|safe }}{% endif %}
                </div>
                <div class="col-md-4 sidebar">
                    <div class="row widget">
                        <div class="col-xs-12">
                            <!-- <h4>{{ data.name }}</h4> -->
                            <p><img alt="" src="{{ data.image }}" style="width: 80%;"/></p>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <br><br>
                            <ul class="meta-post">
                                {% if birth != "Нет данных" %}
                                    <li><span>Дата рождения: </span>{{ data.birth }}</li>
                                {% else %}
                                {% endif %}
                                <li><span>Позиция: </span>{{ data.position }}</li>           
                                <li><span>Клуб: </span><img src="/media/flags/{{ data.team.get_flag_list.1 }}"> {{ data.team }}</li>
                                <li><span>Рост\вес: </span>{{ data.height }}\{{ data.weight }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}                