@font-face {
  font-family: 'customs-icons';
  src: url('../fonts/customs-icons.eot?15627782');
  src: url('../fonts/customs-icons.eot?15627782#iefix') format('embedded-opentype'),
       url('../fonts/customs-icons.woff?15627782') format('woff'),
       url('../fonts/customs-icons.ttf?15627782') format('truetype'),
       url('../fonts/customs-icons.svg?15627782#customs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'customs-icons';
    src: url('../font/customs-icons.svg?4112401#customs-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "customs-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart:before { content: '\e800'; } /* '' */
.icon-vkontakte-rect:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-alert:before { content: '\e805'; } /* '' */
.icon-angle-right:before { content: '\e806'; } /* '' */
.icon-angle-left:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-track1:before { content: '\e80a'; } /* '' */
.icon-track2:before { content: '\e80b'; } /* '' */
.icon-vk:before { content: '\e80c'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80d'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-mouse:before { content: '\e812'; } /* '' */
.icon-angle-down:before { content: '\e813'; } /* '' */
.icon-angle-up:before { content: '\e814'; } /* '' */
.icon-thin-down:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */
.icon-arrow-r:before { content: '\e817'; } /* '' */
.icon-arrow-l:before { content: '\e818'; } /* '' */
.icon-phone-line:before { content: '\e819'; } /* '' */
.icon-heart-empty:before { content: '\e81a'; } /* '' */
.icon-comment-empty:before { content: '\e81b'; } /* '' */
.icon-award:before { content: '\e81c'; } /* '' */
.icon-arrows-ccw:before { content: '\e81d'; } /* '' */
.icon-carts:before { content: '\e822'; } /* '' */
.icon-cc-visa:before { content: '\e81f'; } /* '' */
.icon-cc-mastercard:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */