/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	  -webkit-font-smoothing: antialiased !important;
}
body {
	line-height: 1;
}
div {
	transition:all .15s ease-in-out;
	-webkit-transition:all .15s ease-in-out;
	-moz-transition:all .15s ease-in-out;
	-o-transition:all .15s ease-in-out
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 

* html .clearfix {
	height: 1%;
}
@font-face { 
	font-family: 'HarmoniaSansProCyr-Regular'; 
	src: url('fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/HarmoniaSansProCyr-Regular.otf') format('opentype'), 
	url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), 
	url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'), 
	url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg'); 
	font-weight: normal; 
	font-style: normal; }


@font-face { 
	font-family: 'HarmoniaSansProCyr-SemiBd'; 
	src: url('fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/HarmoniaSansProCyr-SemiBd.otf') format('opentype'), 
	url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), 
	url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'), 
	url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}


body {
	font: 17px/26px 'HarmoniaSansProCyr-Regular', Arial, sans-serif;
	width: 100%;
	color: #7B7380;
	background: #000 url(/media/files/screent.jpg) top center no-repeat;
	background-attachment: fixed;
	
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.margin {
	margin:40px 0;
}
div.row > div > div.row {
margin-bottom: 25px;
}
.green {
	color: #66B34E;
}
.blue {
	color: #F74542;
}
/* Menu */
.main-menu {
	height: 70px;
	background: none;
	border: none;
	z-index: 9999;
	border-radius: 0;
	line-height: 38px;
	background: none repeat scroll 0% 0% rgba(30, 219, 92, 0.6);


}
.main-menu .navbar {
	margin-bottom: 0;
}
.main-menu .navbar-inner {
	padding:14px 30px;
	width: 100%;

}
.btn-default {
	font-weight: normal!important
}
/*/*/.sticky-wrapper 
{	
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
	}
	@-webkit-keyframes
fadeInDown{0%{opacity:0;
	-webkit-transform:translateY(-20px);
	transform:translateY(-20px)}100%{opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)}}@keyframes
fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes
fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}}@keyframes
fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}}.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}

.sticky-wrapper.is-sticky .main-menu {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;

  }
.sticky-menu .main-menu {

   	   transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}
.sticky-wrapper.is-sticky .navbar-inner{
	-webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
    padding: 12px 20px 0px;
}
.main-menu a:focus {
	outline: 0;	
}
.main-menu .nav>li>a {
	padding: 5px 0px;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
}
.main-menu .nav>li + li {
	padding-left: 40px;
}
.main-menu .nav > li > a:hover, .main-menu .nav > li > a:focus {
	background: none;
	color: #fff;
}
.main-menu .navbar-right {
	padding: 5px 0;
	margin-right: 0;
}
.main-menu .phone {
	color: #fff;
	font-size: 18px;
    float: right;
}
.main-menu .phone i {
	font-size: 24px;
	padding-right: 6px;
	padding-top: 15px
}
.main-menu .phone a{
	color: #fff;
}
.main-menu .phone a:hover{
	text-decoration: none
}
.is-sticky .phone {
	color: #F00;
	font-size: 18px;
}
.is-sticky .main-menu {
	background: none repeat scroll 0% 0% rgba(29, 161, 72, 0.8);
}
.is-sticky .phone a:hover, .is-sticky .phone a:focus{
	text-decoration: none
}
.navbar .modal-dialog {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
}
.mini-logo {
    width: 210px;
    margin-top: -19px;
    float: left;
}
.mini-logo img {
	float: left;
	display: block;
}
.navbar .modal-body {
    overflow-y: auto;
}
.navbar .modal-footer {
    margin-top: 0;
}
.center-block  {
	margin: 0 auto
}
a.glyphicon {
	outline: 0;
}
.modal .row .col-xs-6 + .col-xs-6 {
	padding-left: 0;
}
.nav .modal h4 {
	text-align: center;
	font-size: 24px;
	padding: 25px 0 0 0;
}
.nav .modal .modal-header {
	border-bottom: 0;
}
.nav .modal .modal-footer {
	border-top: 0;
	padding-top:0;
	text-align: center;
}
.nav .modal-sm {
	width: 350px;
}
.modal-content {
	background-color: #fff
}
.modal-content .modal-title {
	color: #333
}
.modal-content .close{
	color: #333
}
.modal-content .btn {
	margin: 0;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	min-height: 500px;
	width: 100%;
	height: 550px;
	position: relative;
	overflow: hidden;

}

.keepcentered {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -80px;
	z-index: 200;
}
.keepcentered.matches-vs {
	width: 100%;
	margin-left: -50%;
}
.keepcentered.matches-vs .name {
	display: block;
	padding-bottom: 10px;
}
.keepcentered.matches-vs .subname {
	font-size: 19px;
	display: block;
}
.header .logo {
	margin: 0 auto;
    height: 300px;
    text-align: center;
    font-size: 3.8em;
}
li.mini-logo {
padding-right: 30px;
}
.header .overlay-logo .logo {
	background: url(../images/overlay-logo.png) top center repeat;
}
.header .logo a {
	display: block;
	width: 100%;
	outline: 0;
	color: #fff;
}
.header .logo a:hover{
	text-decoration: none;
}
.header .logo .ancLinks.buy-href {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.9
}
.header .logo .ancLinks.buy-href a{
	color: #fff;
	text-decoration: none
}
.header .club-logo{

	font-family: 'HarmoniaSansProCyr-SemiBd'; 
	display: inline-block;
	line-height:66px;
	background-position: top left;
	background-repeat: no-repeat!important;
}
.header .separator{
	display: inline-block;
	padding: 0 15px;

}
.header .club-logo.spartak-logo {
	background: url(../images/spartak-logo.png);
	background-size:100px;
}
.header .club-logo.kuban-logo {
	background: url(../images/kuban-logo.png);
	background-size:60px;
}
.header .club-logo.zenit-logo {
	background: url(../images/zenit-logo.png);
	background-size:60px;
	padding-left: 80px;
}
.buttonpay {
	position: absolute;
	left: 50%;
	margin-left: -190px;
	bottom: 80px;
	z-index: 999;
}
.carousel-inner .buttonpay {
	margin-top: 40px;
}
.header .carousel-indicators li {
	opacity: 0.5;
}
.header .carousel-indicators .active{
	opacity: 1;
}
.slogan {
	text-align: center;
	color: #fff;
	font-size: 18px;
	opacity: 0.7;
	font-family: 'HarmoniaSansProCyr-Regular'; 
}
#countries {
	width: 180px!important;
}
.countries-list {
	position: absolute;
	right: 20px;
	top: 100px;
	z-index: 999;

	
}
.countries-list ul li {
	font-size: 14px;
	height: 100%;
	list-style:none;
margin-top: 15px; /*space between items*/
/**transform for various browsers**/

}
.header .carousel-indicators {
	bottom: -30px

}
.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;

	background: url(/media/files/screent.jpg) top center no-repeat;
	background-size: cover;
}
.color-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
background:  #333;
	background-size: cover;
}
.toggler-social {
	opacity: 0.7;
	cursor: pointer;
}
.toggler-social:hover {
	opacity: 1;
}
.toggler-social::after {
    background: url("../images/dddd.svg") repeat scroll 53.33% 26.66% / auto 1600% rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}
.toggler-social::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;

}
.social li {
    transform: translate3d(-1em, 0px, 0px);
    cursor: pointer;
}
.social li a::after {
    background: none repeat scroll 0 0 red;
    content: "";
    display: inline-block;
    height: 5px;
    vertical-align: middle;
    width: 10px;
}
.social li a::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
/* Middle
-----------------------------------------------------------------------------*/
.section {
}

.section .container{
	padding: 140px 0 110px;
}
.section-1 .container{
		padding: 80px 0 60px 0;
}

.section .title {
	font-size: 42px;
	color: #333;
	text-align: center;
	padding: 0 0 36px 0;
}
.section-1 p, .section-4 p , .section-5 p {
	text-align: center;
	font: 19px/42px 'HarmoniaSansProCyr-Regular', Arial, sans-serif;
}
.section-1 .video-photo .row{
	margin: 0;
}
.section-1 .video {
	margin: 0 0 30px 0;
}
@media (min-width: 992px) {

.section-1 .col-md-7 {
width: 54.33333333%;
}

.section-1 .photos.col-md-5 {
width: 45.33333333%;
}

.section-1 .photos .col-sm-4 {
	float: right;
	width: 31%;
} 
}

.section-1 .carousel-indicators li {
width: 14px;
height: 14px;
margin: 0 8px;
border: 1px solid #fff;
border-radius: 20px;
}
.section-1 .item {

	min-height: 200px
}
.section-2, .section-4 {
	background: #F8F8F8;
}
.section-4 {
	background: #F8F8F8
}
.section-2 .tab-content {
	min-height: 200px;
	box-shadow: none!important;
}
.info-bottom {
	
	font-size: 14px;
	
	text-align: center;
	
}
.info-bottom li{
	display:inline-block;
	width: 17%;
	padding: 20px 0 0 ;

}
.info-bottom li + li {
	width: 18%;

}
.info-bottom li + li + li{
	width: 16%;
	padding-top: 0

}
.tab-content .icon-carts {
	padding-right: 5px
}
.section-2 .nav-tabs {
	border-bottom: none;
	padding-left:20px;
}
.section-2 .nav-tabs>li>a{
	padding: 15px;
	color: #7B7380;
	font-size: 16px;
	border-radius: 12px;
}
.section-2 .nav-tabs>li.active>a, .section-2 .nav-tabs>li.active>a:hover, .section-2 .nav-tabs>li.active>a:focus{
	border:none;
	border-bottom: 1px solid #fff;
	color: #7B7380;
	outline: 0;
}
.section-2 .nav-tabs > li > a:hover {
	border-bottom: 1px solid #fff;

	border-radius: 12px;
}
.section-2 .nav > li > a:hover, .section-2 .nav > li > a:focus {

}
.section-2 .nav-tabs > li.active > a, .section-2 .nav-tabs > li.active > a:hover, .section-2 .nav-tabs > li.active > a:focus {
background: #f5f5f5;
}
.section-2 .tab-content {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(232,232,237,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(232,232,237,1);
box-shadow: 0px 0px 5px 0px rgba(232,232,237,1);
}

.section-2 .tab-content h3 {
	color: #F00;
	font-size: 22px;
	margin: 0 0 10px 0;	
}


#map {
	height: 500px
}
.section-2 .tab-content h4 {
	color: #fff;
	font-size: 22px;
	margin: 30px 0 10px 0;	
}
.section-2 .tab-content p {
	font-size: 18px;	
	line-height: 36px;
}


.section-7, .section-8 {
	background: #fff;
	padding: 80px 80px	
}
.section-7 {
	background: #F8F8F8;
	padding-top: 120px
}
.section-8 {
	padding-top: 100px
}
.section-8 .title{
	padding-bottom: 60px
}
.delivery-blocks {
	margin: 40px 0 10px 0;
}

.delivery-block i {
	color: #F74542;
}
.delivery-blocks .delivery-block .content {
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(232,232,237,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(232,232,237,1);
box-shadow: 0px 0px 5px 0px rgba(232,232,237,1);
	padding: 80px 20px 40px 20px;
	text-align: center;
	border-radius: 4px;

}

.delivery-blocks .delivery-block .track{
	font-size: 108px;
	color: #7B7380;
	margin-left: -50px;
	min-height: 120px;
}
.delivery-blocks .delivery-block .track .icon-track1{
	font-size: 88px;
	line-height: 114px;
}
.delivery-blocks .delivery-block h5 {
	font-size: 22px;
	color: #F74542;
	padding: 12px 0 15px 0;
}
.delivery-blocks .delivery-block p {
	font-size: 16px;
	font-weight: normal;
	line-height: 26px;
	padding: 0 30px 30px 30px;
}
.delivery-blocks .delivery-block .sep {
	display: block;
	margin: 0 auto;
	height: 1px;
	width: 40px;
	background: #ccc;
	margin-bottom: 30px;
}
.delivery-blocks .delivery-block .price {
	font-size: 24px;
 color: #F74542;
}
.order {
	margin: 40px 0 0 ;
}
.order .row .col-xs-5, .order .row .col-xs-4, .order .row .col-xs-6, .order .row .col-xs-12 {
	padding-right: 0;
}
.order .form-group .glyphicon.glyphicon-asterisk {
	font-size: 10px;
width: 34px;
height: 34px;
color: #e65453;
}
.order .form-control-feedback {
	top:4px;
}
.form-control {
	border-color: #cfd3db;
	color: #4f6173;
}
.btn-success {
color: #fff;
	background-color: #F74542;
	border-color: #7966a0;
}
.btn-lg2.btn-success2 {
color: #fff;
	background-color: #66B34E;
border-color: #62ac4c;
padding: 24	px
}
.btn-success2:hover {
color: #fff;
	background-color: #F74542;
	border-color: #7966a0;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {

background-color: #66B34E;
border-color: #62ac4c;
}
.btn-success2.disabled, .btn-success2[disabled], fieldset[disabled] .btn-success2, .btn-success2disabled:hover, .btn-success2[disabled]:hover, fieldset[disabled] .btn-success2:hover, .btn-success2.disabled:focus, .btn-success2[disabled]:focus, fieldset[disabled] .btn-success2:focus, .btn-success2.disabled.focus, .btn-success2.focus[disabled], fieldset[disabled] .btn-success2.focus, .btn-success2.disabled:active, .btn-success2[disabled]:active, fieldset[disabled] .btn-success2:active, .btn-success2.disabled.active, .btn-success2.active[disabled], fieldset[disabled] .btn-success2.active {
	background: none!important;
border-color: #c6cbd7;
color: #999!important;
}
.btn-lg2 {
padding: 16px 34px;
font-size: 22px;
line-height: 1.44;
border-radius: 6px;
text-transform: uppercase;
margin-top: 40px;
}
.input-lg, .form-group-lg .form-control, select.input-lg, select.form-group-lg .form-control {
	height: 56px;
	padding-left: 18px;
	border-color: #ccc;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	position: relative;
}
.footer .overlay-video {
	opacity: 0
}
.footer .row {
	margin: 0;
}
.footer .container {
	position: relative;
}
.footer .copyright {
	font-size: 13px;
	padding: 5px 0 15px 5px;
	text-align: center;
	color: #333;
}
.footer .logo {
	position: static;
	margin: 60px 40px 40px;

}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.footer .nav {
	margin-top: 20px;
	margin-left: 15px;
}
.footer .nav a{
	color: #7B7380

}
.footer .nav > li > a:hover, .footer  .nav > li > a:focus {
	background-color: #1a171b
}
.footer .phone{
	color: #fff!important;
	font-size: 17px;
	opacity: 0.8;
	text-align: right;
	font-weight: normal;
	margin-top: 10px;
	text-align: center;
}
.footer .phone .desc{
	font-size: 17px;
}

.footer .phone a{
	color: #333;
	font-size: 18px;
}
.footer .phone a:hover{
	text-decoration: none;

}
.footer .logo {
	text-align: center;
}
.footer-links{
	margin-right: 40px;
	text-align: right;
}
.footer-links a{
	font-size: 14px;
	color: #ccc;
	text-decoration: underline;
}

.footer-links a:hover{
	color: #f00;
	text-decoration: none;
}
/* Steps pay */
.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 50px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #66B34E; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 54px; text-align:center;height: 54px; display: block; top: 12px; left: 50%; margin-top: -15px; margin-left: -28px; border-radius: 50%;border: 3px solid #66B34E; background: #F8F8F8; line-height: 54px; color: #66B34E; font-weight: bold; font-size: 22px; } 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:hover {text-decoration: none } 

.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 3px; box-shadow: none; margin: 24px 0; background: #66B34E}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #66B34E;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #F8F8F8; border: 3px solid #ccc; color:#ccc  }
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-stepnum {color:#ccc  }
.bs-wizard > .bs-wizard-step.disabled > .progress {background: #ccc }
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END STEPS PAY*/
.pay-block {
	padding-top: 20px;
}
.bs-wizard .col-xs-3 {
	width: 20%;
}

/* PAY PAGE  STEP 2*/
.pay-content {
	padding: 25px 0 5px 0px
}
.pay-content .prev{
	margin: 0 0 35px 0 ;
}
.pay-content .prev a{
	color: #e6616b;
}
.left-info .show  {
	margin-bottom: 10px
}

.left-info .show .img-show  {
	margin-bottom: 15px
}

.pay-content .title-show  {
	padding: 0 0 2px 7px;
	
}
.pay-content .title-show {
	color: #333!important;
	  max-width: 700px;

}
.pay-content .title-show .img-left, .pay-content .title-show .img-right{
	width: 20%

}
.pay-content .title-show .img-right{
	float: left;

}
.pay-content .title-show h3 {
	color: #333!important;

}
.pay-content .title-show img {
	max-width: 100px

}
.pay-content .title-show > .info {
	width: 6	0%;
	padding-top: 0;
	font-size: 22px
}
.pay-content .title-show > .info li {
  display: inline-block;
  font-size: 14px
}
.pay-content .place  {
	color: #999;
	margin-bottom: 25px;
}
.pay-content .total .price {
	color:#1b69c3;
	font-size: 26px
}
.section-3 .prev a{
	text-decoration: underline;
	color: #1b69c3;
}
.section-3 .prev a:hover{
	text-decoration: none
}
.pay-content [class^="icon-angle-right"]:before, [class*=" icon-angle-right"]:before{
	text-align: right;
}
.section-3 .pay-content .btn-lg {
	padding-top: 18px;
	padding-bottom: 18px;
}
.section-3 .order {
	padding: 0;
}
.pay-content .title-show h3 {
	font-size: 22px;
	color: #7B7380;
	margin-bottom: 5px;
}
.pay-content .sheme {
	margin: 40px 0 0 ;
}
.pay-content .table-tickets  {
	font-size: 16px;
	padding-top: 40px;
}
.pay-content .table-tickets th  {
	font-size: 15px;
}
.pay-content .table-tickets td {
	vertical-align: middle;
}
.pay-content .table-tickets .table i{
	font-size: 28px;
	float: left;
}
.pay-content .table-tickets .table a{
	font-size: 28px;
	line-height: 40px
}
.pay-content .table-tickets {
	padding-right: 0;
}
.pay-content .table-tickets .count {
	width: 120px;
	float: right;
}
.pay-content .table-tickets .count input {
	float: left;
    height: 26px;
    margin: 5px 0;
    width: 30px;
}
.pay-content .table-tickets .count-text {
	text-align: center;
}
.pay-content .tickets-list {
	clear: both;
	padding-top: 40px
}
.pay-content .tickets-list h3{
	  color: #333;
    font-size: 24px;
    margin: 0 0 8px 0;
}
.pay-content .tickets-list ul li{
    margin: 0 0 5px 0;
}

/* calendar */
.calendar {
  margin:0 auto;
  margin-bottom:2%;
  border-radius:5px;
  text-align:center;
  color:#555;
}

.calendar h4{
  padding:15px;
  font-size:110%;
  font-weight:300;
  letter-spacing:1px;
  color:#afb9c9;
  cursor:default;
}

.calendar table{
  border-top: none;
  border-left: none;
  border-spacing:0;
  border-radius:0 0 5px 5px;
  width: 100%;
}

.calendar td, .calendar th {
  height:60px;
  color: #7691a5;
  text-align: center;
  line-height: 60px;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
.calendar th{
	height: 40px;
	line-height:40px;
	color: #d0d0d0;
}
.calendar tr + tr{
	
  border-top:1px solid #f5f5f5;
}
.calendar td + td{
  border-left:1px solid #f5f5f5;
}
.calendar td:hover:not(.current){
  background:#f7f7f7;
}

.calendar .lastmonth,.calendar .nextmonth,.calendar .nextmonth ~ *{
  background:#fff;
  color:#d0d0d0;
}

.calendar .current{
  background:#66B34E;
  border: 1px solid #66B34E;
  font-weight:700;
  color:#fff;
}

.calendar .hastask{
  font-weight:700;
  color: #66B34E;
  border: 1px solid #66B34E;
}

.calendar tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
.calendar tr:last-of-type td:last-of-type{border-radius:0 0 5px 0;}
.date-time {
	text-align: center;
}
.date-time .date {
	font-size: 28px;
	color: #7B7380;
	margin: 15px 0;
}
.date-time .time h4 {
	color: #afb9c9;
	font-size: 19px;
}
.date-time .time .time-block{
	font-size: 22px;
	border: 1px solid #F74542;
	max-width: 200px;
	margin: 20px auto;
	border-radius: 8px;
}
.date-time .time .time-block:hover{
	border: 1px solid #66B34E;
	background: #66B34E;

}
.date-time .time .time-block a{
	padding: 20px 40px;
	display: block;
	color: #F74542;
}
.date-time .time .time-block a:hover{
	text-decoration: none;
		color: #fff;
}

/* PAY PAGE  STEPs*/
.pay-content .order h5 {
	font-size: 24px;
	margin:  0 0 18px;
}

.pay-content .order h4 {
	margin-left: 35px!important;
	font-size: 24px;
}
.pay-content .check-info {

}
.pay-content .check-info .title-show {
	padding-left: 0;
}
.pay-content .final-total {
	font-size: 24px;
	margin: 15px 0;
}

.pay-content .pay-method {
	padding-left: 50px
}

.pay-content .pay-method .radio {
	font-size: 19px;
	line-height: 30px;
}

.pay-content .final-step p{
	text-align: center;
	font-size: 20px;
	line-height: 40px;
}
.pay-content .final-step p {
	margin-bottom: 20px;
}
.pay-content .final-step .btn {
	padding: 15px 20px;
	font-size: 15px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	margin-left: -30px;
}
.pay-content .order .radio label, .pay-content .order .checkbox label {
	margin-left: 15px;
	padding-left: 15px;
}
.buttonpay {
	text-align: center;
}
.btn-4 {
	border-radius: 12px!important;
	
	
		font-weight: 400!important;

}
.btn-4:active {
	color: #fff;
}
.btn-4:focus {
	color: #fff;
}
.btn-4:hover {
	background: none;
		color: #fff;
}
.btn-4:before {
	font-size: 110%!important;
		color: #fff;
}
input[type="radio"], input[type="checkbox"]{
	
	margin: 9px 0 0;
}
.step-5 .pay-content {
 padding-top: 40px;
}
/* Lightbox */
.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  padding-top: 45%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 49%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox .modal-footer {
  text-align: left;
}
::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}
/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:380px;
}
.col-min {
    /* custom min width */
    min-width:380px;
}
.col-max {
    /* custom max width */
    max-width:380px;
}
::-webkit-input-placeholder {
   color: #c5ced7!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c5ced7!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c5ced7!important;
}

:-ms-input-placeholder {  
   color: #c5ced7!important;
}


.towns a.town-btn {
	width: 260px!important;
padding: 25px;
margin: 15px auto;
}
/*tabs*/

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  padding:15px 40px;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #c0ddff;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #1B69C3;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 25px 0 0;
  margin-bottom: 40px; 
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.tabbable-line li.active:hover {
	background: #fff!important
}
/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #1B69C3;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
/*news*/
.news-img {
	overflow: hidden; 
	height: 220px;
}
.title-news {
	display: block;
	text-align: center;	
	margin: 20px 0 5px;
}
div.clear
{
    clear: both;
}

div.product-chooser{
   
}
.product-chooser .col-xs-12.col-sm-12.col-md-4.col-lg-4 {
	 margin-bottom: 20px
}

    div.product-chooser.disabled div.product-chooser-item
	{
		zoom: 1;
		filter: alpha(opacity=60);
		opacity: 0.6;
		cursor: default;
	}

	div.product-chooser div.product-chooser-item{
		padding: 11px;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		border: 1px solid #efefef;
		margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
	}
	
	div.product-chooser div.product-chooser-item.selected{
		border: 4px solid #428bca;
		background: #efefef;
		padding: 8px;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
		div.product-chooser div.product-chooser-item img{
			padding: 0;
		}
		
		div.product-chooser div.product-chooser-item span.title{
			display: block;
			margin: 10px 0 5px 0;
			font-weight: bold;
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item span.description{
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item input{
			position: absolute;
			left: 0;
			top: 0;
			visibility:hidden;
		}
/* SOCICONS */

.section-6 .col-fixed {
    width:420px;
}
.section-6 .logo2 {
  display:inline-block;
  position:relative;
  left:0;
  top:0;
  padding:30px 26px;
  font-size:45px;
  line-height:45px;
  height:105px;
  width:105px;
  text-align:center;
  overflow:hidden;
  border-radius:10px;
  margin:20px 20px 20px 0;
  color:white;
}

.section-6 .logo2:active {
  left:0px;
  top:0px;
}

.facebook {
  background: #3b5998; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #3b5998 0%, #3b5998 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3b5998), color-stop(100%,#3b5998)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #3b5998 0%,#3b5998 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #3b5998 0%,#3b5998 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #3b5998 0%,#3b5998 100%); /* IE10+ */
background: linear-gradient(135deg,  #3b5998 0%,#3b5998 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#3b5998',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.facebook:hover {
	text-decoration: none;
  background: #3b5998; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #3b5998 0%, #173062 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3b5998), color-stop(100%,#173062)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #3b5998 0%,#173062 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #3b5998 0%,#173062 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #3b5998 0%,#173062 100%); /* IE10+ */
background: linear-gradient(135deg,  #3b5998 0%,#173062 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#173062',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.section-6 .logo2:hover .icon-facebook {
	box-sizing:border-box;
  	transition:.15s ease-in-out;
  	text-shadow: rgb(23, 48, 98) 1px 1px,
    rgb(23, 48, 98) 2px 2px,
    rgb(23, 48, 98) 3px 3px,
    rgb(23, 48, 98) 4px 4px,
    rgb(23, 48, 98) 5px 5px,
    rgb(23, 48, 98) 6px 6px,
    rgb(23, 48, 98) 7px 7px,
    rgb(23, 48, 98) 8px 8px,
    rgb(23, 48, 98) 9px 9px,
    rgb(23, 48, 98) 10px 10px,
    rgb(23, 48, 98) 11px 11px,
    rgb(23, 48, 98) 12px 12px,
    rgb(23, 48, 98) 13px 13px,
    rgb(23, 48, 98) 14px 14px,
    rgb(23, 48, 98) 15px 15px,
    rgb(23, 48, 98) 16px 16px,
    rgb(23, 48, 98) 17px 17px,
    rgb(23, 48, 98) 18px 18px,
    rgb(23, 48, 98) 19px 19px,
    rgb(23, 48, 98) 20px 20px,
    rgb(23, 48, 98) 21px 21px,
    rgb(23, 48, 98) 22px 22px,
    rgb(23, 48, 98) 23px 23px,
    rgb(23, 48, 98) 24px 24px,
    rgb(23, 48, 98) 25px 25px,
    rgb(23, 48, 98) 26px 26px,
    rgb(23, 48, 98) 27px 27px,
    rgb(23, 48, 98) 28px 28px,
    rgb(23, 48, 98) 29px 29px,
    rgb(23, 48, 98) 30px 30px,
    rgb(23, 48, 98) 31px 31px,
    rgb(23, 48, 98) 32px 32px,
    rgb(23, 48, 98) 33px 33px,
    rgb(23, 48, 98) 34px 34px;
}
.twitter {
  background: #55acee; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #55acee 0%, #55acee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#55acee), color-stop(100%,#55acee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #55acee 0%,#55acee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #55acee 0%,#55acee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #55acee 0%,#55acee 100%); /* IE10+ */
background: linear-gradient(135deg,  #55acee 0%,#55acee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55acee', endColorstr='#55acee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.twitter:hover {
text-decoration: none;
  background: #55acee; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #55acee 0%, #2274b2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#55acee), color-stop(100%,#2274b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #55acee 0%,#2274b2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #55acee 0%,#2274b2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #55acee 0%,#2274b2 100%); /* IE10+ */
background: linear-gradient(135deg,  #55acee 0%,#2274b2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55acee', endColorstr='#2274b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.section-6 .logo2:hover .icon-twitter {
	box-sizing:border-box;
  	transition:.15s ease-in-out;
  	text-shadow: rgb(34, 116, 178) 1px 1px,
    rgb(34, 116, 178) 2px 2px,
    rgb(34, 116, 178) 3px 3px,
    rgb(34, 116, 178) 4px 4px,
    rgb(34, 116, 178) 5px 5px,
    rgb(34, 116, 178) 6px 6px,
    rgb(34, 116, 178) 7px 7px,
    rgb(34, 116, 178) 8px 8px,
    rgb(34, 116, 178) 9px 9px,
    rgb(34, 116, 178) 10px 10px,
    rgb(34, 116, 178) 11px 11px,
    rgb(34, 116, 178) 12px 12px,
    rgb(34, 116, 178) 13px 13px,
    rgb(34, 116, 178) 14px 14px,
    rgb(34, 116, 178) 15px 15px,
    rgb(34, 116, 178) 16px 16px,
    rgb(34, 116, 178) 17px 17px,
    rgb(34, 116, 178) 18px 18px,
    rgb(34, 116, 178) 19px 19px,
    rgb(34, 116, 178) 20px 20px,
    rgb(34, 116, 178) 21px 21px,
    rgb(34, 116, 178) 22px 22px,
    rgb(34, 116, 178) 23px 23px,
    rgb(34, 116, 178) 24px 24px,
    rgb(34, 116, 178) 25px 25px,
    rgb(34, 116, 178) 26px 26px,
    rgb(34, 116, 178) 27px 27px,
    rgb(34, 116, 178) 28px 28px,
    rgb(34, 116, 178) 29px 29px,
    rgb(34, 116, 178) 30px 30px,
    rgb(34, 116, 178) 31px 31px,
    rgb(34, 116, 178) 32px 32px,
    rgb(34, 116, 178) 33px 33px,
    rgb(34, 116, 178) 34px 34px;
}


.vk {

  background: #4C75A3; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #4C75A3 0%, #4C75A3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4C75A3), color-stop(100%,#4C75A3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #4C75A3 0%,#4C75A3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #4C75A3 0%,#4C75A3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #4C75A3 0%,#4C75A3 100%); /* IE10+ */
background: linear-gradient(135deg,  #4C75A3 0%,#4C75A3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C75A3', endColorstr='#4C75A3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.vk:hover {
	text-decoration: none;
  background: #4C75A3; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #4C75A3 0%, #2f4864 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4C75A3), color-stop(100%,#2f4864)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #4C75A3 0%,#2f4864 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #4C75A3 0%,#2f4864 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #4C75A3 0%,#2f4864 100%); /* IE10+ */
background: linear-gradient(135deg,  #4C75A3 0%,#2f4864 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C75A3', endColorstr='#2f4864',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.section-6 .logo2.vk {
			font-size: 54px;
			padding: 26px 18px;
}
.section-6 .logo2:hover .icon-vk {
	box-sizing:border-box;
  	transition:.15s ease-in-out;
  	text-shadow: rgb(39, 62, 87) 1px 1px,
    rgb(39, 62, 87) 2px 2px,
    rgb(39, 62, 87) 3px 3px,
    rgb(39, 62, 87) 4px 4px,
    rgb(39, 62, 87) 5px 5px,
    rgb(39, 62, 87) 6px 6px,
    rgb(39, 62, 87) 7px 7px,
    rgb(39, 62, 87) 8px 8px,
    rgb(39, 62, 87) 9px 9px,
    rgb(39, 62, 87) 10px 10px,
    rgb(39, 62, 87) 11px 11px,
    rgb(39, 62, 87) 12px 12px,
    rgb(39, 62, 87) 13px 13px,
    rgb(39, 62, 87) 14px 14px,
    rgb(39, 62, 87) 15px 15px,
    rgb(39, 62, 87) 16px 16px,
    rgb(39, 62, 87) 17px 17px,
    rgb(39, 62, 87) 18px 18px,
    rgb(39, 62, 87) 19px 19px,
    rgb(39, 62, 87) 20px 20px,
    rgb(39, 62, 87) 21px 21px,
    rgb(39, 62, 87) 22px 22px,
    rgb(39, 62, 87) 23px 23px,
    rgb(39, 62, 87) 24px 24px,
    rgb(39, 62, 87) 25px 25px,
    rgb(39, 62, 87) 26px 26px,
    rgb(39, 62, 87) 27px 27px,
    rgb(39, 62, 87) 28px 28px,
    rgb(39, 62, 87) 29px 29px,
    rgb(39, 62, 87) 30px 30px,
    rgb(39, 62, 87) 31px 31px,
    rgb(39, 62, 87) 32px 32px,
    rgb(39, 62, 87) 33px 33px,
    rgb(39, 62, 87) 34px 34px;
}



.panel-default>.panel-heading {
color: #7B7380;
background-color: #f5f8fd;
border-color: #ddd;
padding: 0;

}
.panel-default>.panel-heading:hover {
color: #7B7380;
background-color: #ecf0f7	;
border-color: #ddd;
padding: 0;

}

.panel-default>.panel-heading a {
padding: 15px 18px;
display: block;
}

.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus  {
text-decoration: none;
outline: 0
}

.sel_cat {
display: inline-block;
overflow: hidden;
vertical-align: middle;
margin: 0px;
margin-right: 10px;
width: 16px;
height: 16px;
border: 1px solid #7B7380;
}

.pay-content table thead th {
	color:#ccc;
}
.tooltip-inner {
  max-width: 200px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  background-color: #7B7380;
  border-radius: 4px;
  font-size: 15px;
  font-weight: normal;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #7B7380;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #fff;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}


.text-nobilet {
	font-size: 18px;
}
.moresheme-link {
	text-align: center;
	margin-left: -100px
}
.moresheme-link a{
	color: #D2D8E5;
	outline: 0;
}
.pay-content .date {
	color: #fff;
	font-size:  20px;
}
.pay-content .date i{
	font-size: 14px;
	padding-left: 4px;
	color: #7B7380
}
.towns .town{

	padding: 30px 20px 5px;
	text-align: center;
}
.towns .town + .town{
	margin-left: -1px;
}
.towns .town a{
	display:  block;
	width: 100%;
	height: 100%;
	text-decoration: none
}
.towns .town-name h6{
	font-size: 34px;
	text-align: center;
	margin-bottom: 10px;
	color: #1b69c3;
}
.towns .border {
	border-right: 1px solid #47404C;
}
.towns .title-show h3 {
	font-size: 18px;
}
.pay-content .pay-info {
	padding: 10px 0;
}
.pay-content #affixpays {
	z-index: 999;
	position: relative;
}
.pay-content #affixpays .container {

	padding: 0;
	background: #fff;
}
.pay-content #affixpays .place {
	margin-bottom: 10px
}
.pay-content #affixpays .btn, .pay-content #affixpays .title-show, .pay-content #affixpays .total{
	margin-top: 15px
}
#affixpays2  {

}
#affixpays2.affix {
    position: fixed;
    top: 0;
    width: 100%
}

/* Stick panel */

.pay-content #sticker {
	z-index: 999;
	left: 0;
	width: 100%;
	
}
.pay-content .is-sticky #sticker {
	border-bottom:  1px solid #d2d8e5;
	background: #fff
}
.pay-content #sticker .place {
	margin-bottom: 5px
}
.pay-content #sticker .btn {
	margin-top: 6px
}

.section-3 .order .row {
	margin: 20px!important
}
.section-3 .order .col-xs-12 {
padding:0 0 0 15px
}
/*  */

.down-arrow {
background: none;
left: 50%;
margin-left: -98px;
position: absolute;
bottom: 80px;
z-index: 900;
color: #FFF;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
  }
  to { 
    -webkit-transform: translate(0,9px);
    -moz-transform: translate(0,9px);
  }

}
.down-arrow a {
	color: #fff;
}
.down-arrow a:hover, .down-arrow a:active, .down-arrow a:focus{
	color: #fff;
}
.down-arrow i {
	padding: 13px 0 0 57px;
	color: #fff;
	font-size: 62px;
	opacity: 0.7;
	display: block;
	 -webkit-animation-name:     rotate;
	 	  -webkit-animation-duration:        0.8s; 
    -webkit-animation-iteration-count:  infinite;
    transition-timing-function: ease-in-out;

     -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
            animation-direction: alternate;

}
.down-arrow i  {

text-indent: 0px;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
cursor: pointer;}
.down-arrow:hover {
	-webkit-transition: all 0.9s ease;
	border-color:#fff;
}
.down-arrow i:hover, .down-arrow i:active, .down-arrow i:focus {
-webkit-transform: translate(0,7px);
-moz-transform: translate(0,7px);
-o-transform: translate(0,7px);
color: #fff;
opacity: 1;
text-decoration: none
}

.section .row {
	margin: 0;
}
.section-1  {
	background: #fff;
	border-top: none;
	margin-top: 0px;
}
.section-1 p {
	color: #666;

	padding-left: 40px;
	padding-right: 40px;
}
.section-1  h1, .section-3  h2, .section-2 h2{
	color: #333;
}
.section-2 {
	background: #fff
}

.img-big-view img {
	width: 100%;
	height: 100%;
	display: block;
}
.section-1 .content-info {


	clear: both;
	height: 100px;

}

.section-1 .row {
	margin: 0;
	overflow: hidden;
}
.section-1 .col-xs-6, .section-2 .col-xs-6 {
	padding-right: 0;
}

.section-3 {
	background: none repeat scroll 0% 0% rgba(248, 248, 248, 0.89);
	border: none;
	padding: 140px 40px 100px 40px;
}
.section-3 .title-buy  {

	position: relative;
	padding-bottom: 10px;
}
.section-3 .title-buy .title{
	text-transform: uppercase;
	font-size: 40px;
	line-height: 72px;
	font-family: 'HarmoniaSansProCyr-SemiBd'; 
	text-align: left;
	color: #333;

}

.section-3 .title-buy .sub-title  {
	color: #999;
	padding: 0 0 6px 2px;
	font-size: 16px;
}
.col-xs-12 .prev {
	padding: 0 0 20px 0;
}
.pay-page-info, .pay-page-info h2 {
	text-align: center!important
}
#floater {
	float: left;
	height: 42%;
	width: 100%;
}
.carousel-caption {
	margin-bottom: 30px;
}
.carousel-caption h3 {
	font-size: 40px;
	font-family: 'HarmoniaSansProCyr-SemiBd'; 
}
.carousel-caption p {
	color: #999;
	font-size: 16px;
	padding-top: 15px;
	box-shadow: none;
	line-height: 24px;
}
/*VIDEO*/
 #video_background {
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 50;
overflow: hidden;
background: url(../images/bg-group.jpg) top center no-repeat;

}

  #player {
font-family: Arial;
color: #ffffff;
font-size: 13px;
padding: 5px;
text-decoration: none;
box-shadow: 0px 1px 3px #666666;
-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
text-shadow: 1px 1px 3px #666666;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#006ad4), to(#003366));
background: -moz-linear-gradient(top, #006ad4, #003366);
border-radius: 10% 10% 10% 10%;
} 
#player:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#003366), to(#006ad4));
  background: -moz-linear-gradient(top, #003366, #006ad4)
}

.overlay-video {
	background: #547280;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index:100;
	position: absolute;
	top: 0;

}
.header .carousel-control {
	width: 7%
}
.header .carousel-control .icon-arrow-r {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
  font-size: 32px;
  right: 30px;
  opacity: 0.3;
}
.header .carousel-control .icon-arrow-l{
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
  font-size: 32px;
  left: 30px;
    opacity: 0.3;
}
.main-container {
	  padding: 40px 70px;
}
.header .btn {
	font-family: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.breadcrumbs {
	margin-bottom: 40px;
}
.header .carousel-control .icon-angle-right:hover, .header .carousel-control .icon-angle-left:hover {
	opacity: 1;
}
.carousel-control.left, .carousel-control.right {
	z-index: 999;
}
.overlay-video-black {
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index:100;
	position: absolute;
	top: 0;

}
.overlay-video2 {
	background: #1999dc;
	opacity: 0.1;
	width: 100%;
	height: 100%;
	z-index:120;
	position: absolute;
}
.first-slide {
	background: #000;
	z-index: 90;
	position: absolute;
}

.section-5 {
	position: relative;
	overflow: hidden;
	max-height: 600px;
}
.section-5 .title {
	color: #fff;
	padding-bottom: 5px
}
.section-5 .entered {
	text-align: center;
	margin: 0;
}
.section-5 .overlay-video {
	opacity: 0.4
}
.group-order {
	position: relative;
	z-index: 999
}
#group-order .overlay-video{
	position: absolute;
	z-index: -2
}
#group-order .col-xs-6{
	
	padding-top: 30px
}
.group-order h2 {
	padding-bottom: 4px;;
}
.group-order p {
	margin: 0;
	color: #999
}
.auth h1{
  color:#fff!important;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
}
.auth h1 span{
  font-size:21px;
  display:block;
  padding-top: 20px;
}
.auth .auth-box legend{
  color:#fff;
  border:none;
  font-weight:300;
  font-size:24px;
}
.auth .auth-box{
	background: none;
  max-width:460px;
  margin:0 auto;
  border:none;
  margin-top: 15px!important;
  margin-top:40px;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
.auth-box .btn{
	margin-bottom: 5px;
	margin: 0;
}
.auth-box .col-xs-6 {
	padding-left: 0;
}

.seo-text h1,.seo-text h2,.seo-text h3,.seo-text h4 {
	font-size: 40px;
	color: #333;
	text-align: center;
	margin: 0 0 40px;
}
.seo-text h5 {
	text-align: left;
	font-size: 28px;
	margin: 40px 0 20px;
	color: #333;
}
.seo-text p {
	color: #666;
	line-height: 32px;
}
@media(max-width:460px){
  .auth .auth-box{
   margin:0 10px;
 }
}

.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  font-weight:300;
}
.auth span.input-group-addon,
.input-group-btn button{
  border:none;
  background: #fff!important;
  color:#000!important;
}
.auth form{
    font-weight:300!important;
}
.auth form input[type="text"],
.auth form input[type="password"],
.auth form input[type="email"],
.auth form input[type="search"]{
  border:none;
  padding:10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff;
  font-size:16px;
  border-bottom:1px dotted #fff;
  border-radius:0;
  box-shadow:none!important;
  height:auto;
}
.auth textarea{
  background-color: rgba(255, 255, 255, 0)!important;
  color:#fff!important;
}
.auth input[type="file"] {
  color:#fff;
}
.auth form label{
    color:#fff;
    font-size:18px;
    padding-bottom: 10px;
    font-weight:300;
}
/*for radios & checkbox labels*/
.auth .radio label,
.auth label.radio-inline,
.auth .checkbox label,
.auth label.checkbox-inline{
    font-size: 14px;    
}

.auth form .help-block{
    color:#fff;
}
.auth form select{
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff!important;
  border-bottom:1px solid #fff!important;
  border-radius:0;
  box-shadow:none;
}
.auth form select option{
    color:#000;
}
/*multiple select*/
.auth select[multiple] option, 
.auth select[size] {
  color:#fff!important;
}

/*Form buttons*/
.auth form .btn{
  background:none;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.auth form .btn-default{
    color:#fff;
    border-color:#fff;
}
.auth form .btn-default:hover{
    background:rgba(225, 225, 225, 0.3);
  color:#fff;
  border-color:#fff;
}
.auth form .btn-primary:hover{
    background:rgba(66, 139, 202, 0.3);
}
.auth form .btn-success:hover{
    background:rgba(92, 184, 92, 0.3);
}
.auth form .btn-info :hover{
    background:rgba(91, 192, 222, 0.3);
}
.auth form .btn-warning:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover{
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link{
  border:none;
  color:#fff;
  padding-left:0;
}
.auth form .btn-link:hover{
  background:none;
}


.auth label.label-floatlabel {
  font-weight: 300;
  font-size: 11px;
  color:#fff;
  left:0!important;
  top: 1px!important;
}
.is-sticky .sticky-menu {
	position: absolute;

	top: 0px;
	left: 0px;
	right: 0px;
}

.sticky-wrapper {
}

.sticky-wrapper .is-sticky{
	
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	background: #fff;
}
/*.sticky-wrapper.is-sticky .main-menu {
	background-color: #fff!important;
	   -webkit-transition: 0.7s;
     -moz-transition: 0.7s;
     -o-transition: 0.7s;

	  transition: 0.7s;
	   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.sticky-wrapper.is-sticky .main-menu a{
	color: #4b5b6a;
}
*/
/* SOUND ----------- */
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
.play-music {
	position: absolute;
	bottom: 30px;
	left: 30px;
	z-index: 999;
}
.sound-toggle {
    display: inline-block;
    height: 1.286em;
    margin: 0 0 0.25em;
    opacity: 0.3;
    position: relative;
    transition: all 500ms ease 0ms;
    vertical-align: middle;
    width: 1.72em;
}
.sound-toggle::after, .sound-toggle::before {
    content: "";
    display: inline-block;
    height: 1.25em;
    left: 0;
    margin: 0 0 0 0.215em;
    position: absolute;
    top: 2px;
    transition: all 500ms ease 0ms;
    vertical-align: middle;
}
.pay-blocks-static h4{
	font-size: 26px;
	margin-bottom: 15px;
	color: #333;

}
.info-pays-text {
	margin-top: 60px;
}
.card-info {
	margin-top: 70px;
}
.credit {
	padding-top: 10px;
}
.sound-toggle::before {
    background: url("../images/dddd.svg") repeat scroll 0 53.33% / auto 1600% rgba(0, 0, 0, 0);
    width: 1.66667em;
}
.info-pays-img {
	padding: 40px 0 0;
}
.nal-wrap-icon {

height: 80px;
}
.nal-toggle {
  background: url("../images/dddd.svg") repeat scroll 53% 80% / auto 1600% rgba(0, 0, 0, 0);
width: 10em;
margin: 0;
display: inline-block;
height: 4.286em;
}
.card-toggle {
  background: url("../images/dddd.svg") repeat scroll 84% 80% / auto 1600% rgba(0, 0, 0, 0);
width: 10em;
margin: 0;
display: inline-block;
height: 4.286em;
}
.sound-toggle::after {
    background: url("../images/dddd.svg") repeat scroll 81% 26.66% / auto 1600% rgba(0, 0, 0, 0);
    width: 1.45833em;
}
.sound-toggle:hover {
    opacity: 1;
}
.sound-toggle.sound-toggle--on::after {
    opacity: 0;
}
.sound-toggle.sound-toggle--off::after, .sound-toggle.sound-toggle--on::before {
    opacity: 1;
}
.sound-toggle.sound-toggle--off::before {
    opacity: 0;
}
.panel {
    z-index: 999;
    background: none;
    right: -15.625em; /*left or right and the width of your navigation panel*/

}
.where-place {
	position:absolute; right:40px; bottom:30px; z-index:999
}
.where-place a, .list-countries a{
	color: #fff;
	opacity: 0.7;
}
.where-place a {
	opacity: 0.5;
}
.list-countries a:hover {
	color: #1b69c3;
	opacity: 1;
}

.flex{display:flex;
		align-items:flex-start;
		  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 

}
.flexdiv{flex:1;
	-webkit-flex: 1 100%;
	-moz-flex: 1 100%;
    -ms-flex: 1 100%;
	padding:0.5em 0.8em;
	text-align:justify;

    }
.flexdiv article {
	opacity: 0.7;
}
.flexdiv article:hover {
	-webkit-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.1);
box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.1);
opacity: 1;
 transition: 0.3s;
 cursor: pointer;
    }
.flexdiv article:hover h3{

 color: #F74542;
    }
.flexdiv .well {
	background: #fff;
	padding: 24px 0;
}
.flexdiv .well a:hover{
	text-decoration: none;

}
.flexdiv .well h3 {
	color: #333;
	padding: 30px 20px 20px;
	text-align: center;
	font-size: 1.7em
}
.flexdiv .well p {
	color: #999;
	font-size: 14px;
	text-align: center;
}
.flexdiv .well i {
	color: #877A58;

}
.flexdiv .well i.icon-calendar {
	font-size: 14px;
	padding-right: 5px;
	padding-top: -2px;
}
.flexdiv img{
    margin-right:1em;
    
    }    
.big{
	
    flex-basis:25%;
	
	}
.top{
	align-self:flex-start;

}


.img-left {
	float: left;
}

.img-right {
	float: right;
}
.event-list .img-left, .event-list .img-right {
	width: 25%;
	padding: 15px;
}

.img-right {
	float: right;
}

.matches-lists {
}
.red {
	color: #f00;
}
.blue {
	color: #1B69C3!important;
}
.section-4 .quote {
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
	color: #333;
}
#quote-carousel.carousel {
  padding-bottom: 60px;
}
#quote-carousel p {
	padding-bottom: 20px;
}
#quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#quote-carousel blockquote {
    text-align: center;
    border: none;
}
#quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.sheme-links {
	text-align: center;
	padding-top: 20px;
	font-size: 15px

}
.sheme img {
	margin: 0 auto!important
}
.sheme-links a{
		color: #999;
}
.footer-links  {
	text-align: center;
}
.footer-links li{
	display: inline-block;
}
.footer-links li + li{
	padding-left: 22px
}
.footer .cards {
	text-align: right;
	padding-right: 50px
}
.footer .cards i{
	font-size: 26px
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success.focus[disabled], fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
	  background: none;
  border-color: #c6cbd7;
  color: #c6cbd7;
}
.btn-success2 {
	border: 1px solid #ccc;
	text-transform: none!important;
	font-size: 15px;
	background-color: #27ae60!important;
		font-family: 'HarmoniaSansProCyr-Regular'!important; 
		font-weight: normal!important;
		color: #fff!important;
		margin: 0!important;
		padding-left: 0!important;
		padding-right: 0!important;
		text-align: center!important;

}
.btn-lg2.btn-success2 {
	font-size: 19px;
	text-transform: uppercase!important;
}
.pay-view-match ul{
		text-align: center;
}
.pay-view-match li{
		display: inline-block;
}
.pay-view-match li + li{
		margin-left: 10px
}
/*players*/
#players {
	padding-top: 100px;
}
#players h1 {
	font-size: 34px;
	margin-bottom: 20px;
	color: #333;
	text-align: center;
}
@media (max-width: 1400px)  and (min-width: 1200px){
.col-lg-2 {
  width: 20%;
}
}
#players .thumbnails {


    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/

}
#players .text {
	text-align: justify;
}
#players .text img {
	padding: 15px 0;
}
#players .text img.wide {
	width: 100%;
}
.players .name {
	text-align: center;
	margin: 10px 0 2px
}
.players .birth{
	text-align: center;
	color: #999;
	font-size: 13px
}
.players .parameters{
	text-align: center;
	color: #999;
	font-size: 14px
}
.players .btn {
	margin: 20px 0 0;
	padding-left: 0;
	padding-right: 0
}
.players .btn.btn-primary{
	border-color: #ccc
}
.players a {
	color: #333;
}
.players .red, .players .blue {
	text-align: center;
	display: block;	
}
#players .player-img, .profile-circle  {
	display: block;
	max-width: 140px;
    max-height: 140px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

}
.link-match {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}


/* event list*/
 .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list .passed {
		opacity: 0.4;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		border-radius: 4px;
		-mox-border-radius: 4px;
		-webkit-border-radius: 4px;
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.2);
		padding: 0px;
		margin: 0px 0px 20px;
		display: inline-block;
		opacity: 0.9
	}
	.event-list li:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
	.event-list li:hover {
		opacity: 1;
		cursor: pointer;
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
	}
	.event-list li ul li:hover {
		opacity: 1;

		box-shadow: none;
	}
 
	.event-list .passed:hover{
		opacity: 0.4;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info, .title-show > .info {
		padding-top: 36px;
		text-align: center;
		float: left;
		width: 50%;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
		color: #333;
		text-align: center;
	}
	.place-date-info {
		clear: both;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: inline-block;
			width: 45%;
            margin: 1% 1.25% !important;
			padding: 0px;
		}

	.event-list li:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			text-align: left;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: relative;
		}
		.event-list > li > .social {
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}
@media screen and (min-width:200px) and (max-width:600px) {
	.flex {
		
		flex-direction:column;
		
    }
.left{margin-right:1em !important;
		margin-bottom:.2em !important;
        flex-basis:auto;
     
}
.newspaper {
    
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
    -webkit-column-rule: 4px outset #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ff00ff; /* Firefox */
    column-rule: 4px outset #ff00ff;
}
}
}

.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }
.floater-container {
	position:relative; padding: 20px 0;
}
@media (min-width: 768px) {

    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  

}
/* iPhone 4 ----------- */
@media screen and (max-width: 480px) {
  .section-2 .nav-tabs>li>a {
  	padding: 20px 30px;
  }
  .header  {
      height: auto;
      position: relative;

   }

   }
}
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
.header  {
      height: auto;
      position: relative;

   }

}

 /* --------------------------------------------------------- */
/* APPLE MACBOOK PRO RETINA ETC. --------------------------- */
/* --------------------------------------------------------- */
 /* Retina Displays/Screens (2880x1800) --------------------- */
@media
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {

.header  {
      height: 100vh;

   }

}
/* RetinaRes Smartphones (e.g. iPhone 4 / portrait) -------- */
@media
only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait),
only screen and (-o-min-device-pixel-ratio: 3/2) and (orientation: portrait),
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait),
only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait),
only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    /* YOUR STYLES */
    .header  {
      height: auto;
   } 


}
/* Landscape */
@media screen and (min-width: 321px) and  (max-device-width : 800px)
{
	.header  {
      height: auto;

   }
     .navbar li.hidden-mobile {
      display: none;
   }
	.bgvideo {
	display: none
	}
    .main-container {
     padding: 0
   }
   .main-menu .container {
   	padding-left: 0;
   	padding-right: 0;
   }
a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

.section-1 .carousel-indicators li {
	display: none;
}
.section-1 .carousel .carousel-inner h3, .section-1 .carousel .carousel-inner p {
	display: none;
}
.footer .phone{
display: none;
}
.footer .logo {
	top: 280px;

}
.footer .container.legs {
	height: 435px;
}

/* new add */
#video_background {
	display: none;
}
.down-arrow {

bottom: 15px;

}


}

@media (max-width: 1000px) {
  body { font-size: large; }

	.event-list > li > .info > ul > li, .event-list > li > .social > ul > li {
		display: block!important; width: 100%!important
	}
}
@media (max-width: 500px) {
  body { font-size: medium; }

}

.hidden2{
visibility: hidden;
}
.visible2, .visible{
visibility: visible;
}

@media screen and (max-width: 1680px) {
   
.info-bottom {
	
	clear: both;
	
}
.info-bottom li{
	display:inline-block;
	width: 30%;
	padding: 0;

}

.info-bottom li + li {
	width: 30%;

}
.info-bottom li + li + li{
	width: 30%;

}
}


@media screen and (min-width: 2000px) and (max-width: 3400px) {
   
.info-bottom {
	
	
}
.info-bottom li{
	display:inline-block;
	width: 15%;

}

.info-bottom li + li {
	width: 15%;

}
.info-bottom li + li + li{
	width: 15%;

}
}

.name-logo {
	float: left;
}
.table_for_teams table{
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.table_for_teams table td{
    line-height: 2.5;
    vertical-align: top;
    border: 1px solid #E4E4E4;
    padding-left: 7px;
    font-size: 13px;
}
.divider{
    width: 100%;
    height: 3px;
    float: left;
    background: #7B7380;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 0 30px;
    overflow: hidden;
}
.vstrechi{
    text-align: center;
    display: block;
    color: #333;
    font-size: 23px;
    margin: 15px 0;
}
.table_for_teams table img {
 //   width: 25px;
 //   margin: 0 5px -2px;
}
.table_for_teams .t_date{
    margin-right: 5px;
    color: blue;
}
.table_for_teams .t_time{
    margin-left: 5px;
    color: red;
    font-size: 14px;
}
.table_for_teams .t_type{
    color: blue;
}
.table_for_teams .t_rival{
    color: blue;
}
.table_for_teams .t_gde{
    color: blue;
}
.table_for_teams .t_score{
    color: red;
}
.table_for_teams .t_howm{
    color: blue;
}
.table_for_teams .t_blue{
    color: blue;
}
.table_for_teams tr:nth-child(even){
    background-color: #eee;
}
.table_for_teams table th{
    background: none repeat scroll 0% 0% rgba(29, 161, 72, 0.8);
    color: rgb(255, 255, 255);
    padding: 8px;
}
.table_for_teams.team_table table tr:nth-child(2) td{
    padding-top: 15px;
}
.teams_top {
    margin-left: 15px;
}
.players_top {
    margin-left: 30px;
}
.players_top .title-buy .title {
    font-size: 32px;
    text-transform: none;
}
.players_bread_top {
    margin-left: 45px;
}
.teams_top .title-buy .title {
    font-size: 32px;
    text-transform: none;
}
.players_htwo{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.row.players .thumbnail .blue{
    font-size: 0.8em;
}
.row.players .thumbnail .caption{
    min-height: 145px;
}
.players .thumbnail .parameters, .players .thumbnail .birth {
    font-size: 0.8em;
}
.name .players a{
    font-size: 1em;
}
.row.players.team .thumbnail .player-img{
    border-radius: 0:important;
}
.row.players.team .thumbnail .caption {
    min-height: 80px!important;
}
.club-logo img{
    margin-right: 15px;
}
.row.matches-lists.main .event-list > li {
    width: 100%!important;
}
.logo_text {
    margin-top: 23px;
    display: block;
    float: right;
    margin-left: -25px;
    color: yellow;
}
.cs-click-menu {
	display: none;
	width: 50px;
	height: 32px;
	background-color: #DCD60A;
	color: #fff;
	text-align: left;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
	position: absolute;
    left: 195px;
}
.cs-click-menu:hover .fa:before {
	color: #fff;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotate(90deg);
    font-weight: bold;
}
.fa-bars:before {
    content: "|||";
	font-weight: bold;
}

.mini-title {
	text-align: center;
	margin-top: -20px;
}
.fin_match {
    text-align: center;
    background: #F8F8F8;
    float: left;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;
	border: 1px solid #ddd;
}
.fin_match img{
	width: 25px;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.hme {
	border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.stadiums{
	margin: 0 auto;
	float: none;
}
.stadiums span{
    display: block;
    margin: 5px 0 0;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
}
.stadiums img {
    margin: 0 auto 15px;
    display: block;
    width: 100%;
	max-height: 335px;
}
.section .gruops {
	padding: 30px 0;
}
.section .groups h3 {
	text-align: center;
	color: #333;
	margin: 5px 0;
	font-size: 19px;
}
.section .gruops table{
    width: 80%;
    margin: 0 auto;
}
.section .groups td {
	text-align: center;
	max-width: 60px;
}
.section .groups th {
	text-align: center;
	background: #ddd;
}
.section .groups td:first-child {
	max-width: 200px;
	text-align: left;
}
.section .groups img {
	width: 30px;
	margin-right: 5px;
}
.road_to {
	margin-bottom: 25px;
	border-bottom: 1px dashed #999;
	padding-bottom: 25px;
}
.road_to img{
	margin: 0 auto;
	display: block;
}
.road_to span{
	text-align: center;
	color: #333;
	font-size: 18px;
	display: block;
}
.road_to p{
	font-size: 14px;
	text-align: justify;
}
@media (max-width: 560px){
	.footer {
		background: rgba(255,255,255,0.9);
	}
}
@media (min-width: 768px) {
	.nav.nav-pills.navbar-left li{
		width: auto;
	}
	.nav.nav-pills.navbar-left {
		width: auto;
		display: block;
		margin: 0;
		background: transparent;
	}
	.cs-click-menu {
		display: none;
	}
	@media on screen (min-width: 320px){
		.nav.nav-pills.navbar-left {
			width: 270px;
			display: none;
			margin-top: 56px;
			background: none repeat scroll 0% 0% rgba(30, 219, 92, 0.8);
		}
		.nav.nav-pills.navbar-left li{
			width: 100%;
		}
		.nav.nav-pills.navbar-left a{
			font-size: 14px;
		}
		.nav.nav-pills.navbar-left a:hover{
			color: #356C8E;
		}
		.cs-click-menu {
			float: left;
			text-align: center;
			background: #356C8E;
			padding: 8px 14px;
			padding: 1px 1px 1px 7px;
			height: inherit;
			display: block;
			margin-left: 45px;
		}
		.nav.nav-pills.navbar-left.on {
			display: block;
		}
	}
}
@media (max-width: 568px){
	.letest-text-grid {
		padding: 0;
	}
	.header {
		display: none;
	}
	.section.section-3 {
		padding-top: 0;
	}
	.main-menu .phone {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.navbar-left {
		display: none;
		width: 250px;
		position: absolute;
		bottom: -96px;
		background: #477b41;
		right: 0;
	}
	.navbar-left.on {
		display: block;
	}
	.navbar-left li{
		float: none;
		width: 250px;
	}
	.cs-click-menu {
		display: block;
		position: absolute;
		right: 10px;
		top: 55px;
		left: auto;
	}
	.sticky-wrapper {
		height: 95px!important;
	}
	.main-menu {
		height: 95px!important;
	}
	.cs-click-menu .fa{
		position: relative;
		top: -7px;
	}
	.row.matches-lists.main > div{
		padding: 0;
	}
	.main-container {
		padding: 0;
	}
	.section.section-3 {
		padding: 25px 0!important;
	}
}
@media (max-width: 320px){
	.main-container {
		padding: 0;
	}
	.mini-logo img {
		margin-left: -10px!important;
		margin-top: 15px!important;
	}
	.phone {
		top: 2px!important;
		font-size: 14px!important;
	}
	#menus {
		bottom: -144px;
	}
	.section.section-3 {
		padding: 25px 0!important;
	}
	.row.matches-lists.main > div{
		padding: 0;
	}
	.section .title {
		font-size: 21px;
	}
	.section .gruops table {
		font-size: 13px;
	}
	.groups {
		padding: 0;
	}
	.road_to .col-md-2{
		margin-bottom: 15px;
	}
	.section-7, .section-8 {
		background: #fff;
		padding: 20px 25px;
	}
	
}
@media (max-width: 375px){
	.main-container {
		padding: 0;
	}
	.mini-logo img {
		margin-left: -10px!important;
		margin-top: 15px!important;
	}
	.phone {
		top: 2px!important;
		font-size: 14px!important;
	}
	#menus {
		bottom: -144px;
	}
	.section.section-3 {
		padding: 25px 0!important;
	}
	.row.matches-lists.main > div{
		padding: 0;
	}
	.section .title {
		font-size: 21px;
	}
	.section .gruops table {
		font-size: 13px;
	}
	.groups {
		padding: 0;
	}
	.road_to .col-md-2{
		margin-bottom: 15px;
	}
	.section-7, .section-8 {
		background: #fff;
		padding: 20px 25px;
	}
	
}
@media (max-width: 414px){
	.main-container {
		padding: 0;
	}
	.mini-logo img {
		margin-left: -10px!important;
		margin-top: 15px!important;
	}
	.phone {
		top: 2px!important;
		font-size: 14px!important;
	}
	.section.section-3 {
		padding: 25px 0!important;
	}
	.row.matches-lists.main > div{
		padding: 0;
	}
	.section .title {
		font-size: 21px;
	}
	.section .gruops table {
		font-size: 13px;
	}
	#menus {
		bottom: -96px;
	}
	.groups {
		padding: 0;
	}
	.road_to .col-md-2{
		margin-bottom: 15px;
	}
	.section-7, .section-8 {
		background: #fff;
		padding: 20px 25px;
	}
	
}