/* ==========================================================================
      responsive
========================================================================== */


@media (max-width: 1240px) {
	.footer-wrap .bottom >.container {
		width: auto;
	}
}

@media (min-width: 961px) and (max-width: 1199px) {
  .navbar-header {
    width: 75%;
    padding-left: 15px;
  }
  .main-menu-wrap {
    width: 25%;
    margin-right: 0;
  }
  .logo-wrapper h1 {
      margin-top: 16px;
  }
}

@media (min-width: 768px) and (max-width: 960px){
  .navbar-header {
    width: 75%;
    padding-left: 15px;
  }
  .main-menu-wrap {
    width: 25%;
    margin-right: 0;
  }
    .logo-wrapper h1 {
      margin-top: 22px;
  }
  .trailer-item.leading .play-icon {
    font-size: 100px;
  }
  .trailer-item.leading .play-icon {
    top:40%;
  }
  .news-feed .news-feed-item .news-feed-thumb img {
    max-width: 100px;
  }
  .news-feed-info .news-feed-title {
    margin-bottom: 5px;
  }
  .entry-blog-meta .blog-entry-title {
    font-size: 22px;
  }
   /* blog */
  .entry-content-list-blog .entry-header:before {
    background: #333;
  }
  .entry-link-post-format h4,
  .entry-quote-post-format blockquote {
    margin: 0;
  } 
  .entry-date-day {
    display: block;
    line-height: 26px;
    font-size: 22px;  
  }
  .entry-blog-meta .article-info li {
    font-size: 14px;
    line-height: 16px;
  }
  /* Admin */
  .groups.my-groups #buddypress div#subnav.item-list-tabs, .single-item.groups #buddypress div#subnav.item-list-tabs {
    margin: -13px 0 10px;
  }
  #buddypress div#subnav.item-list-tabs ul li {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  #masthead.sticky {
    position: inherit !important;
    margin: 0;
  }
  .home-search {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .themeum-title .title-link {
    margin-top: 0;
  }
  .themeum-title {
    padding-bottom: 35px;
  }
  .spotlight-post .list-inline li {
    margin-right: 0;
  }
  .trailer-item.leading .play-icon {
    font-size: 80px;
  }  
  .trailer-item.leading .movie-title {
    margin-top: 0;
  }
  .moview-common-layout .owl-controls {
    top: -80px;
  }
  .moview-common-layout .owl-controls .owl-prev::after {
    right: 22px;
  }
  .trailer-item.leading .trailers-info {
    position: relative;
    background: none;
    padding: 0;
    margin-top: 15px;
  }
  .trailer-item.subleading .trailer-image-wrap img {
    width: 100%;
  }
  .moview-info-sidebar .img-wrap {
    margin-top: -70px;
  }
  .single-celebrity .moview-info-sidebar .img-wrap {
      margin-top: -25px;
  }
  .top-user-login img {
    display: none;
  }
  .bottom-widget {
    margin-bottom: 30px;
  }
  .footer .text-right {
    text-align: left;
  }
  .news-feed-info .news-feed-title {
    margin-bottom: 5px;
  }

  /* movie single */
  .moview-info h1 {
    margin: 0 0 10px 0;
  }
  .moview-info span.tag {
    margin: 0;
  }
  .single-movie .count-rating-wrapper {
      margin-top: -30px;
  }
 .moview-info .count-rating {
    width: 70px;
    height: 70px;
    line-height: 50px;
    margin-bottom: 70px;
  }

  .moview-info .count-rating:before {
    margin-left: -30px;
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .moview-info .count-rating span {
    font-size: 18px;
    line-height: 66px;
  }  

  .single-movie .rating-star > span {
    margin-right: 5px;
  }

  .trailers-info .trailer-info-block {
    color: #000;
  }
  .trailer-item.leading .trailer-info-block h4.movie-title {
    color: #000;
  }

  .single-movie .trailer-item.leading .play-icon {
    margin-top: 0%;
  }
  .moview-common-layout .item {
    margin-bottom: 25px;
  }

  .entry-date-wrapper.pull-left {
    float: none !important;
    margin-bottom: 10px;
    display: none;
  }
  .entry-content-list {
    height: 500px !important;
  }

  .entry-content-list.video-postformat {
    height: auto !important;
  }

  .entry-content-list.video-postformat:before {
    display: none;
  }

  .single.single-post .entry-content-list.video-postformat .container .has-post-format {
    position: relative;
    bottom: 0;
    margin-top: 30px;
  }

  .entry-content-list.video-postformat .entry-blog-meta .blog-entry-title a,
  .entry-content-list.video-postformat .entry-blog-meta .article-info li,
  .entry-content-list.video-postformat .entry-blog-meta .article-info li a{
    color: #000;
  }
  .comments-area.comments ul li ul.children {
    padding-left: 40px;
  }

  #offcanvas-menu-wrapper {
    left: -300px;
    width: 300px;
    padding: 35px;
  }

  /* blog */
  .entry-blog-meta .blog-entry-title {
    font-size: 22px;
    line-height: 26px;
  }
  .entry-date-day {
      display: block;
      line-height: 26px;
      font-size: 22px;  
  }
  .entry-content-list-blog .entry-header {
    padding: 25px;
  }
  .entry-blog-meta .article-info li {
    font-size: 14px;
    line-height: 16px;
  }
  .site-content .themeum-pagination {
    margin-bottom: 40px;
  }
  /* blog */
  .entry-content-list-blog .entry-header:before {
    background: #333;
  }
  .entry-link-post-format h4,
  .entry-quote-post-format blockquote {
    margin: 0;
  }
  .entry-link-post-format, .entry-quote-post-format {
    padding: 60px 60px 130px;
  }
  .entry-link-post-format h4 {
    font-size: 36px;
  }
}

@media (max-width: 489px) {
  .trailer-item .count-rating {
    margin-top: 0;
  }
  .form-submit input[type=submit] {
    padding: 0px 12px;
    font-size: 14px;
  }
  .comment-respond, .comment-context {
    padding:15px;
  }
  .comment-notes {
    padding: 0 15px;
  }
  .entry-content-list-blog .entry-header {
    padding: 10px;
  }
  .entry-blog-meta .blog-entry-title {
    font-size: 18px;
    line-height: 22px;
  }  
  .entry-link-post-format, .entry-quote-post-format {
    padding: 40px 40px 150px;
  }
  .entry-link-post-format h4 {
    font-size: 26px;
  }
  .format-video .entry-content-list-blog .entry-header {
    bottom: 0;
  }
  .moview-info-sidebar .img-wrap {
    margin-top: -70px;
  }
}

/*  Members  */
@media (max-width: 360px) {
  #buddypress div.item-list-tabs ul li.last select {
    margin-top: 4px;
    max-width: 120px;
    min-height: 40px;
  }
  #bbpress-forums .forum-titles li.bbp-topic-voice-count, #bbpress-forums .forum-titles li.bbp-topic-reply-count, #bbpress-forums .forum-titles li.bbp-topic-freshness, #bbpress-forums .forum-titles li.bbp-forum-topic-count, #bbpress-forums .forum-titles li.bbp-forum-reply-count, #bbpress-forums .forum-titles li.bbp-forum-freshness {
    font-size: 14px;
    margin-right: 0;
    margin-top: 0;
  }
  #bbpress-forums #bbp-search-form input[type="submit"] {
    font-size: 16px;
    padding: 8px;
    position: absolute;
    right: 4px;
    top: 3px;
    width: 90px;
  }
  #buddypress div.item-list-tabs ul li a {
    font-size: 13px;
  }
  #buddypress ul.item-list li div.item-title {
    width: 100%;
  }

  .groups #buddypress ul.item-list li div.item-desc {
    margin: 10px;
    padding-top: 25px;
    width: 100%;
  }

  #buddypress ul.item-list li div.action {
    left: 0;
    margin-top: -42px;
    width: 257px;
  }

  #buddypress .members.dir-list ul.item-list li div.item-title .update {
    width: 300px;
  }

  /* admin */
  .groups.my-groups #buddypress div#subnav.item-list-tabs, .single-item.groups #buddypress div#subnav.item-list-tabs {
    margin: -20px 0 12px;
  }

  #buddypress, .generic-button {
  left: 0;
  margin-top: 95px;
  width: 295px;
}

}


