@font-face {
    font-family: 'moview';
    src:    url('../fonts/moview.eot?2d9u9');
    src:    url('../fonts/moview.eot?2d9u9#iefix') format('embedded-opentype'),
        url('../fonts/moview.ttf?2d9u9') format('truetype'),
        url('../fonts/moview.woff?2d9u9') format('woff'),
        url('../fonts/moview.svg?2d9u9#moview') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="themeum-moview"], [class*=" themeum-moview"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'moview' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.themeum-moviewangle-left:before {
    content: "\e900";
}
.themeum-moviewangle-right:before {
    content: "\e901";
}
.themeum-moviewup:before {
    content: "\e902";
}
.themeum-moviewdown:before {
    content: "\e903";
}
.themeum-moviewangle-double-left:before {
    content: "\e904";
}
.themeum-moviewangle-double-right:before {
    content: "\e905";
}
.themeum-moviewchair:before {
    content: "\e906";
}
.themeum-moviewclock:before {
    content: "\e907";
}
.themeum-moviewenter:before {
    content: "\e908";
}
.themeum-moviewfilm:before {
    content: "\e909";
}
.themeum-moview3d-glass:before {
    content: "\e90a";
}
.themeum-moviewbook:before {
    content: "\e90b";
}
.themeum-moviewbulb:before {
    content: "\e90c";
}
.themeum-moviewlike:before {
    content: "\e90d";
}
.themeum-moviewmegaphone:before {
    content: "\e90e";
}
.themeum-moviewvideocam:before {
    content: "\e90f";
}
.themeum-moviewcup:before {
    content: "\e910";
}
.themeum-moviewmail:before {
    content: "\e911";
}
.themeum-moviewplay:before {
    content: "\e912";
}
.themeum-moviewstar-line:before {
    content: "\e913";
}
.themeum-moviewsearch:before {
    content: "\e914";
}
.themeum-moviewpopcorn:before {
    content: "\e915";
}
.themeum-moviewticket:before {
    content: "\e917";
}
.themeum-moviewtop-list:before {
    content: "\e918";
}
.themeum-moviewuser:before {
    content: "\e919";
}
.themeum-moviewpencil:before {
    content: "\e91a";
}
.themeum-moviewuser-review:before {
    content: "\e91b";
}
.themeum-moviewcamera:before {
    content: "\e91c";
}
.themeum-moviewglobe:before {
    content: "\e924";
}
.themeum-moviewfacebook:before {
    content: "\e91d";
}
.themeum-moviewtwitter:before {
    content: "\e91e";
}
.themeum-moviewinstagram:before {
    content: "\e91f";
}
.themeum-moviewgoogle-plus:before {
    content: "\e920";
}
.themeum-moviewvimeo:before {
    content: "\e921";
}
.themeum-moviewyoutube:before {
    content: "\e922";
}
.themeum-moviewpinterest:before {
    content: "\e923";
}
.themeum-moviewlink:before {
    content: "\e925";
}
.themeum-moviewspinner:before {
    content: "\e926";
}
.themeum-moviewstar:before {
    content: "\e927";
}
.themeum-moviewstar-blank:before {
    content: "\e928";
}
.themeum-moviewclose:before {
    content: "\e929";
}

