{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=1050" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<!-- Bootstrap -->
		<link href="/static/khl/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/khl/css/customs-fonts.css" rel="stylesheet">
		<link href="/static/khl/css/style.css" rel="stylesheet">
		<link href="/static/khl/css/netcss.css" rel="stylesheet">
		
		<link href="/static/khl/css/component.css" rel="stylesheet">
		<link href="/static/khl/css/animate.css" rel="stylesheet">
		<link href="/static/khl/css/style4.css" rel="stylesheet">
	</head>
	<body>
        <div class="main-container">
            {% include "khl/_header.html" %}
            {% block main_content %}{% endblock %}
        {% include "khl/_footer.html" %}
    </body>
</html>