        <footer class="footer">
            <div class="col-xs-12">
                <!--<div class="logo">
                    <a class="ancLinks" href="#buy">
                    <img src="/static/khl/images/mini-logo.png" width="280" alt="spartak">
                    </a>
                </div>-->
            </div>
            <div class="col-xs-12">
                <div class="footer-links">
                    <ul>
                        <li><a href="/">Главная</a> </li>
                        <li><a href="/teams">Команды</a> </li>
                        <li><a href="/matches">Купить билеты</a> </li>
                        <li><a href="#" data-target="#callme" data-toggle="modal">Заказать звонок</a> </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-7">
                </div>
                <div class="col-xs-3">
                    <div class="cards">
                        <i class="icon-cc-visa"></i>
                        <i class="icon-cc-mastercard"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright">Copyright © ЧМ 2018</div>
                </div>
                <div class="col-xs-12">
                    <div class="phone">
                        <div class="numb"><a href="tel:7-495-640-0626">+7 (495) 777 77 77</a></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- .footer -->
        <div class="bgvideo">
            <div class="overlay-video-black"></div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/khl/js/viewportchecker.js"></script>
        <script src="/static/khl/js/bootstrap.min.js"></script>
        <script src="/static/khl/js/ekko-lightbox.js"></script>
        <script src="/static/khl/js/jquery.sticky.js"></script>
        <script src="/static/khl/js/bigSlide.js"></script>
        <script src="/static/khl/js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="/static/khl/js/jquery.dropdown.js"></script>
        <script type="text/javascript">
            $( function() {
            	
            	$( '#cd-dropdown' ).dropdown();
            
            });
            $( function() {
            	
            	$( '#cd-dropdown2' ).dropdown();
            
            });
            $( function() {
            	
            	$( '#cd-dropdown3' ).dropdown();
            
            });
            
        </script>
        <script>
            jQuery(document).ready(function() {
            
            	$(".disabled").click(function (e) {
                    e.preventDefault();
                    return false;
            });
            
            });  
        </script>
        <!-- lightbox bootstrap image-->
        <script type="text/javascript">
            $(document).ready(function ($) {
            				$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            					event.preventDefault();
            					return $(this).ekkoLightbox();
            				});
            			});
        </script>
        <!-- MODAL CENTERED -->
        <script type="text/javascript">
            function adjustModalMaxHeightAndPosition(){
            	$('.modal').each(function(){
            	if($(this).hasClass('in') == false){
            	$(this).show();
            	};
            	var contentHeight = $(window).height() - 60;
            	var headerHeight = $(this).find('.modal-header').outerHeight() || 2;
            	var footerHeight = $(this).find('.modal-footer').outerHeight() || 2;
            	
            	$(this).find('.modal-content').css({
            	'max-height': function () {
            	return contentHeight;
            	}
            	});
            	
            	$(this).find('.modal-body').css({
            	'max-height': function () {
            	return (contentHeight - (headerHeight + footerHeight));
            	}
            	});
            	
            	$(this).find('.modal-dialog').css({
            	'margin-top': function () {
            	return -($(this).outerHeight() / 2);
            	},
            	'margin-left': function () {
            	return -($(this).outerWidth() / 2);
            	}
            	});
            	if($(this).hasClass('in') == false){
            	$(this).hide();
            	};
            	});
            	};
            	$(window).resize(adjustModalMaxHeightAndPosition).trigger("resize");
        </script>
        <script src="/static/khl/js/script.js"></script>
        <script>
            $(document).ready(function(){
            $("#sticker-menu").sticky({topSpacing:0});
            });
        </script>
        <script>
            $(document).ready(function(){
            			$(".sound-toggle").click(function(){$(this).toggleClass("sound-toggle--on sound-toggle--off");var a=$("#audio");
            	0==a[0].paused?a.animate({volume:0},1e3,"swing",function(){a[0].pause()}):(a[0].play(),a.animate({volume:.2},1e3))
            })
            });
        </script>
        <script>
            (function(e,t,n,r){function o(t,n){this.$element=e(t);this.settings=e.extend({},s,n);this.init()}var i="floatlabel",s={slideInput:true,labelStartTop:"20px",labelEndTop:"10px",transitionDuration:.3,transitionEasing:"ease-in-out",labelClass:"",typeMatches:/text|password|email|number|search|url/};o.prototype={init:function(){var e=this;var n={"-webkit-transition":"all "+this.settings.transitionDuration+"s "+this.settings.transitionEasing,"-moz-transition":"all "+this.settings.transitionDuration+"s "+this.settings.transitionEasing,"-o-transition":"all "+this.settings.transitionDuration+"s "+this.settings.transitionEasing,"-ms-transition":"all "+this.settings.transitionDuration+"s "+this.settings.transitionEasing,transition:"all "+this.settings.transitionDuration+"s "+this.settings.transitionEasing};if(this.$element.prop("tagName").toUpperCase()!=="INPUT"){return}if(!this.settings.typeMatches.test(this.$element.attr("type"))){return}var r=this.$element.attr("id");if(!r){r=Math.floor(Math.random()*100)+1;this.$element.attr("id",r)}var i=this.$element.attr("placeholder");var s=this.$element.data("label");var o=this.$element.data("class");if(!o){o=""}if(!i||i===""){i="You forgot to add placeholder attribute!"}if(!s||s===""){s=i}this.inputPaddingTop=parseFloat(this.$element.css("padding-top"))+10;this.$element.wrap('<div class="floatlabel-wrapper" style="position:relative"></div>');this.$element.before('<label for="'+r+'" class="label-floatlabel '+this.settings.labelClass+" "+o+'">'+s+"</label>");this.$label=this.$element.prev("label");this.$label.css({position:"absolute",top:this.settings.labelStartTop,left:this.$element.css("padding-left"),display:"none","-moz-opacity":"0","-khtml-opacity":"0","-webkit-opacity":"0",opacity:"0"});if(!this.settings.slideInput){this.$element.css({"padding-top":this.inputPaddingTop})}this.$element.on("keyup blur change",function(t){e.checkValue(t)});t.setTimeout(function(){e.$label.css(n);e.$element.css(n)},100);this.checkValue()},checkValue:function(e){if(e){var t=e.keyCode||e.which;if(t===9){return}}var n=this.$element.data("flout");if(this.$element.val()!==""){this.$element.data("flout","1")}if(this.$element.val()===""){this.$element.data("flout","0")}if(this.$element.data("flout")==="1"&&n!=="1"){this.showLabel()}if(this.$element.data("flout")==="0"&&n!=="0"){this.hideLabel()}},showLabel:function(){var e=this;e.$label.css({display:"block"});t.setTimeout(function(){e.$label.css({top:e.settings.labelEndTop,"-moz-opacity":"1","-khtml-opacity":"1","-webkit-opacity":"1",opacity:"1"});if(e.settings.slideInput){e.$element.css({"padding-top":e.inputPaddingTop})}},50)},hideLabel:function(){var e=this;e.$label.css({top:e.settings.labelStartTop,"-moz-opacity":"0","-khtml-opacity":"0","-webkit-opacity":"0",opacity:"0"});if(e.settings.slideInput){e.$element.css({"padding-top":parseFloat(e.inputPaddingTop)-10})}t.setTimeout(function(){e.$label.css({display:"none"})},e.settings.transitionDuration*1e3)}};e.fn[i]=function(t){return this.each(function(){if(!e.data(this,"plugin_"+i)){e.data(this,"plugin_"+i,new o(this,t))}})}})(jQuery,window,document)
            $(document).ready(function(){
            //Floatlabel
            $('.group-order input').floatlabel();
            $('.group-order a, .group-order button').click(function(e){
            e.preventDefault();
            });
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
            	jQuery('.post').addClass("hidden2").viewportChecker({
            	    classToAdd: 'visible2 animated fadeInDown', // Class to add to the elements when they are visible
            	    offset: 200    
            	   });   
            
                    jQuery('.post2').addClass("hidden2").viewportChecker({
                        classToAdd: 'visible2 animated bounceInLeft',
                        offset: 140
                    });
                    jQuery('.post3').addClass("hidden2").viewportChecker({
                        classToAdd: 'visible2 animated bounceInRight',
                        offset: 100
                    });
                    jQuery('.post4').addClass("hidden2").viewportChecker({
                        classToAdd: 'visible2 animated bounceInUp',
                        offset: 100
                    });
                    jQuery('.post5').addClass("hidden2").viewportChecker({
                        classToAdd: 'visible2 animated fadeIn',
                        offset: 300
                    });
            });            
        </script>
        <script>
            $(document).ready(function () {
                $('.cs-click-menu').on('click' , function () {
                    $('#menus').toggleClass('on');
                })
            })
        </script>