            <nav id="sticker-menu" class="navbar navbar-default sticky-menu main-menu" role="navigation">
                <div class="navbar-inner clearfix">
					<div class="mini-logo"><a style="margin-top:-20px;"href="/" title="На главную"><img style="width: 155px; margin-left: 3px; margin-top: 20px;" src="/static/khl/images/txtt.png"></a></div>
                    <a class="cs-click-menu"><i class="fa fa-bars"></i></a>
					<ul id="menus" class="nav nav-pills navbar-left">
                        <li>
                        {% for menu_item in menu %}
                            {% if menu_item.alias != "stadiums" and menu_item.alias != "contacts" and menu_item.alias != "delivery" and menu_item.alias != "champs" %}
                            <li {% if menu_item.alias == host %}class="current-menu-item"{% endif %}>
                                <a href="{% url 'portal:textpage' menu_item.alias %}">
                                {% if menu_item.menutitle %}
                                    {{ menu_item.menutitle }}{% else %}{{ menu_item.name }}
                                {% endif %}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        <li class="hidden-mobile"><a data-toggle="modal" data-target="#callme" href="#">Заказать звонок</a></li>
					</ul>
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="callme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Мы Вам перезвоним!</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-6 form-group">
                                                <input type="text" class="form-control input-lg" placeholder="Ваше имя">
                                            </div>
                                            <div class="col-xs-6 form-group">
                                                <input type="text" class="form-control input-lg" placeholder="Телефон">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 form-group">
                                                <textarea placeholder="Сообщение" class="form-control input-lg" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-block btn-default ">Заказать звонок</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="navbar-right">
                        <div class="phone"><a style="color: yellow">+7 (495) 777 77 77</a></div>
                    </div>
                </div>
            </nav>