{% extends "khl/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
            <header class="header" >
                <!-- Controls -->
                <a class="left carousel-control" href="#fade-quote-carousel" role="button" data-slide="prev">
                <i class="icon-arrow-l" aria-hidden="true"></i>
                <span class="sr-only">Назад</span>
                </a>
                <a class="right carousel-control" href="#fade-quote-carousel" role="button" data-slide="next">
                <i class="icon-arrow-r" aria-hidden="true"></i>
                <span class="sr-only">Далее</span>
                </a>
                <div class="overlay-video"></div>
                <div class="keepcentered matches-vs">
                    <div class="carousel">
                        <div class="row">
                            <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="4000">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner" role="listbox">
                                    {% for match in last_matches %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        <div class="logo">
                                            <a class="ancLinks" href="#buy">
                                                <div class="name">
                                                    <div class="club-logo"><img width="70" align="left" alt="{{ match.command_first }}" src="/media/logo/{{ match.command_first.get_logo_list.0 }}">{{ match.command_first }}</div>
                                                    <div class="separator">–</div>
                                                    <div class="club-logo club-logo-right"><img width="70" align="left" alt="{{ match.command_second }}" src="/media/logo/{{ match.command_second.get_logo_list.0 }}">{{ match.command_second }}</div>
                                                </div>
                                                <span class="subname"><i class="icon-calendar"></i> {{ match.datetime|ru_strftime:"%d %B, %H:%M" }}, <i class="icon-location"></i> {{ match.stadium }}</span>
                                            </a>
                                            <div class="buttonpay">
                                                <a class="buy-href btn btn-4 btn-4c icon-arrow-right" href='{% url "portal:match" match.alias %}'>Купить билеты на матч</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .carousel -->
                </div>
                <div class="where-place"><a href="#countries" class="toggler toggler-social menu-link"></a></div>
                <div class="list-countries">
                    <nav id="countries" class="panel" role="navigation">
                        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script> 
                        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
                    </nav>
                </div>
                <div class="play-music">
                    <a href="#" class="sound-toggle sound-toggle--off"></a>
                </div>
            </header>
            <!-- .header-->
            <div class="section section-3" id="buy">
                <div class="col-xs-12 filter-khl">
                </div>
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                <div class="row matches-lists main">
                                    <div class="col-md-6 col-xs-12">
                                        <ul class="event-list">
                                            {% for match in last_matches %}
                                            <li>
                                                <a class="link-match" href="/#"></a>
                                                <div class="img-left post"><img class="img-responsive" align="left" alt="spartak" src="/media/logo/{{ match.command_first.get_logo_list.0 }}" /></div>
                                                <div class="info">
                                                    <div class="title">{{ match.command_first }} - {{ match.command_second }}</div>
                                                </div>
                                                <div class="img-right post post"><img class="img-responsive" align="right" alt="zenit" src="/media/logo/{{ match.command_second.get_logo_list.0 }}" /></div>
                                                <ul class="info-bottom">
                                                    <li><i class="icon-calendar"></i>{{ match.datetime|ru_strftime:"%d %B, %H:%M" }}  </li>
                                                    <li><i class="icon-location"></i>{{ match.stadium }} </li>
                                                    <li class="blue"><i class="icon-carts"></i>Купить билет</li>
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <ul class="event-list">
                                            {% for match in last_matches_two %}
                                            <li>
                                                <a class="link-match" href="/#"></a>
                                                <div class="img-left post"><img class="img-responsive" align="left" alt="spartak" src="/media/logo/{{ match.command_first.get_logo_list.0 }}" /></div>
                                                <div class="info">
                                                    <div class="title">{{ match.command_first }} - {{ match.command_second }}</div>
                                                </div>
                                                <div class="img-right post post"><img class="img-responsive" align="right" alt="zenit" src="/media/logo/{{ match.command_second.get_logo_list.0 }}" /></div>
                                                <ul class="info-bottom">
                                                    <li><i class="icon-calendar"></i>{{ match.datetime|ru_strftime:"%d %B, %H:%M" }}  </li>
                                                    <li><i class="icon-location"></i>{{ match.stadium }} </li>
                                                    <li class="blue"><i class="icon-carts"></i>Купить билет</li>
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                <p>
                                    Билетов нет :)
                                </p>
                                <p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="tab-pane" id="tab_default_3">
                                <p>
                                    тут тоже нет Билетов 
                                </p>
                                <p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .section3 -->
            <div class="section section-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="floater-container">
                            <div id="floater"></div>
                            <div class="post content-info">
                                <div class="title">Стадионы</div>
								{% for stadium in stadiums %}
									{% if forloop.counter > 22 and forloop.counter < 27 %}
										<div class="col-md-10 stadiums">
											<span><a href="{% url 'portal:stadium' stadium.alias %}">{{ stadium.name|cut:"Стадион " }} ({{ stadium.city }})</a></span>
											<img src="{{ stadium.image }}" alt="">
										</div>
									{% endif %}
								{% endfor %}
								
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floater-container">
                            <div id="floater"></div>
                            <div class="post content-info">
                                <div class="title">Прошедшие соревнования</div>
								<div class="mini-title">Финальные встречи:</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/sav.png">Саудовская Аравия 1992 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/arg.png">Аргентина
									</div>
									<div class="col-md-2">
										3:1
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/sav.png">Саудовская Аравия
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/sav.png">Саудовская Аравия 1995 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/den.png">Дания
									</div>
									<div class="col-md-2">
										2:0
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/arg.png">Аргентина
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/sav.png">Саудовская Аравия 1997 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/bra.png">Бразилия
									</div>
									<div class="col-md-2">
										6:0
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/aus.png">Австралия
									</div>
								</div>								
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/mex.png">Мексика 1999 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/mex.png">Мексика
									</div>
									<div class="col-md-2">
										4:3
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/bra.png">Бразилия
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/kor.png"><img src="static/khl/flags-f/jp.png">Республика Корея\Япония 2001 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/fra.png">Франция
									</div>
									<div class="col-md-2">
										1:0
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/jp.png">Япония
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/fra.png">Франция 2003 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/fra.png">Франция
									</div>
									<div class="col-md-2">
										1:0
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/cam.png">Камерун
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/ger.png">Германия 2005 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/bra.png">Бразилия
									</div>
									<div class="col-md-2">
										4:3
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/arg.png">Аргентина
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/yar.png">ЮАР 2009 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/bra.png">Бразилия
									</div>
									<div class="col-md-2">
										4:3
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/usa.png">США
									</div>
								</div>
								<div class="fin_match">
									<div class="col-md-12 hme">
										<span><img src="static/khl/flags-f/bra.png">Бразилия 2013 год</span>
									</div>
									<div class="col-md-5 winner">
										<img src="static/khl/flags-f/bra.png">Бразилия
									</div>
									<div class="col-md-2">
										4:3
									</div>
									<div class="col-md-5">
										<img src="static/khl/flags-f/spa.png">Испания
									</div>
								</div>								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .section2 -->
            <div class="section section-4">
                <div class="gruops">
                    <div class="row">
                        <div class="title"><h2>Группы</h2></div>
						<div class="col-md-12 groups">
							<div class="col-md-6">
								<h3>Группа A</h3>
								<table class="table table-bordered">
									<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
									<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								</tbody></table>
							</div>
							<div class="col-md-6">
								<h3>Группа B</h3>
								<table class="table table-bordered">
									<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
									<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
									<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								</tbody></table>
							</div>
						</div>
						<div class="col-md-12 net hidden-xs">
							<div class="title"><h2>Финалы турнира</h2></div>
							<svg class="bracket-svg" width="533" height="243" viewBox="0 0 533 243" data-reactid=".pkqofytibk.1.0.1">
								<g data-reactid=".pkqofytibk.1.0.1.0">
									<g data-reactid=".pkqofytibk.1.0.1.0.0">
										<svg x="0" y="27" data-reactid=".pkqofytibk.1.0.1.0.0.$=1$1-3">
											<path d="M 228 1 L 236 1 L 236 54" class="bracket-line" data-line-length="68" data-reactid=".pkqofytibk.1.0.1.0.0.$=1$1-3.0"></path>
										</svg>
										<svg x="0" y="81" data-reactid=".pkqofytibk.1.0.1.0.0.$=1$2-3">
											<path d="M 228 53 L 236 53 L 236 1 L 244 1" class="bracket-line" data-line-length="68" data-reactid=".pkqofytibk.1.0.1.0.0.$=1$2-3.0"></path>
										</svg>
									</g>
									<text class="third-place-match-label" x="305" y="189" data-reactid=".pkqofytibk.1.0.1.0.1">Матч за бронзу</text>
									<g data-reactid=".pkqofytibk.1.0.1.0.2">
										<svg x="244" y="54" class="match -pending " data-identifier="3" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3">
											<text x="11" y="31" width="24" height="10" text-anchor="middle" class="match--identifier" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.1">3</text>
											<rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.2"></rect>
											<rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.3"></rect>
											<rect x="26" y="5" width="33" height="45" rx="3" ry="3" class="match--seed-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.4"></rect>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a.0"></title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a.1">
													<clipPath id="clipPath2064891" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a.1.0">
														<rect x="50" y="5" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="5" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a.2"></rect>
												<text x="38" y="19" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.a.4"></text>
											</g>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b.0"></title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b.1">
													<clipPath id="clipPath5487160" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b.1.0">
														<rect x="50" y="28" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="28" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b.2"></rect>
												<text x="38" y="42" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.b.4"></text>
											</g>
											<line x1="26" y1="27.5" x2="226" y2="27.5" class="match--player-divider" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$3.c"></line>
										</svg>
										<svg x="0" y="108" class="match -pending " data-identifier="2" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2">
											<text x="11" y="31" width="24" height="10" text-anchor="middle" class="match--identifier" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.1">2</text>
											<rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.2"></rect>
											<rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.3"></rect>
											<rect x="26" y="5" width="33" height="45" rx="3" ry="3" class="match--seed-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.4"></rect>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.0">W A2</title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.1">
													<clipPath id="clipPath6763618" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.1.0">
														<rect x="50" y="5" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="5" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.2"></rect>
												<text x="38" y="19" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.4">-</text>
												<text clip-path="url(#clipPath6763618)" x="55" y="20" width="147" height="12" class="match--player-name " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.a.5">W A2</text>
											</g>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.0">W B1</title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.1">
													<clipPath id="clipPath8165096" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.1.0">
														<rect x="50" y="28" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="28" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.2"></rect>
												<text x="38" y="42" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.4">-</text>
												<text clip-path="url(#clipPath8165096)" x="55" y="43" width="147" height="12" class="match--player-name " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.b.5">W B1</text>
											</g>
											<line x1="26" y1="27.5" x2="226" y2="27.5" class="match--player-divider" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$2.c"></line>
										</svg>
										<svg x="0" y="0" class="match -pending " data-identifier="1" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1">
											<text x="11" y="31" width="24" height="10" text-anchor="middle" class="match--identifier" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.1">1</text>
											<rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.2"></rect>
											<rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.3"></rect>
											<rect x="26" y="5" width="33" height="45" rx="3" ry="3" class="match--seed-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.4"></rect>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.0">W A1</title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.1">
													<clipPath id="clipPath3076244" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.1.0">
														<rect x="50" y="5" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="5" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.2"></rect>
												<text x="38" y="19" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.4">-</text>
												<text clip-path="url(#clipPath3076244)" x="55" y="20" width="147" height="12" class="match--player-name " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.a.5">W A1</text>
											</g>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.0">W B2</title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.1">
													<clipPath id="clipPath9956681" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.1.0">
														<rect x="50" y="28" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="28" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.2"></rect>
												<text x="38" y="42" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.4">-</text>
												<text clip-path="url(#clipPath9956681)" x="55" y="43" width="147" height="12" class="match--player-name " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.b.5">W B2</text>
											</g>
											<line x1="26" y1="27.5" x2="226" y2="27.5" class="match--player-divider" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$1.c"></line>
										</svg>
										<svg x="305" y="189" class="match -pending " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null">
											<text x="11" y="31" width="24" height="10" text-anchor="middle" class="match--identifier" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.1"></text>
											<rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background " data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.2"></rect>
											<rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.3"></rect>
											<rect x="26" y="5" width="33" height="45" rx="3" ry="3" class="match--seed-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.4"></rect>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.0">Проигравший 1</title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.1">
													<clipPath id="clipPath3581080" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.1.0">
														<rect x="50" y="5" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="5" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.2"></rect>
												<text x="38" y="19" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.4"></text>
												<text clip-path="url(#clipPath3581080)" x="55" y="20" width="147" height="12" class="match--player-name -placeholder" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.a.5">Проигравший 1</text>
											</g>
											<g class="match--player" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b">
												<title data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.0">Проигравший 2</title>
												<defs data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.1">
													<clipPath id="clipPath843746" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.1.0">
														<rect x="50" y="28" width="143" height="22" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.1.0.0"></rect>
													</clipPath>
												</defs>
												<rect x="50" y="28" width="147" height="22" class="match--player-background" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.2"></rect>
												<text x="38" y="42" width="10" height="12" text-anchor="middle" class="match--seed" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.4"></text>
												<text clip-path="url(#clipPath843746)" x="55" y="43" width="147" height="12" class="match--player-name -placeholder" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.b.5">Проигравший 2</text>
											</g>
											<line x1="26" y1="27.5" x2="226" y2="27.5" class="match--player-divider" data-reactid=".pkqofytibk.1.0.1.0.2.$=1$null.c"></line>
										</svg>
									</g>
								</g>
							</svg>
						</div>
                    </div>
                </div>
            </div>
            <!-- .section4 -->
            <div class="section section-5 hidden-xs" id="group-order">
                <div class="group-order">
                    <div class="col-xs-6">
                        <div class="floater-container">
                            <div id="floater"></div>
                            <div class="content-info post5">
                                <div class="title">Корпоративная заявка</div>
                                <p>Предоставляются скидки от 10 человек</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row row-centered order post">
                            <div class="col-md-7 col-xs-8 col-centered col-min auth">
                                <div id="big-form" class="well auth-box">
                                    <form>
                                        <fieldset>
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <div class="">
                                                    <input id="textinput" name="textinput" placeholder="Введите имя" class="form-control input-md" type="text">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <!-- Text input-->
                                                    <div class="form-group">
                                                        <div class="">
                                                            <input id="textinput" name="textinput" placeholder="Введите телефон" class="form-control input-md" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <!-- Text input-->
                                                    <div class="form-group">
                                                        <div class="">
                                                            <input id="textinput" name="textinput" placeholder="Введите E-mail" class="form-control input-md" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Select Basic -->
                                            <div class="form-group">
                                                <div class="">
                                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                                        <option value="1">Москва</option>
                                                        <option value="2">Сочи</option>
                                                        <option value="1">Москва</option>
                                                        <option value="2">Сочи</option>
                                                        <option value="1">Москва</option>
                                                        <option value="2">Сочи</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- Textarea -->
                                            <div class="form-group">
                                                <div class="">
                                                    <textarea rows="3" class="form-control" id="textarea" placeholder="Сообщение" name="textarea"></textarea>
                                                </div>
                                            </div>
                                            <!-- Button -->
                                            <div class="form-group entered">
                                                <button id="singlebutton" name="singlebutton" class="btn btn-block btn-default ">Отправить</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay-video"></div>
            </div>
            <!-- .section5 -->
            <div class="section section-8">
                <div class="title">Дорога в Россию</div>
				<div class="col-md-12 road_to">
					<div class="col-md-2">
						<img src="http://img.fifa.com/images/layout/backgrounds/zone/africa.jpg">
						<span>Африка</span>
						<p>
							Африканская путевка на Кубок Конфедераций ФИФА будет
							разыграна на Кубке африканских наций, который пройдет
							в Габоне ранее в 2017 году.
						</p>
					</div>
					<div class="col-md-2">
						<img src="http://img.fifa.com/images/layout/backgrounds/zone/africa.jpg">
						<span>Азия</span>
						<p>Азию на Кубке конфедераций FIFA 2017 в России представит
						Австралия, которая выиграла Кубок Азии-2015. 31 января 2015
						года "Соккеруз" обыграли в драматичном финале домашнего турнира
						Южную Корею со счетом 2:1.</p>
					</div>
					<div class="col-md-2">
						<img src="http://img.fifa.com/images/layout/backgrounds/zone/africa.jpg">
						<span>Европа</span>
						<p>Европейский участник Кубка конфедераций FIFA 2017
						определится на Евро-2016 УЕФА. Турнир пройдет с 10 июня по 10 июля 2016 года.
						Победитель Евро отправится представлять континент в Россию.</p>
					</div>
					<div class="col-md-2">
						<img src="http://img.fifa.com/images/layout/backgrounds/zone/africa.jpg">
						<span>Северная и Центральная Америка</span>
						<p>Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов
						сборные США и Мексики определили участника Кубка
						конфедераций FIFA 2017 в России в стыковом матче: 
						мексиканцы выиграли со счетом 3:2 в
						Пасадене (Калифорния) и стали 5-м по счету участником турнира.</p>
					</div>
					<div class="col-md-2">
						<img src="http://img.fifa.com/images/layout/backgrounds/zone/africa.jpg">
						<span>Океания</span>
						<p>Победитель следующего Кубка Наций ОФК, который состоится с мая по
						июнь 2016 года получит путевку на Кубок конфедераций FIFA 2017 в России.</p>
					</div>
					<div class="col-md-2">
						<img src="http://img.fifa.com/images/layout/backgrounds/zone/africa.jpg">
						<span>Южная Америка</span>
						<p>Сборная Чили впервые станет участником Кубка конфедераций 
						FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира
						4 июля 2015 года чилийцы обыграли Аргентину
						в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.</p>
					</div>
				</div>
            </div>
            <div class="section section-7 seo-text">
                <div class="post">
                    <h4>Купить билеты на Чемпионат мира</h4>
                    <p>Попасть на концерт группы «30 seconds to Mars» - мечта современной молодежи, ведь этот коллектив олицетворяет наше общество, выражая свою точку зрения благодаря яркой и качественной музыке. Чтобы купить билеты на концерт «30 seconds to Mars» в своем городе, зрителям даже не нужно тратить свое время, чтобы стоять в очередях.
                        С помощью нашего сервиса bilet2u.ru каждый может выбрать и купить билеты на «30 seconds to Mars» тур 2015 за считанные минуты. Ведь наш сайт разработан специально для комфортного и быстрого заказа билетов на концерты зарубежных и отечественных исполнителей.
                        Звоните нам по телефону 8-800-333-13-23 и оформляйте заявку на билеты «30 seconds to Mars» 2015 в вашем городе по самым приятным ценам!
                    </p>
                    <h5>Тур 2015 в России</h5>
                    <p>
                        Когда-то группа «30 seconds to Mars» обещала своим российским фанатам вернуться с большим туром, и сдержала обещание! Этой весной «30 seconds to Mars» объедут всю Россию со своей концертной программой «Love+Lust Tour 2015» , билеты на которую вы можете приобрести прямо сейчас на нашем сайте!
                        В списке турне музыкантов – 14 городов, среди которых:
                        •	Сочи
                        •	Воронеж
                        •	Саратов
                        •	Волгоград
                        •	Тольятти
                        •	Санкт-Петербург
                        •	Москва
                        •	Уфа
                        •	Челябинск
                        •	Пермь
                        •	Омск
                        •	Новосибирск
                        •	Красноярск
                        •	Нижний Новгород.
                        Без сомнения, тур «30 seconds to Mars» в России станет одним из самых ярких событий последних лет. Грандиозное шоу ожидает всех зрителей, купивших билеты на концерт «30 seconds to Mars» в своем городе!
                    </p>
                </div>
            </div>
            <!-- .section4 -->
        </div>
{% endblock %}