{% extends "khl/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
				<div class="section section-3" id="buy">
				<div class="row">
					<div class="col-xs-5 post">
						<div class="title-buy">
							<div class="sub-title">Расписание матчей</div>
							<div class="title">Матчи</div>
						</div>
					</div>
					<div class="col-xs-7">
						
					</div>
				</div>

				<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul style="display: none;" class="nav nav-tabs">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">2015</a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab"> 2014 </a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">2013 </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							<div class="row matches-lists">
								<div class="[ col-xs-12 col-sm-12 ]">
									<ul class="event-list">
                                        {% for match in matches %}
                                            <li>
                                                <div class="img-left post"><img class="img-responsive" align="left" alt="{{ match.command_first }}" src="/media/logo/{{ match.command_first.get_logo_list.0 }}" /></div>
                                                <div class="info">
                                                    <a href="{% url 'portal:match' match.alias %}" class="title" style="display:block;">{{ match.command_first }} - {{ match.command_second }} </a>
                                                    <ul>
                                                        <li style="width:33%;"><i class="icon-calendar"></i>{{ match.datetime|ru_strftime:"%d %B %H:%M" }}<span class="fa fa-male"></span></li>
                                                        <li style="width:34%;"><i class="icon-location"></i>{{ match.stadium }}<span class="fa fa-child"></span></li>
                                                    </ul>
                                                </div>
                                                <div class="img-right post post"><img class="img-responsive" align="right" alt="{{ match.command_second }}" src="/media/logo/{{ match.command_second.get_logo_list.0 }}" /></div>
                                            </li>
                                        {% empty %}
                                            <p>К сожалению, сведений о матчах не найдено.</p>
                                        {% endfor %}
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_default_2">
							<p>
								      прошедшие матчи
							</p>
							<p>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
							</p>
						</div>
						<div class="tab-pane" id="tab_default_3">
							<p>
								    прошедшие матчи
							</p>
							<p>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
							</p>
						</div>

					</div>

					<p>В любое удобное для Вас время на сайте spartakbilet.ru Вы можете купить билеты на матчи Спартака. Или же есть альтернативный вариант – просто позвоните по телефону +7 (495) 640-06-26 и получите консультацию менеджера. Только у нас Вы узнаете все о предстоящем футбольном матче, менеджер с радостью поможет выбрать лучшее место и ответит на все Ваши вопросы.</p>
				</div>
			</div>
				
				</div><!-- .section3 -->


				</div>			
{% endblock %} 