{% extends "khl/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<div class="section section-3" id="buy">
				<div class="row">
					<div class="col-xs-5 post">
						<div class="title-buy">
							<div class="sub-title">Билеты на ФК Спартак</div>
							<div class="title">Матчи</div>
						</div>
					</div>
					<div class="col-xs-7">
					</div>
				</div>
				
						<div class="row">
							<div class="col-xs-12">
								<div class="prev"><a href="#"><i class="icon-angle-left"></i>Вернуться назад</a></div>
							</div>
						</div>
					<div class="row pay-view-match">
								<div class="info">
									<div class="title"><img class="img-responsive" align="left" alt="spartak" src="/media/logo/{{ data.command_first.get_logo_list.0 }}" />{{ data.command_first }} - <img class="img-responsive" align="right" alt="zenit" src="/media/logo/{{ data.command_second.get_logo_list.0 }}" />{{ data.command_second }}</div>
									<ul>
										<li><i class="icon-calendar"></i>{{ data.datetime|ru_strftime:"%d %B %H:%M" }}<span class="fa fa-male"></span></li>
										<li><i class="icon-location"></i>{{ data.stadium }}<span class="fa fa-child"></span></li>
									</ul>
								</div>
					</div>
							<div class="row">
					<div class="col-xs-12">

					<div class="pay-content">
						<div class="row">
                            <div class="col-lg-12">
                                    {% if data.history %}{{ data.history|safe }}{% endif %}
                            </div>
						</div>
					</div>
					</div>
				</div>
				
				</div><!-- .section3 -->


				</div>			
{% endblock %}