{% extends "khl/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<div class="section section-3" id="players">
                <div class="players_bread_top">
    		        <div class="breadcrumbs">
                        <div class="row">
                            <div id="bc1" class="btn-group btn-breadcrumb">
                                <a href="/" class="btn btn-default"><i class="icon-home"></i></a>
                                <div class="btn btn-default">...</div>
                                <a href="{% url 'portal:team' data.team.alias %}" class="btn btn-default"><div>{{ data.team }}</div></a>
                                <a href="{% url 'portal:player' data.alias %}" class="btn btn-default"><div>{{ data.name }}</div></a>
                            </div>
                    	</div>
                    </div>
                </div>
				<div class="players_top">
    				<div class="row">
    					<div class="col-xs-4 post">
    						<div class="title-buy">
    							<div class="sub-title">Основной состав {{ data.team }}</div>
    							<div class="title">Информация об игроке:</div>
    						</div>
    					</div>
    					<div class="col-xs-6 info-players">
    						
    					</div>
    				</div>
                </div>
                <div class="row">
					<div class="col-xs-12">
						<div class="row players">
       				 <ul class="thumbnails">
       				     <div class="col-md-12">
       				     	<div class="col-md-4 col-sm-5 col-lg-3">
       				     		
       				         <div class="thumbnail">
       				             <a class="player-img post5" href="#"><img src="{{ data.image }}" alt="ALT NAME" class="img-responsive" /></a>
       				             <div class="caption">
       				                  <div class="name"><a>{{ data.name }}</a> <span class="red">[{{ data.position }}]</span></div>
       				                 <p class="birth">Дата рождения: {{ data.birth|ru_strftime:"%d %B %Y" }}</p> 
       				                 <p class="parameters">Футбольный клуб: {{ data.club }}</p>
       				                 <p class="parameters">Гражданство:  {{ data.team }}</p>
       				                 <p class="parameters">Рост:  {{ data.height }}</p>
       				                 <p class="parameters">Вес:  {{ data.weight }}</p>
       				             </div>
       				         </div>
       				     	</div>
       				     	<div class="col-md-8 col-sm-7 col-lg-9">
       				     		<h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
       				     		{% if data.content %}
                                    {{ data.content|safe }}
                                {% else %}
                                    <p>Играет за национальную сборную {{ data.team }}. {{ data.name }} появился на свет {{ birth }} В команде занимает позицию {{ data.position }}.</p>
                                    <p>Игрок обладает следующими физическими данными: Рост: {{ data.height }}, Вес: {{ data.weight }}. Помимо сборной, {{ data.name }} тренеруется и играет за футбольный клуб {{ data.club }}. Надеемся что мы сможем наблюдать {{ data.name }} в финальной части чемпионта мира по футболу, который будет проходить в России, под флагом {{ data.team }}.</p>
                                {% endif %}
       			     	</div>
       				     </div>
       				 </ul>
    </div>
					</div>
				</div>
				
		</div><!-- .section3 -->


				</div>		
{% endblock %}                