{% extends "khl/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<div class="section section-3" id="players">
            <div class="row">
                <div class="col-xs-12 post">
                    <div class="teams_top">
                        <div class="title-buy">
                            <div class="breadcrumbs">
                                <div class="row">
                                    <div id="bc1" class="btn-group btn-breadcrumb">
                                        <a href="/" class="btn btn-default"><i class="icon-home"></i></a>
                                        <a href="#" class="btn btn-default"><div>Сборные</div></a>
                                    </div>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h1 class="players_htwo">{{ data.name }}</h1>
                <div class="row players team">
                    <ul>
                    {% if teams %}
                        {% for team in teams %}
                            <div class="col-md-3 col-lg-2 col-sm-4">
                                <div class="thumbnail">
                                    <a href='{% url "portal:team" team.alias %}' class="player-img post5 hidden2 visible2 animated fadeIn">
                                        <img src="/media/logo/{{ team.get_logo_list.0 }}" alt="ALT NAME" class="img-responsive">
                                    </a>
                                    <div class="caption">
                                        <div class="name"><a href='{% url "portal:team" team.alias %}'>{{ team.name }}</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>К сожалению, команд в базе нет.</p>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    
                </div>
            </div>
				
        </div><!-- .section3 -->
    </div>			
    {% endblock %}