{% load i18n admin_static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ data.seo_title }}</title>
    <meta name="description" content="Pro Soccer - Football Club Template. It is built using bootstrap 3.3.2 framework, works totally responsive, easy to customise, well commented codes and seo friendly.">
    <meta name="keywords" content="prosoccer, football, club, soccer, bootstrap">
    <meta name="author" content="rudhisasmito.com"> 
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="/static/main/images/favicon.ico">
	<link rel="apple-touch-icon" href="/static/main/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/main/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/main/images/apple-touch-icon-114x114.png">
	<!-- ==============================================
	CSS
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/static/main/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/main/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/main/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/static/main/css/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="/static/main/css/magnific-popup.css">
	<!-- ==============================================
	Google Fonts
	=============================================== -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/static/main/css/style.css" />
    <script type="text/javascript" src="/static/main/js/modernizr.min.js"></script>
</head>
    <body>
        {% include "_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "_footer.html" %}
    </body>
</html>