	<div class="footer">
		<div class="f-desc">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>ABOUT CLUB</h4>
							</div>
							<p>This template is a micro niche for business categories, namely Pro Soccer business. there was an excess of this template is using HTML/CSS. Condimentum aliquam, mollit magna velit nec, tempor cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor pede vitae faucibus</p>
							<div class="footer-sosmed">
								<a href="#" title="">
									<div class="item">
										<i class="fa fa-facebook"></i>
									</div>
								</a>
								<a href="#" title="">
									<div class="item">
										<i class="fa fa-twitter"></i>
									</div>
								</a>
								<a href="#" title="">
									<div class="item">
										<i class="fa fa-instagram"></i>
									</div>
								</a>
								<a href="#" title="">
									<div class="item">
										<i class="fa fa-pinterest"></i>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>RECENT POST</h4>
							</div>
							<div class="footer-blog-item">
								<div class="footer-blog-lead">
									<a href="blog-1.html" title="">Consectetuer porttitor feugiat vestibulum sit feugiat.</a>
								</div>
								<div class="footer-blog-date">
									May 29, 2015
								</div>
							</div>
							<div class="footer-blog-item">
								<div class="footer-blog-lead">
									<a href="blog-1.html" title="">vestibulum sit feugiat voluptates dui eros libero.</a>
								</div>
								<div class="footer-blog-date">
									May 29, 2015
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>INFORMATION</h4>
							</div>
							<ul class="sitemap">
								<li><a href="index.html" title="">Home</a></li>
								<li><a href="about.html" title="">About</a></li>
								<li><a href="team.html" title="">Team</a></li>
								<li><a href="gallery.html" title="">Gallery</a></li>
								<li><a href="news.html" title="">News</a></li>
								<li><a href="shop.html" title="">Shop</a></li>
								<li><a href="contact.html" title="">Contact</a></li>
								<li><a href="faq.html" title="">FAQs</a></li>
								<li><a href="support.html" title="">Support</a></li>
								<li><a href="privacy.html" title="">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								<h4>NEWSLETTER</h4>
							</div>
							<div class="footer-form">
								<form action="#">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-default">SEND</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="ftex">&copy; 2015 Pro Soccer by Rudhi Sasmito - All Rights Reserved</p> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/main/js/jquery.min.js"></script>
	<script type='text/javascript' src='/static/main/js/jqBootstrapValidation.js'></script>
	<script type="text/javascript" src="/static/main/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/main/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/static/main/js/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="/static/main/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/static/main/js/script.js"></script>