{% load pytils_dt %}
    <div class="navbar navbar-main navbar-fixed-top">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="info">
							<h3>Новости: </h3>
							<div class="info-item">
								<div style="margin-left: 7px;">ЦСКА БАЙЕР - камбек это реальность.</div>
								<div style="margin-left: 7px;">Крылья-Советов - ЦСКА 1-2 увозят 3 из самары.</div>
								<div style="margin-left: 7px;">ЦСКА - ТОТЕНХЕМ - Кейн не примет участие в матче.</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="top-sosmed pull-right">
							<a href="#" title=""><span class="fa fa-facebook"></span></a>
							<a href="#" title=""><span class="fa fa-twitter"></span></a>
							<a href="#" title=""><span class="fa fa-instagram"></span></a>
							<a href="#" title=""><span class="fa fa-pinterest"></span></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="/static/main/images/logo.png" alt="" /></a>
				
			</div>
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">HOME</a></li>
					<li><a href="about.html">ABOUT</a></li>
					<li><a href="team.html">TEAM</a></li>
					<li><a href="gallery.html">GALLERY</a></li>
					<li><a href="news.html">NEWS</a></li>
					<li><a href="shop.html">SHOP</a></li>
					<li><a href="contact.html">CONTACT</a></li>
				</ul>
			</nav>
		</div>
    </div>

 