{% extends "__base.html" %}
{% load pytils_dt %}
{% block main_content %}
	<div class="section subbanner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="caption">TEAM</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ABOUT SECTION -->
	<div class="section singlepage">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">TEAM</h2>
						<div class="border-style"></div>
						<div class="page-description">
							<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-sm-12 col-md-12">
					
					<div class="team-tab" data-example-id="togglable-tabs">
						<ul id="myTabs" class="nav nav-tabs nav-tabs-team" role="tablist">
							<li class="active"><a href="#primary" id="primary-tab" role="tab" data-toggle="tab" aria-controls="primary" aria-expanded="true">PRIMARY TEAM</a></li>
							<li><a href="#secondary" role="tab" id="secondary-tab" data-toggle="tab" aria-controls="secondary">SECONDARY TEAM</a></li>
						</ul>
						<div id="myTabContent" class="tab-content tab-team tab-team-bg">
							<div role="tabpanel" class="tab-pane fade in active" id="primary" aria-labelledBy="primary-tab">
								<div class="teams">
									<div class="nav-team" id="primary-nav">
										<div class="position active">
											<a title=""><span class="gk">GK</span> 1. Guiliugi Button</a>
										</div>
										<div class="position">
											<a title=""><span class="cb">CB</span> 3. Paulo Maldoko</a>
										</div>
										<div class="position">
											<a title=""><span class="cb">CB</span> 4. Alexandro Nista</a>
										</div>
										<div class="position">
											<a title=""><span class="cb">CB</span> 5. Fabio Carnivora</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">RMF</span> 7. David Beckman</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">LMF</span> 21. Ryan Goggle</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">DMF</span> 14. Andrea Polo</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">AMF</span> 10. Fransisco Totto</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">AMF</span> 11. Christian Ronaldoel</a>
										</div>
										<div class="position">
											<a title=""><span class="cf">CF</span> 9. Didier Dropbox</a>
										</div>
										<div class="position">
											<a title=""><span class="cf">CF</span> 99. Ibrahimovie</a>
										</div>
										<!--  -->
									</div>
								</div>
								<div class="teams-caro">
									<div id="primary-team-caro" class="owl-carousel owl-theme">
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>{{ birth|ru_strftime:"%d.%m.%y" }}</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-2.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-3.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="secondary" aria-labelledBy="secondary-tab">
								<div class="teams">
									<div class="nav-team" id="secondary-nav">
										<div class="position active">
											<a title=""><span class="gk">GK</span> 1. Guiliugi Button</a>
										</div>
										<div class="position">
											<a title=""><span class="cb">CB</span> 3. Paulo Maldoko</a>
										</div>
										<div class="position">
											<a title=""><span class="cb">CB</span> 4. Alexandro Nista</a>
										</div>
										<div class="position">
											<a title=""><span class="cb">CB</span> 5. Fabio Carnivora</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">RMF</span> 7. David Beckman</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">LMF</span> 21. Ryan Goggle</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">DMF</span> 14. Andrea Polo</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">AMF</span> 10. Fransisco Totto</a>
										</div>
										<div class="position">
											<a title=""><span class="rmf">AMF</span> 11. Christian Ronaldoel</a>
										</div>
										<div class="position">
											<a title=""><span class="cf">CF</span> 9. Didier Dropbox</a>
										</div>
										<div class="position">
											<a title=""><span class="cf">CF</span> 99. Ibrahimovie</a>
										</div>
									</div>
								</div>
								<div class="teams-caro">
									<div id="secondary-team-caro" class="owl-carousel owl-theme">
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-2.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-3.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										<div class="item">
											<div class="teams-image">
												<img src="/static/main/images/player-1.jpg" alt="" class="img-responsive" />
											</div>
											<div class="teams-description">
												<p><span class="title">NATIONAL : </span>PORTUGAL</p>
												<p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
												<p><span class="title">HEIGHT : </span>183 cm</p>
												<p><span class="title">WEIGHT : </span>80 kg</p>
												<p><span class="title">POSITION : </span>FORWARDER</p>
												<p><span class="title">PLAYED : </span>180</p>
												<p><span class="title">GOAL : </span>25</p>
												<p><span class="title">RED CARDS : </span>3</p>
												<p><span class="title">YELLOW CARDS : </span>10</p>
												<p><span class="title">INFORMATION </span></p>
												<p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
											</div>
										</div>
										
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							
						</div>
					</div><!-- /example -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}