@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 12554.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 1px;
}

#u2325
{
	z-index: 494;
	width: 380px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 50px;
	position: relative;
	margin-right: -10000px;
}

#u2326-4
{
	z-index: 495;
	width: 370px;
	min-height: 46px;
	text-align: center;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 5px;
}

#menuu2327
{
	z-index: 499;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 5px;
}

#u2363
{
	width: 71px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u2364
{
	width: 71px;
	padding-bottom: 18px;
	position: relative;
}

#u2365-4
{
	width: 47px;
	min-height: 16px;
	text-align: center;
	color: #1D1F26;
	line-height: 16px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u2356
{
	width: 62px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 73px;
}

#u2359
{
	width: 62px;
	padding-bottom: 18px;
	position: relative;
}

#u2360-4
{
	width: 38px;
	min-height: 16px;
	text-align: center;
	color: #1D1F26;
	line-height: 16px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u2328
{
	width: 83px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#u2331
{
	width: 83px;
	padding-bottom: 18px;
	position: relative;
}

#u2332-4
{
	width: 59px;
	min-height: 16px;
	text-align: center;
	color: #1D1F26;
	line-height: 16px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 12px;
}

#u2335
{
	width: 59px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 222px;
}

#u2336
{
	width: 59px;
	padding-bottom: 18px;
	position: relative;
}

#u2339-4
{
	width: 36px;
	min-height: 16px;
	text-align: center;
	color: #1D1F26;
	line-height: 16px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 11px;
}

#u2370
{
	width: 87px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u2373
{
	width: 87px;
	padding-bottom: 18px;
	position: relative;
}

#u2376-4
{
	width: 64px;
	min-height: 16px;
	text-align: center;
	color: #1D1F26;
	line-height: 16px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 11px;
}

#pu2377
{
	width: 0.01px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2377
{
	z-index: 530;
	width: 380px;
	height: 390px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/ff-u2377-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2378
{
	z-index: 531;
	width: 380px;
	border-color: #000000;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2379
{
	z-index: 532;
	width: 289px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 45px;
}

#u2382-4
{
	z-index: 2;
	width: 371px;
	min-height: 61px;
	text-align: center;
	color: #1D1F26;
	line-height: 58px;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 32px;
	position: relative;
}

#u2383-4
{
	z-index: 6;
	width: 370px;
	min-height: 121px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	position: relative;
}

#u2384-4
{
	z-index: 10;
	width: 370px;
	min-height: 39px;
	text-align: center;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 40px;
	position: relative;
}

#u2385-7
{
	z-index: 14;
	width: 370px;
	min-height: 370px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	position: relative;
}

#u2386-4
{
	z-index: 21;
	width: 370px;
	min-height: 39px;
	text-align: center;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 40px;
	position: relative;
}

#pu2387-16
{
	width: 0.01px;
	margin-left: 33px;
	position: relative;
}

#u2387-16
{
	z-index: 25;
	width: 156px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2388-21
{
	z-index: 41;
	width: 98px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u2389-21
{
	z-index: 62;
	width: 58px;
	min-height: 254px;
	text-align: right;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u2390
{
	z-index: 83;
	width: 380px;
	height: 1412px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/football-u2390-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2391
{
	z-index: 84;
	width: 380px;
	height: 1412px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u2392
{
	z-index: 85;
	width: 371px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 50px 4px 58.400000000000546px 5px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2393-4
{
	z-index: 86;
	width: 371px;
	min-height: 61px;
	text-align: center;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2401
{
	z-index: 94;
	width: 303px;
	padding-bottom: 0px;
	margin-left: 33px;
	margin-top: 135px;
	position: relative;
}

#u2395
{
	z-index: 95;
	width: 90px;
	margin-left: 106px;
	position: relative;
}

#u2396
{
	z-index: 96;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2397-4
{
	z-index: 97;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2398
{
	z-index: 101;
	width: 283px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-top: 18px;
	position: relative;
}

#u2400-4
{
	z-index: 106;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2399-4
{
	z-index: 102;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u2402
{
	z-index: 110;
	width: 303px;
	padding-bottom: 0px;
	margin-left: 33px;
	margin-top: 20px;
	position: relative;
}

#u2404
{
	z-index: 111;
	width: 90px;
	margin-left: 106px;
	position: relative;
}

#u2405
{
	z-index: 112;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2406-4
{
	z-index: 113;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2403
{
	z-index: 117;
	width: 283px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-top: 18px;
	position: relative;
}

#u2407-4
{
	z-index: 122;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2408-4
{
	z-index: 118;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u2409
{
	z-index: 126;
	width: 303px;
	padding-bottom: 0px;
	margin-left: 33px;
	margin-top: 20px;
	position: relative;
}

#u2411
{
	z-index: 127;
	width: 90px;
	margin-left: 106px;
	position: relative;
}

#u2412
{
	z-index: 128;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2413-4
{
	z-index: 129;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2410
{
	z-index: 133;
	width: 283px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-top: 18px;
	position: relative;
}

#u2414-4
{
	z-index: 138;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2415-4
{
	z-index: 134;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u2416
{
	z-index: 142;
	width: 303px;
	padding-bottom: 0px;
	margin-left: 33px;
	margin-top: 20px;
	position: relative;
}

#u2418
{
	z-index: 143;
	width: 90px;
	margin-left: 106px;
	position: relative;
}

#u2419
{
	z-index: 144;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2420-4
{
	z-index: 145;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u2417
{
	z-index: 149;
	width: 283px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-top: 18px;
	position: relative;
}

#u2421-4
{
	z-index: 154;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2422-4
{
	z-index: 150;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u2394-4
{
	z-index: 90;
	width: 370px;
	min-height: 121px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 5px;
}

#u2423-4
{
	z-index: 158;
	width: 371px;
	min-height: 61px;
	text-align: center;
	color: #1D1F26;
	line-height: 58px;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 32px;
	position: relative;
}

#u2424-4
{
	z-index: 162;
	width: 370px;
	min-height: 121px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	position: relative;
}

#u2425
{
	z-index: 166;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2426
{
	z-index: 167;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2427
{
	z-index: 168;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2428-4
{
	z-index: 169;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2429
{
	z-index: 173;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2431
{
	z-index: 174;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2430
{
	z-index: 175;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2432-4
{
	z-index: 176;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2433
{
	z-index: 180;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2435
{
	z-index: 181;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2434
{
	z-index: 182;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2436-4
{
	z-index: 183;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2437
{
	z-index: 187;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2439
{
	z-index: 188;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2438
{
	z-index: 189;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2440-4
{
	z-index: 190;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2441
{
	z-index: 194;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2442
{
	z-index: 195;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2443
{
	z-index: 196;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2444-4
{
	z-index: 197;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2445
{
	z-index: 201;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2448
{
	z-index: 202;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2447
{
	z-index: 203;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2446-4
{
	z-index: 204;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2449
{
	z-index: 208;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2451
{
	z-index: 209;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2452
{
	z-index: 210;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2450-4
{
	z-index: 211;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2453
{
	z-index: 215;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2456
{
	z-index: 216;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2454
{
	z-index: 217;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2455-4
{
	z-index: 218;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2457
{
	z-index: 222;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2458
{
	z-index: 223;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2459
{
	z-index: 224;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2460-4
{
	z-index: 225;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2461
{
	z-index: 229;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2464
{
	z-index: 230;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2463
{
	z-index: 231;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2462-4
{
	z-index: 232;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2465
{
	z-index: 236;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2467
{
	z-index: 237;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2468
{
	z-index: 238;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2466-4
{
	z-index: 239;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2469
{
	z-index: 243;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2472
{
	z-index: 244;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2470
{
	z-index: 245;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2471-4
{
	z-index: 246;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2473
{
	z-index: 250;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2474
{
	z-index: 251;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2475
{
	z-index: 252;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2476-4
{
	z-index: 253;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2477
{
	z-index: 257;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2480
{
	z-index: 258;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2479
{
	z-index: 259;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2478-4
{
	z-index: 260;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2481
{
	z-index: 264;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2483
{
	z-index: 265;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2484
{
	z-index: 266;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2482-4
{
	z-index: 267;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2485
{
	z-index: 271;
	width: 214px;
	margin-left: 83px;
	margin-top: 20px;
	position: relative;
}

#u2488
{
	z-index: 272;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("../../images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2486
{
	z-index: 273;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u2487-4
{
	z-index: 274;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu2390,#pu2489
{
	width: 0.01px;
	margin-top: 50px;
	position: relative;
}

#u2489
{
	z-index: 278;
	width: 380px;
	height: 1739px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/football-u2489-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2490
{
	z-index: 279;
	width: 380px;
	height: 1739px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u2491
{
	z-index: 280;
	width: 380px;
	border-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2491_position_content
{
	margin-bottom: 1628px;
}

#u2492-4
{
	z-index: 281;
	width: 371px;
	min-height: 61px;
	text-align: center;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 32px;
	position: relative;
}

#u2493-4
{
	z-index: 285;
	width: 370px;
	min-height: 121px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 5px;
}

#slideshowu2494
{
	z-index: 289;
	width: 0.01px;
	height: 1430px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 41px;
}

#u2535
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 133px;
	left: -564px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2535popup
{
	z-index: 290;
}

#u2540
{
	z-index: 291;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2538
{
	z-index: 293;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2536
{
	z-index: 295;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2544
{
	z-index: 297;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2542
{
	z-index: 299;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2546
{
	z-index: 301;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2540_img,#u2538_img,#u2536_img,#u2544_img,#u2542_img,#u2546_img
{
	padding-top: 47px;
	padding-bottom: 47px;
}

#u2496
{
	position: absolute;
	width: 298px;
}

#u2496popup
{
	z-index: 303;
}

#u2497
{
	z-index: 304;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2497:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2505
{
	z-index: 306;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
}

#u2505:hover
{
	margin: 240px -10000px 0px 0px;
}

#u2503
{
	z-index: 308;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
}

#u2503:hover
{
	margin: 480px -10000px 0px 0px;
}

#u2501
{
	z-index: 310;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 720px;
}

#u2501:hover
{
	margin: 720px -10000px 0px 0px;
}

#u2499
{
	z-index: 312;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 960px;
}

#u2499:hover
{
	margin: 960px -10000px 0px 0px;
}

#u2507
{
	z-index: 314;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
}

#u2507:hover
{
	margin: 1200px -10000px 0px 0px;
}

#u2497_clip,#u2505_clip,#u2503_clip,#u2501_clip,#u2499_clip,#u2507_clip
{
	overflow: hidden;
	width: 298px;
	height: 230px;
}

#u2497_img,#u2505_img,#u2503_img,#u2501_img,#u2499_img,#u2507_img
{
	margin-left: -59px;
	margin-right: -59px;
}

#u2528
{
	position: absolute;
	width: 340px;
	top: 525px;
	left: -542px;
}

#u2528popup
{
	z-index: 316;
}

#u2533-4
{
	z-index: 317;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2530-4
{
	z-index: 321;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2534-4
{
	z-index: 325;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2531-4
{
	z-index: 329;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2532-4
{
	z-index: 333;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2529-4
{
	z-index: 337;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2548-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: -192px;
}

#u2548-4popup
{
	z-index: 341;
}

#u2527-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: -92px;
}

#u2527-4popup
{
	z-index: 345;
}

#u2549-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: -162px;
}

#u2549-4popup
{
	z-index: 349;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu2325,#pu2563
{
	width: 0.01px;
	position: relative;
}

#u2563
{
	z-index: 353;
	width: 380px;
	border-color: #000000;
	background-color: #FFDD00;
	position: relative;
	margin-right: -10000px;
}

#u2563_position_content
{
	margin-bottom: 6px;
}

#u2565
{
	z-index: 355;
	width: 214px;
	height: 82px;
	border-color: #000000;
	margin-left: 83px;
	position: relative;
	background: transparent url("../../images/codecanyon.png") no-repeat center center;
}

#u2564
{
	z-index: 354;
	width: 214px;
	height: 82px;
	border-color: #000000;
	margin-left: 83px;
	margin-top: 76px;
	position: relative;
	background: transparent url("../../images/audiojungle.png") no-repeat center center;
}

#u2566
{
	z-index: 356;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 83px;
	background: transparent url("../../images/themeforest.png") no-repeat center center;
}

#u2567-4
{
	z-index: 357;
	width: 371px;
	min-height: 61px;
	text-align: center;
	color: #1D1F26;
	line-height: 58px;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 32px;
	position: relative;
}

#u2568-4
{
	z-index: 361;
	width: 370px;
	min-height: 121px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	position: relative;
}

#u2569
{
	z-index: 365;
	width: 293px;
	margin-left: 44px;
	margin-top: 20px;
	position: relative;
}

#u2570
{
	z-index: 366;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u2574
{
	z-index: 375;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2571-4
{
	z-index: 367;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2572-4
{
	z-index: 371;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u2573-4
{
	z-index: 376;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2575
{
	z-index: 380;
	width: 293px;
	margin-left: 44px;
	margin-top: 19px;
	position: relative;
}

#u2578
{
	z-index: 381;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u2576
{
	z-index: 390;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2577-4
{
	z-index: 382;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2580-4
{
	z-index: 386;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u2579-4
{
	z-index: 391;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2581
{
	z-index: 395;
	width: 293px;
	margin-left: 44px;
	margin-top: 19px;
	position: relative;
}

#u2586
{
	z-index: 396;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u2583
{
	z-index: 405;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2585-4
{
	z-index: 397;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u2582-4
{
	z-index: 401;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u2584-4
{
	z-index: 406;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu2587
{
	width: 0.01px;
	margin-top: 49px;
	position: relative;
}

#u2587
{
	z-index: 410;
	width: 380px;
	height: 1153px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/football-u2587-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2588
{
	z-index: 411;
	width: 380px;
	height: 1153px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u2589
{
	z-index: 412;
	width: 380px;
	border-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dot%20hatch.png") repeat left top;
}

#u2589_position_content
{
	margin-bottom: 71px;
}

#about,#team,#gallery,#blog,#contact
{
	position: relative;
}

#u2590-4
{
	z-index: 413;
	width: 371px;
	min-height: 61px;
	text-align: center;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 32px;
	position: relative;
}

#u2617
{
	z-index: 478;
	width: 370px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 571px;
	position: relative;
}

#u2591-4
{
	z-index: 417;
	width: 370px;
	min-height: 121px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 5px;
}

#widgetu2592
{
	z-index: 421;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 5px;
}

#widgetu2611
{
	z-index: 422;
	width: 370px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu2611.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2612-4
{
	z-index: 423;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2614-4
{
	z-index: 427;
	width: 358px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

.html,#widgetu2611.non-empty-st #u2614-4
{
	background-color: #FFFFFF;
}

#widgetu2611:hover #u2614-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2611.focus-st #u2614-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2611.non-empty-st #u2614-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2611:hover #u2614-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2611.focus-st #u2614-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2594
{
	z-index: 431;
	width: 370px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu2594.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 81px -10000px 0px 0px;
}

#u2596-4
{
	z-index: 432;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu2594.fld-err-st #u2596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2595-4
{
	z-index: 436;
	width: 358px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu2594.non-empty-st #u2595-4
{
	background-color: #FFFFFF;
}

#widgetu2594:hover #u2595-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2594.focus-st #u2595-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2611.fld-err-st #u2614-4,#widgetu2594.fld-err-st #u2595-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2594.non-empty-st #u2595-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2594:hover #u2595-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2594.focus-st #u2595-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2611_input,#widgetu2611_prompt,#widgetu2594_input,#widgetu2594_prompt
{
	width: 358px;
	min-height: 28px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u2616-4
{
	z-index: 440;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2592.frm-sub-st #u2616-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2593-4
{
	z-index: 444;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2592.frm-subm-err-st #u2593-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2610-4
{
	z-index: 448;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2592.frm-sub-st #u2616-4,#widgetu2592.frm-subm-err-st #u2593-4,#widgetu2592.frm-subm-ok-st #u2610-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2592.frm-subm-ok-st #u2610-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2599-17
{
	z-index: 452;
	min-height: 45px;
	width: 370px;
	background: url("../../images/u2599-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
}

#u2599-17:hover
{
	background: url("../../images/u2599-17-r.png") no-repeat 0px 0px;
}

#u2599-17:active
{
	background: url("../../images/u2599-17-m.png") no-repeat 0px 0px;
}

#widgetu2592.frm-sub-st #u2599-17
{
	background: url("../../images/u2599-17-fs.png") no-repeat 0px 0px;
}

#widgetu2600
{
	z-index: 469;
	width: 370px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#widgetu2600.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 162px -10000px 0px 0px;
}

#u2603-4
{
	z-index: 470;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu2611.fld-err-st #u2612-4,#widgetu2600.fld-err-st #u2603-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2611.fld-err-st #u2612-4 p,#widgetu2611.fld-err-st #u2612-4 span,#widgetu2594.fld-err-st #u2596-4 p,#widgetu2594.fld-err-st #u2596-4 span,#widgetu2600.fld-err-st #u2603-4 p,#widgetu2600.fld-err-st #u2603-4 span
{
	color: #D7244C;
}

#u2604-4
{
	z-index: 474;
	width: 358px;
	min-height: 139px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu2600.non-empty-st #u2604-4
{
	background-color: #FFFFFF;
}

#widgetu2600:hover #u2604-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2600.focus-st #u2604-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2600.fld-err-st #u2604-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu2600.non-empty-st #u2604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2600:hover #u2604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2600.focus-st #u2604-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2611.fld-err-st #u2614-4 *,#widgetu2594.fld-err-st #u2595-4 *,#widgetu2600.fld-err-st #u2604-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2600_input,#widgetu2600_prompt
{
	width: 358px;
	min-height: 139px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu2611.focus-st #widgetu2611_prompt,#widgetu2594.focus-st #widgetu2594_prompt,#widgetu2600.focus-st #widgetu2600_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2611:hover #widgetu2611_input,#widgetu2611.focus-st #widgetu2611_input,#widgetu2611.fld-err-st #widgetu2611_input,#widgetu2611:hover #widgetu2611_prompt,#widgetu2611.fld-err-st #widgetu2611_prompt,#widgetu2594:hover #widgetu2594_input,#widgetu2594.focus-st #widgetu2594_input,#widgetu2594.fld-err-st #widgetu2594_input,#widgetu2594:hover #widgetu2594_prompt,#widgetu2594.fld-err-st #widgetu2594_prompt,#widgetu2600:hover #widgetu2600_input,#widgetu2600.focus-st #widgetu2600_input,#widgetu2600.fld-err-st #widgetu2600_input,#widgetu2600:hover #widgetu2600_prompt,#widgetu2600.fld-err-st #widgetu2600_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2611.non-empty-st #widgetu2611_prompt,#widgetu2594.non-empty-st #widgetu2594_prompt,#widgetu2600.non-empty-st #widgetu2600_prompt
{
	visibility: hidden;
}

#u2619
{
	z-index: 479;
	width: 370px;
	border-color: #000000;
	background-color: #1D1F26;
	position: relative;
	top: -1px;
	margin-bottom: -1px;
	padding: 110px 5px 5px;
}

#pu2625
{
	width: 0.01px;
	margin-left: 79px;
	position: relative;
}

#u2625
{
	z-index: 488;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("../../images/facebook.png") no-repeat center center;
}

#u2625:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/facebook.png") no-repeat center center;
}

#u2623
{
	z-index: 486;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
	background: #FFDD00 url("../../images/google%20plus.png") no-repeat center center;
}

#u2623:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/google%20plus.png") no-repeat center center;
}

#u2621
{
	z-index: 484;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
	background: #FFDD00 url("../../images/youtube.png") no-repeat center center;
}

#u2621:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/youtube.png") no-repeat center center;
}

#u2622
{
	z-index: 485;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 129px;
	background: #FFDD00 url("../../images/skype.png") no-repeat center center;
}

#u2622:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/skype.png") no-repeat center center;
}

#u2624
{
	z-index: 487;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
	background: #FFDD00 url("../../images/twitter.png") no-repeat center center;
}

#u2624:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("../../images/twitter.png") no-repeat center center;
}

#u2620-4
{
	z-index: 480;
	width: 370px;
	min-height: 28px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 67px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

