*{
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover {
    color: #4A90E2;
    text-decoration: none;
    transition: all 300ms ease;
}
a:focus {
    text-decoration: none;
    color: auto;
}
.wrapper {
	float: left;
	width: 100%;
	margin-top: 30px;
}
/* Top bar */
.top-bar {
	width: 100%;
	float: left;
	background: #616161;
	box-shadow: 0 1px 4px 0 #000000;
	height: 74px;
}
.top-bar .logo{
	margin-top: 12px;
	margin-right: 50px;
	float: left;
}
.top-bar .logo img{
	width: 120px;
}
.top-bar ul li {
	float: left;
	margin: 0 15px;
	
}
.top-bar ul li a{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.top-bar ul li a:hover{
	text-decoration: none;
}
.top-bar ul{
	margin-top: 25px;
}
.top-bar .login {
	float: right;
	font-size: 16px;
	color: #fff;
}
.top-bar .login a {
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}
/* left side */
.left-side .title-wrap{
	position: relative;
	margin: 10px 0;
}
.left-side h2{
	font-size: 20px;
	letter-spacing: 1.2px;
	background: #fff;
	padding-right: 7px;
	display: table;
	position: relative;
	z-index: 1;
}
.left-side .title-wrap:after{
	width: 100%;
	position: absolute;
	height: 3px;
	content: '';
	background: #558B2F;
	bottom: 0;
	left: 0;
}
/* match-center */
.match-center {
	margin-top: 20px;
}
.match-center.in_champ{
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.tabs {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.tab {
	color: #558B2F;
	padding: 5px 15px;
	float: left;
	letter-spacing: 1.1px;
	border-radius: 2px;
	font-size: 12px;
	margin-right: 7px;
	cursor: pointer;
    transition: all 300ms ease;
}
.tab:hover{
	background: #E0E0E0;
	color: #616161;    
}
.tab.active{
	background: #E0E0E0;
	color: #616161;
}
.matches-table-list {
    display: none;
    opacity: 0;
    transition: all 300ms ease;
}
.matches-table-list.active {
    display: block;
    opacity: 1;
    transition: all 300ms ease;
}
.matches-table {
	float: left;
	width: 100%;
	background: #FAFAFA;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	margin-bottom: 15px;
}
.matches-table-title {
	background: #F5F5F5;
	font-size: 12px;
	padding: 6px 15px;
}
.matches-table-title img{
    height: 18px;
	margin-right: 7px;
}
.matches-table-title span {
	letter-spacing: 0.8px;
	font-size: 12px;
	line-height: 12px;
}
.matches-list {
	margin-top: 15px;
	float: left;
	width: 100%;
}
.match-item {
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 0.4px;
	background: #fff;
	width: 47.2%;
	float: left;
	background: #fff;
	margin: 0 0.7% 15px 2.1%;
	transition: all 300ms ease;
}
.match-item:nth-child(even){
	margin: 0 2.1% 15px 0.7%;
}
.match-item:hover{
	box-shadow: 0 1px 4px 0 #C3C3C3;
}
.match-item span.match-item-dt {
	color: #616161;
	margin-right: 10px;
}
.match-item b{
	float: right;
}
.match-item a {
	display: block;
	padding: 0 15px;
    color: #000;
}
.match-item a:hover{
	color: #4A90E2;
	text-decoration: none;
}
.match-item b{
	color: #000;
}
/* news block */
.news-block {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.hot-news {
	height: 300px;
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	position: relative;
}
.hot-news img {
	width: 400px;
	height: 300px;
	float: left;
	margin-right: 20px;
}
.hot-news .news-title {
	color: #212121;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1.2px;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
}
.hot-news p{
	color: #212121;
	line-height: 16px;
}
.hot-news .news-dt{
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #616161;
	font-size: 15px;
}
.simple-news {
	margin-top: 25px;
	float: left;
	width: 100%;
}
.simple-news .new-news{
	width: 31.333333%;
	float: left;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	margin-bottom: 15px;
    padding-bottom: 40px;
	color: #616161;
	position: relative;
    min-height: 410px;
}
.simple-news .new-news .news-dt {
	position: absolute;
    bottom: 7px;
	right: 15px;
}
.simple-news .news-title {
    width: 100%;
    float: left;
    display: block;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 10px 10px;
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}
.simple-news p{
    padding: 0 10px;
    display: block;
    float: left;
    line-height: 20px;
    overflow: hidden;
    max-height: 80px;
}
.simple-news .new-news:nth-child(3n+2){
	margin: 0px 1% 15px;
}
.simple-news .new-news:nth-child(3n+1){
	margin-right: 2%;
}
.simple-news .new-news:nth-child(3n+3){
	margin-left: 2%;
}
.simple-news img {
	width: 100%;
	height: 200px;
}
.all-news-btn-a {
	display: table;
	width: 31.33333%;
	margin: 0 auto;
}  
.all-news-btn {
	display: table;
	margin: 15px auto 0px;
	background: #558B2F;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	border-radius: 2px;
}
/* photo-galler */
.photo-gallery {
	margin-top: 35px;
	float: left;
	width: 100%;
}
.gallery-item {
	width: 31.33333%;
	float: left;
	margin-bottom: 2%;
	position: relative;
}
.gallery-item:nth-child(3n+2){
	margin: 0px 1% 2%;
}
.gallery-item:nth-child(3n+1){
	margin-right: 2%;
}
.gallery-item:nth-child(3n+3){
	margin-left: 2%;
}
.gallery-item img {
	width: 100%;
	height: 200px;
}
.gallery-list {
	margin-top: 25px;
}
.gallery-item span {
	position: absolute;
	bottom: 0;
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1.1px;
	background: rgba(0,0,0,0.35);
	padding-bottom: 10px;
	padding-top: 10px;
}
/* matchpage */
.scoretable {
	width: 100%;
	float: left;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	margin-top: 40px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.scoretable h1{
	text-align: center;
	font-size: 18px;
}
.scoretable .match-tour{
	font-weight: 500;
	text-align: center;
	display: block;
	font-size: 17px;
}
.match-team-logos img{
	float: left;
	width: 140px;
}
.match-team-logos {
	display: table;
	margin: 0 auto;
}
.match-team-logos .score {
	float: left;
	width: 300px;
	font-size: 36px;
	text-align: center;
	line-height: 140px;
	letter-spacing: 10px;
}
.match-team-names {
	display: table;
	margin: 0 auto;
}
.match-team-names a{
	width: 150px;
	float: left;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}
.match-team-names > div{
	width: 300px;
	float: left;
}
.match-team-names > div > span{
	display: block;
	text-align: center;
	font-size: 12px;
}
.match-team-names .match-date{
	color: #ABABAB;
}
.match-team-names .match-status{
	color: #558B2F;
}
.scoretable .progress-bl{
	width: 90%;
	display: table;
	margin: 0 auto;
}
.scoretable .progress-bl .curr_min {
	float: right;
	color: #333;
	width: 25px;
	text-align: center;
	margin-right: -11px;
	margin-top: -19px;
}
.scoretable .progress-bl .curr_min span{
	display: table;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	left: 1px;
	color: #333;
	padding: 0 5px 0 6px;
	text-align: center;
	font-weight: 500;
}
/* match-tabs */
.match-tabs {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	background: #F5F5F5;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	height: 45px;
}
.match-tabs .match-tab {
	float: left;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	transition: all 300ms ease;
	font-size: 14px;
	color: #558B2F;
}
.match-tabs .match-tab:hover, .match-tabs .match-tab.active {
	background: #558B2F;
	color: #fff;
}
/* tab sostav */
.command-sostav {
    display: table;
    margin: 15px auto;
    position: relative;
    box-shadow: 0 1px 4px 0 #C3C3C3;
}
.zapasnie , .osnova , .arrangement{
    float: left;
    width: 100%;
}
.players-on-stadium {
    position: absolute;
    top: 0;
}
.players-on-stadium > div > div:hover{
    margin-bottom: -27px;
}
.players-on-stadium > div > div:hover img{
    width: 70px;
    transition: 300ms all ease;
    
}
.players-on-stadium > div > div:hover span{
    font-size: 13px;
    border-bottom: 1px solid #fff;
    transition: 300ms all ease;
}
.players-on-stadium > div > div img{
    width: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}
.players-on-stadium > div > div span{
    text-align: center;
    display: table;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
}
.players-on-stadium > div > div b{
    margin-right: 3px;
    text-decoration: none!important;
}
.players-on-stadium > div {
    float: left;
    width: 100%;
}
.forwards {
    margin-top: 100px;
}
.halfback {
    margin-top: 48px;
}
.defender {
    margin-top: 50px;
}
.goalkeeper {
    margin-top: 23px;
}
.osnova table img , .zapasnie table img{
    width: 30px;
    border-radius: 50%;
}
.osnova table , .zapasnie table{
    width: 90%;
    margin: 0 auto 20px;
}
.osnova table tr:last-child td, .zapasnie table tr:last-child td{
    border-bottom: 0!important;
}
.osnova span , .zapasnie span{
    font-size: 19px;
    display: block;
    margin: 5px 0;
    margin-left: 6%;    
}
.osnova table td , .zapasnie table td{
    text-align: center;
    font-size: 16px;
    padding-bottom: 3px!important;
    border-top: 0!important;
    border-bottom: 1px solid #ddd!important;
}
.osnova table td:last-child , .zapasnie table td:last-child{
    text-align: left;
}
.osnova table td.photo , .zapasnie table td.photo{
    width: 35px;
}
.osnova .table tr:hover .hidden-card {
    opacity: 1;
}
.osnova .table tr td.card-parent{
    position: relative;
}
.hidden-card {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 41px;
    right: -1px;
    background: #fff;
    z-index: 555;
    border-radius: 5px;
    overflow: hidden;
    width: 180px;
    color: #333;
    //transition: all 300ms ease;
    border-radius: 5px;
    background-image: linear-gradient(169deg, #fec93e, #e45d29);
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.17);
}
.hidden-card.silver {
    background-image: linear-gradient(170deg, #dadada, #728e9b);
}
.hidden-card .black {
    background-image: linear-gradient(169deg, #545454, #111111);
}
.hidden-card .blue {
    background-image: linear-gradient(169deg, #55c4f5, #2278cf);
}
.hidden-card .brown {
    background-image: linear-gradient(174deg, #a27c60, #4d342f);
}
.hidden-card span.name{
    font-size: 16px;
    display: block;
    float: left;
    width: 100%;
    padding: 6px 0;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
}
.osnova table .tm-img {
    border-radius: 0;
    width: 45px;
    float: left;
    margin-left: 10px;
}
.osnova table .pl-img {
    border-radius: 0%;
    width: 115px;
    float: right;
    margin-right: 10px;
}
.osnova table .flg-img {
    border-radius: 0%;
    float: left;
    width: 35px;
    margin-left: 15px;
    margin-top: 10px;
}
.hidden-card .poz  {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.21);
    width: 100%;
    padding: 0 10px;
    float: left;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
}
.hidden-card .poz i {
    width: 40px;
    height: 40px;
    float: left;
    background: url(/static/new/img/t-shirt.png)no-repeat 50%;
    color: orange;
    text-align: center;
    line-height: 43px;
    font-size: 13px;
}
.hidden-card p{
    width: 100%;
    float: left;
    margin: 0;
    line-height: 20px;
    display: block;
    font-size: 15px;
    color: #fff;
    padding: 4px 10px 4px;
}
.hidden-card p b{
    font-weight: normal;
    float: right;
    margin-right: 10px;
}
.hidden-card .line {
    width: 100%;
    float: left;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.21);
}

/* tab online-text */
.new-line {
    max-height: 0;
    width: 100%;
    float: left;
}
.txt-line {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    transition: all 300ms ease;
}
.txt-line.fresh{
    opacity: 0;
}
.txt-line.green .text{
    border-color: #4CAF50;
}
.txt-line.red .text{
    border-color: #F44336;
}
.txt-line.yellow .text{
    border-color: #FDD835;
}
.txt-line.blue .text{
    border-color: #2196F3;
}
.txt-line .min{
    width: 10%;
    float: left;
    font-size: 15px;
    text-align: center;
    position: relative;
}
.txt-line .min span {
    display: table;
    margin: 5px auto 0;
    background: #fff;
    position: relative;
    z-index: 5;
    padding: 7px 0;
}
.txt-line .min .after {
    width: 4px;
    height: 50px;
    position: absolute;
    background: #F5F5F5;
    top: 33px;
    left: 7px;
}
.txt-line:last-child .min .after {
    display: none;
}
.txt-line.fresh .min .after {
    display: block!important;
}
.txt-line .text {
    width: 90%;
    float: left;
    padding: 10px;
    box-shadow: 0 1px 4px 0 #C3C3C3;
    border-radius: 2px;
    border-bottom: 4px solid #F5F5F5;
}
/* tab statistic */
.content-tabs {
    float: left;
    width: 100%;   
}
.content-tabs .content-tab{
    display: none;
    float: left;
    width: 100%;
    padding-top: 15px;    
}
.content-tabs .content-tab.active {
    display: block;
}
.teams-stat-logos {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	padding: 20px 0;
}
.obzor .teams-stat-logos {
	box-shadow: 0 0 0 0;	
}
.teams-stat-logos img{
	width: 120px;
	float: left;
}
.teams-stat-logos p{
	float: left;
	display: block;
	width: 200px;
	line-height: 120px;
	font-size: 18px;
	text-align: center;
}
.teams-stat-logos span {
	float: left;
	width: 120px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.7px;
}
.teams-stat-logos .center {
	display: table;
	margin: 0 auto;
}
.goals {
	width: 100%;
	float: left;
}
.goals .first_team {
	padding-left: 0;
}
.goals .second_team {
	padding-right: 0;
}
.goals .goal {
	box-shadow: 0 1px 4px 0 #C3C3C3;
    padding: 13px 10px 10px 50px;
	height: 60px;
    position: relative;
	margin-bottom: 10px;
}
.goals .goal img {
	float: left;
	margin: 0 10px 0 0;
}
.goals .goal i, .goals .goal img {
    float: left;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 3px;
    color: #2196F3;
    position: absolute;
    left: 10px;
    top: 13px;
    width: 30px;
    height: 30px;
}
.goals .goal p{
	width: 100%;
	font-size: 12px;
	display: block;
	float: left;
    margin: 0;
}
.goals .goal p span {
    font-size: 13px;
    color: #7f8992;
}
.goals .goal p.name {
	font-size: 14px;
}
.goals .goal p.minute {
	color: #616161;
	font-size: 12px;
}
.statistica {
	width: 100%;
	border-top: 1px solid #D8D8D8;
	margin-top: 20px;
	float: left;
}
.statistica tr{
	border-bottom: 1px solid #D8D8D8;
}
.statistica td{
	width: 33.3%;
	text-align: center;
	padding: 10px 0;
	color: #616161;
}
.statistica td:first-child{
	padding-left: 20px;
	text-align: left;
	color: #000;
	font-weight: bold;
}
.statistica td:last-child {
	text-align: right;
	padding-right: 20px;
	color: #000;
	font-weight: bold;
}
.ekshn-list {
	display: table;
	width: 660px;
	margin: 0 auto;
}
.ekshn-list > div {
	width: 100%;
	float: left;
	margin-bottom: 25px;
}
.ekshn-list .first_team .name-wrap{
    position: relative;
}
.ekshn-list .first_team .name-wrap .rhomb {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
}
.ekshn-list .first_team div {
	float: left;
	font-size: 14px;
}
.ekshn-list .red .name {
	border-bottom: 4px solid #F44336;
}
.ekshn-list .yellow .name {
	border-bottom: 4px solid #FDD835;
}
.ekshn-list .blue .name {
	border-bottom: 4px solid #2196F3;
}
.ekshn-list .green .name {
	border-bottom: 4px solid #4CAF50;
}
.ekshn-list .two_yellow .name {
	border-bottom: 4px solid #F44336;    
}
.ekshn-list .name {
	width: 290px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	padding: 10px 20px 7px;
	border-radius: 2px;
	text-transform: uppercase;
    position: relative;
}
.ekshn-list span {
	display: block;
	font-size: 13px;
}
.ekshn-list span:before{
    content: '';
    width: 14px;
    height: 8px;
}
.ekshn-list span.in:before{
    background: url(/static/new/img/zamena-out.png)
}
.ekshn-list span.out:before{
    background: url(/static/new/img/zamena-in.png)
}
.ekshn-list .icon {
	line-height: 41px;
	width: 80px;
	text-align: center;
	position: relative;
}
.ekshn-list .icon:after {
	content: '';
	width: 4px;
	height: 25px;
	position: absolute;
	background: #F5F5F5;
	bottom: -25px;
	left: 37.5px;
}
.ekshn-list > div:last-child .icon:after {
	display: none;
}
.ekshn-list .second_team div {
	float: right;
	font-size: 14px;
}
.ekshn-list .second_team .name {
	text-align: right;
}
.ekshn-list .minute {
	line-height: 41px;
	color: #212121;
}
.ekshn-list .icon img{
    transition: all 1500ms ease;
}
.ekshn-list .icon img.active{
    transform: rotate(360deg);
}
/* right side */
.search{
	margin-top: 40px;
	box-shadow: 0 1px 4px 0 #C3C3C3;
	padding: 0px 0 0 10px;
	line-height: 20px;
	font-size: 14px;
	float: left;
	width: 100%;
}
.search input[type="text"]{
	width: 85%;
	padding-top: 6px;
	float: left;
}
.search button{
	width: 15%;
	float: left;
	background: #558B2F;
	height: 32px;
	color: #fff;
}
.r-title{
	background: #F5F5F5;
	padding: 6px 15px;
	letter-spacing: 0.8px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
}
.tournaments-right .r-title {
	margin-bottom: 15px;
}
.tournaments-right {
	float: left;
	width: 100%;
	background: #FAFAFA;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	margin-top: 32px;
	padding-bottom: 15px;
}
.tournaments-right .tourn {
	padding: 15px 0;
	background: #fff;
    transition: all 300ms linear;
    cursor: pointer;
}
.tournaments-right .tourn:hover {
    box-shadow: 0 1px 3px 0 #C3C3C3;
}
.tournaments-right a{
    display: block;
    margin: 10px 15px 0;
    border: 1px solid #eee;
}
.tournaments-right .tourn a{
	font-weight: 500;
	letter-spacing: 0.8px;
	font-size: 13px;
}
.tournaments-right .tourn img {
	margin-left: 15px;
	margin-right: 10px;
	width: 19px;
}
/* matches right */
.next-matches-right {
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	background: #FAFAFA;	
	padding-bottom: 14px;
}
.next-matches-right a{
    display: block;
    margin: 10px 15px 0;
}
.match-r-bl {
	padding: 7px;
	background: #fff;
	font-size: 12px;
    transition: all 300ms ease;
    border: 1px solid #eee;
}
.matches-right a:hover {
    box-shadow: 0 1px 3px 0 #C3C3C3;
}
.match-r-bl div {
	margin-top: 7px;
	font-size: 13px;
}
.match-r-bl span {
	color: #616161;
	font-weight: 400;
}
.match-r-bl img{
	width: 23px;
	margin-right: 7px;
	position: relative;
	bottom: 2px;
	border: 1px solid #eee;
}
/* right news */
.right-news {
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	background: #FAFAFA;	
	padding-bottom: 14px;
}
.r-news {
	margin: 10px 15px 0;
}
.r-news span{
	color: #616161;
	font-size: 11px;
	display: block;
	margin-bottom: 4px;
}
.r-news a {
	font-weight: 500;
}
/* last video */
.last-video {
	float: left;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	background: #FAFAFA;	
	padding-bottom: 14px;
}
.lst-video {
    margin: 10px 15px 0;
}
.lst-video iframe{
    width: 100%;
    height: 125px;
}
.lst-video span {
    color: #616161;
    font-size: 11px;
    display: block;
    margin-bottom: 4px;
}
.lst-video a{
    font-weight: 500;
}
/* page team */
.team-head {
    margin-top: 40px;
	box-shadow: 0 1px 3px 0 #C3C3C3;
	float: left;
	width: 100%;
	padding: 20px 0;
	margin-bottom: 25px;
}
.t-head-img {
    float: left;
}    
.t-head-info{
    float: left;
}
.t-head-img img {
    height: 180px;
    margin-left: 60px;
    float: left;
    margin-right: 40px;
}
.t-head-info .team-name{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    color: #000;
    width: 100%;
    float: left;
}
.infoblocks {
    float: left;
}
.infoblocks .inf-line {
    margin-bottom: 8px;
    position: relative;
}
.infoblocks .inf-line a{
    color: #4A90E2;
}
.t-head-info span{
    color: #616161;
    width: 140px;
    display: table;
    float: left;
    letter-spacing: 0.3px;
}
.infoblocks.champ .inf-line span{
    width: 190px;
}
.infoblocks.champ .inf-line img{
    position: absolute;
    top: -11px;
    margin-left: 5px;
}
.team-preview , .team-content{
	box-shadow: 0 1px 3px 0 #C3C3C3;
	padding: 15px;
	margin-bottom: 15px;
	float: left;
}
.team-preview img {
    float: left;
    margin: 0 15px 15px 0;
    height: 200px;
}

#info h2 {
    margin: 10px 0!important;
}
.table.sostav th{
    font-weight: normal;
    color: #616161;
    border-top: 0;
}
.table.sostav td:first-child, .table.sostav th:first-child {
    text-align: center;
}
.table.sostav td {
    line-height: 40px;
    font-size: 14px;
}
.table.sostav .player-img img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.table.sostav .flg {
    border: 1px solid #eee;
    height: 20px;
    margin-right: 5px;
}
.team-news {
    height: 160px;
    float: left;
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 1px 4px 0 #C3C3C3;
    position: relative;
}
.team-news div {
    padding: 0;
    position: static;
}
.team-news img {
    height: 160px;
    float: left;
}
.team-news .col-md-4{
    margin-right: -35px;
}
.team-news .news-title {
    color: #212121;
    font-size: 16px;
    letter-spacing: 0.4px;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    float: left;
}
.team-news .news-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #616161;
    font-size: 15px;    
}
.team-news p{
    font-size: 13px;
    display: block;
    float: left;
    line-height: 18px;
    max-height: 72px;
    overflow: hidden;
}
#matches .match-item {
    width: 95%;
    border: 1px solid #eee;
}
#matches .match-item.win {
    border: 1px solid #A6D5A9;
}
#matches .match-item.lose {
    border: 1px solid #FFBABA;
}
#matches .match-item.draw {
    border: 1px solid #FEEC64;
}
.match-item span.match-item-dt {
    color: #616161;
    margin-right: 0;
}
#matches .match-item b {
    font-weight: normal;
    text-align: right;
}
#matches .match-item:nth-child(even) {
    margin: 0 0.7% 15px 2.1%;
}
#matches .match-item img {
    height: 15px;
    border: 1px solid #eee;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}
/* footer */
.footer{
	background: #212121;
	float: left;
	width: 100%;
	margin-top: 40px;
}
.footer ul li {
	float: left;
	margin: 0 30px;
	
}
.footer ul li a{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.footer ul li a:hover{
	text-decoration: none;
}
.footer ul{
	margin-top: 25px;
}
.footer nav {
	display: table;
	margin: 0 auto;
	margin-bottom: 25px;
}
.footer .copyright {
	text-align: center;
	color: #fff;
	padding-bottom: 15px;
}