@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('/static/roboto/robotothin.woff2') format('woff2'), url('/static/roboto/robotothin.woff') format('woff'), url('/static/roboto/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('/static/roboto/robotothinitalic.woff2') format('woff2'), url('/static/roboto/robotothinitalic.woff') format('woff'), url('/static/roboto/robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('/static/roboto/robotolight.woff2') format('woff2'), url('/static/roboto/robotolight.woff') format('woff'), url('/static/roboto/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('/static/roboto/robotolightitalic.woff2') format('woff2'), url('/static/roboto/robotolightitalic.woff') format('woff'), url('/static/roboto/robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('/static/roboto/roboto.woff2') format('woff2'), url('/static/roboto/roboto.woff') format('woff'), url('/static/roboto/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('/static/roboto/robotoitalic.woff2') format('woff2'), url('/static/roboto/robotoitalic.woff') format('woff'), url('/static/roboto/robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/static/roboto/robotomedium.woff2') format('woff2'), url('/static/roboto/robotomedium.woff') format('woff'), url('/static/roboto/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/static/roboto/robotomediumitalic.woff2') format('woff2'), url('/static/roboto/robotomediumitalic.woff') format('woff'), url('/static/roboto/robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/static/roboto/robotobold.woff2') format('woff2'), url('/static/roboto/robotobold.woff') format('woff'), url('/static/roboto/robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/static/roboto/robotobolditalic.woff2') format('woff2'), url('/static/roboto/robotobolditalic.woff') format('woff'), url('/static/roboto/robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('/static/roboto/robotoblack.woff2') format('woff2'), url('/static/roboto/robotoblack.woff') format('woff'), url('/static/roboto/robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/static/roboto/robotoblackitalic.woff2') format('woff2'), url('/static/roboto/robotoblackitalic.woff') format('woff'), url('/static/roboto/robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
