@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('/static/robotoC/robotocondensedlight.woff2') format('woff2'), url('/static/robotoC/robotocondensedlight.woff') format('woff'), url('/static/robotoC/robotocondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('/static/robotoC/robotocondensedlightitalic.woff2') format('woff2'), url('/static/robotoC/robotocondensedlightitalic.woff') format('woff'), url('/static/robotoC/robotocondensedlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('/static/robotoC/robotocondensed.woff2') format('woff2'), url('/static/robotoC/robotocondensed.woff') format('woff'), url('/static/robotoC/robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('/static/robotoC/robotocondenseditalic.woff2') format('woff2'), url('/static/robotoC/robotocondenseditalic.woff') format('woff'), url('/static/robotoC/robotocondenseditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('/static/robotoC/robotocondensedbold.woff2') format('woff2'), url('/static/robotoC/robotocondensedbold.woff') format('woff'), url('/static/robotoC/robotocondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('/static/robotoC/robotocondensedbolditalic.woff2') format('woff2'), url('/static/robotoC/robotocondensedbolditalic.woff') format('woff'), url('/static/robotoC/robotocondensedbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
