@import "http://webfonts.ru/import/texgyreadv.css";
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
	font-family: 'Roboto', sans-serif;
}
html,body,a{
	text-decoration:none;
}
.title-row {
    float: left;
    width: 100%;
}
/*--- Header Parts Starts Here ---*/
.header{
	background:#151515;
	padding:10px 0;
}
.logo{
	float:left;
}
.navigation{
	float:right;
	color: #51b105;
}
.navigation ul.nav li{
	display: inline-block;
}
.navigation ul.nav li a{
	color:#fff;
	font-size:18px;
	text-decoration:none;
}
.navigation ul.nav li a:hover{
	color:#51b105;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.navigation span.menu{
	display: none;
}
@media (max-width:768px){
	.navigation{
		width:100%;
	}
	.navigation span.menu{
		display: block;
		background:none;
		float:right;
		cursor: pointer;
		//margin-top:-35px;
	}
	.navigation ul.nav {
		display: none;
		margin-top:20px;
		width:100%;
		background:#fff;
	}
	.navigation ul.nav li{
		display:block;
		text-align:center;
		border-bottom:1px solid #51b105;
	}
}
/*--- Header Parts Ends Here ---*/
/*--- Banner Parts Start Here ---*/
.banner{
	background:url(/media/images/Z.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-moz-background-size:cover;
	padding:2em 0;
    background-position: 50% 55%;
}
.banner-top{
	padding:10em 0 0;
	min-height:500px;
}
.banner-top h1{
	font-weight:700;
	font-size:5.5em;
	color:#fff;
}
.banner-top p{
	font-weight:600;
	font-size:24px;
	padding:0 0 1em 0;
	color: #fff;
	margin: 1% 51% 4% 0;
}
.champs-desc {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #c5c5c5;
}
.champs-desc img{
    margin-bottom: 15px;
}
.champs {
    margin: 20px 0;
}
.champs img{
    width: 100%;
}
.place_champ{
    border: #C0D0D4 1px solid;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}
.banner-top a{
	border:0;
	background:#45a608;
	color:#fff;
	text-transform: uppercase;
	text-decoration:none;
	padding: 0.85em 2.5em;
	font-weight: 700;
	font-size: 24px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
}
.banner-top a:hover{
	background:#391b0b;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
span.ad{
	width:35px;
	height:35px;
	background:url(/media/images/ad-loc.png)no-repeat;
	display: block;
	float: left;
	margin-right: 1em;
}
span.loc{
	width:35px;
	height:35px;
	background:url(/media/images/ph.png)no-repeat;
	display: block;
	float: left;
	margin:0 1em 1em 0;
}
/*--- Banner Parts Ends Here ---*/
/*--- Content Parts Starts Here ---*/
.content{
	padding:4em 0;
}
.content-row-column{
	text-align:center;
}
.content-row-column i{
	width:303px;
	height:134px;
	display:inline-block;
	box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-o-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
.content-row-column i.icon1{
	background:url(/media/images/icon1.png)no-repeat;
}
.content-row-column i.icon2{
	background:url(/media/images/icon2.png)no-repeat;
}
.content-row-column i.icon3{
	background:url(/media/images/icon3.png)no-repeat;
}
.content-row{
	margin-bottom:10%;
}
.content-row-column h3{
	font-weight:400;
	font-size:30px;
	color: #939292;
	padding: 0.5em 0;
}
.content-row-column p{
	margin:0 10%;
	font-size:16px;
	color:#939292;
}
span.line{
    width: 18%;
	float:left;
	height:1px;
	background:rgba(147, 146, 146, 0.4);
	display: block;
	margin-top:21px;
}
span.line-anchor{
	text-decoration:none;
	color:#FFF;
	background:#52b106;
	text-transform: uppercase;
	float: left;
	width:60%;
	margin:0 15px;
	text-align:center;
	padding:10px 0;
	font-size:20px;
	font-weight:700;
	cursor: text;
    margin-bottom: 10px;
}
.middle-row-column{
	text-align:center;
}
img.icon4{
	width:286px;
	height:215px;
	display:block;
	box-shadow: 0px 4px 9px -1px #999;
	-webkit-box-shadow: 0px 4px 9px -1px #999;
	-moz-box-shadow: 0px 4px 9px -1px #999;
	-o-box-shadow: 0px 4px 9px -1px #999;
	-ms-box-shadow: 0px 4px 9px -1px #999;
}
img.bua{
	width:250px;
	height:240px;
	display:block;
	box-shadow: 0px 4px 9px -1px #999;
	-webkit-box-shadow: 0px 4px 9px -1px #999;
	-moz-box-shadow: 0px 4px 9px -1px #999;
	-o-box-shadow: 0px 4px 9px -1px #999;
	-ms-box-shadow: 0px 4px 9px -1px #999;
}
i.icon5{
	width:48px;
	height:48px;
	background:url(/media/images/cli-cote.png)no-repeat;
	display:block;
}
.middle-row-column-right{
	text-align:left;
	padding:3em 2em 0;
}
.middle-row-column-right p{
	font-size:18px;
	font-weight:400;
	color:#939292;
	font-style: italic;
	margin-right:10%;
	padding:10px 0;
}
.content-middle-row{
	margin:2em 0;
}
.content-bottom-row{
	padding:2em 0 0 0;
}
.bottom-row-column p.ph{
	font-size:14px;
	color:#939292;
	width: 60%;
	float: left;
	margin-top: 5px;
}
.bottom-row-column a{
	font-size:14px;
	color:#939292;
	background:url(/media/images/mail.png)no-repeat left;
	padding:15px 50px;
	text-decoration:none;
}
.bottom-row-column a:hover{
	color:#52b106;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.bottom-row-column p.ad{
	font-size:14px;
	color:#939292;
	width: 60%;
	float: left;
}
.bottom-row-column iframe{
	width:330px;
	height:250px;
}
/*--- Content Parts Ends Here ---*/
/*--- Footer Starts Here ---*/
.footer{
	padding:20px 0;
 }
ul.social{
	float:left;
}
ul.social li{
	display: inline-block;
}
ul.social li i{
	width:35px;
	height:35px;
	background:url(/media/images/img-sprite.png)no-repeat;
	display: inline-block;
	cursor:pointer;
}
ul.nav {
	margin-top: 9px;
}
ul.social li i:hover{
	opacity:0.5;
}
ul.social li i.fa{
	background-position:0px 0px;
}
ul.social li i.tw{
	background-position:-38px 0px;
}
ul.social li i.pin{
	background-position:-78px 0px;
}
ul.social li i.in{
	background-position:-117px 0px;
}
p.copyright{
	float:right;
	font-size:13px;
	color:#939292;
}
p.copyright a{
	text-decoration:none;
	color: #52b106;
}
p.copyright a:hover{
	color:#939292;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--- FOoter Ends Here ---*/
/*--- About part Starts Here ----*/
.about-top{
	padding:1em 0;
}
.about-top-row{
	padding:2em 0;
}
.about-column h3{
	text-transform:uppercase;
	font-weight:600;
	padding:10px 0;
	color: #70543a;
}
.about-column p{
	font-size:14px;
	color:#312F2F;
	font-weight:400;
	line-height: 1.8em;
	margin-bottom: 1em;
}
img.icon6{
	width:120px;
	height:90px;
	display:block;
}
.scroll-content{
	padding:10px 0
}
/*--- About part Ends Here----*/
/*---- Portfolio Starts Here ---*/
.portfolio{
	padding:2em 0;
}
.portfolio-top-row{
	margin:4em 0
}
.portfolio-start{
	padding:0em 0;
}
.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   
}
.info: hover {
   background:#fff;
}
.view-fourth img {
   -webkit-transition: all 0.4s ease-in-out 0.2s;
   -moz-transition: all 0.4s ease-in-out 0.2s;
   -o-transition: all 0.4s ease-in-out 0.2s;
   -ms-transition: all 0.4s ease-in-out 0.2s;
   transition: all 0.4s ease-in-out 0.2s;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-fourth .mask {
   background-color: #45A608;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0) rotate(-180deg);
   -moz-transform: scale(0) rotate(-180deg);
   -o-transform: scale(0) rotate(-180deg);
   -ms-transform: scale(0) rotate(-180deg);
   transform: scale(0) rotate(-180deg);
   -webkit-transition: all 0.4s ease-in;
   -moz-transition: all 0.4s ease-in;
   -o-transition: all 0.4s ease-in;
   -ms-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
.view-fourth h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1) rotate(0deg);
   -moz-transform: scale(1) rotate(0deg);
   -o-transform: scale(1) rotate(0deg);
   -ms-transform: scale(1) rotate(0deg);
   transform: scale(1) rotate(0deg);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-fourth:hover img {
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-fourth:hover h2,
.view-fourth:hover p,
.view-fourth:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
   text-decoration:none;
}
.col_1_of_projects:first-child {
	margin-left: 0;
}
.col_1_of_projects {
	display: block;
	float: left;
	margin:0 0 0 2.6%;
}
a:hover, a:focus {

text-decoration:none !important;
}
.view-fourth:hover h2, .view-fourth:hover p, .view-fourth:hover a.info{
	text-decoration:none;
}
.span_1_of_projects {
	width: 22.8%;
}
h3.m_4{
	color:#555;
	font-size:1em;
	text-transform:uppercase;
}
/*---- Contact part Starts Here --*/
.contact{
	padding:2em 0;
	min-height:600px;
}
.contact-text{
	padding:10px 0;
}
.contact-text input[type="text"]{
	width:32%;
	padding:10px;
	border:1px solid #999;
	outline:none;
	-webkit-appearence:none;
}
h3.contact-head{
	font-size:25px;
	font-weight:600;
	color:#70543a;
}
.contact-form{
	padding:4em 0;
}
.contact-textarea textarea{
	width:97%;
	height:250px;
	border:1px solid #999;
	resize:none;
	outline:none;
	-webkit-appearence:none;
	padding:10px;
}
.address{
	text-align: left;
}
.address p,.address small{
	font-size:16px;
	color:#939292;
	font-weight:400;
	margin:10px 0 20px;
}
.address a{
	color:#52b106;
	text-decoration: none;
	font-size:16px;
}
.address a:hover{
	color:#939292;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-but input[type="submit"]{
	color:#fff;
	outline:none;
	background:#52b106;
	border:0;
	padding:0.85em 2em;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
}
.contact-but{
	padding:10px 0;
}
.contact-but input[type="submit"]:hover{
	background:#939292;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*---- Contact part Ends Here --*/
/*--- Error Page starts here --*/
.error{
	padding:2em 0;
	min-height:600px
}
.error-top{
	text-align: center;
	margin:0 0 4em 0;
} 
.error-top h1{
	font-weight:700;
	font-size:6em;
	color:#52b106;
	padding:1em 0;
}
.error-top a.back{
	color:#fff;
	background:#999;
	text-decoration:none;
	padding:10px 20px;
}
.error-top a.back:hover{
	background:#52b106;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--- Error Page Ends here --*/
/*---- Media Queries Starts Here ----*/
@media (max-width:1024px){
	ul.nav {
		margin-top: 6px;
	}
	.banner-top {
		padding: 5em 0 0;
		min-height: 400px;
	}
	.banner-top h1 {
		font-size: 4.5em;
	}
	.banner-top p {
		font-size: 21px;
		margin: 1% 51% 3% 0;
	}
	.banner-top a {
		font-size: 20px;
	}
	img.icon4,img.bua{
		width: 220px;
		height: 146px;
		display: block;
		background-size: 100%;
	}
	 {
		width: 180px;
		height: 126px;
		display: block;
		background-size: 70%;
	}
	.middle-row-column-right {
		padding: 1em 2em 0;
	}
	img.icon6{
		width: 90px;
		height: 75px;
		display: block;
	}
	.view,.view .mask, .view .content {
		width: 213px;
		height: 142px;
	}
}
@media (max-width:800px){
	.navigation ul.nav li a {
		font-size: 15px;
	}
	.nav > li > a {
		padding: 10px 10px;
	}
	ul.nav {
		margin-top: 8px;
	}
	.logo a img{
		width:80%;
	}
	.banner-top {
		padding: 4em 0 0;
		min-height: 308px;
	}
	.banner-top h1 {
		font-size: 3.2em;
	}
	.banner-top p {
		font-size: 18px;
		margin: 1% 42% 3% 0;
	}
	.banner {
		padding: 1em 0;
	}
	.banner-top a {
		font-size: 18px;
		padding: 0.85em 1.5em;
	}
	.content-row-column {
		margin: 0em 0 2em;
	}
	.content-row {
		margin-bottom: 2%;
	}
	.content-row-column h3 {
		margin: 0;
	}
	span.line-anchor {
		margin: 0 10px;
		font-size: 15px;
	}
	img.icon4,img.bua{
		margin: 0 auto;
	}
	.middle-row-column-right p {
		font-size: 16px;
	}
	.bottom-row-column p.ph {
		background: url(/media/images/c2.png)no-repeat 261px 8px;
	}
	.content-bottom-row {
	}
	.bottom-row-column p.ad {
		background: url(/media/images/c1.png)no-repeat 209px 8px;
	}
	.bottom-row-column {
		margin: 0 0 1em 0;
	}
	p.copyright {
		margin-top: 10px;
	}
	.view,.view .mask, .view .content {
		width: 175px;
		height: 110px;
	}
	.portfolio {
		padding: 2em 0;
		width: 750px;
	}
	h3.contact-head {
		margin: 4% 0 0 0;
	}
	.contact-form {
		padding: 0em 0;
	}
	.contact-textarea textarea {
		width: 97%;
		height: 180px;
	}
	.mask p{
		display: none;
	}
	.view-fourth h2 {
		margin:0 !important;
	}
}
@media (max-width:768px){
	.navigation ul.nav li a {
		font-size: 18px;
		padding: 5px;
		margin: 0px;
		color:#52b106;																						
	}
	lable{
		display: none;
	}
	.navigation ul.nav li a:hover{
		background:#52b106;
		color: #fff;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-o-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}
	.view,.view .mask, .view .content {
		width: 175px;
		height: 110px;
	}
	.portfolio {
		padding: 2em 0;
		width: 710px;
	}
	i.icon6 {
	}

}
@media (max-width:640px){
	.banner-top {
		padding: 2.5em 0 0;
		min-height: 237px;
	}
	.mask h2{
		font-size:12px;
	}
	.banner-top h1 {
		font-size: 3em;
	}
	.banner-top p {
		font-size: 17px;
		margin: 1% 30% 2% 0;
	}
	.banner-top a {
		font-size: 17px;
		padding: 0.85em 1.2em;
	}
	.content-row-column i.icon1,.content-row-column i.icon2,.content-row-column i.icon3 {
		background-size: 100%;
	}
	.content-row-column i {
		width: 170px;
		height: 74px;
	}
	.content-row-column h3 {
		font-size: 25px;
	}
	.content-row-column p {
		font-size: 15px;
	}
	.content {
		padding: 2em 0;
	}
	.content-row-column {
		margin: 0em 0 1em;
	}
	span.line-anchor {
		font-size: 14px;
	}
	img.icon4,img.bua {
		width: 166px;
		height: 121px;
		background-size: 100%;
	}
	img.icon6{
		margin:0 auto;
	}
	i.icon5 {
		width: 30px;
		height: 30px;
		background-size: 100%;
	}
	.middle-row-column-right p {
		font-size: 15px;
		margin-right:0;
	}
	.content-middle-row {
		margin: 0.5em 0;
	}
	.navigation span.menu {
		//margin-top: -34px;
	}
	.bottom-row-column p.ph {
		background: url(/media/images/c2.png)no-repeat 210px 8px;
	}
	.bottom-row-column p.ad {
		background: url(/media/images/c1.png)no-repeat 144px 8px;
	}
	.content-bottom-row {
		padding: 1em 0 0 0;
	}
	.about-column h3 {
		margin: 0;
		font-size: 22px;
	}
	.portfolio {
		padding: 2em 0;
		width: 570px;
	}
	.view, .view .mask, .view .content {
		width: 124px;
		height: 86px;
	}
	.portfolio-top-row {
		margin: 2em 0 0;
	}
}
@media (max-width:480px){
	.banner-top h1 {
		font-size: 2em;
	}
	.banner-top p {
		font-size: 14px;
		margin: 1% 39% 2% 0;
	}
	.mask h2{
		font-size:20px;
		margin:10px !important;
	}
	
	.banner-top {
		padding: 1.8em 0 0;
		min-height: 174px;
	}
	.banner-top a {
		font-size: 14px;
		padding: 0.5em 0.85em;
	}
	.logo a img {
		width: 65%;
	}
	.navigation span.menu {
		//margin-top: -31px;
	}
	.content-row-column h3 {
		font-size: 20px;
	}
	.content-row-column p {
		font-size: 14px;
	}
	span.line {
		width: 30%;
	}
	span.line-anchor {
		width: 33%;
	}
	.bottom-row-column p.ph {
		background: url(/media/images/c2.png)no-repeat 130px 8px;
	}
	.bottom-row-column p.ad {
		background: url(/media/images/c1.png)no-repeat 63px 8px;
	}
	p.copyright {
		margin-top: 6px;
		font-size:14px;
	}
	.portfolio {
		padding: 2em 0;
		width: 454px;
	}
	.view, .view .mask, .view .content {
		width: 208px;
		height: 141px;
	}
	.span_1_of_projects {
		width: 46.8%;
		margin-left: 0;
	}
	.col_1_of_projects:first-child {
	}
	.portfolio-top-row {
		margin: 1em 0 0;
	}
}
@media (max-width:320px){
	.banner-top h1 {
		font-size: 1.5em;
	}
	.mask h2{
		display: none;
	}
	.view-fourth a.info{
		margin:10px !important;
	}
	.banner-top p {
		margin: 1% 10% 2% 0;
	}
	.banner-top {
		padding: 0.8em 0;
		min-height: 100px;
	}
	.banner-top a {
		font-size: 12px;
	}
	span.line-anchor {
		font-size: 13px;
		margin: 0 5px;
	}
	.content-row-column p {
		margin: 0 0%;
	}
	.content-row-column h3 {
		font-size: 16px;
	}
	.bottom-row-column p.ph {
	}
	.bottom-row-column p.ad {
		font-size: 14px;
	}
	.bottom-row-column iframe {
		width: 250px;
		height: 200px;
	}
	ul.social {
		float: none;
		padding: 0;
	}
	p.copyright {
		float: none;
	}
	.footer {
		padding: 20px 10px;
		text-align: center;
	}
	.content {
		padding: 1em 0 0;
	}
	.portfolio {
		padding: 1em 0;
		width: 301px;
	}
	.view, .view .mask, .view .content {
		width: 108px;
		height: 74px;
	}
	.contact-textarea textarea {
		width: 97%;
		height: 110px;
	}
	.contact-text input[type="text"] {
		width: 97%;
		margin: 7px 0;
	}
	h3.contact-head {
		margin: 6% 0 0 0;
		font-size:18px;
	}
	.contact-but {
		text-align: center;
	}
	.about-column h3 {
		font-size: 18px;
	}
	.about-column p {
		margin-bottom: 15px;
	}
	.view-fourth h2{
		margin:10px 0 0 0;
		font-size: 14px;
	}
	.navigation span.menu {
		margin-top: -30px;
	}
	.error-top h1 {
		font-size: 2em;
		padding: 1em 0;
	}
	.error {
		padding: 2em 0;
		min-height: 340px;
	}

}
/* START */
.team-item {
    margin-bottom: 30px;
}
.image_team {
    display: table;
    margin: 0 auto;
    max-width: 190px;
    width: 190px;
    border: 5px solid #ddd;
    padding: 15px;
}
.image_team img {
    max-width: 150px;
    min-width: 150px;
    width: 150px;
    height: 150px;
}
.name_team {
    width: 190px;
    padding: 15px;
    border: 5px solid #ddd;
    border-width: 0 5px 5px;
    display: table;
    margin: 0 auto;
    font-family: 'TeXGyreAdventor';
    text-align: center;
}
.team-logo {
    margin: 0 auto;
    display: table;
    width: 40%;
}
.teams, .team , .player_prof, .matches_list, .match_page{
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
}
.teams h3{
    text-align: center;
    float: left;
    width: 100%;
    margin: 15px 0 25px;
}
.teams i {
    float: right;
    font-size: 22px;
    margin-right: 25px;
}
.line-anchor h2, .line-anchor h1 {
    font-size: 16px;
    margin: 0;
}
.team-img {
    padding: 5px;
    border: 4px solid #c5c5c5;
}
.team-img img.team-pht{
    width: 100%;
    border: 2px solid #c5c5c5;
}
.team-img span {
    display: block;
    margin: 10px 0px;
    font-size: 17px;
    text-indent: 7px;
}
.matches-team {
    padding: 0;
    margin-bottom: 20px;
}
.matches-team h3 {
    font-size: 20px;
}
.matches-team table{
    width: 100%;
    margin-top: 4px;
    margin-bottom: 15px;
}
.matches-team .idet td.scr {
    color: #e22113;
    -webkit-animation: blinkk 3s linear infinite;
    animation: blinkk 3s linear infinite;
}
.matches-team .idet {
    -webkit-animation: blinkkk 3s linear infinite;
    animation: blinkkk 3s linear infinite;    
    box-shadow: 0px 0px 1px 0px green;
}
@-webkit-keyframes blinkkk { 
	0% { box-shadow: 0px 0px 1px 0px green }
	50% { box-shadow: 0px 0px 3px 0px green; }
	100% { box-shadow: 0px 0px 5px 0px green; }
}
@keyframes blinkkk { 
	0% { box-shadow: 0px 0px 1px 0px green }
	50% { box-shadow: 0px 0px 3px 0px green; }
	100% { box-shadow: 0px 0px 5px 0px green; }
}
@-webkit-keyframes blinkk { 
	0% { color: rgba(226, 33, 19, 1) }
	50% { color: rgba(226, 33, 19, 0.3) }
	100% { color: rgba(226, 33, 19, 1) }
}
@keyframes blinkk { 
	0% { color: rgba(226, 33, 19, 1) }
	50% { color: rgba(226, 33, 19, 0.3) }
	100% { color: rgba(226, 33, 19, 1) }
}
.matches-team td {
    padding: 4px 0 4px 5px;
    font-size: 11px;
    border-top: 1px solid #d9dde0;
}
.matches-team td:last-child {
    text-align: center;
}
.matches-team span {
    padding-left: 5px;
    font-size: 13px;
}
.matches-team td img {
    margin: 0 6px;
    position: relative;
    top: -1px;
}
.matches-team td img.flag {
    height: 13px;
    border: 1px solid #c5c5c5;

}
.matches-team td.scr {
    color: #3DABDA;
}
.matches-team td:last-child a{
    text-decoration: underline;
}
.matches-team td:first-child {
    width: 47px;
    font-size: 12px;
    color: #999;
}
.matches-team .past td:first-child {
    font-size: 11px;
    text-align: left;
    line-height: 10px;
    color: #317bb5;
    width: auto;
}
.matches-team .next-matches .btn {
    padding: 2px 6px;
    color: #fff;
    position: relative;
}
.matches-team .next-matches .btn span{
    display: none;
    position: absolute;
    background: #333;
    padding: 2px 5px;
    border-radius: 3px;
    top: -26px;
    left: -36px;
}
.matches-team .next-matches .btn:hover span{
    display: block;
}
.team-info span b{
    font-size: 25px;
    font-weight: normal;
    margin-left: 5px;
}
.team-info span {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 200;
    display: block;
    margin-bottom: 10px;
    line-height: 35px;
}
.team-info {
    margin-bottom: 30px;
}
hr {
    border-top: 1px solid rgba(147, 146, 146, 0.4);
}
.title-row {
    margin: 15px 0;
    padding-right: 0;
}
.players {
    margin-top: 25px;
    float: left;
    width: 100%;
}
.players table.pl_list {
    width: 100%;
    margin-bottom: 25px;
}
.players table.pl_list tr{
    border-bottom: 1px solid rgba(147, 146, 146, 0.4);
}
.players table.pl_list td, .players table.pl_list th{
    padding: 5px;
    font: normal 13px/16px 'Roboto Condensed',sans-serif;
}
.players table.pl_list th {
    font-weight: bold;
}
.numb {
    text-align: center;
    width: 30px;
}
.players table.pl_list td:first-child {
    font-size: 12px;
}
.td_img {
    position: relative;
    width: 55px;
    height: 51px;
}
.td_img img{
    height: 40px;
    position: absolute;
    bottom: 5px;
    transition: all 300ms ease-in-out;
}
.td_img img:hover {
    height: 120px;
}
.img_col {
    width: 55px;
}
.poz_col {
    width: 110px;
}
.dateb_col {
    width: 80px;
}
.stat_col {
    width: 55px;
}
.players table a{
    text-decoration: underline;
}
.players table a:hover{
    text-decoration: underline!important;
}
.group {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
}
.group h4{
    padding-bottom: 15px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
}
.groups  img{
    width: 35px;
    margin-right: 7px;
    float: left;
}
.groups table td {
    height: 44px;
    line-height: 22px!important;
    font-size: 13px;
}
.groups th{
    text-align: center;
}
.groups th:first-child{
    text-align: left;
}
.groups td {
    text-align: center;
}
.groups td:first-child {
    text-align: left;
}
.group_name_title {
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
    text-indent: 9px;
}
.group_name_title_t {
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.groups ul{
    padding: 0;
    list-style: none;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.groups ul img{
    margin: 0 auto;
    float: none;
    display: block;
    margin-bottom: 8px;
}
.groups ul span {
    display: block;
}
.groups li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}
.groups .col-md-4 {
    text-align: center;
}
.groups .match-date {
    font-size: 13px;
}
.groups .match-date span{
    font-size: 15px;
}
@media(max-width:768px){
    .text-inf {
        margin: 25px 0;
        text-align: justify;
        padding: 10px;
    }
}
@media(max-width: 768px){
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 0;
    }
}
.player_prof {
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.1);
}
.player_prof .photo{
}
.player_prof .photo img{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
.name_n_country {
    float: left;
    margin-top: 10px;
}
.name_n_country .name{
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.name_n_country .countr {
    line-height: 20px;
    color: #7f8992;
    font-size: 16px;
}
.name_n_country .countr img{
    float: left;
    margin-right: 10px;
    height: 20px;
}
.player_prof .number {
    width: 60px;
    float: left;
    margin: 20px 25px 10px 15px;
    height: 50px;
    background: url(/media/img/t-short.png);
}
.player_prof .number span{
    display: block;
    width: 30px;
    margin-left: 14px;
    margin-top: 8px;
    font-size: 23px;
    text-align: center;
}
.player_stats {
    margin-top: 10px;
}
.player_stats span{
    font: normal 12px/16px 'Roboto Condensed',sans-serif;
    color: #7f8992;
    margin: 0 9px 0 0;  
    display: block;
    float: left;
    margin-bottom: 5px;
}
.player_stats span+span:after {
    content: '|';
    margin-left: 12px;
}
.player_stats span:last-child:after{
    content: '';
}
.player_stats b{
    font-weight: normal;
    color: #000;
}
.player_statistic {
    float: left;
    margin-top: 25px;
    width: 100%;
}
.player_statistic table{
    border-top: 1px solid #e5e5e5;
    padding: 0;
    border-collapse: collapse;
    width: 230px;
    float: left;
    margin-right: 20px;
    margin-top: -1px;
}
.player_statistic td{
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0 5px 5px;
    font: normal 13px/16px 'Roboto Condensed',sans-serif;
    color: #535f68;
}
.player_statistic td span{
    float: right;
    margin-right: 5px;
}
.player_statistic h2{
    font-size: 24px;
}
/* new */
.match_block_new {
    padding: 12px 0px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 1px #789595;
    transition: all .45s ease-in-out 0s;
    min-height: 80px;
    float: left;
    width: 100%;
}
.match_block_new i {
    font-style: normal;
}
.match_block_new .m_date {
    width: 20%;
    float: left;
    padding-left: 15px;
}
.match_block_new .m_date .dt {
    font-size: 20px;
    color: #00aedb;
    display: block;
}
.match_block_new .m_date .time {
    font-size: 18px;
}
.match_block_new .m_tms {
    width: 60%;
    float: left;
}
.match_block_new .m_tms span {
    font-size: 14px;
}
.match_block_new .m_tms img {
    width: 35px;
    margin: 0 8px;
}
.match_block_new .m_buy {
    float: left;
    width: 20%;
    padding-right: 20px;
}
.match_type {
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    color: #333;
}
.match_block_new .m_buy div {
    background: #4d7ea8;
    padding: .6em 10px;
    border: none;
    margin-top: 8px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}
/* new */

.match_block {
    background-color: #edf2f5;
    width: 100%;
    float: left;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #fff;
    padding: 5px 0;
    max-height: 45px;
}
.m_teams {
    padding-top: 5px;
}
.m_teams .tm {
    width: 46%;
    float: left;
    height: 40px;
    margin-top: -6px;
}
.m_teams .tm.left {
    text-align: right;
}
.m_teams .tm.right {
    text-align: left;
}
.m_teams .tm img {
    height: 40px;
    margin-top: -2px;
    position: relative;
}
.m_teams .tm.left img{
    margin-left: 10px;
}
.m_teams .tm.right img{
    margin-right: 10px;
}
.m_teams .vs {
    width: 8%;
    float: left;
    text-align: center;
    padding-top: 5px;
}
.m_buy a{
    border-radius: 2px;
    padding: 6px 10px;
    color: #fff;
    background-color: #3DABDA;
    border-color: #3DABDA;
    display: table;
    float: right;
    font-size: 12px;
}
.m_buy a.buy {
    background-color: #4CAF50;
}
.m_buy a.watch {
    color: #696969;
    background-color: #FFC107;
}
.m_date {
    padding-top: 5px;
}
.match_block:hover {
    background-color: #D1E8BC;
}
.tir{
    width: 40%;
    float: left;
}
.tir.right {
    text-align: right;
}
.tir.right img{
    float: right;
    margin-left: 20px;
    width: 160px;
    margin-top: -40px;
}
.tir.left img {
    float: left;
    margin-right: 20px;
    width: 160px;
    margin-top: -40px;
}
.tir a{
    color: #005580;
    font-size: 27px;
}
.game_info {
    width: 20%;
    float: left;
    text-align: center;
}
.game_info span{
    display: block;
}
.type {
    font-size: 12px;
}
.score{
    font-size: 55px;
    font-weight: bold;
}
.time{
    margin-top: 15px;
    font-size: 24px;
}
.when{
    font-size: 12px;
}
@media (max-width: 768px){
    .m_date{
        padding-left: 10px;
    }
    .m_buy {
        padding-right: 10px;
    }
}
@media (max-width: 414px){
    .player_stats {
        float: left;
        margin-left: 16px;
    }
    .player_statistic table {
        width: 100%;
    }
    .match_block {
        text-align: center;
        max-height: none;
        padding-bottom: 10px;
    }
    .m_date{
        padding: 0;
    }
    .m_date i{
        display: none;
    }
    .m_date b{
        display: block;
        font-size: 18px;
    }
    .m_buy {
        padding: 25px 0 0;
    }
    .m_buy a {
        margin: 15px auto 0;
        float: none;
    }
}
.team_win {
    text-align: center;
    margin: 20px 0;
    float: left;
    width: 100%;
}
.team_win span{
    font-size: 20px;
    margin: 10px 15px 0;
    display: block;
}
.team_win b{
    font-size: 17px;
    margin: 0 15px;
    line-height: 60px;
}
.place_champ {
    float: left;
    width: 100%;
}
.regions span{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
    font-size: 23px;
}
.regions img {
    float: left;
    margin-right: 10px;
}
article{
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 0 15px;
}
article p{
    text-align:justify;
    margin-bottom: 10px;
}
article ul {
    margin: 10px 0 10px -15px;
}
.regions p {
    
}
.sostav-bl h2, .goals-bl h2 , .fouls-bl h2{
    margin: 20px 0;
    float: left;
    width: 100%;
}
.goals-bl h2 {
    text-align: center;
}
.goals-bl table{
    width: 95%;
    margin: 0 2.5% 20px;
}
.goals-bl .table-bordered {
    border-color: #c5c5c5;
}
.sostav-bl table {
    border: 1px solid #c5c5c5;
    border-collapse: collapse;
    width: 45%;
    margin: 0 2.5%;
}
.sostav-bl table tr {
    border-bottom: 1px solid #c5c5c5;
}
.sost_table td{
    line-height: 26px;
    font-family: 'TeXGyreAdventor';
    position: relative;
    cursor: pointer;
}
.sost_table .number , .sost_table .pos{
    display: block;
    width: 27px;
    float: left;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    padding: 0 4px;
    border-right: 1px solid #c5c5c5;
    min-height: 26px;
}
.sost_table .pos {
    margin-right: 6px;
}
.sost_table span.zamena {
    float: right;
    margin-right: 15px;
}
.sost_table span.zamena i{
    margin-right: 5px;
}
.sost_table th {
    padding: 3px 7px;
    font-size: 17px;
}
.fouls-bl table{
    width: 95%;
    margin: 0 2.5%;
}
.fouls-bl .crd {
    float: left;
    width: 13px;
    height: 20px;
    border: 1px solid #eee;
    margin-top: 4px;
}
.fouls-bl .yell {
    background: #FFC107;
}
.fouls-bl .red {
    background: #880000;
}
.fouls-bl h2 {
    text-align: center;
}
.fouls-bl span {
    float: left;
    margin-right: 7px;
}
.goals-bl img, .fouls-bl img {
    width: 40px;
    margin: -5px 0;
}
.treners-bl td{
    padding: 3px 7px;
}
.m_status.active {
	-webkit-animation: blink 3s linear infinite; 
	animation: blink 3s linear infinite; 
}
.m_status {
    display: table;
    margin: 0 auto;
    padding: 3px 5px;
    border: 1px solid #c5c5c5;
}
.match_minute {
    display: block;
    text-align: center;
    margin-top: 10px;
}
@-webkit-keyframes blink { 
	0% { background: rgba(255,255,0,0.3) }
	50% { background: #FFC107 }
	100% { background: rgba(255,255,0,0.3) }
}
@keyframes blink { 
	0% { background: rgba(255,255,0,0.3) }
	50% { background: #FFC107 }
	100% { background: rgba(255,255,0,0.3) }
}
.dbl.card {
    width: 13px;
    height: 20px;
    background: #ff1100;
    border: 1px solid #eee;
    position: relative;
    left: 2px;
    bottom: 4px;
}
.sost_table tr .hidden-card a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #333;
}
.sost_table tr:hover .hidden-card {
    display: block;
}
.sost_table tr .name-pl-osn:hover .hidden-card{
    display: block;
}
.sost_table tr .name-pl-osn:focus .hidden-card{
    display: block;
}
.sost_table tr:hover{
    color: #FF9800;
}
.hidden-card {
    display: none;
    position: absolute;
    bottom: 26px;
    right: -1px;
    background: #fff;
    padding: 5px;
    border: 1px solid #333;
    z-index: 555;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    color: #333;
    transition: all 300ms ease;
}
.hidden-card:hover {
    box-shadow: 0 0 6px 2px #333;
}
.number-hidden {
    position: absolute;
    top: 10px;
    padding: 3px 7px;
    background-color: transparent;
    border-radius: 0 0 0 4px;
    font-size: 25px;
    width: 76px;
    text-align: center;
    line-height: 110px;
    font-family: 'TeXGyreAdventor';
    background-image: url(/media/img/t-short.png);
    background-repeat: no-repeat;
    background-position: 8px 35px;
}
.player-img-hidden {
    width: 120px;
    float: right;
}
.info-hidden {
    width: 200px;
    float: left;
    border-top: 1px solid #333;
    margin-top: 1px;
    padding: 10px 5px 0;
    text-align: center;
}
.info-hidden p{
    display: block;
    float: left;
    width: 115px;
}
.pos-hidden {
    position: absolute;
    z-index: 5555;
    left: 28px;
    height: 30px;
    line-height: 26px;
    top: 111px;
    width: 30px;
    text-align: center;
    font-size: 13px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: orange;
    box-shadow: 0 0 0 1px #333;
    color: #333;
}
.flag-country {
    position: absolute;
    top: 10px;
    display: block;
    left: 22px;
    width: 40px;
    z-index: 555;
    border: 1px solid #ccc;
}
.hidden-team-logo {
    float: left;
    width: 66px;
    position: relative;
    top: 3px;
}
.inf-hid-bl {
    float: left;
    width: 120px;
    margin-top: 8px;
}
.inf-hid-bl p{
    padding-right: 5px;
}
.title-block {
    display: table;
    width: 100%;
    margin: 0 auto;
}
.match-page {
    margin-top: 50px;
}
article p.center-p {
    text-align: center;
}
article a{
    text-decoration: underline;
}
article a:hover{
    text-decoration: underline!important;
}
.teams-logos {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.teams-logos div {
    width: 6.25%;
    float: left;
    height: 50px;
    position: relative;
}
.teams-logos div img{
    width: 70%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: all 800ms ease;
    position: absolute;
}
.teams-logos div img:hover{
    width: 100%;
}
.text_min {
    font-size: 12px;
    text-align: center;
}
@media (max-width: 767px){
    .container{
        padding: 0;
    }
    .header .container {
        padding: 0 15px;
    }
    span.line-anchor {
        width: 80%!important;
        margin: 0 auto;
        display: table;
        float: none;
    }
    .line {
        display: none!important;
    }
    .tir {
        width: 50%;
        float: left;
        margin-bottom: 230px;
    }
    .tir a {
        display: block;
        text-align: center;
    }
    .game_info {
        width: 100%;
        position: absolute;
        top: 205px;
    }
    .match_page {
        position: relative;
        margin-top: 50px;
    }
    .row {
        padding: 0;
    }
    .sostav-bl table {
        width: 90%;
        margin: 2.5% 5%;
    }
    .fouls-bl h2 {
        margin-left: 0;
        text-align: center;
    }
}
@media (max-width: 768px){
    .container {
        padding: 0;
    }
    .team-info span {
        text-align: center;
    }
}
.slideshow_and_video {
    float: left;
    width: 95%;
    margin: 0 2.5%;
    border: solid #ccc;
    padding: 3px 0 3px 3px;
    height: 212px;
    overflow: auto;
}
.slideshow_and_video .list-unstyled {
    margin-left: 1px;
}
.slideshow_and_video li {
    padding: 0;
    margin-left: -1px;
}
.photo-slide {
    height: 200px;
}
.photo-slide img{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
}
.post-options {
    margin: 0;
    padding: 7px;
    margin-bottom: 13px;
    margin: 0 15px 20px;
}
.post-options li {
    list-style: none;
}
.subtitle {
    margin: 0 15px;
}
.subtitle h1 {
    font-size: 30px;
    margin-top: 20px;
}
.right-col h2 {
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: 20px;
}
.new_news_right {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    float: left;
    width: 100%;
}
.pub-dte {
    display: block;
    font-size: 13px;
    color: #7f8992;
    font-weight: 400;
    border-bottom: 1px dashed;
    padding-bottom: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto';
}
.pub-tme {
    float: left;
    width: 35px;
    padding-right: 5px;
    font-size: 12px;
    color: #7f8992;
    font-weight: 600;
    position: relative;
    top: -1px;
}
.new_news_right span.news_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 0;
    display: inline-block;
    font-family: 'Roboto';
}
.new_news_right a {
    display: block;
    float: left;
    width: 100%;
}
.new_news_right a:hover {
    text-decoration: underline!important;
    color: #000;
}
.next-post-paginate span{
    display: block;
    margin: 5px 0;
}
.next-post-paginate i{
    margin-right: 6px;
}
.prev-nex-btn {
    float: left;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #333;
    border-width: 1px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-paginate {
    width: 50%;
    float: left;
}
.post-paginate span {
    display: block;
    margin: 5px 0;
}
.post-paginate.next {
    text-align: left;
    padding-left: 15px;
    border-left: 1px solid #333;
    position: relative;
    left: -1px;
    float: right;
}
.post-paginate.prev {
    text-align: right;
    padding-right: 15px;
    border-right: 1px solid #333;
}
.px-single-page-title {
    font-size: 20px;
}
.tablescore {
    border: 0;
    font-size: 13px;
    width: auto;
    font-family: 'Roboto Condensed';
}
.table.tablescore th{
    border-top: 0;
    font-weight: normal;
}
.table.tablescore td {
    padding: 8px 4px 4px;
    text-align: center;
}
.table .imprtnt {
    font-weight: 500!important;
}
.table.tablescore tr:hover td {
    background: #f6e0bf;
}
.table.tablescore td:nth-child(3) {
    text-align: left;
    font-size: 14px;
}
.table.tablescore td:nth-child(2){
    padding: 8px 10px 4px;
    border-left: 5px solid #f6f6f6;
}
.table.tablescore tr:nth-child(2) td:nth-child(2), .table.tablescore tr:nth-child(3) td:nth-child(2) {
    border-left: 5px solid #7ca541;
}
.table.tablescore tr:nth-child(4) td:nth-child(2), .table.tablescore tr:nth-child(5) td:nth-child(2) {
    border-left: 5px solid #f8c027;
}
.table.tablescore tr:nth-child(14) td:nth-child(2), .table.tablescore tr:nth-child(15) td:nth-child(2) {
    border-left: 5px solid #ee999d;
}
.table.tablescore tr:nth-child(16) td:nth-child(2), .table.tablescore tr:nth-child(17) td:nth-child(2) {
    border-left: 5px solid #d51d29;
}
/* Right Table */
.right-col {
    margin: 0;
    padding: 0;
}
.tour-td {
    text-align: center;
    line-height: 11px;
    font-size: 11px;
    color: #999;
}
.right-table {
    font-size: 12px;
    font-family: 'Roboto Condensed';
    border-collapse: collapse;
}
.span-r-title {
    margin-bottom: 5px;
    display: block;
}
.table.right-table td{
    padding: 3px 5px;
    border: 1px solid #ddd;
    text-align: center;
}
.table.right-table td:nth-child(2){
    text-align: left;
}
.table.right-table td:first-child {
    border-left: 0;
}
.table.right-table td:last-child {
    border-right: 0;
}
.next-matches td b {
    font-weight: normal;
    text-decoration: underline;
    color: #000;
    font-size: 11px;
}
.news-pub-date {
    margin-left: 15px;
    border-bottom: 1px dashed;
}
.matches-team .past tr.lose td{
    background: rgba(244,67,54,0.1);
}
.matches-team .past tr.win td{
    background: rgba(5,236,14,0.15);
}
.matches-team .past tr.draw td{
    background: rgba(255, 235, 59, 0.1);
}
.shrt-name-table span{
    padding: 0;
}
.shrt-name-table span.shrt-name{
    
}
.main-news {
    margin-bottom: 20px;
    min-height: 150px;
}
.main-news img {
    width: 40%;
    float: right;
    max-height: 150px;
}
.main-news .pub-dte{
    border-bottom: 0;
    float: left;
    width: 60%;
}
.href-news {
    width: 60%;
    float: left;
}
.href-news span {
    font-size: 13px;
    padding-right: 16px;
    display: block;
    text-decoration: underline;
    width: 100%;
}
.yaga {
    transform: rotate(90deg);
    width: 100px;
    position: absolute;
    top: 65px;
    right: 70px;
    transition: all 300ms ease;
    z-index: -1;
}
.team-item .image_team {
    background: #fff;
}
.team-item:hover .yaga {
    right: -60px;
}
.group .match_block:first-child {
    margin-top: 25px;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.curr_min {
    float: right;
    color: #333;
    width: 25px;
    text-align: center;
    margin-right: -11px;
    margin-top: -25px;
}
.curr_min span{
    display: table;
    background: #333;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    left: 1px;
    color: #fff;
    padding: 0 5px 0 6px;
    text-align: center;
}
.caret {
    margin-top: -19px;
}
.eror-wrap {
    display: block;
    width: 50%;
    margin: 60px auto;
}
.goals-bl li{
    width: 50%;
    float: left;
    margin-top: -1px;
    list-style: none;
    padding: 10px 0;
    border: 1px solid #c5c5c5;
    border-width: 1px 0;
}
@media (max-width:1024px){
    .matches-team span {
        font-size: 11px;
    }
    .matches-team td img {
        margin: 0 3px;
        width: 14px;
    }
}