{% load i18n admin_static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ data.seo_title }}</title>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
            }   
			.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
				margin-top: 15px;
			}
			.top-bar {
				list-style: none;
				display: table;
				margin: 10px auto;
			}
			.top-bar li{
				float: left;
			}
			.top-bar li a {
				padding: 0 10px;
				color: #000
			}
        </style>
        <link rel='stylesheet' href='/static/main/css/themeum-moview-font.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='/static/main/css/buddypress.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='/static/main/css/animate.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='/static/main/bootstrap/dist/css/bootstrap.min.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='/static/main/font-awesome/css/font-awesome.min.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='/static/main/css/main.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='/static/main/css/woocommerce.css' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-smallscreen-group-css' href='css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
        <link rel='stylesheet' id='dashicons-css'  href='css/dashicons.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='buttons-group-css' href='css/presets/preset1.css' type='text/css' media='all' />
        <link rel='stylesheet' id='redux-google-fonts-themeum_options-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%2C300italic%2C400italic%2C600italic%2C700italic%2C800italic%7CMontserrat%3A400%2C700&ver=1458904443' type='text/css' media='all' />
        <link rel='stylesheet' href='/static/main/css/responsive.css' type='text/css' media='screen' />
        <script type='text/javascript' src='/static/main/js/jquery.js'></script>
        <script type='text/javascript' src='/static/main/js/jquery-migrate.min.js'></script>
        <script type='text/javascript' src='/static/main/js/group.js'></script>
		<script type='text/javascript' src='/static/main/js/json2.js'></script>
		<script>
            $(document).ready(function(){
                csrftoken = "{{csrf_token}}"
            })
        </script>
        <style type="text/css" title="dynamic-css" class="options-output">.footer-wrap{background-repeat:no-repeat;background-size:cover;background-position:left center;background-image:url('http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/bottom-bg.jpg');}body{font-family:"Open Sans";font-weight:300;font-style:normal;color:#000;font-size:16px;}#main-menu .nav>li>a, #main-menu ul.sub-menu li > a{font-family:"Open Sans";font-weight:400;font-style:normal;color:#000;font-size:14px;}h1{font-family:"Open Sans";font-weight:700;font-style:normal;color:#000;font-size:36px;}h2{font-family:"Open Sans";font-weight:700;font-style:normal;color:#000;font-size:36px;}h3{font-family:Montserrat;font-weight:700;font-style:normal;color:#000;font-size:24px;}h4{font-family:"Open Sans";font-weight:700;font-style:normal;color:#000;font-size:20px;}h5{font-family:"Open Sans";font-weight:700;font-style:normal;color:#000;font-size:18px;}</style>
        <noscript>
            <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
        </noscript>
    </head>
    <body class="home-page home page page-id-68 page-template page-template-homepage page-template-homepage-php fullwidth-bg wpb-js-composer js-comp-ver-4.12 vc_responsive no-js">
        <div id="page" class="hfeed site fullwidth boxwidth">
            {% include "_header.html" %}
            <!--/.header-->
			{% block main_content %}{% endblock %}
                <!--/#footer-->
			{% include "_footer.html" %}
        </div>
        <!-- #page -->
        <div id="moview-player">
            <div class="content-wrap">
                <div class="video-container">
                    <span class="video-close">x</span>
                </div>
            </div>
        </div>
        <!--[if lte IE 8]>
        <style>
            .attachment:focus {
            outline: #1e8cbe solid;
            }
            .selected.attachment {
            outline: #1e8cbe solid;
            }
        </style>
        <![endif]-->

        <script type='text/javascript'>
            /* <![CDATA[ */
            var pluploadL10n = {"queue_limit_exceeded":"You have attempted to queue too many files.","file_exceeds_size_limit":"%s exceeds the maximum upload size for this site.","zero_byte_file":"This file is empty. Please try another.","invalid_filetype":"This file type is not allowed. Please try another.","not_an_image":"This file is not an image. Please try another.","image_memory_exceeded":"Memory exceeded. Please try another smaller file.","image_dimensions_exceeded":"This is larger than the maximum size. Please try another.","default_error":"An error occurred in the upload. Please try again later.","missing_upload_url":"There was a configuration error. Please contact the server administrator.","upload_limit_exceeded":"You may only upload 1 file.","http_error":"HTTP error.","upload_failed":"Upload failed.","big_upload_failed":"Please try uploading this file with the %1$sbrowser uploader%2$s.","big_upload_queued":"%s exceeds the maximum upload size for the multi-file uploader when used in your browser.","io_error":"IO error.","security_error":"Security error.","file_cancelled":"File canceled.","upload_stopped":"Upload stopped.","dismiss":"Dismiss","crunching":"Crunching\u2026","deleted":"moved to the trash.","error_uploading":"\u201c%s\u201d has failed to upload."};
            var _wpPluploadSettings = {"defaults":{"runtimes":"html5,flash,silverlight,html4","file_data_name":"async-upload","url":"\/wordpress\/moview\/wp-admin\/async-upload.php","flash_swf_url":"http:\/\/demo.themeum.com\/wordpress\/moview\/wp-includes\/js\/plupload\/plupload.flash.swf","silverlight_xap_url":"http:\/\/demo.themeum.com\/wordpress\/moview\/wp-includes\/js\/plupload\/plupload.silverlight.xap","filters":{"max_file_size":"104857600b"},"multipart_params":{"action":"upload-attachment","_wpnonce":"2dacc2bd6d"}},"browser":{"mobile":false,"supported":true},"limitExceeded":false};
            /* ]]> */
        </script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Download File":"Download File","Download Video":"Download Video","Play\/Pause":"Play\/Pause","Mute Toggle":"Mute Toggle","None":"None","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Unmute":"Unmute","Mute":"Mute","Captions\/Subtitles":"Captions\/Subtitles"}};
            var _wpmejsSettings = {"pluginPath":"\/wordpress\/moview\/wp-includes\/js\/mediaelement\/"};
            /* ]]> */
        </script>
        <script type='text/javascript' src='/static/main/js/mediaelement-and-player.min.js'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var _wpMediaViewsL10n = {"url":"URL","addMedia":"Add Media","search":"Search","select":"Select","cancel":"Cancel","update":"Update","replace":"Replace","remove":"Remove","back":"Back","selected":"%d selected","dragInfo":"Drag and drop to reorder media files.","uploadFilesTitle":"Upload Files","uploadImagesTitle":"Upload Images","mediaLibraryTitle":"Media Library","insertMediaTitle":"Insert Media","createNewGallery":"Create a new gallery","createNewPlaylist":"Create a new playlist","createNewVideoPlaylist":"Create a new video playlist","returnToLibrary":"\u2190 Return to library","allMediaItems":"All media items","allDates":"All dates","noItemsFound":"No items found.","insertIntoPost":"Insert into post","unattached":"Unattached","trash":"Trash","uploadedToThisPost":"Uploaded to this post","warnDelete":"You are about to permanently delete this item.\n  'Cancel' to stop, 'OK' to delete.","warnBulkDelete":"You are about to permanently delete these items.\n  'Cancel' to stop, 'OK' to delete.","warnBulkTrash":"You are about to trash these items.\n  'Cancel' to stop, 'OK' to delete.","bulkSelect":"Bulk Select","cancelSelection":"Cancel Selection","trashSelected":"Trash Selected","untrashSelected":"Untrash Selected","deleteSelected":"Delete Selected","deletePermanently":"Delete Permanently","apply":"Apply","filterByDate":"Filter by date","filterByType":"Filter by type","searchMediaLabel":"Search Media","noMedia":"No media files found.","attachmentDetails":"Attachment Details","insertFromUrlTitle":"Insert from URL","setFeaturedImageTitle":"Featured Image","setFeaturedImage":"Set featured image","createGalleryTitle":"Create Gallery","editGalleryTitle":"Edit Gallery","cancelGalleryTitle":"\u2190 Cancel Gallery","insertGallery":"Insert gallery","updateGallery":"Update gallery","addToGallery":"Add to gallery","addToGalleryTitle":"Add to Gallery","reverseOrder":"Reverse order","imageDetailsTitle":"Image Details","imageReplaceTitle":"Replace Image","imageDetailsCancel":"Cancel Edit","editImage":"Edit Image","chooseImage":"Choose Image","selectAndCrop":"Select and Crop","skipCropping":"Skip Cropping","cropImage":"Crop Image","cropYourImage":"Crop your image","cropping":"Cropping\u2026","suggestedDimensions":"Suggested image dimensions:","cropError":"There has been an error cropping your image.","audioDetailsTitle":"Audio Details","audioReplaceTitle":"Replace Audio","audioAddSourceTitle":"Add Audio Source","audioDetailsCancel":"Cancel Edit","videoDetailsTitle":"Video Details","videoReplaceTitle":"Replace Video","videoAddSourceTitle":"Add Video Source","videoDetailsCancel":"Cancel Edit","videoSelectPosterImageTitle":"Select Poster Image","videoAddTrackTitle":"Add Subtitles","playlistDragInfo":"Drag and drop to reorder tracks.","createPlaylistTitle":"Create Audio Playlist","editPlaylistTitle":"Edit Audio Playlist","cancelPlaylistTitle":"\u2190 Cancel Audio Playlist","insertPlaylist":"Insert audio playlist","updatePlaylist":"Update audio playlist","addToPlaylist":"Add to audio playlist","addToPlaylistTitle":"Add to Audio Playlist","videoPlaylistDragInfo":"Drag and drop to reorder videos.","createVideoPlaylistTitle":"Create Video Playlist","editVideoPlaylistTitle":"Edit Video Playlist","cancelVideoPlaylistTitle":"\u2190 Cancel Video Playlist","insertVideoPlaylist":"Insert video playlist","updateVideoPlaylist":"Update video playlist","addToVideoPlaylist":"Add to video playlist","addToVideoPlaylistTitle":"Add to Video Playlist","settings":{"tabs":[],"tabUrl":"http:\/\/demo.themeum.com\/wordpress\/moview\/wp-admin\/media-upload.php?chromeless=1","mimeTypes":{"image":"Images","audio":"Audio","video":"Video"},"captions":true,"nonce":{"sendToEditor":"31a8424dad"},"post":{"id":0},"defaultProps":{"link":"none","align":"","size":""},"attachmentCounts":{"audio":0,"video":0},"embedExts":["mp3","ogg","wma","m4a","wav","mp4","m4v","webm","ogv","wmv","flv"],"embedMimes":{"mp3":"audio\/mpeg","ogg":"audio\/ogg","wma":"audio\/x-ms-wma","m4a":"audio\/mpeg","wav":"audio\/wav","mp4":"video\/mp4","m4v":"video\/mp4","webm":"video\/webm","ogv":"video\/ogg","wmv":"video\/x-ms-wmv","flv":"video\/x-flv"},"contentWidth":null,"months":[{"year":"2016","month":"3","text":"March 2016"},{"year":"2016","month":"2","text":"February 2016"},{"year":"2016","month":"1","text":"January 2016"}],"mediaTrash":0}};
            /* ]]> */
        </script>
        <script type='text/javascript' src='/static/main/js/main.js'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var mc4wp_forms_config = [];
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://demo.themeum.com/wordpress/moview/wp-content/plugins/bwp-minify/min/?f=wordpress/moview/wp-includes/js/wp-embed.min.js,wordpress/moview/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js,wordpress/moview/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js'></script>
        <script type="text/javascript">(function() {function addEventListener(element,event,handler) {
            if(element.addEventListener) {
            	element.addEventListener(event,handler, false);
            } else if(element.attachEvent){
            	element.attachEvent('on'+event,handler);
            }
            }})();
        </script>
    </body>
</html>