<footer id="footer" class="footer-wrap">
	<div class="bottom">
		<div class="container">
			<div class="bottom-wrap clearfix">
				<div class="col-sm-6 col-md-4 bottom-widget">
					<div id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
						<h3 class="widget_title">Newsletter</h3>
						<script type="text/javascript">(function() {
							if (!window.mc4wp) {
								window.mc4wp = {
									listeners: [],
									forms    : {
										on: function (event, callback) {
											window.mc4wp.listeners.push({
												event   : event,
												callback: callback
											});
										}
									}
								}
							}
							})();
						</script><!-- MailChimp for WordPress v3.1.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
						<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-106" method="post" data-id="106" data-name="moview bottom">
							<div class="mc4wp-form-fields">
								<p>Subscribe now to get 100 exclusive photo &amp; two newsletters per month</p>
								<div class="mc4wp-moview">
									<p>
										<input type="email" name="EMAIL" placeholder="Your email address" required="" autocomplete="off">
									</p>
									<p class="mc4wp-btn-moview">
										<input type="submit" value="Sign up">
									</p>
								</div>
								<div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></div>
								<input type="hidden" name="_mc4wp_timestamp" value="1477584457"><input type="hidden" name="_mc4wp_form_id" value="106"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
							</div>
							<div class="mc4wp-response"></div>
						</form>
						<!-- / MailChimp for WordPress Plugin -->
					</div>
				</div>
				<div class="col-sm-6 col-md-4 bottom-widget">
					<div id="nav_menu-2" class="widget widget_nav_menu">
						<h3 class="widget_title">Movies Category</h3>
						<div class="menu-movies-category-container">
							<ul id="menu-movies-category" class="menu">
								<li id="menu-item-118" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-118"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/action/">Action</a></li>
								<li id="menu-item-119" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-119"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/adventure/">Adventure</a></li>
								<li id="menu-item-120" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-120"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/animation/">Animation</a></li>
								<li id="menu-item-121" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-121"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/biography/">Biography</a></li>
								<li id="menu-item-122" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-122"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/comedy/">Comedy</a></li>
								<li id="menu-item-123" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-123"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/crime/">Crime</a></li>
								<li id="menu-item-124" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-124"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/documentary/">Documentary</a></li>
								<li id="menu-item-125" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-125"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/drama/">Drama</a></li>
								<li id="menu-item-126" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-126"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/family/">Family</a></li>
								<li id="menu-item-127" class="menu-item menu-item-type-taxonomy menu-item-object-movie_cat menu-item-127"><a href="http://demo.themeum.com/wordpress/moview/movie_cat/fantasy/">Fantasy</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 bottom-widget">
					<div id="themeum_double_ads_widget-2" class="widget widget_themeum_double_ads_widget">
						<h3 class="widget_title">Moview Everywhere</h3>
						<ul class="double-ads">
							<li>
								<a href="http://www.themeum.com/" target="_blank"><img src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/bottom4-add1.png" class="img-responsive" alt="Ads"></a>			
							</li>
							<li>
								<a href="http://www.themeum.com/" target="_blank"><img src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/bottom4-add2.png" class="img-responsive" alt="Ads"></a>			
							</li>
							<li>
								<a href="http://www.themeum.com/" target="_blank"><img src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/bottom4-add3.png" class="img-responsive" alt="Ads"></a>			
							</li>
							<li>
								<a href="http://www.themeum.com/" target="_blank"><img src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/bottom4-add4.png" class="img-responsive" alt="Ads"></a>			
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
                <!--/#footer-->
				                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul id="menu-footer-menu" class="menu-footer-menu">
                                    <li id="menu-item-99" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-99"><a href="#">About</a></li>
                                    <li id="menu-item-100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-100"><a href="#">Movies</a></li>
                                    <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-101"><a href="#">Celebraties</a></li>
                                    <li id="menu-item-102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102"><a href="#">Release Calendar</a></li>
                                    <li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-103"><a href="#">News</a></li>
                                    <li id="menu-item-104" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-104"><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-right">
                                © 2016 Your Company. All Rights Reserved. Designed By THEMEUM                            
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end footer -->
            </footer>