<header id="masthead" class="site-header header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="top-bar">
					<li><a href="/">Главная</a></li>
					<li><a href="/films">Фильмы</a></li>
					<li><a href="/categories">Категории</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div class="main-menu-wrap">
					<button id="open-button" class="menu-button">Open</button>
				</div>
				<!--/#offcanvas-menu-wrapper-->
				<div class="navbar-header">
					<div class="logo-wrapper">
						<a class="moview-navbar-brand" href="/">
							<img class="enter-logo img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/themes/moview/images/logo.png" alt="Logo" title="Logo">
							</a>
					</div>
				</div>
			</div>
			<!--/logo .col-sm-2-->    
			<div class="col-xs-4 visible-xs">
				<div class="top-align top-user-login">
					<i class="themeum-moviewuser"></i><span class="hidden-xs hidden-sm">Welcome Guest!</span> <a href="#sign-in" data-toggle="modal" data-target="#sign-in">Login</a>
				</div>
			</div>
			<!--/login .col-sm-3--> 
			<div class="clearfix visible-xs"></div>
			<div class="col-sm-6 home-search">
				<div class="home-search-btn">
					<div id="moview_search" class="moview-search moview_search">
						<div class="input-group moview-search-wrap">
							<form id="moview-search"  action="http://demo.themeum.com/wordpress/moview/">
								<div class="search-panel">
									<div class="select-menu">
										<select name="searchtype" id="searchtype" class="selectpicker">
											<option value="movie"> Movies</option>
											<option value="celebrity">Celebrities</option>
										</select>
									</div>
								</div>
								<div class="input-box">
									<input type="hidden" id="post-type-name" name="post_type" value="movie">
									<input type="text" id="searchword" name="s" class="moview-search-input form-control" value="" placeholder="" autocomplete="off" data-url="http://demo.themeum.com/wordpress/moview/wp-content/themes/moview/lib/search-data.php">
								</div>
								<span class="search-icon">
								<button type="submit" class="moview-search-submit">
								<span class="moview-search-icons"> 
								<i class="themeum-moviewsearch"></i>
								</span>
								</button>
								</span>
							</form>
							<div class="moview-search-results"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="top-align top-user-login">

				</div>
			</div>
			<!--/login .col-sm-3-->  
		</div>
		<!--/.row--> 
	</div>
	<!--/.container--> 
</header>