{% extends "__base.html" %}
    {% block main_content %}
<section id="main" class="clearfix">
	<div class="container">
		<div id="content" class="site-content" role="main">
			<div id="post-68" class="post-68 page type-page status-publish hentry">
				<div class="entry-content">
					<div class="moview-common-layout moview-celebrities-filters">
						<div class="row margin-bottom">
							<h1 align="center">{{ data.seo_h1}}</h1>
							{% for cinema in cinemas %}
								{% if cinema.poster %}
								<div class="item col-sm-6 col-md-3" style="margin-bottom: 25px;">
									<div class="movie-poster">
										<img width="400" height="650" src="/media/poster/{{ cinema.poster }}" class="img-responsive wp-post-image films-row" alt="15" sizes="(max-width: 400px) 100vw, 400px"><a class="play-icon" href="/films/{{ cinema.alias}}">
										<i class="themeum-moviewplay"></i>
										</a>
										<div class="content-wrap">
											<div class="video-container"><span class="video-close">x</span></div>
										</div>
									</div>
									<div class="movie-details">
										<div class="movie-rating-wrapper">
											<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
											<span class="rating-summary"><span>10</span>/10</span>
										</div>
										<div class="movie-name">
											<h4 class="movie-title"><a href="#">{{ cinema.name}}</a></h4>
											<span class="tag"><!--{% for i in cinema.genre.all %}{{ i }}{% endfor %}--></span>
										</div>
									</div>
								</div>
								{% endif%}
							{% endfor %}
						</div>
						<style>
							.vc_row-has-fill{ background: url('/static/main/img/trailers-and-video-bg.jpg')}
							.wpb_column {
							margin-top: 50px;
							padding-top: 40px;
							}
						</style>
					</div>
				</div>
			</div>
		</div>
		<!--/#content-->
	</div>
	<!--/container-->
</section>
{% endblock %}