{% extends "__base.html" %}
    {% block main_content %}
<section id="main" class="clearfix">
    <div class="moview-cover" style="background-image:url(/media/bg/{{ cinema.moviebg}});background-repeat:no-repeat;background-size: cover;background-position: 50% 50%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="moview-info-warpper">
                        <div class="moview-info">
                            <div class="pull-left">
                                <h1>{{ cinema.name }}</h1>
                                <span class="tag">{% for g in cinema.genre.all %}{{g.name}} {% endfor %}</span> |   <span class="movie-duration">{{ cinema.duration }} минут</span> 			               
                                <div class="rating-star">
                                    <span>Rating: </span>
                                    <div class="movie-rating"><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span><span class="themeum-moviewstar"></span></div>
                                    <span class="moviedb-rating-summary">10/10</span>
                                </div>
                                <!--//rating-star -->
                                <!-- <div class="moview-social-icon">
                                    <ul>
                                    					                        		<li> <a class="facebook" href="http://themeforest.net/user/themeum/portfolio"> <i class="fa fa-facebook"></i> </a> </li>
                                    					                        					                        		<li> <a class="twitter" href="http://themeforest.net/user/themeum/portfolio"> <i class="fa fa-twitter"></i> </a> </li>
                                    					                        	
                                    					                        		<li> <a class="googleplus" href="http://themeforest.net/user/themeum/portfolio">  <i class="fa fa-google-plus"></i> </a> </li>
                                    					                        	
                                    					                        		<li> <a class="youtube" href="http://themeforest.net/user/themeum/portfolio">  <i class="fa fa-youtube"></i> </a> </li>
                                    					                        	
                                    					                        		<li> <a class="vimeo" href="http://themeforest.net/user/themeum/portfolio">  <i class="fa fa-vimeo"></i> </a> </li>
                                    					                        	
                                    					                        		<li> <a class="instagram" href="http://themeforest.net/user/themeum/portfolio">  <i class="fa fa-instagram"></i> </a> </li>
                                    					                        	
                                    					                        		<li> <a class="globe" href="http://themeforest.net/user/themeum/portfolio">  <i class="fa fa-globe"></i> </a> </li>
                                    					                        </ul>
                                    </div> --> <!-- //social-icon -->
                            </div>
                            <!-- //pull-left -->
                            <div class="pull-right count-rating-wrapper">
                                <div class="count-rating">
                                    <span>10</span>
                                </div>
                            </div>
                            <!-- //right -->
                        </div>
                        <!--//moview-info-->
                        <div class="clearfix"></div>
                    </div>
                    <!--//moview-info-warpper-->
                </div>
                <!--//col-sm-9-->
            </div>
            <!--//row-->
        </div>
        <!--//container-->
    </div>
    <!--//moview-cover-->
    <div class="moview-details-wrap">
        <div class="container" >
            <div class="row">
                <div class="moview-wapper-total">
                    <div id="moview-info-sidebar" class="col-sm-3 moview-info-sidebar">
                        <div class="img-wrap">
                            <div class="item-img">
                                <img width="400" height="650" src="/media/poster/{{ cinema.poster}}" sizes="(max-width: 400px) 100vw, 400px" />								
                            </div>
                            <!--/.item-img-->
                            <div class="details-wrapper">
                                <h3 class="title">Информация</h3>
                                <ul class="list-style-none list-inline">
                                    <li class="actors">
                                        <span>Актёры:</span> {% for g in cinema.actor.all %}{% if forloop.last %}{{g.name}}{% else %}{{g.name}}, {% endif %}{% endfor %}
                                    </li>
                                    <li class="common-list">
                                        <span> Дата премьеры: </span> {{ cinema.firstdate }}
                                    </li>
                                    <li class="common-list">
                                        <span> Качество: </span> {{ cinema.quality }}
                                    </li>
                                    <li class="common-list">
                                        <span> Страна:</span> {{ cinema.country }}
                                    </li>
                                    <li class="common-list">
                                        <span> Перевод:</span> {{ cinema.translate}}
                                    </li>
                                </ul>
                            </div>
                            <!--//details-wrapper -->
                        </div>
                        <!--//img-wrap-->
                    </div>
                    <!--//moview-info-sidebar -->
                    <div class="col-sm-9 movie-info-warpper">
                        <!-- //movie-details -->
                        {% if cinema.trailerlink %}
                        <div class="trailers-videos">
                            <!-- start trailers-videos -->
                            <div class="header-title">
                                <span><i class="themeum-moviewcamera"></i></span>
                                <h3 class="title">Трейлер</h3>
                            </div>
                            <div class="row">
                                <div class="trailer-item leading col-sm-12">
                                    <div class="trailer">
                                        <div class="trailer-image-wrap">
                                            <iframe style="width: 100%; height: 400px;" src="http://{{ cinema.trailerlink }}" frameborder="0" allowfullscreen></iframe>
                                            <div class="content-wrap">
                                                <div class="video-container">
                                                    <span class="video-close">x</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- trailer-image-wrap -->
                                    </div>
                                </div>
                                <!--//trailer-item-->
                            </div>
                            <!-- //row -->
                        </div>
                        {% endif %}
                        <!-- movie-details -->
                        <div class="moview-details">
                            <div class="header-title">
                                <span><i class="themeum-moviewbook"></i></span> 
                                <h3 class="title">О фильме</h3>
                            </div>
                            <div class="moview-details-text">
                                {{ cinema.content|safe }}
                            </div>
                            <!--<div class="social-shares">
                                <div class="social-share-title">Share:</div>
                                <div class="moview-post-share-social"><a href="#" data-type="facebook" data-url="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/" data-title="Justice League" data-description="Justice League" data-media="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15.jpg" class="prettySocial facebook fa fa-facebook"></a><a href="#" data-type="twitter" data-url="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/" data-description="Justice League" data-via="" class="prettySocial twitter fa fa-twitter"></a><a href="#" data-type="googleplus" data-url="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/" data-description="Justice League" class="prettySocial google fa fa-google-plus"></a><a href="#" data-type="pinterest" data-url="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/" data-description="Justice League" data-media="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15.jpg" class="prettySocial pinterest fa fa-pinterest"></a><a href="#" data-type="linkedin" data-url="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/" data-title="Justice League" data-description="Justice League" data-via="" data-media="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15.jpg" class="prettySocial linkedin fa fa-linkedin"></a></div>
                            </div>-->
                        </div>
                        <!-- //trailers-videos -->
                        <!-- Recommend movies -->
                        <div class="moview-common-layout recommend-movies">
                            <div class="header-title">
                                <span><i class="themeum-moviewlike"></i></span> 
                                <h3 class="title">Recommend movies</h3>
                            </div>
                            <div class="row">
                                <div class="item col-sm-4 col-xs-12">
                                    <div class="movie-poster">
                                        <img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-1.jpg" class="img-responsive wp-post-image" alt="13" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-1.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-1-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" />					                            					                                                    <a class="play-icon play-video" href="xnv__ogkt0M" data-type="youtube">
                                        <i class="themeum-moviewplay"></i>
                                        </a>
                                        <div class="content-wrap">
                                            <div class="video-container">
                                                <span class="video-close">x</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie-details">
                                        <div class="movie-rating-wrapper">
                                            <div class="movie-rating">
                                                <span class="themeum-moviewstar active"></span>
                                            </div>
                                            <span class="rating-summary"><span>10</span>/10</span>
                                        </div>
                                        <div class="movie-name">
                                            <h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/dead-men-tell-no-tales/">Dead Men</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-sm-4 col-xs-12">
                                    <div class="movie-poster">
                                        <img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2.jpg" class="img-responsive wp-post-image" alt="9" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" />					                            					                                                    <a class="play-icon play-video" href="gtTfd6tISfw" data-type="youtube">
                                        <i class="themeum-moviewplay"></i>
                                        </a>
                                        <div class="content-wrap">
                                            <div class="video-container">
                                                <span class="video-close">x</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie-details">
                                        <div class="movie-rating-wrapper">
                                            <div class="movie-rating">
                                                <span class="themeum-moviewstar active"></span>
                                            </div>
                                            <span class="rating-summary"><span>0</span>/10</span>
                                        </div>
                                        <div class="movie-name">
                                            <h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/darkness-world/">Darkness World</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item col-sm-4 col-xs-12">
                                    <div class="movie-poster">
                                        <img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2.jpg" class="img-responsive wp-post-image" alt="7" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" />					                            					                                                    <a class="play-icon play-video" href="CmRih_VtVAs" data-type="youtube">
                                        <i class="themeum-moviewplay"></i>
                                        </a>
                                        <div class="content-wrap">
                                            <div class="video-container">
                                                <span class="video-close">x</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie-details">
                                        <div class="movie-rating-wrapper">
                                            <div class="movie-rating">
                                                <span class="themeum-moviewstar active"></span>
                                            </div>
                                            <span class="rating-summary"><span>8</span>/10</span>
                                        </div>
                                        <div class="movie-name">
                                            <h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/no-escape/">WP Revive</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //row -->
                        </div>
                        <!-- //Recommend movies -->
                    </div>
                    <!-- //col-sm-9 -->
                </div>
                <!--/#post-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.moview-details-wrap-->
</section>
{% endblock %}