{% extends "__base.html" %}
{% block main_content %}
<section id="main" class="clearfix">
	<div class="container">
		<div id="content" class="site-content" role="main">
			<div id="post-68" class="post-68 page type-page status-publish hentry">
				<div class="entry-content">
					<div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid container-fullwidth vc_custom_1455700416777 vc_row-no-padding">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1455700439913">
								<div class="wpb_wrapper">
									<div id="moview-movie" style="visibility: hidden;" class="moview-movie-featured ">
										<div class="row-fluid">
											<div class="movie-featured">
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/the-forest/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/1-1.jpg" alt="The Forest" ></a></div>
													<a class="play-icon play-video" href="xnv__ogkt0M" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>10</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/the-forest/">The Forest(2017)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/riffi-tailor-2/">Riffi Tailor</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/kokan-anderson/">Kokan Anderson</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">Julia Toufis</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/captain-america-civil-war/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/2-1.jpg" alt="Captain Asia: Cricket War" ></a></div>
													<a class="play-icon play-video" href="uVdV-lxRPFo" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/captain-america-civil-war/">Captain Asia: Cricket War(2016)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/charlize-theron/">Charlize Theron</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/selina-mario/">Selina Mario</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/nina-dobrev/">Nina Dobrev</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/x-men-apocalypse/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-2.jpg" alt="Y-Person: Calypse" ></a></div>
													<a class="play-icon play-video" href="COvnHv42T-A" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>10</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/x-men-apocalypse/">Y-Person: Calypse(2016)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/taylor-swift/">Tata Tong</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/megan-carri-2/">Megan Carri</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">Dummy Crud</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/batman-v-superman-dawn-of-justice/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/4-2.jpg" alt="Lorem v Tempora" ></a></div>
													<a class="play-icon play-video" href="NhWg7AQLI_8" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/batman-v-superman-dawn-of-justice/">Lorem v Tempora(2016)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/megan-carri/">Megan Carri</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/selina-mario/">Selina Mario</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/the-reverent/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/5-1.jpg" alt="Hail, Caesar!" ></a></div>
													<a class="play-icon play-video" href="kMqeoW3XRa0" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/the-reverent/">Hail, Caesar!(2017)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/mila-kunis/">Mila Kunis</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/angry-dory/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-2.jpg" alt="Angry Dory" ></a></div>
													<a class="play-icon play-video" href="3JNLwlcPBPI" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>9</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/angry-dory/">Angry Dory(2017)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">Dummy Crud</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/no-escape/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2.jpg" alt="WP Revive" ></a></div>
													<a class="play-icon play-video" href="CmRih_VtVAs" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>8</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/no-escape/">WP Revive(2017)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/scarlett-johansson/">Simply Jummy</a>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster"><a href="http://demo.themeum.com/wordpress/moview/movie/darkness-world/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2.jpg" alt="Darkness World" ></a></div>
													<a class="play-icon play-video" href="gtTfd6tISfw" data-type="youtube">
													<i class="themeum-moviewplay"></i>
													</a>
													<div class="content-wrap">
														<div class="video-container"><span class="video-close">x</span></div>
													</div>
													<div class="movie-details">
														<div class="moview-rating-wrapper">
															<div class="moview-rating"> <span class="star active"></span> </div>
															<span class="moview-rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h2 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/darkness-world/">Darkness World(2017)</a></h2>
															<span class="tag">Action, Drama </span>
														</div>
														<div class="cast">
															<span>Cast :</span> <a href="http://demo.themeum.com/wordpress/moview/celebrity/kokan-anderson/">Kokan Anderson</a><a href="http://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">Julia Toufis</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width vc_clearfix"></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1455700549561">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1455700479497">
								<div class="wpb_wrapper">
									<div class="themeum-title yes ">
										<h3 class="style-title" style="font-weight:400;font-size:24px;line-height: normal;"><span class="title-icon-style" style="color:#dd3333;font-size:35px;line-height: normal;"><i class="themeum-moviewvideocam"></i></span>Spotlight This Month</h3>
										<a href="#" class="title-link pull-right">See all news<i class="themeum-moviewangle-double-right"></i></a>
									</div>
									<div class="spotlight-post tabpanel">
										<ul class="list-unstyled list-inline text-left">
											<li class="active"><a href="#latest" data-toggle="tab">Latest</a></li>
											<li><a href="#coming-soon" data-toggle="tab">Coming Soon</a></li>
											<li><a href="#top-rated" data-toggle="tab">Top Rated</a></li>
										</ul>
										<div class="tab-content">
											<div class="spotlight moview-common-layout tab-pane active fade in" id="latest">
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15.jpg" class="img-responsive wp-post-image" alt="15" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="xnv__ogkt0M" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>10</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">Justice League(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-1.jpg" class="img-responsive wp-post-image" alt="13" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-1.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/13-1-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="xnv__ogkt0M" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>10</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/dead-men-tell-no-tales/">Dead Men(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2.jpg" class="img-responsive wp-post-image" alt="9" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="gtTfd6tISfw" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/darkness-world/">Darkness World(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2.jpg" class="img-responsive wp-post-image" alt="7" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="CmRih_VtVAs" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>8</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/no-escape/">WP Revive(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-2.jpg" class="img-responsive wp-post-image" alt="6" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="3JNLwlcPBPI" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>9</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/angry-dory/">Angry Dory(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/5-1.jpg" class="img-responsive wp-post-image" alt="5" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/5-1.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/5-1-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="kMqeoW3XRa0" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/the-reverent/">Hail, Caesar!(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/4-2.jpg" class="img-responsive wp-post-image" alt="4" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/4-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/4-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="NhWg7AQLI_8" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/batman-v-superman-dawn-of-justice/">Lorem v Tempora(2016)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-2.jpg" class="img-responsive wp-post-image" alt="3" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-2.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-2-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="COvnHv42T-A" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>10</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/x-men-apocalypse/">Y-Person: Calypse(2016)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/2-1.jpg" class="img-responsive wp-post-image" alt="2" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/2-1.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/2-1-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="uVdV-lxRPFo" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>0</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/captain-america-civil-war/">Captain Asia: Cricket War(2016)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="movie-poster">
														<img width="400" height="650" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/1-1.jpg" class="img-responsive wp-post-image" alt="1" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/1-1.jpg 400w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/1-1-185x300.jpg 185w" sizes="(max-width: 400px) 100vw, 400px" /><a class="play-icon play-video" href="xnv__ogkt0M" data-type="youtube">
														<i class="themeum-moviewplay"></i>
														</a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="movie-details">
														<div class="movie-rating-wrapper">
															<div class="movie-rating"><span class="themeum-moviewstar active"></span></div>
															<span class="rating-summary"><span>10</span>/10</span>
														</div>
														<div class="movie-name">
															<h4 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/the-forest/">The Forest(2017)</a></h4>
															<span class="tag">Action, Drama </span>
														</div>
													</div>
												</div>
											</div>
											<div class="spotlight moview-common-layout tab-pane fade in" id="coming-soon"></div>
											<div class="spotlight moview-common-layout tab-pane fade in" id="top-rated"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1455700958559">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1455700908281">
								<div class="wpb_wrapper">
									<div class="wpb_single_image wpb_content_element vc_align_left">
										<figure class="wpb_wrapper vc_figure">
											<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1142" height="90" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1-1.jpg" class="vc_single_image-img attachment-full" alt="home-add-1-1" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1-1.jpg 1142w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1-1-300x24.jpg 300w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1-1-768x61.jpg 768w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/home-add-1-1-1-1024x81.jpg 1024w" sizes="(max-width: 1142px) 100vw, 1142px" /></div>
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1455701100738 vc_row-has-fill">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="themeum-title yes transparent-border">
										<h3 class="style-title" style="font-weight:400;font-size:24px;line-height: normal;color:#ffffff;"><span class="title-icon-style" style="color:#8dc63f;font-size:35px;line-height: normal;"><i class="themeum-moviewcamera"></i></span>Trailers & Videos</h3>
										<a href="#" class="title-link pull-right">See all Trailers & Video<i class="themeum-moviewangle-double-right"></i></a>
									</div>
									<div class="trailers-videos">
										<div class="row">
											<div class="trailer-item leading col-sm-12">
												<div class="trailer">
													<div class="trailer-image-wrap">
														<img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/8.jpg" alt="trailers"><a class="play-video" href="xnv__ogkt0M" data-type="youtube"><i class="play-icon themeum-moviewplay"></i></a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="trailer-info trailers-info">
														<div class="trailer-info-block">
															<img class="img-responsive thumb-img" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/15-100x100.jpg" alt="Justice League">
															<h3 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/justice-league-part-one/">Justice League(2017)</a></h3>
															<p class="genry">Action, Drama </p>
														</div>
														<div class="count-rating pull-right"><span>10</span></div>
													</div>
												</div>
											</div>
											<div class="trailer-item subleading col-sm-3">
												<div class="trailer">
													<div class="trailer-image-wrap">
														<img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/10-1-265x165.jpg" alt="trailers"><a class="play-video" href="xnv__ogkt0M" data-type="youtube"><i class="play-icon themeum-moviewplay"></i></a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="trailer-info trailers-info">
														<div class="trailer-info-block">
															<h3 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/dead-men-tell-no-tales/">Dead Men(2017)</a></h3>
															<p class="genry">Action, Drama </p>
														</div>
													</div>
												</div>
											</div>
											<div class="trailer-item subleading col-sm-3">
												<div class="trailer">
													<div class="trailer-image-wrap">
														<img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-265x165.jpg" alt="trailers"><a class="play-video" href="gtTfd6tISfw" data-type="youtube"><i class="play-icon themeum-moviewplay"></i></a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="trailer-info trailers-info">
														<div class="trailer-info-block">
															<h3 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/darkness-world/">Darkness World(2017)</a></h3>
															<p class="genry">Action, Drama </p>
														</div>
													</div>
												</div>
											</div>
											<div class="trailer-item subleading col-sm-3">
												<div class="trailer">
													<div class="trailer-image-wrap">
														<img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/6-265x165.jpg" alt="trailers"><a class="play-video" href="CmRih_VtVAs" data-type="youtube"><i class="play-icon themeum-moviewplay"></i></a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="trailer-info trailers-info">
														<div class="trailer-info-block">
															<h3 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/no-escape/">WP Revive(2017)</a></h3>
															<p class="genry">Action, Drama </p>
														</div>
													</div>
												</div>
											</div>
											<div class="trailer-item subleading col-sm-3">
												<div class="trailer">
													<div class="trailer-image-wrap">
														<img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/11-1-265x165.jpg" alt="trailers"><a class="play-video" href="3JNLwlcPBPI" data-type="youtube"><i class="play-icon themeum-moviewplay"></i></a>
														<div class="content-wrap">
															<div class="video-container"><span class="video-close">x</span></div>
														</div>
													</div>
													<div class="trailer-info trailers-info">
														<div class="trailer-info-block">
															<h3 class="movie-title"><a href="http://demo.themeum.com/wordpress/moview/movie/angry-dory/">Angry Dory(2017)</a></h3>
															<p class="genry">Action, Drama </p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width vc_clearfix"></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1455701254246">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="themeum-title yes ">
										<h3 class="style-title" style="font-weight:400;font-size:24px;line-height: normal;"><span class="title-icon-style" style="color:#dd3333;font-size:35px;line-height: normal;"><i class="themeum-moviewcup"></i></span>News Feed</h3>
										<a href="#" class="title-link pull-right">See all news<i class="themeum-moviewangle-double-right"></i></a>
									</div>
									<div class="news-feed row">
										<div class="col-sm-6 leading-item">
											<div class="news-feed-item">
												<div class="news-feed-thumb"><a href="http://demo.themeum.com/wordpress/moview/star-wars-ut-enim-ad-minim-veniam-quis-nostrud-exercit/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-1-1040x550.jpg" alt="Star Wars Ut enim ad minim veniam, quis nostrud exercit" ></a></div>
												<div class="news-feed-info">
													<span class="meta-category"><a href="http://demo.themeum.com/wordpress/moview/category/blog/" rel="tag">Blog</a><a href="http://demo.themeum.com/wordpress/moview/category/feature/" rel="tag">feature</a></span>
													<h3 class="news-feed-title"><a href="http://demo.themeum.com/wordpress/moview/star-wars-ut-enim-ad-minim-veniam-quis-nostrud-exercit/" >Star Wars Ut enim ad minim veniam, quis nostrud exercit</a></h3>
													<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span class="meta-date">February 3, 2016</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="news-feed-item">
												<div class="news-feed-thumb"><a href="http://demo.themeum.com/wordpress/moview/duis-aute-irure-dolor-in-reprehenderit-in-voluptate/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/7-130x135.jpg" alt="Duis aute irure dolor in reprehenderit in voluptate" ></a></div>
												<div class="news-feed-info">
													<span class="meta-category"><a href="http://demo.themeum.com/wordpress/moview/category/blog/" rel="tag">Blog</a><a href="http://demo.themeum.com/wordpress/moview/category/media/" rel="tag">media</a></span>
													<h3 class="news-feed-title"><a href="http://demo.themeum.com/wordpress/moview/duis-aute-irure-dolor-in-reprehenderit-in-voluptate/" >Duis aute irure dolor in reprehenderit in voluptate</a></h3>
													<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span class="meta-date">January 20, 2016</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="news-feed-item">
												<div class="news-feed-thumb"><a href="http://demo.themeum.com/wordpress/moview/nostrud-exercitation-ullamco-laboris/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/8-130x135.jpg" alt="Nostrud exercitation ullamco laboris" ></a></div>
												<div class="news-feed-info">
													<span class="meta-category"><a href="http://demo.themeum.com/wordpress/moview/category/movie/" rel="tag">movie</a><a href="http://demo.themeum.com/wordpress/moview/category/trailers_video/" rel="tag">Trailers_video</a></span>
													<h3 class="news-feed-title"><a href="http://demo.themeum.com/wordpress/moview/nostrud-exercitation-ullamco-laboris/" >Nostrud exercitation ullamco laboris</a></h3>
													<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span class="meta-date">January 20, 2016</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="news-feed-item">
												<div class="news-feed-thumb"><a href="http://demo.themeum.com/wordpress/moview/magnam-aliquam-quaerat-voluptatem/"><img class="img-responsive" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-1-130x135.jpg" alt="Magnam aliquam quaerat voluptatem" ></a></div>
												<div class="news-feed-info">
													<span class="meta-category"><a href="http://demo.themeum.com/wordpress/moview/category/media/" rel="tag">media</a><a href="http://demo.themeum.com/wordpress/moview/category/movie/" rel="tag">movie</a></span>
													<h3 class="news-feed-title"><a href="http://demo.themeum.com/wordpress/moview/magnam-aliquam-quaerat-voluptatem/" >Magnam aliquam quaerat voluptatem</a></h3>
													<div class="news-feed-meta"><i class="themeum-moviewclock"></i><span class="meta-date">January 20, 2016</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width vc_clearfix"></div>
					<div class="vc_row wpb_row vc_row-fluid vc_custom_1455701770265">
						<div class="wpb_column vc_column_container col-sm-8">
							<div class="vc_column-inner vc_custom_1455701778688">
								<div class="wpb_wrapper">
									<div class="themeum-title yes ">
										<h3 class="style-title" style="font-weight:400;font-size:24px;line-height: normal;"><span class="title-icon-style" style="color:#dd3333;font-size:35px;line-height: normal;"><i class="themeum-moviewvideocam"></i></span>Did You Know</h3>
										<a href="#" class="title-link pull-right">See all the Did you know<i class="themeum-moviewangle-double-right"></i></a>
									</div>
									<div class="vc_row wpb_row vc_inner vc_row-fluid">
										<div class="wpb_column vc_column_container col-sm-5">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_single_image wpb_content_element vc_align_left">
														<figure class="wpb_wrapper vc_figure">
															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="276" height="406" src="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/crood-1-1.jpg" class="vc_single_image-img attachment-full" alt="crood-1" srcset="http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/crood-1-1.jpg 276w, http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/crood-1-1-204x300.jpg 204w" sizes="(max-width: 276px) 100vw, 276px" /></div>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_column vc_column_container col-sm-7">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<h2>The Kroods</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
															<p>veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
															<p>veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea commodo consequat. Duis aute irure  reprehenderit in voluptate</p>
															<p><a class="continue" href="#">Continue Reading</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-4">
							<div class="vc_column-inner vc_custom_1455701785009">
								<div class="wpb_wrapper">
									<div class="themeum-title yes ">
										<h3 class="style-title" style="font-weight:400;font-size:24px;line-height: normal;"><span class="title-icon-style" style="color:#dd3333;font-size:35px;line-height: normal;"><i class="themeum-moviewvideocam"></i></span>Spotlight This Month</h3>
									</div>
									<div class="movie-celebrities">
										<div class="movie-celebrity clearfix">
											<a href="http://demo.themeum.com/wordpress/moview/celebrity/riffi-tailor-2/">
												<div class="pull-left movie-celebrity-thumb" style="background-image: url(http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/14-130x135.jpg); "></div>
											</a>
											<div class="movie-celebrity-info">
												<div class="movie-celebrity-name"><a href="http://demo.themeum.com/wordpress/moview/celebrity/riffi-tailor-2/">Riffi Tailor</a><small class="movie-celebrity-designation">Singer</small></div>
											</div>
										</div>
										<div class="movie-celebrity clearfix">
											<a href="http://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">
												<div class="pull-left movie-celebrity-thumb" style="background-image: url(http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/12-130x135.jpg); "></div>
											</a>
											<div class="movie-celebrity-info">
												<div class="movie-celebrity-name"><a href="http://demo.themeum.com/wordpress/moview/celebrity/dummy-crud/">Dummy Crud</a><small class="movie-celebrity-designation">Actress, musician</small></div>
											</div>
										</div>
										<div class="movie-celebrity clearfix">
											<a href="http://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">
												<div class="pull-left movie-celebrity-thumb" style="background-image: url(http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/10-130x135.jpg); "></div>
											</a>
											<div class="movie-celebrity-info">
												<div class="movie-celebrity-name"><a href="http://demo.themeum.com/wordpress/moview/celebrity/julia-toufis-2/">Julia Toufis</a><small class="movie-celebrity-designation">Actor, musician</small></div>
											</div>
										</div>
										<div class="movie-celebrity clearfix">
											<a href="http://demo.themeum.com/wordpress/moview/celebrity/megan-carri-2/">
												<div class="pull-left movie-celebrity-thumb" style="background-image: url(http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/9-130x135.jpg); "></div>
											</a>
											<div class="movie-celebrity-info">
												<div class="movie-celebrity-name"><a href="http://demo.themeum.com/wordpress/moview/celebrity/megan-carri-2/">Megan Carri</a><small class="movie-celebrity-designation">Actress</small></div>
											</div>
										</div>
										<div class="movie-celebrity clearfix">
											<a href="http://demo.themeum.com/wordpress/moview/celebrity/charlize-theron/">
												<div class="pull-left movie-celebrity-thumb" style="background-image: url(http://demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/7-130x135.jpg); "></div>
											</a>
											<div class="movie-celebrity-info">
												<div class="movie-celebrity-name"><a href="http://demo.themeum.com/wordpress/moview/celebrity/charlize-theron/">Charlize Theron</a><small class="movie-celebrity-designation">Actor</small></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/#content-->
	</div>
	<!--/container-->
</section>
{% endblock %}