@charset "utf-8";
@import "bootstrap/bootstrap.css";
@import "bootstrap/bootstrap-theme.css";
@import "../js/fancybox/jquery.fancybox.css";
@import "scroll/jquery.mCustomScrollbar.css";
@import "icons/font-awesome.css";
@import "carousel/carousel.css";
@import "carousel/owl.theme.css";
@import "carousel/owl.transitions.css";
@import "skins/theme-options.css";
@import "slider/camera.css";
@import "transitions.css";
@import "animations/animate.css";
@import "tabs/style.css";
@import "flickr/flickr.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600";
@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300";
body
{
	background-color: #000;
	color: #565656;
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
	line-height: 24px;
	text-rendering: optimizeLegibility;
	webkit-font-smoothing: antialiased;
}
p
{
	font-size: 15px;
}
a:hover
{
	opacity: .85;
	text-decoration: none;
}
img
{
	max-width: 100%;
}
.left
{
	text-align: left;
}
.right
{
	text-align: right;
}
.center
{
	text-align: center;
}
.top
{
	margin-top: 50px;
}
.top-mini
{
	margin-top: 30px;
}
.paddings
{
	background-color: #fff;
	padding: 100px 0;
	position: relative;
}
iframe
{
	border: none;
    width: 795px;
    margin: 0 auto;
}
.text-overflow
{
	overflow: hidden!important;
}
.social,.menu-base,#gallery-people,.vevent ul
{
	padding: 0;
}
.social li,.menu-base li,#gallery-people li,.vevent ul li
{
	list-style: none;
}
.bg_image
{
	position: relative;
	width: 100%;
}
h1,h2,h3,h4,h5
{
	color: #333;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
}
.opacity-bg
{
	bottom: 0;
	height: auto;
	left: 0;
	position: relative;
	width: 100%;
	z-index: 2;
}
.pricing,.sponsors ul,.testimonials,.thumbs,.sponsor-list,.nav,.gallery-videos ul,.gallery-albums ul,.diary ul,.team-name,.overlay-description ul
{
	padding: 0;
}
.sponsors ul li,.pricing,.testimonials li,.thumbs li,.sponsor-list li,.twitter ul li,.nav li,.gallery-videos ul li,.gallery-albums ul li,.diary ul li,.team-name li
{
	list-style: none;
}
.btn
{
	border: none;
	border-radius: 0;
	width: auto;
}
.bg-light
{
	background-color: #fafafa;
	border-top: 1px solid #f6f6f6;
	position: relative;
}
.text-decoration
{
	text-decoration: line-through;
}
.text-decoration:hover
{
	text-decoration: line-through;
}
.opacity-bg
{
	background-color: rgba(0,0,0,0.5);
}
.home-welcome h1
{
	font-family: 'Open Sans',sans-serif;
}
.preloader
{
	background-color: #fefefe;
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden!important;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}
.status
{
	background-image: url(../img/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 16px;
	left: 50%;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 50%;
	webkit-background-size: cover;
	width: 16px;
}
.navbar
{
	background: #111;
	padding: 3px 0;
}
.navbar-header img
{
	margin-top: 3px;
	webkit-backface-visibility: hidden;
	height: 45px;
}
.navbar .main-navigation .current a
{
	outline: none;
	position: relative;
}
.navbar .main-navigation li a
{
	color: #c8c8c8;
	font-size: 15px;
	font-style: italic;
	font-weight: bolder;
	letter-spacing: -.2px;
	    line-height: 35px;
	text-transform: uppercase;
}
.navbar-brand
{
	padding: 0;
}
.nav.navbar-nav
{
	padding-top: 10px;
}
.navbar .social
{
	padding-top: 13px;
}
.navbar-header
{
	padding-left: 16px;
}
nav
{
	background-color: #171717;
	padding: 20px 0 0;
	width: 100%;
	z-index: 99;
}
.social li i
{
	color: #fff;
	font-size: 24px;
}
.social li
{
	display: inline-block;
	margin-right: 10px;
}
nav .social
{
	margin-top: 13px;
}
.titles-main
{
	padding: 50px 0;
}
.titles-main hr
{
	border-top: 2px solid #333;
	display: inline-block;
	margin: 10px 0;
	width: 105px;
}
.titles-main p
{
	font-size: 20px;
	line-height: 30px;
}
header .only-logo .navbar
{
	background: none;
	padding: 60px;
}
header .only-logo .navbar .navbar-header
{
	float: none;
}
.home-welcome
{
	background: url(../img/rrrr.jpg) no-repeat center top fixed;
	background-size: cover;
	color: #fff;
	moz-background-size: cover;
	o-background-size: cover;
	overflow: hidden;
	position: relative;
	webkit-background-size: cover;
}
.home-welcome.video-home
{
	background: none;
	background: rgba(0,0,0,0.3);
}
.home-welcome .paddings
{
	padding: 170px 0 200px;
}
.home-welcome .bg-gradients
{
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
}
.home-welcome h2
{
	font-size: 40px;
	letter-spacing: 1.5px;
	position: relative;
	text-transform: uppercase;
}
.home-welcome h2 span:before,.home-welcome h2 span:after
{
	border-top: 1px solid #fff;
	content: "";
	display: block;
	height: 1px;
	left: -176px;
	position: absolute;
	top: 18px;
	width: 145px;
	z-index: 0;
}
.home-welcome h2 span:after
{
	left: auto;
	right: -176px;
}
.place-home i
{
	margin-right: 10px;
}
.place-home
{
	color: #fff;
	font-size: 23px;
	font-weight: 100;
	font-weight: 400;
	line-height: 33px;
	margin: 0 20px;
	position: relative;
	top: -15px;
}
.place-home time i
{
	margin-left: 25px;
}
.home-welcome h1
{
	font-weight: 700;
	font-size: 8em;
	line-height: 200px;
	margin-bottom: 20px;
	color: #fff;
	letter-spacing: -7px;
}
.home-welcome h3
{
	color: #fff;
	font-size: 27px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 33px;
	margin: 0 auto;
	width: 48%;
}
.home-welcome h3 span
{
	font-weight: 700;
}
.home-welcome .social
{
	margin-bottom: 20px;
	margin-top: 20px;
}
.menu-base li
{
	display: inline-block;
	margin-right: 20px;
}
.home-welcome .social li i
{
	color: #fff;
	font-size: 35px;
	line-height: 45px;
}
.menu-base
{
	margin-top: 150px;
}
.menu-base li
{
	margin-right: 40px;
}
.menu-base li i
{
	color: #fff;
	font-size: 55px;
	line-height: 65px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.menu-base li p
{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.diary
{
	background: url(../img/bg-diary-championship.jpg) no-repeat center fixed;
	position: relative;
}
.opacity-bg-color
{
	filter: alpha(opacity=5);
	height: 100%;
	left: 0;
	opacity: .5;
	position: absolute;
	top: 0;
	width: 100%;
}
.diary:hover
{
	cursor: move;
}
.diary .paddings
{
	background-color: transparent;
	color: #fff;
	padding: 20px 0 15px;
}
.place-time-diaries
{
	font-style: italic;
}
.place-time-diaries .location
{
	margin-left: 10px;
}
.player-logo img,.player-logo figcaption,.championship figure
{
	display: inline-block;
}
.player-logo img
{
	width: 50px;
}
.player-logo figcaption
{
	font-size: 16px;
	vertical-align: middle;
}
.championship span
{
	font-size: 18px;
	font-weight: 700;
	margin: 0 40px;
	text-transform: uppercase;
}
.player-logo img
{
	margin: 0 10px;
}
.form-register
{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	max-width: 650px;
	width: 100%;
}
.form-register .form-group
{
	padding: 40px;
}
.form-register input,.form-register select
{
	border-radius: 0;
	font-size: 14px;
	height: 40px;
	line-height: 24px;
	margin-bottom: 30px;
}
.form-register .checkbox input[type="checkbox"]
{
	margin-top: -8px;
}
.form-register .checkbox
{
	margin-bottom: 40px;
}
.form-register .btn
{
	font-size: 16px;
	height: 50px;
	width: 100%;
}
.gallery-videos ul li
{
	margin-right: 10px;
}
.gallery-videos ul li iframe
{
	height: 250px!important;
	width: 100%!important;
}
.gallery-videos .owl-theme .owl-controls,.gallery-albums .owl-theme .owl-controls
{
	margin-top: 20px;
}
.gallery-videos hr
{
	margin-bottom: 10px;
	margin-top: 10px;
}
.gallery-videos p
{
	margin-bottom: 25px;
}
.testimonials
{
	color: #fff;
	margin: 0 auto;
	width: 1170px;
}
.avatar-testimonial img
{
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	moz-border-radius: 50%;
	webkit-border-radius: 50%;
	width: 150px;
}
.name-testimonial
{
	display: inline-block;
	vertical-align: middle;
}
.name-testimonial h3 a
{
	color: #333;
	font-size: 31px;
	line-height: 41px;
}
.name-testimonial span
{
	font-size: 17px;
}
.text-testimonials p
{
	font-size: 18px;
	line-height: 28px;
}
.text-testimonials
{
	border-left: 1px solid #ccc;
	margin-top: 40px;
	padding: 10px 0 10px 50px;
}
.avatar-testimonial h3
{
	margin-bottom: 0;
}
.schedule
{
	background-color: #fff;
	position: relative;
}
.general-schedule
{
	background-color: #fff;
	padding: 100px 30px 90px 70px;
	position: relative;
	z-index: 2;
}
.general-schedule-bg
{
	background: url(../img/preview-schedule.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	moz-background-size: cover;
	o-background-size: cover;
	position: absolute;
	webkit-background-size: cover;
	width: 85%;
}
.general-schedule-bg.video
{
	background-attachment: scroll;
}
.tab-content > .tab-pane
{
	padding: 30px 0 0;
}
.nav-tabs > li > a
{
	border-radius: 0;
}
.nav > li > a
{
	padding: 10px 30px 0;
}
.nav > li > a:hover {
	background:none!important;
}
.nav-tabs li a
{
	font-size: 17px;
	line-height: 27px;
}
.nav-tabs li a p
{
	font-size: 14px;
	font-weight: lighter;
}
.date
{
	margin-left: 10px;
}
.dates-schedule
{
	padding: 30px 35px 35px 30px;
}
.dates-schedule h2
{
	display: inline-block;
	font-size: 35px;
	line-height: 45px;
	vertical-align: text-bottom;
}
.dates-schedule hr
{
	border-top: 1px solid #f2f2f2;
	margin-bottom: 27px;
	margin-top: 10px;
	width: 60%;
}
.dates-schedule.top
{
	margin-top: 20px;
}
.date-month
{
	display: inline-block;
	margin: 10px 15px 0 10px;
	position: relative;
}
.date-month i
{
	color: #333;
	font-size: 100px;
}
.date-month .date-day
{
	color: #333;
	left: 21px;
	position: absolute;
	top: 31px;
}
.date-month span
{
	font-size: 33px;
	letter-spacing: -1px;
	line-height: 43px;
}
.date-month p
{
	font-size: 20px;
	line-height: 10px;
}
.date .vevent ul li
{
	border-bottom: 1px solid #ccc;
	padding: 7px 6px 13px 0;
	vertical-align: top;
	width: 179px;
}
.vevent ul li
{
	display: inline-block;
	margin-right: 25px;
}
.vevent .author a
{
	color: #333;
	font-size: 17px;
	font-weight: 500;
}
.vevent .author
{
	margin-bottom: 20px;
}
.vevent h4
{
	margin-bottom: 5px;
}
.vevent .ticketAggregate
{
	margin-top: 20px;
}
.vevent .location .tooltip
{
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	letter-spacing: .5px;
}
.vevent .times-events:after
{
	content: "/";
	margin: 0 5px;
}
.tabs .arrow-tabs
{
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 0;
	padding-top: 20px;
}
.tabs .arrow-tabs span
{
	color: #fff;
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.tabs .active-tabs
{
	font-size: 22px;
	font-weight: 400;
	padding-top: 20px;
}
.tabs .active-tabs span
{
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.tabs input:hover + label
{
	color: #fff;
}
.download-schedule-link
{
	border: 1px solid #f6f6f6;
	font-size: 18px;
	font-weight: lighter;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px;
	width: 300px;
}
.counter
{
	padding-top: 43px;
	position: relative;
	vertical-align: middle;
}
.counter span
{
	color: #232323;
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 20px;
}
.counter span small
{
	font-size: 16px;
	font-weight: 400;
	margin-right: 40px;
	width: 100px;
}
.live-banner
{
	background-size: cover;
	color: #fff;
	overflow: hidden;
	position: relative;
	webkit-background-size: cover;
}
.live-banner video
{
	left: 0;
	min-width: 100%;
	position: absolute;
	top: 0;
}
.live-banner h2
{
	color: #fff;
	font-size: 50px;
	line-height: 60px;
}
.live-banner p
{
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 50px;
	margin-top: 30px;
	padding: 0 140px;
}
.live-banner span
{
	color: #333;
	display: block;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -1px;
	margin-top: 15px;
	text-transform: uppercase;
}
.live-banner a
{
	font-size: 19px;
}
.live-banner .follow-youtube i
{
	font-size: 35px;
	vertical-align: middle;
}
.live-banner .follow-youtube
{
	color: #fff;
	padding: 10px 15px;
}
.speakers.image
{
	background: url(../img/2014-win.jpg) center 40% no-repeat;
	background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	webkit-background-size: cover;
	z-index: 0;
}
.line-divisor-white
{
	background: url(../img/donw-line-divisor.png) no-repeat center top;
	background-size: auto;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.line-divisor-white-bottom
{
	background: url(../img/donw-line-divisor-bottom.png) no-repeat center bottom;
	background-size: auto;
	bottom: 0;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.speakers
{
	background: url() center bottom no-repeat;
	background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	webkit-background-size: cover;
}
.image-gallery
{
	overflow: hidden;
	position: relative;
}
.overlay-info p
{
	color: rgba(255,255,255,0.7);
}
.overlay-info
{
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 20px 25px 10px 30px;
	position: absolute;
	width: 100%;
}
.image-gallery:hover .data-name
{
	transform: translate3d(0,-85px,0);
	transition: opacity .5s,transform 1s;
	webkit-transform: translate3d(0,-85px,0);
	webkit-transition: -webkit-transform 1s;
}
.image-gallery:hover .data-name h3
{
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
}
.image-gallery:hover .data-name p
{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.image-gallery .data-name p
{
	letter-spacing: .4px;
}
.overlay-info .data-name
{
	transform: translate3d(0,90px,0);
	transition: opacity 1s,transform 1.35s;
	webkit-transform: translate3d(0,90px,0);
}
.overlay-info .data-name h3
{
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
}
.image-gallery img
{
	max-width: none;
	transform: translate3d(-40px,0,0);
	transition: opacity 0.35s,transform 1s;
	webkit-transform: translate3d(-40px,0,0);
	webkit-transition: opacity 0.35s,-webkit-transform 1s;
	width: calc(100% + 50px);
	width: -webkit-calc(100% + 50px);
}
.image-gallery:hover img
{
	transform: translate3d(0,0,0);
	webkit-transform: translate3d(0,0,0);
}
.image-gallery .overlay-description
{
	color: #fff;
	opacity: 0;
	webkit-transition: opacity .5s,-webkit-transform 1s;
}
.image-gallery:hover .overlay-description
{
	opacity: 1;
	transform: translate3d(0,-85px,0);
	transition: opacity 1s,transform 1.35s;
	webkit-transform: translate3d(0,-85px,0);
}
.image-gallery .overlay-description a
{
	display: block;
	font-size: 14px;
	font-weight: 700;
}
.image-gallery .social,.image-gallery .team-name
{
	position: relative;
	top: -21px;
}
.image-gallery .social li i
{
	color: rgba(255,255,255,0.5);
	font-size: 26px;
	moz-transition: all .4s linear;
	o-transition: all .4s linear;
	transition: all .4s linear;
	webkit-transition: all .4s linear;
}
.image-gallery:hover .social li i,.image-gallery .team-name a
{
	color: rgba(255,255,255,0.9);
	moz-transition: all .4s linear;
	o-transition: all .4s linear;
	transition: all .4s linear;
	webkit-transition: all .4s linear;
}
.image-gallery .team-name img
{
	webkit-transform: translate3d(0,0,0);
	width: 30px;
}
.image-gallery .team-name li
{
	display: inline-block;
}
.image-gallery .overlay-description li:before
{
	content: "- ";
}
.image-gallery .overlay-description ul li
{
	font-style: italic;
	font-weight: 700;
}
.gallery-people
{
	margin-bottom: 50px;
	z-index: 3;
}
.results
{
	background-color: #fff;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 16px;
	font-weight: lighter;
	height: 340px;
	line-height: 26px;
	overflow: auto;
}
.result-match
{
	padding: 10px 20px;
}
.results .result-match span
{
	font-weight: 400;
	margin: 0 5px;
}
.results .result-match:nth-child(even)
{
	background-color: #f6f6f6;
}
.results p
{
	font-size: 17px;
	font-style: italic;
	font-weight: 700;
	line-height: 27px;
	padding: 10px 15px 0 10px;
}
.advertisement img
{
	margin-top: 80px;
	width: 100%;
}
.pricing-tables .titles-main
{
	padding-top: 0;
}
.pricing li
{
	display: table-cell;
	width: 33%;
}
.header-pricing
{
	color: #fff;
	padding: 30px;
}
.header-pricing span
{
	font-size: 22px;
	line-height: 32px;
	vertical-align: super;
}
.header-pricing h2
{
	color: #fff;
	font-size: 45px;
	margin: 0;
}
.header-pricing h3
{
	color: #fff;
	font-size: 30px;
	margin: 0;
}
.pricing li .body-pricing
{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.pricing li:last-child .body-pricing
{
	border-right: 1px solid #ccc;
}
.body-pricing
{
	overflow: hidden;
	position: relative;
	z-index: 0;
}
.body-pricing h3 i
{
	font-size: 16px;
}
.body-pricing .info-pricing hr
{
	margin-bottom: 30px;
	margin-top: 30px;
}
.info-pricing
{
	padding: 20px 30px 25px 35px;
}
.body-pricing .info-pricing em
{
	color: #333;
	font-weight: 600;
}
.hover-info-pricing
{
	height: 100%;
	opacity: 0;
	padding: 90px 60px 80px;
	position: absolute;
	webkit-transition: opacity .5s,-webkit-transform 1s;
	width: 100%;
	z-index: 3;
}
.body-pricing:hover .hover-info-pricing
{
	opacity: 1;
	transform: translate3d(0,-545px,0);
	transition: opacity 1s,transform 1s;
	webkit-transform: translate3d(0,-545px,0);
}
.hover-info-pricing i
{
	font-size: 60px;
}
.hover-info-pricing .btn
{
	font-size: 14px;
	margin: 0 auto;
	margin-top: 20px;
}
.hover-info-pricing p
{
	color: #333;
	font-size: 16px;
	line-height: 27px;
}
.triangle-corner
{
	border-bottom: 0 solid transparent;
	border-top: 73px solid transparent;
	bottom: 0;
	color: #fff;
	font-weight: 700;
	height: 0;
	position: absolute;
	right: 0;
	width: 0;
	z-index: 1;
}
.icon-triangle
{
	bottom: -11px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	ms-transform: rotate(-48deg);
	padding-bottom: 20px;
	position: absolute;
	right: -4px;
	transform: rotate(-48deg);
	webkit-transform: rotate(-48deg);
	z-index: 2;
}
.faq hr
{
	border-top: 2px solid #333;
	margin-left: 0;
	margin-top: 15px;
	width: 100px;
}
.extra-info h2
{
	color: #fff;
	margin: 0;
}
.extra-info hr
{
	border-top: 2px solid #eee;
	margin-left: 0;
	width: 105px;
}
.extra-info.paddings
{
	padding: 40px 0 60px;
}
.newsletter
{
	margin-top: 85px;
}
.newsletter p
{
	color: #fff;
	font-size: 16px;
}
.newsletter input
{
	border: none;
	border-radius: 0;
	color: #333;
	height: 44px;
	margin-left: 11%;
	width: 85%!important;
}
.newsletter .btn,.contact-form .btn
{
	border: 1px solid #fff;
	font-size: 15px;
	height: 44px;
	padding: 0 25px;
	width: 100%;
}
.newsletter .btn:hover
{
	border: 1px solid #fff;
	opacity: .9;
}
.result-newsletter
{
	margin-top: 20px;
}
#result-newsletter .alert,.form-contact .alert,.form-register .alert
{
	border-radius: 0;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	margin-top: 17px;
	padding: 10px 12px;
}
.phone
{
	margin-top: 100px;
	position: relative;
}
.phone i
{
	color: rgba(255,255,255,0.2);
	font-size: 168px;
	left: 39%;
	position: absolute;
	top: -21px;
	z-index: 0;
}
.phone h2
{
	font-size: 50px;
	font-weight: lighter;
	letter-spacing: -2px;
	position: relative;
	top: 30px;
	z-index: 1;
}
.sponsors
{
	background-color: #fff;
	padding-top: 50px;
	position: relative;
}
.sponsors .titles-main
{
	padding: 0 0 70px;
}
.sponsors li
{
	margin-right: 10px;
}
.twitter
{
	color: #fff;
	max-width: 970px;
	width: 100%;
}
.twitter-section i
{
	color: #f6f6f6;
	font-size: 130px;
	line-height: 140px;
}
.twitter-section.paddings
{
	padding: 90px 0 50px;
}
.twitter ul li .tweet_text,.twitter ul li .tweet_time
{
	font-size: 30px;
	line-height: 40px;
}
.twitter ul li a
{
	color: #333;
}
.contact
{
	position: relative;
}
#map
{
	height: 1100px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.contact .col-md-9
{
	padding-left: 0;
}
.contact .container
{
	width: 1300px;
}
.contact .contact-form
{
	max-width: 640px;
}
.items-contact i
{
	display: inline-block;
	font-size: 40px;
	margin: 0 15px 0 0;
}
.items-contact .text-overflow
{
	display: inline-block;
	margin-top: -14px;
	vertical-align: middle;
}
.items-contact .text-overflow h4
{
	margin-bottom: 0;
}
.items-contact.top
{
	margin-top: 40px;
}
.contact-form form input
{
	border-radius: 0;
	height: auto;
	margin-bottom: 20px;
	padding: 10px;
}
.contact-form form textarea
{
	border: 1px solid #ccc;
	display: block;
	font-size: 12px;
	height: 150px;
	padding: 10px;
	width: 100%;
}
.contact-form form label
{
	line-height: 30px;
}
footer
{
	color: #fff;
	padding: 40px 0 30px;
	position: relative;
}
#toTop
{
	background: url(../img/ui.totop.png) no-repeat left top;
	border: none;
	bottom: 10px;
	display: none;
	height: 51px;
	overflow: hidden;
	position: fixed;
	right: 10px;
	text-decoration: none;
	text-indent: 100%;
	width: 51px;
	z-index: 999;
}
#toTopHover
{
	background: url(../img/ui.totop.png) no-repeat left -51px;
	display: block;
	float: left;
	height: 51px;
	moz-opacity: 0;
	opacity: 0;
	overflow: hidden;
	width: 51px;
}
#toTop:active,#toTop:focus
{
	outline: none;
}
.sbornie li {
    width: 25%;
    float: left;
    list-style: none;
    margin-bottom: 25px;
}

.sbornie li img {
    margin-right: 7px;
}
/* slider cups */
.images-view {
	width: 100%;
	padding: 20px 0;
	background: #fff;
}
.images-line {
	display: table;
}
.images-line .item_wc{
	width: 180px;
	float: left;
}
.wc-title {
	background: #fff;
}
.item_wc a{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
}
.show-img {
	overflow: hidden;
	height: 120px;
	padding: 0;
}
.contact .col-md-12 {
	padding: 0;
}
.logo-txt{
    font-size: 15px;
    padding-top: 11px;
    display: block;
    float: right;
    color: gold;
}
.team {
	visibility: visible;
	animation-delay: 1s;
	animation-name: zoomIn;
}
@media (max-width: 992px){
	.sbornie li {
		width: 50%;
	}
}
@media (max-width: 768px){
	.home-welcome h1{
		font-size: 3em;
	}
	.sbornie li {
		width: 100%;
		margin-left: 40px;
	}
}
@media (max-width:480px){
	.home-welcome h2{
		height: 105px;
		margin-top: 55px;
	}
	.home-welcome h2 span:before, .home-welcome h2 span:after {
		display: none;
	}
	.menu-base {
		display: none;
	}
	.home-welcome h1{
		display: none;
	}
	.location {
		margin-right: 30px;
	}
}
.not-fixed .nav a{
	color: #c8c8c8;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -.2px;
        line-height: 35px;
    text-transform: uppercase;
}
.not-fixed .nav a:hover , .not-fixed .nav a:focus , .not-fixed .nav a:active  {
	background: none!important;
}

.countr-block {
	margin-bottom: 25px;
}
.countr-block  img{
	max-width: 200px;
	margin: 0 auto 7px;
	display: block;
	height: 105px;
}
.countr-block span{
	width: 80%;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
	background: #333;
	padding: 5px 0;
	color: #eee;
	max-width: 200px;
	white-space: nowrap;
}
.container table{
	margin-top: 25px;
}
.container table tr:nth-child(odd){
	background: #eee;
}
.players-page {
    margin-bottom: 10px;
	border: 1px solid #ddd;
}
.players-page a{
    display: block;
    padding: 10px 0 13px;
    text-align: center;
    font-size: 25px;
    color: #00aedb;
}
.players-page a:hover{
	text-decoration: none;
	background: #eee;
}
.player-item img {
    width: 100%;
}
.players-items {
	float: left;
	width: 100%;
}
.player-item {
    max-width: 170px;

	margin: 0 auto;
}
.player-item .player-img {
    max-height: 150px;
}
.player-name{
    font-size: 13px;
	overflow: hidden;
}
.player-name a{
    white-space: nowrap;
}
.match_list ul{
	list-style: none;
	padding: 0;
}
.match_list li {
	margin-bottom: 25px;
	background: #eee;
	border: 1px solid #ddd;
	float: left;
	width: 100%;
}
.match-date {
	margin: 7px 0;
}
.match-teams img {
	display: table;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
}
.match-list .span5 span{
	display: block;
	margin-top: 8px;
	font-size: 15px;
}
.match_list i {
	margin-right: 10px;
}
/* Страница игры */
.teams img{
	width: 50%;
	float: left;
	height: 280px;
}
.match-day-block > div{
	float: left;
}
.match-day-block .teams{
	width: 100%;
}
.match-day-block .left, .match-day-block .right {
	width: 40%;
}
.match-day-block .left, .match-day-block .right , .match-day-block .cent {
	background: rgba(32, 178, 170, 0.15);
	height: 250px;
}
.match-day-block .cent {
	width: 20%;
}
.club-logo img {
    width: 150px;
    margin-top: -30px;
}
.right .club-logo{
	margin-right: 45px;
}
.left .club-logo{
	margin-left: 45px;
}
.left .club-logo img{
	
}
.right .club-logo {
	float: right;
}
.club-logo span {
	display: block;
    margin-top: 35px;
    font-size: 25px;
    color: #333;
    font-weight: bold;
}
.right .club-logo span {
	text-align: right;
}
.cent .score {
	display: block;
	font-size: 50px;
	margin-top: 30px;
}
.cent .m_desc {
	margin-top: 40px;
	display: block;
	font-size: 14px;
}
.cent .m_desc b{
	margin-top: 10px;
    display: block;
}
.matches {
	width: 100%;
}
.matches table {
	width: 100%;
}
.centered {
	text-align: center;
}
@media (max-width: 768px){
	.teams img{
		width: 100%;
	}
	.left , .right, .cent {
		width: 100%!important;
	}
	.club-logo {
		margin: 0!important;
		width: 100%;
	}
	.club-logo img {
		display: table;
		margin: 25px auto 0;
		float: none;
	}
	.club-logo span {
		text-align: center!important;
	}
	.matches h2{
		text-align: center;
	}
}
.title_countr {
    line-height: 45px;
    border-bottom: 1px solid #999;
    margin-bottom: 15px;
    margin-left: 10px;
}
.flag_and_name .col-md-4 {
	min-height: 45px;
}
.title_countr span {
    font-size: 24px;
    font-weight: 400;
    color: #333;
}
.football_logo img{
	display: block;
	margin: 0 auto;
}
.flag_and_name img {
    width: 40px;
    height: 30px;
    margin: 5px 10px;
    border: 1px solid #ddd;
    float: left;
}
.flag_and_name a {
    font-size: 30px;
    margin-top: 4px;
    display: block;
    float: left;
}
.flag_and_name .col-md-12 {
    margin-top: 15px;
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
}
.team_participant {
	margin-bottom: 25px;
}
.conf_hist img {
    width: 25px;
    margin-right: 6px;
}
.stadiums img{
	border: 3px solid #333;
}
.stadiums span {
	margin: 5px 0;
    display: block;
    font-size: 17px;
    color: #333;
}
.info {
	display: table;
    margin: 0 auto;
    padding: 15px 0;
    border: 2px solid #333;
    border-width: 2px 0;
	width: 100%;
}
#contact {
	float: left;
    width: 100%;
    height: 1px;
    margin-top: 45px;
}
.logo2 {
	margin-left: 30px;
	max-width: 70%;
}
@media (max-width:768px){
	.info table{
		width: 100%!important;
	}
}
@media (max-width:1024px){
	iframe{
		width: 595px;
	}
}
@media (max-width:450px){
	.navbar-brand {
		display: block;
		float: left;
		width: 230px;
	}
	.logo2 {
		margin-left: 10px;
	}
	.navbar-header {
		padding: 0;
	}
	iframe {
		max-width: 100%;
	}
	.conf_hist .table.table-bordered tr td:last-child, .conf_hist .table.table-bordered tr th:last-child{
		display: none;
	}
	.paddings {
		padding: 0;
	}
	.titles-main {
		padding: 0;
	}
	.sponsors {
		padding: 0;
	}
	.sponsors .titles-main {
		padding: 0 0 20px;
	}
	.stadiums {
		padding-bottom: 15px;
	}
	.teams img{
		display: none;
	}
	.cent.centered {
		height: 180px;
	}
}
.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
    top: 0!important;
}
.navbar-toggle {
	border: 1px solid #fff;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
@media (max-width:450px){
	.paddings h2{
		text-align: center;
	}
}