{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/static/template2/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
        <!-- Slider -->
        <link href="/static/template2/assets/css/sequence-slider.css" rel="stylesheet"/>
        <link href="/static/template2/assets/css/sequence-slider.responsive.css" rel="stylesheet"/>
        <link href="/static/template2/assets/css/flexslider.css" rel="stylesheet"/>
        <link href="/static/template2/assets/css/flexslider.setting.css" rel="stylesheet"/>
        <link href="/static/template2/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/style.responsive.css" rel="stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/styleswitch.css" rel="stylesheet" type="text/css"/>
        <!-- colors -->
        <link href="/static/template2/assets/css/colors/default.css" title="default" rel="stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/sea-green.css"  title="sea-green" rel="alternate stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/darkcyan.css" title="darkcyan" rel="alternate stylesheet" type="text/css"/>	
        <link href="/static/template2/assets/css/colors/golden-rod.css" title="golden-rod" rel="alternate stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/indian-red.css" title="indian-red" rel="alternate stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/dark-slate-gray.css" title="dark-slate-gray" rel="alternate stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/yellow.css" title="yellow" rel="alternate stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/hot-pink.css" title="hot-pink" rel="alternate stylesheet" type="text/css"/>
        <link href="/static/template2/assets/css/colors/medium-violet-red.css" title="medium-violet-red" rel="alternate stylesheet" type="text/css"/>	
        <link href="/static/template2/assets/css/colors/orange.css" title="orange" rel="alternate stylesheet" type="text/css"/>	
        <link href="/static/template2/assets/css/colors/muted-teal.css" title="muted-teal" rel="alternate stylesheet" type="text/css"/>		
        <link href="/static/template2/assets/css/colors/soft-green.css" title="soft-green" rel="alternate stylesheet" type="text/css"/>		
        <link href="/static/template2/assets/css/colors/corporate-blue.css" title="corporate-blue" rel="alternate stylesheet" type="text/css"/>		
        <link href="/static/template2/assets/css/colors/dodger-blue.css" title="dodger-blue" rel="alternate stylesheet" type="text/css"/>		
        <link href="/static/template2/assets/css/colors/green.css" title="green" rel="alternate stylesheet" type="text/css"/>	
	</head>
	<body>
        <div id="wrap">
            {% include "template2/_header.html" %}
            {% block main_content %}{% endblock %}
            {% include "template2/_footer.html" %}
    </body>
</html>