		<footer>
			<div class="container">
				<div class="row">
					<script type="text/javascript">(function() {
					  if (window.pluso)if (typeof window.pluso.start == "function") return;
					  if (window.ifpluso==undefined) { window.ifpluso = 1;
						var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
						s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
						s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
						var h=d[g]('body')[0];
						h.appendChild(s);
					  }})();</script>
					<div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=07" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
				</div>
			</div>
			<div class="verybottom">
				<div class="container">
					<div class="row">
						<div class="span9 centered">
							<ul class="footer-nav">                            
								<li><a href="index.html">Home</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="span3 pull-right">
							<p class="pull-right copy-right">
								Кубок конфедераций 2017
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	<!-- end theme changer -->
	<span class="backToTop"><a href="#top"><i class="icon-double-angle-up"></i></a></span>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/template2/assets/js/jquery-1.8.2.min.js"></script>
    <script src="/static/template2/assets/js/bootstrap.min.js" type="text/javascript"></script>	   
	<script src="/static/template2/assets/js/modernizr.custom.17475.js" type="text/javascript"></script>  
    <script src="/static/template2/assets/js/sequence.jquery-min.js"></script>
	<script src="/static/template2/assets/js/jquery.flexslider.js"></script>
	<script src="/static/template2/assets/js/jquery.quicksand.js" type="text/javascript"></script>
	<script src="/static/template2/assets/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>        
	<!-- validation form -->    
	<script src="/static/template2/assets/js/jqBootstrapValidation.js" type="text/javascript"></script>	
	<script src="/static/template2/assets/js/jquery.placeholder.min.js" type="text/javascript"></script>
    <script src="/static/template2/assets/js/function.js"></script>
	<script src="/static/template2/assets/js/styleswitch.js"></script>	
	<script type="text/javascript">
		$(function () {
			$("input,select,textarea").not("[type=submit]").jqBootstrapValidation({
				submitSuccess: function ($form, event) { 
					return true;
				}			
			}); 			
		}); 
	</script>