		<header>
			<div class="container">
				<div class="row">
					<div class="span5 logo">
						<a href="/">
							<img src="/static/template2/images/logo.png" /><span>Кубок Конфедераций 2017</span>
						</a>
					</div>
					<div class="span6 social pull-right phone">   
						<ul class="social-top">
							<li class="active"><i class="icon-phone-sign"></i> <span>(123) 456-7890</span></li>
						</ul>						                   
					</div>
				</div>
				<!-- /.row -->
			</div>
		</header>
		<!-- begin navbar -->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!--mobile collapse menu button-->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<i class="icon-list"></i>
					</a>
					<!-- main navigation-->
					<div class="navigation nav-collapse collapse">
						<ul class="nav">
                            <li class="{% if host == 'index' %}active{% endif %} dropdown-submenu"><a href="/">Главная</a></li>
                            {% for menu_item in menu %}
                                {% if menu_item.alias != "stadiums" %}
                                {% if menu_item.alias != "delivery" %}
                                {% if menu_item.alias != "contacts" %}
                                <li class="{% if menu_item.alias == host %}active{% endif %} dropdown-submenu">
                                    <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            {% endfor %}
							<!-- <li  class="dropdown-submenu">
								<a href="#">Blog</a>
								<ul class="dropdown-menu">
									<li><a href="blog-left-sidebar.html">Left sidebar</a></li>
									<li><a href="blog-right-sidebar.html">Right sidebar</a></li>
									<li><a href="blog-item-left-sidebar.html">Blog item left sidebar</a></li>
									<li><a href="blog-item-right-sidebar.html">Blog item right sidebar</a></li>
								</ul>
							</li> -->
						</ul>						
					</div>
				</div>
				<!-- /.container -->
			</div>
			<!-- /.navbar-inner -->
		</div>