{% load pytils_dt %}
    <li class="span12">
        <div class="match-title centered">
            Группа {{ match.group }}
        </div>
        <div class="match-date">
            <div class="centered"><i class="fa fa-calendar" aria-hidden="true"></i><a href="{% url 'portal:match' match.alias %}">{{ match.datetime|ru_strftime:"%d %B %Y" }} \ {{ match.datetime|ru_strftime:"%H:%M" }}</a></div>
        </div>
        <div class="match-teams">
            <div class="span5 centered">
                <img src="/media/logo/{{ match.command_first.get_logo_list.0 }}"><span>{{ match.command_first }}</span>
            </div>
            <div class="span2 centered">
                VS
            </div>
            <div class="span5 centered">
                <img src="/media/logo/{{ match.command_second.get_logo_list.0 }}"><span>{{ match.command_second }}  </span>
            </div>
        </div>
    </li>