    <div class="player-item">
        <div class="player-img">
            <a href="{% url 'portal:player' player.alias %}"><img src="{{ player.image }}"></a>
        </div>
        <div class="player-name">
            <a href="{% url 'portal:player' player.alias %}"><span>{{ player.name }}</span></a>
            <em>{{ player.position }}</em>
        </div>
    </div>