{% extends "template2/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="intro">
        <div id="sequence-slider">
            <div id="sequence">
                <ul>
                    {% for match in last_matches %}
                        <li class="animate-in slide">
                            <div class="right-img-from-bottom-out-to-right slide-image">
								<div class="span5">
									<img src="/media/logo/{{ match.command_first.get_logo_list.0 }}" style="width: 150px;">
									<span>{{ match.command_first }}</span>
								</div>
								<div class="span2">
									<span>-</span>
								</div>
								<div class="span5">
									<img src="/media/logo/{{ match.command_second.get_logo_list.0 }}" style="width: 150px;">
									<span>{{ match.command_second }}</span>
								</div>
								<div class="span12">
									<span class="date-place">21 Июня, 19:00, Казань Арена</span>
									<a href='{% url "portal:match" match.alias %}'>Купить Билеты</a>
								</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="controls">
                <li class="prev"><span></span></li>
                <li class="next"><span></span></li>
            </ul>
        </div>
    </section>
    <!-- end home slide show -->
    <!-- begin main contain -->
    <section id="maincontain" class="home-main">
        <div class="feature feature-full-bg">
            <div class="container">
                <div class="row">
                    <iframe width="635" height="355" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="intro-home padding-30">
            <div class="container">
                <div class="row">
                    <h2>История кубков конфедеоаций (1992-2017)</h2>
					<div class="col-md-12 conf_hist">
						<h3>Кубок короля Фахда(Предшественник турнира)</h3>
						<table>
							<tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
							<tr><td>1992</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>4</td><td><img src="/static/khl/flags-f/arg.png">Аргентина</td><td><img src="/static/khl/flags-f/arg.png">Фернандо Редондо</td></tr>
							<tr><td>1995</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>6</td><td><img src="/static/khl/flags-f/den.png">Дания</td><td><img src="/static/khl/flags-f/den.png">Брайн Лаудруп</td></tr>
						</tbody></table>
						<h3>Кубок конфедераций</h3>
						<table>
							<tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
							<tr><td>1997</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Денильсон</td></tr>
							<tr><td>1999</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td>8</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td><img src="/static/khl/flags-f/bra.png">Рональдиньо</td></tr>
							<tr><td>2001</td><td><img src="/static/khl/flags-f/kor.png"><img src="/static/khl/flags-f/jp.png">Корея\Япония</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Робер Пирес</td></tr>
							<tr><td>2003</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Тьерри Анри</td></tr>
							<tr><td>2005</td><td><img src="/static/khl/flags-f/ger.png">Германия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Адриано</td></tr>
							<tr><td>2009</td><td><img src="/static/khl/flags-f/yar.png">ЮАР</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Кака</td></tr>
							<tr><td>2013</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Неймар</td></tr>
							<tr><td>2017</td><td><img src="/media/flags/rus.png">Россия</td><td>8</td><td>?</td><td>?</td></tr>
						</tbody></table>
					</div>
                </div>
            </div>
        </div>
        <div class="newsletter-bg">
            <div class="container">
                <div class="row">
					<h2>Ближайшие матчи</h2>
					<div class="container match-list">
						<ul>
							{% for match in matches %}
								{% include "template2/_match_item.html" %}
							{% empty %}
								<p>К сожалению, сведений о матчах не найдено.</p>
							{% endfor %}
						</ul>
					</div>
                </div>
            </div>
        </div>
        <div class="about-us margin-30">
            <div class="container">
                <div class="row">
					<div class="col-md-12 road_to">
						<h2>Дорога в Россию</h2>
						<div class="span4">
							<img src="/static/khl/continents/africa.jpg">
							<span>Африка</span>
							<p>
								Африканская путевка на Кубок Конфедераций ФИФА будет
								разыграна на Кубке африканских наций, который пройдет
								в Габоне ранее в 2017 году.
							</p>
						</div>
						<div class="span4">
							<img src="/static/khl/continents/asia.jpg">
							<span>Азия</span>
							<p>Азию на Кубке конфедераций FIFA 2017 в России представит
							Австралия, которая выиграла Кубок Азии-2015. 31 января 2015
							года "Соккеруз" обыграли в драматичном финале домашнего турнира
							Южную Корею со счетом 2:1.</p>
						</div>
						<div class="span4">
							<img src="/static/khl/continents/europe.jpg">
							<span>Европа</span>
							<p>Европейский участник Кубка конфедераций FIFA 2017
							определится на Евро-2016 УЕФА. Турнир пройдет с 10 июня по 10 июля 2016 года.
							Победитель Евро отправится представлять континент в Россию.</p>
						</div>
						<div class="span4">
							<img src="/static/khl/continents/ncamerica.jpg">
							<span>Северная и Центральная Америка</span>
							<p>Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов
							сборные США и Мексики определили участника Кубка
							конфедераций FIFA 2017 в России в стыковом матче: 
							мексиканцы выиграли со счетом 3:2 в
							Пасадене (Калифорния) и стали 5-м по счету участником турнира.</p>
						</div>
						<div class="span4">
							<img src="/static/khl/continents/oceania.jpg">
							<span>Океания</span>
							<p>Победитель следующего Кубка Наций ОФК, который состоится с мая по
							июнь 2016 года получит путевку на Кубок конфедераций FIFA 2017 в России.</p>
						</div>
						<div class="span4">
							<img src="/static/khl/continents/southamerica.jpg">
							<span>Южная Америка</span>
							<p>Сборная Чили впервые станет участником Кубка конфедераций 
							FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира
							4 июля 2015 года чилийцы обыграли Аргентину
							в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.</p>
						</div>
					</div>
                </div>
            </div>
        </div>		
        <div class="home-projects">
            <div class="container">
                <div class="row">
					<h2>Группы Кубка конфедераций 2017</h2>
					<div class="col-md-12 groups">
						<div class="span6">
							<h3>Группа A</h3>
							<table class="conf_hist groups">
								<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
								<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							</tbody></table>
						</div>
						<div class="span6">
							<h3>Группа B</h3>
							<table class="conf_hist groups">
								<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
								<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
								<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							</tbody></table>
						</div>
					</div>
                </div>
            </div>
        </div>   
        
    </section>
{% endblock %}