{% extends "template2/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="subintro">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.command_first }} - {{ data.command_second }}{% endif %}</h1>
					</div>
				</div>
			</div>
		</section>
    <section>
    <section id="maincontain">
        <div class="container match-day">
            <div class="match-day-block">
                <div class="teams">
                    <img src="/media/photos/{{ data.command_first.get_photo_list.0 }}">
                    <img src="/media/photos/{{ data.command_second.get_photo_list.0 }}">
                </div>
                <div class="left">
                    <div class="club-logo">
                        <img src="/media/logo/{{ data.command_first.get_logo_list.0 }}">
                        <span>Россия</span>
                    </div>
                </div>
                <div class="cent centered">
                    <span class="score">- <b>:</b> -</span>
                    <span class="m_desc">{{ data.champ }}<br />Группа {{ data.group }}<br /><b>{% if match.datetime %}{{ match.datetime|ru_strftime:"%d %B %H:%M" }}{% endif %}</b>
                </div>
                <div class="right">
                    <div class="club-logo">
                        <img src="/media/logo/{{ data.command_second.get_logo_list.0 }}">
                        <span>Германия</span>
                    </div>
                </div>
                <div class="matches">
                    <h2>История встреч</h2>
                    <table>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                        <tr><td>Отборочный турнир к чемпионату Европы — 2008, 17 окт 2007 г.</td><td>Россия</td><td>5:0</td><td>Англия</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}