{% extends "template2/__base.html" %}
    {% block main_content %}
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontain">
        <div class="container match-list">
            <ul>
                {% for match in matches %}
                    {% include "template2/_match_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о матчах не найдено.</p>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}