{% extends "template2/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Сборные</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontain">
		<div class="container countries">
			{% for team in teams %}
                {% include "template2/_team_item.html" %}
            {% empty %}
                <p>К сожалению, сведений о командах не найдено.</p>
            {% endfor %}
        </div>
	</section>
{% endblock %}