{% extends "template2/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontain">
			<div class="container">
				<div class="row introduce-services">
					<div class="span6">
						{% if data.content %}{{ data.content|safe }}{% endif %}
					</div>
					<div class="span6">
						<img alt="" src="/media/photos/{{ data.get_photo_list.0 }}" />
					</div>
				</div>
				<div class="row about_team">
					<h2>О команде</h2>
					<div class="span12">
						<div class="span5">
                            <img src="/media/logo/{{ data.get_logo_list.0 }}" alt="" style="position: relative;left: 12%;">
                            <table class="infobox">
                                <tbody>
                                    <tr>
                                        <td>Федерация</td><td>{{ data.fed }}</td>
                                    </tr>
                                    <tr>
                                        <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                                    </tr>
                                    <tr>
                                        <td>Год основания</td><td>{{ data.founded }}</td>
                                    </tr>
                                    <tr>
                                        <td>Адрес</td><td>{{ data.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td><td>{{ data.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fax</td><td>{{ data.fax }}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td><td>{{ data.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Официальный сайт</td><td>{{ data.offsite }}</td>
                                    </tr>
                                    <tr>
                                        <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                                    </tr>
                                </tbody>
                            </table>
							{{ data.widget|safe }}
						</div>
						<div class="span7">
							<div class="tabbable tabs-top">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#one" data-toggle="tab">Игроки</a></li>
									<li><a href="#two" data-toggle="tab">Результаты сборной</a></li>
									<li><a href="#three" data-toggle="tab">Информация</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="one">
										<div class="players-list">
											{% if coaches %}
                                                {% for player in coaches %}
                                                    {% include "template2/_player_item.html" %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if goalkeepers %}
                                                {% for player in goalkeepers %}
                                                    {% include "template2/_player_item.html" %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if defenders %}
                                                {% for player in defenders %}
                                                    {% include "template2/_player_item.html" %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if midfielders %}
                                                {% for player in midfielders %}
                                                    {% include "template2/_player_item.html" %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if attacks %}
                                                {% for player in attacks %}
                                                    {% include "template2/_player_item.html" %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if not coaches and not goalkeepers and not defenders and not attacks%}
                                                <p>К сожалению, об игроках данной сборной сведений нет.</p>
                                            {% endif %}
										</div>
									</div>
									<div class="tab-pane results" id="two">
										<table>
											<tbody>
												<tr><th>Турнир</th><th>ЗМ</th><th>ПМ</th><th>Место</th></tr>
												<tr><td>Чемпонат Европы 2000</td><td>15</td><td>17</td><td>12</td></tr>
												<tr><td>Чемпонат Мира 2002</td><td>15</td><td>17</td><td>12</td></tr>
												<tr><td>Чемпонат Европы 2004</td><td>15</td><td>17</td><td>12</td></tr>
												<tr><td>Чемпонат Мира 2006</td><td>15</td><td>17</td><td>12</td></tr>
                                            </tbody>
										</table>
									</div>
									<div class="tab-pane" id="three">
										<p>
											 Cu cum commodo regione definiebas. Cum ea eros laboramus, audire deseruisse his at, munere aeterno ut quo. Et ius doming causae philosophia, vitae bonorum intellegat usu cu.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}