.tabs input
{
	cursor: pointer;
	filter: alpha(opacity=0);
	height: 40px;
	left: 0;
	ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	position: absolute;
	top: 0;
	width: 120px;
	z-index: 1000;
}
.tabs input#tab-2
{
	left: 120px;
}
.tabs label
{
	display: block;
	float: left;
	margin-bottom: 20px;
	margin-right: 1px;
	padding: 10px 30px;
	position: relative;
}
.tabs label:hover
{
	cursor: pointer;
}
.tabs label:after
{
	background: #fff;
	bottom: -2px;
	content: '';
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
}
.tabs input:hover + label h4
{
	color: #fff;
}
.tabs label:first-of-type
{
	z-index: 4;
}
.tab-label-2
{
	z-index: 3;
}
.tab-label-3
{
	z-index: 2;
}
.tab-label-4
{
	z-index: 1;
}
.tabs input:checked + label
{
	border-right: none;
	color: #fff;
	position: relative;
	z-index: 6;
}
.tabs input:checked + label:after
{
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	bottom: -10px;
	height: 0;
	left: 38%;
	width: 0;
}
.tabs input:checked + label:hover
{
	cursor: pointer;
}
.clear-shadow
{
	clear: both;
}
.content
{
	background: #fff;
	position: relative;
	width: 100%;
	z-index: 5;
}
.content .content-1,.content .content-2,.content .content-3,.content .content-4,.content .content-main
{
	left: 0;
	moz-transition: opacity linear .1s;
	ms-transition: opacity linear .1s;
	o-transition: opacity linear .1s;
	position: relative;
	top: 0;
	transition: opacity linear .1s;
	webkit-transition: opacity linear .1s;
	width: 100%;
	z-index: 1;
}
.tabs input.tab-selector-1:checked ~ .content .content-1,.tabs input.tab-selector-2:checked ~ .content .content-2,.tabs input.tab-selector-3:checked ~ .content .content-3,.tabs input.tab-selector-4:checked ~ .content .content-4
{
	display: block;
	filter: alpha(opacity=100);
	moz-transition: opacity ease-out .2s .1s;
	ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	ms-transition: opacity ease-out .2s .1s;
	o-transition: opacity ease-out .2s .1s;
	transition: opacity ease-out .2s .1s;
	webkit-transition: opacity ease-out .2s .1s;
	z-index: 100;
}