.subtitle.h1 {
    text-transform: uppercase;
}
#carouselarea .match-result img {
    float: left;
    width: 20px;
    margin-right: 5px;
    border: solid 1px transparent;
}
.event.event-listing article .match-result .btn {
    color: #fff;
    padding: 0 10px;
}
.news-item-title {
    font-family: 'League Gothic',sans-serif !important;
    font-size: 21px !important;
}
.news-item-title.news-item-title-min {
    font-size: 19px !important;
}
.matches-filter select {
    height: 27px;
    padding: 0 15px;
    line-height: 25px;
}
.matches-filter p {
    line-height: 28px;
    font-weight: bold;
    font-size: 12px;
}
@media (max-width: 1200px) {
    .matches-filter select {
        margin-bottom: 10px;
    }
    .matches-filter p {
        white-space: nowrap;
    }
}

#svg-scheme-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    background: #f1f1f1;
    border: 1px solid #cfcfcf;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    z-index: 1;
}