svg {       /* workaround for the ios bug http://stackoverflow.com/a/12631326 */
    max-height: 100%;
    width: 100%;
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.scheme {
    /*text-align: center;
    position: relative;*/
    padding-bottom: 50px;
}
/*rgba(30, 119, 219, 0.8);*/
.scheme path.active
.scheme rect.active
.scheme g.active, {
    stroke: rgb(130, 187, 235);
    cursor: pointer;
    /*fill: @color-bg-medium;*/
    /* &:hover{
        opacity: .5;
        stroke: @color-sheme-hover-stroke;
        cursor: pointer;
        fill: @color-header;

    }
    &:hover.sel{
        opacity: 1;
    } */
    /*&.sel {
        stroke: @color-sheme-hover-stroke;
        cursor: pointer;
        fill: @color-header;

    }*/
}
.scheme g text,
.scheme g text tspan {
  stroke: none;
  fill: #acacac;
  font-family: 'HarmoniaSansProCyr-Regular', Arial, sans-serif;
  font-size: 17px/26px;
  font-weight: normal !important;
}
.scheme g path,
.scheme g rect,
.scheme g polygon,
.scheme g polyline,
.scheme g circle,
.scheme rect,
.scheme path {
    stroke: #d6dce1;
    fill: transparent;
}

body.touchscreen .scheme g path,
body.touchscreen .scheme g rect,
body.touchscreen .scheme g polygon,
body.touchscreen .scheme g polyline,
body.touchscreen .scheme g circle,
body.touchscreen .scheme rect,
body.touchscreen .scheme path {
    stroke-width:2px;
}

.scheme svg > tspan, svg > text { /* a special case, apparently */
  stroke: #d6dce1;
  fill: #d6dce1;
  font-family: 'HarmoniaSansProCyr-Regular' !important;
  font-weight: normal !important;
}
.scheme svg > text > tspan {
    fill: #acacac;
    stroke: #acacac;
    font-weight: normal;
    font-family: 'HarmoniaSansProCyr-Regular', Arial, sans-serif;
}
.scheme g.active path,
.scheme g.active rect,
.scheme g.active polygon,
.scheme g.active polyline,
.scheme g.active circle,
.scheme rect.active,
.scheme path.active {
    stroke: rgb(30, 119, 219);
    cursor: pointer;
    /*fill: rgb(130, 187, 235) !important;*/
}
.scheme g.active text,
.scheme g.active text tspan {
  stroke: none;
  cursor: pointer;
  fill: rgb(30, 119, 219);
}
.scheme g.active:hover text,
.scheme g.active:hover text tspan,
.scheme g.active.touch-hover text,
.scheme g.active.touch-hover text tspan {
  stroke: none;
  cursor: pointer;
  fill: white;
}
.scheme g.active:hover path,
.scheme g.active.touch-hover path,
.scheme g.active:hover rect,
.scheme g.active.touch-hover rect,
.scheme g.active:hover polygon,
.scheme g.active.touch-hover polygon,
.scheme g.active:hover polyline,
.scheme g.active.touch-hover polyline,
.scheme g.active:hover circle,
.scheme g.active.touch-hover circle,
.scheme rect.active:hover,
.scheme rect.active.touch-hover,
.scheme path.active:hover,
.scheme path.active.touch-hover {
    /*stroke: rgb(130, 187, 235) !important;*/
    /*fill: rgb(130, 187, 235) !important;*/
    stroke: rgb(153, 153, 153);
    fill: rgb(153, 153, 153);
}
.scheme g.selected text,
.scheme g.selected text tspan {
  stroke: none;
  cursor: pointer;
  fill: white;
}
.scheme g.selected:hover path,
.scheme g.selected.touch-hover path,
.scheme g.selected:hover rect,
.scheme g.selected.touch-hover rect,
.scheme g.selected:hover polygon,
.scheme g.selected.touch-hover polygon,
.scheme g.selected:hover polyline,
.scheme g.selected.touch-hover polyline,
.scheme g.selected:hover circle,
.scheme g.selected.touch-hover circle,
.scheme rect.selected:hover,
.scheme rect.selected.touch-hover,
.scheme path.selected:hover,
.scheme path.selected.touch-hover {
    stroke: rgb(39, 174, 96);
    fill: rgb(39, 174, 96);
    cursor: pointer;
}
.scheme g.selected path,
.scheme g.selected rect,
.scheme g.selected polygon,
.scheme g.selected polyline,
.scheme g.selected circle,
.scheme rect.selected,
.scheme path.selected {
    stroke: rgb(39, 174, 96);
    fill: rgb(39, 174, 96);
}
.scheme g.selected:hover path,
.scheme g.selected:hover rect,
.scheme g.selected:hover polygon,
.scheme g.selected:hover polyline,
.scheme g.selected:hover circle,
.scheme rect.selected:hover,
.scheme path.selected:hover {
    /*stroke: rgb(230, 97, 107);
    fill: rgb(230, 97, 107);*/
}