{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<div class="title-block"><span class="line"></span><span class="line-anchor"><h1>Ошибка 404</h1></span><span class="line"></span></div>
                    <p style="font-size: 20px;">Страница не найдена, возможно она была удалена или вообще не существовала, рекомендуем перейти на:</p>
                    <ul class="eee" style="list-style: none; float: left; padding: 0; margin-top: 25px; font-size: 22px; margin-bottom: 300px;">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/matches">Матчи</a></li>
                        <li><a href="/champs">Чемпионаты</a></li>
                        <li><a href="/news">Новости</a></li>
                    </ul>
                    <style>
                        .eee li:before{
                            content: '- ';
                        }
                    </style>
		</div>
	</div>
	<!--- About us Ends Here --->
	{% endblock %}