	    {% autoescape off %}
		{% for script in scripts %}
                {{ script.content }}
        {% endfor %}
		{% endautoescape %}
	<div class="footer">
		<div class="container">
			<ul class="social">
				<li><i class="fa"></i></li>
				<li><i class="tw"></i></li>
				<li><i class="pin"></i></li>
				<li><i class="in"></i></li>
			</ul>
			<p class="copyright">2016©</p>
			<div class="clearfix"></div>
		</div>
	</div>