{% load pytils_dt %}
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"></a>
        </div>
        <div class="navigation">
            <span class="menu"><img src="/media/images/nav.png" alt="" /></span>
            <ul class="nav">
                <li class="{% if active_url == 'index' %}active{% endif %}"><a href="/">Главная</a></li> <lable>/</lable>
                {% for menu_item in menu %}
                    {% if menu_item.menushow %}
                    <li {% if menu_item.alias == active_url %}class="current-menu-item"{% endif %}>
                        <a href="{% url 'base:textpage' menu_item.alias %}">
                        {% if menu_item.menutitle %}
                            {{ menu_item.menutitle }}{% else %}{{ menu_item.name }}
                        {% endif %}
                        </a>
                    </li><lable>/</lable>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <script>
                $( "span.menu" ).click(function() {
                  $( ".navigation ul.nav" ).slideToggle( "slow", function() {
                    // Animation complete.
                  });
                });
            </script>
        <div class="clearfix"> </div>
    </div>
</div>