{% load pytils_dt %}    
    <div class="match_block">
        <div class="m_date col-md-3 col-sm-3">
            <span>{{ match.datetime|ru_strftime:"%d %B %Y" }}<i> - </i><b>{{ match.datetime|ru_strftime:"%H:%M" }}</b></span>
        </div>
        <div class="m_teams col-md-7 col-sm-6">
            <div class="tm left">{{ match.command_first }}<img src="/media/img/40x40/{{ match.command_first.get_logo_list.0 }}"></div>
                <div class="vs">                        
                    {% if match.score %}
                        {{ match.score }}
                    {% else %}
                        - : -
                    {% endif %}
                </div>
            <div class="tm right"><img src="/media/img/40x40/{{ match.command_second.get_logo_list.0 }}">{{ match.command_second }}</div>
        </div>
        <div class="m_buy col-md-2 col-sm-3">
            {% if match.status == "Матч окончен" %}
            <a href="{% url 'base:match' match.alias %}" class="result">Результат</a>
            {% elif match.status == "Идет 1-й тайм" or match.status == "Идет 2-й тайм" or match.status == "Перерыв" %}
            <a href="{% url 'base:match' match.alias %}" class="watch">Трансляция</a>
            {% else %}
            <a href="{% url 'base:match' match.alias %}" class="buy">Купить билеты</a>
            {% endif %}
            </a>
        </div>
    </div>