
	<div class="banner">
		<div class="container">
			<div class="banner-top">
                <span>Чемпионат Мира 2018</span>
                <p>Билеты на матчи во всех городах России</p>
                <a href="#">Купить билеты</a>
			</div>
		</div>
	</div>