{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
                    <div class="row">
                        <div class="group">
                            <div class="col-md-12">
                                <div class="goals-bl col-md-9">
                                    <span class="line"></span><span class="line-anchor"><h1>{{ data.seo_h1 }}</h1></span><span class="line"></span>
                                    
                                    <ul style="padding: 0;">
                                        {% for team in data.teams.all %}
                                            <li>
                                                <a href="{% url 'base:team' team.alias %}"><img src="/media/img/40x40/{{ team.get_logo_list.0 }}"></a><a href="{% url 'base:team' team.alias %}">{{ team.name }}</a>
                                            </li>
                                        {% endfor %}
                                    <!--{% for group_item in group_table %}
                                            {{ group_item.name }} - {{ group_item.teams }}
                                        {% endfor %} -->
                                    </ul>
                                        {% if data.seo_h1 == "Лига чемпионов групповой этап"%}
                                            {% for team in teams.teams.all %}
                                                <div class="col-md-6">
                                                    <img src="/media/img/40x40/{{ team.logo }}">
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    <div style="width: 100%; margin-top: 10px; float: left;">
                                        <span class="line"></span><span class="line-anchor"><h2 style="margin: 0;">Список матчей</h2></span><span class="line"></span>
                                    </div>
                                    {% for match in matches %}
                                        {% if match.champ.name ==  data.name %}
                                            {% include "_match_item.html" %}
                                        {% else %}
                                            
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-3 right-col">
                                    <span class="span-r-title">Ближайшие матчи</span>
                                    </div>
                                    <span>Прошедшие матчи</span>
                                    <div class="matches-team col-sm-6 col-xs-6 col-md-12">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}