{% extends "__base.html" %}
    {% include "_slider.html" %}
    {% load pytils_dt %}
    {% block main_content %}
	<!-- Banner Starts Here --->
	<!-- Banner Ends Here --->
	<!-- Content starts Here --->
	<div class="content">
		<div class="container">
			<div class="col-md-12">
                <div class="col-md-9">
                    {% if livematches|length == 0 %}<div class="col-md-12 title-row"><span class="line"></span><span class="line-anchor"><h2>Матчи-онлайн</h2></span><span class="line"></span></div>{% endif %}
                    {% for match in livematches %}

                        {% if match.status == "Идет 1-й тайм" or match.status == "Идет 2-й тайм" or match.status == "Перерыв"%}
                            {% include "_match_item.html" %}
                        {% endif %}
                    {% endfor %}
                <div class="col-md-12 title-row"><span class="line"></span><span class="line-anchor"><h2>Новости</h2></span><span class="line"></span></div>
                {% for news in news reversed %}
                    <div class="col-md-6 main-news col-sm-6 col-xs-12">
                        <span class="pub-dte">{{ news.date|ru_strftime:"%d %B, %Y" }}</span>
                        <img src="{{ news.img }}">
                        <a class="href-news" href="{% url 'base:news' news.alias %}"><span class="news_title">{{ news.name }}</span></a>
                    </div>
                {% endfor %}
                </div>
                <div class="col-md-3 right-col">
                    <span class="span-r-title">Ближайшие матчи</span>
                    <div class="matches-team col-sm-6 col-xs-6 col-md-12" style="padding: 0;">
                        <div class="next-matches">
                            <table>
                                {% for match in new_matches %}
                                        {% if match.score %}
                                        {% else %}
                                            {% if forloop.counter < 9 %}
                                                <tr><td style="width: auto;">{{ match.datetime|ru_strftime:"%d.%m"}} - <b>{{ match.datetime|ru_strftime:"%H:%M"}}</b></td><td><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}">{{ match.command_first.shortname }} - {{ match.command_second.shortname }}</a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td class="tour-td">{{ match.tour}}<br>тур</td><td><a href="{% url 'base:match' match.alias %}"><button type="button" class="btn btn-success"><span>купить билеты</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
                                            {% endif %}
                                        {% endif %}
                                        </td></tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <span>Прошедшие матчи</span>
                    <div class="matches-team col-sm-6 col-xs-6 col-md-12">
                        <div class="next-matches">
                            <table class="shrt-name-table" style="text-align: center;">
                                {% for match in old_matches reversed %}
                                    {% if forloop.counter < 9%}
                                            <tr><td style="width: auto;">{{ match.datetime|ru_strftime:"%d.%m"}}</td><td><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}"><span class="shrt-name">{{ match.command_first.shortname }}</span> <span style="color: #3DABDA;">{{ match.score }}</span> <span class="shrt-name">{{ match.command_second.shortname }}</span></a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td class="tour-td">{{ match.tour}}<br>тур</td><td><a href="{% url 'base:match' match.alias %}">Обзор</a>
                                            </td></tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <span class="span-r-title">Турнирная таблица</span>
                    <table class="table right-table">
                        <tr><th></th><th>Команда</th><th>Очки</th><th>Разница</th></tr>
                        {% for team in teamchamp %}
                            {% if team.champ.name == "Чемпионат России 2016/2017"%}
                        <tr><td>{{ team.mesto }}</td><td><img src="/media/img/small/{{ team.logo }}">{{ team.name }}</td><td>{{team.points}}</td><td>{{ team.goals }}-{{ team.vgoals }}</td></tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <article>
                <h1>{{ data.seo_h1 }}</h1>
                {{ data.content|safe }}
            </article>
		</div>
	</div>
    {% endblock %}