{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<div class="container">
			<div class="about-top">
				<span class="line"></span><span class="line-anchor"><h1>{{ data.seo_h1 }}</h1></span><span class="line"></span>
                <div class="match_page row">
                    <div class="tir left">
                        <img src="/media/img/{{ data.command_first.get_logo_list.0 }}">
                        <a href="{% url 'base:team' data.command_first.alias %}"><span>{{ data.command_first }}</span></a>
                    </div>
                    <div class="game_info">
                        <span class="status">
                            <p class="m_status">
                                {% if not data.status%}
                                    Матч не начался
                                {% else %}
                                    {{ data.status }}
                                {% endif %}
                            </p>
                        </span>
                        <span class="score">                                    
                            {% if data.score %}
                                {{ data.score }}
                            {% else %}
                                - : -
                            {% endif %}
                        </span>
                        <span class="time">{{ data.tour }} тур</span>
                        <span class="when">{{ data.datetime }}</span>
                        <span class="type">{{ data.champ }} {{ data.year }}</span>
                    </div>
                    <div class="tir right">
                        <img src="/media/img/{{ data.command_second.get_logo_list.0 }}">
                        <a href="{% url 'base:team' data.command_second.alias %}"><span>{{ data.command_second}}</span></a>
                    </div>
					<div class="clearfix"></div>
                    {% if data.minute %}
                    <div class="progress-bl">
                        <div class="progress-wrap">
                            <div class="progress" style="overflow: visible; width: 95%;margin: 35px auto 15px; display: table;">
                                <div class='progress-bar progress-bar-success {% if data.status == "Идет 1-й тайм" or data.status == "Идет 2-й тайм" or data.status == "Перерыв" %}progress-bar-striped active{% endif %}' role="progressbar" aria-valuenow="{{ data.minute }}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="curr_min">
                                        <span>{{ data.minute }}'</span>
                                        <div class="caret"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if data.goals %}
                    <div class="goals-bl">
                        <h2>Голы</h2>
                        <table class="col-md-6 table table-bordered">
                            <thead>
                                
                            </thead>
                            <tbody>
                                {% for goal in data.goals %}
                                <tr>
                                    <td>{% if data.command_first.name == goal.team %}
                                        <img src="/media/img/{{ data.command_first.get_logo_list.0 }}">
                                    {% else %}
                                        <img src="/media/img/{{ data.command_second.get_logo_list.0 }}">
                                    {% endif %}
                                    {{ goal.player.0 }}{% if goal.player.1 %} ({{ goal.player.1 }}){% endif %} : <span class="gl_min">{{ goal.minute }}</span>
                                        {% if goal.p == "1"%}
                                            (пен.)
                                        {% elif goal.a == "1" %}
                                            (авт.)
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                         {% endif %}                  
                            </tbody>
                        </table>
                        {% if data.nogoalpenalty %}
                        <div class="goals-bl">
                            <h2>Незабитые пенальти</h2>
                            <table class="col-md-6 table table-bordered">
                                <tbody>
                                    {% for nogoalpenalty in data.nogoalpenalty %}	
                                        <tr>
                                            <td><span>
                                                {% if data.command_first.name == nogoalpenalty.team %}
                                                    <img src="/media/img/{{ data.command_first.get_logo_list.0 }}">
                                                {% else %}
                                                    <img src="/media/img/{{ data.command_second.get_logo_list.0 }}">
                                                {% endif %}
                                            {{ nogoalpenalty.player }} : {{ nogoalpenalty.minute }} (незабитый пенальти)</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                    <div class="fouls-bl">	
                        {% if data.foals %}
                        <div class="pix-content-wrap">
                            <div class="detail-text rich_editor_text">
                                <h2>Нарушения</h2>
                                <table class="col-md-6 col-sm-6 table table-bordered">
                                    <thead>
                                        
                                    </thead>
                                    <tbody>
                                        {% for foal in data.foals %}
                                        <tr>
                                            <td><span>
                                            {% if data.command_first.name == foal.team %}
                                            <img src="/media/img/{{ data.command_first.get_logo_list.0 }}">
                                            {% else %}
                                            <img src="/media/img/{{ data.command_second.get_logo_list.0 }}">
                                            {% endif %}
                                            {{ foal.player }} : {{ foal.minute }}</span> <b>{{ foal.card }}</b></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="sostav-bl">
                        {% if data.osnova1 %}
                        <div class="">
                            <div class="detail-text rich_editor_text">
                                <h2 align="center">Основной состав</h2>
                                <table class="col-md-6 col-sm-6 sost_table">
                                    <thead>
                                        <tr>
                                            <th>{{ data.command_first }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sostav in data.osnova1 %}
                                        <tr>
                                            <td>
                                                <span class="number">{{ sostav.number }}</span> 
                                                <span class="pos">{{ sostav.position }}</span>
                                                    <img src='{{ sostav.image }}' width="20">
                                                    <a href="javascript:">{{ sostav.player }}</a>
                                                <span class="zamena">{{ sostav.type }}</span>
                                                    {% if sostav.type2 %}
                                                        <span class="zamena">{{ sostav.type2}}</span>
                                                    {% endif %}
                                                <div class="hidden-card">
                                                    {% if sostav.alias %}
                                                        <a href='{% url "base:player" sostav.alias %}'></a>
                                                    {% endif %}
                                                    <img class="player-img-hidden" src='{{ sostav.image }}'>
                                                    <img class="flag-country" src="/media/img/rus-flg.png">
                                                    <div class="number-hidden">{{ sostav.number }}</div>
                                                    <div class="pos-hidden">{{ sostav.position }}</div>
                                                    <div class="info-hidden">
                                                        <img class="hidden-team-logo" src="/media/img/{{ data.command_first.get_logo_list.0 }}">
                                                        <p>{{ sostav.player }}</p>
                                                        <span>{{ sostav.weight }} kg.</span>
                                                        <span>{{ sostav.height }} m.</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <table class="col-md-6 col-sm-6 sost_table">
                                    <thead>
                                        <tr>
                                            <th>{{ data.command_second }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sostav in data.osnova2 %}
                                        <tr>
                                            <td>
                                                <span class="number">{{ sostav.number }}</span> 
                                                <span class="pos">{{ sostav.position }}</span>
                                                    <img src='{{ sostav.image }}' width="20">
                                                    <a href="javascript:">{{ sostav.player }}</a>
                                                <span class="zamena">{{ sostav.type }}</span>
                                                    {% if sostav.type2 %}
                                                        <span class="zamena">{{ sostav.type2}}</span>
                                                    {% endif %}
                                                <div class="hidden-card">
                                                    {% if sostav.alias %}
                                                        <a href='{% url "base:player" sostav.alias %}'></a>
                                                    {% endif %}
                                                    <img class="player-img-hidden" src='{{ sostav.image }}'>
                                                    <img class="flag-country" src="/media/img/rus-flg.png">
                                                    <div class="number-hidden">{{ sostav.number }}</div>
                                                    <div class="pos-hidden">{{ sostav.position }}</div>
                                                    <div class="info-hidden">
                                                        <img class="hidden-team-logo" src="/media/img/{{ data.command_second.get_logo_list.0 }}">
                                                        <p>{{ sostav.player }}</p>
                                                        <span>{{ sostav.weight }} kg.</span>
                                                        <span>{{ sostav.height }} m.</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <h2 align="center">Запасной состав</h2>
                                <table class="col-md-6 col-sm-6 sost_table">
                                    <thead>
                                        <tr>
                                            <th>{{ data.command_first }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sostav in data.zamena1 %}
                                        <tr>
                                            <td><span class="number">{{ sostav.number }}</span> <span class="pos">{{ sostav.position }}</span> {% if sostav.alias %}<a href='{% url "base:player" sostav.alias %}'>{% endif %}{{ sostav.player }}{% if sostav.alias %}</a> {% endif %} {{ sostav.type }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <table class="col-md-6 col-sm-6 sost_table">
                                    <thead>
                                        <tr>
                                            <th>{{ data.command_second }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sostav in data.zamena2 %}
                                        <tr>
                                            <td><span class="number">{{ sostav.number }}</span> <span class="pos">{{ sostav.position }}</span> {% if sostav.alias %}<a href='{% url "base:player" sostav.alias %}'>{% endif %}{{ sostav.player }}{% if sostav.alias %}</a> {% endif %} {{ sostav.type }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="treners-bl sostav-bl">
                        {% if data.trener1.name %}
                        <h2 style="text-align: center;">Тренерский состав</h2>
                        <table class="col-md-6 col-sm-6 sost_table">
                            <thead>
                                <tr>
                                    <th>{{ data.command_first }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ data.trener1.name }} ({{ data.trener1.place }})</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="col-md-6 col-sm-6 sost_table">
                            <thead>
                                <tr>
                                    <th>{{ data.command_second }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ data.trener2.name }} ({{ data.trener2.place }})</td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    <!--<div class="treners-bl sostav-bl">
                        {% if data.text %}
                        <h2 style="text-align: center;">Текстовая трансляция</h2>
                        <div style="overflow: auto; width: 95%; margin: 0 2.5% 20px; height: 250px; box-shadow: inset 0 -4px 11px -5px; border: solid #ccc;">
                            <table class="table table-bordered" style="width: 100%; margin-left: 0;">
                            {% for text in data.text %}
                                <tr>
                                <td class="text_min">{{ text.minute}}</td>
                                <td>{{ text.Text}}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                    </div>-->
				</div>
                <!--<div style="text-align: center; float: left;width: 100%; margin-top: 20px;" class="row">
                    <h2>Галерея матча</h2>
                </div>
                
                <div class="slideshow_and_video">
                    <ul id="lightgallery" class="list-unstyled">
                        <li class="col-xs-12 col-sm-4 col-md-3 photo-slide" data-src="/media/match_photo/rubin-spartak.jpg">
                            <a href="">
                                <img class="img-responsive" src="/media/match_photo/rubin-spartak.jpg">
                            </a>
                        </li>
                        <li class="col-xs-12 col-sm-4 col-md-3 photo-slide" data-src="/media/match_photo/rubin-spartak3.jpg">
                            <a href="">
                                <img class="img-responsive" src="/media/match_photo/rubin-spartak3.jpg">
                            </a>
                        </li>
                        <li class="col-xs-12 col-sm-4 col-md-3 photo-slide" data-src="/media/match_photo/rubin-spartak2.jpg">
                            <a href="">
                                <img class="img-responsive" src="/media/match_photo/rubin-spartak2.jpg">
                            </a>
                        </li>                        
                        <li class="col-xs-12 col-sm-4 col-md-3 photo-slide" data-src="/media/match_photo/zenit-rostov-2.jpg">
                            <a href="">
                                <img class="img-responsive" src="/media/match_photo/zenit-rostov-2.jpg">
                            </a>
                        </li>
                    </ul>
                </div>-->
                <article class="{% if request.user.is_authenticated %}authorized{%endif%}">
                
                    {{ data.content|safe }}
                </article>
                <script src="/static/js/match-edits.js"></script>
			</div>
		</div>
    {% endblock %}