{% load pytils_dt %}
<!DOCTYPE HTML>
<html>
	<head>
	    <title>Футбол 24/7 - Все о футболе 24 часа в сутки 7 дней в неделю</title>
	    <meta name="description" content="">
	    <meta name="keywords" content="">
	    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	    <link href="/static/css/lightgallery.css" rel="stylesheet">
	    <link href="/static/css/roboto.css" rel="stylesheet">
	    <link href="/static/css/robotoC.css" rel="stylesheet">
	    <link href="/static/css/robotoC.css" rel="stylesheet">
	    <link href="/static/new/css/style.css" rel="stylesheet">
	    <link rel="Shortcut Icon" type="image/x-icon" href="/media/favicon.ico" />
	    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
	    <!-- Custom Theme files -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="top-bar">
			<div class="container">
				<div class="logo">
					<a href="/newindex"><img src="/static/new/img/logo_green.png"></a>
				</div>
				<nav>
					<ul>
						<li><a href="#">Команды</a></li>
						<li><a href="#">Матчи</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Чемпионаты</a></li>
					</ul>
				</nav>
				<div class="login">
					<i class="fa fa-user" aria-hidden="true"></i>
					<a href="#">Вход</a>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="container">
				<div class="left-side col-md-9">
					<div class="team-head">
                        <div class="t-head-img col-md-4"><img src="/media/champ_logo/premier-league2.png"></div>
                        <div class="t-head-info col-md-8">
                            <span class="team-name">Англия - Премьер-лига 2016-2017</span>
                            <div class="infoblocks champ">
                                <div class="inf-line"><span>Страна:</span>Англия</div>
                                <div class="inf-line"><span>Дата начала:</span>13.08.2016</div>
                                <div class="inf-line"><span>Дата окончания:</span>21.05.2017</div>
                                <div class="inf-line"><span>Действующий чемпион:</span>Лестер Сити<img src="/media/img/40x40/lester-siti.png"></div>
                                <div class="inf-line"><span>Сайт Чемпионата:</span><a href="https://www.premierleague.com/" target="blanck__" rel="nofollow">premierleague.com</a></div>
                            </div>
                        </div>
					</div>
                    <div class="title-wrap"><h2>Матч центр</h2></div>
                    <div class="match-center in_champ">
						<div class="tabs">
							<div val="next" class="tab">Ближайшие игры</div>
							<div val="last" class="tab">Последние игры</div>
						</div>
                        <div class="matches-table-list next">
                            <div class="matches-table">
                                <div class="matches-table-title">
                                    <img src="/media/img/rus-flg.png">
                                    <span>Россия – Премьер-Лига. 7-й тур</span>
                                </div>
                                <div class="matches-list">
                                    {% for match in new_matches %}
                                        {% if match.score %}
                                        {% else %}
                                            {% if forloop.counter < 9 %}
                                            <div class="match-item">
                                                <a href="#">
                                                    <span class="match-item-dt">{{ match.datetime|ru_strftime:"%H:%M"}}</span>
                                                    <span class="tms">{{ match.command_first }} - {{ match.command_second }}</span>
                                                    <b>Не начался</b>
                                                </a>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="matches-table-list live">
                            <div class="matches-table">
                                <div class="matches-table-title">
                                    <img src="/media/img/rus-flg.png">
                                    <span>Россия – Премьер-Лига. 7-й тур</span>
                                </div>
                                <div class="matches-list">
                                {% for match in livematches %}
                                    {% if match.status == "Идет 1-й тайм" or match.status == "Идет 2-й тайм" or match.status == "Перерыв"%}
                                    <div class="match-item">
                                        <a href="#">
                                            <span class="match-item-dt">{{ match.status }}</span>
                                            <span class="tms">{{ match.command_first }} - {{ match.command_second }}</span>
                                            <b>{{ match.score }}</b>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="matches-table-list last">
                            <div class="matches-table">
                                <div class="matches-table-title">
                                    <img src="/static/new/img/lch.png">
                                    <span>Лига Чемпионов – 2-й тур</span>
                                </div>
                                <div class="matches-list">
                                {% for match in old_matches reversed %}
                                    {% if forloop.counter < 9%}
                                        <div class="match-item">
                                            <a href="{% url 'base:match' match.alias %}">
                                                <span class="match-item-dt">{{ match.datetime|ru_strftime:"%d.%m"}}</span>
                                                <span class="tms">{{ match.command_first }} - {{ match.command_second }}</span>
                                                <b>{{ match.score }}</b>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
					</div>
                    <div class="title-wrap"><h2>Турнирная таблица</h2></div>
                    <table class="table sostav">
                        <tr><th>№</th><th>Команда</th><th>Игра</th><th>Победа</th><th>Ничьи</th><th>Пораж</th><th>Очки</th></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </table>
                    <div class="title-wrap"><h2>Список матчей</h2></div>
                    <div class="matches-list champ">
                        <div class="search_matches">
                            <input type="text" placeholder="Поиск по матчам...">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
				</div>	
				<div class="right-side col-md-3">
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<button><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div class="tournaments-right">
						<div class="r-title">
							Текущие турниры
						</div>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/le.png">Лига Европы УЕФА
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/lch.png">Лига Чемпионов УЕФА
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/rfpl.png">Чемпионат России
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/apl.png">Чемпионат Англии
						</div></a>																	
					</div>
					<div class="next-matches-right">
						<div class="r-title">
							Купить билеты
						</div>
						<div class="matches-right">
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
						</div>
					</div>
					<div class="right-news">
						<div class="r-title">
							Главные новости
						</div>
						<div class="r-news-list">
							<div class="r-news">
								<span class="news-post">Вчера, 20:00</span>
								<a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
							</div>
							<div class="r-news">
								<span class="news-post">Вчера, 19:00</span>
								<a href="#">Петраков: некоторые игроки «Томи», скорее всего, начнут тренироваться с дублем</a>
							</div>
							<div class="r-news">
								<span class="news-post">Вчера, 18:00</span>
								<a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
							</div>														
						</div>
					</div>
					<div class="last-video">
						<div class="r-title">
							Последние видео
						</div>
                        <div class="lst-video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Skv3dQROZx4" frameborder="0" allowfullscreen></iframe>
								<span class="news-post">Вчера, 18:00</span>
                                <a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<nav>
					<ul>
						<li><a href="#">Команды</a></li>
						<li><a href="#">Матчи</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Чемпионаты</a></li>
					</ul>
				</nav>
				<div class="copyright">Футбол 24/7, 2016</div>
			</div>
		</div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/new/js/scripts.js"></script>
	</body>
</html>