{% load pytils_dt %}
<!DOCTYPE HTML>
<html>
	<head>
	    <title>Футбол 24/7 - Все о футболе 24 часа в сутки 7 дней в неделю</title>
	    <meta name="description" content="">
	    <meta name="keywords" content="">
	    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	    <link href="/static/css/lightgallery.css" rel="stylesheet">
	    <link href="/static/css/roboto.css" rel="stylesheet">
	    <link href="/static/css/robotoC.css" rel="stylesheet">
	    <link href="/static/css/robotoC.css" rel="stylesheet">
	    <link href="/static/new/css/style.css" rel="stylesheet">
	    <link rel="Shortcut Icon" type="image/x-icon" href="/media/favicon.ico" />
	    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
	    <!-- Custom Theme files -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="top-bar">
			<div class="container">
				<div class="logo">
					<a href="/newindex"><img src="/static/new/img/logo_green.png"></a>
				</div>
				<nav>
					<ul>
						<li><a href="#">Команды</a></li>
						<li><a href="#">Матчи</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Чемпионаты</a></li>
					</ul>
				</nav>
				<div class="login">
					<i class="fa fa-user" aria-hidden="true"></i>
					<a href="#">Вход</a>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="container">
				<div class="left-side col-md-9">
					<div class="scoretable">
						<h1>{{ m.seo_h1}}</h1>
						<span class="match-tour">{{ m.tour }} тур</span>
						<div class="match-team-logos">
							<img src="/media/img/{{ m.command_first.get_logo_list.0 }}">
							<div class="score">{% if m.score %}{{ m.score }}{% else %}- : -{% endif %}</div>
							<img src="/media/img/{{ m.command_second.get_logo_list.0 }}">
						</div>
						<div class="match-team-names">
							<a href="#">{{ m.command_first }}</a>
							<div>
								<span class="match-date">{{ m.datetime }}</span>
								<span class="match-status">{{ m.status }}</span>
							</div>
							<a href="#">{{ m.command_second }}</a>
						</div>
						<div class="progress-bl">
	                        <div class="progress-wrap">
	                            <div class="progress" style="overflow: visible; width: 95%;margin: 35px auto 15px; display: table;">
	                                <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
	                                    <div class="curr_min">
	                                        <span>{{ m.minute }}'</span>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
					</div>
					<div class="match-tabs">
						<div id="stat" class="match-tab col-md-3">Статистика</div>
						<div id="sostav" class="match-tab col-md-2">Составы</div>
						<div id="obzor" class="match-tab col-md-2">Обзор</div>
						<div id="txt" class="match-tab col-md-5">Текстовая трансляция</div>																		
					</div>
					<div class="content-tabs">
						<div id="stat" class="content-tab">
							<div class="teams-stat-logos">
								<div class="center">
									<img src="/media/img/{{ m.command_first.get_logo_list.0 }}">
									<p>vs</p>
									<img src="/media/img/{{ m.command_second.get_logo_list.0 }}">									
								</div>
								<div class="center">
									<span>{{ m.command_first }}</span>
									<p></p>
									<span>{{ m.command_second }}</span>									
								</div>
							</div>
							<div class="goals">
								<div class="first_team col-md-6">
                                    {% for goal in m.goals %}
                                        {% if m.command_first.name == goal.team %}
									<div class="goal">
										{% if goal.p == "1" %}<img src="/static/new/img/ball_p.png">{% elif goal.a == "1" %}<img src="/static/new/img/ball_auto.png">{% else %}<i class="fa fa-futbol-o" aria-hidden="true"></i>{% endif %}
										<p class="name">{{ goal.player.0 }}<span>{% if goal.player.1 %} ({{ goal.player.1 }}){% endif %}</span></p>
										<p class="minute">{{ goal.minute }}'</p>
									</div>
                                        {% endif %}
                                    {% endfor %}
								</div>
								<div class="second_team col-md-6">
                                    {% for goal in m.goals %}
                                        {% if m.command_second.name == goal.team %}
									<div class="goal">
										<i class="fa fa-futbol-o" aria-hidden="true"></i>
										<p class="name">{{ goal.player.0 }}<span>{% if goal.player.1 %} ({{ goal.player.1 }}){% endif %}</span></p>
										<p class="minute">{{ goal.minute }}'</p>
									</div>
                                        {% endif %}
                                    {% endfor %}
								</div>
							</div>
							<table class="statistica">
								<tr><td>59%</td><td>Владиние мячом</td><td>41%</td></tr>
								<tr><td>3</td><td>Голы</td><td>1</td></tr>
								<tr><td>1</td><td>Пенальти</td><td>0</td></tr>
								<tr><td>0</td><td>Угловые</td><td>0</td></tr>
								<tr><td>0</td><td>Штрафные</td><td>0</td></tr>
								<tr><td>0</td><td>Фолы</td><td>0</td></tr>
								<tr><td>0</td><td>Офсайды</td><td>0</td></tr>
								<tr><td>0</td><td>Желтые карточки</td><td>0</td></tr>
								<tr><td>0</td><td>Красные карточки</td><td>0</td></tr>
								<tr><td>0</td><td>Удары в створ</td><td>0</td></tr>
							</table>
						</div>
						<div id="obzor" class="content-tab obzor">
							<div class="teams-stat-logos">
								<div class="center">
									<img src="/media/img/{{ m.command_first.get_logo_list.0 }}">
									<p>vs</p>
									<img src="/media/img/{{ m.command_second.get_logo_list.0 }}">									
								</div>
								<div class="center">
									<span>{{ m.command_first }}</span>
									<p></p>
									<span>{{ m.command_second }}</span>									
								</div>
							</div>
							<div class="ekshn-list">
                                {% if m.foals %}
                                    {% for foal in m.foals %}
                                    {% if forloop.revcounter %}
                                    <div class='{% if m.command_first.name == foal.team %}first_team{% else %}second_team{% endif %} {% if foal.card == "2yellow"%}two_yellow{% else %}{{ foal.card }}{% endif %}'>
                                        <div class="name-wrap"><div class="name">{{ foal.player }} </div></div>
                                        <div class="icon"><img src='/static/new/img/{% if foal.card == "yellow"%}card-yellow.png{% elif foal.card == "red"%}card.png {% elif foal.card == "2yellow"%}double-yellow.gif{% endif %}'></div>
                                        <div class="minute">{{ foal.minute }}'</div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
								<!--<div class="first_team blue">
									<div class="name-wrap"><div class="name">Виктор Жулиано</div><div class="rhomb"></div></div>
									<div class="icon"><img src="/static/new/img/goal.png"></div>
									<div class="minute">63'</div>
								</div>
								<div class="first_team blue">
									<div class="name-wrap"><div class="name">Артём Дзюба</div><div class="rhomb"></div></div>
									<div class="icon"><img src="/static/new/img/ball_p.png"></div>
									<div class="minute">48'</div>
								</div>
								<div class="second_team green">
									<div class="name-wrap"><div class="name"><span class="in">Игорь портнягин</span><span class="out">Дмитрий Баринов</span></div><div class="rhomb"></div></div>
									<div class="icon"><img src="/static/new/img/refresh.svg"></div>
									<div class="minute">45'</div>
								</div>
								<div class="first_team blue">
									<div class="name-wrap"><div class="name">Аксель Витсель</div><div class="rhomb"></div></div>
									<div class="icon"><img src="/static/new/img/ball_auto.png"></div>
									<div class="minute">40'</div>
								</div>-->
							</div>
						</div>
						<div id="txt" class="content-tab">
							<div class="txt-line yellow">
    							<div class="min">
        							<span>60'<div class="after"></div></span>
    							</div>
    							<div class="text">
        							Желтая карточка: Ерохин Александр отправляется отдыхать раньше запланированного, Денисов получает по ногам, а для автора голевой передачи горчичник стал вторым.
    							</div>
							</div>
							<div class="txt-line red">
    							<div class="min">
        							<span>40'<div class="after"></div></span>
    							</div>
    							<div class="text">
        							Желтая карточка: Ерохин Александр отправляется отдыхать раньше запланированного, Денисов получает по ногам, а для автора голевой передачи горчичник стал вторым.
    							</div>
							</div>
							<div class="txt-line blue">
    							<div class="min">
        							<span>30'<div class="after"></div></span>
    							</div>
    							<div class="text">
        							Желтая карточка: Ерохин Александр отправляется отдыхать раньше запланированного, Денисов получает по ногам, а для автора голевой передачи горчичник стал вторым.
    							</div>
							</div>
							<div class="txt-line">
    							<div class="min">
        							<span>20'<div class="after"></div></span>
    							</div>
    							<div class="text">
        							Желтая карточка: Ерохин Александр отправляется отдыхать раньше запланированного, Денисов получает по ногам, а для автора голевой передачи горчичник стал вторым.
    							</div>
							</div>
							<div class="txt-line green">
    							<div class="min">
        							<span>10'<div class="after"></div></span>
    							</div>
    							<div class="text">
        							Офсайд:  Калачев Тимофей (Зенит) оказывается в положении "вне игры".
    							</div>
							</div>
							<div class="txt-line">
    							<div class="min">
        							<span>0'<div class="after"></div></span>
    							</div>
    							<div class="text">
        							Начало первого тайма Зенит вводит мяч в игру.
    							</div>
							</div>
						</div>
						<div id="sostav" class="content-tab">
    						<div class="arrangement">
    							<!--<div class="col-md-6">
                                    <div class="command-sostav">
                                        <img src="/static/new/img/stadium.jpg">
                                        <div class="players-on-stadium">
                                            <div class="forwards">
                                                <div class="col-md-4"><img src="/media/players/Neimar_da_Silva_Santos_Zhunior.jpg"><span><b>11</b>Неймар</span></div>
                                                <div class="col-md-4"><img src="/media/players/eng16/zlatan-ibragimovich.jpg"><span><b>9</b>Ибрагимович</span></div>
                                                <div class="col-md-4"><img src="/media/players/krishtianu-ronaldu-dush-santush-avejru.jpg"><span><b>7</b>Роналду</span></div>
                                            </div>
                                            <div class="halfback">
                                                <div class="col-md-3"><img src="/media/players/toni-kroos.jpg"><span><b>8</b>Кроос</span></div>
                                                <div class="col-md-3"><img src="/media/players/luka-modrich.jpg"><span><b>10</b>Модрич</span></div>
                                                <div class="col-md-3"><img src="/media/players/Andres_Inesta_Luhan.jpg"><span><b>6</b>Иньеста</span></div>
                                                <div class="col-md-3"><img src="/media/players/mesut-ozil.jpg"><span><b>12</b>Озил</span></div>
                                            </div>
                                            <div class="defender">
                                                <div class="col-md-3"><img src="/media/players/marselo-viejra-da-silva-zhunior.jpg"><span><b>5</b>Марсело</span></div>
                                                <div class="col-md-3"><img src="/media/players/serhio-ramos-garsiya.jpg"><span><b>3</b>Рамос</span></div>
                                                <div class="col-md-3"><img src="/media/players/KHerard_Pike_Bernabeu.jpg"><span><b>4</b>Пике</span></div>
                                                <div class="col-md-3"><img src="/media/players/dzhordzho-kellini.jpg"><span><b>2</b>Кьелини</span></div>
                                            </div>
                                            <div class="goalkeeper">
                                                <div class="col-md-12">
                                                    <span>
                                                    <img src="/media/players/dzhanluidzhi-buffon.jpg">
                                                    <b>1</b>Буффон</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="command-sostav">
                                        <img src="/static/new/img/stadium.jpg">
                                        <div class="players-on-stadium">
                                            <div class="forwards">
                                                <div class="col-md-4"><img src="/media/players/Neimar_da_Silva_Santos_Zhunior.jpg"><span><b>11</b>Неймар</span></div>
                                                <div class="col-md-4"><img src="/media/players/eng16/zlatan-ibragimovich.jpg"><span><b>9</b>Ибрагимович</span></div>
                                                <div class="col-md-4"><img src="/media/players/krishtianu-ronaldu-dush-santush-avejru.jpg"><span><b>7</b>Роналду</span></div>
                                            </div>
                                            <div class="halfback">
                                                <div class="col-md-3"><img src="/media/players/toni-kroos.jpg"><span><b>8 </b> Кроос</span></div>
                                                <div class="col-md-3"><img src="/media/players/luka-modrich.jpg"><span><b>10</b>Модрич</span></div>
                                                <div class="col-md-3"><img src="/media/players/Andres_Inesta_Luhan.jpg"><span><b>6</b>Иньеста</span></div>
                                                <div class="col-md-3"><img src="/media/players/mesut-ozil.jpg"><span><b>12</b>Озил</span></div>
                                            </div>
                                            <div class="defender">
                                                <div class="col-md-3"><img src="/media/players/marselo-viejra-da-silva-zhunior.jpg"><span><b>5</b>Марсело</span></div>
                                                <div class="col-md-3"><img src="/media/players/serhio-ramos-garsiya.jpg"><span><b>3</b>Рамос</span></div>
                                                <div class="col-md-3"><img src="/media/players/KHerard_Pike_Bernabeu.jpg"><span><b>4</b>Пике</span></div>
                                                <div class="col-md-3"><img src="/media/players/dzhordzho-kellini.jpg"><span><b>2</b>Кьелини</span></div>
                                            </div>
                                            <div class="goalkeeper">
                                                <div class="col-md-12">
                                                    <span>
                                                    <img src="/media/players/dzhanluidzhi-buffon.jpg">
                                                    <b>1</b>Буффон</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="osnova">
                                <div class="col-md-6">
                                    <span>Основной состав</span>
                                    <table class="table">
                                        {% for sostav in m.osnova1 %}
                                        <tr><td>{{ sostav.number }}</td><td>{{ sostav.position }}</td><td class="photo"><img src="{{ sostav.image }}"></td><td class="card-parent"><a href="javascript:">{{ sostav.player }}</a><div class="hidden-card black">
                                            <a href="javascript:">
                                                <span class="name">{{ sostav.player }}</span>
                                                <img class="tm-img" src="/media/img/{{ m.command_first.get_logo_list.0 }}">
                                                <img class="pl-img" src="{{ sostav.image }}">
                                                <img class="flg-img" src="/media/img/rus-flg.png">
                                                <div class="poz"><i>{{ sostav.number }}</i>{{ sostav.position }}</div>
                                                <p>Рост<b>{{ sostav.height }}</b></p>
                                                <div class="line"></div>
                                                <p>Вес<b>{{ sostav.weight }}</b></p>
                                            </a>
                                        </div></td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <span>Основной состав</span>
                                    <table class="table">
                                        {% for sostav in m.osnova2 %}
                                        <tr><td>{{ sostav.number }}</td><td>{{ sostav.position }}</td><td class="photo"><img src="{{ sostav.image }}"></td><td class="card-parent"><a href="javascript:">{{ sostav.player }}</a><div class="hidden-card black">
                                            <a href="javascript:">
                                                <span class="name">{{ sostav.player }}</span>
                                                <img class="tm-img" src="/media/img/{{ m.command_second.get_logo_list.0 }}">
                                                <img class="pl-img" src="{{ sostav.image }}">
                                                <img class="flg-img" src="/media/img/rus-flg.png">
                                                <div class="poz"><i>{{ sostav.number }}</i>{{ sostav.position }}</div>
                                                <p>Рост<b>{{ sostav.height }}</b></p>
                                                <div class="line"></div>
                                                <p>Вес<b>{{ sostav.weight }}</b></p>
                                            </a>
                                        </div></td></tr>
                                        {% endfor %}                                                                                                              
                                    </table>
                                </div>                                
                            </div>
                            <div class="zapasnie">
                                <div class="col-md-6">
                                    <span>Запасные игроки</span>
                                    <table class="table">
                                        {% for sostav in m.zamena1 %}
                                        <tr><td>{{ sostav.number }}</td><td>{{ sostav.position }}</td><td><a href='{% url "base:player" sostav.alias %}'>{{ sostav.player }}</a></td></tr>
                                        {% endfor %}                                                                                                                      
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <span>Запасные игроки</span>
                                    <table class="table">
                                        {% for sostav in m.zamena2 %}
                                        <tr><td>{{ sostav.number }}</td><td>{{ sostav.position }}</td><td><a href='{% url "base:player" sostav.alias %}'>{{ sostav.player }}</a></td></tr>
                                        {% endfor %}                                                                                                                     
                                    </table>
                                </div>
                                <div class="zapasnie">
                                {% if m.trener1.name %}
                                <div class="col-md-6">
                                    <span>Тренер</span>
                                    <table class="table">
                                        <tr><td>{{ m.trener1.name }} ({{ m.trener1.place }})</td></tr>
                                    </table>
                                </div>
                                {% endif %}
                                {% if m.trener2.name %}
                                <div class="col-md-6">
                                    <span>Тренер</span>
                                    <table class="table">
                                        <tr><td>{{ m.trener2.name }} ({{ m.trener2.place }})</td></tr>
                                    </table>
                                </div>          
                                {% endif %}
                                </div>
                            </div>                            
						</div>																		
					</div>
				</div>
				<div class="right-side col-md-3">
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<button><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div class="tournaments-right">
						<div class="r-title">
							Текущие турниры
						</div>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/le.png">Лига Европы УЕФА
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/lch.png">Лига Чемпионов УЕФА
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/rfpl.png">Чемпионат России
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/apl.png">Чемпионат Англии
						</div></a>																	
					</div>
					<div class="next-matches-right">
						<div class="r-title">
							Купить билеты
						</div>
						<div class="matches-right">
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
						</div>
					</div>
					<div class="right-news">
						<div class="r-title">
							Главные новости
						</div>
						<div class="r-news-list">
							<div class="r-news">
								<span class="news-post">Вчера, 20:00</span>
								<a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
							</div>
							<div class="r-news">
								<span class="news-post">Вчера, 19:00</span>
								<a href="#">Петраков: некоторые игроки «Томи», скорее всего, начнут тренироваться с дублем</a>
							</div>
							<div class="r-news">
								<span class="news-post">Вчера, 18:00</span>
								<a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
							</div>														
						</div>
					</div>
					<div class="last-video">
						<div class="r-title">
							Последние видео
						</div>
                        <div class="lst-video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Skv3dQROZx4" frameborder="0" allowfullscreen></iframe>
								<span class="news-post">Вчера, 18:00</span>
                                <a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<nav>
					<ul>
						<li><a href="#">Команды</a></li>
						<li><a href="#">Матчи</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Чемпионаты</a></li>
					</ul>
				</nav>
				<div class="copyright">Футбол 24/7, 2016</div>
			</div>
		</div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/new/js/scripts.js"></script>
	</body>
</html>