﻿{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<span class="line"></span><span class="line-anchor"><h1>Новости</h1></span><span class="line"></span>
                    <div class="teams row">
                        <div class="group">
            {% for news in news reversed %}
                <div class="new_news_right">
                    <span class="pub-dte"></span>
                    <a href="{% url 'base:news' news.alias %}"><span class="news_title">{{ news.name }}</span></a>
                </div>
            {% endfor %}
                        </div>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}