{% load pytils_dt %}
<!DOCTYPE HTML>
<html>
	<head>
	    <title>Футбол 24/7 - Все о футболе 24 часа в сутки 7 дней в неделю</title>
	    <meta name="description" content="">
	    <meta name="keywords" content="">
	    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	    <link href="/static/css/lightgallery.css" rel="stylesheet">
	    <link href="/static/css/roboto.css" rel="stylesheet">
	    <link href="/static/css/robotoC.css" rel="stylesheet">
	    <link href="/static/css/robotoC.css" rel="stylesheet">
	    <link href="/static/new/css/style.css" rel="stylesheet">
	    <link rel="Shortcut Icon" type="image/x-icon" href="/media/favicon.ico" />
	    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
	    <!-- Custom Theme files -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="top-bar">
			<div class="container">
				<div class="logo">
					<a href="/newindex"><img src="/static/new/img/logo_green.png"></a>
				</div>
				<nav>
					<ul>
						<li><a href="#">Команды</a></li>
						<li><a href="#">Матчи</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Чемпионаты</a></li>
					</ul>
				</nav>
				<div class="login">
					<i class="fa fa-user" aria-hidden="true"></i>
					<a href="#">Вход</a>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="container">
				<div class="left-side col-md-9">
					<div class="team-head">
                        <div class="t-head-img"><img src="/media/img/manchester-yunajted.png"></div>
                        <div class="t-head-info">
                            <span class="team-name">Манчестер Юнайтед</span>
                            <div class="infoblocks">
                                <div class="inf-line"><span>Президент клуба</span>Роман Абрамович</div>
                                <div class="inf-line"><span>Главный тренер</span>Сэр Алекс Фергюссон</div>
                                <div class="inf-line"><span>Стадион</span>Олд Траффорд</div>
                                <div class="inf-line"><span>Год основания</span>1900</div>
                                <div class="inf-line"><span>Сайт клуба</span><a href="#">www.MU.com</a></div>
                            </div>
                        </div>
					</div>
                    <div class="match-tabs">
						<div id="info" class="match-tab col-md-3">Информация</div>
						<div id="sostav" class="match-tab col-md-3">Состав</div>
						<div id="news" class="match-tab col-md-3">Новости</div>
						<div id="matches" class="match-tab col-md-3">Матчи</div>																		
					</div>
                    <div class="content-tabs">
						<div id="info" class="content-tab">
    						<article>
                                <div class="team-preview">
                                    <h2>О клубе</h2>
                                    <img src="/media/team_photos/man-utd.jpg">
                                    <p>Футбольный клуб «Анжи» основан в мае 1991 года, как команда объединения «Дагнефтепродукт». Анжи - это древне-кумыкское название местности, где на данный момент располагается столица Дагестана город Махачкала. Свои домашние встречи клуб проводит в городе Каспийске на «Анжи-Арене» вместимостью 26400 зрителей.</p>
                                </div>
                                <div class="team-content">
                                    <h2>История</h2>
                                    <p>В первый же свой год выступлений, «Анжи» стал победителем первенства республики, и получил право принять участие в ПФЛ. На профессиональном уровне, махачкалинцам понадобилось всего два года, для того, чтобы выиграть турнир 2-й лиги 1-й зоны, и выйти в первом дивизионе. Однако в 1993 году, в российском футболе происходила реорганизация, и команде из столицы Дагестана пришлось ещё на протяжении 3-х сезонов продолжать выступления во 2-й лиге. И всё-таки, по итогам сезона 1996 года, когда «Анжи» занял 2-е место в зоне «Запад», произошло повышение в классе, и дагестанская команда пополнила состав участников первой российской лиги, а ещё спустя три года, махачкалинцы вышли в главную лигу российского футбола.</p>
                                    <p>За свои 25 лет выступлений, дагестанский клуб дважды становился финалистом Кубка России, а также бронзовым призёром национального первенства. «Анжи» трижды представлял Россию на международной арене, один раз получив право выступить в Кубке УЕФА, и дважды в Лиге Европы.</p>
                                    <p>Однако были у команды и непростые времена, ведь махачкалинцы дважды в своей истории покидали «Премьер-лигу», и принимали участие в соревнованиях Первого дивизиона, который на текущий момент получил статус ФНЛ. Стоит отметить, что и прошедший сезон 2015/16 года, сложился для дагестанского клуба не слишком успешно. Команда долго располагалась в зоне вылета, но благодаря удачной серии матчей в концовке первенства, «Анжи» всё-таки сохранила себе место в элитном дивизионе, хотя, махачкалинцам пришлось отстаивать это право в стыковых поединках против астраханского «Волгаря». Тем не менее, «Анжи» по-прежнему остаётся одним из 16-ти лучших коллективов России, и продолжает радовать своих преданных болельщиков играми в «Премьер-лиге».</p>
                                </div>
    						</article>
						</div>
						<div id="sostav" class="content-tab obzor">
							<table class="table sostav">
                                <tr><th>№</th><th style="text-indent: 50px;">Игрок</th><th>Амплуа</th><th>Гражданство</th><th>Рост</th><th>Матчи</th></tr>
                                <tr><td>3</td><td class="player-img"><img src="/media/players/eng16/david-de-hea-kintana.jpg">Давид Де Хеа</td><td>Полузащитник</td><td><img class="flg" src="/media/img/rus-flg.png">Россия</td><td>192</td><td>81</td></tr>
                                <tr><td>3</td><td class="player-img"><img src="/media/players/eng16/david-de-hea-kintana.jpg">Давид Де Хеа</td><td>Полузащитник</td><td><img class="flg" src="/media/img/rus-flg.png">Россия</td><td>192</td><td>81</td></tr>
                                <tr><td>3</td><td class="player-img"><img src="/media/players/eng16/david-de-hea-kintana.jpg">Давид Де Хеа</td><td>Полузащитник</td><td><img class="flg" src="/media/img/rus-flg.png">Россия</td><td>192</td><td>81</td></tr>
                                <tr><td>3</td><td class="player-img"><img src="/media/players/eng16/david-de-hea-kintana.jpg">Давид Де Хеа</td><td>Полузащитник</td><td><img class="flg" src="/media/img/rus-flg.png">Россия</td><td>192</td><td>81</td></tr>
							</table>
						</div>
						<div id="news" class="content-tab">
    						<div class="team-news">
        						<div class="col-md-4"><img src="/static/new/img/news-img-test2.png"></div>
        						<div class="col-md-8">
            						<span class="news-title">Грустный юбилей Мамаева, новый контракт Жано. Обзор дня.</span>
            						<p>Новая Арена ЦСКА - место силы для всех поклонников клуба. Если ты еще не успел побывать на стадионе - то сходи на виртуальную экскурсию по стадиону.</p>
            						<span class="news-time">Сегодня, 19:00</span>
                                </div>
    						</div>
                            <div class="team-news">
        						<div class="col-md-4"><img src="/static/new/img/news-img-test2.png"></div>
        						<div class="col-md-8">
            						<span class="news-title">Грустный юбилей Мамаева, новый контракт Жано. Обзор дня.</span>
            						<p>Новая Арена ЦСКА - место силы для всех поклонников клуба. Если ты еще не успел побывать на стадионе - то сходи на виртуальную экскурсию по стадиону.</p>
            						<span class="news-time">Сегодня, 19:00</span>
                                </div>
    						</div>
                            <div class="team-news">
        						<div class="col-md-4"><img src="/static/new/img/news-img-test2.png"></div>
        						<div class="col-md-8">
            						<span class="news-title">Грустный юбилей Мамаева, новый контракт Жано. Обзор дня.</span>
            						<p>Новая Арена ЦСКА - место силы для всех поклонников клуба. Если ты еще не успел побывать на стадионе - то сходи на виртуальную экскурсию по стадиону.</p>
            						<span class="news-time">Сегодня, 19:00</span>
                                </div>
    						</div>
                            <div class="team-news">
        						<div class="col-md-4"><img src="/static/new/img/news-img-test2.png"></div>
        						<div class="col-md-8">
            						<span class="news-title">Грустный юбилей Мамаева, новый контракт Жано. Обзор дня.</span>
            						<p>Новая Арена ЦСКА - место силы для всех поклонников клуба. Если ты еще не успел побывать на стадионе - то сходи на виртуальную экскурсию по стадиону.</p>
            						<span class="news-time">Сегодня, 19:00</span>
                                </div>
    						</div>
						</div>
						<div id="matches" class="content-tab">
                            <div class="tabs">
    							<div val="next" class="tab">Ближайшие игры</div>
    							<div val="last" class="tab">Последние игры</div>
    						</div>
<div class="matches-table-list next">
                                <div class="matches-table">
                                    <div class="matches-list">
                                        <div class="match-item">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">-:-</b>
                                            </a>
                                        </div>
                                        <div class="match-item">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">-:-</b>
                                            </a>
                                        </div>
                                        <div class="match-item">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">-:-</b>
                                            </a>
                                        </div>
                                        <div class="match-item">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">-:-</b>
                                            </a>
                                        </div>
                                        <div class="match-item">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">-:-</b>
                                            </a>
                                        </div>
                                        <div class="match-item">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">-:-</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="matches-table-list last">
                                <div class="matches-table">
                                    <div class="matches-list">
                                        <div class="match-item win">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">2:0</b>
                                            </a>
                                        </div>
                                        <div class="match-item draw">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">2:2</b>
                                            </a>
                                        </div>
                                        <div class="match-item lose">
                                            <a href="#">
                                                <span class="match-item-dt col-md-2">23.10.16</span>
                                                <span class="tms col-md-4">Краснодар - ЦСКА</span>
                                                <span class="tournament col-md-4"><img src="/media/img/rus-flg.png">Кубок России, 1/8 финала</span>
                                                <b class="col-md-2">0:2</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>																		
					</div>
				</div>	
				<div class="right-side col-md-3">
					<div class="search">
						<input type="text" placeholder="Поиск...">
						<button><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div class="tournaments-right">
						<div class="r-title">
							Текущие турниры
						</div>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/le.png">Лига Европы УЕФА
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/lch.png">Лига Чемпионов УЕФА
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/rfpl.png">Чемпионат России
						</div></a>
						<a href="#"><div class="tourn">
							<img src="/static/new/img/apl.png">Чемпионат Англии
						</div></a>																	
					</div>
					<div class="next-matches-right">
						<div class="r-title">
							Купить билеты
						</div>
						<div class="matches-right">
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
							<a href="#"><div class="match-r-bl">
								<span>ПТ 21:00</span>
								<div><img src="/media/img/rus-flg.png">Рубин - Томь</div>
							</div></a>
						</div>
					</div>
					<div class="right-news">
						<div class="r-title">
							Главные новости
						</div>
						<div class="r-news-list">
							<div class="r-news">
								<span class="news-post">Вчера, 20:00</span>
								<a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
							</div>
							<div class="r-news">
								<span class="news-post">Вчера, 19:00</span>
								<a href="#">Петраков: некоторые игроки «Томи», скорее всего, начнут тренироваться с дублем</a>
							</div>
							<div class="r-news">
								<span class="news-post">Вчера, 18:00</span>
								<a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
							</div>														
						</div>
					</div>
					<div class="last-video">
						<div class="r-title">
							Последние видео
						</div>
                        <div class="lst-video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Skv3dQROZx4" frameborder="0" allowfullscreen></iframe>
								<span class="news-post">Вчера, 18:00</span>
                                <a href="#">«Болонья» обыграла «Сампдорию» в пятом туре Серии А</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<nav>
					<ul>
						<li><a href="#">Команды</a></li>
						<li><a href="#">Матчи</a></li>
						<li><a href="#">Календарь</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Чемпионаты</a></li>
					</ul>
				</nav>
				<div class="copyright">Футбол 24/7, 2016</div>
			</div>
		</div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/new/js/scripts.js"></script>
	</body>
</html>