{% extends "__base.html" %}
    {% block main_content %}
        <div class="content">
            <div class="container">
                {%for profile in profile%}
                    {{ profile.name }}
                    {%endfor%}
                    <br>
                    _______________________

                    <br>
                    <span style="display: block;">Вам выпал игрок:</span>
                    {% for player in player %}
                    <div class="hidden-card" id="{{ forloop.counter}}" style="display: block; position: relative; bottom: 0; float: left; margin-right: 15px; margin-bottom: 15px;">
                        <img class="player-img-hidden" style="height: 120px;" src="{{ player.image}}">
                        <img class="flag-country" src="/media/img/rus-flg.png">
                        <div class="number-hidden">{{ player.number}}</div>
                        <div class="pos-hidden">{{ player.position }}</div>
                        <div class="info-hidden">
                            <img class="hidden-team-logo" src="/media/img/{{ player.team.logo }}">
                            <p>{{ player.name }}</p>
                            <span>{{ player.weight}} kg.</span>
                            <span>{{ player.height}} m.</span>
                        </div>
                    </div>
                    </a>
                    {%endfor%}
            </div>
        </div>
        <script>
			$(document).ready(function(){
                //Карточки игроков
                $('.pos-hidden').each(function(){
                    if($(this).text() == 'нападающий'){
                        $(this).text('нп')
                    }
                    else if( $(this).text() == 'защитник' ){
                        $(this).text('зщ')
                    }                    
                    else if( $(this).text() == 'полузащитник' ){
                        $(this).text('пз')
                    }
                    else if( $(this).text() == 'вратарь' ){
                        $(this).text('вр')
                    }
                })
                
                $('.pos-hidden:contains("нападающий")').css('background','#f44336')
                $('.pos-hidden:contains("вр")').css({'background':'green','color':'#fff'})
                $('.pos-hidden:contains("защитник")').css('background','#ffc107')
                $('.pos-hidden:contains("полузащитник")').css('background','orange')
                $('.hidden-card').css('display','none')
                $('.hidden-card').each(function(){
                    boo = parseInt($(this).attr('id'))*500
                    $(this).delay(boo).fadeIn(500)
                })
			})
        </script>
    {% endblock %}