﻿{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<span class="line"></span><span class="line-anchor"><h1>Таблица чемпионата</h1></span><span class="line"></span>
                    <div class="teams row">
                            <table class="table tablescore">
                                <tr><th></th><th></th><th></th><th class="imprtnt">Игры</th><th>Победы</th><th>Ничьи</th><th>Пораж.</th><th>Мячи</th><th class="imprtnt">Очки</th><th>Форма</th></tr>
                                {{ team }}
                            {% for team in teamchamp %}
                                {% if team.champ.name == "Чемпионат России 2016/2017"%}
                                    <tr>
                                        <td>{{ team.mesto }}</td>
                                        <td><img src="/media/img/small/{{ team.logo }}"></td>
                                        <td><a href="{% url 'base:teamchamp' team.alias %}">{{ team.name }}</a></td>
                                        <td class="imprtnt">{{ team.games }}</td>
                                        <td>{{ team.win }}</td>
                                        <td>{{ team.draw }}</td>
                                        <td>{{ team.lose }}</td>
                                        <td>{{ team.goals }}-{{ team.vgoals }}</td>
                                        <td class="imprtnt">{{ team.points }}</td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                {% endif %}   
                            {% endfor %}    
                            </table>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}