﻿{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
	<!--- About us Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<span class="line"></span><span class="line-anchor"><h1>Список команд</h1></span><span class="line"></span>
                    <div class="teams row">
                        <div class="group">
                            {% for team in teams %}
                                <div class="team-item col-md-3 col-sm-4">
                                    <a href="{% url 'base:team' team.alias %}">
                                    <div class="image_team">
                                        <img src="/media/img/{{ team.get_logo_list.0 }}">
                                    </div>
                                    </a>
                                    <div class="name_team">
                                        <a href="{% url 'base:team' team.alias %}">{{ team.name }}</a>
                                    </div>
                                </div>
                            {% endfor %}    
                        </div>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}