{% extends "__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
		<div class="container">
			<div class="about-top">
				<span class="line"></span><span class="line-anchor"><h1>{{ data.name }}</h1></span><span class="line"></span>
                <div class="team row">
                    <div class="col-md-3 team-img">
                        <img class="team-logo" src="/media/img/{{ data.logo }}">
                        <img class="team-pht" src="/media/team_photos/{{ data.photo }}">        
                        <span>Город: {{ data.city }}</span>
                        <span>Стадион: {{ data.stadium }}</span>
                    </div>
                    <div class="col-md-9 matches-team">
                        <div class="col-md-6 past">
                            {% for match in matches %}
                                {% if match.status == "1-ый тайм" or match.status == "2-ой тайм" or match.status == "Перерыв" %}
                                    <h3>Матч онлайн</h3>
                                    <table class="idet">
                                    <tr><td class="img-pulse"><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}">{{ match.command_first }} - {{ match.command_second }}</a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td><img class="flag" src="/media/img/rus-flg.png">{{match.tour}} тур</td><td class="scr">                    
                                                {% if match.score %}
                                                    {{ match.score }}
                                                {% else %}
                                                    - : -
                                                    </td>
                                                {% endif %}
                                                <td><a href="{% url 'base:match' match.alias %}">Трансляция</a></td>
                                        </tr>
                                        </table>
                                {% endif %}
                            {% endfor %}
                            <h3>Прошедшие матчи</h3>
                            <table>
                                {% for match in matches reversed %}
                                    {% if match.champ.name == "Чемпионат России 2016/2017"%}
                                        {% if match.status == "Матч окончен" %}
                                            {% if match.score %}
                                                    <tr {% if data.name == match.get_win %}class="win"{% elif match.get_win == 'ничья' %}class="draw"{% else %}class="lose"{% endif %}><td><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}">{{ match.command_first }} - {{ match.command_second }}</a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td><img class="flag" src="/media/img/rus-flg.png">{{ match.tour }} тур</td><td class="scr">                    
                                                    {% if match.score %}
                                                        {{ match.score }}
                                                    {% else %}
                                                        - : -
                                                        </td>
                                                    {% endif %}
                                                    <td><a href="{% url 'base:match' match.alias %}">Обзор</a></td>
                                            {% endif %}
                                        {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-md-6 next-matches">
                            <h3>Следующие матчи</h3>
                            <table>
                                {% for match in new_matches %}
                                    {% if match.champ.name == "Лига чемпионов 2016/2017 групповой этап" or match.champ.name == "Чемпионат России 2016/2017" %}
                                        {% if match.score %}
                                        {% else %}
                                            {% if forloop.counter < 11 %}
                                                <tr><td>{{ match.datetime|ru_strftime:"%d.%m.%y" }}</td><td><img src="/media/img/small/{{ match.command_first.get_logo_list.0 }}"><a href="{% url 'base:match' match.alias %}">{{ match.command_first }} - {{ match.command_second }}</a><img src="/media/img/small/{{ match.command_second.get_logo_list.0 }}"></td><td><img class="flag" src="/media/img/rus-flg.png">{{match.tour}} тур</td><td>
                                                <a href="{% url 'base:match' match.alias %}"><button type="button" class="btn btn-success"><span>купить билеты</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
                                            {% endif %}
                                        {% endif %}
                                        </td></tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 title-row"><span class="line"></span><span class="line-anchor"><h2>Состав</h2></span><span class="line"></span></div>
                    <div class="col-md-12 players">
                        <div class="col-md-8">
                            <table class="pl_list">
                                <tr><th class="numb">№</th><th class="img_col"></th><th>Игрок</th><th class="poz_col hidden-xs">Амплуа</th><th class="stat_col hidden-xs">Рост</th><th class="stat_col hidden-xs">Вес</th></tr>
                                {% if coaches %}
                                    {% for player in coaches %}
                                        {% include "_player_item.html" %}
                                    {% endfor %}

                            {% endif %}
                            {% if goalkeepers %}
                                    {% for player in goalkeepers %}
                                        {% include "_player_item.html" %}
                                    {% endfor %}

                            {% endif %}
                            {% if defenders %}
                                    {% for player in defenders %}
                                        {% include "_player_item.html" %}
                                    {% endfor %}
                            {% endif %}
                            {% if midfielders %}

                                    {% for player in midfielders %}
                                        {% include "_player_item.html" %}
                                    {% endfor %}

                            {% endif %}
                            {% if attacks %}
                                    {% for player in attacks %}
                                        {% include "_player_item.html" %}
                                    {% endfor %}
                            {% endif %}
                            {% if not coaches and not goalkeepers and not defenders and not attacks%}
                                <p>К сожалению, об игроках данной сборной сведений нет.</p>
                            {% endif %}
                            </table>
                            <article>
                                <h1>{{ data.seo_h1 }}</h1>
                                {{ data.content|safe }}
                            </article>
                        </div>
                        <div class="col-md-4 groups">
                            <span class="group_name_title_t">Новости</span>
                                {% for news in news %}
                                    <div class="new_news_right">
                                        <span class="pub-dte"></span>
                                        <a href="{% url 'base:news' news.alias %}"><span class="news_title">{{ news.name }}</span></a>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
	{% endblock %}