{% extends "__base.html" %}
    {% block main_content %}
        <div class="content">
            <div class="container">
                <article>
                    <h1>{{ data.seo_h1 }}</h1>
                    {{ data.content|safe }}
                </article>
            </div>
        </div>
    {% endblock %}