{% extends "main/__base.html" %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-12 pix-content-wrap">
            <div class="pagenone">
                <i class="fa fa-warning pix-colr"></i>
                <h1 class="colr">Страница не найденароа</h1>
            </div>
        </div>
    </div>
    {% endblock %}