                    <div id="carouselarea">
                        <div class="container">
                            <div class="news-carousel">
                                <div class="center">
                                    <span class="cycle-prev" id="cycle-next"><i class="fa fa-arrow-left"></i></span>
                                    <span class="cycle-next" id="cycle-prev"><i class="fa fa-arrow-right"></i></span>
                                </div>
                                <div class="cycle-slideshow news-section" data-cycle-fx=carousel data-cycle-carousel-visible=10 data-cycle-next="#cycle-prev" data-cycle-prev="#cycle-next" data-cycle-slides=">article" data-cycle-timeout=0 data-cycle-log="false">
                                    {% for match in ru_matches %}
                                    <article>
                                        <time datetime='{{ match.datetime|date:"d-m-Y" }}'>{{ match.datetime }}</time>
                                        <div class="text">
                                            <div class="match-result">
                                                <a href="{% url 'portal:match' match.alias %}">
                                                <span>
                                               {{ match.command_first }}<img src="{{ match.command_first.image }}" alt="">
                                                <br/>
                                                </span>
                                                <span>
                                                {{ match.command_second }}<img src="{{ match.command_second.image }}" alt="">
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>