    <article>
        <figure>
            <a href="{% url 'portal:player' player.alias %}">
                <img src="{{ player.image }}" alt="">
            </a>                                             
            <figcaption>
                <h2 class="pix-post-title">
                    <a href="{% url 'portal:player' player.alias %}">{{ player.name }}</a>
                </h2>
                <h6><a>{{ player.position }}</a></h6>
            </figcaption>
        </figure>
    </article>