    <aside class="col-md-3">
        <div class="widget widget_countdown"></div>
        {% include "main/_widget_groups.html" %}
        {% include "main/_widget_last_news.html" %}
        {% include "main/_widget_banner.html" %}
    </aside>