{% load pytils_dt %}
    <div class="widget widget-recent-blog">
        <header class="pix-heading-title">
            <h2 class="pix-section-title heading-color">Последние новости</h2>
        </header>
        {% for news_item in last_news %}
            <article>
                {% if news_item.image %}<figure><a class='pix-colrhvr' href='{{ news_item.image }}' alt=''><img src='{{ news_item.image }}' alt=''></a></figure>{% endif %}
                <div class="text">
                    <h6><a href="{% url 'portal:news' news_item.alias %}" class="news-item-title news-item-title-min pix-colrhvr">{{ news_item.name }}</a></h2>
                    <ul class="post-options">
                        <li><a rel="tag" href="javascript:">Хоккей</a></li>
                        <li>
                            <time datetime='{{ news_item.date|date:"d-m-Y" }}'>{{ news_item.date|ru_strftime:"%d %B, %Y" }}</time>
                        </li>
                        <li class='px-comments'><a href="javascript:">0</a>                                            
                    </ul>
                </div>
            </article>
        {% endfor %}
    </div>