    <div class="widget widget_text">
        {% for teams in teamsAB %}
        <header class="pix-heading-title">
            <h2 class="pix-section-title heading-color">Группа {% cycle A,B %}</h2>
        </header>
        <div class="textwidget">
            <div class="pointtable-shortcode">
                <div class="points-table fullwidth">
                    <table class="table table-condensed table_D3D3D3">
                        <thead>
                            <tr>
                                <th>
                                    <span class="box1">
                                    #
                                    </span>
                                </th>
                                <th>
                                    <span class="box1">Сборная</span>
                                </th>
                                <th>
                                    <span class="box1">Игры</span>
                                </th>
                                <th>
                                    <span class="box1">Очки</span>
                                </th>
                                <th>
                                    <span class="box1">Разница</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'portal:team' team.alias %}">{{ team.name }}</a></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!--<tfoot>
                            <tr>
                                <td colspan="6"><a href="javascript:" class="btn">View All</a></td>
                            </tr>
                        </tfoot>-->
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>