{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="col-md-9">
        <div class="element_size_100">
            <div class="pix-blog blog-home ">
                <!-- Blog Start -->
                <div class="tabs horizontal">
                    <header class="pix-heading-title">
                        <h2 class="pix-heading-color pix-section-title">Чемпионат мира по хоккею 2016</h2>
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active" data-target="last-news"><a href="javascript:" data-toggle="tab">Последние новости</a></li>
                            <!--<li class="" data-target="teams-news"><a href="javascript:" data-toggle="tab">Сборные</a></li>
                            <li class="" data-target="matches-news"><a href="javascript:" data-toggle="tab">Мачти</a></li>-->
                        </ul>
                    </header>
                    <div class="tab-content">
                        <div id="blog-headlines2" data-name="last-news" class="blog-headlines tab-pane fade in active">
                            <div class="pix-feature">
                                <article>
                                    <figure>
                                        <a href="javascript:"><img src="/static/main/img/background.jpg" alt=""></a>
                                        <li class="featured">
                                            Featured		         
                                        </li>
                                        <figcaption>
                                            <h2 class="pix-post-title"><a href="javascript:">Moyes scouts Griezmann and Pogba after having...</a></h2>
                                        </figcaption>
                                    </figure>
                                    <div class="text">
                                        <ul class="post-options">
                                            <li>
                                                <time datetime="07-04-14">April 7, 2014</time>
                                            </li>
                                        </ul>
                                        <p>Kings Club Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as </p>
                                    </div>
                                </article>
                            </div>
                            <div class="blog-listing-text">
                                {% for news_item in news %}
                                    <article>
                                        <div class="text">
                                            <h2 class="pix-post-title news-item-title"><a href="{% url 'portal:news' news_item.alias %}">{{ news_item.name }}</a></h2>
                                            <ul class="post-options">
                                                <li><a rel="tag" href="javascript:">Хоккей</a></li>
                                                <li>
                                                    <time datetime='{{ news_item.date|date:"d-m-Y" }}'>{{ news_item.date|ru_strftime:"%d %B, %Y" }}</time>
                                                </li>                                            
                                            </ul>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="blog-recent2" data-name="teams-news" class="blog-headlines tab-pane fade in ">
                            
                        </div>
                        <div id="blog-popular2" data-name="matches-news"  class="blog-headlines tab-pane fade in ">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="element_size_100">
            <div class="blog blog_detail">
                <article>
                    {{ data.content|safe }}
                </article>
            </div>
        </div>
    </div>
    {% include "main/_right_block.html" %}
    {% endblock %}