{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9 lightbox">
            <div class="subtitle">
                <div class="pix-page-title px-single-page-title h1">{{ data.command_first }} <span>-</span> {{ data.command_second }}</div>
            </div>
            <div class="element_size_100">
                <div class="match-detail">
                    <!-- Featued Event -->
                    <div class="featured-event">
                        <div class="featured-inn">
                            <div class="pix-sc-team">
                                <ul>
                                    <li>
                                        <figure>
                                            <img alt="" src="{{ data.command_first.image }}">
                                        </figure>
                                    </li>
                                    <li class="sec-section">
                                        <h2>
                                            <a href="{% url 'portal:team' data.command_first.alias %}">{{ data.command_first }}</a> 
                                            <span>-</span> 
                                            <a href="{% url 'portal:team' data.command_second.alias %}">{{ data.command_second }}</a> 
                                        </h2>
                                    </li>
                                    <li>
                                        <figure>
                                            <img alt="" src="{{ data.command_second.image }}">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <hr style="width: 100%;border-width:2px">
                            <!--<header class="pix-cont-title">
                                <h2 class="pix-section-title">
                                    <span>KICK-OFF: 06:30</span>
                                </h2>
                            </header>-->
                            <!--<div class="bottom-event-panel">
                                <div class="match-result">
                                    <span>
                                    <big>5-2</big>
                                    </span>
                                </div>
                            </div>-->
                            <div class="option-sec">
                                <ul class="post-options">
                                    <!--<li><i class="fa fa-user"></i><time>kings club</time></li>-->
                                    <li><i class="fa fa-calendar"></i><time>{{ data.datetime }}</time></li>
                                    <li><i class="fa fa-map-marker"></i>{{ data.stadium }}</li>
                                </ul>
                                <!--<a style=" background-color: #489DD0" class="btn pix-btn-open" href="javascript:"> <i class="fa fa-money"></i>Купить билеты</a>-->
                            </div>
                        </div>
                    </div>
                    <!-- Featued Event Close -->
                    <div class="pix-content-wrap" style="position:relative;">
                        <svg id="svg-scheme" version="1.1" width="100%" height="600" xmlns="http://www.w3.org/2000/svg" data-src="/media/files/ubi.svg"></svg>
                    </div>
                    <div class="pix-content-wrap">
                        <div class="detail-text rich_editor_text">
                            {% if data.content %}{{ data.content|safe }}{% endif %}
                        </div>
                        <!--<div class="share-post">
                            <ul class="social-network"><a class="addthis_button_compact btn share-now pix-bgcolr" href="#"><i class="fa fa-share-square-o"></i>Share Now</a></ul>
                        </div>-->
                        <!-- Share Post Close -->
                        <div class="prev-nex-btn">
                            <div class="single-paginate">
                                {% if prev %}
                                <div class="next-post-paginate">
                                    <a href="{% url 'portal:match' prev.alias %}" class="pix-colr"><i class="fa fa-arrow-left"></i>
                                        Предыдущий матч               
                                    </a>
                                    <h2 class="px-single-page-title">
                                        <img alt="" width="20" src="{{ prev.command_first.image }}" style="border-radius:100%;">
                                        {{ prev.command_first }}
                                        <span>-</span> 
                                        <img alt="" width="20" src="{{ prev.command_second.image }}" style="border-radius:100%;">
                                        {{ prev.command_second }}
                                        
                                    </h2>
                                    <ul>
                                        <li>{{ prev.datetime|ru_strftime:"%d %B, %Y %H:%M" }}</li>
                                    </ul>
                                </div>
                                {% endif %}
                                {% if next %}
                                <div class="next-post-paginate">
                                    <a href="{% url 'portal:match' next.alias %}" class="pix-colr"><i class="fa fa-arrow-right"></i>
                                        Следущий матч
                                    </a>
                                    <h2 class="px-single-page-title">
                                        <img alt="" width="20" src="{{ next.command_first.image }}" style="border-radius:100%;">
                                        {{ next.command_first }}
                                        <span>-</span> 
                                        <img alt="" width="20" src="{{ next.command_second.image }}" style="border-radius:100%;">
                                        {{ next.command_second }}
                                    </h2>
                                    <ul>
                                        <li>{{ next.datetime|ru_strftime:"%d %B, %Y %H:%M" }}</li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element_size_100">
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}