{% extends "main/__base.html" %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9 lightbox">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{{ data.name }}</h1>
            </div>
            <div class="element_size_100">
                <div class="row matches-filter">
                    <div class="col-md-2">
                        <p>Фильтровать по:</p>
                    </div>
                    <div class="col-md-6">
                        <select data-type="stadium">
                            <option value="">Выберите стадион</option>
                            {% for stadium in stadiums %}
                                <option value="{{ stadium.name }}">{{ stadium.name }}</option>
                            {% endfor %}
                        </select>
                        <select data-type="team">
                            <option value="">Выберите команду</option>
                            {% for teams in teamsAB %}
                                {% for team in teams %}
                                    <option value="{{ team.name }}">{{ team.name }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn">Сбросить фильтр</button>
                    </div>
                </div>
            </div>
            <div class="element_size_100">
                <div class="event event-listing">
                    {% for match in matches %}
                        {% include "main/_match_item.html" %}
                    {% empty %}
                        <p>К сожалению, сведений о матчах не найдено.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="element_size_100">
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}