{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            </div>
            <div class="blog blog_detail">
                <article>
                    <div class="pix-content-wrap">
                        <div class="detail_text rich_editor_text">
                            <ul class="post-options">
                                <li>
                                    <time datetime='{{ data.date|date:"d-m-Y" }}'>{{ data.date|ru_strftime:"%d %B, %Y" }}</time>
                                </li>
                                <!--<li><span>in</span> <a href="javascript:" rel="tag">Хоккей</a></li>-->
                            </ul>
                            {{ data.content|safe }}
                        </div>
                        <!--<div class="share-post">
                            <div class="post-tags">tags: <a href="javascript:" rel="tag">Golf</a> <a href="javascript:" rel="tag">Kick</a> <a href="javascript:" rel="tag">Player</a> <a href="javascript:" rel="tag">Sports</a> <a href="javascript:" rel="tag">Stadium</a></div>
                            <ul class="social-network"><a class="addthis_button_compact btn share-now pix-bgcolr" href="#"><i class="fa fa-share-square-o"></i>Share Now</a></ul>
                        </div>-->
                        <div class="prev-nex-btn">
                            <div class="single-paginate">
                                {% if prev %}
                                <div class="next-post-paginate">
                                    <a href="{% url 'portal:news' prev.alias %}" class="pix-colr"><i class="fa fa-arrow-left"></i>
                                        Предыдущая новость               
                                    </a>
                                    <h2 class="px-single-page-title">{{ prev.name }}</h2>
                                    <ul>
                                        <li>{{ prev.date|ru_strftime:"%d %B, %Y" }}</li>
                                    </ul>
                                </div>
                                {% endif %}
                                {% if next %}
                                <div class="next-post-paginate">
                                    <a href="{% url 'portal:news' next.alias %}" class="pix-colr"><i class="fa fa-arrow-right"></i>
                                        Следущая новость
                                    </a>
                                    <h2 class="px-single-page-title">{{ next.name }} </h2>
                                    <ul>
                                        <li>{{ next.date|ru_strftime:"%d %B, %Y" }}</li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}