{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9 lightbox">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{{ data.name }}</h1>
            </div>
            <div class="element_size_100">
                <div class="pix-blog blog-grid ">
                    {% for stadium in stadiums %}
                    <article>
                        <figure><a href="{% url 'portal:stadium' stadium.alias %}"><img src="{{ stadium.image }}" alt=""></a></figure>
                        <div class="text">
                            <h2 class="pix-post-title"><a href="{% url 'portal:stadium' stadium.alias %}">{{ stadium.name }}</a></h2>
                            <p>{% if stadium.seo_description %}{{ stadium.seo_description }}{% endif %}</p>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <div class="element_size_100">
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}