{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9">
            <div class="subtitle h1">
                <img src="{{ data.image }}" width="50" alt="">
                {{ data.name }}
            </div>
            <div class="element_size_100">
                <div class="tabs horizontal">
                    <div class="fluid-tab-horizontal">
                        <div class=" fluid-tab-horizontal">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active" data-target="team"><a href="javascript:">Сборная</a></li>
                                <li data-target="players"><a href="javascript:">Игроки</a></li>
                                <li data-target="matches"><a href="javascript:">Расписание матчей</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div data-name="team" class="tab-pane fade in active">
                            <article>
                                <div class="pix-content-wrap">
                                    <div class="detail_text rich_editor_text">
                                        {% if data.content %}{{ data.content|safe }}{% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div data-name="players" class="tab-pane fade">
                            {% if coaches %}
                                <header class="pix-heading-title">
                                    <h2 class="pix-section-title">Тренерский состав</h2>
                                </header>
                                <div class="our-team-sec">
                                    {% for player in coaches %}
                                        {% include "main/_player_item.html" %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if goalkeepers %}
                                <header class="pix-heading-title">
                                    <h2 class="pix-section-title">Вратари</h2>
                                </header>
                                <div class="our-team-sec">
                                    {% for player in goalkeepers %}
                                        {% include "main/_player_item.html" %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if defenders %}
                                <header class="pix-heading-title">
                                    <h2 class="pix-section-title">Защитники</h2>
                                </header>
                                <div class="our-team-sec">
                                    {% for player in defenders %}
                                        {% include "main/_player_item.html" %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if attacks %}
                                <header class="pix-heading-title">
                                    <h2 class="pix-section-title">Нападающие</h2>
                                </header>
                                <div class="our-team-sec">
                                    {% for player in attacks %}
                                        {% include "main/_player_item.html" %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if not coaches and not goalkeepers and not defenders and not attacks%}
                                <p>К сожалению, об игроках данной сборной сведений нет.</p>
                            {% endif %}
                        </div>
                        <div data-name="matches" class="tab-pane fade">
                            <div class="event event-listing">
                                {% for match in matches %}
                                    {% include "main/_match_item.html" %}
                                {% empty %}
                                    <p>К сожалению, о матчах данной сборной сведений нет.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Our team Close -->
                </div>
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}