{% extends "main/__base.html" %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-12">
            <div class="subtitle"></div>
            <div class="element_size_100 page_listing">
                <header class="pix-heading-title">
                    <h2 class="pix-section-title pix-heading-color">{{ data.name }}</h2>
                </header>
                <div class="gallerysec gallery">
                    <ul class="gallery-eight-col lightbox clearfix">
                        {% for team in teams %}
                            <li>
                                <div class="px-gallery-content">
                                    <div class="cs-media">
                                        <figure>
                                            <img src="{{ team.image }}" alt="">
                                            <figcaption>
                                                <a href="{% url 'portal:team' team.alias %}">
                                                    <i class="fa fa-play"></i>                           
                                                </a>  
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <h2>{{ team.name }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}