{% extends "main/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="row">
        {% include "main/_breadcrumbs.html" %}
        <div class="col-md-9">
            <div class="subtitle">
                <h1 class="pix-page-title px-single-page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            </div>
            <div class="blog blog_detail">
                <article>
                    <div class="pix-content-wrap">
                        <div class="detail_text rich_editor_text">
                            {{ data.content|safe }}
                        </div>
                        <!--<div class="share-post">
                            <div class="post-tags">tags: <a href="javascript:" rel="tag">Golf</a> <a href="javascript:" rel="tag">Kick</a> <a href="javascript:" rel="tag">Player</a> <a href="javascript:" rel="tag">Sports</a> <a href="javascript:" rel="tag">Stadium</a></div>
                            <ul class="social-network"><a class="addthis_button_compact btn share-now pix-bgcolr" href="#"><i class="fa fa-share-square-o"></i>Share Now</a></ul>
                        </div>-->
                    </div>
                </article>
            </div>
        </div>
        {% include "main/_right_block.html" %}
    </div>
    {% endblock %}