#page
{
	z-index: 1;
	width: 960px;
	min-height: 6435px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu1552
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 105px;
}

#u1564popup
{
	z-index: 3;
}

#u1565
{
	z-index: 4;
}

#u1644
{
	z-index: 6;
}

#u1675
{
	z-index: 8;
}

#pu89
{
	width: 0.01px;
	left: -100px;
	top: -105px;
	margin-bottom: -105px;
	position: relative;
}

#u89
{
	z-index: 14;
	width: 1160px;
	border-color: #000000;
	padding-bottom: 193px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/fc/images/dot hatch.png") repeat left top;
}

#u1937
{
	z-index: 522;
	width: 50px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFDD00;
	font-size: 60px;
	text-align: center;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 605px;
	left: 555px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 850px;
}

#pu106
{
	width: 0.01px;
	padding-bottom: 696px;
	left: -100px;
	top: -696px;
	margin-bottom: -696px;
	position: relative;
}

#u106
{
	z-index: 523;
	width: 1160px;
	height: 70px;
	border-color: #000000;
	background-color: #FFDD00;
	position: fixed;
	top: 800px;
	left: -100px;
}

#u107-4
{
	z-index: 524;
	width: 233px;
	min-height: 46px;
	text-align: left;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 813px;
	left: 22px;
}

#u1855
{
	z-index: 520;
	width: 417px;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: fixed;
	top: 174px;
	left: 269px;
}

.js #u1855.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#menuu108
{
	z-index: 528;
	width: 448px;
	position: fixed;
	top: 820px;
	left: 489px;
}

#u123
{
	width: 86px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u124
{
	width: 86px;
	padding-bottom: 15px;
	position: relative;
}

#u126-4
{
	width: 57px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u109
{
	width: 75px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u112
{
	width: 75px;
	padding-bottom: 15px;
	position: relative;
}

#u115-4
{
	width: 46px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u130
{
	width: 101px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u131
{
	width: 101px;
	padding-bottom: 15px;
	position: relative;
}

#u134-4
{
	width: 72px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u1533
{
	width: 72px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u1536
{
	width: 72px;
	padding-bottom: 15px;
	position: relative;
}

#u1537-4
{
	width: 44px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

#u116
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u117
{
	width: 106px;
	padding-bottom: 15px;
	position: relative;
}

#u119-4
{
	width: 78px;
	min-height: 19px;
	text-align: center;
	color: #1D1F26;
	line-height: 19px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 14px;
}

.js #u106.ose_pre_init,.js #u107-4.ose_pre_init,.js #menuu108.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1667
{
	z-index: 12;
	width: 1160px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1667_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 102px;
	padding-bottom: 106px;
}

#u151-4
{
	z-index: 15;
	width: 916px;
	min-height: 78px;
	text-align: center;
	color: #1D1F26;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	left: 122px;
	position: relative;
}

#pu241-4
{
	width: 0.01px;
	left: 122px;
	margin-top: 94px;
	position: relative;
}

#u241-4
{
	z-index: 23;
	width: 604px;
	min-height: 50px;
	text-align: left;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u243-4
{
	z-index: 34;
	width: 312px;
	min-height: 48px;
	text-align: left;
	color: #1D1F26;
	line-height: 43px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu242-7
{
	width: 0.01px;
	left: 122px;
	margin-top: 9px;
	position: relative;
}

#u242-7
{
	z-index: 27;
	width: 546px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1685-16
{
	z-index: 462;
	width: 156px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u1687-21
{
	z-index: 499;
	width: 58px;
	min-height: 254px;
	text-align: right;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u152-4
{
	z-index: 19;
	width: 760px;
	min-height: 56px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 200px;
}

#u1686-21
{
	z-index: 478;
	width: 98px;
	min-height: 254px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 882px;
}

#u320
{
	z-index: 13;
	width: 1160px;
	height: 1095px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("/static/fc/images/football-u320-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u317
{
	z-index: 38;
	width: 1160px;
	height: 1095px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u324
{
	z-index: 39;
	width: 1160px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/fc/images/dot hatch.png") repeat left top;
}

#u324_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 100px;
	padding-bottom: 2px;
}

#u332-4
{
	z-index: 40;
	width: 916px;
	min-height: 78px;
	text-align: center;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	left: 122px;
	position: relative;
}

#u336
{
	z-index: 48;
	width: 20px;
	left: 570px;
	margin-top: 96px;
	position: relative;
}

#u334
{
	z-index: 49;
	width: 20px;
	height: 20px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u335
{
	z-index: 50;
	width: 5px;
	height: 694px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#team
{
	margin-top: 97px;
	position: relative;
}

#u333-4
{
	z-index: 44;
	width: 760px;
	min-height: 56px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 200px;
}

#u343
{
	z-index: 51;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 535px;
}

#u339
{
	z-index: 52;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u342-4
{
	z-index: 53;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u345
{
	z-index: 68;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 500px;
	left: 535px;
}

#u347
{
	z-index: 69;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u346-4
{
	z-index: 70;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u353
{
	z-index: 85;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 654px;
	left: 535px;
}

#u354
{
	z-index: 86;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 87;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u361
{
	z-index: 102;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 808px;
	left: 535px;
}

#u362
{
	z-index: 103;
	width: 90px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u363-4
{
	z-index: 104;
	width: 56px;
	min-height: 32px;
	text-align: center;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 17px;
}

#u369
{
	z-index: 119;
	width: 20px;
	height: 20px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 968px;
	left: 570px;
}

#pu348
{
	width: 0.01px;
	padding-bottom: 616px;
	margin-left: 100px;
	top: -781px;
	margin-bottom: -616px;
	position: relative;
}

#u348
{
	z-index: 74;
	width: 327px;
	position: fixed;
	top: 2029px;
	left: 100px;
}

#u349
{
	z-index: 75;
	width: 312px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u350
{
	z-index: 76;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 267px;
}

#u351-4
{
	z-index: 77;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 20px;
}

#u352-4
{
	z-index: 81;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u364
{
	z-index: 108;
	width: 327px;
	position: fixed;
	top: 2337px;
	left: 100px;
}

#u365
{
	z-index: 109;
	width: 312px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u367
{
	z-index: 110;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 267px;
}

#u366-4
{
	z-index: 111;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 20px;
}

#u368-4
{
	z-index: 115;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 20px;
}

#u344
{
	z-index: 57;
	width: 327px;
	position: fixed;
	top: 1875px;
	left: 533px;
}

#u337
{
	z-index: 58;
	width: 312px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u338
{
	z-index: 59;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 10px;
}

#u340-4
{
	z-index: 60;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 35px;
}

#u341-4
{
	z-index: 64;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 35px;
}

#u356
{
	z-index: 91;
	width: 327px;
	position: fixed;
	top: 2183px;
	left: 533px;
}

#u357
{
	z-index: 92;
	width: 312px;
	height: 154px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u358
{
	z-index: 93;
	width: 50px;
	height: 50px;
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-10,25);
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 10px;
}

#u359-4
{
	z-index: 94;
	width: 283px;
	min-height: 92px;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 35px;
}

#u360-4
{
	z-index: 98;
	width: 283px;
	min-height: 32px;
	text-align: left;
	color: #1D1F26;
	line-height: 29px;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 35px;
}

#u1668
{
	z-index: 11;
	width: 1160px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 906px;
}

#u370-4
{
	z-index: 120;
	width: 916px;
	min-height: 78px;
	text-align: center;
	color: #1D1F26;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 122px;
}

#u371-4
{
	z-index: 124;
	width: 760px;
	min-height: 56px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 200px;
}

#pamphletu387
{
	z-index: 128;
	width: 0.01px;
	height: 604px;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 122px;
}

#u396
{
	z-index: 129;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 559px;
	left: 390px;
}

#u397
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u397:hover
{
	border-color: #999999;
	margin: 0px;
}

#u1714
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	left: 70px;
}

#u397.PamphletThumbSelected,#u1714:hover
{
	border-color: #999999;
	margin: 0px;
}

#u392
{
	position: absolute;
	width: 917px;
}

#u392popup
{
	z-index: 132;
}

#u395
{
	z-index: 133;
	width: 917px;
	height: 553px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1713
{
	z-index: 134;
	width: 917px;
	position: relative;
	margin-right: -10000px;
}

#u1688
{
	z-index: 135;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1689
{
	z-index: 136;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1690-4
{
	z-index: 137;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1691
{
	z-index: 141;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1692
{
	z-index: 142;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1693-4
{
	z-index: 143;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1694
{
	z-index: 147;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1695
{
	z-index: 148;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1696-4
{
	z-index: 149;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1697
{
	z-index: 153;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1698
{
	z-index: 154;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1699-4
{
	z-index: 155;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1700
{
	z-index: 159;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1701
{
	z-index: 160;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1702-4
{
	z-index: 161;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1703
{
	z-index: 165;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1704
{
	z-index: 166;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1705-4
{
	z-index: 167;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1706
{
	z-index: 171;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1707
{
	z-index: 172;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1708-4
{
	z-index: 173;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1709
{
	z-index: 177;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1710
{
	z-index: 178;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1711-4
{
	z-index: 179;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1715
{
	z-index: 183;
	width: 917px;
	height: 553px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1741
{
	z-index: 184;
	width: 917px;
	position: relative;
	margin-right: -10000px;
}

#pu1688,#pu1742
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1742
{
	z-index: 185;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1749
{
	z-index: 186;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1744-4
{
	z-index: 187;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1762
{
	z-index: 191;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1751
{
	z-index: 192;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1752-4
{
	z-index: 193;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu1694,#pu1758
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u1758
{
	z-index: 197;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1756
{
	z-index: 198;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1755-4
{
	z-index: 199;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1746
{
	z-index: 203;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1761
{
	z-index: 204;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1757-4
{
	z-index: 205;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu1700,#pu1750
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u1750
{
	z-index: 209;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1765
{
	z-index: 210;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1753-4
{
	z-index: 211;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1760
{
	z-index: 215;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1763
{
	z-index: 216;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1748-4
{
	z-index: 217;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu1706,#pu1743
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 702px;
}

#u1743
{
	z-index: 221;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1745
{
	z-index: 222;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1759-4
{
	z-index: 223;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1747
{
	z-index: 227;
	width: 200px;
	height: 200px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 7px;
	margin-top: 40px;
	position: relative;
	background: #FFFFFF url("/static/fc/images/2-u2426-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1764
{
	z-index: 228;
	width: 214px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 12px;
	margin-top: 10px;
	position: relative;
}

#u1754-4
{
	z-index: 229;
	width: 214px;
	min-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1018
{
	z-index: 233;
	width: 1160px;
	height: 855px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("/static/fc/images/football-u1018-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u1019
{
	z-index: 234;
	width: 1160px;
	height: 855px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u1020
{
	z-index: 235;
	width: 1160px;
	border-color: #000000;
	padding-bottom: 677px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/fc/images/dot hatch.png") repeat left top;
}

#u1021-4
{
	z-index: 236;
	width: 916px;
	min-height: 78px;
	text-align: center;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 122px;
}

#u1022-4
{
	z-index: 240;
	width: 760px;
	min-height: 56px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 200px;
}

#slideshowu1073
{
	z-index: 244;
	width: 0.01px;
	height: 534px;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 122px;
}

#u1109
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 133px;
	left: 58px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1109popup
{
	z-index: 245;
}

#u1866
{
	z-index: 246;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1878
{
	z-index: 248;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1890
{
	z-index: 250;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1902
{
	z-index: 252;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1914
{
	z-index: 254;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1926
{
	z-index: 256;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1866_img,#u1878_img,#u1890_img,#u1902_img,#u1914_img,#u1926_img
{
	padding-top: 47px;
	padding-bottom: 47px;
}

#u1095
{
	position: absolute;
	width: 914px;
	left: 1px;
}

#u1095popup
{
	z-index: 258;
}

#u1869
{
	z-index: 259;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1881
{
	z-index: 261;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u1893
{
	z-index: 263;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u1869:hover,#u1881:hover,#u1893:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1905
{
	z-index: 265;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
}

#u1917
{
	z-index: 267;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 308px;
}

#u1929
{
	z-index: 269;
	width: 298px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 616px;
}

#u1905:hover,#u1917:hover,#u1929:hover
{
	margin: 240px -10000px 0px 0px;
}

#u1869_clip,#u1881_clip,#u1893_clip,#u1905_clip,#u1917_clip,#u1929_clip
{
	overflow: hidden;
	width: 298px;
	height: 230px;
}

#u1869_img,#u1881_img,#u1893_img,#u1905_img,#u1917_img,#u1929_img
{
	margin-left: -59px;
	margin-right: -59px;
}

#u1102
{
	position: absolute;
	width: 340px;
	top: 525px;
	left: 80px;
}

#u1102popup
{
	z-index: 271;
}

#u1872-4
{
	z-index: 272;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1884-4
{
	z-index: 276;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1896-4
{
	z-index: 280;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1908-4
{
	z-index: 284;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1920-4
{
	z-index: 288;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1932-4
{
	z-index: 292;
	width: 340px;
	min-height: 22px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1106-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: 430px;
}

#u1106-4popup
{
	z-index: 296;
}

#u1117-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: 530px;
}

#u1117-4popup
{
	z-index: 300;
}

#u1116-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 525px;
	left: 460px;
}

#u1116-4popup
{
	z-index: 304;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/static/fc/images/loading.gif") no-repeat center center;
}

#u1345
{
	z-index: 308;
	width: 1160px;
	border-color: #000000;
	background-color: #FFDD00;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u89_align_to_page,#u1668_align_to_page,#u1020_align_to_page,#u1345_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#blog
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 172px;
}

#pamphletu1346
{
	z-index: 309;
	width: 0.01px;
	height: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 122px;
}

#u1355
{
	z-index: 310;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 358px;
}

#u1356
{
	position: absolute;
	width: 60px;
	height: 5px;
	border-color: #DEDEDE;
	background-color: #FFDD00;
}

#u1714.PamphletThumbSelected,#u1356:hover
{
	border-color: #999999;
	margin: 0px;
}

#u1400
{
	position: absolute;
	width: 60px;
	height: 5px;
	border-color: #DEDEDE;
	background-color: #FFDD00;
	left: 70px;
}

#u1356.PamphletThumbSelected,#u1400:hover
{
	border-color: #999999;
	margin: 0px;
}

#u1410
{
	position: absolute;
	width: 60px;
	height: 5px;
	border-color: #DEDEDE;
	background-color: #FFDD00;
	left: 140px;
}

#u1400.PamphletThumbSelected,#u1410:hover
{
	border-color: #999999;
	margin: 0px;
}

#u1410.PamphletThumbSelected
{
	border-color: #999999;
	margin: 0px;
}

#u1351
{
	position: absolute;
	width: 916px;
}

#u1351popup
{
	z-index: 314;
}

#u1354
{
	z-index: 315;
	width: 916px;
	height: 85px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1371
{
	z-index: 316;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/fc/images/audiojungle.png") no-repeat center center;
}

#u1379
{
	z-index: 317;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 234px;
	background: transparent url("/static/fc/images/codecanyon.png") no-repeat center center;
}

#u1380
{
	z-index: 318;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 468px;
	background: transparent url("/static/fc/images/themeforest.png") no-repeat center center;
}

#u1381
{
	z-index: 319;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 702px;
	background: transparent url("/static/fc/images/photodune.png") no-repeat center center;
}

#u1401
{
	z-index: 320;
	width: 916px;
	height: 85px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1406
{
	z-index: 321;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/fc/images/audiojungle.png") no-repeat center center;
}

#u1407
{
	z-index: 322;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 234px;
	background: transparent url("/static/fc/images/codecanyon.png") no-repeat center center;
}

#u1408
{
	z-index: 323;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 468px;
	background: transparent url("/static/fc/images/themeforest.png") no-repeat center center;
}

#u1409
{
	z-index: 324;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 702px;
	background: transparent url("/static/fc/images/photodune.png") no-repeat center center;
}

#u1411
{
	z-index: 325;
	width: 916px;
	height: 85px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1416
{
	z-index: 326;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("/static/fc/images/audiojungle.png") no-repeat center center;
}

#u1417
{
	z-index: 327;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 234px;
	background: transparent url("/static/fc/images/codecanyon.png") no-repeat center center;
}

#u1418
{
	z-index: 328;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 468px;
	background: transparent url("/static/fc/images/themeforest.png") no-repeat center center;
}

#u1419
{
	z-index: 329;
	width: 214px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 702px;
	background: transparent url("/static/fc/images/photodune.png") no-repeat center center;
}

#pu1667,#pu1669
{
	width: 0.01px;
	left: -100px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1669
{
	z-index: 10;
	width: 1160px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 102px;
	padding-bottom: 2px;
}

#u1420-4
{
	z-index: 330;
	width: 916px;
	min-height: 78px;
	text-align: center;
	color: #1D1F26;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	left: 122px;
	position: relative;
}

#pu1422
{
	width: 0.01px;
	left: 122px;
	margin-top: 96px;
	position: relative;
}

#u1422
{
	z-index: 338;
	width: 293px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1425
{
	z-index: 339;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u1427
{
	z-index: 348;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("/static/fc/images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1424-4
{
	z-index: 340;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u1426-4
{
	z-index: 344;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u1423-4
{
	z-index: 349;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1437
{
	z-index: 353;
	width: 293px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u1439
{
	z-index: 354;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u1440
{
	z-index: 363;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("/static/fc/images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1438-4
{
	z-index: 355;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u1442-4
{
	z-index: 359;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u1441-4
{
	z-index: 364;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1443
{
	z-index: 368;
	width: 293px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u1445
{
	z-index: 369;
	width: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D7D9;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 18px 9px 11px;
}

#u1446
{
	z-index: 378;
	width: 262px;
	height: 149px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("/static/fc/images/football-u2574-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1444-4
{
	z-index: 370;
	width: 262px;
	min-height: 36px;
	text-align: left;
	color: #1D1F26;
	line-height: 36px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 18px;
	position: relative;
}

#u1448-4
{
	z-index: 374;
	width: 262px;
	min-height: 125px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u1447-4
{
	z-index: 379;
	width: 262px;
	min-height: 28px;
	text-align: left;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 18px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#contact
{
	margin-top: 88px;
	position: relative;
}

#u1421-4
{
	z-index: 334;
	width: 760px;
	min-height: 56px;
	text-align: center;
	color: #1D1F26;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 200px;
}

#pu320,#pu1668,#pu1018,#pu1345,#pu1449
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1449
{
	z-index: 383;
	width: 1160px;
	height: 784px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("/static/fc/images/football-u1449-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u1450
{
	z-index: 384;
	width: 1160px;
	height: 784px;
	border-color: #000000;
	background-color: #FFE53F;
	background-color: rgba(255, 221, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 221, 0, 0.75);
}

#u1451
{
	z-index: 385;
	width: 1160px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/fc/images/dot hatch.png") repeat left top;
}

#u1451_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 100px;
	padding-bottom: 110px;
}

#u1452-4
{
	z-index: 386;
	width: 916px;
	min-height: 78px;
	text-align: center;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	left: 122px;
	position: relative;
}

#u1454
{
	z-index: 394;
	width: 448px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 590px;
	margin-top: 96px;
	position: relative;
}

#u1453-4
{
	z-index: 390;
	width: 760px;
	min-height: 56px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 200px;
}

#widgetu1456
{
	z-index: 395;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 122px;
}

#widgetu1458
{
	z-index: 396;
	width: 448px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1458.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1461-4
{
	z-index: 397;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1462-4
{
	z-index: 401;
	width: 436px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

.html,#widgetu1458.non-empty-st #u1462-4
{
	background-color: #FFFFFF;
}

#widgetu1458:hover #u1462-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1458.focus-st #u1462-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1458.non-empty-st #u1462-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1458:hover #u1462-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1458.focus-st #u1462-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1469
{
	z-index: 405;
	width: 448px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu1469.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 81px -10000px 0px 0px;
}

#u1471-4
{
	z-index: 406;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu1469.fld-err-st #u1471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1473-4
{
	z-index: 410;
	width: 436px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu1469.non-empty-st #u1473-4
{
	background-color: #FFFFFF;
}

#widgetu1469:hover #u1473-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1469.focus-st #u1473-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1458.fld-err-st #u1462-4,#widgetu1469.fld-err-st #u1473-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1469.non-empty-st #u1473-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1469:hover #u1473-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1469.focus-st #u1473-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1458_input,#widgetu1458_prompt,#widgetu1469_input,#widgetu1469_prompt
{
	width: 436px;
	min-height: 28px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u1457-4
{
	z-index: 414;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1456.frm-sub-st #u1457-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1489-4
{
	z-index: 418;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1456.frm-subm-err-st #u1489-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1468-4
{
	z-index: 422;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1456.frm-sub-st #u1457-4,#widgetu1456.frm-subm-err-st #u1489-4,#widgetu1456.frm-subm-ok-st #u1468-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1456.frm-subm-ok-st #u1468-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1474-17
{
	z-index: 426;
	min-height: 45px;
	width: 448px;
	background: url("/static/fc/images/u1474-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
}

#u1474-17:hover
{
	background: url("/static/fc/images/u1474-17-r.png") no-repeat 0px 0px;
}

#u1474-17:active
{
	background: url("/static/fc/images/u1474-17-m.png") no-repeat 0px 0px;
}

#widgetu1456.frm-sub-st #u1474-17
{
	background: url("/static/fc/images/u1474-17-fs.png") no-repeat 0px 0px;
}

#widgetu1463
{
	z-index: 443;
	width: 448px;
	height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#widgetu1463.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 162px -10000px 0px 0px;
}

#u1466-4
{
	z-index: 444;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu1458.fld-err-st #u1461-4,#widgetu1463.fld-err-st #u1466-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1458.fld-err-st #u1461-4 p,#widgetu1458.fld-err-st #u1461-4 span,#widgetu1469.fld-err-st #u1471-4 p,#widgetu1469.fld-err-st #u1471-4 span,#widgetu1463.fld-err-st #u1466-4 p,#widgetu1463.fld-err-st #u1466-4 span
{
	color: #D7244C;
}

#u1464-4
{
	z-index: 448;
	width: 436px;
	min-height: 139px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu1463.non-empty-st #u1464-4
{
	background-color: #FFFFFF;
}

#widgetu1463:hover #u1464-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1463.focus-st #u1464-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1463.fld-err-st #u1464-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 139px;
	margin: 20px -10000px 0px 0px;
}

#widgetu1463.non-empty-st #u1464-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1463:hover #u1464-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1463.focus-st #u1464-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1458.fld-err-st #u1462-4 *,#widgetu1469.fld-err-st #u1473-4 *,#widgetu1463.fld-err-st #u1464-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1463_input,#widgetu1463_prompt
{
	width: 436px;
	min-height: 139px;
	color: #C4C4C4;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu1458.focus-st #widgetu1458_prompt,#widgetu1469.focus-st #widgetu1469_prompt,#widgetu1463.focus-st #widgetu1463_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1458:hover #widgetu1458_input,#widgetu1458.focus-st #widgetu1458_input,#widgetu1458.fld-err-st #widgetu1458_input,#widgetu1458:hover #widgetu1458_prompt,#widgetu1458.fld-err-st #widgetu1458_prompt,#widgetu1469:hover #widgetu1469_input,#widgetu1469.focus-st #widgetu1469_input,#widgetu1469.fld-err-st #widgetu1469_input,#widgetu1469:hover #widgetu1469_prompt,#widgetu1469.fld-err-st #widgetu1469_prompt,#widgetu1463:hover #widgetu1463_input,#widgetu1463.focus-st #widgetu1463_input,#widgetu1463.fld-err-st #widgetu1463_input,#widgetu1463:hover #widgetu1463_prompt,#widgetu1463.fld-err-st #widgetu1463_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1458.non-empty-st #widgetu1458_prompt,#widgetu1469.non-empty-st #widgetu1469_prompt,#widgetu1463.non-empty-st #widgetu1463_prompt
{
	visibility: hidden;
}

#u1496
{
	z-index: 452;
	width: 1160px;
	border-color: #000000;
	background-color: #1D1F26;
	position: relative;
	left: -100px;
	top: -1px;
}

#u1496_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 81px;
	padding-bottom: 20px;
	margin-bottom: -1px;
}

#pu1508
{
	width: 0.01px;
	left: 474px;
	position: relative;
}

#u1508
{
	z-index: 461;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #FFDD00 url("/static/fc/images/facebook.png") no-repeat center center;
}

#u1508:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("/static/fc/images/facebook.png") no-repeat center center;
}

#u1506
{
	z-index: 459;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
	background: #FFDD00 url("/static/fc/images/google plus.png") no-repeat center center;
}

#u1506:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("/static/fc/images/google plus.png") no-repeat center center;
}

#u1498
{
	z-index: 457;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
	background: #FFDD00 url("/static/fc/images/youtube.png") no-repeat center center;
}

#u1498:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("/static/fc/images/youtube.png") no-repeat center center;
}

#u1505
{
	z-index: 458;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 129px;
	background: #FFDD00 url("/static/fc/images/skype.png") no-repeat center center;
}

#u1505:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("/static/fc/images/skype.png") no-repeat center center;
}

#u1507
{
	z-index: 460;
	width: 40px;
	height: 40px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
	background: #FFDD00 url("/static/fc/images/twitter.png") no-repeat center center;
}

#u1507:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D5BA07 url("/static/fc/images/twitter.png") no-repeat center center;
}

#u1497-4
{
	z-index: 453;
	width: 916px;
	min-height: 28px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	left: 122px;
	margin-top: 81px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

