{% load i18n admin_static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="description" content="{{ data.description }}">
        <meta name="keywords" content="{{ data.keywords }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="/static/template6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/template6/css/font-awesome.css">
        <link rel="stylesheet" href="/static/template6/css/animate.css">
        <link rel="stylesheet" href="/static/template6/css/templatemo_misc.css">
        <link rel="stylesheet" href="/static/template6/css/templatemo_style.css">

        <script src="/static/template6/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
	</head>
	<body>
        {% include "template6/_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "template6/_footer.html" %}
    </body>
</html>