    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12 text-left">
                    <span>Copyright &copy; 2016 Company Name</span>
              </div> <!-- /.text-center -->
                <div class="col-md-4 hidden-xs text-right">
                    <a href="#top" id="go-top">Back to top</a>
                </div> <!-- /.text-center -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#footer -->
    
    <script src="/static/template6/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="/static/template6/js/bootstrap.js"></script>
    <script src="/static/template6/js/plugins.js"></script>
    <script src="/static/template6/js/main.js"></script>
    <script>
        $(document).ready(function(){
            $('.site-slider , .site-slider li img').css('height', $(window).height() - 45+'px');
			$('.main-menu').click(function(){
				$('.menu-firstt').toggleClass('show');
			})
        })
    </script>