   	<div class="site-main" id="sTop">
        <div class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="social-icons">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
            <div class="main-header">
                <div class="container">
                    <div id="menu-wrapper">
                        <div class="row">
                            <div class="logo-wrapper col-md-4 col-sm-4">
                                    <a href="/"><img src="/static/template2/images/logo.png"><img class="ll" style="height: 40px; margin-top: 30px; margin-left: 15px;" src="/static/template6/images/ccup.png"></a>
                            </div> <!-- /.logo-wrapper -->
                            <div class="col-md-8 col-sm-8 main-menu text-right">
                                <div class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></div>
                                <ul class="menu-firstt">
                                    <li {% if host == 'index' %}class="active"{% endif %}><a href="/">Главная</a></li>
                                    <li {% if host == 'teams' %}class="active"{% endif %}><a href="/teams/">Команды</a></li>
                                    <li {% if host == 'matches' %}class="active"{% endif %}><a href="/matches/">Матчи</a></li>
                                    <li><a href="#">Контакты</a></li>                                
                                </ul>                                    
                            </div> <!-- /.main-menu -->
                        </div> <!-- /.row -->
                    </div> <!-- /#menu-wrapper -->                        
                </div> <!-- /.container -->
            </div> <!-- /.main-header -->
        </div> <!-- /.site-header -->
        {% if host == "index" %}
        <div class="site-slider">
            <div class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="overlay"></div>
                            <img src="/static/template6/images/1.jpg" alt="">
                            <div class="slider-caption visible-md visible-lg">
                                <span>Москва - Санкт-Петербург</span>
                                <p>с 17 Июля по 2 Июня</p>
                                <a href="/matches" class="slider-btn">Купить билеты</a>
                            </div>
                        </li>
                    </ul>
                </div> <!-- /.flexslider -->
            </div> <!-- /.slider -->
        </div> <!-- /.site-slider -->
        {% endif %}
    </div> <!-- /.site-main -->