{% load pytils_dt %}
    <li class="col-md-12 col-sm-12 col-xs-12 corporate">
        <div class="match-title center">
            Группа {{ match.group }}
        </div>
        <div class="match-date">
            <div class="center"><i class="fa fa-calendar" aria-hidden="true"></i><a href="{% url 'portal:match' match.alias %}">{{ match.datetime|ru_strftime:"%d %B %Y" }} \ {{ match.datetime|ru_strftime:"%H:%M" }}</a></div>
        </div>
        <div class="match-teams">
            <div class="col-md-5 col-xs-12 center">
                <img src="/media/logo/{{ match.command_first.get_logo_list.0 }}"><span>{{ match.command_first }}</span>
            </div>
            <div class="col-md-2 col-xs-12 center">
                VS
            </div>
            <div class="col-md-5 col-xs-12 center">
                <img src="/media/logo/{{ match.command_second.get_logo_list.0 }}"><span>{{ match.command_second }}  </span>
            </div>
        </div>
    </li>