    <div class="team-member col-md-3 col-sm-3">
        <div class="member-thumb">
            <img src="{{ player.image }}" alt="">
            <a href="javascript:">
                <div class="team-overlay">
                    <h3>{{ player.name }}</h3>
                    <span>{{ player.position }}</span>
                </div> <!-- /.team-overlay -->
            </a>
        </div> <!-- /.member-thumb -->
    </div>