{% extends "template6/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content-section" id="services">
        <div class="container">
            <div class="row">
                <div class="heading-section col-md-12 text-center">
                    <iframe style="max-width: 100%; margin: 0 auto 20px; display: table; border: 5px solid #ddd; box-shadow: 0 0 0 5px #3f3f3f; width: 600px; height: 345px;" width="400" height="230" src="https://www.youtube.com/embed/XxaP2V1uCgM" frameborder="0" allowfullscreen></iframe><p>На домашнем Кубке Конфедераций Россия готова распахнуть свою широкую душу перед миллионами болельщиков и гостей со всей планеты, вдохновляя каждого, кто захочет постичь ее удивительный мир.</p>
                </div> <!-- /.heading-section -->
            </div> <!-- /.row -->
            <div class="row">
			<div class="heading-section col-md-12 text-center">
				<h2>Страны участники</h2>
			</div>
			{% for team in champ_teams %}
                <div class="col-md-3 col-sm-4">
                    <a href='{% url "portal:team" team.alias %}'>
						<div class="service-item" id="service-1">
							<div class="service-icon">
								<img src="/media/logo/{{ team.get_logo_list.0 }}" alt="">
								<span>{{ team.name }}</span>
							</div> <!-- /.service-icon -->
							<div class="service-content">
								<div class="inner-service">
								   <span>{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
								   {% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}
								</div>
							</div> <!-- /.service-content -->
						</div>
					</a> <!-- /#service-1 -->
                </div> <!-- /.col-md-3 -->
			{% endfor %}
				<div class="col-md-3 col-sm-4">
                    <div class="service-item" id="service-1">
                        <div class="service-icon">
                            <img src="/media/logo/russia.png" alt="">
							<span>Неизвестно</span>
                        </div> <!-- /.service-icon -->
                        <div class="service-content">
                            <div class="inner-service">
                               <span>Страна-организатор</span>
                               Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.
                            </div>
                        </div> <!-- /.service-content -->
                    </div> <!-- /#service-1 -->
                </div>
				<div class="col-md-3 col-sm-4">
                    <div class="service-item" id="service-1">
                        <div class="service-icon">
                            <img src="/media/logo/russia.png" alt="">
							<span>Неизвестно</span>
                        </div> <!-- /.service-icon -->
                        <div class="service-content">
                            <div class="inner-service">
                               <span>Страна-организатор</span>
                               Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.
                            </div>
                        </div> <!-- /.service-content -->
                    </div> <!-- /#service-1 -->
                </div>
				<div class="col-md-3 col-sm-4">
                    <div class="service-item" id="service-1">
                        <div class="service-icon">
                            <img src="/media/logo/russia.png" alt="">
							<span>Неизвестно</span>
                        </div> <!-- /.service-icon -->
                        <div class="service-content">
                            <div class="inner-service">
                               <span>Страна-организатор</span>
                               Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.
                            </div>
                        </div> <!-- /.service-content -->
                    </div> <!-- /#service-1 -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services -->
    <div class="content-section" id="portfolio">
        <div class="container">
            <div class="row match_list">
				<div class="heading-section col-md-12 text-center">
					<h2>Ближайшие матчи</h2>
				</div>
				<ul>
                {% for match in last_matches %}
					{% if forloop.counter < 5 %}
						{% include "template6/_match_item.html" %}
					{% endif %}
				{% empty %}
					<p>К сожалению, о последних матчах сведений нет.</p>
				{% endfor %}
				</ul>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#portfolio -->
    <div class="content-section" id="our-team">
        <div class="container">
            <div class="row">
                <div class="heading-section col-md-12 text-center">
                    <h2>Группы турнира</h2>
                </div> <!-- /.heading-section -->
					<div class="col-md-6 groups">
						<div class="skills-heading">
							<h3 class="skills-title">Группа A</h3>
						</div>
						<table class="table table-bordered">
							<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
							<tr><td><img src="/media/flags/rus.png">Россия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>A2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>A3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>A4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
						</tbody></table>
					</div>
					<div class="col-md-6 groups">
						<div class="skills-heading">
							<h3 class="skills-title">Группа B</h3>
						</div>
						<table class="table table-bordered">
							<tbody><tr><th>Команда</th><th>И</th><th>В</th><th>Н</th><th>П</th><th>Мячи</th><th>±</th><th>О</th></tr>
							<tr><td><img src="/media/flags/ger.png">Германия</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>B2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>B3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
							<tr><td>B4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0-0</td><td>0</td><td>0</td></tr>
						</tbody></table>
					</div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#our-team -->
{% endblock %}