{% extends "template6/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content-section page" id="services" style="margin-top: 135px;">
        <div class="container">
            <div class="row">
                <div class="heading-section col-md-12 text-center">
                    <h1>Матчи</h1>
                    <!--<p>We make mobile ready websites for you</p>-->
                </div> <!-- /.heading-section -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-12 match_list">
                    <ul>
                        {% for match in matches %}
                            {% include "template6/_match_item.html" %}
                        {% empty %}
                            <p>К сожалению, сведений о командах не найдено.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services --> 
{% endblock %}