{% extends "template6/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="content-section page" id="services" style="margin-top: 95px;">
        <div class="container">
            <div class="row">
                <div class="heading-section col-md-12 text-center">
                    <h1>Команды</h1>
                    <!--<p>We make mobile ready websites for you</p>-->
                </div> <!-- /.heading-section -->
            </div> <!-- /.row -->
            <div class="row">
                {% for team in teams %}
                    {% include "template6/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services --> 
{% endblock %}