{% load i18n admin_static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ data.seo_title }}</title>
        <meta name="keywords" content="{{ data.seo_keywords }}">
        <meta name="description" content="{{ data.seo_description }}">
        <link href="/static/template12/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="/static/template12/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/template12/css/flexslider.css" type="text/css" media="screen" />
        <script src="/static/template12/js/jquery.min.js"></script>
	</head>
	<body>
        {% include "template12/_header.html" %}
        {% block main_content %}{% endblock %}
        {% include "template12/_footer.html" %}
    </body>
</html>