        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            {% for breadcrumb in breadcrumbs %}
                                <li>
                                    <a href="{% if forloop.counter == 1 %}{% url 'portal:textpage' breadcrumb.alias %}{% else %}{% url 'portal:team' breadcrumb.alias %}{% endif %}">
                                        {% if breadcrumb.menutitle %}
                                            {{ breadcrumb.menutitle }}{% else %}{{ breadcrumb.name }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="pix-active">
                                {% if data.menutitle %}
                                    {{ data.menutitle }}{% else %}{{ data.name }}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                    </div>
                </div>
            </div>
        </section>