    <div class="footer">
		<div class="container">
			<div class="col-md-3 footer-middle">
				<h4>Address</h4>
				<div class="addr">
					<div class="icon">
						<i class="top"> </i>
					</div>
					<div class="data">
						<p>10-765 mg-Road,
							Washington, DC, United States,
							ud-19832-6578.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="addr-1">
					<div class="icon">
						<i class="mob"> </i>
					</div>
					<div class="data">
						<p>+(123) 456-789-1234</p>
						<h6>E-mail : <a href="mailto:info@company.com">example@mail.com</a></h6>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 footer-right">
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- footer -->
<!-- footer-bottom -->
	<div class="footer-bottom">
		<div class="container">
			<p>Кубок конфедераций 2017</p>
		</div>
	</div>