{% load pytils_dt %}
    <div class="header" style="padding:0;">
  	    <div class="container">
			<div class="header-top" style="padding:0;">
				<div class="header-left">
					
				</div>
				<div class="header-right">
					
				</div>
					<div class="clearfix"> </div>
			</div>
		</div> 				
	</div> 		
    <div class="header-bottom">
        <div class="container" style="position:relative;">
            <div class="logo">
                <a href="/">
                    <img src="/static/template12/images/logo.png" class="img-responsive img-logo1" alt="" />
                    <img src="/static/template12/images/logo2.png" class="img-responsive img-logo2" alt="" />
                </a>
            </div>
            <div class="head-nav">
                <span class="menu"> </span>
                    <ul>
                        <li class="{% if host == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
                        {% for menu_item in menu %}
                            {% if menu_item.alias != "stadiums" %}
                                {% if menu_item.alias != "champs" %}
                                    <li class="{% if menu_item.alias == host %}active{% endif %} ">
                                        <a href="{% url 'portal:textpage' menu_item.alias %}">{% if menu_item.menutitle %}{{ menu_item.menutitle }}{% else %}{{ menu_item.name }}{% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="clearfix"> </div>
                </ul>
            </div>
                <div class="clearfix"> </div>
                <!-- script-for-nav -->
            <script>
                $( "span.menu" ).click(function() {
                  $( ".head-nav ul" ).slideToggle(300, function() {
                    // Animation complete.
                  });
                });
            </script>
        <!-- script-for-nav -->
        </div> 
    </div> 

                                                    
                                            