    <div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Игроки</h2>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->

        <div class="container">
            <div class="row">

                {% if coaches %}
                    {% for player in coaches %}
                        {% include "template12/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if goalkeepers %}
                    {% for player in goalkeepers %}
                        {% include "template12/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if defenders %}
                    {% for player in defenders %}
                        {% include "template12/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if midfielders %}
                    {% for player in midfielders %}
                        {% include "template12/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if attacks %}
                    {% for player in attacks %}
                        {% include "template12/_player_item.html" %}
                    {% endfor %}
                {% endif %}
                {% if not coaches and not goalkeepers and not defenders and not attacks%}
                    <p>К сожалению, об игроках данной сборной сведений нет.</p>
                {% endif %}

            </div> <!-- /.row -->
        </div> <!-- /.container -->
	</div> <!-- /.our-team -->               