    <div class="col-md-2 col-sm-3 highlight" style="height: 300px;">
        <a href="{% url 'portal:team' team.alias %}" class="h-caption">
            <i><img src="/media/logo/{{ team.get_logo_list.0 }}" style="max-width: 100%; display: block; margin: 0 auto;"></i><span style="display: block; color: #333; width: 80%; margin: 25px auto; padding: 5px 0; font-size: 20px;">{{ team.name }}</span>
        </a>
    </div>