{% extends "template12/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="banner-1">
		<div class="container">
		</div>
	</div>
<!-- header -->
<!-- contact -->
	<div class="main">
		<div class="container">
            <div class="contact">
                <div class="section group">				
                    <div class="col-md-4 col span_1_of_3">
                        
                        <div class="company_address">
                            <h3>Company Information :</h3>
                            <p>500 Lorem Ipsum Dolor Sit,</p>
                            <p>22-56-2-9 Sit Amet, Lorem,</p>
                            <p>USA</p>
                            <p>Phone:(00) 222 666 444</p>
                            <p>Fax: (000) 000 00 00 0</p>
                            <p>Email: <span>info(at)mycompany.com</span></p>
                            <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                       </div>
                    </div>				
                    <div class="col-md-8 col span_2_of_3">
                      <div class="contact-form">
                        <h3>Обратная связь</h3>
                              <form method="post" action="contact-post.html">
                                <div>
                                    <span><label>Имя</label></span>
                                    <span><input name="userName" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>E-mail</label></span>
                                    <span><input name="userEmail" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>Телефон</label></span>
                                    <span><input name="userPhone" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>Сообщение</label></span>
                                    <span><textarea name="userMsg"> </textarea></span>
                                </div>
                               <div>
                                    <span><input type="submit" value="Отправить"></span>
                              </div>
                            </form>
                        </div>
                    </div>	
                    <div class="clearfix"> </div>	
                </div>
            </div>
        </div>
	</div>
{% endblock %}