{% extends "template12/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="banner">
		<div class="container">
			<section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        {% for match in last_matches %}
                            <li>
                                <div class="banner-info">
                                    <h1 class="lead" style="margin:0;">{{ match.command_first }}<span> - </span>{{ match.command_second }}</h1>
                                    <p class="tagline">{{ match.datetime|ru_strftime:"%d %B, %Y" }}, {{ match.datetime|ru_strftime:"%H:%M" }}</p>
                                    <p style="margin:20px 0;"><a href="/matches/" class="btn btn-default btn-lg" role="button">Ко всем матчам</a> <a href="{% url 'portal:match' match.alias %}" class="btn btn-default btn-lg" role="button">Купить билет</a></p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>

            <script defer src="/static/template12/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
                $(function(){
                  /*SyntaxHighlighter.all();*/
                });
                $(window).load(function(){
                  $('.flexslider').flexslider({
                    animation: "slide",
                    start: function(slider){
                      $('body').removeClass('loading');
                    }
                  });
                });
            </script>

		</div>
	</div>
<!-- header -->
<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<h2>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2>
			{{ data.content|safe }}
		</div>
	</div>
<!-- welcome -->
<!-- we do -->
	<div class="huedo maecenas">
		<div style="margin-bottom: 40px;" class="container">
			<h2 style="margin-bottom: 40px; border-bottom: 1px solid #999; padding-bottom: 10px;">Сборные - участники</h2>
			<div class="row">
				{% for team in champ_teams %}
				<div class="col-md-6 maecenas-left">
					<div class="col-md-12"><img src="/media/flags/{{ team.get_flag_list.1 }}" alt="" ><h2>{{ team.name }}</h2></div>
					<span>{% cycle 'Страна-организатор' 'Чемпионы мира' 'Победитель стыковых матчей КОНКАКАФ' 'Победитель Кубка Америки 2015' 'Победитель Кубка Азии 2015' 'Победитель Кубка наций ОФК 2016' 'Победитель чемпионата Европы 2016' 'Победитель Кубка африканских наций 2017' %}</span>
					<p>{% cycle 'Сборная России автоматически стала участником Кубка конфедераций FIFA 2017 на правах хозяки турнира.' 'Сборная Германии гарантировала себе участие в Кубке Конфедераций FIFA в России, выиграв чемпионат мира FIFA 2014 в Бразилии™.' 'Победители Золотого Кубка КОНКАКАФ 2013 и 2015 годов сборные США и Мексики определили участника Кубка конфедераций FIFA 2017 в России в стыковом матче: мексиканцы выиграли со счетом 3:2 в Пасадене (Калифорния) и стали 5-м по счету участником турнира.' 'Сборная Чили впервые станет участником Кубка конфедераций FIFA после успеха на Кубке Америки-2015. В финале домашнего турнира 4 июля 2015 года чилийцы обыграли Аргентину в серии пенальти 4:1, после того как основное время завершилось нулевой ничьей.' 'Азию на Кубке конфедераций FIFA 2017 в России представит Австралия, которая выиграла Кубок Азии-2015. 31 января 2015 года "Соккеруз" обыграли в драматичном финале домашнего турнира Южную Корею со счетом 2:1.' %}</p>
				</div>
				{% endfor %}
			</div> <!-- /row  -->
		</div>
	</div>
<!-- we do -->
<!-- midbann -->
	<div style="float: left; width: 100%;" class="midbann">
		<div class="cont_two">
			<div class="container">
				<div class="col-md-9 midbann-left">
					<h3>Билеты можно купить у нас!</h3>
					<p>Мы поддерживаем и консультируем клиента с момента первого звонка к нам в офис и вплоть до окончания счастливой поездки на матч.</p>
				</div>
				<div class="col-md-3 midbann-right">
					<a class="read" href="#">Выбрать билеты</a>	
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- midbann -->
<!-- maecenas -->
	<div class="inf">
		<div class="container">
			<h2 class="text-center top-space">Билеты на матчи</h2>
			<div class="match_list">
				<ul class="event-list">
					{% for match in last_matches %}
						{% include "template4/_match_item.html" %}
					{% endfor %}
				</ul>
			</div>
		<h2 class="text-center top-space hidden-xs">История всех кубков конфедераций(1992-2017)</h2>
		<div class="row hidden-xs">
			<h3>Кубок короля Фахда(Предшественник турнира)</h3>
			<table class="table table-bordered">
				<tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
				<tr><td>1992</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>4</td><td><img src="/static/khl/flags-f/arg.png">Аргентина</td><td><img src="/static/khl/flags-f/arg.png">Фернандо Редондо</td></tr>
				<tr><td>1995</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>6</td><td><img src="/static/khl/flags-f/den.png">Дания</td><td><img src="/static/khl/flags-f/den.png">Брайн Лаудруп</td></tr>
			</tbody></table>
			<h3>Кубок конфедераций</h3>
			<table class="table table-bordered">
				<tbody><tr><th>Год</th><th>Место</th><th>Команды</th><th>Чемпион</th><th>Лучший Игрок</th></tr>
				<tr><td>1997</td><td><img src="/static/khl/flags-f/sav.png">Саудовская Аравия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Денильсон</td></tr>
				<tr><td>1999</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td>8</td><td><img src="/static/khl/flags-f/mex.png">Мексика</td><td><img src="/static/khl/flags-f/bra.png">Рональдиньо</td></tr>
				<tr><td>2001</td><td><img src="/static/khl/flags-f/kor.png"><img src="/static/khl/flags-f/jp.png">Корея\Япония</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Робер Пирес</td></tr>
				<tr><td>2003</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td>8</td><td><img src="/static/khl/flags-f/fra.png">Франция</td><td><img src="/static/khl/flags-f/fra.png">Тьерри Анри</td></tr>
				<tr><td>2005</td><td><img src="/static/khl/flags-f/ger.png">Германия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Адриано</td></tr>
				<tr><td>2009</td><td><img src="/static/khl/flags-f/yar.png">ЮАР</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Кака</td></tr>
				<tr><td>2013</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td>8</td><td><img src="/static/khl/flags-f/bra.png">Бразилия</td><td><img src="/static/khl/flags-f/bra.png">Неймар</td></tr>
				<tr><td>2017</td><td><img src="/media/flags/rus.png">Россия</td><td>8</td><td>?</td><td>?</td></tr>
			</tbody></table>
		</div>
	</div>
{% endblock %}