{% extends "template12/__base.html" %}
    {% block main_content %}
    <div class="banner-1">
		<div class="container">
		</div>
	</div>
	<div class="main">
		<div class="container">
            <h2 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2> 
                <div class="about"> 
                <br>
                {% for match in matches %}
                    <div class="col-md-6 col-sm-12 last-post clearfix" style="margin-bottom: 20px;">
                    {% include "template12/_match_item.html" %}
                    </div>
                {% empty %}
                    <p>К сожалению, сведений о матчах не найдено.</p>
                {% endfor %}
        </div>
    </div>

{% endblock %}