{% extends "template12/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}
    <div class="banner-1">
		<div class="container">
		</div>
	</div>
	<div class="main">
		<div class="container">
            <h2 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2> 
            <div class="about">   
                <div class="col-md-8 about-data">
                    {% if data.content %}{{ data.content|safe }}{% endif %}
                </div>
				<div class="col-md-8">
					<div class="row widget">
						<div class="col-xs-12">
							<h2>Фотография команды</h2>
							<p><img style="max-width: 100%;" src="/media/photos/{{ data.get_photo_list.0 }}" alt="{{ data.name }}"></p>
						</div>
					</div>
				</div>
                <div class="col-md-4 sidebar">
                    <div class="row widget">
                        <div class="col-xs-12">
                            <p>Сборная по футболу</p>
                            <h4>{{ data.name }}</h4>
                            <p><img src="/media/logo/{{ data.get_logo_list.0 }}" alt=""></p>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            <h4>Информация</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Федерация</td><td>{{ data.fed }}</td>
                                    </tr>
                                    <tr>
                                        <td>Домашний стадион</td><td>{{ data.stadium }}</td>
                                    </tr>
                                    <tr>
                                        <td>Год основания</td><td>{{ data.founded }}</td>
                                    </tr>
                                    <tr>
                                        <td>Адрес</td><td>{{ data.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td><td>{{ data.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fax</td><td>{{ data.fax }}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td><td>{{ data.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Официальный сайт</td><td>{{ data.offsite|urlize }}</td>
                                    </tr>
                                    <tr>
                                        <td>Неофициальные сайты</td><td>{{ data.fansite|safe }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            {{ data.widget|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% include "template12/_players.html" %}
        </div>
    </div>


{% endblock %}