{% extends "template12/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}  
    <div class="main">
		<div class="container">
		<!-- news -->
		<div class="wedo">
			<h2>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2>
			<!-- container -->
			<div class="container">
				{% for team in teams %}
                    {% include "template12/_team_item.html" %}
                {% empty %}
                    <p>К сожалению, сведений о командах не найдено.</p>
                {% endfor %}
			</div>
        </div>
	</div>
{% endblock %}