{% extends "template12/__base.html" %}
{% load pytils_dt %}
    {% block main_content %}  
    <div class="banner-1">
		<div class="container">
		</div>
	</div>
	<div class="main">
		<div class="container">
            <h2 class="page-title">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h2> 
            <div class="about">   
                <div class="col-md-8 about-data">
                    {% if data.content %}{{ data.content|safe }}{% endif %}
                </div>
                <div class="col-md-4 sidebar">
                    <h2>Последние новости</h2>
                    {% for news_item in last_news %}
                        {% if forloop.counter < 5 %}
                           <a href="{% url 'portal:news' news_item.alias %}" class="blog_posts">
                                <div class="blog_desc">
                                    <div class="blog_heading">
                                        <p><span>{{ news_item.name }}</span></p>
                                        <p class="date">{{ news_item.date|ru_strftime:"%d %B, %Y" }}</p>
                                     </div>	
                                    <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have,,</p> -->
                                  </div>
                                <div class="clearfix"> </div>
                            </a>
                        {% endif %}
                    {% endfor %} 
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}